
.new-visual{
	$this:&;
	&.type-apex{
		&:before{
			@include background('../images/nose/apex/apex_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background:$nose1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-apex{
			&:before{
				@include background('../images/nose/apex/apex_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-apex{
			&:before{
				@include background('../images/nose/apex/apex_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}
.section-normal{
	$this:&;
	&.type-apex{@include background('../images/nose/apex/apex_bg_1.jpg','no-repeat center bottom / cover');}
	&.type-apex2{
		@include background('../images/nose/apex/apex_bg_2.jpg','no-repeat center center / cover'); padding-bottom:100px;
		#{$this}__eng{color:#fff;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt2{color:#fff;}
		#{$this}__txt1{color:#aaa;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-apex2{padding-bottom:40px;
			#{$this}__img{padding:0 15px;}
		}
	}
}


.new-style1{
	$this:&;
	&.type-apex{background:#f7e1ed;}
	&.type-apex2{background:#32081f;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaaaaa;}
		#{$this}__txt2{color:#eeeeee}
	}
}

.new-stripe{
	$this:&;
	&.type-apex{background:#b0d2f7;}
}
