.new-visual{
	$this:&;
	&.type-profile{
		&:before{
			@include background('../images/nose/profile/profile_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$nose1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-profile{
			&:before{
				@include background('../images/nose/profile/profile_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-profile{
			&:before{
				@include background('../images/nose/profile/profile_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-profile{
		@include background('../images/nose/profile/profile_bg_1.jpg','no-repeat center bottom/contain');
	}
	&.type-profile2{
		@include background('../images/nose/profile/profile_bg_2.jpg','no-repeat center bottom/cover');
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
		#{$this}__txt2{color: #fff;}
	}
	&.type-profile3{background-color: #5d1a3c;}
	&.type-profile4{background-color: #eee;}
}

.outer-box{
	$this:&;

	&.type-profile{background-color: #f7e1ed;}
}

.new-section{
	$this: &;

	&__wrap{
		&.type-profile{background-color: #eee;}
	}
}
