<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-eye-double">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">작은 매듭 하나가 결과를 좌우합니다.</p>
				<h3 class="content-visual__tit">#<span class="double-color1">비절개</span> 자연유착 쌍꺼풀</h3>
				<p class="content-visual__txt2">원래<strong>내것인것</strong>처럼</p>
			</div>
		</div>
	</div>
	<!-- //상단 비주얼 -->
	<!-- Content -->
	<div class="content type-eye-double">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="double-box1">
					<div class="double-box1__box">
						<h4 class="double-box1__tit">
							풀어짐이 거의 없는 <span class="double-color1">반영구적인 고정</span><br>
							부기와 멍이 적은 <span class="double-color1">빠른회복</span>
						</h4>
						<p class="double-box1__txt">바노바기 쌍꺼풀 수술의 핵심</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box2">
					<div class="double-box2__box pop-info">
						<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong>정교한 매듭</strong>으로<br>
							<strong class="double-color2">더 단단한</strong>
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon">인포버튼</span>
								유착
								<span class="info-desc type-eye-double">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>유착</strong>이란?<br class="hidden-tm"></span>
											<span class="info-desc__content">
												<span class="info-desc__txt1">
													조직이 서로 엉겨 붙어 결합된 현상을 말합니다.
	                                                상처가 아물면서 단단히 붙는 것을 생각하시면 쉽게
	                                                이해할 수 있습니다.
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left"></span>
											<span class="info-desc__stick type-another"></span>
											닫기
										</button>
									</span>
								</span>
							</a>
							을 유도합니다
						</h4>

						<p class="content-section__txt1">
							과거 매몰법은 자연스럽고 회복도 빠른 반면 잘 풀어지는 것이 문제였습니다.<br class="hidden-m">
							결국 매몰법의 장점은 고스란히 살리면서 단점을 보완하는 것,<br class="hidden-m">
							<strong>바로 바노바기가 연구하는 쌍꺼풀 수술의 핵심</strong>입니다.<br class="hidden-m">
							바노바기 비절개 자연유착 쌍꺼풀은 절개나 봉합 없이,  정교한 매듭만으로  피부 조직과<br class="hidden-m">
							근육 사이 자연 유착을 유도하여 자연스러운 쌍꺼풀 라인을 만드는 수술입니다.
						</p>
						<p class="content-section__txt2">
							<strong class="content-highlight type-eye-double">
								이중으로 묶고 단단하게 고정하는 쌍꺼풀, 별 것 아닌  듯 하지만
								<span class="double-color3">아무나 할 수 없는 기술</span>입니다.
							</strong>
						</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box3">
					<div class="double-box3__wrap">
						<p class="double-box3__subtit">원래 내것인것처럼 아무도 모르게!</p>
						<h4 class="content-section__tit">
							<strong>이중매몰법</strong>을<br>
							고안한 바노바기라서,<br>
							<span class="content-highlight type-eye-double2">비절개 수술</span>을<br>
							더 잘합니다
						</h4>
						<div class="double-box3__box">
							<p class="content-section__txt1">
								바노바기 성형외과 눈성형 전담팀 리더, 박선재 원장은
								<span class="double-color4">‘수술의 원리를 100% 이해하면 새로움이 보인다’</span>
								는 철학을 바탕으로 2003년 이중매몰법의 개념을 고안했습니다.
								가장 기본적인 수술 방법을 지키면서 기술에 기술을 더해, 끊임없이 단점을 보완해 왔고 이후 더욱 단단하게 고정하는 비절개 자연유착 쌍꺼풀 수술 방법으로 발전시켰습니다.
							</p>
						</div>
					</div>
					<div class="double-box3__area">
						<div class="eye-table--outer">
				          	<div class="eye-table">
					            <ul class="eye-table__list">
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">기존 매몰법</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap">VS</div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">비절개 자연유착</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">유착 없이 매듭</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">발전</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">매듭+자연유착 유도</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap type-longer">잘 풀어짐 (5 ~ 50%)</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">보완</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap type-longer">풀어짐 거의 없음</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">자연스러움</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">유지</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">자연스러움</div></div>
									</li>
					            </ul>
				          	</div>
				        </div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box4">
					<div class="double-box4__wrap">
						<div class="double-box4__img">
							<img src="../../images/eye/double/double_img_02.jpg" loading="lazy" alt="">
						</div>
						<div class="double-box4__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								되도록<br>
								<strong class="double-color2">많은 분들께</strong><br>
								적용하고자 합니다
							</h4>
							<div class="axiety quotation type-eye-double">
			                    <ul class="axiety__list">
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">진짜 내 쌍꺼풀처럼 <strong class="double-color2">자연스러우면</strong> 좋겠어요.</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">주말에 수술하고 <strong class="double-color2">바로 출근</strong>하고 싶어요.</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">눈을 감았을 때도 <strong class="double-color2">흉터가 보이지 않았으면</strong> 해요.</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">매몰법으로 수술한 적이 있는데 <strong class="double-color2">금방 풀어졌어요.</strong></p>
			                        </li>
			                    </ul>
			                    <p class="axiety__txt2">
									<span class="eclipsis type-eye-double">
										<span class="eclipsis__wrap">
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
										</span>
									</span>
			                    </p>
			                </div>
						</div>
					</div>
				</div>

				<div class="double-box5">
					<p class="content-section__txt1">
						눈성형을 고민하는 대부분의 환자들은 절개를 하지 않고 쌍꺼풀을 만들고 싶어 합니다.<br>
						부기나 멍도 적었으면 하고, 수술한 흔적이 보이는 것도 싫어합니다.<br>
						<strong>행여 수술하고 인상이 바뀔까 봐 걱정합니다.</strong><br>
						그래서 매몰법으로 수술을 해봤는데, 풀어진 경험이 있어 망설여집니다.<br>
						<strong class="content-highlight type-eye-double">바노바기의 비절개 자연유착 쌍꺼풀은 이런 고민을 덜어드리기 위한 수술법</strong>입니다.<br>
						물론 모든 케이스에 다 적용되지는 않습니다.
					</p>

					<p class="content-section__txt2">
						하지만!<br>
						<strong>가능하면 많은 분들에게 <span class="double-color3">수술 흔적 없이, 자연스럽고 아름다운 쌍꺼풀</span>을 만들어드리고자 합니다.</strong>
					</p>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">비절개 쌍꺼풀 수술은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30 분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 3일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									비절개 쌍꺼풀 수술은 통증이 적은 수술 중 하나입니다.<br>
									욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
									많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
									열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>

		</div>
	</div><!-- //Content -->
	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
