<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-middle-age">
		<div class="content-visual__box">
			<div class="content-visual__border type-middle-age">
				<p class="content-visual__txt1 type-middle-age">밝아지는 인상,
					<span class="inline-block"> 그리고 눈 기능의 개선까지</span>
				</p>
				<h2 class="content-visual__tit type-middle-age"># <span class="color-middle-age1">중년 </span>눈 성형</h2>
				<p class="content-visual__txt2 type-middle-age">자연스럽게<strong>젊어지는눈매</strong></p>
			</div>
		</div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="middle-box1">
	            <div class="content-section type-first">
	                <div class="quotes">
	                    <div class="quotes__wrapper quotation">
	                        <h3 class="quotes__txt1">
	                            바노바기는 중년층의 눈 성형에 대한 고민을 이해하고,  <br>
	                            <span class="type-border">그 고민을 확실히 개선함과 동시에 <br class="hidden-pt"> 그 부담은 줄일 수 있는 <span class="color-middle-age2">중년 눈 성형</span>을 추구 합니다.</span>
	                        </h3>
	                    </div>
	                    <p class="quotes__txt2">
	                        <span class="inline-block">중년 눈 성형은 미용을 위한 일반적인</span>
	                        <span class="inline-block">젊은 층의 눈 성형과는 그 접근을 달리해야 합니다.</span>
	                    </p>
	                </div>
	                <div class="site-box6__wrapper">
	                    <div class="site-box6">
	                        <div class="site-box6__box">
	                            <ul class="site-box6__list clearfix">
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">
	                                            <span class="inline-block">눈 모양이나 크기의 화려한 변화보다는,</span> <span class="inline-block">눈가의 주름과 피부 처짐의 개선을 통해 젊은 눈으로</span><br>
	                                            <strong class="color-middle-age10">자연스럽게 되돌리는 것</strong>이 중요합니다.
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
	                                        <p class="site-box6__txt1">그러면서도<br class="hidden-pt"> <span class="color-middle-age4">수술에 대한 부담</span>이 적어야 합니다. </p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
										<span class="link__icon-wrap type-rotate">
											<span class="link__icon"><span class="link__line"></span></span>
										</span>
	                                        <p class="site-box6__txt1">그 과정에서 저하됐던 <strong class="color-middle-age10">눈의 기능까지 교정</strong>할 수 있다면 더욱 좋습니다</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="site-box6__slogan">
	                            <p class="site-box6__txt2">
	                                <span class="inline-block">바노바기는 이러한 가치를 실천할 수 있는 </span> <span class="inline-block"><strong class="border-bottom">디테일한 수술 계획</strong>으로</span>
	                                <span class="inline-block"><span class="color-middle-age3 border-bottom">더욱 만족스러운 중년 눈 성형</span></span><span class="inline-block">이 될 수 있도록 노력합니다</span>
	                            </p>
	                        </div>
	                    </div>

	                </div>
	            </div><!-- //content-section -->
	        </div>
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="nth-1">비절개</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="nth-2">절개 눈매교정</a></li>
	                </ul>
	            </div>
	        </div>
	        <!-- 탭바 컨텐츠 -->
	        <div class="content-tab__page nth-1 is-active">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box2">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-width">
	                                <div class="content-section__wrapper type-unique">
	                                    <h3 class="content-section__tit type-top">
	                                        <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                                        노화로 인한<br class="hidden-pt"> <strong>눈꺼풀 처짐,</strong><br>
	                                        <strong class="color-middle-age5">눈 건강</strong>을 위해서도<br class="hidden-pt"> 개선해야<br class="hidden-pm"> 합니다
	                                    </h3>
	                                </div>
	                                <div class="content-section__wrapper">
	                                    <p class="content-section__txt1">
	                                        <span class="inline-block">다른 피부와 마찬가지로 눈꺼풀 또한 시간이 지나면 탄력을 잃고 아래로 처지게 됩니다.</span>
	                                        <br class="hidden-tm">
	                                       처진 눈꺼풀은 얼굴을 늙어 보이게 만들고 시야를 가리게 되죠.<br class="hidden-m">
	                                        <span class="content-highlight type-eye-middle-age">시야가 좁아진 만큼 얼굴을 찌푸리거나 눈썹을 치켜 뜨게 되기 때문에 전반적인 얼굴 주름의 원인이 되기도 합니다.</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                       무엇보다 눈꺼풀 처짐의 가장 큰 문제는 눈 건강에도 좋지 않다는 것입니다. <br class="hidden-tm">
	                                        <strong>눈이 붓고, 눈물이 쉽게 나며, 눈 끝이 짓물러 접촉성 피부염을 유발</strong>하기도 하죠.<br class="hidden-tm">
	                                        <span class="inline-block">따라서 눈꺼풀 처짐은 상안검 수술을 통해 개선해주는 것이 좋습니다.</span>
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="content-section__wrapper">
	                                <div class="eye-case">
	                                    <div class="eye-case__box">
	                                        <h3 class="eye-case__tit">눈 성형을 필요로 하는 중년들</h3>
	                                    </div>
	                                    <div class="eye-case__box type-special">
	                                        <ul class="eye-case__list clearfix">
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img01">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                잦은붓기
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img02">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                눈처짐
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img03">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                눈물
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img04">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                눈 끝 짓무름
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box3">
	                        <div class="content-section">
	                            <div class="content-section__wrapper clearfix">
	                                <div class="content-section__inner type-thumb">
	                                    <img src="../../images/eye/middleage-2-01.jpg" loading="lazy" alt="중년 상안검 수술 모델 이미지">
	                                </div>
	                                <div class="content-section__inner">
	                                    <h3 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">불편함</strong>에도<br>
	                                        주저하는 이유, <br class="hidden-t">
	                                        <strong>바노바기는</strong><br class="hidden-t">
	                                        알고 있습니다.
	                                    </h3>
	                                    <div class="content-section__outer">
	                                        <div class="content-section__thumb">중년 상안검 수술 모델 이미지</div>
	                                    </div>
	                                    <div class="axiety quotation type-eye-middle-age">
	                                        <ul class="axiety__list">
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">01 . </span><strong>‘수술’</strong>에 대한 <strong class="color-middle-age7">두려움</strong></p>
	                                            </li>
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">02 . </span><strong>‘인상이 확 바뀔까’</strong>에 대한 <strong class="color-middle-age7">걱정</strong></p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">03 . </span><strong>‘통증’</strong>에 대한 <strong class="color-middle-age7">부담</strong></p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">04 . </span><strong>‘일상생활에 지장이 있을까’</strong> 하는 <strong class="color-middle-age7">고민</strong></p>
	                                            </li>
	                                        </ul>
	                                        <p class="axiety__txt2">
												<span class="eclipsis type-eye-middle-age">
													  <span class="eclipsis__wrap">
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
													</span></span>
	                                            그냥 좀 참고 살아야 하나...
	                                        </p>

	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt1">
	                                하지만 많은 환자분들이 눈꺼풀 처짐으로 인한 각종 불편함에도 상안검 수술을 쉽게 결정하지 못하십니다. <br class="hidden-tm">
	                                <span class="content-highlight type-eye-middle-age">수술에 대한 막연한 두려움, 인상이 바뀌어 낯선 얼굴이 되지는 않을까 하는 걱정, 통증과 회복에 대한 부담감 등 때문이죠. </span>
	                                바노바기는 이 부분을 이해하고 환자분들에게 더 좋은 방법을 제안하기 위해 끊임없이 고민했습니다.
	                            </p>
	                        </div>
	                        <!--contenct-section-->

	                    </div>
	                    <div class="middle-box4">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper bg img01">
	                                    <h2 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													03
												</span>
											</span>
	                                        그 <strong>고민</strong>을 알고 있기 <br class="hidden-pt">때문에<br class="hidden-m"> <strong class="color-middle-age8">비절개 <br class="hidden-pt">상안검</strong>을 <strong>고안</strong> 했습니다
	                                    </h2>
	                                    <div class="content-section__wrapper content-box">
	                                        <p class="content-section__txt1">
	                                            앞서 말씀드린 상안검을 주저하게 만드는 이유들 중 대부분은 수술 시에 절개를 하기 때문에 <br class="hidden-pt"> 발생하는 것입니다.
	                                            <span class="inline-block">하지만 그렇다고 절개 없이 실 만으로 늘어진 눈꺼풀을 교정하게 되면, 처진 눈꺼풀을 효과적으로 지탱하기가 어려우며 다시 풀어질 위험도 있죠. </span><br>
	                                        </p>
	                                        <p class="content-section__txt1">
												<span class="content-highlight type-eye-middle-age2">
													그래서 바노바기는 기존 매몰법의 방식에 조직의 유착이라는 힘을 더해주는 비절개 상안검을 고안했습니다.
												</span>
	                                        </p>
	                                        <div class="uppereye">
	                                            <div class="uppereye__wrapper bg">
	                                                <div class="uppereye__item clearfix">
	                                                    <div class="uppereye__wrapper thumb">
	                                                        <div class="uppereye__img eye"></div>
	                                                        <div class="uppereye__wrapper guide-box">
	                                                            <div class="uppereye__guide"><span class="uppereye__dot black">아이콘</span>실의 힘</div>
	                                                            <div class="uppereye__guide plus"><span class="uppereye__dot red">아이콘</span>조직의 유착</div>
	                                                        </div>
	                                                        <div class="uppereye__desc">
	                                                            <h4 class="rectangle">
	                                                                <span class="rectangle__inner">
	                                                                    비절개 상안검
	                                                                    <span class="triangle">삼각형</span>
	                                                                </span>
	                                                            </h4>
	                                                            <p class="uppereye__txt1">
	                                                                절개를 하지 않고도 실의 힘과 조직의 유착이라는 <br class="hidden-m">
	                                                                이중의 힘을 이용해 눈꺼풀을 보다 안정적으로 교정
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="content-section__wrapper bg img02">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age2">
	                                        <div class="content-section__txt1 type-width">
	                                            비절개 상안검은 절개를 하지 않으면서도 실의 힘과 조직의 유착이라는 이중의 힘을 이용해
	                                            더욱 효과적이고 안정적인 눈꺼풀의 교정을 유도하게 됩니다.
	                                            비절개로 진행되기 때문에 수술에 대한 부담을 줄일 수 있다는 장점이 생기죠.
	                                            수술시간이 짧아지고 그에 따라 회복 또한 빨라집니다.
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            또, 수술 후의 부기와 통증이 적기 때문에 <br class="hidden-pt">
	                                            <strong class="color-middle-age11">더욱 자연스러워<br class="hidden-m"> 일상생활</strong> 에 크게 문제가 되지 않습니다.
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper type-rhombus">
	                                        <div class="site-box8">
	                                            <div class="site-box8__layer nth1">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">보다 짧은</span><br>
	                                                                <span class="inline-block">수술 시간</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">비교적</span><br>
	                                                                <span class="inline-block">빠른 회복</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>

	                                            <div class="site-box8__layer nth2">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">효과적이고</span><br>
	                                                                <span class="inline-block">안정적인 교정</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item type-special">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">비절개</span><br>
	                                                                <span class="inline-block">상안검</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">눈 뜨는 힘</span><br>
	                                                                <span class="inline-block">강화</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div class="site-box8__layer nth3">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">자연스럽고</span><br>
	                                                                <span class="inline-block">부드러운 눈매</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">젊고 밝은</span><br>
	                                                                <span class="inline-block">인상</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>

	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="operation type-five">
	                        <div class="operation__wrapper type-eye-middle-age">
	                            <div class="operation__area">
	                                <div class="operation__box">
	                                    <h2 class="operation__tit">수술정보</h2>
	                                    <h3 class="operation__sub-tit">마취 때의 통증까지도 디테일하게 신경씁니다</h3>
	                                    <ul class="operation__list">
	                                        <li class="operation__item nth-1">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">수술시간</h4>
	                                                <p class="operation__item-txt"><span class="inline-block">약 30분</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-2">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">마취방법</h4>
	                                                <p class="operation__item-txt">국소 마취 <span class="inline-block">비수면 최소통 마취</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-3">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">실밥제거</h4>
	                                                <p class="operation__item-txt">약 3~5일 후 <span class="inline-block">제거</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-4">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">회복</h4>
	                                                <p class="operation__item-txt"><span class="inline-block">약 2일 후</span> <span class="inline-block">일상생활</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-5">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">내원치료</h4>
	                                                <p class="operation__item-txt">
	                                                    약 1회 내외
	                                                </p>
	                                            </div>
	                                        </li>
	                                    </ul>
	                                    <div class="operation__pain">
	                                        <h4 class="operation__pain-tit">수술 후 체감 통증</h4>
	                                        <div class="status-bar type-eye-middle-age">
	                                            <div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
	                                        </div>
	                                        <p class="operation__pain-txt">비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.</p>
	                                        <p class="operation__pain-txt">수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다. </p>
	                                        <p class="operation__pain-txt">부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.</p>
	                                        <ul class="operation__noti">
	                                            <li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
	                                            <li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
	                                        </ul>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation__link"><span>수술 후 주의사항 보기</span></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--operation-->
	                    </div>
	                    <!-- 수술정보 -->
	                    <div class="middle-box5">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper">
	                                    <h3 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													04
												</span>
											</span>
	                                        <strong>절개 상안검</strong>이라도<br> <strong class="color-middle-age5">자연스러울</strong> 수
	                                        <br class="hideen-pt"> 있습니다.
	                                    </h3>
	                                    <div class="content-section__wrapper type-desc">
	                                        <p class="content-section__txt1">
	                                            <span class="inline-block">풀이 탄력을 잃고 심하게 처진 경우에는 비절개 상안검으로 개선하기 어려운 것이 사실입니다.</span>
	                                            <span class="inline-block">아무리 정밀하게 교정하고 눈 뜨는 힘을 개선한다 해도 늘어난 피부가 여전히 처진다면 의미가 없으니까요.</span>
	                                            <span class="inline-block">그런 경우에는 절개 상안검을 진행해야 합니다. 늘어난 눈꺼풀과 과다한 지방 등을 제거하여 보다 확실하게 눈꺼풀 처짐을 개선하는 것이죠</span>
	                                        </p>
	                                        <p class="content-section__txt1">

												<span class="content-highlight type-eye-middle-age3">
													절개 상안검이더라도 쌍꺼풀이 두껍게 생기거나 크게 인상이 바뀌는 것에 대한 염려는 하지 않으셔도 됩니다.
												</span>
	                                            <span class="inline-block">바노바기는 다년간의 기술과 감각으로 쌍꺼풀 라인의 조정이 가능하기 때문입니다.</span>
	                                            <span class="inline-block">개인의 눈꺼풀 상태에 따라 속눈썹 바로 위를 정밀하게 절개하여 작은 쌍꺼풀이 생기게 하거나, 따로 고정을 하지 않아 쌍꺼풀 라인을 만들지 않는 것도 가능하죠.</span>
	                                        </p>
	                                        <p class="content-section__txt1">
	                                            물론 절개 수술이기 때문에 수술 직후에는 비절개 상안검에 비해 부어 보이고 낯설게 느껴질 수는 있습니다. <br class="hidden-tm">
	                                            하지만 시간이 지나 부기가 가라앉은 후에는 훨씬 자연스럽고 만족스러운 결과를 확인하실 수 있습니다.
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper main-point clearfix">
	                                        <div class="content-section__wrapper eye"></div>
	                                        <div class="content-section__wrapper circle-box">
	                                            <div class="site-box7">
	                                                <h4 class="site-box7__tit">핵심포인트</h4>
	                                                <ul class="site-box7__list clearfix">
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">01</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    속눈썹과 가까운<br>
	                                                                    절개로 자연스러운<br>
	                                                                    쌍꺼풀 라인
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">02</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    치밀한 계산으로<br>
	                                                                    절제할 눈꺼풀의<br>
	                                                                    양을 결정
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">03</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    꼭 필요한 <br>
	                                                                    절개만으로<br>
	                                                                    비교적 빠른 회복 유도<br>
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">04</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    또렷하고 <br>
	                                                                    생기 있는 눈매로 <br>
	                                                                    시원한 인상 추구
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="operation type-five">
	                        <div class="operation__wrapper type-eye-middle-age2">
	                            <div class="operation__area">
	                                <div class="operation__box">
	                                    <h2 class="operation__tit">수술정보</h2>
	                                    <h3 class="operation__sub-tit">마취 때의 통증까지도 디테일하게 신경씁니다</h3>
	                                    <ul class="operation__list">
	                                        <li class="operation__item nth-1">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">수술시간</h4>
	                                                <p class="operation__item-txt"><span class="inline-block">약 40분</span><span class="inline-block">~1시간 내외</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-2">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">마취방법</h4>
	                                                <p class="operation__item-txt"><span class="inline-block">국소마취,</span> <span class="inline-block"> 비수면 최소통마취</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-3">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">실밥제거</h4>
	                                                <p class="operation__item-txt">약 4~5일 후 <span class="inline-block">제거</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-4">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">회복</h4>
	                                                <p class="operation__item-txt">약 1주~2주</p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-5">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">내원치료</h4>
	                                                <p class="operation__item-txt">
	                                                    약 1회 내외
	                                                </p>
	                                            </div>
	                                        </li>
	                                    </ul>
	                                    <div class="operation__pain">
	                                        <h4 class="operation__pain-tit">수술 후 체감 통증</h4>
	                                        <div class="status-bar type-eye-middle-age">
	                                            <div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
	                                        </div>
	                                        <p class="operation__pain-txt">비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.  </p>
	                                        <p class="operation__pain-txt">수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다. </p>
	                                        <p class="operation__pain-txt">부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다. </p>
	                                        <ul class="operation__noti">
	                                            <li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
	                                            <li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
	                                        </ul>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation__link"><span>수술 후 주의사항 보기</span></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--operation-->
	                    </div>
	                    <!-- 수술정보 -->
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page nth-2">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box6">
	                        <div class="content-section">
	                            <div class="content-section__wrapper middle-bg-w">
	                                <div class="content-section__wrapper middle-bg-m">
	                                    <h3 class="content-section__tit type-top">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													01
												</span>
											</span>복합적으로 남는 <strong><br>눈 밑의 노화 흔적,</strong><br> <span class="content-highlight type-eye-middle-age4">하안검</span>으로 효과를 볼 수 있습니다
	                                    </h3>
	                                </div>
	                                <p class="content-section__txt2">
	                                    눈 밑은 눈 옆의 잔주름과 함께 눈가의
	                                    <strong class="color-middle-age12"> 노화가<br class="hidden-m">
										가장 두드러져 보이는 부위 중 하나</strong>
	                                    입니다.
	                                </p>
	                                <p class="content-section__txt1">
	                                    눈 밑 피부가 탄력을 잃어 푸석한 느낌의 주름이 생기고, 톤이 어두워지거나 지방 주머니가 늘어지는 형태를 보이죠.
	                                    이러한 모습은 유독 피곤해 보이거나 늙어 보이는 인상을 주는 포인트가 되기 때문에, 하안검 수술을 통해 개선해준다면
	                                    상대적으로 보다 젊어 보이고  인상 자체가 밝아지는 듯한 효과를 볼 수 있습니다. <br>
	                                    햇볕 노출에 의한 미세한 잔주름의 경우에는 레이저 치료를 생각해 볼 수도 있겠지만 <br class="hidden-m">
	                                    <span class="content-highlight type-eye-middle-age5">대부분의 경우 <strong class="color-middle-age13">수술적 방법인 하안검 수술을 통해 개선하는 것이 효과적</strong> 입니다.</span>
	                                </p>
	                            </div>

	                            <div class="site-box9">
	                                <div class="site-box9__wrapper">
	                                    <div class="site-box9__desc">
	                                        <div class="site-box9__brace">
	                                            <div class="site-box9__wrapper brace type-eye-middle-age">
	                                                <h3 class="site-box9__tit">
	                                                    <span class="color-middle-age11">하안검 수술</span>
	                                                    이 필요한 경우
	                                                </h3>
	                                            </div>
	                                        </div>
	                                        <p class="site-box9__txt1">
												<span class="eclipsis type-eye-middle-age2">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
													</span>
												</span>
	                                            어두워 보이는 눈 밑 <br>
	                                            눈 밑의 주름 <br>
	                                            밑 도톰한 지방 주머니 형성 <br>
	                                        </p>
	                                        <div class="site-box9__thumb">
	                                            <ul class="site-box9__list clearfix">
	                                                <li class="site-box9__item img1"></li>
	                                                <li class="site-box9__item img2"></li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box7">
	                        <div class="content-section">
	                            <div class="content-section__wrap lower-eye-2 clearfix">
	                                <div class="content-section__box w-7">
	                                    <div class="content-section__img type-special6">
	                                        <img src="../../images/eye/lower-eye-sec2.jpg" loading="lazy" alt="">
	                                    </div>
	                                </div>
	                                <div class="content-section__box w-4 type-bottom">
	                                    <h3 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">하안검</strong>은<br class="hidden-t">
	                                        <strong>다양한</strong><br class="hidden-tm">
	                                        <strong>개선효과</strong>를<br>
	                                        볼 수 있는
	                                        <strong>수술</strong>입니다
	                                    </h3>
	                                    <div class="content-section__wrapper thumb"></div>
	                                    <p class="content-section__txt1">
	                                        하안검 수술은 아래 눈꺼풀의 속눈썹 뿌리 쪽을 절개하여
	                                        불필요한 피부나 지방을 제거하는 수술입니다. <br>
	                                        <span class="content-highlight type-eye-middle-age3 type-font">
											환자분들 개개인의 상태에 따라 깊게 주름이 잡힌 경우라면
											주름을 당겨주고,  지방 주머니가<br class="hidden-p"> 형성되어 눈 밑이 볼록한
											경우에는 적당량의 지방을 제거하여 섬세하게 펼쳐주는
											것이죠. </span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                        한 번의 수술로 주름, 피부 톤, 지방 등 눈 밑의 복합적인
	                                        고민을 개선할 수 있기 때문에 만족도가 높은 수술입니다.
	                                    </p>
	                                </div>
	                            </div><!-- //content-section__wrap-->






	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box8">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-wide">
	                                <div class="content-section__bg img1">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age3">
	                                        <div class="content-section__txt1 type-width">
	                                            하안검 수술 과정에서 피부를 과다하게 절제하게 되면 흰자위가 노출되어 보일 수 있기 때문에,
	                                            풍부한 경험으로 체계적인 시술을 할 수 있는 전문의를 찾는 것이 중요합니다. <br class="hidden-m">
	                                            바노바기는 정밀한 절개와 피부 안쪽 붉은 결막을 통해 지방을 제거하는 이중적 방법으로,
	                                            그러한 부작용의 가능성을 줄이는 동시에 수술 후 더욱 빠른 회복을 유도하고 있습니다.
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            또한 속눈썹 안쪽을 절개하기 때문에 <br class="hidden-p">
	                                            <strong class="color-middle-age11">흉터 또한 거의 보이지 않아 <br class="hidden-m">
	                                                부담이 적고<br class="hidden-pt"> 자연스럽게 눈 밑 노화</strong>를 개선할 수 있습니다.
	                                        </p>
	                                    </div>

	                                    <div class="site-box10">
	                                        <h1 class="site-box10__tit">하안검의 <strong class="color-middle-age15">장점</strong></h1>
	                                        <ul class="site-box10__list clearfix">
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            속눈썹과<br>
	                                                            가까운 절개로<br>
	                                                            흉터 부담이<br>
	                                                            적습니다
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>

	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            정밀한 <br>
	                                                            지방 교정으로<br>
	                                                            매끈한 눈 밑이<br>
	                                                            유지됩니다
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            체계적인<br>
	                                                            수술로<br>
	                                                            부작용의<br>
	                                                            위험을 줄입니다
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            적절한 절개와<br>
	                                                            후 관리로<br>
	                                                            회복이 보다<br>
	                                                            빨라집니다

	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>

	                                </div>
	                                <div class="content-section__bg img2">
	                                    <div class="content-section__wrapper type-unique">
	                                        <div class="content-section__wrapper type-width2 quotation type-eye-middle-age4">
	                                            <h3 class="content-section__tit">
	                                                세월이 가져간 <br>
	                                                <span class="color-middle-age14 type-bigger">아름다움을 되찾다</span>
	                                            </h3>
	                                            <p class="content-section__txt3 type-width">
	                                                나이 들었는데도 어쩜 이리 예쁘냐고 <br>
	                                                주변사람들이 먼저 알아보고 얘길 해주니..
	                                            </p>
	                                            <p class="content-section__txt4 color-middle-age11">새롭게 태어난 것 같아요~</p>
	                                        </div>
	                                        <div class="content-section__wrapper bf">
	                                            <div class="content-section__wrapper before">수술 후 6개월</div>
	                                            <div class="content-section__thumb"></div>
	                                        </div>
	                                    </div>


	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="operation type-five">
	                        <div class="operation__wrapper type-eye-middle-age3">
	                            <div class="operation__area">
	                                <div class="operation__box">
	                                    <h2 class="operation__tit">수술정보</h2>
	                                    <h3 class="operation__sub-tit">적절한 절개와 체계적인 관리로 비교적 빠른 회복을 유도합니다</h3>
	                                    <ul class="operation__list">
	                                        <li class="operation__item nth-1">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">수술시간</h4>
	                                                <p class="operation__item-txt"><span class="inline-block">약 1시간 내외</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-2">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">마취방법</h4>
	                                                <p class="operation__item-txt">정맥마취</p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-3">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">실밥제거</h4>
	                                                <p class="operation__item-txt">약 7일 이내 제거</p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-4">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">회복</h4>
	                                                <p class="operation__item-txt">약 1주 <span class="inline-block">~ 2주</span></p>
	                                            </div>
	                                        </li>
	                                        <li class="operation__item nth-5">
	                                            <div class="operation__wrap">
	                                                <h4 class="operation__item-tit">내원치료</h4>
	                                                <p class="operation__item-txt">
	                                                    약 1회 내외
	                                                </p>
	                                            </div>
	                                        </li>
	                                    </ul>
	                                    <div class="operation__pain">
	                                        <h4 class="operation__pain-tit">수술 후 체감 통증</h4>
	                                        <div class="status-bar type-eye-middle-age">
	                                            <div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
	                                        </div>
	                                        <p class="operation__pain-txt">정맥 마취로 수술 시 통증은 거의 느껴지지 않습니다. </p>
	                                        <p class="operation__pain-txt">수술 후 얼얼한 느낌이 있을 수 있으며 시간이 지나면서 점차 완화됩니다. </p>
	                                        <p class="operation__pain-txt">부기로 인해 눈 아래가 뜨는 듯한 느낌이 있을 수 있지만 시간이 지나면서 점차 완화됩니다. </p>
	                                        <p class="operation__pain-txt">미미한 통증들은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.</p>
	                                        <ul class="operation__noti">
	                                            <li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
	                                            <li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
	                                        </ul>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation__link"><span>수술 후 주의사항 보기</span></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--operation-->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> <!-- //content -->
	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
