<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-eye-incisional">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-eye-incisional">
	            <p class="content-visual__txt1">절개법이 부자연스럽다는 것은 편견</p>
	            <h3 class="content-visual__tit">#<span class="color-incisional1">절개</span>쌍커풀</h3>
	            <p class="content-visual__txt2 type-eye-incisional"><strong>자연스럽고도 또렷한</strong>매력</p>
	        </div>
	    </div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- content-->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="incisional-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap">
	                    <div class="content-section__box1 type-w4">
	                        <h4 class="content-section__tit type-top">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">01</span>
			                    </span>
	                            <strong class="color-incisional1">절개법에 대한<br> 오해</strong>
	                            를<br class="hidden-tm"> 풀어드립니다
	                        </h4>
	                        <p class="content-section__txt1">
	                            절개법 쌍꺼풀 수술은 쌍꺼풀 라인을 디자인하고 눈꺼풀을
	                            절개한 뒤 근육과 지방 등을 제거한 뒤 근육과 피부를 묶어
	                            고정하는 방식의 수술법입니다. 피부가 많이 늘어졌거나
	                            지방이 많은 분들이라면 절개법으로 수술하는 것이 더 유리합니다.
	                        </p>
	                        <p class="content-section__txt2">
	                            절개법 쌍꺼풀 수술은 다양한 라인을 구현할 수 있고, <br>
	                            시원하고 또렷한 눈매를 만들 수 있는 등 장점이 <br class="hidden-t">
	                            더 많은 수술법입니다.
	                        </p>
	                    </div>
	                    <div class="content-section__box1 type-w6 ">
	                        <div class="content-section__img sec1-thumb">
	                            <img src="../../images/eye/incisional-sec1_01.png" loading="lazy" alt="절개쌍꺼풀 모델이미지">
	                            절개쌍꺼풀 수술 모델.
	                        </div>
	                    </div>
	                </div>
	                <!-- //content-section__wrap-->
	                <div class="content-section__wrap">
	                    <div class="content-section__border">
	                        <p class="content-section__txt3 type-sec1">
	                            풀어야 할 오해가 많은 수술법입니다.<br>
	                            일단 어감 자체가 상당히 무겁고, 어쩐지 무섭고 아플 것도 같습니다. <br class="hidden-m">
	                            흉터가 남거나 소위 말하는 ‘소시지 눈’이 되지는 않을까 걱정이 됩니다.
	                            <br>
	                            <br>
	                            <span class="color-incisional1">
							하지만 사실 절개법으로 하나 매몰법으로 하나 수술 결과의 <br class="hidden-pm"> 차이는 그리 크지 않습니다.
						</span>
	                            <br>
	                            단, 수술 실력이 뛰어난 의사가 했을 경우에만 그렇습니다.
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box2">
	            <h4 class="incisional-box2__tit">
	                <strong class="color-incisional2">다양하게 구현</strong>할 수 있는 쌍꺼풀 라인
	            </h4>
	            <div class="incisional-box2__wrapper type-wrapper">
	                <div class="site-box__wrap">

	                    <div class="item-box3 type-incisional">
	                        <ul class="item-box3__list">
	                            <li class="item-box3__item nth-1">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">인라인</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            쌍꺼풀 라인이 눈 앞쪽에서 보이지 않을 정도로 시작하여 뒤로 갈수록 넓어지는 형태입니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-2">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">아웃라인</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            쌍꺼풀 라인이 눈 앞쪽에서 끝까지, 눈 모양과 평행하게 바깥으로 보이는 형태입니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-3">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">인-아웃 중간라인</span></h5>
	                                        <p class="item-box3__txt txt-v1">
	                                            아웃라인과 같이 전체적으로 바깥라인이지만 눈 앞쪽의 라인이 아주 좁고 뒤로 갈수록 선의 두께가 넓어지는 형태입니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div><!-- //item-box3-->


	                </div>
	            </div>
	        </div>
	        <div class="incisional-box3">
	            <div class="content-section">
	                <div class="content-section__box1">
	                    <div class="content-section__box1 type-sort">
	                        <h4 class="content-section__tit type-center">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            02
			                        </span>
			                    </span>
	                            절개법, 꼭 필요하다면 <br class="hidden-p"> <strong class="color-incisional1">잘 해야 합니다</strong>
							</h4>
	                    </div>
	                    <div class="content-section__box1">
	                        <p class="content-section__txt1">
	                            눈 성형을 고려하시는 분들은 대부분 절개를 하고 싶어 하지 않습니다.<br class="hidden-tm">
	                            저희도 가급적이면 비절개법으로 눈 모양을 개선하고자 합니다. 꼭 환자와 충분히 상담한 후,
	                            필요한 경우에만 <br>
	                            절개법으로 수술을 합니다. <span class="inline-block">눈 두덩이에 지방이 많거나 눈꺼풀이
								지나치게 늘어졌다면 합니다.</span>
	                        </p>
	                        <div class="content-section__img-wrap type-width clearfix">
	                            <div class="content-section__img ">
	                                <div class="content-section__item">
	                                    <img src="../../images/eye/incisional-sec3-01.jpg" loading="lazy" alt="절개쌍꺼풀 수술라인" class="content-section__thumb sec2-pic1">
	                                    <div class="content-section__thumb sec2-pic1"></div>
	                                </div>
	                            </div>
	                            <div class="content-section__img">
	                                <div class="content-section__item">
	                                    <img src="../../images/eye/incisional-sec3-02.jpg" loading="lazy" alt="절개쌍꺼풀 수술라인"class="content-section__thumb sec2-pic1">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="brace type-incisional">
	                            <p class="brace__txt txt-v4">
	                                절개법이 필요한 눈이라면 잘 해야 합니다. <br>
	                                <span class="color-incisional1">수술 잘 하는 의사가 만드는</span><br>
	                                절개법 쌍꺼풀은 비절개 방식보다<br class="hidden-pt"> 만족도가 더 큽니다.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <div class="content-section__wrapper type-desc clearfix">
	                        <div class="content-section__wrapper type-bg--tm">
	                            <h4 class="content-section__tit type-left">
									<span class="content-section__number">
										<span class="content-section__number-wrap">03</span>
									</span>
	                                <strong class="color-incisional1">자연스러움?</strong><br>
	                                바노바기에서는<br>
	                                포기하지 않습니다
	                            </h4>
	                        </div>
	                        <div class="content-section__desc">
	                            <div class="content-section__question1 highlight-incisional1">“진짜 절개로 수술한 거 맞나요?”&nbsp</div>
	                            <div class="content-section__txt1">
	                                본원 에서 수술한 환자의 케이스를 보고, 지인분들이 간혹 이렇게 묻습니다. <br class="hidden-pm">
	                                분명 절개로 수술을 했다고 하는데, 잘 모르겠다는 것이죠. <br class="hidden-pm">
	                                바노바기의 절개법 쌍꺼풀 수술은 그만큼 자연스럽습니다. <br class="hidden-pm">
	                                눈꺼풀 조직을 적당히 정리해주고, 깔끔하게 절개하여 흉터가 아닌 원래 나의
	                                쌍꺼풀처럼 자연스러운 라인을 남깁니다.
	                                <span class="content-section__dot"></span>
	                            </div>
	                            <div class="content-section__question1 highlight-incisional2">절개법은 표시가 남을 수밖에 없다?</div>
	                            <div class="content-section__txt1">
	                                절대 그렇지 않습니다. 눈 성형을 잘하느냐 못하느냐는 바로 절개법에서
	                                그 차이가 확연하게 나타납니다. 분명히 절개법을 매몰법처럼 자연스럽게
	                                구사하는 의사가 있습니다. 절개법으로 수술을 할 수밖에 없는 경우라면
	                                그런 의료기관, 그런 의사를 찾으셔야 합니다.
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box5">
	            <div class="content-section">
	                <div class="content-section__wrapper type-width">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">04</span>
								</span>
	                            <strong class="color-incisional1">흉터와 부기,</strong><br class="hidden-p">
	                            너무 걱정하지<br class="hidden-p"> 않으셔도 됩니다
	                        </h4>
	                    </div>
	                    <div class="content-section__wrapper type-contents">
	                        <div class="content-section__txt1">
	                            절개법 수술을 꺼려 하시는 이유는 아마도 흉터 때문일 것입니다. 수술 직후에는 수술 흔적이 선명하게 보이니
	                            걱정이 클 수밖에 없습니다. <br class="hidden-pm"> 하지만 6개월 정도 지나면 흉터는 거의 눈에 띄지 않습니다
	                        </div>
	                        <div class="after-surgery">
	                            <ul class="after-surgery__list clearfix">
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img01">실밥제거 후</div>
	                                        <div class="after-surgery__desc color">
	                                            <p class="after-surgery__txt1">실밥 제거 후</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img02">약 1개월 후</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">약 1개월 후</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img03">약 3개월 후</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">약 3개월 후</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img04">약 6개월 후</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">약 6개월 후</p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt1 type-special">
	                            절개법 수술은 아무래도 비절개식 수술보다는 부기가 오래갑니다. <br class="hidden-pm">
	                            부기는 대체로 2~3 일 정도에 가장 심해진 후 시간이 지나면 비교적 자연스럽게 가라앉습니다.
	                        </div>
	                        <div class="open-close">
	                            <ul class="open-close__list clearfix">
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img01">눈뜬 전면사진, 우측면 사진</div>
	                                    </div>
	                                </li>
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img02">눈뜬 전면사진, 좌측면 사진</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt3">
	                            [ 본 이미지는 이해를 돕기 위해 바노바기에서 수술한 <span class="line">실제 사례자의 동의를 얻어 사진을  게재하였습니다. ]</span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">절개법 수술 정보를 알려드립니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30분~1시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 2~3일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취를 한다는 전제 조건 하에서 보면, 절개법의 마취가 매몰법의 일반 국소마취보다 덜 아플 정도로 통증이 적습니다.<br>
									마취가 풀리면서 수술 부위가 욱신거림이나 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
									많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
									열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div> <!-- //content -->
	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
