<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="eye-man">
		<div class="new-visual type-eyeman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">부드럽고 친절한 인상으로!</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">남자</span> 쌍꺼풀</h3>
						<p class="new-visual__txt">자연스러운 남자 눈매</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#남자쌍꺼풀</span></li>
							<li class="new-visual__item"><span>#자연스러운 눈매</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-eyeman">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						남자의 쌍꺼풀 수술의 진정한 의미는<br class="hidden-tm">
                        <span class="n-color-eye1">인상을 좋게</span> 하는데 있습니다
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-eye">
						<span class="weight-medium">“ 난 인상이 부드럽고 따듯한 남자가 좋아”</span><br>
                        이 말은 누구나 공감을 할 겁니다. 왠지 따뜻하고 친절한 느낌의 첫인상을 가진<br class="hidden-tm">
						호감형의 남자를 싫어하는 분은 없으니까요.
                    </p>
                    <p class="new-style1__txt txt-new1">
                        여자의 쌍꺼풀 수술에 대해선 상당히 관대해진 것이 사실입니다. 하지만 남자의 쌍꺼풀 수술에 대해선 이런 말이 있죠. <br class="hidden-tm">
						“난 남자 쌍꺼풀 있는 것 싫어” 이 말은 흔히 남자가 느끼한 쌍꺼풀을 가지고 있는 것에 대한<br class="hidden-tm">
						거부감의 표현으로 사용됩니다. 하지만 <mark class="mark-eye weight-medium">쌍꺼풀은 그냥 남자의 인상을 느끼하게 만들기만 하지는 않습니다. </mark><br class="hidden-tm">
						남자의 진정한 쌍꺼풀 수술의 의미는 인상을 좋게 하는데 있습니다.
                    </p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/eye/eyeman/eyeman_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-eyeman2">
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-eye">
                            <h5 class="new-content-tit tit-new2">
                                <span class="weight-regular">남자 쌍꺼풀</span>의 두가지 유형
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/eyeman/eyeman_img_2.jpg" loading="lazy" alt="크고 시원한 겉쌍꺼풀 형" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            크고 시원한 겉쌍꺼풀 형
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/eye/eyeman/eyeman_img_3.jpg" loading="lazy" alt="작고 자연스러운 속쌍꺼풀 형" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            작고 자연스러운 속쌍꺼풀 형
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section type-cling">
				<div class="new-style1 type-eyeman3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-eye2">눈과 코 정도만 바뀌어도</span> 남자의 이미지는<br class="hidden-tm">
						여성 보다 오히려 더 긍정적으로 바뀔 수 있습니다
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-eye">
						<span class="weight-medium">인상이 좋아진 남자들은</span> 이성에게 더 매력이 있을 뿐더러 사회생활에서<br class="hidden-tm">
                        성공적인 삶을 누릴 수 있다고 합니다.
                    </p>
                    <p class="new-style1__txt txt-new1">
                        쌍꺼풀 수술을 원하는 대부부의 남자 분들은 수술이 자기에게 어울릴지 어떤 이미지로 변할지를 가장 궁금해 합니다.<br class="hidden-tm">
						어둡고 인상이 좋지 않아 여성에게 인기가 없는 <mark class="mark-eye weight-medium">비호감형이라도 눈과 코 수술만으로도 크게 개선</mark>되어 호감형으로 바뀔 수 있습니다.
                    </p>
				</div>
                <div class="new-style1 type-bottom type-eyeman3">
                    <div class="inner-box">
                        <h5 class="new-content-tit tit-new2">
							<span class="weight-regular">쌍꺼풀 수술로</span>도 자신의 사회적 경쟁력을 높일 수 있습니다
						</h5>

						<div class="img-style7 type-half">
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/eye/eyeman/eyeman_img_4.png" class="img-w100" loading="lazy" alt="자연스러운 쌍꺼풀">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											자연스러운 쌍꺼풀
										</h6>
										<p class="img-style7__txt txt-new1">
											최대한 자연스러운 쌍꺼풀을 만들어<br class="hidden-tm">
                                            마치 예전에 있던 쌍꺼풀 같은<br class="hidden-tm">
                                            느낌을 주어야 합니다.
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/eye/eyeman/eyeman_img_5.png" class="img-w100" loading="lazy" alt="자연 눈매 앞트임">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											자연 눈매 앞트임
										</h6>
										<p class="img-style7__txt txt-new1">
											남자의 경우 흉터를 가릴 수 있는<br class="hidden-tm">
                                            화장을 할 수 없기 때문에<br class="hidden-tm">
                                            자연 눈매 앞트임이 좋습니다.
										</p>
									</div>
								</li>
							</ul>
						</div>
                    </div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section">
                <div class="new-section__wrap type-w">
                    <div class="operation-v2 type-eye">
                        <div class="operation-v2__wrap">
                            <h4 class="operation-v2__tit">수술정보</h4>
                            <ul class="operation-v2__list">
                                <li class="operation-v2__item nth-1 js-op-height">
                                    <div class="operation-v2__box">
                                        <h5 class="operation-v2__subject txt-new2">수술시간</h5>
                                        <p class="operation-v2__txt txt-new1">약 30분~1시간</p>
                                    </div>
                                </li>
                                <li class="operation-v2__item nth-2 js-op-height">
                                    <div class="operation-v2__box">
                                        <h5 class="operation-v2__subject txt-new2">마취방법</h5>
                                        <p class="operation-v2__txt txt-new1">국소마취</p>
                                    </div>
                                </li>
                                <li class="operation-v2__item nth-3 js-op-height">
                                    <div class="operation-v2__box">
                                        <h5 class="operation-v2__subject txt-new2">실밥제거</h5>
                                        <p class="operation-v2__txt txt-new1">약 2~3일 후 제거</p>
                                    </div>
                                </li>
                                <li class="operation-v2__item nth-4 js-op-height">
                                    <div class="operation-v2__box">
                                        <h5 class="operation-v2__subject txt-new2">입원기간</h5>
                                        <p class="operation-v2__txt txt-new1">당일 귀가</p>
                                    </div>
                                </li>
                                <li class="operation-v2__item nth-5 js-op-height">
                                    <div class="operation-v2__box">
                                        <h5 class="operation-v2__subject txt-new2">내원치료</h5>
                                        <p class="operation-v2__txt txt-new1">약 1회 내외</p>
                                    </div>
                                </li>
                                <li class="operation-v2__item nth-6 js-op-height">
                                    <div class="operation-v2__box">
                                        <h5 class="operation-v2__subject txt-new2">회복</h5>
                                        <p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
                                    </div>
                                </li>

                            </ul>
                            <div class="pain-v2 type-eye">
                                <h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
                                <ol class="pain-v2__list">
                                    <% for(var i = 1; i<= 10; i++){%>
                                        <%if(i <= 1){%>
                                            <li class="<%="pain-v2__item is-active nth-"+i%>">
                                                <div class="pain-v2__square">square</div>
                                            </li>
                                        <%}else{%>
                                            <li class="<%="pain-v2__item nth-"+i%>">
                                                <div class="pain-v2__wrap">
                                                    <div class="pain-v2__square">square</div>
                                                </div>
                                            </li>
                                        <%}%>
                                    <%}%>
                                </ol>
                                <p class="pain-v2__txt txt-new1">
                                    마취를 한다는 전제 조건 하에서 보면, 절개법의 마취가 매몰법의 일반 국소마취보다 덜 아플 정도로 통증이 적습니다.<br>
                                    마취가 풀리면서 수술 부위가 욱신거림이나 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
                                    많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
                                    열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.
                                </p>
                                <div class="pain-v2__box">
                                    <p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
                                    <p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
                                </div>
                                <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
                            </div><!-- //pain -->
                        </div>
                    </div>
                </div>
            </div><!-- //new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
