<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="eye-opening">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-opening">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">쌍꺼풀만큼이나 또렷하고 시원하게</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">트임</span>성형</h3>
						<p class="new-visual__txt">눈매를 개선하는 또 다른 방법</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#숨겨진눈길이</span></li>
							<li class="new-visual__item"><span>#매력적인눈</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-opening">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI EYES SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							트임 성형
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
                            매력적인 눈은 단순히 쌍꺼풀의 유무로 결정되지 않습니다. <span class="color-black1">일반적으로 눈의 크기가 얼굴 각 기관들의 비례에 맞게 조화로운 크기이며, 눈동자가 눈의 중앙에 위치하고, 개성에 따라 눈매가 또렷한 눈을 매력적인 눈</span>이라고 하죠.
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		그런 관점에서 볼 때, <span class="n-color-eye2">눈 자체의 크기를 확대</span>하고 <span class="n-color-eye2">눈동자의 위치와 흰자의 노출 정도 등을 조절할 수 있는 트임 성형</span>은 매력적인 눈을 만드는 좋은 방법이 될 수 있습니다.
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/eye/opening/opening_img_1.png" class="img-normal" loading="lazy" alt="필러제품">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-eye">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">탄력밴드 리프팅 (절개)</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-front" class="new-tab__link">앞트임</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-back" class="new-tab__link">뒤트임</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-under" class="new-tab__link">밑트임</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-front is-active">
				<div class="new-section type-cling">
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    앞트임은 <strong class="weight-regular">태어날 때 정해진 원래<br class="hidden-tm">
                                    눈의 길이를 되찾아주는 수술</strong>입니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
        							눈은 눈 앞의 붉은 살이 적절히 보이는 것이 자연스럽습니다. 원래 본인이 가지고 있는 붉은 살이 약 50~80% 정도 노출되는 것이 이상적이죠.<br class="hidden-tm">
                                    이 붉은 살이 거의 보이지 않거나 모양이 매끄럽지 않으면 답답하고 어색한 인상을 주며, 심한 경우 사시로 보일 수도 있습니다.<br class="hidden-tm">
                                    사실 눈 앞의 붉은 살은 누구나 가지고 있는 부분입니다. 다만 그것이 보이지 않는 분들은 눈꺼풀 앞 부분이 충분히 열리지 않아 붉은 살의<br class="hidden-tm">
                                    노출을 가리고 있는 것뿐이죠.
        						</p>
                                <p class="new-style2__txt2 txt-new2">
        							앞트임은 이 눈 앞쪽의 살을 절개하여 숨어있던 붉은 살이 적절히 노출되도록 해주는 눈 성형 방법입니다.<br class="hidden-tm">
        							<span class="n-color-eye2">눈 앞쪽의 붉은 살이 노출되는 눈의 원래  구조를 되돌리는 것이기 때문에 부작용이 거의 없으며</span><br class="hidden-tm">
                                    <span class="n-color-eye2">눈의 가로 길이가 확장되어 보다 시원하고 또렷한 눈매로의 개선이 가능</span>합니다.
        						</p>
                            </div>
                            <div class="img-style3 type-mt">
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_front_img_1.jpg" loading="lazy" alt="붉은 살 부분이 거의 보이지 않는 눈" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                붉은 살 부분이 거의 보이지 않는 눈
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_front_img_2.jpg" loading="lazy" alt="이상적인 눈" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                이상적인 눈
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    <strong class="weight-regular">기존 앞트임의 흉터 문제</strong>는<br class="hidden-tm">
                                    오랜 시간 고민거리였습니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    앞트임은 절개를 기본으로 하는 수술이기에 흉터의 가능성을 완전히 배제할 수는 없습니다. 그래서 앞트임 시 생기는 흉터를 얼마나 최소화할 수<br class="hidden-tm">
                                    있느냐가 곧 전문의들의 경쟁력이 되기도 합니다. 일반적인 앞트임은 눈 앞쪽을 크게 절개하는 방식이었습니다. 때문에 양 눈 앞쪽에 부등호( &gt;,&lt; ) 모양의<br class="hidden-tm">
                                    흉터가 남는 경우가 많았죠.<br class="hidden-tm">
                                    이 문제를 해결하기 위해 눈 밑 절개형 앞트임이라는 새로운 방식이 도입되기도 했지만, 눈 밑이라는 절개 위치의 한계 때문에 결국 완전한 개선책이<br class="hidden-tm">
                                    되지는 못한 것이 사실입니다.
                                </p>
                            </div>

                            <div class="opening-box1">
                                <h5 class="opening-box1__tit heading-bar">기존 앞트임의 흉터 문제</h5>
                                <div class="opening-box1__wrap">
                                    <div class="opening-box1__img">
                                        <img src="../../images/eye/opening/opening_front_img_3.png" loading="lazy" alt="기존 앞트임 흉터의 문제" class="img-normal"/>
                                    </div>
                                    <div class="opening-box1__box">
                                        <p class="opening-box1__txt txt-new1">
                                            최초 앞트임은 눈 안쪽에 부등호 모양의 흉터가 남았습니다.<br class="hidden-tm">
                                            눈 밑 절개형 앞트임이 고안되었지만 조건이 까다롭고 흉터문제 또한 완전히
                                            개선되지는 못했습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    기존 앞트임의 흉터 문제,<br class="hidden-tm">
                                    <strong class="weight-regular">바노바기에 어쩔 수 없는 것은 없습니다</strong>
                                </h4>
                                <p class="new-style2__txt txt-new2">
        							바노바기는 앞트임 흉터를 최소화하기 위해 끊임없이 연구했습니다.<br class="hidden-tm">
                                    그 결과 <span class="n-color-eye2">수술 시 절개 길이와 그 위치를 조절하는 것으로 흉터를 숨기는 방법</span>을 생각하게 되었습니다.
        						</p>
                                <p class="new-style2__txt2 txt-new1">
        							바노바기가 새로 고안해낸 이 수술법은 눈 앞쪽을 정교하게 절개하는 방식입니다. 눈 밑이 아닌 눈 앞쪽의 눈꺼풀 라인을 따라 안쪽으로 수술이 진행되죠.<br class="hidden-tm">
                                    그래서 흉터가 눈꺼풀의 주름에 자연스럽게 가려집니다.<br class="hidden-tm">
                                    물론 이러한 방식은 고도의 수술 기술과 감각이 필요합니다. 또 손이 많이 가는 번거로운 수술이 될 수도 있습니다. 하지만 바노바기는 환자분들께<br class="hidden-tm">
                                    어쩔 수 없다며 흉터를 감수하는 수술을 권유하지 않습니다. 환자분들의 고민을 이해하고 해결하는 것만이 바노바기가 할 일입니다.
        						</p>
                            </div>

                            <div class="opening-box1">
                                <h5 class="opening-box1__tit heading-bar">바노바기에서 제안하는 앞트임</h5>
                                <div class="opening-box1__wrap">
                                    <div class="opening-box1__img">
                                        <img src="../../images/eye/opening/opening_front_img_4.png" loading="lazy" alt="바노바기에서 제안하는 앞트임" class="img-normal"/>
                                    </div>
                                    <div class="opening-box1__box">
                                        <p class="opening-box1__txt txt-new1">
                                            바노바기 앞트임 수술 약 1시간 후에 촬영된 사진입니다.<br class="hidden-tm">
                                            정밀한 기술로 눈 앞쪽의 눈꺼풀 라인을 따라 절개하여 흉터가 자연스럽게 가려지게
                                            됩니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2~3회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3일 후 가벼운 세안 및 화장 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										정맥 마취로 진행되기 때문에 수술로 인한 통증은 거의 없습니다.<br>
										수술 후 얼얼한 느낌과 불편한 느낌이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
										열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질을 눈꺼풀이 젖지 않게 유의하며 해주면 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-back">
				<div class="new-section type-cling">
					<div class="new-style1 type-opening">
						<h4 class="new-style1__tit tit-new3">
							<strong class="weight-regular">숨겨진 눈 길이</strong>를 찾아드립니다
						</h4>
						<p class="new-style1__txt txt-new1">
							쌍꺼풀 수술이나 앞트임만으로 눈 크기의 개선이 어려운 경우, 뒤트임을 권해드릴 수 있습니다.<br class="hidden-tm">
							눈꼬리를 확장하여 눈이 보이는 면적을 넓혀주는 수술이죠. 눈이 가로로 길어지기 때문에 더 시원하고 또렷한 느낌을 주게 되며,<br class="hidden-tm">
							눈꼬리와 눈 옆의 뼈 사이 공간에 여유가 있을수록 보다 뛰어난 개선 효과를 볼 수 있습니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							<span class="n-color-eye2">눈 뒤쪽의 점막을 제거하기 때문에 다시 붙는 것이 방지</span>되고, 눈 안쪽의 결막 부위를 절개하여<br class="hidden-tm">
							<span class="n-color-eye2">흉터는 거의 보이지 않습니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/eye/opening/opening_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar">바노바기 뒤트임 대상</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-opening">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											눈의 가로 길이가 짧은 경우
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											미간 사이의 거리가 가까워 앞트임을 할 수 없는 경우
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											눈꼬리 모양을 통해 원하는 특정 이미지를 만들고 싶은 경우
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											흰자의 노출이 충분하지 못해 사시처럼 보이는 경우
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											쌍꺼풀 또는 앞트임 만으로는 눈이 커지는 효과를 보기가 어려운 경우
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="img-style3 type-three type-opening">
                                <h5 class="heading-bar">뒤트임</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_1.jpg" loading="lazy" alt="STEP 01" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_2.jpg" loading="lazy" alt="STEP 02" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_3.jpg" loading="lazy" alt="STEP 03" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    <strong class="weight-regular">눈꼬리</strong>는 이미지를 좌우합니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    무엇보다 뒤트임은 이미지 개선까지 가능하다는 장점이 있습니다. 눈꼬리의 트임 방향에 따라 그 사람의 이미지가 바뀔 수 있기 때문입니다. <br class="hidden-tm">
                                    눈꼬리가 올라가 사나워 보이는 눈은 눈꼬리를 아래 방향으로 교정하는 것으로 개선할 수 있습니다. <br class="hidden-tm">
                                    반대로 눈꼬리가 처져 우울해 보이는 경우엔 눈꼬리를 위쪽으로 교정하죠. <br class="hidden-tm">
                                    또 평범한 높이의 눈꼬리라도 환자가 밋밋하다고 느낀다면 원하는 이미지의 개성 있는 눈매를 만들 수도 있습니다.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    바노바기는 <span class="n-color-eye2">수술 전 1:1 맞춤 상담</span>을 통해
                                    <span class="n-color-eye2">환자의 눈을 면밀히 진단하고 원하는 이미지를 이해</span>합니다.<br class="hidden-tm">
                                    그리고 기술과 감각을 살려 <span class="n-color-eye2">개개인에 어울리고 자연스러운 눈을 디자인</span>합니다.
                                </p>
                            </div>

                            <div class="img-style3 type-wide type-mt">
                                <h5 class="heading-bar">눈꼬리 방향에 따라 달라지는 이미지</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_4.jpg" loading="lazy" alt="시원하고 또렷한 느낌을 주는 일반 뒤트임" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                시원하고 또렷한 느낌을 주는 일반 뒤트임
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_5.jpg" loading="lazy" alt="섹시하고 도도한 매력의 상방 뒤트임" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                섹시하고 도도한 매력의 상방 뒤트임
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_back_img_6.jpg" loading="lazy" alt="귀여움과 청순미가 돋보이는 하방 뒤트임" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                귀여움과 청순미가 돋보이는 하방 뒤트임
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2~3회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3일 후 가벼운 세안 및 화장 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										정맥마취로 진행되기 때문에 수술로 인한 통증은 거의 없습니다.<br>
										수술 후 얼얼한 느낌과 불편한 느낌이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
										열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질을 눈꺼풀이 젖지 않게 유의하며 해주면 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-under">
				<div class="new-section type-cling">
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    밑트임은 눈의 아래쪽 라인을 밑으로 내려<br class="hidden-tm">
                                    <strong class="weight-regular">눈동자 노출에 변화</strong>를 줍니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    밑트임은 간혹, 뒤트임 방법의 일부인 것처럼 포괄적으로 표현되기도 합니다. 물론 의사 개인마다의 스타일이 있으니<br class="hidden-tm">
                                    무엇이 정답이라고 할 수는 없습니다. 하지만 바노바기는 밑트임의 개선 목표나 방향적인 면에서, 뒤트임과 차별성을 두기 때문에<br class="hidden-tm">
                                    독립적인 수술로 생각하고 있습니다
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    바노바기에서 뒤트임은 눈의 가로길이 연장과 눈매 이미지 부여를 목표로 하며, <br class="hidden-tm">
                                    밑트임은 <span class="n-color-eye2">눈의 세로길이 연장과 동시에 눈동자 노출의 정도를 조절</span>하는 데 그 목적이 있습니다.
                                </p>
                            </div>

                            <div class="img-style3 type-mt">
                                <h5 class="heading-bar">뒤트임과 밑트임의 구분</h5>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_1.jpg" loading="lazy" alt="뒤트임" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                뒤트임
                                            </div>
                                        </div>
                                        <div class="depiction">
                                            <p class="depiction__tit txt-new2">Point</p>
                                            <ul class="depiction__list">
                                                <li class="depiction__item txt-new1">눈의 가로길이 연장</li>
                                                <li class="depiction__item txt-new1">트임 방향에 따른 이미지 변신</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_2.jpg" loading="lazy" alt="밑트임" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                밑트임
                                            </div>
                                        </div>
										<div class="depiction">
                                            <p class="depiction__tit txt-new2">Point</p>
                                            <ul class="depiction__list">
                                                <li class="depiction__item txt-new1">눈의 세로길이 연장</li>
                                                <li class="depiction__item txt-new1">눈동자 노출 정도 조절</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

						<div class="new-section__box">
							<div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    눈동자의 노출에 변화를 주면<br class="hidden-tm">
                                    <strong class="weight-regular">눈매는 보다 자연스럽고 부드러워집니다</strong>
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    밑트임은 아래 눈꺼풀과 눈꼬리가 함께 올라간 경우에 효과적인 수술입니다. <br class="hidden-tm">
									눈이 전체적으로 함께 올라가있으면 눈동자 아랫부분의 노출이 적어지죠. 그런 눈은 부자연스럽고 사나운 인상을 주게 됩니다. <br class="hidden-tm">
									이는 분명 단순히 눈의 가로 길이를 늘려주는 뒤트임 만으로는 개선이 힘든 것이 사실입니다. 그래서 밑트임이 고안된 것이죠.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    밑트임은 눈의 아래 라인을 내려 <span class="n-color-eye2">세로 길이를 개선하고 눈꼬리를 내려줍니다.</span><br class="hidden-tm">
                                    눈의 크기와 눈동자의 노출이 동시에 개선되기 때문에, <span class="n-color-eye2">눈매는 보다 자연스럽고 부드러워집니다.</span><br class="hidden-tm">
									또한 뒤트임과 마찬가지로 결막을 통해 수술하므로 <span class="n-color-eye2">흉터가 거의 보이지 않고 실밥을 뽑을 필요가 없다는<br class="hidden-tm">
									장점</span>이 있습니다.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar">밑트임 방법</h5>

                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_3.jpg" loading="lazy" alt="STEP 01" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 01
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_4.jpg" loading="lazy" alt="STEP 02" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 02
                                            </div>
                                        </div>
                                    </li>
									<li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_5.jpg" loading="lazy" alt="STEP 03" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 03
                                            </div>
                                        </div>
                                    </li>
									<li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/eye/opening/opening_under_img_6.jpg" loading="lazy" alt="STEP 04" class="img-w100"/>
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                STEP 04
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
                    </div>
					<div class="new-style1 type-bottom type-opening2">
						<div class="new-style1__img">
							<img src="../../images/eye/opening/opening_img_3.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar">밑트임 효과</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-opening">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											길어지는 눈의 세로길이
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											자연스럽게 눈 중앙에 위치하는 눈동자
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											흰자의 충분한 노출로 시원해 보이는 눈매
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											사나워 보이는 눈꼬리를 교정
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-eye">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2~3회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3-5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-eye">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										정맥마취로 진행되기 때문에 수술로 인한 통증은 거의 없습니다.<br>
										수술 후 얼얼한 느낌과 불편한 느낌이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
										열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질을 눈꺼풀이 젖지 않게 유의하며 해주면 도움이 됩니다.<br>
										절개 부위 점막 제거로 어색한 느낌이 들 수도 있지만, 이는 살이 다시 붙는 것을 방지하기 위한 것으로 곧 익숙해지며 눈 기능에 문제가 되지는 않습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
