<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="eye-nonsleep">
		<div class="new-visual type-nonsleep">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">마취 시 통증까지 줄여 보다 편안하고 만족스럽게</p>
						<h3 class="new-visual__tit"><span class="n-color-eye2">비수면 최소통</span> 마취</h3>
						<p class="new-visual__txt">아프지 않기 위한 마취가 더 아프다? 통증이 거의 없는 마취방법</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#마취통증을줄인</span></li>
							<li class="new-visual__item"><span>#비수면</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-nonsleep">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-eye2">비수면 최소통 마취</span>로 걱정을 덜어드립니다.
					</h4>
					<p class="new-style1__txt txt-new1">
                        한의원에서 침을 놓을 때 아프지 않은 이유는 침이 가늘고, 침을 놓은 후 그 안에 무언가가 주입되지 않기 때문입니다.<br class="hidden-tm">
						반대로 <span class="weight-medium n-color-black1">마취 시 통증이 생기는 이유</span>를 아시나요?<br class="hidden-tm">
                        한의원에서 놓는 침에 비해 <mark class="mark-eye2 weight-medium">바늘이 두껍고, 주사액 때문에 피부 내부가 갑작스럽게 팽창하기 때문</mark>입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2 type-quotation type-eye2">
                        국소마취를 위해 마취액을 주사할 때, 정맥마취로 재우지않으면서도 통증이 거의 없이 주사하는<br class="hidden-tm">
						바노바기의 보다 안전한 <span class="weight-medium n-color-eye2">비수면 최소통 마취로 마취통증에 대한 두려움을 덜어드립니다.</span>
                    </p>
                    <div class="inner-circle type-tablet-bar type-eye2">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    <span class="weight-medium">매우 가는</span><br class="hidden-tm">
                                    주사바늘 사용
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    수술 전<br class="hidden-tm">
                                    <span class="weight-medium">마취크림 도포</span>
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    <span class="weight-medium">숙련된 전문의</span>의<br class="hidden-tm">
                                    테크닉
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    <span class="weight-medium">지속기간이 긴<br class="hidden-tm"> 부피바카인(국소마취제)</span><br class="hidden-tm">
                                    선택적 사용
                                </div>
                            </li>
                        </ul>
                    </div>
					<div class="new-style1__img mobile-padding">
                        <img src="../../images/eye/nonsleep/nonsleep_img_1.png" class="img-w100 hidden-tm" loading="lazy" alt="대부분-주사액이 피부 안에서 팽창할 때의 통증, 일부-굵은 바늘이 피부를 통과할 때의 통증" class="img-normal">
						<img src="../../images/eye/nonsleep/nonsleep_img_1_t.png" class="img-w100 hidden-p"loading="lazy" alt="대부분-주사액이 피부 안에서 팽창할 때의 통증, 일부-굵은 바늘이 피부를 통과할 때의 통증" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-nonsleep2">
                    <div class="inner-box">
                        <div class="img-style2 type-mobile-full type-eye">
    						<h5 class="new-content-tit tit-new2">비수면 최소통 마취의 <span class="weight-medium">장점</span></h5>
    						<ul class="img-style2__list">
    							<li class="img-style2__item nth-1">
    								<div class="img-style2__box">
                                        <img src="../../images/eye/nonsleep/nonsleep_img_2.jpg" loading="lazy" alt="비교적 빠른 회복!" class="img-w100 hidden-m">
    									<img src="../../images/eye/nonsleep/nonsleep_img_2_m.jpg" loading="lazy" alt="비교적 빠른 회복!" class="img-w100 hidden-pt">

    									<div class="img-style2__caption txt-new2">
                                            비교적 빠른 회복<span class="txt-italic">!</span>
                                        </div>
    								</div>
    								<p class="img-style2__txt txt-new1">
    									정맥마취약을 쓰지 않고 마취를 진행하기
                                        때문에 정맥마취약에 대한 부작용이 거의 없고,
                                        회복이 비교적 빨라
                                        수술 후 곧바로 집으로 갈 수 있습니다
    								</p>
    							</li>
    							<li class="img-style2__item nth-2">
    								<div class="img-style2__box">
                                        <img src="../../images/eye/nonsleep/nonsleep_img_3.jpg" loading="lazy" alt="신뢰도 증가!" class="img-w100 hidden-m">
    									<img src="../../images/eye/nonsleep/nonsleep_img_3_m.jpg" loading="lazy" alt="신뢰도 증가!" class="img-w100 hidden-pt">

    									<div class="img-style2__caption txt-new2">
                                            신뢰도 증가<span class="txt-italic">!</span>
                                        </div>
    								</div>
    								<p class="img-style2__txt txt-new1">
    									환자가 의식이 있는 상태에서 수술을 진행합니다.
                                        담당의사가 끝까지 수술을 하는지 확인할 수 있어
                                        의사와 환자간의 신뢰도가 높아집니다.
    								</p>
    							</li>
    							<li class="img-style2__item nth-3">
    								<div class="img-style2__box">
                                        <img src="../../images/eye/nonsleep/nonsleep_img_4.jpg" loading="lazy" alt="보다 안전하고 만족스럽게!" class="img-w100 hidden-m">
    									<img src="../../images/eye/nonsleep/nonsleep_img_4_m.jpg" loading="lazy" alt="보다 안전하고 만족스럽게!" class="img-w100 hidden-pt">

    									<div class="img-style2__caption txt-new2">
                                            보다 안전하고 만족스럽게<span class="txt-italic">!</span>
                                        </div>
    								</div>
    								<p class="img-style2__txt txt-new1">
    									눈 수술의 경우 의사가 중간중간 체크하기 위해
                                        환자와 의사소통을 해야합니다.
                                        비수면 최소통 마취는 보다 안전하고 결과가
                                        만족스러운 수술을 가능하게 합니다.
    								</p>
    							</li>
    						</ul>
    					</div>
                    </div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section type-cling">
				<div class="new-style1 type-nonsleep3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-eye2">좋은 의사가 되기 위한 조건</span>은  수술만이 아닙니다.
					</h4>
					<p class="new-style1__txt txt-new1">
                        마취 시 환자가 느끼는 통증까지 줄이기 위해 노력하고, 테크닉과 따뜻한 마음까지 갖추어야 좋은 의사입니다.<br class="hidden-tm">
						<mark class="mark-eye3 weight-medium">숙련된 전문의가 마취주사액의 양과 바늘의 각도, 주입하는 속도, 부위 등을 모두 고려</mark>하여<br class="hidden-tm">
						마취 시 통증을 줄이는 방법이 바로 비수면 최소통 마취입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2 type-quotation type-eye2">
                        사람을 먼저 생각하는 <span class="weight-medium n-color-eye2">바노바기의 인본중심의 진료</span>, 마취기술에서도 만나실 수 있습니다.
                    </p>
					<div class="new-style1__img mobile-padding">
                        <img src="../../images/eye/nonsleep/nonsleep_img_5.png" loading="lazy" alt="대부분-주사액이 피부 안에서 팽창할 때의 통증, 일부-굵은 바늘이 피부를 통과할 때의 통증" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-nonsleep4">
                    <div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">
								<span class="weight-medium">전문의의 테크닉</span>과 <span class="weight-medium">인본중심</span>의 진료
							</h5>
							<ul class="img-style1__list type-mt">
								<li class="img-style1__item">
									<img src="../../images/eye/nonsleep/nonsleep_img_6.jpg" class="img-w100 hidden-tm" loading="lazy" alt="바노바기 눈 성형 전담팀">
									<img src="../../images/eye/nonsleep/nonsleep_img_6_t.jpg" class="img-w100 hidden-p" loading="lazy" alt="바노바기 눈 성형 전담팀">

									<h6 class="img-style1__subject txt-new2">바노바기 눈 성형 전담팀</h6>
								</li>
							</ul>
						</div>
                    </div>
				</div>
			</div><!-- //new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
