<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-eye-correction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1 type-eye-correction">쌍꺼풀보다 중요한 것은 <span class="inline-block">매력적인 눈매</span></p>
				<h3 class="content-visual__tit type-eye-correction">#<span class="color-correction1">눈매</span>교정</h3>
				<p class="content-visual__txt2 type-eye-correction"><strong>또렷하게</strong>다시뜨는눈</p>
			</div>
		</div>
	</div>
	<!-- //상단 비주얼 -->
	<!-- content-->
	<div class="content">
        <div class="content-wrap">
            <div class="correction-box1">
                <div class="content-section type-first">
                    <h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">01</span>
						</span>
                        <strong class="color-correction2">매력적인 눈</strong>
                        의 기준은 <br class="hidden-p">
                        결국 <span class="content-highlight2 type-eye-correction2">눈매</span>입니다
                    </h4>
                    <p class="content-section__txt1">
                        눈 성형의 대표적인 방법으로 쌍꺼풀 수술이 알려지면서, 흔히 '매력적인 눈 = 쌍꺼풀'이라는 인식이 생겼습니다. <br class="hidden-tm">
                        하지만 실제 주변을 둘러보면 쌍꺼풀이 연하게 있거나 혹은 쌍꺼풀이 아예 없는 눈임에도 충분히 매력적으로 느껴지는 경우가 있죠. <br class="hidden-tm">
                        그런 눈들의 공통점은 바로 눈의 기본적인 모양인 눈매 자체가 이상적인 형태라는 것입니다. <br class="hidden-t">
                        <strong>사실 사람의 인상은 눈꺼풀의 모양보다는 눈매가 많은 부분을 차지합니다.</strong> 특히 눈매를 통해 결정되는 눈동자의 위치나 노출 정도가 중요하죠.
                    </p>
                    <div class="site-box14">
                        <div class="site-box14__outer type-bg clearfix">
                            <div class="site-box14__model--m">
                                <img class="hidden-pt" src="../../images/eye/eyeexposure-bg-m.jpg" loading="lazy" alt="모델이미지">

                                모델이미지</div>
                            <div class="site-box14__inner">
                                <h5 class="site-box14__tit">
                                    { 눈매에 따라 달라지는 눈동자의 노출 }
                                </h5>
                                <div class="site-box14__thumb main">
                                    <img class="hidden-t normal" src="../../images/eye/eyeform1-pm.jpg" loading="lazy" alt="정상적인 경우의 눈 이미지">
                                    <img class="hidden-pm" src="../../images/eye/eyeform1-t.jpg" loading="lazy" alt="정상적인 경우의 눈 이미지">
                                    <p class="site-box14__txt1">정상적인 눈의 형태</p>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img02 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform2-pm.jpg" loading="lazy" alt="약간 상사시 눈">
                                        <img class="hidden-pm" src="../../images/eye/eyeform2-t.jpg" loading="lazy" alt="약간 상사시 눈">
                                        <span class="site-box14__tit--m">
										<span class="site-box14__box--m">
											약간 상사시 눈 <br>
											<span class="site-box14__smallest">(가성 안검하수)</span>
										</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h6 class="site-box14__sub-tit">
                                            약간 상사시 눈(가성 안검하수)
                                        </h6>
                                        <p class="site-box14__txt2">
                                            정상적인 눈 뜨는 근육이어서 윗 눈꺼풀이
                                            잘 떠지지만 겉 눈꺼풀이 눈을 덮고 있는 가성안검 하수
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img03 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform3-pm.jpg" loading="lazy" alt="심한 상사시">
                                        <img class="hidden-pm" src="../../images/eye/eyeform3-t.jpg" loading="lazy" alt="심한 상사시">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												심한 상사시 <br>
												<span class="site-box14__smallest">(가성 안검하수)</span>
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h6 class="site-box14__sub-tit">
                                            심한 상사시 (가성 안검하수)
                                        </h6>
                                        <p class="site-box14__txt2">
                                            정상적인 눈이지만 검은 눈동자가
                                            <span class="inline-block">
											위로 올라가 아래 부위 흰동자 노출양이
											과도한 상사시
										</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img04 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform4-pm.jpg" loading="lazy" alt="진성 안검하수">
                                        <img class="hidden-pm" src="../../images/eye/eyeform4-t.jpg" loading="lazy" alt="진성 안검하수">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												진성 안검하수
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h6 class="site-box14__sub-tit">
                                            진성 안검하수
                                        </h6>
                                        <p class="site-box14__txt2">
                                            졸려보이는 눈이면서 눈꺼풀을 실제로
                                            <span class="inline-block">
												약 7mm이하로 뜨는 경우
											</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-box14__info">
                            <div class="site-box14__tit--info">
                                <span class="color-correction4">눈매교정</span>이란?
                            </div>

                            <div class="site-box14__txt--info">눈매교정은
                                <span class="color-correction4">눈을 더 확실히 뜨게 하여 눈동자가 적절히 보이도록</span>
                                하는, <br class="hidden-pm">더 매력적인 눈매를 만드는 수술입니다.
                            </div>
                        </div>
                        <div class="site-box14__bf">
                            <img class="hidden-tm" src="../../images/eye/eyeform5-p.jpg" loading="lazy" alt="수술전후 비교">
                            <img class="hidden-pm" src="../../images/eye/eyeform5-t.jpg" loading="lazy" alt="수술전후 비교">
                            <img class="hidden-pt" src="../../images/eye/eyeform5-m.jpg" loading="lazy" alt="수술전후 비교">
                            <span class="progress-tag type-before">before</span>
                            <span class="progress-tag type-after">after</span>
                        </div>

                    </div>
                    <div class="content-section__wrapper">
                        <p class="content-section__txt2">
                            때문에 기본적으로 눈동자가 <br class="hidden-pt"> 이상적으로 보이지 않는 눈매를 가지고 있다면,<br class="hidden-t"> 쌍꺼풀에 연연하기보다는
                            <br class="hidden-pt">
                            <strong class="color-correction5">눈매교정</strong>이나 <strong class="color-correction5">트임 성형</strong>과 같이<span class="content-highlight type-eye-correction4">눈매를 개선할 수 있는 수술을 우선적으로 생각해보는 것이 좋습니다.</span>
                        </p>
                        <p class="content-section__txt1 lg brace type-eye-correction">
                            특히 <strong class="type-border">눈 뜨는 힘이 약해</strong> 눈동자가 적게 보이는 경우라면 <strong>그 힘을 강화해주는 <span class="color-correction6">눈매교정술</span>만으로도</strong> <br class="hidden-tm">
                            더욱 눈이 커지고 또렷해 보이는 뛰어난 효과를 볼 수 있습니다.
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box2">
                <div class="content-section">
                    <div class="content-section__wrapper">
                        <div class="content-section__desc">
                            <h4 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">02</span>
								</span>
                                <strong>단순 쌍꺼풀 수술</strong>과<br>
                                <strong>눈매교정</strong>은 목표가 <br class="hidden-pt">
                                <span class="content-highlight2 type-eye-correction3">다른수술</span><br class="hidden-pm">입니다
                            </h4>
                            <p class="content-section__txt1">
                                쌍꺼풀 수술의 원리는 눈꺼풀과 눈 뜨는 근육을 연결해주는 것이라고 할 수 있습니다. 눈을 뜨는 과정에서 피부가 자연스럽게 접혀 올라갈 수 있도록 잡아주는 것이죠. <br class="hidden-tm">
                                하지만 이때 <strong><span class="type-border">눈 뜨는 힘 자체가 부족하다면 쌍꺼풀의 유무와는 별개로 또렷하지 못하고 졸려 보이는 눈이 됩니다.</span></strong>
                                <br class="hidden-tm">
                                눈꺼풀이 확실히 올라가 눈동자가 적절하게 보이는 눈매가 되어야 하는데, 눈동자의 노출은 그대로인 채 눈꺼풀에 라인만 생기게 되는 것입니다
                            </p>
                            <p class="content-section__txt1">
                                그래서 필요한 것이 눈매교정입니다.
                                <span class="content-highlight type-eye-correction5">눈매교정은 눈 뜨는 힘 자체를 강화시키는 수술이기 때문에 이상적인 눈매를 만들기에 유리합니다. </span><br class="hidden-tm">
                                따라서 눈에 힘이 없는 경우라면 눈매교정만으로도 보다 또렷하고 시원한 눈매를 가질 수 있으며, 기존에 쌍꺼풀이 있었던 경우라면 눈매교정 후 더욱 선명하고
                                매력적인 쌍꺼풀 라인이 잡히게 됩니다. 또한 눈 뜨기가 수월해지기 때문에 무의식중에 인상을 쓰거나 눈썹을 치켜뜨는 습관으로 인한 주름 발생도 예방할 수 있습니다.
                            </p>
                        </div>
                        <div class="content-section__wrap site-box">
                            <div class="site-box15 clearfix">
                                <div class="site-box15__wrapper clearfix">
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="눈매교정 후 이미지">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="눈매교정 후 이미지">
                                            <span class="progress-tag type-before">AFTER 6 MONTH</span>
                                        </div>
                                    </div>
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose2-pm.jpg" loading="lazy" alt="눈매교정 후 이미지">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose2-t.jpg" loading="lazy" alt="눈매교정 후 이미지">
                                            <span class="progress-tag type-after">AFTER 6 MONTH</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-box15__quotation">
                                    <p class="site-box15__txt1">
                                        쌍꺼풀이 있더라도 눈 뜨는 힘이 부족하다면 눈동자의 노출이
                                        <span class="inline-block">
                                이상적일 수 없습니다.
                            </span>
                                    </p>
                                    <p class="site-box15__txt2">
                                        눈매교정은 눈을 더욱 또렷이 뜨게 하여 눈매 자체를
                                        <span class="inline-block">
                            개선해줍니다.
                            </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box3">
                <div class="content-section">
                    <div class="content-section__wrapper type-left">
                        <h4 class="content-section__tit type-top">
							<span class="content-section__number">
								<span class="content-section__number-wrap correction-n3">03</span>
							</span>
                            <strong>모든 경우</strong>에 해당하는<br class="hidden-pt">
                            <strong>수술</strong>이<br class="hidden-pm"> 아니기에, <br class="hidden-t">
                            <span class="content-highlight2 type-eye-correction1">더신중</span>해야 합니다
                        </h4>
                        <div class="content-section__wrapper type-width">
                            <p class="content-section__txt1 correction-n3">
                                앞서 설명한 것과 같이 눈매교정은 눈 뜨는 힘이 부족한 경우에 할 수 있는, 특정한 경우에 시행하는 수술입니다. <br class="hidden-tm">
                                반대로 눈 뜨는 힘이 충분하다면 굳이 할 필요가 없는 수술이죠.<br class="hidden-tm">
                                때문에 눈매교정은 그 수술을 결정하기 전, 눈 상태를 정밀하게 진단하는 것이 무엇보다 중요합니다.<br class="hidden-tm">
                                간혹, 단순히 눈썹 위를 누른 상태에서 눈을 뜨기가 힘들어 보여서, 눈 뜰 때 이마에 주름이 생겨서, 쌍꺼풀 없이 눈이 처져 보여서, 눈이 작아서 등의 이유로
                                눈매교정을 권하는 경우가 있는데, 이런 진단법만으로는 눈 뜨는 힘을 정확히 판단할 수 없으며  오히려 잘못된 수술을 선택하게 되는 원인이 될 수도 있습니다.
                            </p>
                            <p class="content-section__txt1 correction-n3 content-highlight type-eye-correction3">
                                따라서 눈매교정은 올바른 진단을 통해 교정이 필요한지 파악 하고, 필요하다면 수술 결과가 과하거나 부족하지 않도록 교정 정도를 정밀하게 계획하는 전문의를
                                선택하셔야 합니다.
                            </p>
                        </div>
                    </div>
                    <div class="diagnosis">
                        <div class="diagnosis__outer clearfix">
                            <div class="diagnosis__inner">
                                <div class="diagnosis__thumb">
                                    눈진단이미지
                                </div>
                                <div class="diagnosis__desc">
                                    <h5 class="diagnosis__tit">
                                        <strong class="color-correction9">정확하지 않은 눈 근육 진단법</strong><strong>들</strong>
                                    </h5>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">01.</span>
                                        이마를 누르면서 눈 뜨기가 어려우니 눈 근육이 약한 것이라고 진단하는 경우
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">02.</span>
                                        눈을 뜰 때 이마에 주름이 생기니  눈 근육이 약한 것이라고 진단하는 경우
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">03.</span>
                                        단순히 눈동자가 반밖에 보이지 않는 것을 보고 판단하는 경우
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">04.</span>
                                        단순 눈 크기를 보고 판단하는 경우
                                    </p>

                                </div>
                            </div>
                            <div class="diagnosis__txt1 type-quotation">
                                눈매교정은 <span class="color-correction10">올바른 진단으로 교정 필요 여부를 파악</span>하고<br class="hidden-pm"> 눈 뜨는 힘을 정확히 판단하여 교정 정도를
                                <span class="inline-block">조정해야 합니다</span>
                            </div>
                        </div>
                        <div class="diagnosis__ways clearfix">
                            <div class="diagnosis__circle">
                                상담이미지
                                <div class="diagnosis__border">

                                </div>
                            </div>

                            <div class="diagnosis__wrapper type-desc">
                                <h5 class="diagnosis__sub-tit">
                                    개개인마다 <span class="color-correction11">눈 뜨는 근육의 힘이 다르기 때문에</span>
                                    <span class="inline-block">
                               			눈매교정도 그 정도에 따라 방법을 달리해야 합니다.
                           			</span>
                                </h5>
                                <p class="diagnosis__txt2">
                                    정말 눈 뜨는 힘이 너무 적어 눈꺼풀이 눈동자의 절반 가까이를 가리는 경우라면 절개를 통한
                                    눈매교정을 하는 것이 좋습니다.  하지만 100%는 아니더라도 어느 정도 눈 뜨는 힘이 있는
                                    경우라면 이중매몰을 통한 눈매교정도 가능합니다.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <!-- 탭바  -->
            <div class="content-tab">
                <div class="content-tab__inner">
                    <ul class="content-tab__list">
                        <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-double">이중매몰 눈매교정(비절개 눈매교정)</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-ptosis">절개 눈매교정</a></li>
                    </ul>
                </div>
            </div>

            <!-- 탭바 컨텐츠 -->
            <div class="content-tab__page page-double is-active">
                <div class="content-tab__box">
                    <div class="correction-box4">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    이중매몰 눈매교정이란 바노바기 박선재 원장님이 고안한 눈매 교정 방법입니다. <br class="hidden-m">
                                    절개를 하지 않으면서도 실의 힘과 조직의 유착이라는 이중의 힘을 이용해 더욱 효과적이고 안정적으로 눈매를 교정하는 것이죠.
                                </p>
                                <p class="content-section__txt1">
                                    사실 눈매교정은 눈 뜨는 힘 자체가 부족한 경우에 진행되는 특성상 절개를 하지 않고 실 만으로 진행하기에는 까다로운 수술이었습니다. <br>
                                    근육의 장력을 제대로 조절하기가 힘들고, 다시 풀어질 가능성이 있는 등 단점들이 많기 때문이죠. <br>
                                    하지만 이중매몰 눈매교정이라면 그런 단점을 극복하면서도 비절개의 장점은 그대로 유지할 수 있게 됩니다. <br>
                                </p>
                                <p class="content-section__txt2">
                                    수술이 비절개로 진행되면 수술시간이 짧아지고 그에 따라 회복 또한 빨라집니다. <br>
                                    또,<span class="color-correction16">수술 후의 부기와 통증이 적기 때문에 회복기간에도 자연스러워 보다 <br class="hidden-pm"> 빠른 일상 복귀가 가능</span>
                                    합니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="incisional-eye">
                        <div class="incisional-eye__wrapper clearfix">
                            <div class="layer-doc7">
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                눈뜨는 <br>
                                                힘강화
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                효과적이고<br>
                                                안정적인<br>
                                                교정
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                비교적<br>
                                                빠른 회복
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer type-bigger">
                                        <div class="layer-doc7__inner type-bigger">
                                            <h4 class="layer-doc7__tit type-bigger">
                                                이중매몰<br>
                                                눈매교정
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                자연스럽고<br>
                                                부드러운<br>
                                                눈매
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                보다 짧은 <br>
                                                수술 시간
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                밝고<br>
                                                또렷한 인상
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="incisional-eye__bar">
                            <div class="incisional-eye__tit">
                                <strong class="color-correction17">
									이중매몰 눈매교정<br class="hidden-m">
									(비절개 눈매교정)
								</strong>
                            </div>
                            <div class="incisional-eye__txt1">
                                절개를 하지 않고도 실의 힘과 조직의 유착이라는 이중의 힘을 이용해 눈매를 교정
                            </div>
                        </div>
                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">마취 때의 통증까지도 디테일하게 신경씁니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 30분</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">국소마취/비수면 최소통 마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일 귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 1회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.<br>
											수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
											부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
											눈을 보다 확실히 뜰 수 있게 되어 부기가 빨리 빠지는 효과가 있습니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>

            <div class="content-tab__page page-ptosis">
                <div class="content-tab__box">
                    <div class="correction-box5">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    눈 뜨는 힘이 굉장히 적어 이중매몰법으로 눈매교정의 효과를 보기 힘들다고 판단되는 경우, <br class="hidden-pm">절개법을 통해 눈매를 교정해줄 수 있습니다.
                                    일반적으로 환자분들은 가급적 절개를 피하고 싶어 하십니다. 막연한 두려움과 절개를 하면 수술 결과가 어색해진다는 인식 때문입니다.<br class="hidden-m">
                                    하지만 실력 있는 전문의가 시술한다면 절개 눈매교정의 결과도 충분히 자연스럽습니다.
                                </p>
                                <p class="content-section__txt1">
                                    흔히 절개법의 결과가 어색하다고 하는 것은 회복 과정에서 조금 더 부어 보이기 때문에 생긴 오해이지,<br>
                                    부기가 가라앉고 나면 비절개 수술 결과와 크게 차이를 알아볼 수 없습니다. <br class="hidden-m">
                                    간혹 교정 라인을 너무 높게 잡아 결과가 어색하게 보일 수는 있지만 이는 절개, 비절개의 문제라기보다는 시술자의 판단 문제라고 볼 수 있죠.
                                </p>
                                <p class="content-section__txt1">
                                    그런 오해를 풀고 보면 절개 눈매교정은 장점이 많은 수술입니다. <br class="hidden-m">
                                    눈 뜨는 근육의 장력을 직접 확인할 수 있고, 교정 위치도 정밀히 지정할 수 있기 때문에 굉장히 효과적이죠. <br>
                                    또, 눈매교정 후에는 눈을 더욱 시원하게 뜰 수 있기 때문에 부기가 빨리 빠지는 효과가 있어 일상생활에 대한 부담도 많이 줄어들게 됩니다.
                                </p>
                                <p class="content-section__txt2 brace ">
                                    눈 뜨는 근육의 장력을 직접 확인할 수 있고, 교정 위치도 정밀히 지정할 수 있기 때문에 굉장히 효과적이죠. <br class="hidden-tm">
                                    또, 눈매교정 후에는 <span class="color-correction12">눈을 더욱 시원하게<br class="hidden-pm"> 뜰 수 있기 때문에 부기가 빨리 빠지는 효과</span>
                                    가 있어 <br class="hidden-m"> 일상생활에 대한 부담도 많이 줄어들게 됩니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="misunderstanding">
                        <div class="misunderstanding__bg clearfix">
                            <div class="misunderstanding__wrapper align">
                                <h4 class="misunderstanding__tit">
								<span class="content-highlight type-eye-correction6">
									<span class="color-correction13">절개 눈매교정</span>의 오해
								</span>
                                </h4>
                                <div class="misunderstanding__desc">
                                    <h5 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">01.</span>
                                        결과가 어색하다?
                                    </h5>
                                    <p class="misunderstanding__txt1">
                                        회복기간 중에 비절개 눈매교정보다 더 부어 보이기 때문에 생긴 오해입니다.
                                        간혹 교정 라인을 너무 높게 잡은 경우 어색해 보일 수도 있지만 그것은 절개,
                                        비절개의 차이라기 보다는 전문의의 능력 차이입니다.
                                    </p>
                                </div>

                                <div class="misunderstanding__desc">
                                    <h5 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">02.</span>
                                        흉터가 남아 티가 많이 난다?
                                    </h5>
                                    <p class="misunderstanding__txt1">
                                        수술 직후 수술 흔적이 비교적 선명하게 보이니 걱정이 클 수밖에 없습니다. <br class="hidden-pt">
                                        하지만 6개월 정도 지나면 흉터는 거의 눈에 띄지 않습니다.
                                    </p>
                                </div>
                                <div class="misunderstanding__thumb">
                                    <ul class="misunderstanding__list clearfix">
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar1-p.jpg" loading="lazy" alt="실밥제거후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar1-t.jpg" loading="lazy" alt="실밥제거후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar1-m.jpg" loading="lazy" alt="실밥제거후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                실밥제거후
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar2-p.jpg" loading="lazy" alt="1개월후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar2-t.jpg" loading="lazy" alt="1개월후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar2-m.jpg" loading="lazy" alt="1개월후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                1개월 후
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar3-p.jpg" loading="lazy" alt="3개월후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar3-t.jpg" loading="lazy" alt="3개월후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar3-m.jpg" loading="lazy" alt="3개월후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                3개월 후
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar4-p.jpg" loading="lazy" alt="4개월후 이미지">
                                                <img class="hidden-pm" src="../../images/eye/eyescar4-t.jpg" loading="lazy" alt="4개월후 이미지">
                                                <img class="hidden-pt" src="../../images/eye/eyescar4-m.jpg" loading="lazy" alt="4개월후 이미지">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                6개월 후
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="misunderstanding__info">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="misunderstanding__bg-dark">
                            <div class="misunderstanding__inner-box">
                                <div class="misunderstanding__wrapper quotation type-eye-correction">
                                    <p class="misunderstanding__txt2">
                                        <strong>절개 눈매교정</strong>은 뜨는 근육의 장력을 직접 확인할 수 있고, <br class="hidden-pm"> 교정 위치도 정밀히 지정할 수 있기 때문에 <span class="inline-block">굉장히 효과적인 방법입니다.</span> <br>
                                        바노바기에서는 완전 절개형 눈매교정을<br class="hidden-pt"> 특수 진료로 운영하고 있을 정도로<br class="hidden-pm"> <span class="color-correction14 border">체계적이고 풍부한 노하우를 통해 눈매교정을 진행</span>하고 있습니다
                                    </p>
                                    <p class="misunderstanding__txt3">
                                        정밀한 절개 위치 조절로 <span class="color-correction15">자연스러운 라인</span><br>
                                        꼭 필요한 절개만으로 <span class="color-correction14">빠른 회복</span> <span>유도</span> <br>
                                        또렷하고 생기 있는 눈매로 <span class="color-correction15">시원한 인상</span> <span>추구 </span> <br>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">마취 때의 통증까지도 디테일하게 신경씁니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 40분~1시간</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">국소마취/비수면 최소통 마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 4~5일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일 귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 1회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											비수면 최소통 마취를 통해 마취로 인한 통증도 덜어드립니다.<br>
											수술 후 얼얼한 느낌과 함께 열감이 있을 수 있으며 시간이 지나면서 점차 완화됩니다.<br>
											부기로 인한 뻑뻑한 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
											눈을 보다 확실히 뜰 수 있게 되어 부기가 빨리 빠지는 효과가 있습니다
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/eye.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>
        </div>
    	<!-- //content-tab-upper-eye 비절개 눈매교정술-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>
</div><!-- //container-->

<% include ../_include/_footer %>
