<%
	type = "detail"
	page = "eye"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>


<!-- Content -->
<div class="eye detail-common">
    <section class="fs_section eyeFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-eye">
					<span class="color-eye0">더</span> 자연스럽<i class="type-special">게</i><span class="style-comma">,</span>
					<span class="detail__middle-piece">
						<span class="color-eye0">더</span> 편안하게<span class="style-comma">,</span>
					</span>
					<span class="detail__first-piece type-eye">
						<span class="color-eye0">더</span> 아름답게<span class="style-comma">,</span>
					</span>
				</p>
				<h3 class="detail__first-txt type-eye">
					<span class="detail__first-bwrap">기본에 기술을 더한<b class="detail__first-bar type-eye"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-eye1">눈성형</span> 디테일<span class="color-eye1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section n-eyeSection01" data-section-name="n-eyeSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye type-quotation2">
	              	<h4 class="detail__section-tit">
	                	<strong>눈성형</strong><span class="color-eye7">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
						<strong class="color-eye2">이렇게</strong> 합니다
	              	</h4>
	              	<p class="detail__section-subtit">진단부터 수술까지 디테일한 맞춤식 수술</p>
	              	<p class="detail__section-txt">
						눈성형은 눈의 모양이나 눈꺼풀 두께, 또 눈을 감고 뜰 때의 기능적 문제가 없는지 등을 다양하게 진단해야 합니다.
						상담 시간이 조금 길어질 수도 있습니다.
						하지만 이렇게 해야 한 분 한 분께 가장 알맞은 수술법을 제시하고 디자인할 수 있습니다.
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m type-another">
			<div class="layer-doc hidden-p type-eye">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">눈꺼풀 근력</li>
					<li class="layer-doc__item">동공의 크기 및 위치</li>
					<li class="layer-doc__item">피부두께 &amp; 탄력도</li>
					<li class="layer-doc__item">눈꼬리 방향</li>
					<li class="layer-doc__item">몽고주름 모양</li>
					<li class="layer-doc__item">눈 사이 간격</li>
					<li class="layer-doc__item">안검하수 유무</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span>눈성형 진료 시스템</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection02" data-section-name="n-eyeSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-eye type-normal">
				  	<h4 class="detail__section-tit">
					  	<strong>눈성형</strong><span class="color-comma">,</span><br>
					  	<span class="detail__section-bwrap">바노바기는</span><br>
					  	<strong class="color-eye3">제대로</strong> 합니다
				  	</h4>
				  	<p class="detail__section-subtit">눈성형에 관한 모든 것</p>
				  	<p class="detail__section-txt">
					  	바노바기가 궁극적으로 추구하는 눈성형의 결과는 이렇습니다.
						<span class="detail__num">
							①수술 흔적 없이 자연스러운가<br>
							②눈의 기능에 문제는 없는가<br>
							③환자의 이미지와 어울리는가
						</span>
						바노바기는 더 아름다운 눈매를 위한 거의 모든 수술 방법을 다 알고 있습니다
				  	</p>
			  	</div>
			</div>
			<!-- layer-doc5 -->
  		  	<div class="layer-doc5">
  				<ul class="layer-doc5__list">
  					<li class="layer-doc5__item nth-1">
  						<div class="layer-doc5__wrap">
  							<p class="layer-doc5__num">01</p>
  							<p class="layer-doc5__txt">
  								눈성형의<br class="hidden-pt"> 가장 기본이 되는
  							</p>
  							<h5 class="layer-doc5__tit">쌍꺼풀 수술</h5>
  						</div>
  					</li>
	  				<li class="layer-doc5__item nth-2">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">02</p>
	  						<p class="layer-doc5__txt">
	  							눈꺼풀 근육의 힘을 조절하는
	  						</p>
	  						<h5 class="layer-doc5__tit">눈매교정술</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-3">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">03</p>
	  						<p class="layer-doc5__txt">
	  							눈썹 모양까지 고려하는
	  						</p>
	  						<h5 class="layer-doc5__tit">브로우 리프팅</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-4">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">04</p>
	  						<p class="layer-doc5__txt">
	  							눈모양의<br class="hidden-p"> 아름다움을 추구하는
	  						</p>
	  						<h5 class="layer-doc5__tit">트임성형</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-5">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">05</p>
	  						<p class="layer-doc5__txt">
	  							얼굴의 인상까지 고려한
	  						</p>
	  						<h5 class="layer-doc5__tit">눈밑지방재배치</h5>
	  					</div>
	  				</li>
	  			</ul>
  		  	</div>
  		  	<!-- //layer-doc5 -->
		</div>
	</section>

	<section class="fs_section n-eyeSection03" data-section-name="n-eyeSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye">
					<h4 class="detail__section-tit">
						<strong>눈성형</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br>
						<strong class="color-eye3">특별</strong>합니다
					</h4>
					<p class="detail__section-subtit">비절개 눈성형이 전문화된 의료기관, 바노바기</p>
					<p class="detail__section-txt color-eye5">
						눈성형에 대한 연구와 집도만 <?php echo date("Y") - 2001; ?>년, 박선재 대표원장이 이끄는 바노바기 눈성형 팀은
						특히 비절개 눈성형 방법에 대해 자신 있습니다.
						가능하면 절개 없이, 눈매를 교정할 수 있도록 끊임없이 연구합니다.
						비절개 방식으로도 선명하고 자연스러운 눈성형, 바노바기라서 가능합니다.
					</p>
				</div>
			</div>
  		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m type-another">
			<div class="layer-doc hidden-p type-eye type-another">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">비절개 상안검</li>
					<li class="layer-doc__item">비절개 눈매교정</li>
					<li class="layer-doc__item">비절개 앞트임</li>
					<li class="layer-doc__item">비절개 쌍커풀</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span class="color-eye8">비절개 눈성형</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section n-eyeSection04" data-section-name="n-eyeSection04">
		<div class="detail__inner">
			<div class="detail__popup" >
			  	<div class="detail__popup-wrap">
				  	<h5 class="detail__popup-tit">비수면 최소통 마취<span class="color-eye9">.</span></h5>
				 	<div class="eye-popup">
				 		<ul class="eye-popup__list">
				 			<li class="eye-popup__item nth-1">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">01</p>
					 				<h6 class="eye-popup__tit">가는 주사바늘 사용</h6>
					 			</div>
				 			</li>
					 		<li class="eye-popup__item nth-2">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">02</p>
					 				<h6 class="eye-popup__tit">숙련된 전문의의 테크닉</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-3">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">03</p>
					 				<h6 class="eye-popup__tit">수술전 마취크림 도포</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-4">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">04</p>
					 				<h6 class="eye-popup__tit">지속 시간이 긴 부피바카인<span class="eye-popup__sub">(국소마취제)</span> 선택적 사용</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-5"><div class="eye-popup__wrap">병원마크</div></li>
				 		</ul>
				 	</div>
				  	<a href="" class="detail__popup-close js-popup-close">닫기</a>
			  	</div>
		  	</div>
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-eye type-quotation2">
				  	<h4 class="detail__section-tit">
  					  	<strong>눈성형</strong><span class="color-comma">,</span><br>
  					  	<span class="detail__section-bwrap">바노바기는</span><br>
  					  	<strong class="color-eye3">디테일</strong>합니다
  				  	</h4>
  				  	<p class="detail__section-subtit">눈성형, 비수면 최소통 마취를 고집하는 이유</p>
  				  	<p class="detail__section-txt">
					  	눈성형은 환자가 깨어있는 상태에서 수술하는 것이 더 만족스러운 결과를 얻을 수 있습니다.
					  	바노바기 눈성형은 그래서 비수면 최소통 마취를 고집합니다.
					  	통증을 줄일 수 있는 마취 방법에 대해서도 거듭 연구했기에,
					  	저희 의료기관 환자분들 대다수는 정맥마취 보다 더 편안하게 수술 받으셨다고 합니다.
  				  	</p>
  			  	</div>
  		  	</div><!-- //detail__vertical -->
	    </div>
	  	<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				바노바기 비수면 최소통 마취
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection05" data-section-name="n-eyeSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-eye type-quotation2">
	  				<h4 class="detail__section-tit">
	  					<strong>눈성형</strong><span class="color-comma">,</span><br>
	  					<span class="detail__section-bwrap">환자의 이야기가</span><br>
	  					<strong>제일 중요</strong>합니다
	  				</h4>
	  				<p class="detail__section-subtit">한 달에 두 번, 정기 컨퍼런스를 거르지 않는 이유</p>
	  				<p class="detail__section-txt color-eye6">
						바노바기는 디테일한 수술 완성도를 위해 매월 2회 정기적으로 컨퍼런스를 진행합니다.
						집도의와 상담, 간호, 치료 케어 등 눈성형 파트 전 직원이 모여
						환자별 케이스를 분석하고 환자들의 이야기를 공유합니다.
						조금 번거로울 수 있지만 <?=$sinceYear?>년 동안  이 과정을 소홀히 하지 않았기에
						더 나은 진료, 더 만족스러운 결과를 자신 있게 약속할 수 있습니다.
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
