<%
	type = "content"
	page = "hair"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="hair-woman">
		<div class="new-visual type-woman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">얼굴 여백은 줄이고 입체감은 살리고</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-hair1">여성</span> 모발이식
                        </h3>
						<p class="new-visual__txt">원래 내 머리인 것처럼 자연스럽게</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#헤어라인교정</span></li>
							<li class="new-visual__item"><span>#작은얼굴동안효과</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-woman">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-hair1">헤어라인 교정</span>으로도<br>
						이미지가 개선될 수 <span class="inline-block">있습니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						<strong class="weight-medium">‘미(美)의 완성은 헤어라인’</strong>이라는 말 들어보셨나요?<br class="hidden-tm">
						그만큼 <mark class="mark-hair weight-medium">헤어라인은 이미지를 결정하는데 중요한 요소</mark>입니다.<br class="hidden-tm">
						이마가 너무 좁으면 답답한 인상을 줄 수 있고<br class="hidden-tm">
						지나치게 높은 이마 라인은 얼굴이 길어 보이게 하여 콤플렉스가 되기도 합니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-hair2">
						헤어라인 교정은 단순히 이마라인을 교정하거나 면적을 줄이는 수술이 아닙니다.<br class="hidden-tm">
						<strong class="weight-medium"><span class="n-color-hair1">얼굴형과 이마라인을 고려하여</span> 처음부터 내것인 것처럼 <span class="n-color-hair1">자연스럽게 이마 라인을 디자인하는 것,</span></strong><br class="hidden-tm">
						바노바기성형외과 모발이식 클리닉에서 추구하는 헤어라인 교정입니다.
					</p>
					<p class="new-style1__txt txt-new1">
						임상경험이 풍부한 이경구원장이 이끄는 바노바기 모발이식 전담팀은<br class="hidden-tm">
						바노바기의 뛰어난 기술력으로, 상담부터 수술까지 <strong class="weight-medium">환자와 1:1 맞춤 진행</strong><br class="hidden-tm">
						<mark class="mark-hair weight-medium">본인의 얼굴형과 이미지에 맞게 타고난 듯 자연스러운 헤어라인</mark>을 만듭니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/hair/woman/woman_img_1.png" loading="lazy" alt="바노바기 성형외과 헤어 성형모델" class="img-normal">
					</div>

				</div>
				<div class="new-style1 type-top0 type-bottom type-woman2">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">바노바기 <strong class="weight-regular">헤어라인 과정</strong></h5>
						<div class="step-style5 type-hair">
							<ul class="step-style5__list">
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 01</h6>
									<img src="../../images/hair/woman/woman_step_1.jpg" loading="lazy" alt="STEP. 01" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											디테일한 1:1 상담<br>
											(얼굴 형, 이마 형태 파악)
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 02</h6>
									<img src="../../images/hair/woman/woman_step_2.jpg" loading="lazy" alt="STEP. 02" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											맞춤 헤어 디자인<br>
											(얼굴 비율, 면적 체크,<br>
											이상적인 라인 등  맞춤 디자인)
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 03</h6>
									<img src="../../images/hair/woman/woman_step_3.jpg" loading="lazy" alt="STEP. 03" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											모낭 채취 및 분리<br>
											(손상 및 흉터를 줄이고<br>
											모낭 채취 및 분리 시술)
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 04</h6>
									<img src="../../images/hair/woman/woman_step_4.jpg" loading="lazy" alt="STEP. 04" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											모낭 이식<br>
											(모발의 각도와 방향,<br>
											모양과 균형, 밀도 등을 맞춘 이식)
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="new-section type-cling">
				<div class="new-style1 type-woman4 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						작은 얼굴, 동안 효과<br class="hidden-tm">
						<span class="n-color-hair2">헤어라인교정으로도 가능</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						성형학적으로 얼굴을 상, 중, 하안면으로 나누었을 때 <strong class="weight-medium color-black1">가장 이상적인 얼굴의 비율은 1:1:0.8</strong> 이라고 하는데요.<br class="hidden-tm">
						얼굴에서 1/3정도를 차지하는 이마는 <mark class="mark-white weight-medium">모양이나 넓이, 비율에 따라 인상을 좌우</mark>합니다.<br class="hidden-tm">
						바노바기의 여성 헤어라인 이식은 <mark class="mark-white weight-medium">기능적인 개선은 물론 미적인 부분까지 함께 고려</mark>합니다.<br><br>
						단순히 좁은 이마가 아닌 <span class="weight-medium color-black1">개개인의 이미지, 비율에 맞게 디자인</span> 해야합니다.<br class="hidden-tm">
						모발의 밀도가 너무 낮아도, 너무 높아도 부자연스러워 보일 수 있기 때문입니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-hair">
						바노바기 헤어라인은 섬세한 잔머리 이식 기술과 입체적인 재배치로<br class="hidden-tm">
						<strong class="weight-medium">이목구비와 헤어라인의 자연스러운 조화를 통해 <span class="n-color-hair2">작은 얼굴 동안 효과를 경험</span>할 수 있습니다.</strong>
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/hair/woman/woman_img_2.jpg" loading="lazy" alt="바노바기 성형외과 헤어 성형모델" class="img-normal hidden-m">
						<img src="../../images/hair/woman/woman_img_2_m.jpg" loading="lazy" alt="바노바기 성형외과 헤어 성형모델" class="img-normal hidden-pt">
						<p class="new-style1__noti txt-new1">※ 이해를 돕기 위해 연출된 이미지 입니다.</p>
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">
								바노바기 헤어라인 이식의 <span class="weight-regular">특징</span>
							</h5>
							<ul class="img-style1__list type-half type-notit">
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_3.jpg" class="img-w100" loading="lazy" alt="">
									<h5 class="img-style1__subject txt-new2">작은 얼굴의 이미지 개선 효과</h5>
								</li>
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_4.jpg" class="img-w100" loading="lazy" alt="">
									<h5 class="img-style1__subject txt-new2">섬세한 잔머리 재배치 이식 기술</h5>
								</li>
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_5.jpg" class="img-w100" loading="lazy" alt="">
									<h5 class="img-style1__subject txt-new2">이목구비와 헤어라인의 자연스러운 조화</h5>
								</li>
								<li class="img-style1__item">
									<img src="../../images/hair/woman/woman_img_6.jpg" class="img-w100" loading="lazy" alt="">
									<h5 class="img-style1__subject txt-new2">이상적인 비율의 동안 효과</h5>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1 type-hair type-woman3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
					   넓은 이마, 더 이상 <span class="n-color-hair1 inline-block">감출 필요 없습니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						바람이 불면 가리기에 급급하고, 더운 여름에도 앞머리 없이는 안되는 넓은 이마,<br class="hidden-tm">
						더 이상 고민하지 말고 <mark class="mark-hair weight-medium">바노바기 이마축소 재배치로 당당하게 드러내세요!</mark><br class="hidden-tm">
						<strong class="weight-medium color-black1">넓고 각진 여성의 이마는 얼굴을 더 커 보이게 하고 남성적인 강한 이미지를 주는 요인</strong>이 될 수 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-hair2">
						이마가 넓거나 높아 얼굴 비율이 안 맞거나 탈모로 인해 이마가 넓어진 경우, <br class="hidden-tm">
						<strong class="weight-medium">비대칭 헤어라인을 가진 분들에게 <span class="n-color-hair1">바노바기 이마축소는 효과적</span>입니다.</strong>
					</p>
					<div class="new-style1__img">
						<img src="../../images/hair/woman/woman_img_7.jpg" loading="lazy" alt="" class="img-w100">
					</div>
				</div>
				<div class="outer-box type-white">
					<div class="inner-box type-woman">
						<h5 class="new-content-tit tit-new2">
							바노바기 <span class="weight-regular">맞춤 헤어라인 축소</span>
						</h5>
						<div class="step-style5 type-hair2 type-three">
							<ul class="step-style5__list">
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 01</h6>
									<img src="../../images/hair/woman/woman_step_5.jpg" loading="lazy" alt="STEP. 01" class="img-w100">
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 02</h6>
									<img src="../../images/hair/woman/woman_step_6.jpg" loading="lazy" alt="STEP. 02" class="img-w100">
								</li>
								<li class="step-style5__item">
									<h6 class="step-style5__subject txt-new2">STEP. 03</h6>
									<img src="../../images/hair/woman/woman_step_7.jpg" loading="lazy" alt="STEP. 03" class="img-w100">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="outer-box type-white">
					<div class="inner-box type-woman2">
						<h5 class="new-content-tit tit-new2">
							헤어라인 이마축소가 <span class="inline-block">필요한 경우</span>
						</h5>
						<div class="img-style1 type-inner">
						    <ul class="img-style1__list type-half">
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_8.jpg" class="img-w100" loading="lazy" alt="M자 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                M자 이마
						            </p>
						        </li>
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_9.jpg" class="img-w100" loading="lazy" alt="각진 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                각진 이마
						            </p>
						        </li>
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_10.jpg" class="img-w100" loading="lazy" alt="넓은 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                넓은 이마
						            </p>
						        </li>
						        <li class="img-style1__item">
						            <div class="img-style1__img">
						                <img src="../../images/hair/woman/woman_img_11.jpg" class="img-w100" loading="lazy" alt="비대칭 이마">
						            </div>
						            <p class="img-style1__subject txt-new2">
						                비대칭 이마
						            </p>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style1 type-hair type-woman5">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-hair1">바노바기 여성 헤어라인</span>은 잔머리가 더 예쁩니다
					</h4>
					<p class="new-style1__txt txt-new1">
						여성 헤어라인 교정의 핵심은 <mark class="mark-hair2">자연스러운 디테일</mark>입니다.<br>
						<span class="n-color-hair1">바노바기는 보다 정확하고 자연스러운 결과를 위해</span> 환자의 고유한 두피 상태, 모발의 상태와 밀도, 방향 등<br class="hidden-tm">
						여러 조건들을 고려하여 모낭을 채취하고, 섬세하게 이식합니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation weight-medium type-hair2">
						<span class="n-color-hair1">자연스러우면서도 아름다운 라인</span>을 위해 잔머리 이식에 특히 더 신경쓰기 때문에 만족도가 높습니다.
					</p>
					<p class="new-style1__txt txt-new1">
						헤어라인 이식 후에도 바노바기 <mark class="mark-hair2">1Year Care</mark>로 보다 차별화된 고생착 케어를<br class="hidden-tm">
						바노바기성형외과 모발이식 클리닉에서 받아 볼 수 있습니다.
					</p>
					<div class="hair-style1">
						<div class="hair-style1__area">
							<h5 class="hair-style1__tit tit-new3">이마<br class="hidden-tm"> 헤어라인<br class="hidden-tm"> 교정 대상</h5>
							<ul class="hair-style1__list">
								<li class="hair-style1__item nth-1">
									<img src="../../images/hair/woman/woman_circle_1.jpg" class="hair-style1__img img-w100" loading="lazy" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											자연스러운 헤어라인을<br>
											원하는 경우
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-2">
									<img src="../../images/hair/woman/woman_circle_2.jpg" class="hair-style1__img img-w100" loading="lazy" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											헤어라인이<br>
											불규칙한 경우
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-3">
									<img src="../../images/hair/woman/woman_circle_3.jpg" class="hair-style1__img img-w100" loading="lazy" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											각진 이마, M자 이마의 경우
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-4">
									<img src="../../images/hair/woman/woman_circle_4.jpg" class="hair-style1__img img-w100" loading="lazy" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											뼈 수술 없이<br>
											얼굴 축소 효과를 원하는 경우
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-5">
									<img src="../../images/hair/woman/woman_circle_5.jpg" class="hair-style1__img img-w100" loading="lazy" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">
											안면윤곽 수술 후<br>
											완성도를 높이기 원하는 경우
										</div>
									</div>
								</li>
								<li class="hair-style1__item nth-6">
									<img src="../../images/hair/woman/woman_circle_6.jpg" class="hair-style1__img img-w100" loading="lazy" alt="">
									<div class="hair-style1__box js-height txt-new1">
										<div class="hair-style1__wrap">넓고 높은 이마를 가진 경우</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="new-style1__img">
						<img src="../../images/hair/woman/woman_img_12.png" loading="lazy" alt="" class="img-w100">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-woman6">
					<div class="inner-box">
						<div class="hair-style2">
							<h5 class="new-content-tit tit-new2">모발이식 후 <strong class="weight-regular">1YEAR CARE</strong></h5>
							<div class="hair-style2__area">
								<div class="hair-growth">
									<div class="hair-growth__wrap">
										<div class="hair-growth__line"></div>
									</div>
								</div>
								<ul class="hair-style2__list js-scroll-motion">
									<li class="hair-style2__item" data-tab="is-high">
										<div class="hair-style2__header txt-new2 nth-4">
											<div class="hair-style2__wrap">
												1Year check<br>
												지속케어
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">화살표</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_4.jpg" class="img-w100" loading="lazy" alt="">
											<p class="hair-style2__txt txt-new1">
												수술 후<br>
												1, 3, 6, 12개월<br>
												케어
											</p>
										</div>
									</li>
									<li class="hair-style2__item" data-tab="is-middle">
										<div class="hair-style2__header txt-new2 nth-3">
											<div class="hair-style2__wrap">
												수술 후 4주 차
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">화살표</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_1.jpg" class="img-w100" loading="lazy" alt="">
											<p class="hair-style2__txt txt-new1">
												두피 스켈링<br>
												메조테라피<br>
												스마트룩스
											</p>
										</div>
									</li>
									<li class="hair-style2__item" data-tab="is-low">
										<div class="hair-style2__header txt-new2 nth-2">
											<div class="hair-style2__wrap">
												수술 후 10~14일 차
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">화살표</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_2.jpg" class="img-w100" loading="lazy" alt="">
											<p class="hair-style2__txt txt-new1">
												실밥제거
											</p>
										</div>
									</li>
									<li class="hair-style2__item is-active" data-tab="is-zero">
										<div class="hair-style2__header txt-new2 nth-1">
											<div class="hair-style2__wrap">
												수술 후 2일 차
											</div>
											<div class="hair-style2__right">
												<div class="hair-style2__arrow">화살표</div>
											</div>
											<a href="" class="hair-style2__btn">open/close</a>
										</div>
										<div class="hair-style2__body">
											<img src="../../images/hair/woman/woman_process_1.jpg" class="img-w100" loading="lazy" alt="">
											<p class="hair-style2__txt txt-new1">
												드레싱, 샴푸
											</p>
										</div>
									</li>
								</ul>
							</div>
							<p class="hair-style2__noti txt-new1">※ 메조테라피 및 추가적인 관리 방법에 따라 <span class="inline-block">별도 비용이 발생할 수 있습니다.</span></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-hair">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">조직 손상이 거의 없어 회복이 비교적 빠르고 통증이 적습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 4시간 (비절개/3,000모 기준)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취 (필요시 정맥마취)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 10~14일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술 재료</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">경과 및 관리 2회 내외</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-hair">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									모발 이식으로 인한 통증은 거의 없는 수술입니다.<br>
									모발 채취부위의 욱신거림이나 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
									많이 불편하신 분들께는 진통제 복용을 권유해드립니다. <br>
									약국에서 파는 진통제 정도로 제어할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
