<%
	type = "content"
	page = "hair"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<div class="content" data-page="hair-man">
		<div class="new-visual type-hairman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">자연스러움에서 되찾은 자신감</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-hair1">남성</span> 모발이식
                        </h3>
						<p class="new-visual__txt">티 나지 않는 풍성함으로 더 당당하게 </p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#맞춤모발이식</span></li>
							<li class="new-visual__item"><span>#후두부모낭채취</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section type-cling">
                <div class="new-style1 type-hairman">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        탈모로 인한 스트레스,<br class="hidden-m">
						바노바기가 덜어드리겠습니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        당신의 일상이 다시 평범하게 바뀔 수 있습니다.<br class="hidden-m">
						머리를 감고 말리고 스타일을 내는 것, <br class="hidden-m">
						누구에게나 평범한 일상이 탈모인에겐 스트레스 입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        바노바기는 <span class="n-color-hair1">탈모에 대한 전문적인 이해와 숙련된 노하우를 바탕으로<br class="hidden-m">
						탈모의 상태와 원인을 파악하여 맞춤형 모발이식 및 치료를 진행</span>합니다.<br><br>

						탈모의 형태는 개인마다 다르기 때문에<br class="hidden-m">
						유형에 맞춰 이식해야 할 모낭의 수와 수술법, 디자인 등<br class="hidden-m">
						경험이 풍부한 전문 의료진과의 상담을 통해 결정하여야 합니다.
                    </p>
					<p class="new-style1__txt txt-new1">
                        늦지 않았을까 걱정하지말고, 포기하지말고, 더 늦기 전에 빨리 시작하는 것이 좋습니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/hair/hairman/hairman_img_1.jpg" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>
                </div>
            </div>

			<div class="new-section type-cling">
				<div class="new-style1 type-pb type-hairman2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-hair5">맞춤 모발이식</span>,<br class="hidden-tm">
						어떤 각도에서도 자연스럽습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						정면, 측면, 어느 각도에서 봐도 자신 있습니다.<br class="hidden-m">
						바노바기의 남성 모발이식은 남자의 특성을 고려한 자연스러운 맞춤 모발이식입니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						모발이식은 단순히 후두부의 모발을 앞쪽으로 옮기는 것이 다가 아니라<br class="hidden-tm">
						섬세한 기술력과 노하우를 바탕으로 하는 수술입니다.<br><br>
						얼굴형을 고려하지 않는 단순한 모발이식은 부자연스러운 결과를 남깁니다.<br class="hidden-tm">
						따라서 <mark class="mark-hair"><span class="n-color-hair2 weight-regular">개개인의 얼굴형, 이마 모양, 선호하는 헤어스타일</span> 등</mark><br>
						<mark class="mark-hair"><span class="n-color-hair2 weight-regular">다양한 조건과 고유한 모발의 상태, 밀도 등을 고려</span>하여</mark><br>
						<mark class="mark-hair">채취한 모발을 최대한 자연스럽고 정교하게 재배치</mark> 하여야 합니다.
					</p>
					<p class="new-style1__txt txt-new1">
                        이러한 핵심 기술력을 갖춘 바노바기 맞춤 모발이식으로<br class="hidden-tm">
						마치 맞춤 정장을 입은 듯이 내 얼굴에 딱 맞게<br class="hidden-tm">
						어느 각도에서 봐도 자연스럽게 빈틈 없이 채워 더 좋은 결과를 얻을 수 있습니다.
                    </p>
				</div>
				<div class="new-style1 type-top0 type-bottom type-hairman3">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">디테일한 디자인의 차이</h5>
						<div class="img-style3 type-tablet-full">
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/hair/hairman/hairman_img_2.jpg" class="img-w100" loading="lazy" alt="이마 주름이 심한 경우">
									</div>
								</li>
								<li class="img-style3__item">
									<div class="img-style3__img">
										<img src="../../images/hair/hairman/hairman_img_3.jpg" class="img-w100" loading="lazy" alt="콧잔등과 눈가 주름이 심한 경우">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						남성 탈모 <span class="n-color-hair5">유형별 모발이식</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						탈모의 원인, 상태, 증상은 모두 다르기 때문에 개인에 맞게 적용하는 것이 중요합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						남성 모발이식은 이마 양끝에서 탈모가 시작되는 <strong class="weight-regular">M자형</strong>으로 시작하여<br class="hidden-m">
						헤어라인 전체가 점점 올라 이마가 넓어지는 <strong class="weight-regular">C자형</strong>,<br class="hidden-m">
						정수리부터 탈모가 시작되는 <strong class="weight-regular">O자형</strong>과<br class="hidden-m">
						이러한 형태가 같이 진행되는 <strong class="weight-regular">복합형</strong>으로 나눌 수 있습니다.
					</p>
					<p class="new-style1__txt txt-new1">
						모발이 점점 가늘어 지고 이마와 머리카락의 경계선이 뒤로 밀리면서<br class="hidden-m">
						이마가 넓어지고 머리 중심부에서도 탈모가 서서히 진행됩니다.<br><br>

						남성형 탈모는 계속 진행될 수 있기 때문에 더 진행되기 전에<br class="hidden-m">
						전문의와의 상담을 통해 진단받고 체계적으로 관리해야 합니다.
					</p>
					<div class="hair-man1">
						<h5 class="new-content-tit tit-new2">탈모 유형에 따른 맞춤 모발이식</h5>
						<div class="hair-man1__wrap">
							<div class="hair-man1__outer">
								<div class="hair-man1__inner">
									<a href="" class="hair-man1__btn type-prev js-hair-prev">이전</a>
									<a href="" class="hair-man1__btn type-next js-hair-next">다음</a>
								</div>
							</div>
							<ul class="hair-man1__list">
								<li class="hair-man1__item is-active">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_1_big.jpg" class="img-w100" alt="M자형">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">M자형</h6>
										<p class="hair-man1__txt txt-new1">헤어라인 높이는  알맞고 이마 양끝 모서리부터 M자로 패인 부분을 채우면 되는 경우</p>
									</div>
								</li>
								<li class="hair-man1__item">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_2_big.jpg" class="img-w100" alt="C자형">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">C자형</h6>
										<p class="hair-man1__txt txt-new1">헤어라인이 무너져 이마 안쪽까지 원형으로 빠진 형태로 헤어라인의 높이, 이마 모양을 고려하는 것이 포인트</p>
									</div>
								</li>
								<li class="hair-man1__item">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_3_big.jpg" class="img-w100" alt="O자형">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">O자형</h6>
										<p class="hair-man1__txt txt-new1">정수리 부분에서 둥글게 빠지는 형태로 가마를 복원하는 것이 중요한 포인트</p>
									</div>
								</li>
								<li class="hair-man1__item">
									<div class="hair-man1__img">
										<img src="../../images/hair/hairman/hairman_style_4_big.jpg" class="img-w100" alt="복합형">
									</div>
									<div class="hair-man1__box">
										<h6 class="hair-man1__tit txt-new2">복합형</h6>
										<p class="hair-man1__txt txt-new1">헤어라인과 정수리 탈모가 복합적으로 나타난 경우로 대용량  모발이식이 필요</p>
									</div>
								</li>
							</ul>
							<div class="hair-thumbnail1">
								<ul class="hair-thumbnail1__list">
									<li class="hair-thumbnail1__item js-thumbnail is-active" data-slide="0">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_1_small.jpg" class="img-w100" loading="lazy" alt="M자형">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">M자형</div>
											</div>
										</div>
									</li>
									<li class="hair-thumbnail1__item js-thumbnail" data-slide="1">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_2_small.jpg" class="img-w100" loading="lazy" alt="C자형">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">C자형</div>
											</div>
										</div>
									</li>
									<li class="hair-thumbnail1__item js-thumbnail" data-slide="2">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_3_small.jpg" class="img-w100" loading="lazy" alt="O자형">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">O자형</div>
											</div>
										</div>
									</li>
									<li class="hair-thumbnail1__item js-thumbnail" data-slide="3">
										<div class="hair-thumbnail1__img">
											<img src="../../images/hair/hairman/hairman_style_4_small.jpg" class="img-w100" loading="lazy" alt="복합형">
										</div>
										<div class="hair-thumbnail1__box">
											<div class="hair-thumbnail1__outer">
												<div class="hair-thumbnail1__inner txt-new2">복합형</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="new-style1 type-hairman4">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						모낭채취<br class="hidden-tm">
						어떠한 방식의 수술도 <span class="n-color-hair6">자신 있습니다</span>
					</h4>
					<p class="new-style1__txt txt-new2">
						모발이식을 위한 중요한 첫 단계, 바로 후두부 모낭 채취입니다. <br class="hidden-m">
						모낭 채취는 보통 절개방식이나 비절개 방식으로 수술하는데, 두 가지 방법 모두 장단점이 있기에 <br class="hidden-m">
						바노바기에서는 어느 한 가지 방식만 고집하지 않습니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						환자분과 충분한 상담과 교감을 통해 더 적절한 채취 방식을 권해드리고 그에 따른 맞춤 수술을 진행합니다.<br class="hidden-tm">
						수술 경험이 풍부한 이경구 원장님의 절개 수술은 꼼꼼하면서도 불편함이 적어 워낙 만족도가 높습니다.<br class="hidden-tm">
						이경구 원장님의 비절개 수술은 <mark class="mark-hair">완성도를 위해 아타스(ARTAS) 라고 하는 로봇을 이용하여 수술</mark>합니다.<br class="hidden-tm">
						<mark class="mark-hair">아타스 로봇 모발이식은 일반 비절개 수술의 단점을 보완한 수술 방법</mark>으로,<br class="hidden-tm">
						더 정확하게 모낭을 채취하고 흉터를 줄여 대량 모발이식에 대한 부담도 줄였습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/hair/hairman/hairman_img_2.png" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-hairman5">
					<div class="inner-box">
						<div class="img-style2 type-hair">
							<h5 class="new-content-tit tit-new2">바노바기 모발클리닉의 <strong class="weight-regular">특장점</strong></h5>
							<ul class="img-style2__list">
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_1.jpg" loading="lazy" alt="1:1 책임 집도" class="img-w100">
										<div class="img-style2__caption txt-new2">1:1 책임 집도</div>
									</div>
									<p class="img-style2__txt txt-new1">
										상담부터 채취,<br>
										이식 모든 과정을<br>
										전문의가 직접 집도
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_2.jpg" loading="lazy" alt="충분한 경험" class="img-w100">
										<div class="img-style2__caption txt-new2">충분한 경험</div>
									</div>
									<p class="img-style2__txt txt-new1">
										3,000례 이상의 임상경험과<br>
										기술력 및 노하우를<br>
										가진 전문 의료진
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_3.jpg" loading="lazy" alt="ARTAS  9X 로봇  보유" class="img-w100">
										<div class="img-style2__caption txt-new2">ARTAS  9X 로봇  보유</div>
									</div>
									<p class="img-style2__txt txt-new1">
										이경구 원장님의 경험과<br>
										아타스 로봇의 만남,<br>
										완성도 높은 비절개 수술 가능
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_4.jpg" loading="lazy" alt="디테일한 재배치" class="img-w100">
										<div class="img-style2__caption txt-new2">디테일한 재배치</div>
									</div>
									<p class="img-style2__txt txt-new1">
										얼굴 모양과 모발의 특성,<br>
										수술 방향 고려한<br>
										재배치 핵심 기술 보유
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_5.jpg" loading="lazy" alt="모발이식 전담팀" class="img-w100">
										<div class="img-style2__caption txt-new2">모발이식 전담팀</div>
									</div>
									<p class="img-style2__txt txt-new1">
										이경구원장님이 이끄는<br>
										숙련된 팀워크의<br>
										모발 전담팀 구성
									</p>
								</li>
								<li class="img-style2__item nth-1">
									<div class="img-style2__box">
										<img src="../../images/hair/hairman/hairman_advantage_6.jpg" loading="lazy" alt="수술 후  케어 책임 보증제" class="img-w100">
										<div class="img-style2__caption txt-new2">수술 후  케어 책임 보증제</div>
									</div>
									<p class="img-style2__txt txt-new1">
										필요한 경우에<br>
										환자에게 제공하는<br>
										케어 책임 보증제
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						모발이식 만큼이나 중요한 건<br class="hidden-tm">
						 <span class="inline-block"><span class="n-color-hair5">수술 후 관리</span> 입니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						탈모는 평생에 걸쳐 진행되는 것이므로 관리가 매우 중요합니다.<br class="hidden-tm">
						모발이식 결과는 이식 후 관리에 따라 시간이 지나면서 더욱 나타나기 때문입니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						바노바기 모발클리닉에서는 수술 후 <span class="n-color-hair5">1YEAR CARE</span>로
						보다 차별화된 모발 관리를 받아보실 수 있습니다.
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/hair/hairman/hairman_img_4.jpg" loading="lazy" alt="모발탈락기 -> 모발 생착기 -> 모발 성장기" class="img-normal hidden-m">
						<img src="../../images/hair/hairman/hairman_img_4_m.jpg" loading="lazy" alt="모발탈락기 -> 모발 생착기 -> 모발 성장기" class="img-normal hidden-pt">
					</div>
					<p class="new-style1__noti2 txt-new1">*모발이 빠지는 모발 탈락기, 이식의 성패를 좌우하는 모낭 생착기, 이식된 모발이 풍성해지는 모발 성장기</p>
				</div>
			</div>

			<div class="new-section">
				<div class="outer-box type-hair">
					<div class="inner-box type-hairman">
						<h5 class="new-content-tit tit-new2">
							모발이식 후 <span class="weight-regular">1YEAR CARE</span>
						</h5>
						<div class="care-style1">
							<div class="care-style1__line"></div>
							<ul class="care-style1__list">
								<li class="care-style1__item is-active">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">드레싱,샴푸</p></div>
									<p class="care-style1__txt txt-new2">2일차</p>
									<a href="" class="care-style1__link js-care">상세보기</a>
								</li>
								<li class="care-style1__item">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">실밥제거</p></div>
									<p class="care-style1__txt txt-new2">10 ~ 14일후</p>
									<a href="" class="care-style1__link js-care">상세보기</a>
								</li>
								<li class="care-style1__item">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">두피 스켈링/ 메조테라피 / 스마트룩스</p></div>
									<p class="care-style1__txt txt-new2">4주 후</p>
									<a href="" class="care-style1__link js-care">상세보기</a>
								</li>
								<li class="care-style1__item">
									<div class="care-style1__box txt-new2"><p class="care-style1__caption">수술 후 1,3,6,12개월</p></div>
									<p class="care-style1__txt txt-new2">1Year check 지속케어</p>
									<a href="" class="care-style1__link js-care">상세보기</a>
								</li>
							</ul>
						</div>
					</div>
					<p class="outer-box__noti txt-new1">* 메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 항상 고민하고 연구합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						보다 안심하고 편안하게 수술 받을 수 있도록 고민하고 생각합니다.<br class="hidden-tm">
						<mark class="mark-hair">보다 안전하고 깨끗하게 염증 및 감염의 가능성을 줄이도록 노력</mark>합니다.<br class="hidden-tm">
						보다 자연스럽고 풍성한 결과로 만족할 수 있도록 연구하고 또 연구합니다.<br><br>

						바노바기라면 안심하셔도 좋습니다.
					</p>

				</div>
				<div class="slide-style1">
					<h5 class="new-content-tit tit-new2">
						바노바기 <span class="inline-block">모발이식의 과정</span>
					</h5>
					<div class="slide-style1__wrap">
						<ul class="slide-style1__list js-center-slide">
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">디테일한 1:1 상담</h6>
									<p class="slide-style1__txt txt-new1">
										얼굴 형태, 탈모  진행 여부 등<br>
										상태 파악
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_1.jpg" loading="lazy" alt="디테일한 1:1 상담" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item is-next">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">개인 얼굴형에 맞는 디자인</h6>
									<p class="slide-style1__txt txt-new1">
										얼굴 전체 비율 측정, 면적 체크,<br>
										이상적인 라인 등 맞춤 디자인
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_2.jpg" loading="lazy" alt="개인 얼굴형에 맞는 디자인" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">모낭 채취</h6>
									<p class="slide-style1__txt txt-new1">
										손상 및 흉터를 최소화 하여<br>
										절개/비절개를 통한 모낭 채취
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_3.jpg" loading="lazy" alt="모낭 채취" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">모낭 분리</h6>
									<p class="slide-style1__txt txt-new1">
										숙련된 모낭분리 전문팀이<br>
										모낭 분리 작업
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_4.jpg" loading="lazy" alt="모낭 분리" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">모낭 이식</h6>
									<p class="slide-style1__txt txt-new1">
										모발의 각도와 방향, 모양과 균형,<br>
										밀도 등을 맞춰 모낭 이식
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_5.jpg" loading="lazy" alt="모낭 이식" class="img-w100">
									</div>
								</div>
							</li>
							<li class="slide-style1__item is-prev">
								<div class="slide-style1__box">
									<h6 class="slide-style1__tit txt-new2">사후 프로그램</h6>
									<p class="slide-style1__txt txt-new1">
										모발이식 후, 필요 시 스케일링,<br>
										메조테라피 등 시술 시행
									</p>
									<div class="slide-style1__img">
										<img src="../../images/hair/hairman/hairman_process_6.jpg" loading="lazy" alt="사후 프로그램" class="img-w100">
									</div>
								</div>
							</li>
						</ul>
						<a href="" class="slide-style1__btn type-prev js-center-prev">이전</a>
						<a href="" class="slide-style1__btn type-next js-center-next">다음</a>
					</div>
					<div class="slide-num1">
						<div class="slide-num1__wrap">
							<ul class="slide-num1__list">
								<li class="slide-num1__item nth-1">
									<div class="slide-num1__num txt-new2 weight-regualr">1</div>
									<p class="slide-num1__txt txt-new1">
										디테일한<br>
										1:1 상담
									</p>
								</li>
								<li class="slide-num1__item nth-2">
									<div class="slide-num1__num txt-new2 weight-regualr">2</div>
									<p class="slide-num1__txt txt-new1">
										개인 얼굴형에<br>
										맞는 디자인
									</p>
								</li>
								<li class="slide-num1__item nth-3">
									<div class="slide-num1__num txt-new2 weight-regualr">3</div>
									<p class="slide-num1__txt txt-new1">
										모낭 채취
									</p>
								</li>
								<li class="slide-num1__item nth-4">
									<div class="slide-num1__num txt-new2 weight-regualr">4</div>
									<p class="slide-num1__txt txt-new1">
										모낭 분리
									</p>
								</li>
								<li class="slide-num1__item nth-5">
									<div class="slide-num1__num txt-new2 weight-regualr">5</div>
									<p class="slide-num1__txt txt-new1">
										모낭 이식
									</p>
								</li>
								<li class="slide-num1__item nth-6">
									<div class="slide-num1__num txt-new2 weight-regualr">6</div>
									<p class="slide-num1__txt txt-new1">
										사후 프로그램
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-hair">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">조직 손상이 거의 없어 회복이 비교적 빠르고 통증이 적습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 4시간 (비절개/3,000모 기준)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취 (필요시 정맥마취)</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 10~14일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술 재료</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">경과 및 관리 2회 내외</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-hair">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									모발 이식으로 인한 통증은 거의 없는 수술입니다.<br>
									모발 채취부위의 욱신거림이나 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
									많이 불편하신 분들께는 진통제 복용을 권유해드립니다. <br>
									약국에서 파는 진통제 정도로 제어할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
