<%
	type = "detail-new"
	page = "hair"
%>
<% include ../_include/_header %>


<!-- Content -->
<div class="onepage type-detail">
	<div class="detail-section hair-section99" data-section-name="hair-section99">
		<div class="onepage-video">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt">디테일의 차이</p>
					<h3 class="onepage-video__tit">바노바기 모발이식</h3>
					<h4 class="onepage-video__subtit">풍성한 결과를 위한 정교한 재배치술</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<iframe src="https://player.vimeo.com/video/345377123?muted=1&amp;autoplay=1" class="onepage-video__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">상담신청</a>
					<div class="onepage-video__scroll"><img src="../../images/content/detail_scroll.png" class="img-w100" loading="lazy" alt="스크롤 - 아래로"/></div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section type-visual hair-section0" data-section-name="home">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual type-hair">
							<p class="detail-visual__tit">
								최대한<span class="n-color-hair4">자연</span>스럽게,<br class="hidden-pt"> <span class="n-color-hair4">정교</span>하게, <span class="n-color-hair4">건강</span>하게
							</p>
							<h3 class="detail-visual__txt">
								풍성한 결과를 위한 정교한 재배치 기술<br>
								<strong class="detail-visual__point">바노바기 <span class="n-color-hair4">모발이식</span> 디테일</strong>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="detail-section hair-section1" data-section-name="hair-section1">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail1__tit">
								<storng class="weight-regular">모발이식<span class="n-color-hair3">,</span></storng><br>
								바노바기는<br>
								<span class="n-color-hair1">이렇게</span> 합니다
							</h4>
							<p class="onepage__subtit hair-detail1__subtit">
								3,000례 이상 수술 경험의 외과 전문의
							</p>
							<p class="onepage__txt hair-detail1__txt">
								모발이식 수술 분야의 권위자로 통하는 이경구 원장은 지금까지 3,000례 이상 수술을 집도한  베테랑입니다.<br class="hidden-tm">
								모발이식 수술에 대한  집요한 연구와 열정으로,  어떻게 하면 더 자연스럽고 정교하고, 건강하게 유지될 수 있을까- 고민을 놓지 않습니다.<br class="hidden-tm">
								모발이식에 대한  궁금증, 편견, 두려움, 의구심이 있으시다면 우선 이경구 원장과의 상담부터 권해드립니다.<br class="hidden-tm">
								이경구 원장의 <span class="n-color-hair1">뛰어난 실력과  숙련된 스텝들의 호흡으로 완성도 높은 모발이식의 세계를 경험하세요.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section2" data-section-name="hair-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail2__tit">
								<storng class="weight-regular">모발이식<span class="n-color-hair2">,</span></storng><br>
								<span class="n-color-hair2">절개-비절개</span>를<br>
								먼저 묻지 않습니다
							</h4>
							<p class="onepage__subtit hair-detail2__subtit">
								모발 채취 방법보다 더 중요한 것은 모발의 재배치
							</p>
							<p class="onepage__txt hair-detail2__txt">
								모발이식을 이야기할 때 보통 “절개법이 더 좋은가요, 비절개법이 좋은가요?”라는 질문을 많이 받습니다.<br class="hidden-tm">
								모발이식 수술에서 절개냐, 비절개냐는 두 번째 질문이 되어야 합니다.<br class="hidden-tm">
								절개냐 비절개냐를 구분하는 것은 채취 방법의 차이일 뿐, 사실 숙련된 의사에게 크게 중요지 않습니다.<br class="hidden-tm">
								바노바기에서는 어떻게 채취하느냐가 아니라 어떻게 이식하느냐에 더 집중합니다. 비절개법이나 절개법 모두 장단점이 있기에 이를 <span class="n-color-hair2">환자에게 충분히 설명하고, 환자에게 더 필요한, 더 좋은 결과를 위한 채취 방법</span>을 제안해드립니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section3" data-section-name="hair-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail3__tit">
								<storng class="weight-regular">모발이식<span class="n-color-hair3">,</span></storng><br>
								바노바기는<br>
								<span class="n-color-hair1">정교하게 재배치</span>합니다
							</h4>
							<p class="onepage__subtit hair-detail3__subtit">
								같은 모수를 채취해도<br>
								어떻게 재배치 하느냐에 따라 달라지는 결과
							</p>
							<p class="onepage__txt hair-detail3__txt">
								모발이식에서 중요한 핵심 기술은  채취한 모발을 이식하는 것,<br class="hidden-tm">
								더 정확하게 표현하자면 모발을 재배치하는 것입니다.<br class="hidden-tm">
								사람마다 고유한 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.<br class="hidden-tm">
								이런 <span class="n-color-hair1">디테일한 조건을 고려하여 진단하고, 채취한  모발을  최대한 자연스럽고 정교하게 재배치</span> 해야 합니다.
								숙련된 의료진과 스텝들의 정교한 수술 실력이 더 풍성하고 균일한
								모발을 만듭니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section4" data-section-name="hair-section4">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail4__tit">
								<storng class="weight-regular">모발이식,</storng><br>
								<span class="n-color-hair2">건강하게 생착</span>하도록<br>
								관리합니다
							</h4>
							<p class="onepage__subtit hair-detail4__subtit">
								수술 후 더 중요한 두피관리, 바노바기 기술력 총동원
							</p>
							<p class="onepage__txt hair-detail4__txt">
								수술 후 생착률이 얼마나 될까  하는 걱정 때문에 모발이식을 망설이는 분들이 많습니다.<br class="hidden-tm">
								지금부터 걱정하실 필요는 없습니다.<br class="hidden-tm">
								모발이식은 탈모치료의 시작일 뿐입니다.<br class="hidden-tm">
								이식한 모발이 더 건강하고 오래 생착 할 수 있도록  바노바기에서는 수술 후  철저한 두피 관리 프로그램을 컨설팅해드립니다.
								바노바기에서는 자체 보유하고 있는 줄기세포 시설에서 채취, 분리한 줄기세포 를 공급하는 등 <?php echo $sinceYear; ?>년 경험의 바노바기
								<span class="n-color-hair2">노하우와 기술력을 모두 동원하여 더 좋은 결과를 위해 관리</span>해드립니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section5" data-section-name="hair-section5">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail5__tit">
								<storng class="weight-regular">모발이식<span class="n-color-hair3">,</span></storng><br>
								<span class="n-color-hair1">모낭(毛囊) 단위</span>로<br>
								수술합니다
							</h4>
							<p class="onepage__subtit hair-detail5__subtit">
								모발이식은 모(毛)가 아니라 모낭(毛囊)을 이식하는 수술
							</p>
							<p class="onepage__txt hair-detail5__txt">
								모발이식 수술은 모낭을 채취하여 분리하고 이식하는 수술입니다.<br class="hidden-tm">
								하나의 모낭에서 한 개의 모가 있을 수도 있고,<br class="hidden-tm">
								세 개의 모가 자라기도 합니다.<br class="hidden-tm">
								그래서 모발이식 수술을 할 때는 몇 모인가를 기준으로 삼지 말고,
								몇 개의 모낭인가를 염두에 두는 것이 좋습니다.<br class="hidden-tm">
								2,000모 시술이라고 했을 때, 이것이 2천 개의 모낭인지, 2천 개의 모발인지 잘 구분해야 합니다.<br class="hidden-tm">
								바노바기에서는 <span class="n-color-hair1">모낭단위로 상담하고 수술하기 때문에 환자분들과 정확하게 소통하고 수술 결과를 예측</span>합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section6" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair3">
							<h4 class="onepage__tit hair-detail6__tit">
								<storng class="weight-regular">모발이식<span class="n-color-hair4">,</span></storng><br>
								바노바기는
								<span class="n-color-hair4">디테일</span>합니다
							</h4>
							<p class="onepage__subtit hair-detail6__subtit">
								얼굴의 모양과 균형, 채취한 모발의 각도와 밀도 등<br>
								모든 것을 고려하는 이식술
							</p>
							<p class="onepage__txt hair-detail6__txt">
								숙련된 의료진의 수술 결과가 다를 수 밖에 없는 이유는  모든 디테일한 요소들을 놓치지 않기 때문입니다.<br class="hidden-tm">
								바노바기 성형외과는 모발이식 권위자 이경구 원장의 책임 진료 하에   능숙하고 숙달된 스텝들이 상담부터, 채취, 이식, 그리고 수술 후 관리에 이르는 모든 과정에서 빈틈없이 디테일한 결과를 약속합니다.<br class="hidden-tm">
								특히 <span class="n-color-hair4">환자 개개인의 얼굴 모양에 맞춰 조화로운 디자인을 제시하고,
								채취한 모낭을 세심하게 분리하여, 깊이와 각도, 밀도 등을 고려한 시술</span>이야 말로 바노바기 모발이식 전담팀의 자부심입니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section type-visual hair-section7 detail-doctor" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-doctor__wrap">
							<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Special</span> Surgery</p>
							<h4 class="detail-doctor__tit">바노바기의 디테일한 <span class="weight-medium detail-doctor__highlight">스페셜성형전담팀</span></h4>
							<ul class="detail-doctor__list">
								<% for(var i = 1; i<= 9; i++){%>
									<li class="detail-doctor__item js-doctor-hover">
										<div class="detail-doctor__area">
											<a href="" class="detail-doctor__link">바로가기</a>
											<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
											<div class="detail-doctor__outer">
												<div class="detail-doctor__inner">
													<div class="detail-doctor__vertical">
														<p class="detail-doctor__department">성형외과전문의</p>
														<p class="detail-doctor__name">반재상<span class="detail-doctor__small">원장님</span></p>
													</div>
												</div>
											</div>
										</div>
									</li>
								<%}%>
							</ul>
							<p class="detail-doctor__noti">※ 의료진을 <span class="weight-medium">클릭</span>하면 <span class="weight-medium">소개페이지로 이동</span>합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
