@charset "utf-8";
@import "mixins";
.cookie{
    $this:&;
    &__head{padding-bottom:36px; box-sizing:border-box; border-bottom:1px solid #c4c4c4;}
    &__tit{margin-top:64px;}
    &__subject{margin-top:24px; color:$black2;
        & + #{$this}__txt{margin-top:4px;}
    }
    &__txt{margin-top:24px;
        & + #{$this}__subject{margin-top:64px;}
    }
    &__list{margin:36px 0 0 -20px; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{float:left; width:25%; padding-left:20px; list-style:none; box-sizing:border-box;}
    &__box{padding:80px 0; border:1px solid #cccccc; box-sizing:border-box; text-align:center;}
    &__icon{display:block; margin:0 auto 40px;}
    &__link{display:inline-block; width:200px; height:50px; text-decoration:none; border-radius: 25px; background-color:#000; color:#fff;
        &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        span{position:relative; display:inline-block; padding-right:16px; vertical-align:middle; box-sizing:border-box;
            &:after{position:absolute; top:0; bottom:0; right:0; display:block;  width:6px; height:7px; margin:auto 0; background:url('../images/membership/cookie/cookie_arrow.png') no-repeat center center / contain; content:'';}
        }
    }
    @media only screen and (max-width: $tablet-size){
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
    }
    @media only screen and (max-width: $mobile-size){
        &__head{padding-bottom:24px;}
        &__tit{margin-top:24px;}
        &__subject{margin-top:20px;}
        &__txt{margin-top:20px;
            & + #{$this}__subject{margin-top:24px;}
        }
        &__list{margin:20px 0 0 -10px;}
        &__item{padding-left:10px;
            &:nth-child(2) ~ &{margin-top:10px;}
        }
        &__icon{margin-bottom:20px;}
        &__link{width:120px; height:26px;border-radius: 13px;
            span{ padding-right:0px;
                &:after{display:none;}
            }
        }
        &__box{padding:34px 0;}
    }
}
