<%
	type = "content"
	page = "chest"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="chest-accessory">
		<div class="new-visual type-accessory">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">재발까지 예방하는 보다 정확한 원인 개선</p>
						<h3 class="new-visual__tit"><span class="n-color-chest2">부유방</span>교정</h3>
						<p class="new-visual__txt">가슴과 팔로 이어지는 매끄러운 겨드랑이 라인</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#피부질환예방</span></li>
							<li class="new-visual__item"><span>#자연스러운라인</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-accessory">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						부유방은 불편함을 동반하는<br class="hidden-tm">
						<span class="n-color-chest2">신체 콤플렉스</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						부유방이란 해부학적으로 본래 가슴이 아닌 부위에 가슴과 같은 발달이 나타난 증상을 얘기합니다.<br class="hidden-tm">
                        흔히 가슴과 인접한 위치에 형성되며, 특히 겨드랑이 부위에 볼록하게 살이 올라온 형태를 하는 경우가 많죠.<br class="hidden-tm">
                        때문에 부유방은 가슴과 겨드랑이의 경계를 모호하게 만들고,<br class="hidden-tm">
                        <span class="color-black1">심한 경우에는 살이 처지거나 유두와 같은 조직이 발생하여 콤플렉스의 원인</span>이 됩니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						또, 단순히 미적 불만족뿐 아니라 <span class="n-color-chest2">멍울이 만져지거나, 통증, 피부 접힘으로 인한 피부 질환 등 일상 생활의<br class="hidden-tm">
                        불편함</span>을 줄 수도 있기 때문에 그 정도가 심한 경우라면 부유방 교정을 생각해볼 수 있습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/chest/accessory/accessory_img_1.png" loading="lazy" alt="바노바기 성형외과 부유방 성형모델" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->
			<div class="new-section type-cling">
				<div class="outer-box">
					<div class="inner-box">
                        <div class="new-description type-pd0">
							<h5 class="new-content-tit tit-new2 type-description">
                                다양한 스트레스를 유발하는 <span class="weight-regular">부유방</span>
                            </h5>

							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										유독 볼록하게 튀어나온 겨드랑이로 인한 콤플렉스
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										월경 주기나 호르몬 영향에 따른 겨드랑이 통증
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										딱딱하게 만져지는 겨드랑이 멍울
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										피부 접힘으로 인한 피부 질환
									</p>
								</li>
                                <li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										유두와 비슷한 형태의 조직 발달
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-accessory2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">단순히 지방이 축적되는 증상이 아닙니다</h4>
                    <p class="new-style1__txt txt-new1">
                        겨드랑이에 살이 많다면 모두가 부유방일까요?<br class="hidden-tm">
                        부유방에 대한 전문적인 지식이 없는 대다수의 환자분들은 단순 겨드랑이 지방과 부유방의 차이를 구분하기가 쉽지 않습니다.<br class="hidden-tm">
                        특별한 증상이 없다면 겨드랑이에 살이 쪘다고만 생각하여 다이어트를 먼저 생각하는 경우가 많죠.<br class="hidden-tm">
                        하지만 의학적인 관점에서 부유방은 일반적인 지방의 축적과는 그 원인부터 다릅니다.<br><br>

                        원래 유방을 형성시키는 유선은 태아 시기에 겨드랑이부터 사타구니까지 넓은 부위에 존재하며,<br class="hidden-tm">
                        이후 태어날 시기가 임박하면 가슴이 될 부위 외의 유선들은 퇴화되어 사라지는 것이 일반적입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        하지만 간혹 <span class="n-color-chest3">퇴화되어야 할 유선들 중 일부는 퇴화되지 않고 남는 경우</span>가 있습니다.<br class="hidden-tm">
                        이것이 부유방 발달의 원인이 되는 것이죠.
                    </p>
                    <div class="new-style1__img">
                        <img src="../../images/chest/accessory/accessory_img_2.jpg" loading="lazy" alt="바노바기 성형외과 가슴 모델" class="img-normal"/>
                    </div>
                    <div class="inner-box">
                        <div class="img-style3 type-three type-cling type-chest">
                            <h5 class="new-content-tit tit-new2">
                                부유방의 <span class="weight-regular">원인</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/chest/accessory/accessory_img_3.jpg" loading="lazy" alt="퇴화되어야 할 유선조직이 겨드랑이 및 주변 부위에 남음" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            퇴화되어야 할 유선조직이
                                            겨드랑이 및 주변 부위에 남음
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/chest/accessory/accessory_img_4.jpg" loading="lazy" alt="성호르몬의 분비의 영향을 받아 유방이 발달되듯 부유방도 발달" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            성호르몬의 분비의 영향을
                                            받아 유방이 발달되듯
                                            부유방도 발달
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/chest/accessory/accessory_img_5.jpg" loading="lazy" alt="지방조직과 유선조직 등 유방의 구조와 흡사한 특징을 가짐" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            지방조직과 유선조직 등
                                            유방의 구조와 흡사한
                                            특징을 가짐
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-accessory3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        보다 정확한 진단으로<br class="hidden-tm">
                        <span class="n-color-chest2">재발까지 예방</span>해야 합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        발생 원인을 보면 알 수 있듯이 부유방은 말 그대로 또 다른 유방과 같습니다.<br class="hidden-tm">
                        월경 또는 임신 시에 그 크기가 달라지고 통증을 동반하는 등 일반적인 유방과 비슷한 특징을 가지며, 그 구성 또한 지방과 함께<br class="hidden-tm">
                        유선조직들을 가지고 있는 경우가 많습니다. 때문에 <span class="color-black1">부유방 교정은 지방조직과 유선조직을 동시에 제거하는 것이 핵심</span>입니다.<br class="hidden-tm">
                        단순히 지방량을 줄이는 방법만으로는 유선조직들이 제거되지 않아 그 효과가 크지 않고 부유방이 재발할 가능성이 높죠.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        그래서 <span class="n-color-chest2">바노바기는 초음파 지방 흡입기와 라이포메틱 진동식 지방 흡입기 같은 전문 기기를 통해 부유방 교정을
                        진행</span>합니다. 이 장비들은 순수 지방 성분뿐만 아니라 유선조직을 함께 잡아낼 수 있기 때문에 부유방 개선에
                        보다 효과적입니다. 또한 부드럽고 섬세한 조절이 가능하여 조직의 불필요한 손상을 줄일 수 있고, 겨드랑이
                        주름을 통해 수술의 흔적 또한 거의 남지 않기 때문에 환자분들의 부담 또한 줄어든다는 장점이 있습니다.
                    </p>
                    <div class="inner-box">
                        <div class="img-style1">
							<h5 class="new-content-tit tit-new2">
								보다 효과적인 <span class="weight-regular">바노바기 부유방 교정</span>
							</h5>
                            <div class="inner-circle type-chest type-mbig type-cling">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											순수 지방뿐만
                                            아니라 유선조직까지
                                            함께 개선하여
                                            보다 효과적
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											호르몬의 영향을
                                            받는 유선조직을
                                            감소시켜 재발을
                                            예방
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											보다 부드럽고
                                            섬세한 컨트롤로
                                            조직의 불필요한
                                            손상 방지
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											겨드랑이 주름을
                                            통한 교정으로
                                            수술의 흔적
                                            거의 없음
										</div>
									</li>
								</ul>
							</div>

							<ul class="img-style1__list type-mt">
								<li class="img-style1__item">
									<img src="../../images/chest/accessory/accessory_img_6.jpg" class="img-w100" loading="lazy" alt="바노바기 성형외과 반재상 원장"/>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div><!--//new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-accessory4">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-chest3">상대적인 조화</span>를 고려하여 보다<br class="hidden-tm">
                        만족스럽습니다
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        부유방의 제대로 된 교정만큼이나 중요한 것이 교정 후의 형태입니다.<br class="hidden-tm">
                        인체는 각 부위가 연결되어 상대적인 조화를 이루기 때문에, <span class="n-color-chest3">한 부위에 변화를 줄 때에도<br class="hidden-tm">
                        전체적인 균형을 고려</span>해야 하기 때문입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        바노바기는 바디 성형과 가슴 성형을 아우르는 심미안과 오랜 지방 흡입 기술을 통해 보다 자연스러운 부유방 교정을 추구합니다.<br class="hidden-tm">
                        <span class="color-white">교정 후 볼록함이 남거나 반대로 파인 듯한 형태가 되지 않도록 교정량을 정밀히 조절하며,<br class="hidden-tm">
                        남은 조직들이 울퉁불퉁해지지 않도록 고르게 교정</span>하죠.<br class="hidden-tm">
                        또, 필요한 경우라면 겨드랑이와 연결된 팔뚝의 지방을 동시에 개선하여 보다 매끄럽고 만족스러운 라인 형성을 기대할 수 있습니다.
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-wide type-cling type-chest">
                            <h5 class="new-content-tit tit-new2">
                                개개인의 신체 조화를 생각하는 <span class="weight-regular">복합적인 교정</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/chest/accessory/accessory_img_7.jpg" loading="lazy" alt="보다 고르고 세밀한 교정으로 더욱 매끄럽고 자연스러운 라인, 개개인 신체 특징에 맞는 적절한 교정, 필요한 경우 팔뚝 지방 흡입이 더해져 더욱 만족스러운 결과" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            바디 성형과 가슴 성형을 아우르는 심미안과 오랜 지방 흡입 기술을 갖춘 바노바기
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

            <div class="new-section">
                <div class="bg-style1 type-chest">
                    <div class="bg-style1__wrap">
                        <div class="bg-style1__area">
                            <div class="bg-style1__outer">
                                <div class="bg-style1__box">
                                    <p class="bg-style1__txt txt-new2">
                                        부유방제거의 경우 환자분들의 가장 큰 고민은 수술 후 흉터에 대한 것입니다.
                                    </p>
                                    <h4 class="bg-style1__tit tit-new4">
                                        바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-chest3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
                                        <span class="n-color-chest3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--//new-section-->

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 후 <span class="color-black1">욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화</span>됩니다.<br>
		                            수술 부위에 평소보다 얼얼한 느낌이 들 수 있습니다.<br>
		                            수술 후 일정 기간 동안은 팔을 높이 들거나 벌리는 등 겨드랑이가 팽창되는 동작은 하지 않는 것이 좋습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

            <div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>
					<ul class="bg-style2__list">
						<li class="bg-style2__item type-fat">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">부위별 지방 흡입</h5>
									<p class="bg-style2__txt txt-new1">
										부유방을 교정하면서 팔뚝이나 복부와 같은 주변 부위들에 대한 지방 흡입이<br class="hidden-tm">
                                        더해진다면 보다 자연스럽고 만족스러운 결과를 얻을 수 있습니다
									</p>
									<a href="/body/bodyPartFat.php" class="bg-style2__btn txt-new1">
										<span>부위별 지방 흡입 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
