<%
	type = "detail"
	page = "chest"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_checkup %>

<!-- Content -->
<!-- 가슴검진팝업시작 -->
<!-- <a href="" class="chset-tag">
	<img src="../../images/common/popup/popup_chest_tag.png" class="img-noraml hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest_tag_m.png" class="img-noraml hidden-pt"alt=""/>
</a>
<div class="chest-popup">
	<img src="../../images/common/popup/popup_chest_1.png" class="img-w100 hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest_1_m.png" class="img-w100 hidden-pt"alt=""/>
	<div class="chest-popup__wrap">
		<img src="../../images/common/popup/popup_chest_2.png" class="img-w100 hidden-m"alt=""/>
		<img src="../../images/common/popup/popup_chest_2_over.png" class="img-w100 hidden-m chest-popup__over"alt=""/>
		<img src="../../images/common/popup/popup_chest_2_m.png" class="img-w100 hidden-pt"alt=""/>
		<a href="" class="chest-popup__btn">검진예약 바로가기</a>
	</div>
	<a href="" class="chest-popup__close">닫기</a>
	<img src="../../images/common/popup/popup_chest_3.png" class="img-w100 hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest_3_m.png" class="img-w100 hidden-pt"alt=""/>
	<div class="chest-db">
		<div class="chest-db__area">
			<div class="chest-terms">
				<div class="chest-terms__area">
					<div class="chest-terms__wrap">
						<a href="" class="chest-db__close js-c-terms-close">닫기</a>
						<div class="chest-terms__outer">
							<div class="chest-terms__inner">
								<p class="chest-terms__tit">개인정보 취급방침</p>
								<div class="chest-terms__box">
									<div class="chest-terms__body">
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
									</div>
								</div>
								<p class="chest-terms__tit">개인정보 수집 및 이용 동의</p>
								<div class="chest-terms__box">
									<div class="chest-terms__body">
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="chest-db__wrap">
				<a href="" class="chest-db__close js-c-db-close">닫기</a>
				<p class="chest-db__tit">유방 검진 예약</p>
				<p class="chest-db__txt">바노바기 성형외과 전문 상담원이 <span class="inline-block">친절히 검진 상담을 도와드리겠습니다.</span></p>
				<div class="chest-db__box">
					<div class="chest-db__header"><div class="chest-db__rel">이름</div></div>
					<div class="chest-db__body">
						<input class="chest-db__input" type="text" placeholder="이름을 입력해 주세요.">
					</div>
				</div>
				<div class="chest-db__box">
					<div class="chest-db__header"><div class="chest-db__rel">연락처</div></div>
					<div class="chest-db__body">
						<input class="chest-db__input" type="tel" placeholder="휴대폰 번호를 입력해 주세요.">
					</div>
				</div>
				<div class="chest-db__box type-radio">
					<div class="chest-db__header"><div class="chest-db__rel">수술병원</div></div>
					<div class="chest-db__body">
						<div class="chest-db__radio">
							<input type="radio" name="hospital" id="hospital1" value="본원" class="chest-radio" checked>
							<label for="hospital1" class="">본원</label>
						</div>
						<div class="chest-db__radio">
							<input type="radio" name="hospital" id="hospital2" value="타병원" class="chest-radio">
							<label for="hospital2" class="">타병원</label>
						</div>
					</div>
				</div>
				<div class="chest-db__box">
					<div class="chest-db__header"><div class="chest-db__rel">수술시기</div></div>
					<div class="chest-db__body">
						<input class="chest-db__input" type="text" placeholder="년,월8자리를 입력해 주세요. ex)20150512">
					</div>
				</div>
				<div class="chest-db__box">
					<div class="chest-select">
						<div class="chest-db__header"><div class="chest-db__rel">수술보형물</div></div>
						<div class="chest-db__body">
							<div class="chest-select__wrap">
								<a href="#" class="chest-select__tit">수술보형물을 선택해 주세요.</a>
							</div>
						</div>
						<ul class="chest-select__list">
							<li class="chest-select__item js-mouse-over">앨러간</li>
							<li class="chest-select__item js-mouse-over">멘토</li>
							<li class="chest-select__item js-mouse-over">벨라젤</li>
							<li class="chest-select__item js-mouse-over">모티바</li>
							<li class="chest-select__item js-mouse-over">기타/알수없음</li>
						</ul>
					</div>
				</div>
				<div class="chest-db__bottom">
					<div class="chest-db__check">
						<input type="checkbox" name="chkAgree" id="chest-check1" class="chest-check"><label for="chest-check1">개인정보 수집 및 이용 동의(필수)</label>
						<a href="" class="chest-db__terms">[자세히 보기]</a>
					</div>
					<div class="chest-db__check">
						<input type="checkbox" name="chkAgree" id="chest-check2" class="chest-check"><label for="chest-check2">SMS 수신 동의</label>
					</div>
					<button type="submit" class="chest-db__btn js-mouse-over">유방 검진 신청</button>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- //가슴검진팝업끝 -->
<div class="chest detail-common">

    <section class="fs_section chestFirst js-first" data-section-name="home">
		<!--메인팝업-->
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-chest">
					<span class="color-chest0">같은</span> 보형물,<span class="color-chest0">다른</span> 결과,<br class="hidden-p"> <span class="detail__first-piece"><span class="color-chest0">그 차이에 대한</span> 자신감</span>
				</p>
				<h3 class="detail__first-txt">
					<span class="detail__first-bwrap">자연스러움을 더한<b class="detail__first-bar"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-chest1">가슴성형</span> 디테일<span class="color-chest1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section chestSection01" data-section-name="chestSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-another">
	              	<h4 class="detail__section-tit">
	                	<strong>가슴성형</strong>,<br>
						<span class="detail__section-bwrap">바노바기는</span><br>
						<strong class="color-chest2">이렇게</strong> 합니다
	              	</h4>
	              	<p class="detail__section-subtit">환자가 함께 이해하고<br class="hidden-pt"> 만족하는 수술</p>
	              	<p class="detail__section-txt">
						가슴 성형은 크기나 모양 외에도 촉감, 활동성, 환자의 상태, 보형물의 적합성 등 고려해야 할 요소가 많은 수술입니다.
						보다 만족스러운 결과를 위해서는 환자가 이런 요소들을 이해하는 것이 중요하죠.
						바노바기는 <span class="color-chest3">면밀한 상담을 통해, 환자가 수술 방향을 이해하고 능동적으로 선택</span>할 수 있도록 합니다.
						같은 이해를 가지고 이상적인 결과를 생각하기에 결과는 더욱 만족스럽습니다.
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>바노바기의 가슴 상담</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
		<div class="detail__popup-m">
			<h5 class="detail__popup-m__tit">가슴상담<span class="color-chest1">.</span></h5>
			<ul class="detail__popup-m__list">
				<li class="detail__popup-m__item">- 절개위치</li>
				<li class="detail__popup-m__item">- 모양</li>
				<li class="detail__popup-m__item">- 촉감</li>
				<li class="detail__popup-m__item">- 보형물의 선택</li>
			</ul>
		</div>
    </section>

    <section class="fs_section chestSection02" data-section-name="chestSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup is-active">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">보형물 제조사<span class="color-chest1">.</span></h5>
					<p class="detail__popup-subtit">바노바기에서 선택할 수 있는<br class="hidden-pt"> 다양한 보형물을 선택하실 수 있습니다.</p>
					<ul class="detail__logo-list">
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-1">MOTIVA</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-2">POLYTECH</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-7">EUROSILICONE</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-3">SILIMED</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-4">ALLERGAN</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-5">SEBBIN</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-6">MENTOR</span>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
  			<div class="detail__section-wrap">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right">
						<h4 class="detail__section-tit">
							<strong>가슴성형</strong>,<br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-chest4">앞서</strong>나갑니다
						</h4>
						<p class="detail__section-subtit">트렌드를 주도하는 바노바기 가슴 성형</p>
						<p class="detail__section-txt">
							더 안전하고, 자연스럽고, 아름답기 위해, 가슴 성형에 사용되는 보형물들은 계속 다양해지고 있습니다.
							그만큼 새로운 보형물의 특성을 정확히 파악하고 적용하는 것이 중요해졌죠.
							바노바기는 <span class="color-chest5">2000년 개원 이후, 거의 모든 가슴 성형 보형물들을 능숙하게 다루며 각 보형물에 맞는 수술법을 고안</span>해왔습니다.
							발전된 기술의 발 빠른 적용, 만족스러운 바노바기 가슴 성형의 비결입니다.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom">
			<div class="detail__section-set">
				바노바기에서 선택할 수 있는<br class="hidden-pt"> 보형물 제조사
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection03" data-section-name="chestSection03">
		<div class="detail__inner">
  			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-quotation2">
					<h4 class="detail__section-tit">
						<strong>가슴성형</strong>,<br>
						<span class="detail__section-bwrap">바노바기는</span><br>
						<strong class="color-chest6">병원답게</strong>합니다
					</h4>
					<p class="detail__section-subtit">진정한 가슴 건강을 추구하는 진료 시스템</p>
					<p class="detail__section-txt">
						병원의 기본은 환자의 건강을 생각하는 마음입니다.
						그래서 바노바기의 가슴 성형은 단순히 미용만을 위한 한 번의 수술로 끝나지 않습니다.
						<span class="color-chest3">전문 장비를 통해 유방 검진을 정밀히 진행하고, 필요한 경우 종양 제거 수술까지도 가능</span>합니다.
						스페셜 종합 검진과 수술, 수술 후 케어, 그리고 정기 검진까지. 바노바기 가슴 성형은 이 모든 과정을 책임집니다.
					</p>
				</div>
				<div class="layer-doc hidden-m"><!-- pc용 -->
					<h5 class="layer-doc__tit">바노바기 가슴 진료 시스템</h5>
					<ul class="layer-doc__list">
						<li class="layer-doc__item">가슴 진단</li>
						<li class="layer-doc__item">정밀검사</li>
						<li class="layer-doc__item">수술</li>
						<li class="layer-doc__item">수술 후 케어</li>
						<li class="layer-doc__item">정기검진</li>
					</ul>
				</div>
  			</div>

  		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m">
			<div class="layer-doc hidden-pt">
				<h5 class="layer-doc__tit">바노바기 가슴 진료 시스템</h5>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">가슴 진단</li>
					<li class="layer-doc__item">정밀검사</li>
					<li class="layer-doc__item">수술</li>
					<li class="layer-doc__item">수술 후 케어</li>
					<li class="layer-doc__item">정기검진</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>바노바기 가슴 진료 시스템</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection04" data-section-name="chestSection04">
		<div class="detail__inner">
    		<div class="detail__vertical">
  				<div class="detail__section-box type-center">
  					<h4 class="detail__section-tit">
  						<strong>가슴성형</strong>,<br>
  						<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
  						<strong class="color-chest6">더 짧게</strong> 합니다
  					</h4>
  					<p class="detail__section-subtit">수술시간이 짧을수록 좋은 가슴 성형</p>
  					<p class="detail__section-txt">
						가슴 성형은 그 수술 시간이 짧을수록 보형물의 오염, 감염을 피할 수 있으며,
						수술로 인한 염증과 구형구축의 가능성이 낮아집니다.
						그래서 <span class="color-chest3">바노바기는 약 30분 정도의 수술 시간을 지향</span>합니다.
						피주머니가 필요 없고 당일 퇴원이 가능할 정도로 <span class="color-chest3">안전한 가슴 성형</span>.
						오랜 경험과 감각, 기술력을 겸비한 바노바기 가슴 성형 전담팀이 만들어갑니다.
					</p>
  				</div>
    		</div>
		</div>
    </section>

    <section class="fs_section chestSection05" data-section-name="chestSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide">
	  				<h4 class="detail__section-tit">
	  					<strong>가슴성형</strong>,<br>
	  					<span class="detail__section-bwrap">바노바기는</span><br>
	  					<strong class="color-chest4">디테일</strong>합니다
	  				</h4>
	  				<p class="detail__section-subtit">여성의 당당한 변신을 응원하는<br class="hidden-m hidden-t"> 힐링 스카 프로젝트</p>
	  				<p class="detail__section-txt">
						수술로 인한 흉터는 불가피한 것이 아닙니다. 흉터 치료 또한 가슴 성형의 일부니까요.
						이 가치관을 바탕으로 바노바기는 힐링 스카 프로젝트를 시작했습니다.
						붉은 흉터, 파인 흉터, 볼록한 흉터 등 거의 모든 형태의 흉터를 바노바기 피부과와의 협진을 통해 파악하고,
						<span class="color-chest5">티 나지 않는 원래의 매끈한 피부로 돌리기 위해 관리</span>합니다.
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
