<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">여러 분야를 아우르는 감각과 노하우</p>
				<h3 class="content-visual__tit"># 가슴<span class="color-chest7">축소술</span></h3>
				<p class="content-visual__txt2">보다 <strong>편하고 아름다운</strong> 가슴</p>
			</div>
		</div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
		    <div class="content-section type-reduction type-first">
		      	<div class="reduction-box1">
		        	<h4 class="content-section__tit type-center">
		          		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
		          		크기의<strong> 축소,</strong><br class="hidden-t">
		          		<strong class="color-chest7">그 이상의 의미</strong>를 가진 수술입니다
		        	</h4>
		        	<p class="content-section__txt1">
		          		가슴축소술은 단순히 미용적인 개선만을 목적으로 하는 수술이 아닙니다.<br class="hidden-m">
		          		가슴 비대증은 미용적인 불만족 외에도, 건강과 심리적인 문제 또한 동반하기 때문입니다.<br class="hidden-m">
		          		특히, 습진과 같은 피부질환이나 척추와 어깨에 무리를 주는 등의 문제는<br class="hidden-pm"> 개인의 건강을 위해 반드시 개선되어야 하는 부분입니다.<br class="hidden-m">
		          		만약 이를 해결하지 않으면 자신감 상실이나 자세 틀어짐 등의 악순환으로 이어질 수도 있습니다.<br class="hidden-m">
		          		<span class="content-highlight type-chest">그래서 가슴축소술은 단순히 미용적으로 개선되는 것 이상의 의미를 가져야 합니다.</span>
		        	</p>
		        	<div class="reduction-box1__img">
		          		<img src="../../images/chest/chest_reduction_img02.jpg" loading="lazy" alt="가슴비대증 - 신체건강악화, 미적불만족, 정신적 위축"><!-- 모바일시 백그라운드 img-->
		        	</div>
		      	</div>
		      	<div class="reduction-box2">
		        	<div class="reduction-wrap">
		          		<div class="reduction-box2__box">
		            		<h4 class="content-section__tit type-left">
		              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
		              			<strong class="color-chest7">바디 성형</strong>과<br>
		             	 		<strong class="color-chest7">가슴 성형</strong>을<br>
		              			아우르는 경험으로<br>
		              			보겠습니다
		            		</h4>
		            		<p class="content-section__txt1">
		              			결과적으로 가슴축소술은 가슴의 미용적인 개선과 동시에<br class="hidden-tm">
		              			환자의 건강증진 또한 목표로 해야 합니다. <br class="hidden-tm">
		              			그러기 위해서는 가슴의 크기를 줄이되, 신체 비율에 맞는<br class="hidden-tm">
		              			적절한 크기를 결정하는 것이 중요하죠.
		            		</p>
		          		</div>
		          		<div class="reduction-box2__img">
		            		모바일 이미지
		          		</div>
		          		<div class="cosmetic">
		            		<div class="cosmetic__bg">
		              			<ul class="cosmetic__list">
		                			<li class="cosmetic__item">
		                  				<div class="cosmetic__wrap nth-1">
		                    				<div class="cosmetic__box nth-1">
		                      					<div class="cosmetic__box-wrap">
		                        					<p class="cosmetic__txt">가슴성형</p>
		                      					</div>
		                    				</div>
						                    <div class="cosmetic__box nth-2">
						                      	<div class="cosmetic__box-wrap">
						                        	<p class="cosmetic__txt">바디성형</p>
						                      	</div>
						                    </div>
		                  				</div>
		                			</li>
					                <li class="cosmetic__item">
					                  	<div class="cosmetic__wrap nth-2">
					                    	<div class="cosmetic__box nth-3">
					                      		<div class="cosmetic__box-wrap">
					                        		<p class="cosmetic__txt">신체 균형을 고려하는 감각적인 <span class="inline-block">수술이 가능</span></p>
					                      		</div>
					                    	</div>
					                  	</div>
					                </li>
					            </ul>
		            		</div>
		          		</div><!--//cosmetic-->
		          		<div class="reduction-box2__txt">
		            		바노바기는 다양한 부위들에 대한 성형이 가능한 종합적인 규모의 성형외과입니다.<br class="hidden-m">
				            그중 바디 성형과 가슴 성형은 그 밀접한 관계를 생각하여, 두 분야에 대한 전문적인 지식과 경험을 갖춘<br class="hidden-tm">
				            반재상 원장님을 대표로 한 의료진을 구성하고 있습니다.<br class="hidden-tm">
				            따라서 <strong class="color-chest7">전체적인 균형을 고려한 가슴축소술이 가능하고, 보다 아름다우면서도 편안한 결과를 추구</strong>할 수 있습니다.
		          		</div>
		        	</div><!-- //reduction-wrap-->
		      	</div><!-- //reduction-box2-->
		      	<div class="reduction-box3">
		        	<div class="reduction-wrap">
		          		<div class="content-section">
		            		<h4 class="content-section__tit type-center">
		              			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
		              			<strong class="color-chest7">원하는 결과에 맞는</strong> 수술법을 제안합니다
		            		</h4>
				            <p class="content-section__txt1">
				              	가슴축소술은 그 수술 방법이 크게 4가지로 나뉩니다.<br class="hidden-p"> 각 수술 방법은 장단점이 있죠.<br class="hidden-tm">
				              	때문에 수술 전 충분한 상담을 통해 자신에게 맞는 수술법을 생각해보고 결정하는 것이 중요합니다.
				            </p>
				            <div class="reduction-box"></div>
		            		<div class="reduction-box3__box">
		              			<div class="item-box3 type-reduction">
		                			<ul class="item-box3__list">
		                  				<li class="item-box3__item nth-1">
						                    <div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">유륜 주위 절개 가슴축소술</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		유륜 주위를 절개한 후 가슴 안의 조직을 줄이는 방법으로, 가슴의 크기가 너무 큰 경우가
						                          		아니라면 이 방법으로 시술할 수 있습니다. 유두 주위만을 절개하기 때문에 흉터의 크기가 작고
						                          		거의 티가 나지 않으며, 가슴의 기능을 거의 방해하지 않는다는 장점이 있습니다.
						                        	</p>
						                      	</div>
						                    </div>
		                  				</li>
		                  				<li class="item-box3__item nth-2">
						                    <div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">수직 절개 가슴축소</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		유륜 아래로 약 4~5cm 정도를 절개하여 가슴 안의 조직을 줄이는 방법입니다. '오'자형 절개와
						                          		유륜 주위 절개의 장단점을 보완하여 고안된 방법으로, 비교적 큰 가슴에도 시술이 가능하면서
						                          		'오'자형 절개 방식보다 흉터 걱정도 줄인 방법이죠. 비교적 수술 시간이 짧아 회복이 보다 빠르고
						                          		가슴의 형태를 잡기에도 용이하다는 장점이 있으나, 이 방법 역시 약간의 흉터가 생길 수 있다는
						                          		단점이 있습니다.
						                        	</p>
						                      	</div>
						                    </div>
		                  				</li>
					                  	<li class="item-box3__item nth-3">
						                    <div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">'오'자형 절개 가슴축소술</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		가슴축소술의 가장 대표적 방법으로, 비교적 큰 가슴을 가진 경우나 가슴 처짐이 심한 경우 등
						                          		거의 모든 케이스에도 가능한 수술법입니다. 수술 결과를 예측하기가 용이하고, 유두의 감각
						                          		유지와 위치 이동이 가능하다는 장점이 있는 반면, 가슴 밑 선과 유두 아래에 수술 자국이
						                          		생길 수 있기 때문에 흉터에 대한 거부감이 심한 경우라면 다른 방법을 생각해보아야 합니다.
						                        	</p>
						                      	</div>
						                    </div>
					                  	</li>
					                  	<li class="item-box3__item nth-4">
					                    	<div class="item-box3__box">
						                      	<div class="item-box3__wrap">
						                        	<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">지방 흡입 가슴축소술</span></h5>
						                        	<p class="item-box3__txt txt-v1">
						                          		가슴의 지방을 흡입하여 가슴 크기를 줄이는 방법입니다. 전신 비만으로 인해 가슴 비대증이
						                          		생긴 경우에는 가슴에 지방 조직의 비율이 높기 때문에 이 방법으로 뛰어난 효과를
						                          		기대할 수 있습니다. 또한 시술 시간이 적고 흉터에 대한 부담이 거의 없기 때문에 흉터가 남는
						                          		것에 대한 걱정이 큰 환자분들에게 적합한 방법으로 꼽힙니다. 하지만 가슴이 심하게 커 피부가
						                          		많이 늘어난 경우에는 시술 후 가슴이 처져 보일 수 있다는 한계가 있습니다
						                        	</p>
						                      	</div>
					                    	</div>
					                  	</li>
		                			</ul>
		              			</div><!-- //item-box3-->
		            		</div>
		          		</div>
		        	</div><!-- //reduction-wrap-->
		      	</div><!-- //item-box1-->
		      	<div class="reduction-box4">
		        	<h4 class="reduction-box4__tit">
		          		가슴축소술에 대한 잘못된 인식 중 하나가<br class="hidden-tm">
		          		<strong class="color-chest13">수술 후 예쁜 가슴을<br class="hidden-pm"> 기대할 수 없다는 것</strong>입니다.
		        	</h4>
		        	<p class="reduction-box4__txt txt-v5">
		          		만약 수술 후 가슴 모양이 예쁘지 않다면 대부분의 경우 수술 전 디자인부터가 잘못되었거나<br class="hidden-m">
		          		수술 후 적절한 관리가 이루어지지 않았기 때문일 가능성이 높습니다.<br><br>

		          		바노바기는 가슴축소술 후 바이오포톤과 마사지 프로그램 등 적극적인 후 관리를 책임지며, <br class="hidden-m">
		          		이를 통해 비교적 빠른 회복과 아름다운 가슴 형태를 잡는 데 도움을 드리고 있습니다.<br class="hidden-m">
		          		또한 바노바기피부과와의 협진으로 수술 후 흉터를 더욱 세심하게 관리해드립니다.
		        	</p>
		        	<div class="bio">
		          		<div class="bio__box type-img">
		            		<div class="bio__img nth-1">바이오포톤 - img</div>
		          		</div>
		          		<div class="bio__box type-txt">
			            	<div class="bio__wrap">
			              		<h5 class="bio__tit">바이오포톤</h5>
			              		<p class="bio__txt txt-v1">
					                바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
					                (Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
					                PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
					                신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
					                적극적으로 분해하는 효과가 있습니다.
			              		</p>
			            	</div>
			          	</div>
			        </div>
			        <div class="dual-box6__img">
						<div class="after-style type-chest">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">수술 후 1개월</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">수술 후 6개월</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">수술 후 12개월</div>
								</li>
							</ul>
						</div>
			        </div>
		    	</div><!-- //reduction-box4-->

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 3시간~3시간 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 8~15일 점차적으로 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">약 1일</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 4~5회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										팔을 과격하게 움직일 경우 통증이 생길 수 있습니다.<br>
										수술 부위에 접촉이 있을 경우 통증과 함께 흉터가 벌어질 가능성이 있으므로 조심해야 합니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

			    <div class="reduction-box5">
			        <div class="content-section">
			          	<div class="reduction-box5__box">
			            	<div class="reduction-box5__wrap type-unique">
			              		<h4 class="content-section__tit type-left">
			                		<span class="content-section__number"><span class="content-section__number-wrap">05</span></span>
				                	듀얼슬림<br class="hidden-p"> 가슴축소술,<br class="hidden-tm">
				                	고민을 이해하는<br class="hidden-tm">
			                		<strong class="color-chest7">바노바기의 노력</strong>입니다
			              		</h4>
			            	</div>
			            	<p class="content-section__txt2">
			              		가슴 비대증과 상체 비만의 연관성
			            	</p>
			            	<p class="content-section__txt1">
			              		일반적으로 가슴 비대증은 상체의 전반적인 비만이 동반되는 경우가 많습니다.
			              		특히 복부나 부유방으로 연결되는 겨드랑이는 가슴과 가까운 부위로,
			              		이 부분들의 개선 없이 가슴축소술만 진행된다면 그 결과가 어색할 수밖에 없죠.
			              		그래서 가슴축소술은 지방에 대한 개선이 함께 이루어지는 것이 좋습니다.
			            	</p>
			          	</div>
			        </div>
			    </div><!-- //reduction-box5-->
			    <div class="reduction-box6">
			        <h5 class="reduction-box6__tit">
			          	바노바기는 <strong>가슴축소술과 지방 흡입술을 동시에 진행</strong>하는<br class="hidden-tm">
			          	듀얼슬림 가슴축소술을 고안하였습니다.
			        </h5>
			        <p class="reduction-box6__txt txt-v5">
			          	바디 성형과 가슴 성형, 이 두 분야에 대한 전문성이 갖추어져 있는 바노바기의 장점을 살린 수술입니다.<br class="hidden-tm">
			          	처음 상담 과정에서부터 가슴만이 아닌 전체적인 비율에 따른 디자인이 가능하기 때문에 <br class="hidden-tm">
			          	보다 편하고 아름다운 가슴과 슬림한 라인으로 이어지는 균형 잡힌 몸매를 기대할 수 있습니다.
			        </p>
			        <ul class="reduction-box6__list">
			          	<li class="reduction-box6__item">
			            	<img src="../../images/chest/chest_reduction_img11.jpg" loading="lazy" alt="일반 가슴 축소술 - 사진">
			            	<p class="reduction-box6__subject nth-1">일반 가슴축소술</p>
			          	</li>
			          	<li class="reduction-box6__item">
			            	<img src="../../images/chest/chest_reduction_img12.jpg" loading="lazy" alt="듀얼슬림 가슴축소술 - 사진">
			            	<p class="reduction-box6__subject nth-2">듀얼슬림 가슴축소술</p>
			          	</li>
			        </ul>
			    </div>
			    <div class="reduction-box4 type-another">
			        <h4 class="reduction-box4__tit">
			          	듀얼슬림 가슴축소술 또한<br class="hidden-p"> 기존 가슴축소술과<br class="hidden-tm">
			          	마찬가지로 <strong class="color-chest13">회복에 필요한 후 관리가 진행</strong>됩니다.
			        </h4>
			        <p class="reduction-box4__txt txt-v5">
			          	바이오포톤과 마사지 프로그램 등 적극적인 후 관리를 책임지며,  이를 통해 비교적 빠른 회복과 아름다운<br class="hidden-tm">
			          	가슴 형태를 잡는 데 도움을 드리고 있습니다.<br class="hidden-m">
			          	또한 바노바기피부과와의 협진으로 수술 후 흉터를 더욱 세심하게 관리해드립니다.
			        </p>
			        <!-- <div class="bio">
			            <div class="bio__box type-img">
			                <div class="bio__img nth-1">바이오포톤 - img</div>
			            </div>
			            <div class="bio__box type-txt">
			                <div class="bio__wrap">
			                    <h3 class="bio__tit">바이오포톤</h3>
			                    <p class="bio__txt">
			                        바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
			                        (Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
			                        PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
			                        신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
			                        적극적으로 분해하는 효과가 있습니다.
			                    </p>
			                </div>
			            </div>
			        </div>
			        <ul class="reduction-box4__list">
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img9.jpg" loading="lazy" alt="수술후 1개월 사진">
			                <p class="reduction-box4__subject nth-1">수술 후 1개월</p>
			            </li>
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img10.jpg" loading="lazy" alt="수술후 6개월 사진">
			                <p class="reduction-box4__subject nth-2">수술 후 6개월</p>
			            </li>
			            <li class="reduction-box4__item">
			                <img src="../../images/chest/cosmetic_img11.jpg" loading="lazy" alt="수술후 12개월 사진">
			                <p class="reduction-box4__subject nth-3">수술 후 12개월</p>
			            </li>
			        </ul> -->
			    </div><!-- //reduction-box4-->

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 3시간~3시간 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 8~15일 점차적으로 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">약 1일</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 4~5회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										팔을 과격하게 움직일 경우 통증이 생길 수 있습니다.<br>
										수술 부위에 접촉이 있을 경우 통증과 함께 흉터가 벌어질 가능성이 있으므로 조심해야 합니다.<br>
										지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section-->
		</div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
