<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-chest-extension">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">올바른 선택으로 더욱 만족스럽게,</p>
	            <h3 class="content-visual__tit"># 가슴 <span class="color-chest7">확대술</span></h3>
	            <p class="content-visual__txt2">자연스러움에서오는<strong> 자신감</strong></p>
	        </div>
	    </div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- Content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
	        <section class="interaction">
	            <div class="content-section type-first">
	                <h4 class="content-section__tit type-center">
				        <span class="content-section__number">
				            <span class="content-section__number-wrap">
				                01
				            </span>
				        </span>
	                    <strong class="font-chest1">집요하게 </strong> 묻고, <br class="hidden-p">
	                    <strong class="color-chest7">교감</strong>
	                    해야 합니다
	                </h4>
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__item type-width">
	                        <div class="content-section__img"></div>
	                    </div>
	                    <div class="content-section__item">
	                        <div class="content-section__desc">
	                            <p class="content-section__txt1">
	                                가슴확대술은 <strong>선택할 것이 많은</strong> 수술입니다. <br>
	                                다양한 종류의 보형물들과 몸의 상태에 따라 달라지는 수술 방법들까지, 생각보다 다양한 선택지들이 있기 때문입니다.
	                                그래서 간혹 어떤 분들은 급한 마음에 자세한 정보 없이, 병원에서 결정하는 대로 수술을 진행하기도 합니다. <br>
	                                <br class="hidden-p">
	                                하지만 가슴확대술은 준비과정에서의 선택 하나하나가 결과에 중요한 영향을 끼치는 수술입니다. <br class="hidden-tm">
	                                그래서 환자도, 의사도 집요해야 합니다. 더 많이 물어 보고 생각한 후에 판단하는 것이 좋은 결과를 유도한다고 믿습니다.
	                                환자의 올바른 선택을 돕기 위해서 <span class="content-highlight type-chest-extension">바노바기는 정밀 진단을 통해 환자 몸 상태를 점검하고, 다양한 보형물의 정보를 공유
	                    			하고, 수술 방법에 따른 장단점을 설명합니다.</span>또 원하는 가슴 사이즈, 모양, 수술을 하려는 목적 등을 충분히 들으려고
	                                합니다. 그렇게 해야 더욱 자연스럽고 만족스러운 가슴확대술이 가능합니다.
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="kind-req">
	            <div class="content-section">
	                <h4 class="content-section__tit type-center">
		                <span class="content-section__number">
		                    <span class="content-section__number-wrap">
		                        02
		                    </span>
		                </span>
	                    <strong>최고의 보형물</strong> 보다는 <br>
	                    <strong class="color-chest7">최적의 보형물</strong>을<br class="hidden-p"> 추천합니다
	                </h4>
	                <p class="content-section__txt1">
	                    가슴확대술에서 빼놓을 수 없는 것이 바로 <span class="type-bold">보형물</span>입니다.  환자가 원하는 결과를 위해, 의학적으로나 형태적으로 적합한 보형물을 선택하는 것이 중요하죠. <br class="hidden-m">
	                    하지만 문제는 보형물의 특징이 각기 다르고 개개인마다 가슴의 형태 또한 천차만별이라는 것입니다. <br class="hidden-tm">
	                    그래서 섣불리 어떤 특정 보형물이 최고라며 권해드릴 수가 없습니다. <br>
	                </p>
	                <p class="content-section__txt2">
	                    보다 만족스러운 결과를 위해서는 다양한 보형물을 다뤄 다양한 선택지를 제안할 수 있어야 하고, <br class="hidden-tm">
	                    <span class="content-highlight type-chest-extension">각 보형물에 대한 경험이 풍부하여 개개인의 상태에 맞는</span><br class="hidden-pm"><span class="content-highlight type-chest-extension"> 보형물을 함께 고민할 수 있는 전문의를 선택하는 것이 중요합니다</span>
	                </p>
	                <div class="content-section__wrapper type-background">
	                    <p class="content-section__txt type-sub"> 바노바기 가슴성형 수술의 핵심</p>
	                    <div class="content-section__quotation">
	                        <div class="content-section__quotation-wrapper">
	                            <div class="quotation type-chest-extension">
	                                <h5 class="content-section__tit-quote">
	                                    <strong class="color-chest8">보형물</strong>의 종류
	                                </h5>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="extension-box1">
	                        <h6 class="kind-req__tit">내용물에 따른 분류</h6>
	                        <ul class="clearfix item-box2__list chest-group1">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic1 item-box2__thumb">내용물이미지</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <p class="item-box2__tit tit-v2">
	                                                코히시브 젤
	                                            </p>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                현재 국내에서 가장 많이 사용되는 보형물로 과거 생리식염수 백 대신에 많이 사용되고
	                                                있습니다. 응집력이 좋기 때문에 혹시 수술 후 제품의 손상이 발생한 경우에도 체내로
	                                                퍼지지 않고 그 상태를 유지하게 됩니다. FDA와 KFDA에서 사용 승인을 받은 제품으로,
	                                                촉감이 좋으며 모양이 자연스러운 등 장점이 많아, 일반적인 경우에 많이 사용됩니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic2 item-box2__thumb">내용물이미지</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <p class="item-box2__tit tit-v2">
	                                                생리 식염수
	                                            </p>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                내부에 생리식염수를 채워 사용하는 보형물로 과거에 많이 사용되던 재료입니다.
	                                                식염수의 양을 조절하여 가슴 크기를 조절할 수 있기 때문에
	                                                균형을 맞추기가 쉽다는 장점이 있지만,
	                                                코하시브 젤에 비해 덜 부드러운 느낌을 줍니다
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box2">
	                        <div class="category-list__cate-2">
	                            <h6 class="kind-req__tit">표면상태에 따른 분류</h6>
	                            <ul class="category-list__list-wrapper clearfix">
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic3">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit"> 스무스 타입</p>
	                                            <p class="category-list__cate2-txt">
	                                                표면이 부드럽고 매끈하기
	                                                때문에  수술 시 위치 잡기에
	                                                유리하고, 절개를 작게 할 수 있어
	                                                흉터 걱정을 줄일 수 있다는
	                                                장점이 있습니다. 하지만
	                                                구형구축이 생길 가능성이
	                                                있어 수술 후 적절한 관리가
	                                                필요합니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic4">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">텍스쳐 타입</p>
	                                            <p class="category-list__cate2-txt">
	                                                표면이 미끌미끌하지 않고
	                                                약간의 요철이 있는 보형물입니다.
	                                                수술 후 가슴 조직이
	                                                보형물 요철 사이사이에
	                                                자리 잡기 때문에 구형구축을 예방하기 쉽고,
	                                                더욱 부드러운 촉감의 결과를
	                                                얻는 것이 가능합니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic5">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">마이크로 텍스쳐</p>
	                                            <p class="category-list__cate2-txt">
	                                                스무스 타입과 일반 텍스쳐 타입의
	                                                장점을 고루 가진 보형물입니다.
	                                                보다 미세한 요철과 인체 친화적
	                                                으로 이루어진 표면이 각종
	                                                부작용과 구형구축을 예방하고,
	                                                보형물의 위치 잡기가
	                                                용이하여 흉곽이 좁은 분들도
	                                                사용이 가능합니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic6">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">실키 텍스쳐</p>
	                                            <p class="category-list__cate2-txt">
	                                                표면이 미끌미끌하지 않고
	                                                약간의 요철이 있는 보형물입니다.
	                                                수술 후 가슴 조직이
	                                                보형물 요철 사이사이에
	                                                자리 잡기 때문에 구형구축을 예방하기 쉽고,
	                                                더욱 부드러운 촉감의 결과를
	                                                얻는 것이 가능합니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic7">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <p class="category-list__cate2-tit">마이크로탄 타입</p>
	                                            <p class="category-list__cate2-txt">
													마이크로탄 보형물은 기존의
	                                                보형물과 달리  표면에 미세한
	                                                구멍이 나있는 폴리우레탄 소재로
	                                                특수 표면 처리 되어 있습니다.
	                                                텍스쳐 타입의 원리와 마찬가지로
	                                                가슴 조직이 보형물 표면에
	                                                자리 잡아 구형구축의 발생
	                                                가능성이 굉장히 줄게 되며,
	                                                보형물이 이동하거나 회전하는
	                                                등의 부작용이 거의 없습니다.
	                                                또한 회복이 비교적 빠르고 촉감과
	                                                움직임이 보다 자연스럽다는
	                                                장점도 있습니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="category-list__cate-3">
	                            <h6 class="kind-req__tit">모양에 따른 분류</h6>
	                            <ul class="clearfix item-box2__list chest-group2">
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic8 item-box2__thumb">모양에 따른 분류, 보형물이미지</div>
	                                        <div class="item-box2__inner clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <p class="item-box2__tit tit-v2">
	                                                    라운드 형
	                                                </p>
	                                                <p class="item-box2__txt1 txt-v2">
	                                                    가장 일반적인 가슴 성형 보형물의 형태로, 반구 모양입니다.
	                                                    중앙 부분이 가장 높은 형태이기 때문에
	                                                    가슴 아래쪽과 위쪽의 볼륨을 동시에 높여줄 수 있다는 장점이 있습니다.
	                                                    또, 세웠을 때 중력에 의한 형태 변화가 이루어져
	                                                    보다 자연스러운 가슴 옆 선을 만들 수 있습니다.
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic9 item-box2__thumb">모양에 따른 분류, 보형물이미지</div>
	                                        <div class="item-box2__inner clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <p class="item-box2__tit tit-v2">
	                                                    해부학적 혹은 물방울 형
	                                                </p>
	                                                <p class="item-box2__txt1 txt-v2">
	                                                    가슴의 이상적인 모양에 맞추어 디자인된 형태로, 물방울 형이 대표적입니다.
	                                                    형태적으로 아름다운 것이 장점이지만 움직임에 따라 모양이 부자연스럽게 느껴질 수 있으며
	                                                    , 수술 후 위치가 안정적으로 고정되지 않으면 보형물의 회전으로 인해 재수술이 필요할 수도
	                                                    있습니다.
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="operation-ways">
	            <section class="content-section">
	                <div class="content-section__bg">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-left">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            03
			                        </span>
			                    </span>
	                            <strong>보형물만큼</strong>이나 <br>
	                            중요한 것이 <br>
	                            <strong class="color-chest9">수술방법</strong>
	                            입니다.
	                        </h4>
	                        <p class="content-section__txt1">
	                            가슴확대술은 환자가 추구하는 결과에 따라,<br class="hidden-pt"> 그리고 <span class="color-chest10 font-bold">환자의 신체구조에 따라 그 수술법</span><span class="font-bold">이 달라질 수 있습니다.</span> <br class="hidden-tm">
	                            수술 방법이 다르면 보형물의 삽입 위치나 흉터의 위치 등의 차이도 생기게 되죠. <br class="hidden-tm">
	                            따라서 환자분들은 수술 전, 본인이 어떤 보형물로 수술을 받는지 만큼이나 어떤 방법으로 수술이 진행될지 알아야 할 필요가 있습니다
	                        </p>
	                    </div>
	                    <div class="extension-box3">
	                        <h5 class="operation-ways__tit">
	                            보형물의위치
	                        </h5>
	                        <ul class="item-box2__list clearfix chest-group3">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic10 item-box2__thumb">모양에 따른 분류, 보형물이미지</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v2">
	                                                근육 아래 위치
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                원래의 가슴 구조를 유지하는 방법이기 때문에
	                                                유방의 기능에 지장을 주지 않으며 회복이 비교적 빠릅니다.
	                                                또한 수술 시 유방 밑 선의 위치를 안전하게 맞출 수 있어
	                                                모양이 예쁘게 잡힌다는 장점이 있습니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic11 item-box2__thumb">모양에 따른 분류, 보형물이미지</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v2">
	                                                근육 위 위치
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1 pop-info">
	                                                가슴 근육이 발달한 경우나 생리 식염수 보형물을 사용하는 경우에는
	                                                보형물을 유방 조직과 가슴 근육 사이에 위치시킬 수 있습니다.
	                                                비교적 간편한 수술이 장점이며 처진 유방에 효과적이지만
	                                                <a href="" class="info-btn js-info">
	                                                    <span class="info-btn__icon type-chest-extension">인포버튼</span>
	                                                    구형구축
	                                                    <span class="info-desc type-chest-extension">
	                                                        <span class="info-desc__item">
	                                                            <span class="info-desc__box">
	                                                                <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>구형구축</strong>이란?<br class="hidden-tm"></span>
	                                                                <span class="info-desc__content">
	                                                                    <span class="info-desc__txt1">
	                                                                        구축이란 체내에서 생성된 피막이 점점 좁아지는현상입니다.
	                                                                        가슴 성형의 경우 보형물 주위를 피막이 감싸게 될 수 있는데,
	                                                                        이때 이 피막이 단단해질 수도 있는 것이죠.
	                                                                        어느 정도의 구축은 크게 문제되진 않지만 심해지면 가슴의 촉감을 부자연스럽게
	                                                                        만들기	때문에 적절한 예방과 구축 정도에 따른 조치가 필요합니다.
	                                                                     </span>
	                                                                </span>
	                                                            </span>
	                                                            <button class="info-desc__btn js-close">
	                                                                <span class="info-desc__stick type-left"></span>
	                                                                <span class="info-desc__stick type-another"></span>
	                                                                닫기
	                                                            </button>
	                                                        </span>
	                                                    </span>
	                                                </a>
	                                                의 가능성이 있어 관리가 필요합니다
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box4">
	                        <h5 class="operation-ways__tit">
	                            절개법
	                        </h5>
	                        <ul class="item-box2__list clearfix chest-group4">

	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic12"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                겨드랑이 절개법
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                흉터가 잘 보이지 않는다는 장점이 있고
	                                                수술 시 혈관과 신경의 손상을 줄일 수 있으며,
	                                                감염의 위험이나 유두의 감각 손실이 거의 없습니다.
	                                                수술시간이 길지 않기 때문에
	                                                회복 또한 비교적 빠른 편입니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic13"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                가슴 밑선 절개법
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                통증이 적고 회복이 비교적 빠르면서 예쁜 모양을 만드는 데
	                                                특히 유리합니다. 흉터 때문에  기피했던 절개법이지만,
	                                                최근에는 흉터에 대한 집중적인 케어가 가능해졌고
	                                                흉이 유방 밑선에 가려지기 때문에 많은 분들이
	                                                선택하는 추세입니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic14"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h6 class="item-box2__tit tit-v1">
	                                                유륜 주위 절개법
	                                            </h6>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                보형물이 위치해야 할 포켓의 정 중앙에 절개가
	                                                이루어지기 때문에 시야 확보가 쉽고 경로가 짧아서
	                                                비교적 간편한 수술이 가능합니다. 수유나 임신에 끼치는
	                                                영향은 거의 없는 것으로 판명 났으며 처진 가슴을
	                                                동시에 개선할 수 있다는 점, 비대칭 가능성이
	                                                거의 없다는 점 등 장점이 많은 방법입니다.
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>

	                    </div>
	                </div>
	            </section>
	        </section>
	        <section class="responsibility">
	            <div class="content-section">
	                <div class="content-section__wrap">
	                    <div class="content-section__tit-wrap">
	                        <h4 class="content-section__tit type-center">
				                <span class="content-section__number">
				                    <span class="content-section__number-wrap">
				                        04
				                    </span>
				                </span>
	                            환자의
	                            <span class="type-bold">안전</span>과
	                            <span class="type-bold">건강</span>을 <br class="hidden-p"> <span class="type-bold">책임지는 것은</span> <br>
	                            <span class="color-chest7 type-bold">병원</span>의 <span class="color-chest7 type-bold">의무</span>입니다
	                        </h4>
	                        <p class="content-section__txt1">환자의 안전과 건강. 병원이라면 당연히 생각해야 할 기본적인 가치입니다. <br class="hidden-m">
	                            하지만 간혹 성형외과는 미용적인 부분에 치중한 나머지, <br class="hidden-m"> 이런 가장 기본적이고 중요한 가치를 놓치는 경우가 있습니다. <br>
	                            바노바기는 <strong>인본 중심의 가치를 지키는 병원</strong>으로서, 가슴확대술을 할 때에도 환자분들의 안전과 건강을 책임지기 위해 최선을 다하고 있습니다.
	                        </p>
	                    </div>
	                    <div class="responsibility__contents-box">
							<ul class="responsibility__list clearfix">
								<li class="responsibility__item">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												가슴 <span class="color-chest11 type-bold">정밀 검진</span> 시스템형
											</h5>
											<p class="responsibility__item-txt pop-info">
												여성의 가슴은 여성성을 상징함과 동시에
											   	다양한 기능을 수행하는 특별한 기관입니다. 그래서
											   	정밀하고 정기적인 가슴 검진은 반드시 필요합니다.
											   	하지만 가슴확대술을 받은 환자분들은 일반 의료기관에서
											   	가슴 진단을 받길 꺼리는 경우가 있습니다.
											   	굳이 공개적으로 가슴수술 여부를 밝히는 것이
											   	달가운 일은 아니기 때문이죠. 바노바기는
											   	<a href="" class="info-btn js-info">
												   	<span class="info-btn__icon type-chest-ribbon">인포버튼</span>
												   	핑크리본
												   	<span class="info-desc type-chest-ribbon">
													   	<span class="info-desc__item">
														   	<span class="info-desc__box">
															   	<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>핑크리본</strong>이란?<br class="hidden-tm"></span>
															   	<span class="info-desc__content">
																   	<span class="info-desc__txt1">
																	   	핑크리본 캠페인
																	   	<br>
																	   	핑크리본은 유방암의 상징으로 사용되며,
																	   	이를 이용해 유방암의 인식 확대와 정기검진
																	   	및 예방의 중요성을 강조하는 캠페인입니다
																	</span>
															   	</span>
														   	</span>
														   	<button class="info-desc__btn js-close">
															   	<span class="info-desc__stick type-left"></span>
															   	<span class="info-desc__stick type-another"></span>
															   	닫기
														   	</button>
													   	</span>
												   	</span>
											   	</a>
											   	캠페인을 적극 실천하는 의료기관으로, 유방의 정밀한 검진을 위한 전문 시설과 의료진을 갖추고 있습니다.
											   	<strong class="color-chest12">
												   	정기적인 가슴 검진 시스템으로 가슴의 상태를 정밀히 체크하며, 종양의 발견과 제거까지
												   	가능합니다.
												</strong>
											</p>
											<div class="responsibility__thumb type-pic15">
												가슴정밀검진 이미지
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-special">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												<span class="color-chest11 type-bold">정품 보형물</span> 사용
											</h5>
											<p class="responsibility__item-txt">
												가슴확대술에 있어서 빼놓을 수 없는
											   	보형물 역시 그 안전성이 굉장히 중요합니다.
											   	검증되지 않은 보형물을 사용하게 되면
											   	감염이나 각종 부작용의 위험에 노출되기 때문입니다.
											   	바노바기는 다양한 보형물을 보유하되,
											   	<strong class="color-chest12">
												   	각종 테스트를 통해 안전성을 검증받은
												   	브랜드의 정품만을 사용하고 있습니다.
											   	</strong>
											</p>
											<div class="responsibility__thumb type-pic16">
												정품보형물 이미지
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-mt20">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												<span class="color-chest11 type-bold">약 30분 내외</span> 의 수술
											</h5>
											<p class="responsibility__item-txt">
												간혹 수술시간이 길어야 수술의 결과가
	                                            더 좋을거라고 생각하시는 분들이 있습니다.
	                                            하지만 수술시간이 길어지면 오·감염의 위험이 높아지며,
	                                            조직 손상이 심해져 회복이 더뎌지게 됩니다.
	                                            그래서 수술시간은 짧을수록 좋습니다.
	                                            <strong class="color-chest12">
	                                                바노바기는 풍부한 수술 경험과 감각으로,
	                                                가슴확대술을 약 30분 정도의 시간 내외로
	                                                진행하고 있습니다.
												</strong>
	                                            출혈이 생기지 않는 층을 적절히 이용해 시야를
	                                            확보하고 불필요한 조직 손상을 줄이는
	                                            바노바기의 기술이
	                                            더욱 안전한 가슴확대술을 가능하게 합니다.
											</p>
											<div class="responsibility__thumb type-pic17">
												짧은 시술시간 이미지
											</div>
										</div>
									</div>
								</li>
							</ul>
	                    </div>

	                </div>
	            </div>

	        </section>
	        <section class="recovery">
	            <div class="recovery__wrap">
	                <div class="recovery__tit-wrap">
	                    <h4 class="content-section__tit type-top">
			                <span class="content-section__number">
			                    <span class="content-section__number-wrap">
			                        05
			                    </span>
			                </span>
	                        <span class="color-chest7 type-bold">회복</span>과
	                        <span class="color-chest7 type-bold">관리</span><span class="type-bold">,</span> <br>
	                        바노바기가 <span class="type-bold">걱정</span>을 <br class="hidden-p"> 덜어드립니다.
	                    </h4>
	                    <div class="recovery__img-wrapper clearfix">
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic18"></div>
	                        </div>
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic19"></div>
	                        </div>
	                    </div>
	                    <p class="content-section__txt1">대부분의 수술들은 그 수술에 맞는 회복 과정이 필요합니다. 특히 가슴확대술의 경우는 더더욱 그렇습니다.  <br class="hidden-t">
	                        바로 구형구축 발생이나 흉터에 대한 걱정 때문이죠. <br>
	                        구형 구축은 적절한 보형물의 선택, 그리고 올바른 관리를 통해 예방할 수 있습니다. <br class="hidden-m">
	                        <span class="content-highlight type-chest-extension">바노바기는 전문 인력을 통한 체계적인 마사지와 마사지 교육을 실시하여 스무스 타입 보형물 수술 시, 마시지 케어를 도와드립니다.</span>
	                        <br class="hidden-pt">
	                        또한 바노바기피부과와의 협진으로 수술 후 흉터를 더욱 세심하게 관리해드립니다.
	                    </p>
	                </div>
	            </div>
	        </section>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">가슴수술은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">
											약 7일 후 제거<br>
											(더마본드 사용시 불필요)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가/약 1일 입원</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 방법이나 보형물에 따라 다르지만 어느 정도의 통증이 있어 진통제가 처방되며, 시간이 지날수록 점차 완화됩니다.<br>
									마사지를 통해 구형 구축을 예방하는 것이 좋습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div><!--// Content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
