<%
	type = "content"
	page = "chest"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="chest-droop">
		<div class="new-visual type-droop">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 세분화된 케이스 별 맞춤 개선</p>
						<h3 class="new-visual__tit"><span class="n-color-chest2">처진</span> 가슴성형</h3>
						<p class="new-visual__txt">볼륨감이 살아나는 탄력적인 가슴</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#유방하수</span></li>
							<li class="new-visual__item"><span>#가슴처짐</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-droop type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						가슴 처짐(유방 하수)은<br class="hidden-tm">
						<span class="n-color-chest2">자신감 상실의 원인</span>이 됩니다
					</h4>
					<p class="new-style1__txt txt-new1">
						가슴 처짐은 자연스러운 노화 현상일 수도 있지만, 대부분의 경우 가슴 비대증으로 인해 무게를 따라 처지거나<br class="hidden-tm">
						급격한 체중 감소로 인해 탄력을 잃어 처지게 되는 경우가 많습니다.<br class="hidden-tm">
						또, 임신이나 수유의 반복으로 인해 가슴의 크기와 모양이 변형되며 가슴 처짐이 발생하는 경우도 있죠.<br><br>
						이러한 경우 환자분들은 속옷이나 수영복과 같은 노출이 있는 의상 선택에 어려움을 겪게 되며,<br class="hidden-tm">
						심한 경우 젊음과 여성성을 잃은 것 같은 상실감에 급격히 자신감을 잃고 스트레스와 우울함을 느낄 수도 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 가슴 처짐으로 인한 고민을 안고 있는 경우라면 처진 가슴성형을 통해<br class="hidden-tm">
						<span class="n-color-chest2">가슴의 탄력과 모양을 복원</span>시켜 신체적·심리적 자신감을 회복하는 것이 좋습니다.
					</p>
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">가슴 처짐(유방 하수)의 <span class="weight-regular">원인</span></h5>
						<div class="process-style6">
							<div class="process-style6__box type-list">
								<ul class="process-style6__list">
									<li class="process-style6__item"><p class="process-style6__txt txt-new2">노화로 인한 <span class="inline-block">피부 탄력 감소</span></p></li>
									<li class="process-style6__item"><p class="process-style6__txt txt-new2">임신과 수유로 <span class="inline-block">인한 변형</span></p></li>
									<li class="process-style6__item"><p class="process-style6__txt txt-new2">선천적 처짐</p></li>
									<li class="process-style6__item"><p class="process-style6__txt txt-new2">급격한 체중 변화</p></li>
								</ul>
							</div>
							<div class="process-style6__box type-result">
								<div class="process-style6__arrow">
								</div>
								<div class="process-style6__wrap">
									<div class="process-style6__outer">
										<div class="process-style6__inner txt-new2">
											심리적 위축 및<br>
											자신감 하락과 같은<br>
											정신적 스트레스 유발
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-droop2 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						케이스를 세분화 하여<br class="hidden-tm">
						보다 <span class="n-color-chest3">적절한 개선 방법을 제안</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						가슴 처짐은 개개인마다 그 정도가 다르기 때문에, 그 정도를 보다 정확히 파악하여 올바르게 교정하는 것이 중요합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 쇄골과 유두, 그리고 <span class="n-color-chest3">가슴 밑 선과의 각 비례를 따라 이상적인 가슴의 형태를 생각</span>하며,<br class="hidden-tm">
						가슴 밑 선을 기준으로 유두의 위치에 따라 가슴 처짐의 정도를 크게 3단계로 나누고 있습니다.
					</p>
					<p class="new-style1__txt txt-new1">
						또, 추가적으로 가슴의 크기나 처짐 원인에 따라 케이스를 구분하고 있죠.<br class="hidden-tm">
						그래서 바노바기 처진 가슴성형은 개개인에 맞는 보다 정확한 개선이 가능하며 그만큼 더욱 효과적입니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/chest/droop/droop_img_1.jpg" loading="lazy" alt="바노바기 성형외과 가슴 모델" class="img-normal">
					</div>
					<div class="inner-box">
						<div class="new-section__box">
							<div class="img-style6 type-tablet-full">
								<h5 class="heading-bar type-chest">이상적인 가슴과 처진 가슴 정도 분류</h5>
								<ul class="img-style6__list type-margin-zero">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/droop/droop_img_2.jpg" loading="lazy" alt="01 수술 후 흉터가 보이지 않도록 헤어라인 안쪽에 비교적 작은 절개창을 만들어줍니다." class="img-w100">
										</div>
										<div class="img-style6__area type-border">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<p class="img-style6__txt2 txt-new2">
														쇄골과 유두, 유두와 유두 사이의 거리,
														가슴 밑 선에 따른 유두의 위치 등
														각 비례와 조화에 따라
														아름다운 가슴의 형태가 결정됩니다.
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="img-style7 type-margin-zero type-four">
							    <ul class="img-style7__list">
							        <li class="img-style7__item">
							            <div class="img-style7__img">
							                <img src="../../images/chest/droop/droop_grade_1.png" class="img-w100" loading="lazy" alt="정상">
							            </div>
							            <div class="img-style7__caption">
							                <h6 class="img-style7__subject txt-new2">
							                    정상
							                </h6>
							                <p class="img-style7__txt txt-new1">
							                    이상적인 가슴
							                </p>
							            </div>
							        </li>
							        <li class="img-style7__item">
							            <div class="img-style7__img">
							                <img src="../../images/chest/droop/droop_grade_2.png" class="img-w100" loading="lazy" alt="Grade 1">
							            </div>
							            <div class="img-style7__caption">
							                <h6 class="img-style7__subject txt-new2">
							                    Grade 1
							                </h6>
							                <p class="img-style7__txt txt-new1">
							                    가슴이 크지 않으면서
												유두가 가슴 밑 선 보다
												약 1cm 이내로 내려간
												처짐이 있는 경우
							                </p>
							            </div>
							        </li>
							        <li class="img-style7__item">
							            <div class="img-style7__img">
							                <img src="../../images/chest/droop/droop_grade_3.png" class="img-w100" loading="lazy" alt="Grade 2">
							            </div>
							            <div class="img-style7__caption">
							                <h6 class="img-style7__subject txt-new2">
							                    Grade 2
							                </h6>
							                <p class="img-style7__txt txt-new1">
							                    가슴에 볼륨감이 있으면서
												유두가 가슴 밑 선 보다
												약 2~3cm 정도 위치에 내려간
												처짐이 있는 경우
							                </p>
							            </div>
							        </li>
									<li class="img-style7__item">
							            <div class="img-style7__img">
							                <img src="../../images/chest/droop/droop_grade_3.png" class="img-w100" loading="lazy" alt="Grade 2">
							            </div>
							            <div class="img-style7__caption">
							                <h6 class="img-style7__subject txt-new2">
							                    Grade 3
							                </h6>
							                <p class="img-style7__txt txt-new1">
							                    가슴에 볼륨이 없으면서
												유두가 가슴 밑 선 보다
												약 3cm 이상 내려간
												처짐이 있는 경우
							                </p>
							            </div>
							        </li>
							    </ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="img-style6">
								<h5 class="heading-bar type-chest">바노바기 상태 별 처진 가슴성형 방법</h5>
								<ul class="img-style6__list type-margin-zero">
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/droop/droop_img_3.jpg" loading="lazy" alt="벨로디 레이저 리프팅" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">벨로디 레이저 리프팅</h6>
													<p class="img-style6__txt2 txt-new1">
														가슴의 크기보다는 단순 처짐이 고민인 경우 선택할 수 있는 방법입니다.
														진피층을 강하게 자극하여 콜라겐과 엘라스틴을 재생시키는 레이저를 통해
														처진 가슴을 리프팅 하는 원리이며, 수술적 방법이 아니기 때문에
														부담이 거의 없이 비교적 간편하게 개선된다는 장점이 있습니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/droop/droop_img_4.jpg" loading="lazy" alt="가슴 교정술 " class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">가슴 교정술</h6>
													<p class="img-style6__txt2 txt-new1">
														가슴의 크기에 큰 변화를 주지 않으면서 처짐 현상을 교정하는 방법입니다.
														절개 방법에 따라 흉터의  모양과 위치가 달라질 수 있기 때문에
														원하는 절개 방법을 선택한 뒤, 유방 조직을 원추형으로 박리하여
														처진 피부를 끌어올린 후 고정하게 됩니다.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/droop/droop_img_5.jpg" loading="lazy" alt="가슴 축소술" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">가슴 축소술</h6>
													<p class="img-style6__txt2 txt-new1">
														대부분의 가슴 처짐은 가슴 비대증과 연관되기 때문에
														가슴 축소가 함께 이루어져야 하는 경우가 많습니다.
														가슴 축소술을 통해 적절한 가슴의 형태를 잡고
														가슴 교정술을 더하여 고정하는 것으로 처짐을 개선하게 됩니다.
													</p>
													<a href="chestReduction.php" class="img-style6__btn btn4 txt-new1">바노바기 가슴 축소술 자세히 보기</a>
												</div>
											</div>
										</div>
									</li>
									<li class="img-style6__item">
										<div class="img-style6__img">
											<img src="../../images/chest/droop/droop_img_6.jpg" loading="lazy" alt="가슴 확대술" class="img-w100">
										</div>
										<div class="img-style6__area">
											<div class="img-style6__inner">
												<div class="img-style6__vertical">
													<h6 class="img-style6__subject txt-new2">가슴 확대술</h6>
													<p class="img-style6__txt2 txt-new1">
														가슴에 볼륨이 급격히 줄어들어 처짐이 발생한 경우라면,
														가슴 확대술을 통해 가슴의 크기와 처짐 문제를 동시에 개선해 줄 수 있습니다.
														절개 방법에 따라 흉터의  모양과 위치가 달라질 수 있기 때문에
														수술 전 충분한 상담을 통해 원하는 가슴 확대술을 선택해야 합니다.
													</p>
													<a href="chestExtension.php" class="img-style6__btn btn4 txt-new1">바노바기 가슴 확대술 자세히 보기</a>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div><!--inner-box-->
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-section__wrap">
                    <div class="new-section__box">
                        <div class="new-style2">
                            <h4 class="new-style2__tit tit-new1 weight-regular">
                                <span class="n-color-chest2">처짐을 개선</span>하는 동시에 아름다워야 합니다
                            </h4>
                            <p class="new-style2__txt txt-new1">
                                처진 가슴성형의 궁극적인 목표는 결국 가슴을 탄력적이고 아름답게 개선하는 것입니다.<br class="hidden-tm">
								단순히 처진 가슴을 끌어올리는 것에 그치지 않고 개개인의 체형과 추구하는 방향에 맞는 가슴의 모양과 크기를 찾는 것이 중요하죠.<br class="hidden-tm">
								따라서 처진 가슴성형은 신체 비율에 대한 감각과 수술적 기술을 갖춘 전문의가 진행해야 합니다.<br><br>
								바노바기는 2000년 개원 이후 가슴 성형 전문팀을 운영하며 보다 체계적인 처진 가슴성형을 진행하고 있습니다.<br class="hidden-tm">
								오랜 경험과 심미안을 통해 개개인 체형에 어울리는 가슴의 형태를 고려하여 처진 가슴을 개선하죠.
                            </p>
                            <p class="new-style2__txt2 txt-new2">
                                또, 보다 빠르고 정밀한 시술을 통해 <span class="n-color-chest2">조직을 거의 손상시키지 않고 수술 후 흉터를 관리하는 노하우</span>를 갖추어,<br class="hidden-tm">
								보다 자연스럽고 만족스러운 처진 가슴성형이 가능합니다.
                            </p>
                        </div>

						<div class="img-style3 type-mt">
                            <h5 class="heading-bar type-chest">바노바기 처진 가슴성형 장점</h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/chest/droop/droop_img_7.jpg" loading="lazy" alt="가슴진찰 사진" class="img-w100">
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/chest/droop/droop_img_8.jpg" loading="lazy" alt="가슴성형 모델" class="img-w100">
                                    </div>
                                </li>
                            </ul>
                        </div>
						<div class="inner-circle type-chest type-bar">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										신체 비율을<br class="hidden-m">
										고려하여 조화로운<br class="hidden-m">
										가슴형태 추구
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										보다 정밀한<br class="hidden-m">
										기술로 더욱 빠르고
										부작용 거의 없는
										자연스러운 결과
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										피부과와의<br class="hidden-m">
										협진을 통한<br class="hidden-m">
										흉터 관리
									</div>
								</li>
							</ul>
						</div>

                    </div><!--//new-section__box-->

                </div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-droop3 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기 처진 가슴성형은<br>
						<span class="n-color-chest3">회복과 흉터</span>에 더욱 신경씁니다
					</h4>
					<p class="new-style1__txt txt-new1">
						레이저를 이용한 방법을 제외한 처진 가슴성형은 절개를 통해 진행됩니다.<br class="hidden-tm">
						따라서 보다 순조로운 회복을 돕고 흉터를 최소화하려는 노력이 필요하죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 보다 체계적인 후 관리를 통해 수술 후 회복을 원활하게 하며,<br class="hidden-tm">
						<span class="n-color-chest3">유륜을 통한 절개나 바노바기 피부과와의 협진을 통한 흉터 관리</span>를 더해 흉터를 거의 보이지 않게 합니다.
					</p>
					<div class="after-style type-chest">
						<ul class="after-style__list">
							<li class="after-style__item nth-1">
								<div class="after-style__txt txt-new2">수술 후 1개월</div>
							</li>
							<li class="after-style__item nth-2">
								<div class="after-style__txt txt-new2">수술 후 6개월</div>
							</li>
							<li class="after-style__item nth-3">
								<div class="after-style__txt txt-new2">수술 후 12개월</div>
							</li>
						</ul>
						<p class="after-style__noti txt-new1">
							* 위 이미지는 이해를 돕기위한 하나의 사례로 개인 피부상태, <span class="inline-block">환경, 관리 등의 영향에 따라 차이가 있을 수 있습니다.</span>
						</p>
					</div>
				</div>
			</div>
			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">적극적인 후 관리를 통해 만족도를 더합니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 10~14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2~3회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
									수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
									수술 후 일정 기간 동안은 팔을 높이 들거나 벌리는 등 가슴이 팽창되는 동작은 하지 않는 것이 좋습니다.<br>
									염증이나 부작용을 예방하기 위해 약 2주 정도의 금주와 금연이 필요합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-bodylift">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">바디 리프팅</h5>
									<p class="bg-style2__txt txt-new1">
										처진 가슴성형과 마찬가지로 바디 리프팅을 통해 급격한 체중 변화 후 <br class="hidden-tm">
										처진 신체 각 부위들을 탄력적으로 개선할 수 있습니다
									</p>
									<a href="../body/bodyLifting.php" class="bg-style2__btn txt-new1">
										<span>바디 리프팅 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
