.detail-section{
	&.cosmetic-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; @include background('../images/introduce/cosmetic/cosmetic_detail_bg_1.jpg','no-repeat center center / cover'); content:'';}
	}
    &.cosmetic-section1{
        &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; @include background('../images/introduce/cosmetic/cosmetic_detail_bg_2.jpg','no-repeat left center / cover');  content:'';}
    }
    &.cosmetic-section2{
        &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; @include background('../images/introduce/cosmetic/cosmetic_detail_bg_3.jpg','no-repeat left center / cover');  content:'';}
    }
    &.cosmetic-section3{
        &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; @include background('../images/introduce/cosmetic/cosmetic_detail_bg_4.jpg','no-repeat left center / cover');  content:'';}
    }

	@media only screen and (max-width:$tablet-size){
		&.cosmetic-section0{
			&:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_1_t.jpg','no-repeat center center / cover');}
		}
        &.cosmetic-section1{
            &:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_2_t.jpg','no-repeat center center / cover');}
        }
        &.cosmetic-section2{
            &:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_3_t.jpg','no-repeat center center / cover');}
        }
        &.cosmetic-section3{
            &:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_4_t.jpg','no-repeat center center / cover');}
        }
	}
	@media only screen and (max-width:$mobile-size){
		&.cosmetic-section0{
			&:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_1_m.jpg','no-repeat center center / cover');}
		}
        &.cosmetic-section1{
			&:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_2_m.jpg','no-repeat center center / cover');}
		}
        &.cosmetic-section2{
			&:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_3_m.jpg','no-repeat center center / cover');}
		}
        &.cosmetic-section3{
			&:before{@include background('../images/introduce/cosmetic/cosmetic_detail_bg_4_m.jpg','no-repeat center center / cover');}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.cosmetic-section0, &.cosmetic-section1,
        &.cosmetic-section2, &.cosmetic-section3{height:800px !important;}
	}
}

.detail-visual{
	$this:&;

	&.type-cosmetic{max-width: 428px;margin: 0 auto;
		#{$this}__logo{max-width: 380px;margin: 0 auto;}
        #{$this}__box{margin-top: 52px;border: 12px solid rgba(255, 255, 255, 0.55);}
        #{$this}__wrap{padding: 40px 70px 0;}
		#{$this}__subtit{position: relative;margin: 0;padding-bottom: 36px;font-size: 26px;
            &:after{content: '';position: absolute;left: 0;right: 0;bottom: 0;width: 74px;height: 1px;margin: 0 auto;background-color: #000000;}
        }
        #{$this}__tit{margin: 30px 0 0;padding: 0;border: 0;background: transparent;font-size: 70px;color: #000;letter-spacing: 0;line-height: 1.2;
            &:before, &:after{display: none;}
        }
        #{$this}__img{margin-top: 34px;}
	}

    @media only screen and (max-width:$tablet-size){
        &.type-cosmetic{
            #{$this}__box{margin-top: 44px;}
            #{$this}__link{border: 0;background-color: #fff;}
        }
    }
    @media only screen and (max-width:$tablet-size) and (orientation: landscape){
        &.type-cosmetic{
			#{$this}__logo{max-width: 340px;}
            #{$this}__box{margin-top: 28px;}
            #{$this}__wrap{padding-top: 30px;}
            #{$this}__tit{margin-top: 24px;font-size: 60px;}
            #{$this}__subtit{padding-bottom: 30px;font-size: 20px;}
			#{$this}__img{margin-top: 30px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-cosmetic{
			#{$this}__logo{max-width: 190px;}
            #{$this}__box{margin-top: 16px;border-width: 6px;}
            #{$this}__wrap{padding: 20px 36px 0;}
            #{$this}__subtit{padding-bottom: 15px;font-size: 1.6rem;}
            #{$this}__tit{margin-top: 14px;font-size: 3.6rem;}
            #{$this}__link{margin-top: 10px;padding: 6px 12px;font-size: 1.3rem;}
            #{$this}__img{margin: 12px auto 0;width: 97px;}
        }
    }
}

.scroll{
    $this:&;

    &.type-cosmetic{bottom: 20px;
        #{$this}__inner{border-color: #000;}
        #{$this}__ball{background: #000;}
        #{$this}__txt{color: #000;}
    }
}

.inner-wrap{
    $this:&;

    @media only screen and (max-width:$tablet-size){
        &.type-cosmetic{padding-left: 22.13%;padding-right: 22.13%;}
        &.type-cosmetic2{padding-left: 17.18%;padding-right: 17.18%;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-cosmetic{padding-left: 16.25%;padding-right: 16.25%;}
        &.type-cosmetic2{padding: 0 11.38%;}
    }
}

.onepage__box{
    $this:&;

    &.type-cosmetic{padding-left: 24.21%;}
    &.type-half{padding-right: 0;}

    @media only screen and (max-width:$tablet-size){
        &.type-cosmetic{padding-left: 0;}
        &.type-half{width: 100%;}
    }
}

.cosmetic-btn{
	display: inline-block;margin-top: 20px;padding: 8px 13px 8px;border: 1px solid #333333;border-radius: 16px;font-size: 13px;font-weight: $regular;color: #333333;text-decoration: none;box-sizing: border-box;

	&:hover{background-color: #333;color: #fff;}
	&.type-cling{margin-top: 40px;padding-left: 30px;padding-right: 30px;}

    @media only screen and (max-width:$tablet-size){
		border: 0;background-color: #fff;

		&:hover{background-color: #fff;color: #333333;}
		&.type-cling{border: 1px solid #333333;}
    }
    @media only screen and (max-width:$mobile-size){
		margin-top: 10px;padding: 6px 12px;font-size: 1.3rem;

		&.type-cling{margin-top: 15px;padding-left: 12px;padding-right: 12px;}
    }
}

.cosmetic-detail1{position: relative;
    &__area{position: absolute;left: 0;top: 44px;display: inline-block;}
    &__tit{margin: 0;font-size: 70px;font-weight: $bold;color: #fff;line-height: 1.1;}
    &__subtit{margin: 6px 0 0;font-size: 55px;font-weight: $regular;color: $black5;line-height: 1.2;}
    &__box{display: inline-block;padding-left: 380px;}
    &__txt{position: relative;padding-top: 44px;color: #333;
        &:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 30px;background-color: #fff;}
    }
    &__txt2{margin-top: 24px;color: #333;
        a{color: #333;text-decoration: none;}
    }
    &__img{max-width: 264px;margin-top: 20px;}

    @media only screen and (max-width:$tablet-size){
        &__area{position: static;}
        &__box{margin-top: 30px;padding-left: 70px;}
        &__img{margin-top: 20px;}
    }
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&__box{margin-top: 24px;}
		&__tit{font-size: 60px;}
		&__subtit{font-size: 40px;}
		&__txt{padding-top: 36px;font-size: 18px;
	        &:before{height: 20px;}
	    }
		&__txt2{margin-top: 14px;font-size: 13px;}
		&__img{margin-top: 10px;}
	}
    @media only screen and (max-width:$mobile-size){
        position: relative;padding-bottom: 115px;
        &__box{margin-top: 16px;padding-left: 0;}
        &__tit{font-size: 3.6rem;}
        &__subtit{font-size: 2.8rem;}
        &__txt{padding-top: 20px;
            &:before{height: 15px;}
        }
        &__txt2{margin-top: 12px;}
        &__img{position: absolute;bottom: 0;right: 0;margin-top: 0;width: 152px;}
    }
}

.cosmetic-detail2{text-align: center;
    &.type-cling{position: absolute;left: 21.62%;top: 22.22%;}

    &__tit{margin: 8px 0 0;font-size: 55px;font-weight: $bold;}
    &__subtit{margin: 0;font-size: 36px;font-weight: $regular;}
    &__point{color: #00b4d4;}
    &__img{position: relative;max-width: 798px;margin: 30px auto 0;padding-top: 36px;
        &:before{content: '';position: absolute;left: 0;right: 0;top: 0;width: 70px;height: 1px;margin: 0 auto;background-color: #000;}
    }

    @media only screen and (max-width:$tablet-size){
        &.type-cling{left: 0;right: 0;top: 17.58%;}
    }
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&__tit{margin-top: 6px;font-size: 40px;}
		&__subtit{font-size: 28px;}
		&__img{max-width: 600px;margin-top: 20px;}
	}
    @media only screen and (max-width:$mobile-size){
        &.type-cling{top: 15.4%;}

        &__tit{margin-top: 4px;font-size: 2.85rem;}
        &__subtit{font-size: 1.9rem;}
        &__img{margin-top: 15px;padding-top: 15px;
            &:before{width: 34px;}
        }
    }
}
