.new-visual{
	$this:&;
	&.type-front{
		&:before{@include background('../images/contour/front/front_visual_1.jpg','no-repeat center center / cover');}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-front{
			&:before{@include background('../images/contour/front/front_visual_1_t.jpg','no-repeat center center / cover');}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-front{
			&:before{@include background('../images/contour/front/front_visual_1_m.jpg','no-repeat center center / cover');}
		}
	}
}

.new-style1{
	$this: &;

	&.type-front{@include background('../images/contour/front/front_bg_1.jpg','no-repeat center bottom/contain');}
    &.type-front2{background-color: #efefef;}
    &.type-front3{@include background('../images/contour/front/front_bg_2.jpg','#eff6fc no-repeat center bottom/contain');}
    &.type-front4{background-color: #eff6fc;}
    &.type-front5{background-color: #f1f2f2;}
	&.type-front6{@include background('../images/contour/front/front_bg_3.jpg','#eff6fc no-repeat center bottom/cover');
		#{$this}__tit{color: #fff;}
		#{$this}__txt2{color: #fff;}
	}
	&.type-front7{background-color: #223760;}
	&.type-front8{@include background('../images/contour/front/front_bg_4.jpg','#f2f2f2 no-repeat center bottom/contain');}
	&.type-front9{background-color: #364b75;
		#{$this}__tit{color: #fff;}
		#{$this}__txt2{color: #fff;}
	}
	&.type-front10{@include background('../images/contour/front/front_bg_5.jpg','no-repeat center bottom/cover');}
	&.type-front11{background-color: #afd4e7;}
	&.type-front12{@include background('../images/contour/front/front_bg_6.jpg','no-repeat center bottom/cover');}
	&.type-front13{@include background('../images/contour/front/front_bg_7.jpg','#c7e1f5 no-repeat center bottom/contain');}
	&.type-front14{background-color: #c7e1f5;}
}

.inner-box{
	&.type-front{background:#364b75;}
}
