
/*광대수술*/
/* COMMON CSS */
.caution-para1.type-cheekbone{
	color: #ffffff;
	@media only screen and (max-width:$tablet-size){}
	@media only screen and (max-width:$mobile-size){}
}

.content-section{
	&__img{ float: left; width: 50%; height:auto; font-size:0;}
	&__box1{padding:0; float: none;box-sizing: border-box;}
	&__txt{
		&.sec2-txt{display:table-cell; width: 1%; height: 60px; vertical-align: middle; font-size: 20px;}
	}
	@media only screen and (max-width:681px){
		&__txt{ line-height: 1.8; font-size:1.4rem; font-weight: 300; line-height: 130%;}
	}
}

/* SECTION1 */
.content-section{
	&.type-sec1{margin-top:75px; text-align: left;}
	&__wrap{}
	&__box1{
		&.type-w4{float:left; width: 43%; padding-left:29px; padding-right:0px; text-align: left;box-sizing: border-box;}
		&.type-w6{float:left; width: 57%; padding-left:22px;box-sizing: border-box;}
	}
	&__tit{
		&.type-sec1{font-weight:300; letter-spacing: -2px; padding-top: 75px;}
	}
	&__number{
		&.type-sec1{left:-33px; top: 0px;}
	}
	&__number-wrap{color:#000;}
	&__number-wrap:before{background-color:#898989;}
	&__txt1.type-special:before{ content:''; width:45px; height:2px; position:absolute; left:0; top:-13px; background-color:#333;}
	&__txt3{
		&.type-sec1{font-weight:300; font-size:20px; margin-top:67px; word-break:keep-all; letter-spacing: 0px; color:#333333}
		&.type-sec1 strong{font-weight: 400;}
	}
	&__img{
		&.sec1-img{}
		&.sec1-thumb{font-size:0;}
	}
	@media only screen and (max-width:$minpc-size3){}
	@media only screen and (max-width:$tablet-size){
		&.type-sec1{margin-top:105px;}
		&__tit{
			&.type-sec1{ font-size: 52px; padding-right:165px;}
		}
		&__number{
			&.type-sec1{top: -53px; left:-5px;}
		}
		&__box1{
			&.type-w6{float:none; width:auto;margin-top:0px; padding-left:0;}
			&.type-w4{float:none; width:auto; padding:0; }
			&.type-w6 img{display:none;}
		}
		&__img{ float:none; width:100%;
			&.sec1-thumb{ padding-bottom:81.42%; height:0; position:relative; margin-top:70px; }
			&.sec1-thumb:before{@include background('../images/contour/contour_cheekbone_section02_990.jpg','bottom / contain no-repeat');content:''; position: absolute; left:0; top:0px; width: 100%; height:100%; display:block; }
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-sec1{margin-top:25px;}
		&__tit{
			&.type-sec1{ font-size:2.7rem; padding-right:50px; letter-spacing: 0;}
		}
		&__number{
			&.type-sec1{top:0;}
		}
		&__txt1.type-special:before{ width:22px; height:1px; top:-10px; }
		&__txt3{ letter-spacing: 0;
			&.type-sec1{ font-size: 1.4rem; margin-top:27px; letter-spacing: -1px; line-height:1.6;}
		}
		&__box1{
			&.type-w6{padding:0;}
			&.type-w6:before{@include background('../images/contour/contour_cheekbone_section02_680.png','center top/ contain no-repeat');}
		}
	}
}

.cheek-box1{
	.content-section{
		&__tit{margin-left: -30px;}
        &__txt1{padding-right: 5%;}
        &__txt1{
			&.type-special{font-style: italic;}
		}
		&__txt2{position: relative;}
	}

	@media only screen and (max-width:$mobile-size){padding: 0 15px;
		.content-section{
			&__tit{margin-left: -15px;}
		}
	}
}


/* SECTION2 */
.content-section{
	&.sec2-section{
		.box{ text-align: center;}
	}
	&__box1{
		&.sec2-bg{@include background('../images/contour/contour_cheekbone_section03.jpg','0 0 / cover no-repeat');padding: 50px 0 135px;}
	}
	&__tit{
		&.sec2-tit{color:#ffffff;}
	}
	&__number{
		&.sec2-number{ top: 48px; right:-25px;}
	}
	&__number-wrap{
		&.sec2-number-wrap{ color: #898989;}
	}
	&__box1{
		&.type-sort{ text-align: center; }
	}
	&__img-wrap{
		&.sec2-box{ padding: 0 110px; margin-top:50px;
			&:after{content: '';display: block;clear: both;}
		}
	}
	&__img{
		&.sec2-unique{float:left; width: 50%;}
	}
	&__thumb{
		&.sec2-pic1{display:block; width:100%;}
	}
	&__item{
		&.sec2-item{overflow:hidden; width:100%;}
	}
	&__box1{
		&.sec2-space{ margin-top: 80px; }
	}
	&__txt{
		&.sec2-txt{color:#fefefe; }
		&.type-unique{ padding: 0 270px; font-weight:300; margin-top:50px; -ms-word-break: keep-all;word-break: keep-all;}
	}
	&__txt-big{font-size:22px; color: #ffffff; text-align: center; line-height:1.5; font-weight:300;}

	@media only screen and (max-width: $minpc-size3){
		&__txt{
			&.type-unique{padding:0;}
		}
		&__txt-big{
			&.type-brace{width:74.59%;}
			&.type-brace:before{left:-8px;}
			&.type-brace:after{right:-8px;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&.sec2-section{ margin-top:0;}
		&__box1{
			&.sec2-bg{@include background('../images/contour/contour_cheekbone_section03_990.jpg','0 0 / cover no-repeat');margin: 0 -65px;}
		}
		&__txt{
			&.type-unique{padding:0 65px; margin-top:35px; letter-spacing: -1px;}
		}
		&__img-wrap{
			&.sec2-box{margin-top:65px; padding:0 65px;}
		}
		&__number{
			&.sec2-number{right:60px;}
		}
		&__thumb{ background: 0 0 / contain no-repeat;}
		&__desc{}
		&__txt{
			&.sec2-txt{font-weight:300; letter-spacing:0px;font-size: 17px;}
		}
		&__txt-big{
			&.type-brace{width:74.59%;}
			&.type-brace:before{left:-33px;}
			&.type-brace:after{right:-33px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.sec2-section{ margin-top:0;}
		&__box1{
			&.sec2-section{text-align:left;}
		}
		&__box1{
			&.sec2-bg{@include background('../images/contour/contour_cheekbone_section03_680.jpg','0 0 / cover no-repeat');margin: 0 -20px; padding:50px 20px 70px; }
		}
		&__box1{
			&.type-sort{text-align: left;}
		}
		&__number{
			&.sec2-number{top:20px; right:0;}
		}
		&__txt{
			&.type-sort{text-align: left;}
			&.type-unique{padding:0 15px; margin-top:25px;}
		}
		&__img-wrap{
			&.sec2-box{padding:0; margin-top:24px;}
		}
		&__item{
			&.sec2-item{}
		}
		&__desc{
			&.type-wide{height:40px;}
		}
		&__txt{
			&.sec2-txt{font-size:1.2rem; font-weight:300; height:inherit;}
		}
		&__box1{
			&.sec2-space{margin-top:23px;}
		}
		&__txt-big{ font-size: 1.6rem; letter-spacing: -1px; word-break: normal;text-align: center;
			&.type-brace{position:relative; width:88.13%; margin:0 auto; line-height:1.8;}
			&.type-brace:before{display:none;}
			&.type-brace:after{ display:none;}
		}
	}
}

.cheek-box2{
	.content-section{
		&__tit{color: #ffffff;}
		&__number-wrap{color: #888b91;}
		&__number-wrap:after{background-color: #93969c;}
        &__txt1{padding: 0 19%;}
        &__wrapper{padding: 0 20%; margin-top: 80px;}
	}
	.brace{margin-top:80px; padding:0 100px;
		&__txt{color: #fff; height: auto;}
	}

    @media only screen and (max-width:$tablet-size){
		.content-section{
			&__txt1{padding: 0 9%;}
			&__wrapper{padding: 0 9%;}
		}
		.brace{width:calc(100% - 100px); margin-left:auto; margin-right:auto; box-sizing:border-box;}
    }
	@media only screen and (max-width:$mobile-size){
		.content-section{
			&__tit{text-align: center; display: block;}
			&__wrapper{margin-top: 30px;padding: 0;}
			&__txt1{padding: 0%;}
		}
		.brace{width:100%; margin-top:30px; padding: 0; text-align: center;
			&__txt{display: block; padding: 0;}
		}
	}
}

/* SECTION3 */
.content-section{
	&__bg{
		&:after{content: '';display: block;clear: both;}
	}
	&__box1{
		&.sec3-width{float:left;}
		&.sec3-type-w4{width:45%; padding-top:142px; padding-left:55px;}
		&.type-w6{width:55%;}
		&.sec3-unique{font-size:0;}
	}
	&__number{
		&.sec3-number{ left: -30px; top: 47px;}
	}
	&__txt{
		&.sec3-txt{margin-top:45px; letter-spacing:-1px;}
	}

	@media only screen and (max-width:$tablet-size){
		&__box1{
			&.sec3-width{float:none; width: auto;}
			&.sec3-type-w4{display:none;}
			&.type-w6{width:100%;}
		}
		&__box1{
			&.sec3-unique{height:0; position:relative;padding-bottom: 63.29%; font-size:0;}
			&.sec3-unique:before{position:absolute;left:0;top:0; width:100%; height:100%; content:'';display:block;@include background('../images/contour/contour_cheekbone_section04_990.png','center center / 349px 302px no-repeat');}
		}
		&__txt{
			&.sec3-txt{margin:0; padding-right:5%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__box1{
			&.sec3-unique{margin-top: 30px; padding-bottom:49.74%;}
			&.sec3-unique:before{@include background('../images/contour/contour_cheekbone_section04_680.png','center center / 175px 150px no-repeat');}
		}
		&__tit{
			&.sec3-tit{padding-left:13px;}
		}
		&__number{
			&.sec3-number{left:0;top:24px;}
		}
		&__txt{
			&.sec3-txt{margin-top:25px; padding: 0 15px;}
		}
	}
}

.cheek-box3{text-align: left;
	.content-section{
		&__tit{ margin-left: -30px;}
		&__number-wrap{}
		&__number-wrap:after{}
	}
	.content-section__txt1{text-align: left;}

	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{margin-top: 0;}
	}
	@media only screen and (max-width:$mobile-size){padding: 0 15px;
		.content-section{
			&__tit{ margin-left: -15px;}
			&__number-wrap{}
			&__number-wrap:after{}
		}
	}
}

.cheek-box4{
	.content-section__screen{
		&.type-pc{display: block;}
		&.type-mobile{display: none;}
	}

    @media only screen and (max-width:$tablet-size){
		margin: 0 -65px;
	}
	@media only screen and (max-width:$mobile-size){
		margin: 0 -20px;background-color: #c3cde2;padding-bottom: 30px;

		.content-section__screen{
			&.type-pc{display: none;}
			&.type-mobile{display: block;}
		}
	}
}



/* SECTION4 */
.content-section{
	&__bg{box-sizing:border-box;
		&.sec4-bg{ position:relative; @include background('../images/contour/contour_cheekbone_section05.jpg','0 0 / cover no-repeat'); padding-top:100px;}
		&.sec4-bg:after{position:absolute; content:''; display: inline-block; bottom:0; left:0; width:100%; height: 63.10%; @include background('../images/contour/contour_cheekbone_section05-face.png','65% 0/ contain no-repeat');z-index: 0;}
		&.type-special{padding-bottom:120px;}
	}
	&__tit{
		&.sec4-tit{font-size:53px; padding:0 17.65%; margin-top: 35px; text-align: center; letter-spacing: -2px;}
	}
	&__point{text-align:center;}
	&__point-wrap{ padding: 4px 50px; display:inline-block; font-size:14px; color:#333; border: 1px solid #333; text-transform: uppercase; letter-spacing: 16px; font-weight:300;}
	&__point-wrap span{ margin-right: -16px;}

	@media only screen and (max-width:$minpc-size3){
		&__bg{
			&.sec4-bg{@include background('../images/contour/contour_cheekbone_section05_990.jpg','0 bottom / cover no-repeat');padding-bottom:200px; position:relative}
			&.sec4-bg:after{position:absolute; content:''; display: inline-block; bottom:0; left:0; width:100%; height: 66.10%; @include background('../images/contour/contour_cheekbone_section05-face_990.png','26% 0/ contain no-repeat');z-index: 0;}
			&.type-special{background:none;}
		}
		&__tit{
			&.sec4-tit{padding:0;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__tit{
			&.sec4-tit{font-size:50px; padding:0 7.07%;}
		}
		&__bg{
			&.sec4-bg{ position:relative; @include background('../images/contour/contour_cheekbone_section05_990.jpg','0 0 / cover no-repeat');padding-bottom:241px;}
			&.sec4-bg:after{position:absolute; content:''; display: inline-block; bottom:0; left:0; width:100%;  height: 59.1%; @include background('../images/contour/contour_cheekbone_section05-face_990.png','43% 0/ contain no-repeat');z-index: 0;}
			&.type-special{}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{
			&.sec4-tit{font-size:2.6rem; margin-top:15px;}
		}
		&__point{}
		&__point-wrap{ font-size: 1.0rem;letter-spacing: 9px;padding: 1px 27px;}
		.content-section__point-wrap span{margin-right: -5px;}
		&__bg{
			&.sec4-bg{@include background('../images/contour/contour_cheekbone_section05_680.jpg','0 0 / cover no-repeat');padding-top: 40px; padding-bottom:40px;}
			&.sec4-bg:after{width:100%; height: 70.10%; @include background('../images/contour/contour_cheekbone_section05-face_680.png','40% bottom / auto 330px no-repeat');}
			&.type-special{padding-bottom:90%;}
		}
	}
}


/* SECTION5 */
.content-section{
	&.sec5-section{position:relative;}
	&__bg{
		&.sec5-bg{@include background('../images/contour/contour_cheekbone_section06.jpg','-70px 0 / cover no-repeat');padding:150px 100px 144px; text-align: left;}
	}
	&__box1{
		&.sec5-space{padding-right:46.94%;}
	}
	&__desc{
		&.sec5-desc{}
		&.type-unique{margin-top:50px; padding-left:0px;}
	}
	&__tit{
		&.sec5-tit{padding-right:49.01%;}
	}
	&__txt{
		&.sec5-txt{color:#ffffff; font-size: 17px; text-align:center; display:table-cell; width:1%; vertical-align:middle; height:60px;}
	}
	&__img-box{}
	&__thumb{
		&.sec5-pic1{text-indent:-9999px;height:0;}
		&.sec5-pic2{text-indent:-9999px;height:0;}
		&.sec5-pic3{text-indent:-9999px;height:0;}
	}
	&__img{
		&.sec5-unique{ float:left; width: 33.3333%; padding-left:15px; box-sizing: border-box;}
	}
	&__item{
		&.sec5-item{}
		&.sec5-item img{width:100%;}
	}
	&__list{
		&.type-wrap{margin: 50px 0 0 -15px;padding: 0;list-style: none;
			&:after{content: '';display: block;clear: both;}
		}
	}

	@media only screen and (max-width:$minpc-size3){
		&__desc{
			&.type-unique{padding-left: 0;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&__bg{
			&.sec5-bg{background: url('../images/contour/contour_cheekbone_section06_990.jpg') center bottom / cover no-repeat; padding: 136px 0 170px; margin: 0 -65px;}
		}
		&__box1{
			&.sec5-bg-small{padding-left:65px;}
		}
		&__list{
			&.type-wrap{padding:0 60px;}
		}
		&__tit{
			&.sec5-tit{padding-right:36.5%; letter-spacing: -2px;}
		}
		&__desc{
			&.sec5-desc{height:65px;}
			&.type-unique{margin-top:0; padding-left:65px;}
		}
		&__txt{
			&.sec5-txt{font-size:16px; font-weight:300; line-height: 1.3; display: table-cell; width: 1%; vertical-align: middle; height:62px; }
			&.sec5-unique{padding-right:14.44%}
			&.type-space{padding-right:14.44%}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__bg{
			&.sec5-bg{background:none; margin:0; padding-bottom:0; padding-top: 0;}
		}
		&__box1{
			&.sec5-bg-small{position: relative; padding:0px;}
			&.sec5-bg-small:after{ content:'';position:absolute; left:0; right:0; top:0; z-index:-1; height: 100%; background: url('../images/contour/contour_cheekbone_section06_680.jpg') center bottom / cover no-repeat; margin: 0 -20px;}
		}
		&__tit{
			&.sec5-tit{padding-right:19%; font-size: 2.7rem;}
		}
		&__txt{
			&.sec5-txt1{ font-size:1.4rem; margin-top:30px;font-weight:300; word-break: normal; word-break:keep-all;}
			&.sec5-txt{font-size:1.0rem; height:40px;}
			&.sec5-unique{  font-size:1.4rem; margin-top:20px;font-weight:300; letter-spacing: -1px; word-break: normal; padding-right:0; padding-bottom:93%; }
			&.type-space{padding-right:0;}
		}
		&__desc{
			&.type-unique{padding-left:0; }
			&.sec5-desc{height:40px;}
		}
		&__list{
			&.type-wrap{padding:0; margin-left:-4px; margin-top:25px;}
		}
		&__img{
			&.sec5-unique{padding-left:4px;}
		}
	}
}
.cheek-box5{
	.info-desc__tit{color: #fff;}
	.info-desc__txt1{display: block; color: #ffffff;}
	.info-btn__icon{
		&.type-cheek{top: 5px;}
	}
	.content-section__txt1{padding-right: 45%;}
	@media only screen and (max-width:$tablet-size){
		.info-desc__tit{color: #333;}
		.info-desc__txt1{ margin: 0; margin-top: 15px; color: #333;}
		.content-section__txt1{padding-right: 24%;}
	}
	@media only screen and (max-width:$mobile-size){
		.info-desc__txt1{ float: none; display: block; width: 100%;padding: 0; margin-top: 9px;}
		.info-btn__icon{
			&.type-cheek{left: 2px; top: 5px;}
		}
		.content-section{
			&__tit{padding-right: 0px;}
		}
		.content-section__list{padding: 0 6px;}
		.content-section__txt1{padding-right: 0%; padding: 0 5px;}
		.content-section__txt1{
			&.type-unique{ padding: 0; padding-bottom: 105%;}
		}
		.content-section{}
	}
}

.operation{
	@media only screen and (max-width:$mobile-size){
		&.type-unique{margin-bottom: 0;}
	}
}

/*cheekbone*/
.color-contour9{color:#86aeff;}
.color-contour10{color: #6e9eff;}
.color-contour11{ color: #2e69df;}
.color-contour12{ color: #86aeff;}
.color-contour13{ color:#b9c3d8;}
.color-contour14{ background-color: #474747;}
.color-contour15{ background-color: #2e69df;}
.color-contour16{color:#173f8e;}
.color-contour17{background-color:#112349;}
