.new-visual{
	$this: &;
	&.type-square{
		&:before{
			@include background('../images/contour/square/square_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-square{
			&:before{
				@include background('../images/contour/square/square_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-square{
			&:before{
				@include background('../images/contour/square/square_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this: &;
	&.type-square{
		@include background('../images/contour/square/square_bg_1.jpg','no-repeat center bottom/contain');
	}
    &.type-square2{@include background('../images/contour/square/square_bg_2.jpg','no-repeat center bottom/cover');}
    &.type-square3{background-color: #efefef;}
	&.type-square4{background-color: #ebf0f9;}
	&.type-square5{@include background('../images/contour/square/square_bg_3.jpg','no-repeat center bottom/cover');
		#{$this}__tit{color:#fff;}
		#{$this}__txt2{color:#fff;}
		#{$this}__wrap{max-width:786px;}
	}
	&.type-square6{background-color:#223760;}
}

.inner-box{
	&.type-square{background: #e6eeff;}
}
.new-stripe{
	$this:&;
	&.type-square{background-color: #fff;
		#{$this}__item{border-bottom-color: #e1e1e1;
			&:last-of-type{border-bottom:none;}
		}
	}
}




.square-box1{padding:140px 92px 150px; @include background('../images/contour/square/square_img_10.png','#768bb5 no-repeat bottom -10px right 108px/contain');
	@extend %box;
	@extend %box-padding;
	&__box{width:416px; text-align:left;}
	&__txt{margin:0; padding-left:10px; font-size:15px; color:#fff; letter-spacing:12px;}
	&__tit{ padding-top:0; color:#fff; font-size: 37px; margin: 10px 0 0 0; font-weight:$light;
		strong{font-weight:$medium;}
	}
	&__img{display:none;}
	@media only screen and (max-width:$minpc-size3){background-size:50%; background-position:bottom right;}
	@media only screen and (max-width:$tablet-size){padding:90px 65px 120px; @include background('../images/contour/square/square_img_10_t.jpg','#768bb5 no-repeat bottom right -12px/contain');
		&__box{width:380px;}
	}
	@media only screen and (max-width:$mobile-size){margin:0px; padding:40px 15px 0; background-color:#768bb5; background-image:none;
		&__tit{margin-top:15px;font-size: 2.2rem;}
		&__txt{font-size:0.9rem; text-align:center;}
		&__box{width:100%; text-align:center;}
		&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:20px; padding-bottom:63.05%; @include background('../images/contour/square/square_img_10_m.jpg','center center/cover'); font-size:0; text-indent:-9999px;}
	}
}
.square-box2{padding:150px 216px 150px; @include background('../images/contour/square/square_img_11.jpg','center center / cover'); text-align:right;
	@extend %box;
	@extend %box-padding;
	&__box{display:inline-block; width:330px; text-align:left;}
	&__txt{margin:0; color:#8b9ebd; font-size:17px;}
	&__tit{margin:10px 0 0 0; padding-top:0; font-size:50px; color:#fff; font-weight:$light;}
	@media only screen and (max-width:$tablet-size){padding:120px 65px 110px; @include background('../images/contour/square/square_img_11_t.jpg','center center / cover');
		&__tit{font-size: 40px;}
	}
	@media only screen and (max-width:$mobile-size){padding:50px 30px;
		&__txt{font-size:1.2rem; word-break: keep-all;}
		&__box{width:160px;}
		&__tit{margin-top:8px; font-size:2.6rem;}
	}
}
.square-box3{@include background('../images/contour/square/square_bg_4.jpg','center center / cover');text-align:center;
	@extend %box;
	@extend %box-padding;
	&__wrap{font-size:0;}
	&__box{float:none; display:inline-block; vertical-align:middle;}
	&__box.w-4{width:33.33%; padding-right:30px; text-align:left;}
	&__box.w-6{width:50%; padding:40px 0; box-sizing:border-box;
		img{width:100%;}
	}
	&__tit{margin:16px 0 0 0; padding-top:0; font-size:36px; color:#fff; font-weight:$light;}
	&__txt{margin:0; font-size:17px; color:#b2c4e8;}
	@media only screen and (max-width:$tablet-size){padding:60px 65px;
		&__box{ text-align:center;}
		&__box.w-4{padding-right:0px; width:100%; text-align:center;}
		&__box.w-6{width:100%; margin-top:40px; padding:0;
			img{width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){padding:25px 15px 30px;
		&__txt{font-size:1.2rem;}
		&__tit{margin-top:10px; font-size:2.6rem;}
		&__box.w-6{padding: 0 7px;}
	}
}
