.new-visual{
	$this: &;

	&.type-contourman{
		&:before{
			@include background('../images/contour/contourman/contourman_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-contourman{
			&:before{
				@include background('../images/contour/contourman/contourman_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-contourman{
			&:before{
				@include background('../images/contour/contourman/contourman_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-contourman{@include background('../images/contour/contourman/contourman_bg_1.jpg','no-repeat center bottom/contain');}
    &.type-contourman2{background-color: $contour2;}
    &.type-contourman3{background-color: $contour3;}
    &.type-contourman4{background-color: #101e3a;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
        #{$this}__txt2{color: #fff;}
    }
	&.type-contourman5{@include background('../images/contour/contourman/contourman_bg_2.jpg','#d0defb no-repeat center bottom/contain');}
}
