.new-visual{
	$this: &;
	&.type-mini{
		&:before{
			@include background('../images/contour/mini/mini_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-mini{
			&:before{
				@include background('../images/contour/mini/mini_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-mini{
			&:before{
				@include background('../images/contour/mini/mini_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this: &;
	&.type-mini{
		@include background('../images/contour/mini/mini_bg_1.jpg','no-repeat center bottom/contain');
	}
    &.type-mini2{background-color: #bccef3;}
    &.type-mini3{background-color: #101e3a;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
    }
}

.inner-box{
	&.type-mini{background: #e6eeff;}
}
