.new-visual{
	$this:&;
	&.type-care{
		&:before{
			@include background('../images/contour/care/care_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	&.type-care2{
		&:before{
			@include background('../images/contour/care/care_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-care{
			&:before{
				@include background('../images/contour/care/care_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-care{
			&:before{
				@include background('../images/contour/care/care_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-care{@include background('../images/contour/care/care_bg_1.jpg','no-repeat center bottom/cover');}
	&.type-care2{background-color:#d1dffb;
		.inner-box{overflow:hidden;}
	}
	&.type-care3{@include background('../images/contour/care/care_bg_2.jpg','no-repeat center bottom/cover');
		#{$this}__tit{color:#fff;}
		#{$this}__txt2{margin-top:50px; color:#fff;}
	}
	&.type-care4{background-color:#e6eeff;}
	&.type-care5{background-color:#e5e9f2;}
	@media only screen and (max-width: $mobile-size) {
		&.type-care{
			#{$this}__img{padding:0 12px; box-sizing:border-box;}
		}
		&.type-care2{margin-top:-1px;}
	}
}


.inner-circle2{
	$this:&;
	&.type-care{
		#{$this}__item{
			&.nth-1{@include background('../images/contour/care/care_circle_1.png','no-repeat center center/contain');}
			&.nth-2{@include background('../images/contour/care/care_circle_2.png','no-repeat center center/contain');}
			&.nth-3{@include background('../images/contour/care/care_circle_3.png','no-repeat center center/contain');}
		}
	}
}
