
/*사각턱*/
.type-square{

	@media only screen and (max-width:$tablet-size){
		.content-section.type-unique{margin-top: 0;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section.type-unique{margin-top: 0;}
	}
}
.contour-box1{ padding-bottom: 240px; @include background('../images/contour/contour_chin_img02.jpg','no-repeat -32px top/contain');
	.content-section__tit{margin-left: -30px; margin-top: 110px;}
	.content-section__txt2{font-weight: 400; line-height: 1.75;}
	.content-section__box{float:right;width: 60%;padding-right: 92px; padding-left: 40px;}
	&:after{display:block; clear:both; content:'';}
	&__img{display:none;}
	.quotation2__style1{text-decoration:underline;}
	.quotation2__txt{font-weight:400; line-height: 2;font-style: italic; text-align: center;}

	@media only screen and (max-width:$tablet-size){padding-bottom:0; background:none;
		.content-section__tit{margin-top: 0;}
		.content-section__box{padding-right:0;padding-left: 0;}
		.content-section__txt1{padding-right: 0px;}
		&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:15px; padding-bottom:81.19%; @include background('../images/contour/contour_chin_img02_768.jpg','no-repeat center bottom/cover'); text-indent:-999px;}
		.content-section__txt2{text-align:center;}
	}
	@media only screen and (max-width:$mobile-size){padding: 0px;
		.content-section__tit{margin-left: -15px; }
		.content-section__txt1{padding: 0px;}
		.content-section__txt2{text-align:center;}
	}
}
.contour-bg{background-color:#f8f8f8; padding:70px 108px 100px;
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:100px 65px;}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:35px 20px 65px;}
}
.contour-box2{padding-bottom:90px; @include background('../images/contour/contour_chin_img03.jpg','no-repeat right bottom/contain');
	&:after{display:block; clear:both; content:'';}
	&__img{display:none;}

	.content-section__box{padding-left: 0; width:54%;}
	.content-section__txt1{padding-right: 30px;}

	@media only screen and (max-width:$minpc-size3){background-size:50%;}
	@media only screen and (max-width:$tablet-size){padding-bottom:0; background:none;
		.content-section__box{float:none;}
		&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:40px; padding-bottom:67.08%; @include background('../images/contour/contour_chin_img03_768.jpg','#f8f8f8 no-repeat center bottom/cover'); text-indent:-999px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{margin-top:30px;}
		.content-section__tit{margin-left: -2px;}
		.content-section__txt1{padding-right: 0px;}
	}
}
.contour-box3{
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; list-style:none; font-size:0;
		& img{width:100%;}
	}
	&__txt1{margin:46px 0 0 0; font-size:17px;line-height: 2.1; text-align:center; font-weight: 400;}
	&__txt2{margin:46px 0 0 0; font-size:22px; text-align:center; font-style: italic; font-weight:400; line-height: 1.5;}

	@media only screen and (max-width:$mobile-size){
		&__txt1{margin-top:26px; font-size:1.4rem;}
		&__txt2{margin-top:26px; font-size:1.6rem;}
		&__list{padding: 0;}
	}
}
.contour-box4{
	&__img{margin-top:80px;}
	@media only screen and (max-width:$tablet-size){text-align: center;
		.content-section__txt1{ padding: 0 5%; padding-left: 0; text-align: left;}
		&__img{margin-top:68px;
			img{width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){text-align: center;
		.content-section__number{width:11px;}
		.content-section__txt1{ padding: 0;}
		&__img{margin-top:30px;}
		&__list{padding: 0 7px;}
	}
}

.contour-box5{padding:130px 108px 120px; @include background('../images/contour/contour_chin_img07.jpg','center center/cover'); text-align:left;
	.content-section__txt1{color:#fff;}
	.content-section__tit{padding-top:0;color: #fff;font-weight: 300;}
	.content-section__txt2{font-weight:300; word-break: keep-all; color: #fff;}
	.content-section__txt1{
		&.type-special{margin-top: 60px;}
	}
	&__list{margin:0 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:16px; box-sizing:border-box; list-style:none;
		&.type-txt{padding-right:0px; }
		&.type-img{ padding-top: 130px;
			img{width:100%;}
		}
	}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:80px 65px 90px;
		&__list{margin-left:-8px;}
		&__item{padding-left:8px;
			&.type-txt{width:60%;    padding-right: 25px;}
			&.type-img{width:38%;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:40px 20px 0px;
		&__list{margin-left:0px;}
		&__item{float:none; padding-left:0px;
			&.type-txt{width:100%;padding-right: 0;}
			&.type-img{width:100%; margin-top:30px; padding-top:0;}
		}
		.content-section__txt1{
			&.type-special{margin-top: 30px;}
		}
	}
}
.contour-box6{
	.item-box1{padding:80px 102px; background-color:#1c263a; box-sizing: border-box;
		&__list{display:table; margin:0;  padding:0; }
		&__list + .item-box1__list{margin-top: 20px;}
		&__tit{position:relative; padding-left:44px; color:#fff;}
		&__plus{position:absolute; top:-6px; left:0; overflow:hidden; display:inline-block; width:35px; height:35px; border-radius:50%; border:2px solid #fff; text-indent:-9999px;}
		&__inner{height:100%;background-color: transparent;padding:44px 32px 40px; border:2px solid #fff; text-align:left;}
		&__item{display:table-cell; width:50%; padding:0 8px; vertical-align:top; box-sizing:border-box;}
		&__plus-wrap{position:relative; display:block; width:100%; height:100%;
			&:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;  content:'';}
			&:before{width:15px; height:0; border-top:1px solid #fff;}
			&:after{height:15px; width:0; border-left:1px solid #fff;}
		}
		&__txt{margin-top:28px;color:#a5aebe;}
	}

	@media only screen and (max-width:$tablet-size){margin: 0 -65px;
		.item-box1{padding:60px 65px 100px;
			&__item{display:block; width:100%;}
			.item-box1__item + .item-box1__item{margin-top: 30px;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin: 0 -20px;
		.item-box1{padding:25px 15px;
			& + .item-box1__list{margin-top: 20px;}
			.item-box1__item + .item-box1__item{margin-top: 20px;}
			&__inner{padding:20px; border-width:1px;}
			&__tit{padding-left:22px;}
			&__plus{top:2px; width:17px; height:17px; border-width:1px;}
			&__plus-wrap{
				&:before{width:7px;}
				&:after{height:7px;}
			}
			&__txt{margin-top:17px;}
		}
	}
}

.contour-box7{padding:140px 92px 150px; @include background('../images/contour/contour_chin_img08.png','#768bb5 no-repeat bottom -10px right 108px/contain');
	&__box{width:416px; text-align:left;}
	&__txt{margin:0; padding-left:10px; font-size:15px; color:#fff; letter-spacing:12px;}
	.content-section__tit{ padding-top:0; color:#fff; font-size: 37px;margin-top: 10px;}
	&__img{display:none;}

	@media only screen and (max-width:$minpc-size3){background-size:50%; background-position:bottom right;}
	@media only screen and (max-width:$tablet-size){margin:0px -65px 0; padding:90px 65px 120px; @include background('../images/contour/contour_chin_img08_768.jpg','#768bb5 no-repeat bottom right -12px/contain');
		&__box{width:380px;}
	}
	@media only screen and (max-width:$mobile-size){margin:0px -20px 0; padding:40px 15px 0; background-color:#768bb5; background-image:none;
		.content-section__tit{margin-top:15px;font-size: 2.2rem;}
		&__txt{font-size:0.9rem; text-align:center;}
		&__box{width:100%; text-align:center;}
		&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:20px; padding-bottom:63.05%; @include background('../images/contour/contour_chin_img08_640.jpg','center center/cover'); font-size:0; text-indent:-9999px;}
	}
}
.contour-box8{padding:150px 216px 150px; @include background('../images/contour/contour_chin_img09.jpg','center center / cover'); text-align:right;
	&__box{display:inline-block; width:330px; text-align:left;}
	&__txt{margin:0; color:#8b9ebd; font-size:17px;}
	.content-section__tit{margin-top:10px; padding-top:0; font-size:50px; color:#fff;}

	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:120px 65px 110px; @include background('../images/contour/contour_chin_img09_768.jpg','center center / cover');
		.content-section__tit{font-size: 40px;}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:50px 30px;
		&__txt{font-size:1.2rem; word-break: keep-all;}
		&__box{width:160px;}
		.content-section__tit{margin-top:8px; font-size:2.6rem;}
	}
}
.contour-box9{@include background('../images/contour/contour_chin_img11_bg.jpg','center center / cover');text-align:center;
	.content-section__wrap{font-size:0;}
	.content-section__box{float:none; display:inline-block; vertical-align:middle;}
	.content-section__box.w-4{padding-right:30px;}
	.content-section__box.w-6{padding:40px 0;
		img{width:100%;}
	}
	.content-section__tit{margin-top:16px; padding-top:0; font-size:36px; color:#fff;}
	&__txt{margin:0; font-size:17px; color:#b2c4e8;}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:60px 65px;
		.content-section__box{ text-align:center;}
		.content-section__box.w-4{padding-right:0px;}
		.content-section__box.w-6{padding:0;
			img{width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:25px 15px 30px;
		&__txt{font-size:1.2rem;}
		.content-section__tit{margin-top:10px; font-size:2.6rem;}
		.content-section__box.w-6{padding: 0 7px;}
	}
}
.contour-img{font-size:0;
	img{width:100%;}
	@media only screen and (max-width:$tablet-size){margin:0 -65px;}
	@media only screen and (max-width:$mobile-size){margin:0 -20px;}
}
