.new-visual{
	$this:&;
	&.type-elastone{
		&:before{
			@include background('../images/contour/elastone/elastone_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-elastone{
			&:before{@include background('../images/contour/elastone/elastone_visual_1_t.jpg','no-repeat center center / cover');}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-elastone{
			&:before{
				@include background('../images/contour/elastone/elastone_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this: &;

	&.type-elastone{background :url('../images/contour/elastone/elastone_bg_1.jpg') no-repeat center bottom/contain;}
    &.type-elastone2{background-color: #101e3b;}
    &.type-elastone3{background-color: #101e3a;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
    }
    &.type-elastone4{background-color: #e6eeff;}
}

.new-explan{
	$this:&;
	&.type-elastone{background-color:#101e3b;
		#{$this}__txt{color:#fff;}
	}
}

.new-section{
	$this:&;
	&.type-elastone{
		#{$this}__wrap{background-color:#e6eeff;}
	}
}

.new-stripe{
	$this:&;
	&.type-elastone{background-color:$contour3;}
}
