.new-visual{
	$this: &;
	&.type-max{
		&:before{
			@include background('../images/contour/max/max_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-max{
			&:before{
				@include background('../images/contour/max/max_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-max{
			&:before{
				@include background('../images/contour/max/max_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-max{@include background('../images/contour/max/max_bg_1.jpg','no-repeat center bottom/contain');}
	&.type-max2{background-color: #b0cff2;}
	&.type-max3{@include background('../images/contour/max/max_bg_2.jpg','no-repeat center center/cover');}
	&.type-max4{background-color: #8aadd0;}
	&.type-max5{@include background('../images/contour/max/max_bg_3.jpg','no-repeat center center/cover');}
	&.type-max6{background-color: #e6eeff;}
}

.improve-style{
	$this:&;

	&__list{margin: 0 0 0 -40px;padding: 0;font-size: 0;}
	&__item{display: inline-block;width: 50%;padding-left: 40px;list-style: none;box-sizing: border-box;vertical-align: top;
		&.nth-2{
			#{$this}__img{position: relative;
				&:before{content: '';position: absolute;top: 0;bottom: 0;left: -45px;width: 50px;height: 50px;margin: auto 0;background: url(../images/contour/max/max_plus_1.png) no-repeat center center/cover;}
			}
			#{$this}__checkitem{
				&:before{@include background('../images/contour/max/max_check_2.png','no-repeat center center/contain');}
			}
		}
	}
	&__img{padding: 0 35px;}
	&__tit{margin-top: 25px;}
	&__txt{margin-top: 8px;color: $black5;}
	&__box{position: relative;margin-top: 25px;padding: 15px;background-color: #fff;
		&:before{content:'';display: block;position: absolute;left: 0;right: 0;top: -30px;width: 0px;height: 0px;margin: 0 auto;border-top: 15px solid transparent;border-bottom: 15px solid #fff;border-left: 10px solid  transparent;border-right: 10px solid transparent;}
	}
	&__checklist{margin: 0;padding: 0;text-align: left;}
	&__checkitem{position: relative;padding-left: 26px;list-style: none;
		&:before{content: '';position: absolute;top: 3px;left: 0;width: 21px;height: 21px;@include background('../images/contour/max/max_check_1.png','no-repeat center center/contain');}
		& + &{margin-top: 10px;}
	}

	@media only screen and (max-width: $tablet-size){padding: 0 118px;
		&__list{margin-left: 0;}
		&__item{width: 100%;padding: 0;
			&.nth-2{
				#{$this}__img{
					&:before{top: -70px;bottom: auto;left: 0;right: 0;margin: 0 auto;}
				}
			}
			& + &{margin-top: 95px;}
		}
	}
	@media only screen and (max-width: $mobile-size){padding: 0 25px;
		&__item{
			&.nth-2{
				#{$this}__img{
					&:before{top: -35px;width: 25px;height: 25px;}
				}
			}
			& + &{margin-top: 45px;}
		}
		&__tit{margin-top: 12px;}
		&__txt{margin-top: 6px;}
		&__box{margin-top: 12px;padding: 10px;
			&:before{top: -15px;border-top: 8px solid transparent;border-bottom: 8px solid #fff;border-left: 5px solid  transparent;border-right: 5px solid transparent;}
		}
		&__checkitem{padding-left: 14px;
			&:before{top: 5px;width: 10px;height: 10px;}
		}
	}
}

.improve-style2{position: relative;margin-top: 60px;padding-bottom: 30px;
	$this:&;

	&:after{content: '';position: absolute;bottom: 0;left: 0;right: 0;width: 20px;height: 19px;margin: 0 auto;background: url(../images/contour/contour_arrow_2.png) no-repeat center center/contain;}
	&__wrap{position: relative;}
	&__circle{position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 246px;height: 246px;padding: 13px;margin: auto;border-radius: 50%;background-color: $contour2;z-index: 10;box-sizing: border-box;}
	&__outer{position: relative;width: 100%;height: 100%;box-sizing: border-box;background-color: #4569b1;border-radius: 50%;overflow: hidden;
		&:before{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;height: 100%;background: url('../images/contour/max/max_pattern_1.gif') 0 0;opacity: 0.15;}
	}
	&__inner{display: inline-table;width: 100%;height: 100%;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;overflow: hidden;}
	&__subject{font-weight: $medium;color: #fff;}
	&__box{
		&:after{display:block; clear:both; content:'';}
		&.nth-1{}
		&.nth-2{
			#{$this}__dot{
				&:before{width: 200px;}
				&:after{display: none;}
			}
		}
		&.nth-3{
			#{$this}__area{
				&.type-left{
					#{$this}__dot{
						&:after{-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
					}
				}
				&.type-right{
					#{$this}__dot{
						&:after{-ms-transform: rotate(45deg);transform: rotate(45deg);}
					}
				}
			}
		}
		& + &{margin-top: 36px;}
	}
	&__area{position: relative;width: calc(50% - 158px);box-sizing: border-box;
		&.type-left{float: left;}
		&.type-right{float: right;
			#{$this}__line{left: -15px;right: auto;}
			#{$this}__dot{
				&:before{left: auto;right: 0;}
				&:after{left: auto;right: 40px;-ms-transform: rotate(-45deg);transform: rotate(-45deg);-ms-transform-origin: right top;transform-origin: right top;}
			}
		}
	}
	&__line{position: absolute;top: 50%;right: -15px;transform: translateY(-50%);}
	&__dot{display: block;position: relative;width: 5px;height: 5px;border-radius: 50%;background-color: $contour2;
		&:before{content: '';position: absolute;top: 0;bottom: 0;left: 0;width: 40px;height: 1px;margin: auto 0;background-color: $contour2;}
		&:after{content: '';position: absolute;top: 0;bottom: 0;left: 40px;width: 170px;height: 1px;margin: auto 0;background-color: $contour2;-ms-transform: rotate(45deg);transform: rotate(45deg);-ms-transform-origin: left top;transform-origin: left top;}
	}
	&__txt{display: table-cell;width: 1%;height: inherit;padding: 25px 10px;border: 1px solid $contour2;-webkit-box-shadow: 6px 6px 10px #000000;box-shadow: 6px 6px 10px rgba(0,0,0,0.03);background-color: #fff;font-weight: $medium;color: $contour2;vertical-align: middle;box-sizing: border-box;}

	@media only screen and (max-width: $tablet-size){
		padding-bottom: 52px;

		&__wrap{padding-top: 217px;}
		&__circle{bottom: auto;}
		&__box{margin: 0 0 0 -20px;font-size: 0;
			& + &{margin-top: 20px;}
		}
		&__area{display: inline-block;width: 50%;padding: 0 0 0 20px;
			&.type-left{float: none;}
			&.type-right{float: none;}
		}
		&__line{position: static;}
		&__dot{display: none;
			&:before, &:after{display: none;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		margin-top: 20px;padding-bottom: 25px;

		&:after{width: 10px;height: 9px;}
		&__wrap{padding-top: 127px;
		}
		&__circle{width: 138px;height: 138px;padding: 8px;}
		&__box{margin: 0 0 0 -10px;
			& + &{margin-top: 10px;}
		}
		&__area{padding: 0 0 0 10px;}
		&__subject{font-size: 1.2rem;}
		&__txt{padding: 14px 5px;}
	}
}

.img-style3{
	&.type-max{
		margin-top: 42px;
	}
	@media only screen and (max-width: $tablet-size){
		&.type-max{
			margin-top: 30px;
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-max{
			margin-top: 15px;
		}
	}
}
