<%
	type = "membership"
	page = "cookie"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="c-visual type-membership type-nolnb">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">쿠키 정책 안내</h3>
                        <p class="c-visual__txt txt-new1">바노바기는 안전하고 효율적이며 편의성을<br> 제공하기 위해 쿠키를 사용합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="cookie">
			<h4 class="cookie__head tit-new2">바노바기성형외과 <span class="color-point2">쿠키 정책</span></h4>
			<h5 class="cookie__tit txt-new2">쿠키 정의</h5>
			<p class="cookie__txt txt-new1">
				쿠키는 바노바기성형외과 (이하 ‘당사’) 사이트에 접속 할 때 사용자의 디바이스에 저장되는 온라인 사이트 활동 기록으로써 소량의 정보를 포함한 텍스트 파일입니다.<br class="hidden-tm">
				쿠키는 사용자가 당사 온라인 사이트 기능을 보다 편리하게 이용하기 위한 환경 개선의 목적으로 사용되며 개인을 식별할 수 있는 정보는 포함하지 않습니다.<br class="hidden-tm">
				당사는 동일한 목적으로 사용하는 브라우저의 “로컬스토리지” 또한 일반적인 의미로 “쿠키”라고 총칭하며, 본 방침의 모든 사항을 동일하게 적용 받습니다.<br class="hidden-tm">
				사용자가 당사 온라인 사이트를 이용함으로써 당사의 쿠키 사용에 동의하게 됩니다. 당사는 쿠키를 통해 수집한 정보를 아래 명시한 목적으로 사용합니다.
			</p>
			<h5 class="cookie__tit txt-new2">쿠키 유형</h5>
			<h6 class="cookie__subject txt-new1">기능 쿠키</h6>
			<p class="cookie__txt txt-new1">
				방문자가 당사 사이트를 보다 편리하게 이용하도록 도움을 주는 쿠키입니다. 접속환경을 파악하거나 이전 방문에 대한 설정을 보관하는 등 주요한 기능의 사용성을 향상 시켜줍니다.
			</p>
			<h6 class="cookie__subject txt-new1">분석 쿠키</h6>
			<p class="cookie__txt txt-new1">
				당사 사이트 문제를 파악하여 지속적으로 최적화하기 위한 쿠키입니다. 일반적으로 페이지별 방문수, 페이지뷰 등 사이트 사용 통계에 해당하며 개인정보는 포함하고 있지 않습니다.
			</p>
			<h5 class="cookie__tit txt-new2">쿠키 설정</h5>
			<p class="cookie__txt txt-new1">
				당사 온라인 사이트 이용 시 쿠키 저장을 원치 않을 경우 사용자는 본인의 브라우저의 설정을 변경하여 쿠키 이용을 사용을 거부할 수 있습니다. 브라우저 설정을 통해 모든 쿠키를 허용하거나,
				일부 쿠키만 허용 하거나, 쿠키 저장 시 확인을 하거나, 모든 쿠키의 저장을 거부할 수 있습니다. 각 디바이스 및 브라우저 별로 각각 설정해야 합니다.<br class="hidden-tm">
				상세한 내용은 각 브라우저 안내페이지를 참고하시기 바랍니다. (단, 쿠키 사용을 거부하였을 경우 당사 온라인 사이트 이용에 불편함이 있을 수 있습니다.)
			</p>
			<h6 class="cookie__subject txt-new1">브라우저 별 가이드</h6>
			<ul class="cookie__list">
				<li class="cookie__item">
					<div class="cookie__box">
						<img src="../../images/membership/cookie/cookie_icon_1.png" loading="lazy" alt="Internet Explorer" class="cookie__icon img-normal">
						<a href="https://support.microsoft.com/ko-kr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" class="cookie__link txt-new1">
							<span>Internet Explorer</span>
						</a>
					</div>
				</li>
				<li class="cookie__item">
					<div class="cookie__box">
						<img src="../../images/membership/cookie/cookie_icon_2.png" loading="lazy" alt="Chorme" class="cookie__icon img-normal">
						<a href="https://support.google.com/chrome/answer/95647?hl=ko" target="_blank" class="cookie__link txt-new1">
							<span>Chorme</span>
						</a>
					</div>
				</li>
				<li class="cookie__item">
					<div class="cookie__box">
						<img src="../../images/membership/cookie/cookie_icon_3.png" loading="lazy" alt="Safari" class="cookie__icon img-normal">
						<a href="https://support.apple.com/ko-kr/HT201265" target="_blank" class="cookie__link txt-new1">
							<span>Safari</span>
						</a>
					</div>
				</li>
				<li class="cookie__item">
					<div class="cookie__box">
						<img src="../../images/membership/cookie/cookie_icon_4.png" loading="lazy" alt="Fire Fox" class="cookie__icon img-normal">
						<a href="https://support.mozilla.org/ko/kb/cookies-information-websites-store-on-your-computer" target="_blank" class="cookie__link txt-new1">
							<span>Fire Fox</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
