<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-join">회원가입</h3>
		<p class="container__txt">바노바기 성형외과는 고객님의 개인정보보호를 위해 개인정보 보호지침을 마련하여 이를 준수하고 있습니다.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="join">
		<ul class="join-step__list">
			<li class="join-step__item nth-1"><p class="join-step__tit">약관동의</p></li>
			<li class="join-step__item nth-2"><p class="join-step__tit">정보입력</p></li>
			<li class="join-step__item is-active nth-3"><p class="join-step__tit">가입완료</p></li>
		</ul>
		<div class="join__wrap">
			<h2 class="join__tit">
				<span class="membership__point">바노바기성형외과</span> 회원가입을<br>
				진심으로 환영합니다.
			</h2>
		</div>
		<a href="" class="membership__btn type-black type-join">메인으로</a>
		<a href="" class="membership__btn type-join is-hover">로그인</a>
	</div>
</div>
<% include ../_include/_footer %>
