<%
	type = "membership"
	page = "proposal"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="c-visual type-proposal type-nolnb js-overlab-img1">
		<div class="c-visual__img js-overlab-img2">2번째 이미지</div>
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">제휴제안</h3>
                        <p class="c-visual__txt txt-new1">바노바기는 새로운 제안과<br> 소중한 제휴 문의를 기다립니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="proposal">
			<p class="proposal__required"><span class="required type-left">필수입력</span></p>
			<div class="proposal__wrap">
				<table class="table1">
					<colgroup>
						<col class="table1__th-w">
						<col>
					</colgroup>
					<tbody>
						<tr class="table1__tr">
							<th class="table1__th type-m"><span class="required">구분</span></th>
							<td class="table1__td">
								<ul class="sortation__list">
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_1" class="radio2" checked="checked"><label for="option1_1">성형외과</label>
									</li>
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_2" class="radio2"><label for="option1_2">코스메틱</label>
									</li>
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_3" class="radio2"><label for="option1_3">성형외과+코스메틱</label>
									</li>
								</ul>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th"><span class="required">제목</span></th>
							<td class="table1__td">
								<input type="text" class="input-v1 input-v1__w100p" placeholder="제목을 입력해주세요">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th vt-top type-top"><span class="required">내용</span></th>
							<td class="table1__td vt-top">
								<textarea class="textarea-v1 textarea-v1__w100p" placeholder="1.제안 배경
				2.세부 제안 내용
				3.기대 효과"></textarea>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">연락처</th>
							<td class="table1__td">
								<input type="tel" class="input-v1 input-v1__w100p">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">메일주소</th>
							<td class="table1__td">
								<input type="email" class="input-v1 input-v1__w100p">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th vt-top type-top">파일첨부</th>
							<td class="table1__td">
								<div class="form-box">
									<span class="upload-set-v1 upload-set-v1__w100p">
										<span class="upload-set-v1__wrap" data-value="찾아보기">
											<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="첨부파일" >
										</span>
										<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)"
										placeholder="3MB 이내 파일만 첨부 가능">
									</span><!-- //upload-set-v1 -->
									<p class="proposal__noti">파일 확장자는 png, gif, jpg, zip, ppt, pptx, doc, docx만 가능</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="proposal__terms">
					<h4 class="join-agree__tit type-another"><span class="required">개인정보수집및이용동의</span></h4>
					<div class="join-agree__box">
						<div class="termsTxt">
							<div class="box">
								블라블라
							</div>
						</div>
					</div>
					<div class="join-agree__check2">
						<input type="checkbox" name="join_chk_agree2" id="join_chk_agree2" class="checkbox01 type-another" required="" aria-required="true"><label for="join_chk_agree2">개인정보 수집 및 이용에 동의합니다.</label>
					</div>
				</div>
				<div class="btn-group">
					<ul class="btn-group__list">
						<li class="btn-group__item">
							<button type="submit" class="btn3">제휴제안 신청하기</button>
						</li>
						<li class="btn-group__item">
							<a href="" class="btn3 type-black">코스메틱 제품 보러가기</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
