<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-join">회원가입</h3>
		<p class="container__txt">바노바기 성형외과는 고객님의 개인정보보호를 위해 개인정보 보호지침을 마련하여 이를 준수하고 있습니다.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="membership type-withdrawal">
			<h4 class="membership__tit type-withdrawal"><span class="membership__point">바노바기 성형외과</span>를 탈퇴하는<br class="hidden-pt"> 이유는 무엇인가요?</h4>
			<p class="membership__txt">회원님께서 바노바기 성형외과를 탈퇴하는<br class="hidden-pt"> 이유를 알려주시면<br class="hidden-m"> 보다 좋은 서비스 제공을 위해<br class="hidden-pt"> 노력하겠습니다.</p>
			<div class="withdrawal">
				<form action="">
					<ul class="withdrawal__list">
						<li class="withdrawal__item">
							<input type="radio" name="agree1" value="" id="option1_1" class="radio1" checked="checked"><label for="option1_1">사용의 불편</label>
						</li>
						<li class="withdrawal__item">
							<input type="radio" name="agree1" value="" id="option1_2" class="radio1"><label for="option1_2">필요한 정보 부재</label>
						</li>
						<li class="withdrawal__item">
							<input type="radio" name="agree1" value="" id="option1_3" class="radio1"><label for="option1_3">개인정보 유출 우려</label>
						</li>
						<li class="withdrawal__item">
							<input type="radio" name="agree1" value="" id="option1_4" class="radio1"><label for="option1_4">수술 후 이용이 불편</label>
						</li>
						<li class="withdrawal__item">
							<input type="radio" name="agree1" value="" id="option1_5" class="radio1"><label for="option1_5">기타의견</label>
						</li>
					</ul>
					<div class="withdrawal__box">
						<textarea name="opinion" id="" cols="30" rows="10" class="withdrawal__textarea" placeholder="사유를 입력해주세요."></textarea>
					</div>
				</form>
				<a href="" class="membership__btn type-join is-hover">회원탈퇴</a>
				<a href="" class="membership__btn type-black type-join">취소</a>
			</div>
		</div><!-- //membership-->
	</div><!-- //container__wrap-->
</div>
<% include ../_include/_footer %>
