<!--banner_rapid 시작 -->
	<div class="banner type-rapid">
		<div class="banner__bg">
			<div class="banner__box">
				<div class="banner__outer">
					<div class="banner__inner">
						<h4 class="banner__tit">래피드힐링<br class="hidden-p"> 셀프케어</h4>
						<p class="banner__txt">수술 후 피부 진정과 집중 피부 회복, 부종 및 멍 완화<br> 약물 처방을 통해 빠른 회복을 도와드립니다.</p>
						<a href="" class="banner__btn">셀프케어 자세히보기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--banner_rapid 끝 -->
