<!--banner_petit 시작 -->
	<div class="banner type-petit type-white">
		<div class="banner__bg">
			<div class="banner__box">
				<div class="banner__outer">
					<div class="banner__inner">
						<h4 class="banner__tit">쁘띠도 역시<br> 바노바기 에서!<br> <strong class="banner__point">시술정보 &amp;<br> 가격 알아보기!</strong></h4>
						<a href="" class="banner__btn">시술가격 알아보러 가기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--banner_petit 끝 -->
