<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="footer__noti">
				<span class="footer__noti-icon">수술 후 출혈, 감염, 염증 등의 합병증이 있을 수 있으며 주관적인 만족도는 개인마다 차이가 있을 수 있으므로 의사와 상의하시기 바랍니다.</span>
			</div>
			<div class="footer__wrap">
				<img src="../../images/common/logo_bottom.png" loading="lazy" alt="바노바기성형외과" class="footer__logo-p">
				<ul class="address">
					<li class="address__item">서울특별시 강남구 논현로 517</li>
					<li class="address__item">CS CENTER <a href="tel:1588-6508">1588-6508</a></li>
		            <li class="address__item">TEL <a href="tel:02-562-6001">02-562-6001</a></li>
		            <li class="address__item">FAX 02-561-1755</li>
				</ul>
				<ul class="address">
					<li class="address__item">바노바기 성형외과 의원 박선재 220-08-87096</li>
					<li class="address__item">통신판매업 신고번호 제2015-서울강남-03292호</li>
				</ul>
				<p class="copyright">Copyright © 2014 banobagi beauty all rights reserved.</p>
				<ul class="sns">
					<li class="sns__item"><a href="https://www.facebook.com/BanobagiPlasticSurgery" target="_blank" class="sns__link"><i class="fa fa-facebook"></i></a></li>
					<li class="sns__item"><a href="https://blog.naver.com/banobagips" target="_blank" class="sns__link type-blog"><img src="https://www.banobagi.com/img/common/blog.png" loading="lazy" alt="블로그"></a></li>
					<li class="sns__item"><a href="https://www.instagram.com/banobagi15886508/" target="_blank" class="sns__link"><i class="fa fa-instagram"></i></a></li>
					<li class="sns__item"><a href="https://www.youtube.com/c/banobagips" target="_blank" class="sns__link"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
				<ul class="footer-info">
					<li class="footer-info__item"><a class="footer-info__link" href="../membership/etc1.html">개인정보 취급방침</a></li>
					<li class="footer-info__item"><a class="footer-info__link" href="../membership/etc2.html">이용약관</a></li>
					<li class="footer-info__item"><a href="../sitemap/sitemap.html" class="footer-info__link">사이트맵</a></li>
					<li class="footer-info__item"><a href="../membership/mbship_proposal.html" class="footer-info__link">제휴/제안</a></li>
					<li class="footer-info__item"><a href="../membership/cookie.html" class="footer-info__link">쿠키 정책</a></li>
				</ul>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/circle-progress.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- //공톹 js -->
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/libs/fake.js"></script>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% }else if(type == "introduce"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if(type == "search"){ %>
		<script type="text/javascript" src="../../js/search.js"></script>
	<% }else if(type == "detail"){ %>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script>
	<% }else if(type == "detail-new"){ %>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/onepage.js"></script>
	<% }else if(type == "program"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/program.js"></script>
	<% }else if(type == "membership"){ %>
		<script type="text/javascript" src="../../js/membership.js"></script>
	<% } %>
	<% if (page == "main") { %>
		<!-- main js -->
		<!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>
		<script type="text/javascript" src="../../js/map.js"></script> -->
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../../js/libs/typed.min.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<!-- //main js -->
	<% }else if(page == "about"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/about.js"></script>
	<% }else if(page == "photo"){ %>
		<script type="text/javascript" src="../../js/photo.js"></script>
	<% }else if(page == "epilogue"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/epilogue.js"></script>
	<% }else if(page == "location"){ %>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>';
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
	<% }else if(page == "philosophy"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script><!-- onepage js -->
	<% }else if(page == "landingBody"){ %>
		<script type="text/javascript" src="../../js/program/program_bodystyling.js"></script>
	<% }else if(page == "landingPlan"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.ripples-min.js"></script>
		<script type="text/javascript" src="../../js/program/program_breastplan.js"></script>
		<script type="text/javascript" src="../../js/program/program_contourplan.js"></script>
	<% }else if(page == "landingContourAll"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="../../js/program/program_contourAll.js"></script>
	<% }else if(page == "sitemap"){ %>
		<script type="text/javascript" src="../../js/sitemap.js"></script>
	<% }else if(page == "hair"){ %>
		<script type="text/javascript" src="../../js/hair.js"></script>
	<% }else if(page == "contour"){ %>
		<script type="text/javascript" src="../../js/contour.js"></script>
	<% }else if(page == "test"){ %>
		<script type="text/javascript" src="../../js/libs/fake.js"></script>
		<script type="text/javascript" src="../../js/libs/circle-progress.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
		<script type="text/javascript" src="../../js/test.js"></script>
		<script type="text/javascript" src="../../js/test_ktw.js"></script>
		<script type="text/javascript" src="../../js/test_lcm.js"></script>
	<% } %>

</body>
</html>
<!--footer끝-->
