<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ศัลยกรรมเกาหลี วีไลน์ เกาหลี ตาสองชั้น เสริมจมูก รีวิวศัลยกรรม - รพ.บาโนบากิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.min.css">
<link rel="stylesheet" href="../../css/libs/slick.min.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.min.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/season1.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/libs/animated.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/detail_common.css">
<% }else if(type == "detail-new"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/libs/animated.css"><!-- main css -->
<% }else if(page == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "chest"){ %>
	<link rel="stylesheet" href="../../css/chest.css">
<% }else if(page == "eye"){ %>
	<link rel="stylesheet" href="../../css/eye.css">
<% }else if(page == "nose"){ %>
	<link rel="stylesheet" href="../../css/nose.css">
<% }else if(page == "wrinkle"){ %>
	<link rel="stylesheet" href="../../css/wrinkle.css">
<% }else if(page == "svf"){ %>
	<link rel="stylesheet" href="../../css/svf.css">
<% }else if(page == "body"){ %>
	<link rel="stylesheet" href="../../css/body.css">
<% }else if(page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if(page == "special"){ %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if(page == "hair"){ %>
	<link rel="stylesheet" href="../../css/hair.css">
<% }else if(page == "about"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "landingContourAll"){ %>
	<link rel="stylesheet" href="../../css/libs/flexslider.css"><!-- main css -->
<% }else if(page == "test"){ %>
	<link rel="stylesheet" href="../../css/special.css">
	<link rel="stylesheet" href="../../css/test.css"><!-- main css -->
<% }else if(page == "contourPlan"){ %>
	<link rel="stylesheet" href="../../css/program_contourplan.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">바노바기 성형외과의원</h1>
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
		<div class="header">
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">닫기</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-4">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-3">
							<a href="https://www.thailandbanobagi.com" target="_blank" class="national-gnb__link">TH</a>
						</li>
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
						<li class="national-gnb__item nth-7">
							<a href="http://www.indonesiabanobagi.com" target="_blank" class="national-gnb__link">ID</a>
						</li>
						<li class="national-gnb__item nth-6">
							<a href="http://www.japanbanobagi.com" target="_blank" class="national-gnb__link">JP</a>
						</li>
					</ul>
				</div>
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="" class="m-1depth__link" data-tab="CONTOUR"><span class="m-1depth__icon">윤곽</span></a></li>
								<li class="m-1depth__item nth-2"><a href="" class="m-1depth__link" data-tab="BODY"><span class="m-1depth__icon">바디</span></a></li>
								<li class="m-1depth__item nth-3"><a href="" class="m-1depth__link" data-tab="BREAST"><span class="m-1depth__icon">가슴</span></a></li>
								<li class="m-1depth__item nth-4"><a href="" class="m-1depth__link" data-tab="EYE"><span class="m-1depth__icon">눈</span></a></li>
								<li class="m-1depth__item nth-5"><a href="" class="m-1depth__link" data-tab="NOSE"><span class="m-1depth__icon">코</span></a></li>
								<li class="m-1depth__item nth-6"><a href="" class="m-1depth__link" data-tab="WRINKLE"><span class="m-1depth__icon">동안</span></a></li>
								<li class="m-1depth__item nth-7"><a href="" class="m-1depth__link" data-tab="SVF"><span class="m-1depth__icon">줄기세포</span></a></li>
								<li class="m-1depth__item nth-8"><a href="" class="m-1depth__link" data-tab="REOP"><span class="m-1depth__icon">재수술</span></a></li>
								<li class="m-1depth__item nth-14"><a href="" class="m-1depth__link" data-tab="HAIR"><span class="m-1depth__icon">모발이식</span></a></li>
								<li class="m-1depth__item nth-9"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">스페셜</span></a></li>
								<li class="m-1depth__item nth-10"><a href="" class="m-1depth__link" data-tab="BNBG"><span class="m-1depth__icon">바노바기</span></a></li>
								<li class="m-1depth__item nth-11"><a href="" class="m-1depth__link" data-tab="REVIEW"><span class="m-1depth__icon">REVIEW</span></a></li>
							</ul>
						</div>
					</div>
					<div class="m-2depth">
						<ul class="m-2depth__list CONTOUR is-active">
							<li class="m-2depth__item"><a href="../contour/contour_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 윤곽성형 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_square.html" class="m-2depth__link"><span class="m-2depth__wrap">사각턱</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_cheek.html" class="m-2depth__link"><span class="m-2depth__wrap">광대수술</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_front_u.html" class="m-2depth__link"><span class="m-2depth__wrap">앞턱수술</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_max.html" class="m-2depth__link"><span class="m-2depth__wrap">안면윤곽 + 탄력실 맥스 리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_brow.html" class="m-2depth__link"><span class="m-2depth__wrap">이마성형</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">양악수술</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../contour/contour_bimaxillary.html" class="m-3depth__link">양악수술</a></li>
									<li class="m-3depth__item"><a href="../contour/contour_case.html" class="m-3depth__link">유형별 양악수술</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../contour/contour_protrusion.html" class="m-2depth__link"><span class="m-2depth__wrap">돌출입수술</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_mini.html" class="m-2depth__link"><span class="m-2depth__wrap">미니양악</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_man.html" class="m-2depth__link"><span class="m-2depth__wrap">남자 안면윤곽</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_slimface.html" class="m-2depth__link"><span class="m-2depth__wrap">얼굴살제거</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">수술 후 관리 시스템</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../contour/contour_elastone.html" class="m-3depth__link">엘라스톤테라피</a></li>
									<li class="m-3depth__item"><a href="../contour/contour_care.html" class="m-3depth__link">윤곽양악 집중케어</a></li>
								</ul>
							</li>
						</ul>
						<ul class="m-2depth__list BODY">
							<li class="m-2depth__item"><a href="../body/body_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 바디성형 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">전신지방흡입</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_partfat.html" class="m-2depth__link"><span class="m-2depth__wrap">부위별 지방 흡입</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_dual.html" class="m-2depth__link"><span class="m-2depth__wrap">듀얼슬림</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_lifting.html" class="m-2depth__link"><span class="m-2depth__wrap">바디 리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_obesity.html" class="m-2depth__link"><span class="m-2depth__wrap">비만관리 및 치료</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_hip.html" class="m-2depth__link"><span class="m-2depth__wrap">엉덩이 성형</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_zeltiq.html" class="m-2depth__link"><span class="m-2depth__wrap">냉동지방파괴술-젤틱</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_mint.html" class="m-2depth__link"><span class="m-2depth__wrap">민트에스</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_dday.html" class="m-2depth__link"><span class="m-2depth__wrap">D-Day 다이어트</span></a></li>
						</ul>
						<ul class="m-2depth__list BREAST">
							<li class="m-2depth__item"><a href="../chest/chest_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 가슴성형 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">가슴확대술</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">가슴축소술</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_papilla.html" class="m-2depth__link"><span class="m-2depth__wrap">유두 교정</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_gynecomastia.html" class="m-2depth__link"><span class="m-2depth__wrap">여성형 유방교정</span></a></li>
							<li class="m-2depth__item"><a href="http://motiva.banobagi.com/chest2.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">모티바</span></a></li>
							<li class="m-2depth__item"><a href="https://www.banobagi.com/program/bnbg_program_mygel.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">마이젤</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_reconstruction.html" class="m-2depth__link"><span class="m-2depth__wrap">가슴교정</span></a></li>
							<li class="m-2depth__item"><a href="../chest/accessory_breast.html" class="m-2depth__link"><span class="m-2depth__wrap">부유방교정</span></a></li>
                            <li class="m-2depth__item"><a href="../chest/chest_droop.html" class="m-2depth__link"><span class="m-2depth__wrap">처진 가슴성형</span></a></li>
						</ul>
						<ul class="m-2depth__list EYE">
							<li class="m-2depth__item"><a href="../eye/eye_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 눈성형 디테일</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">쌍꺼풀 수술</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../eye/eye_double.html" class="m-3depth__link">비절개 자연유착 쌍꺼풀</a></li>
									<li class="m-3depth__item"><a href="../eye/eye_incisional.html" class="m-3depth__link">절개쌍꺼풀</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../eye/eye_middleage.html" class="m-2depth__link"><span class="m-2depth__wrap">중년 눈 성형</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_correction.html" class="m-2depth__link"><span class="m-2depth__wrap">눈매교정</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_relocation.html" class="m-2depth__link"><span class="m-2depth__wrap">눈 밑 지방재배치</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_opening.html" class="m-2depth__link"><span class="m-2depth__wrap">트임성형</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_man.html" class="m-2depth__link"><span class="m-2depth__wrap">남자 쌍꺼풀</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_non_sleep.html" class="m-2depth__link"><span class="m-2depth__wrap">비수면 최소통 마취</span></a></li>
						</ul>
						<ul class="m-2depth__list NOSE">
							<li class="m-2depth__item"><a href="../nose/nose_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 코성형 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_low.html" class="m-2depth__link"><span class="m-2depth__wrap">낮은 코</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">맞춤 코성형</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../nose/nose_casetype.html" class="m-3depth__link">유형별 코성형</a></li>
									<li class="m-3depth__item"><a href="../nose/nose_reduction.html" class="m-3depth__link">큰코축소술</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../nose/nose_apex.html" class="m-2depth__link"><span class="m-2depth__wrap">코끝성형</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_man.html" class="m-2depth__link"><span class="m-2depth__wrap">남자 코 성형</span></a></li>
							<li class="m-2depth__item"><a href="https://www.banobagi.com/program/bnbg_program_curve.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">휜코성형</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_profile.html" class="m-2depth__link"><span class="m-2depth__wrap">프로화일 성형</span></a></li>
						</ul>
						<ul class="m-2depth__list WRINKLE">
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 동안성형 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_elastic.html" class="m-2depth__link"><span class="m-2depth__wrap">탄력밴드리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_forehead.html" class="m-2depth__link"><span class="m-2depth__wrap">내시경 이마 리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_midface.html" class="m-2depth__link"><span class="m-2depth__wrap">중안면부 리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_facelift.html" class="m-2depth__link"><span class="m-2depth__wrap">안면거상술</span></a></li>
                            <li class="m-2depth__item"><a href="../wrinkle/wrinkle_2030.html" class="m-2depth__link"><span class="m-2depth__wrap">2030 리프팅</span></a></li>
						</ul>
						<ul class="m-2depth__list SVF">
							<li class="m-2depth__item"><a href="../svf/svf_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 줄기세포 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../svf/cell_transplant.html" class="m-2depth__link"><span class="m-2depth__wrap">줄기세포 지방이식</span></a></li>
							<li class="m-2depth__item"><a href="../svf/svf_chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">줄기세포 가슴확대</span></a></li>
						</ul>
						<ul class="m-2depth__list REOP">
							<li class="m-2depth__item"><a href="../reoperation/reoperation_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 재수술 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_nose.html" class="m-2depth__link"><span class="m-2depth__wrap">코 재수술</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_eye.html" class="m-2depth__link"><span class="m-2depth__wrap">눈재수술</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_breast.html" class="m-2depth__link"><span class="m-2depth__wrap">가슴 재수술</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_face.html" class="m-2depth__link"><span class="m-2depth__wrap">윤곽 재수술</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">지방 흡입 재수술</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_young.html" class="m-2depth__link"><span class="m-2depth__wrap">동안 재수술</span></a></li>
						</ul>
						<ul class="m-2depth__list HAIR">
							<li class="m-2depth__item"><a href="../hair/hair_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 모발이식 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../hair/hair_woman.html" class="m-2depth__link"><span class="m-2depth__wrap">여성 모발이식</span></a></li>
							<li class="m-2depth__item"><a href="../hair/hair_man.html" class="m-2depth__link"><span class="m-2depth__wrap">남성 모발이식</span></a></li>
						</ul>
						<ul class="m-2depth__list SPECIAL">
							<li class="m-2depth__item"><a href="../special/special_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 스페셜 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_artecoll.html" class="m-2depth__link"><span class="m-2depth__wrap">반영구필러 아테콜</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_design.html" class="m-2depth__link"><span class="m-2depth__wrap">디자인필러</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_casefiller.html" class="m-2depth__link"><span class="m-2depth__wrap">부위별필러</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_cranium.html" class="m-2depth__link"><span class="m-2depth__wrap">두상 성형</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_extraction.html" class="m-2depth__link"><span class="m-2depth__wrap">이물질 추출</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_ear.html" class="m-2depth__link"><span class="m-2depth__wrap">귀 성형</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_lip.html" class="m-2depth__link"><span class="m-2depth__wrap">구순구개열 2차수술</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_total.html" class="m-2depth__link"><span class="m-2depth__wrap">스페셜 종합검진</span></a></li>
						</ul>
						<ul class="m-2depth__list BNBG">
							<li class="m-2depth__item"><a href="../introduce/introduce_banobagi.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기소개</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_medical.html" class="m-2depth__link"><span class="m-2depth__wrap">의료진소개</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_map.html" class="m-2depth__link"><span class="m-2depth__wrap">진료안내/오시는길</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_history.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기연혁</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_tour.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 둘러보기</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">언론속의 바노바기</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../introduce/news_list.html" class="m-3depth__link">News</a></li>
									<li class="m-3depth__item"><a href="../introduce/media.html" class="m-3depth__link">Media</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../introduce/introduce_live.html" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 LIVE</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/academic_list.html" class="m-2depth__link"><span class="m-2depth__wrap">학술교류</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/society_list.html" class="m-2depth__link"><span class="m-2depth__wrap">사회공헌</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_knowledge.html" class="m-2depth__link"><span class="m-2depth__wrap">수술 후 주의사항</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/rapid.html" class="m-2depth__link"><span class="m-2depth__wrap">래피드힐링 - 셀프케어</span></a></li>
							<li class="m-2depth__item"><a href="../program/program_list.html" class="m-2depth__link"><span class="m-2depth__wrap">추천 프로그램</span></a></li>
						</ul>
						<ul class="m-2depth__list REVIEW">
							<li class="m-2depth__item"><a href="https://www.banobagi.com/review/index.php" class="m-2depth__link"><span class="m-2depth__wrap">리얼스토리</span></a></li>
							<li class="m-2depth__item"><a href="../review/epilogue_list.html" class="m-2depth__link"><span class="m-2depth__wrap">톡톡튀는 리얼후기</span></a></li>
							<li class="m-2depth__item"><a href="../review/photo_gallery.html" class="m-2depth__link"><span class="m-2depth__wrap">포토갤러리</span></a></li>

							<li class="m-review__item nth-1">
								<a href="http://rebreast.banobagi.com" target="_blank" class="m-review__tit">모티바 재수술</a>
							</li>
							<li class="m-review__item nth-2">
								<a href="http://elasticum.banobagi.com" target="_blank" class="m-review__tit">탄력밴드 리프팅</a>
							</li>
							<li class="m-review__item nth-3">
								<a href="http://motiva.banobagi.com" target="_blank" class="m-review__tit">모티바</a>
							</li>
							<li class="m-review__item nth-4">
								<a href="http://lift.banobagi.co.kr/" target="_blank" class="m-review__tit">안티에이징</a>
							</li>
							<li class="m-review__item nth-5">
								<a href="http://www.btsbanobagi.com/" target="_blank" class="m-review__tit">유방클리닉</a>
							</li>
							<li class="m-review__item nth-6">
								<a href="https://www.petitbanobagi.com/" target="_blank" class="m-review__tit">쁘띠 바노바기</a>
							</li>
						</ul>
					</div>
				</div><!-- //m-menu-->
			</div><!-- //m-gnb-->
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.php">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="Search" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">인기검색어</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">추천검색어</li>
							</ul>
							<ul class="keyword-box2__list is-active popular">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link first" href="../search/search_result.html"><span class="keyword-box2__num">1</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">2</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">3</span>눈성형</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">4</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">5</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">6</span>눈성형</a></li>
									</ul>
								</li>
							</ul>
							<ul class="keyword-box2__list recommended">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__hour">시계 - 시</div>
									<div class="search-info__minute">시계 - 분</div>
									<div class="search-info__second">시계 - 시</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">진료안내</h2>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">월 ~ 금</span>
												<span class="search-info__txt">09:30 ~ 18:30</span>
											</li>
											<!--<li class="search-info__item">
												<span class="search-info__txt">금요일</span>
												<span class="search-info__txt">09:30 ~ 20:00</span>
												<span class="search-info__txt type-night">야간진료</span>
											</li>-->
											<li class="search-info__item">
												<span class="search-info__txt">토요일</span>
												<span class="search-info__txt">09:30 ~ 16:00</span>
												<span class="search-info__txt type-block">(3/16, 4/20, 5/18, 6/15, 7/20 휴진)</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">고객상담전화</h2>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:1588-6508">1588. 6508</a></li>
											<li class="search-info__item"><a class="search-info__link" href="tel:02-562-6001">02. 562. 6001</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>서울특별시 강남구 논현로 517 바노바기성형외과</span>
								<em>.</em>
								<span>2호선 역삼역 6번 출구 직진 100m</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="../main/main.html" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<h2 class="gnb__tit"><span>Main Menu</span></h2>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">윤곽</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">바노바기 윤곽성형 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_square.html" class="total__depth2-link">사각턱</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_cheek.html" class="total__depth2-link">광대수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_front_u.html" class="total__depth2-link">턱 대표수술</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../contour/contour_front_u.html" class="total__depth3-link">- 앞턱수술</a>
															</li>
															<li class="total__depth3-item">
																<a href="../contour/contour_man.html" class="total__depth3-link">- 남자 안면윤곽</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_max.html" class="total__depth2-link">안면윤곽 + 탄력실 맥스 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_brow.html" class="total__depth2-link">보형물 안면윤곽</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../contour/contour_brow.html" class="total__depth3-link">- 이마성형</a>
															</li>
															<li class="total__depth3-item">
																<a href="../contour/contour_grace.html" class="total__depth3-link">- 귀족성형</a>
															</li>
															<li class="total__depth3-item">
																<a href="../contour/contour_radish.html" class="total__depth3-link">- 턱끝교정</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_bimaxillary.html" class="total__depth2-link">양악수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_case.html" class="total__depth2-link">유형별 양악 수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_protrusion.html" class="total__depth2-link">돌출입수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_slimface.html" class="total__depth2-link">얼굴살제거</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_elastone.html" class="total__depth2-link">수술 후 관리 시스템</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../contour/contour_elastone.html" class="total__depth3-link">- 엘라스톤테라피</a>
															</li>
															<li class="total__depth3-item">
																<a href="../contour/contour_care.html" class="total__depth3-link">- 윤곽양악 집중케어</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_mini.html" class="total__depth2-link">미니양악</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../body/body_detail.html" class="total__depth1-link">바디</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../body/body_detail.html" class="total__depth2-link">바노바기 바디성형 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_fat.html" class="total__depth2-link">전신지방흡입</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_partfat.html" class="total__depth2-link">부위별 지방 흡입</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_dual.html" class="total__depth2-link">듀얼슬림</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_lifting.html" class="total__depth2-link">바디 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_obesity.html" class="total__depth2-link">비만관리 및 치료</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_hip.html" class="total__depth2-link">엉덩이 성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_zeltiq.html" class="total__depth2-link">냉동지방파괴술-젤틱</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_mint.html" class="total__depth2-link">민트에스</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_dday.html" class="total__depth2-link">D-Day 다이어트</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../chest/chest_detail.html" class="total__depth1-link">가슴</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../chest/chest_detail.html" class="total__depth2-link">바노바기 가슴성형 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_extension.html" class="total__depth2-link">가슴확대술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reduction.html" class="total__depth2-link">가슴축소술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_papilla.html" class="total__depth2-link">유두 교정</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_gynecomastia.html" class="total__depth2-link">여성형 유방교정</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://motiva.banobagi.com/chest2.php" class="total__depth2-link" target="_blank">모티바</a>
													</li>
													<li class="total__depth2-item">
														<a href="https://www.banobagi.com/program/bnbg_program_mygel.php" class="total__depth2-link" target="_blank">마이젤</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reconstruction.html" class="total__depth2-link">가슴교정</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/accessory_breast.html" class="total__depth2-link">부유방교정</a>
													</li>
                                                    <li class="total__depth2-item">
														<a href="../chest/chest_droop.html" class="total__depth2-link">처진 가슴성형</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../eye/eye_detail.html" class="total__depth1-link">눈</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../eye/eye_detail.html" class="total__depth2-link">바노바기 눈성형 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_double.html" class="total__depth2-link">쌍꺼풀 수술</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../eye/eye_double.html" class="total__depth3-link">- 비절개 자연유착 쌍꺼풀</a>
															</li>
															<li class="total__depth3-item">
																<a href="../eye/eye_incisional.html" class="total__depth3-link">- 절개쌍꺼풀</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_middleage.html" class="total__depth2-link">중년 눈 성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_correction.html" class="total__depth2-link">눈매교정</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_relocation.html" class="total__depth2-link">눈 밑 지방재배치</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_opening.html" class="total__depth2-link">트임성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_man.html" class="total__depth2-link">남자 쌍꺼풀</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_non_sleep.html" class="total__depth2-link">비수면 최소통 마취</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../nose/nose_detail.html" class="total__depth1-link">코</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../nose/nose_detail.html" class="total__depth2-link">바노바기 코성형 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_low.html" class="total__depth2-link">낮은 코</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_casetype.html" class="total__depth2-link">맞춤 코성형</a>
														<ul class="total__depth3-list">
															<li class="total__depth3-item">
																<a href="../nose/nose_casetype.html" class="total__depth3-link">- 유형별 코성형</a>
															</li>
															<li class="total__depth3-item">
																<a href="../nose/nose_reduction.html" class="total__depth3-link">- 큰코축소술</a>
															</li>
														</ul>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_apex.html" class="total__depth2-link">코끝성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_man.html" class="total__depth2-link">남자 코 성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="https://www.banobagi.com/program/bnbg_program_curve.php" class="total__depth2-link" target="_blank">휜코성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_profile.html" class="total__depth2-link">프로화일 성형</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../wrinkle/wrinkle_detail.html" class="total__depth1-link">동안</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_detail.html" class="total__depth2-link">바노바기 동안성형 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_elastic.html" class="total__depth2-link">탄력밴드 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_forehead.html" class="total__depth2-link">내시경 이마 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_midface.html" class="total__depth2-link">중안면부 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_facelift.html" class="total__depth2-link">안면거상술</a>
													</li>
                                                    <li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_2030.html" class="total__depth2-link">2030 리프팅</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../svf/svf_detail.html" class="total__depth1-link">줄기세포</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../svf/svf_detail.html" class="total__depth2-link">바노바기 줄기세포 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/cell_transplant.html" class="total__depth2-link">줄기세포 지방이식</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/svf_chest_extension.html" class="total__depth2-link">줄기세포 가슴확대</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../reoperation/reoperation_detail.html" class="total__depth1-link">재수술</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_detail.html" class="total__depth2-link">바노바기 재수술 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_nose.html" class="total__depth2-link">코 재수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_eye.html" class="total__depth2-link">눈재수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_breast.html" class="total__depth2-link">가슴 재수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_face.html" class="total__depth2-link">윤곽 재수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_fat.html" class="total__depth2-link">지방 흡입 재수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_young.html" class="total__depth2-link">동안 재수술</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">스페셜</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../special/special_detail.html" class="total__depth2-link">바노바기 스페셜 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_artecoll.html" class="total__depth2-link">반영구필러 아테콜</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_design.html" class="total__depth2-link">디자인필러</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_casefiller.html" class="total__depth2-link">부위별필러</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_cranium.html" class="total__depth2-link">두상 성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_extraction.html" class="total__depth2-link">이물질 추출</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_ear.html" class="total__depth2-link">귀 성형</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_lip.html" class="total__depth2-link">구순구개열 2차 수술</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_total.html" class="total__depth2-link">스페셜 종합검진</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../hair/hair_detail.html" class="total__depth1-link">모발이식</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../hair/hair_detail.html" class="total__depth2-link">바노바기 모발이식 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../hair/hair_woman.html" class="total__depth2-link">여성 모발이식</a>
													</li>
													<li class="total__depth2-item">
														<a href="../hair/hair_man.html" class="total__depth2-link">남성 모발이식</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item type-high" data-title-en="Face Contour">
							<a href="http://www.naver.com" class="gnb__depth1-link">윤곽</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1 is-active"><a href="../contour/contour_detail.html" class="gnb__depth2-link">바노바기 윤곽성형 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_square.html" class="gnb__depth2-link">사각턱</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_cheek.html" class="gnb__depth2-link">광대수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_front_u.html" class="gnb__depth2-link">앞턱수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_max.html" class="gnb__depth2-link">안면윤곽 + 탄력실 맥스 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_brow.html" class="gnb__depth2-link">이마성형</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../contour/contour_front_u.html" class="gnb__depth2-link">양악수술<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item is-active">
														<a href="../contour/contour_bimaxillary.html" class="gnb__depth3-link">양악수술</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../contour/contour_case.html" class="gnb__depth3-link">유형별 양악수술</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_protrusion.html" class="gnb__depth2-link">돌출입수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_mini.html" class="gnb__depth2-link">미니양악</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_man.html" class="gnb__depth2-link">남자 안면윤곽</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_slimface.html" class="gnb__depth2-link">얼굴살제거</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../contour/contour_elastone.html" class="gnb__depth2-link">수술 후 관리 시스템<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../contour/contour_elastone.html" class="gnb__depth3-link">엘라스톤테라피</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../contour/contour_care.html" class="gnb__depth3-link">윤곽양악 집중케어</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 -->

						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">바디</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_detail.html" class="gnb__depth2-link">바노바기 바디성형 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_fat.html" class="gnb__depth2-link">전신지방흡입</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_partfat.html" class="gnb__depth2-link">부위별 지방 흡입</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_dual.html" class="gnb__depth2-link">듀얼슬림</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_lifting.html" class="gnb__depth2-link">바디 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_obesity.html" class="gnb__depth2-link">비만관리 및 치료</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_hip.html" class="gnb__depth2-link">엉덩이 성형</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_zeltiq.html" class="gnb__depth2-link">냉동지방파괴술-젤틱</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_mint.html" class="gnb__depth2-link">민트에스</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_dday.html" class="gnb__depth2-link">D-Day 다이어트</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바디 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">가슴</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_detail.html" class="gnb__depth2-link">바노바기 가슴성형 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_extension.html" class="gnb__depth2-link">가슴확대술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reduction.html" class="gnb__depth2-link">가슴축소술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_papilla.html" class="gnb__depth2-link">유두 교정</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_gynecomastia.html" class="gnb__depth2-link">여성형 유방교정</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://motiva.banobagi.com/chest2.php" class="gnb__depth2-link" target="_blank">모티바</a></li>
											<li class="gnb__depth2-item nth-1"><a href="https://www.banobagi.com/program/bnbg_program_mygel.php" class="gnb__depth2-link" target="_blank">마이젤</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reconstruction.html" class="gnb__depth2-link">가슴교정</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/accessory_breast.html" class="gnb__depth2-link">부유방교정</a></li>
                                            <li class="gnb__depth2-item nth-1"><a href="../chest/chest_droop.html" class="gnb__depth2-link">처진 가슴성형</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //가슴 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">눈</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_detail.html" class="gnb__depth2-link">바노바기 눈성형 디테일</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../eye/eye_double.html" class="gnb__depth2-link">쌍꺼풀 수술 <span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../eye/eye_double.html" class="gnb__depth3-link">- 비절개 자연유착 쌍꺼풀</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../eye/eye_incisional.html" class="gnb__depth3-link">- 절개쌍꺼풀</a>
													</li>
												</ul>
											</li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_middleage.html" class="gnb__depth2-link">중년 눈 성형</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_correction.html" class="gnb__depth2-link">눈매교정</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_relocation.html" class="gnb__depth2-link">눈 밑 지방재배치</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_opening.html" class="gnb__depth2-link">트임성형</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_man.html" class="gnb__depth2-link">남자 쌍꺼풀</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_non_sleep.html" class="gnb__depth2-link">비수면 최소통 마취</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //눈 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">코</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_detail.html" class="gnb__depth2-link">바노바기 코성형 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_low.html" class="gnb__depth2-link">낮은 코</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth"><a href="../nose/nose_casetype.html" class="gnb__depth2-link">맞춤 코성형<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../nose/nose_casetype.html" class="gnb__depth3-link">- 유형별 코성형</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../nose/nose_reduction.html" class="gnb__depth3-link">- 큰코축소술</a>
													</li>
												</ul>
											</li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_apex.html" class="gnb__depth2-link">코끝성형</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_man.html" class="gnb__depth2-link">남자 코 성형</a></li>
											<li class="gnb__depth2-item nth-1"><a href="https://www.banobagi.com/program/bnbg_program_curve.php" class="gnb__depth2-link" target="_blank">휜코성형</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_profile.html" class="gnb__depth2-link">프로화일 성형</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //코 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">동안</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">바노바기 동안성형 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_elastic.html" class="gnb__depth2-link">탄력밴드리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_forehead.html" class="gnb__depth2-link">내시경 이마 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_midface.html" class="gnb__depth2-link">중안면부 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_facelift.html" class="gnb__depth2-link">안면거상술</a></li>
                                            <li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_2030.html" class="gnb__depth2-link">2030 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_ulthera.html" class="gnb__depth2-link">바노바기 동안 성형 울쎄라</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //동안 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">줄기세포</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_detail.html" class="gnb__depth2-link">바노바기 줄기세포 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/cell_transplant.html" class="gnb__depth2-link">줄기세포 지방이식</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_chest_extension.html" class="gnb__depth2-link">줄기세포 가슴확대</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //줄기세포 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">재수술</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_detail.html" class="gnb__depth2-link">바노바기 재수술 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_nose.html" class="gnb__depth2-link">코 재수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_eye.html" class="gnb__depth2-link">눈재수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_breast.html" class="gnb__depth2-link">가슴 재수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_face.html" class="gnb__depth2-link">윤곽 재수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_fat.html" class="gnb__depth2-link">지방 흡입 재수술</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_young.html" class="gnb__depth2-link">동안 재수술</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //재수술 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">모발이식</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_detail.html" class="gnb__depth2-link">바노바기 모발이식 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_woman.html" class="gnb__depth2-link">여성 모발이식</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_man.html" class="gnb__depth2-link">남성 모발이식</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모발이식 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">스페셜</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../special/special_detail.html" class="gnb__depth2-link">바노바기 스페셜 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_artecoll.html" class="gnb__depth2-link">반영구필러 아테콜</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_design.html" class="gnb__depth2-link">디자인필러</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_casefiller.html" class="gnb__depth2-link">부위별필러</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_cranium.html" class="gnb__depth2-link">두상 성형</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_extraction.html" class="gnb__depth2-link">이물질 추출</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_ear.html" class="gnb__depth2-link">귀 성형</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_lip.html" class="gnb__depth2-link">구순구개열 2차 수술</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../special/special_total.html" class="gnb__depth2-link">스페셜 종합검진</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //스페셜 -->
						<li class="gnb__depth1-item type-bano type-another">
							<a href="" class="gnb__depth1-link">바노바기</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_banobagi.html" class="gnb__depth2-link">바노바기소개</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">의료진소개</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">진료안내/오시는길</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_history.html" class="gnb__depth2-link">바노바기연혁</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_tour.html" class="gnb__depth2-link">바노바기 둘러보기</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/news_list.html" class="gnb__depth2-link">언론속의 바노바기</a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../introduce/news_list.html" class="gnb__depth3-link">News</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../introduce/media.html" class="gnb__depth3-link">Media</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_live.html" class="gnb__depth2-link">바노바기 LIVE</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">학술교류</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/society_list.html" class="gnb__depth2-link">사회공헌</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_knowledge.html" class="gnb__depth2-link">수술 후 주의사항</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/rapid.html" class="gnb__depth2-link">래피드힐링 - 셀프케어</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../program/program_list.html" class="gnb__depth2-link">추천 프로그램</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
						<li class="gnb__depth1-item type-review type-another">
							<a href="" class="gnb__depth1-link">리뷰</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="https://www.banobagi.com/review/index.php" class="gnb__depth2-link">리얼스토리</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">톡톡튀는 리얼후기</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">포토갤러리</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box type-review">
										<div class="gnb-slide2 owl-carousel">
												<div class="gnb-review">
													<ul class="gnb-review__list">
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon1.png" loading="lazy" alt="">
															<p class="gnb-review__tit">모티바 재수술</p>
															<a href="http://rebreast.banobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon2.png" loading="lazy" alt="">
															<p class="gnb-review__tit">탄력밴드 리프팅</p>
															<a href="http://elasticum.banobagi.com/" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon3.png" loading="lazy" alt="">
															<p class="gnb-review__tit">모티바</p>
															<a href="http://motiva.banobagi.com/" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon4.png" loading="lazy" alt="">
															<p class="gnb-review__tit">안티에이징</p>
															<a href="http://lift.banobagi.co.kr/" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon5.png" loading="lazy" alt="">
															<p class="gnb-review__tit">유방클리닉</p>
															<a href="http://www.btsbanobagi.com/" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon6.png" loading="lazy" alt="">
															<p class="gnb-review__tit">쁘띠 바노바기 </p>
															<a href="https://www.petitbanobagi.com/" target="_blank" class="gnb-review__link">Go</a>
														</li>
													</ul>
												</div>
												<div class="gnb-review">
													<ul class="gnb-review__list">
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon1.png" loading="lazy" alt="">
															<p class="gnb-review__tit">모티바 재수술</p>
															<a href="http://rebreast.banobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon2.png" loading="lazy" alt="">
															<p class="gnb-review__tit">탄력밴드 리프팅</p>
															<a href="http://elasticum.banobagi.com/" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon3.png" loading="lazy" alt="">
															<p class="gnb-review__tit">모티바</p>
															<a href="http://motiva.banobagi.com/" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon4.png" loading="lazy" alt="">
															<p class="gnb-review__tit">안티에이징</p>
															<a href="http://lift.banobagi.co.kr/" target="_blank" class="gnb-review__link">Go</a>
														</li>
													</ul>
												</div>
											</div>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">바노바기</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">후기</a></li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								Call for consultation
							</div>
							<a href="tel:+82-2-522-6636" class="snb__link2">Call</a>
						</li>
						<li class="snb__item type-login">
							<a href="" class="snb__link1 js-login-open"><span class="snb__border">로그인</span></a>
						</li>
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">상담신청</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-consultation">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-9"><a href="http://www.indonesiabanobagi.com" target="_blank" class="global__link">ID</a></li>
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JP</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
							</ul>
						</li>
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.php">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" loading="lazy" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">인기검색어</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">추천검색어</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">1</span>렛미인성형외과</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">2</span>셀카리얼후기</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">3</span>눈성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">4</span>코성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">5</span>안면윤곽</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><span class="keyword-box__num">6</span>가슴성형</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>눈성형 디테일</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>모티바 재수술</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>1year 안면윤곽 컨설팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>비절개 탄력밴드 리프팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>복합 콧볼축소</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="../search/search_result.html"><em class="keyword-box__icon">#</em>비절골 안면윤곽</a></li>
					</ul>
				</div>
			</div><!-- header-search -->

			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
		</div><!--header-->
		<div class="quick-menu">
			<ul class="quick-menu__list">
				<li class="quick-menu__item type-wow">
					<div class="quick-menu__box">
						<img src="../../images/common/wow.png" loading="lazy" alt="상담신청" class="hidden-tm">
						<img src="../../images/common/wow_t.png" loading="lazy" alt="상담신청" class="hidden-pm">
						<img src="../../images/common/wow_m.png" loading="lazy" alt="상담신청" class="hidden-pt">
					</div>
					<div class="quick-menu__box type-big">
						<img src="../../images/common/wow_big.png" loading="lazy" alt="상담신청">
					</div>
					<a href="../../program" class="quick-menu__link" target="_blank">바로가기</a>
				</li>
				<li class="quick-menu__item type-exam">
					<a href="/program/programIn_exam2019.php" class="quick-menu__link2">
						<img src="../../images/common/exam2019_icon.png" alt="수험생 프로모션" class="hidden-tm">
						<img src="../../images/common/exam2019_icon_m.png" alt="수험생 프로모션" class="hidden-p">
					</a>
				</li>
				<li class="quick-menu__item type-counsel js-consultation">
					<img src="../../images/common/quick_icon.png" loading="lazy" alt="상담신청">
				</li>
				<li class="quick-menu__item type-counsel-m js-consultation">
					<a href="javascript:$.fnCounselOpen()" class="quick-menu__link"><span class="quick-menu__wrap">상담</span></a>
				</li>
				<li class="quick-menu__item">
					<a href="#" class="scroll-top">
				        <span class="scroll-top__progress">
							<span class="scroll-top__arrow"></span>
				        </span>
				    </a>
				</li>
			</ul>
		</div>
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
