<!--popup시작 -->
<div class="popup-c type-exam">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close">닫기</a>
		<div class="popup-c__scroll">
			<div class="popup-c__box">
				<div class="popup-content is-active katalk">
					<h2 class="popup-content__tit2">수험생만을 위한 전용상담</h2>
					<div class="popup-content__wrap">
						<from id="#priceForm">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름" class="popup-input1">
									<button class="input1__clear"></button>
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처" class="popup-input1">
									<button class="input1__clear"></button>
								</div>
								<div class="popup-select">
									<a href="#" class="popup-select__tit">관심부위를 선택해주세요</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">관심부위</p>
											<ul class="popup-select__list">
											  <li class="popup-select2">
											 	 <h4 class="popup-select2__tit">윤곽</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_40">사각턱축소술</li>
													<li class="popup-select__item" id="partOptKakao_41">광대재배치술</li>
													<li class="popup-select__item" id="partOptKakao_42">턱끝성형</li>
													<li class="popup-select__item" id="partOptKakao_43">안면지방융해술</li>
													<li class="popup-select__item" id="partOptKakao_44">양악수술</li>
													<li class="popup-select__item" id="partOptKakao_45">이마성형</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">바디</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_53">젤틱</li>
													<li class="popup-select__item" id="partOptKakao_46">대용량 전신지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_54">닥터비주사</li>
													<li class="popup-select__item" id="partOptKakao_47">허벅지 지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_55">BPL 주사</li>
													<li class="popup-select__item" id="partOptKakao_48">복부지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_56">비만약처방</li>
													<li class="popup-select__item" id="partOptKakao_49">팔뚝 지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_50">기타 부위</li>
													<li class="popup-select__item" id="partOptKakao_51">민트에스</li>
													<li class="popup-select__item" id="partOptKakao_52">바디리프팅</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">가슴</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_57">가슴확대술</li>
													<li class="popup-select__item" id="partOptKakao_58">가슴축소술</li>
													<li class="popup-select__item" id="partOptKakao_59">가슴리프팅</li>
													<li class="popup-select__item" id="partOptKakao_60">여성형유방</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">눈</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_28">쌍꺼풀 비절개</li>
													<li class="popup-select__item" id="partOptKakao_29">쌍꺼풀 절개</li>
													<li class="popup-select__item" id="partOptKakao_30">눈매교정</li>
													<li class="popup-select__item" id="partOptKakao_31">비절개 상안검</li>
													<li class="popup-select__item" id="partOptKakao_32">상안검</li>
													<li class="popup-select__item" id="partOptKakao_33">하안검</li>
													<li class="popup-select__item" id="partOptKakao_34">눈밑지방제거/재배치</li>
													<li class="popup-select__item" id="partOptKakao_35">앞트임</li>
													<li class="popup-select__item" id="partOptKakao_36">밑트임+뒷트임</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">코</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_37">낮은코성형</li>
													<li class="popup-select__item" id="partOptKakao_38">맞춤코성형</li>
													<li class="popup-select__item" id="partOptKakao_39">콧볼축소</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">동안</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_61">비절개 탄력밴드 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_62">절개 탄력밴드 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_63">풀페이스 안면거상술</li>
													<li class="popup-select__item" id="partOptKakao_64">실 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_65">엔도타인 이마거상술</li>
													<li class="popup-select__item" id="partOptKakao_66">목 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_67">벨로디 리프팅</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">줄기세포</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_68">줄기세포 지방이식</li>
													<li class="popup-select__item" id="partOptKakao_69">줄기세포 흉터치료</li>
													<li class="popup-select__item" id="partOptKakao_70">줄기세포 가슴확대</li>
													<li class="popup-select__item" id="partOptKakao_71">줄기세포 노화관리</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">재수술</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_81">눈 재수술 </li>
													<li class="popup-select__item" id="partOptKakao_82">코 재수술 </li>
													<li class="popup-select__item" id="partOptKakao_83">가슴 재수술 </li>
													<li class="popup-select__item" id="partOptKakao_84">윤곽 재수술</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">스페셜</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_72">히알루론산 필러</li>
													<li class="popup-select__item" id="partOptKakao_73">반영구 아테콜필러</li>
													<li class="popup-select__item" id="partOptKakao_74">주름 보톡스</li>
													<li class="popup-select__item" id="partOptKakao_75">사각턱 보톡스</li>
													<li class="popup-select__item" id="partOptKakao_76">바디 보톡스 </li>
													<li class="popup-select__item" id="partOptKakao_77">윤곽주사</li>
													<li class="popup-select__item" id="partOptKakao_78">보조개수술</li>
													<li class="popup-select__item" id="partOptKakao_79">귀성형</li>
													<li class="popup-select__item" id="partOptKakao_80">입꼬리 올리기</li>
												</ul>
											</li>
										</ul>

									</div>
								</div>
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<textarea placeholder="메모" required="" class="popup-textarea"></textarea>
							</div>
							<div class="popup-content__box type-right">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree1" id="chkAgree1" class="checkbox02"><label for="chkAgree1">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
						</from>
					</div>
					<a href="" class="popup-content__btn type-katalk">상담신청</a>
				</div>
				<div class="popup-c__footer">
					<dlv class="popup-c__info">
						<dl class="popup-c__dl">
							<dt class="popup-c__dt"><span>전</span><span>화</span></dt>
							<dd class="popup-c__dd"><span class="popup-c__number">1588-6508, 02-562-6001</span></dd>
						</dl>
						<dl class="popup-c__dl">
							<dt class="popup-c__dt">진료시간</dt>
							<dd class="popup-c__dd">월 ~ 금<span class="popup-c__number">09:30~18:30</span>, 금 <span class="popup-c__number">09:30~20:00</span>, <span class="inline-block">토요일 <span class="popup-c__number">09:30~16:00</span></span></dd>
						</dl>
					</dlv>
				</div>
				<div class="popup-c__terms">
					<div class="terms-c">
						<a href="" class="terms-c__btn js-terms-close">닫기</a>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">개인정보 수집 및 이용 동의(필수)</h3>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h3>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
					</div><!--//terms-c-->
				</div><!-- //popup-c__terms-->
			</div>
		</div>
	</div>
</div>
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close">닫기</a>
		<div class="popup-tab">
			<ul class="popup-tab__list">
				<li class="popup-tab__item is-active katalk"><a href="#" class="popup-tab__link" data-tab="katalk"><span class="popup-tab__wrap">카톡상담</span></a></li>
				<li class="popup-tab__item live"><a href="#" class="popup-tab__link" data-tab="live"><span class="popup-tab__wrap">실시간상담</span></a></li>
				<li class="popup-tab__item cost"><a href="#" class="popup-tab__link" data-tab="cost"><span class="popup-tab__wrap">비용상담</span></a></li>
				<!-- <li class="popup-tab__item"><a href="#" class="popup-tab__link" data-tab=""><span class="popup-tab__wrap">온라인예약</span></a></li> -->
			</ul>
		</div>
		<div class="popup-c__scroll">
			<div class="popup-c__box">
				<div class="popup-content live">
					<!--실시간 상담 on -->
					<!-- <img src="../../images/common/consultaion/naver_icon_big.png" loading="lazy" alt="실시간상담 아이콘" class="popup-content__icon">
					<p class="popup-content__txt">실시간상담으로 빠르고 간편하게<br class="hidden-pt"> 1:1 상담하실 수 있습니다.</p>
					<h2 class="popup-content__tit">고객님 어떻게 도와드릴까요?</h2>
					<a href="" class="popup-content__btn">상담신청</a> -->
					<!--//실시간 상담 on -->
					<!--실시간 상담 off -->
					<img src="../../images/common/consultaion/naver_icon_big_off.png" loading="lazy" alt="실시간상담 아이콘" class="popup-content__icon">
					<h2 class="popup-content__tit type-another">실시간 상담 시간이 아닙니다</h2>
					<span class="popup-content__time">상담업무시간  <span class="popup-c__number">10:00 ~ 16:00</span></span>
					<p class="popup-content__info">※전화상담 / 카톡상담 / 비용상담을 이용해주세요!</p>
					<!--//실시간 상담 off -->
				</div>
				<div class="popup-content is-active katalk">
					<h2 class="popup-content__tit2"><strong>바노바기 성형외과</strong> 전문 상담원이 <span class="inline-block">친절히 상담 도와드립니다.</span></h2>
					<div class="popup-content__wrap">
						<from id="#priceForm">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름" class="popup-input1">
									<button class="input1__clear"></button>
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처" class="popup-input1">
									<button class="input1__clear"></button>
								</div>
								<div class="popup-select">
									<a href="#" class="popup-select__tit">관심부위를 선택해주세요</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">관심부위</p>
											<ul class="popup-select__list">
											  <li class="popup-select2">
											 	 <h4 class="popup-select2__tit">윤곽</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_40">사각턱축소술</li>
													<li class="popup-select__item" id="partOptKakao_41">광대재배치술</li>
													<li class="popup-select__item" id="partOptKakao_42">턱끝성형</li>
													<li class="popup-select__item" id="partOptKakao_43">안면지방융해술</li>
													<li class="popup-select__item" id="partOptKakao_44">양악수술</li>
													<li class="popup-select__item" id="partOptKakao_45">이마성형</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">바디</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_53">젤틱</li>
													<li class="popup-select__item" id="partOptKakao_46">대용량 전신지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_54">닥터비주사</li>
													<li class="popup-select__item" id="partOptKakao_47">허벅지 지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_55">BPL 주사</li>
													<li class="popup-select__item" id="partOptKakao_48">복부지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_56">비만약처방</li>
													<li class="popup-select__item" id="partOptKakao_49">팔뚝 지방흡입</li>
													<li class="popup-select__item" id="partOptKakao_50">기타 부위</li>
													<li class="popup-select__item" id="partOptKakao_51">민트에스</li>
													<li class="popup-select__item" id="partOptKakao_52">바디리프팅</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">가슴</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_57">가슴확대술</li>
													<li class="popup-select__item" id="partOptKakao_58">가슴축소술</li>
													<li class="popup-select__item" id="partOptKakao_59">가슴리프팅</li>
													<li class="popup-select__item" id="partOptKakao_60">여성형유방</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">눈</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_28">쌍꺼풀 비절개</li>
													<li class="popup-select__item" id="partOptKakao_29">쌍꺼풀 절개</li>
													<li class="popup-select__item" id="partOptKakao_30">눈매교정</li>
													<li class="popup-select__item" id="partOptKakao_31">비절개 상안검</li>
													<li class="popup-select__item" id="partOptKakao_32">상안검</li>
													<li class="popup-select__item" id="partOptKakao_33">하안검</li>
													<li class="popup-select__item" id="partOptKakao_34">눈밑지방제거/재배치</li>
													<li class="popup-select__item" id="partOptKakao_35">앞트임</li>
													<li class="popup-select__item" id="partOptKakao_36">밑트임+뒷트임</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">코</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_37">낮은코성형</li>
													<li class="popup-select__item" id="partOptKakao_38">맞춤코성형</li>
													<li class="popup-select__item" id="partOptKakao_39">콧볼축소</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">동안</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_61">비절개 탄력밴드 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_62">절개 탄력밴드 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_63">풀페이스 안면거상술</li>
													<li class="popup-select__item" id="partOptKakao_64">실 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_65">엔도타인 이마거상술</li>
													<li class="popup-select__item" id="partOptKakao_66">목 리프팅</li>
													<li class="popup-select__item" id="partOptKakao_67">벨로디 리프팅</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">줄기세포</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_68">줄기세포 지방이식</li>
													<li class="popup-select__item" id="partOptKakao_69">줄기세포 흉터치료</li>
													<li class="popup-select__item" id="partOptKakao_70">줄기세포 가슴확대</li>
													<li class="popup-select__item" id="partOptKakao_71">줄기세포 노화관리</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">재수술</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_81">눈 재수술 </li>
													<li class="popup-select__item" id="partOptKakao_82">코 재수술 </li>
													<li class="popup-select__item" id="partOptKakao_83">가슴 재수술 </li>
													<li class="popup-select__item" id="partOptKakao_84">윤곽 재수술</li>
												</ul>
											  </li>
											  <li class="popup-select2">
											  <h4 class="popup-select2__tit">스페셜</h4>
												  <ul class="popup-select2__list">
													<li class="popup-select__item" id="partOptKakao_72">히알루론산 필러</li>
													<li class="popup-select__item" id="partOptKakao_73">반영구 아테콜필러</li>
													<li class="popup-select__item" id="partOptKakao_74">주름 보톡스</li>
													<li class="popup-select__item" id="partOptKakao_75">사각턱 보톡스</li>
													<li class="popup-select__item" id="partOptKakao_76">바디 보톡스 </li>
													<li class="popup-select__item" id="partOptKakao_77">윤곽주사</li>
													<li class="popup-select__item" id="partOptKakao_78">보조개수술</li>
													<li class="popup-select__item" id="partOptKakao_79">귀성형</li>
													<li class="popup-select__item" id="partOptKakao_80">입꼬리 올리기</li>
												</ul>
											</li>
										</ul>

									</div>
								</div>
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<textarea placeholder="메모" required="" class="popup-textarea"></textarea>
							</div>
							<div class="popup-content__box">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree1" id="chkAgree1" class="checkbox02"><label for="chkAgree1">개인정보 수집 및 이용 동의(필수)</label>
								</div>
							</div>
							<div class="popup-content__box type-right">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree1" id="chkAgree1" class="checkbox02"><label for="chkAgree1">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
						</from>
					</div>
					<a href="" class="popup-content__btn type-katalk">상담신청</a>
				</div>
				<div class="popup-content cost">
					<h2 class="popup-content__tit2"><strong>바노바기 성형외과</strong> 전문 상담원이 친절히 <span class="inline-block">상담 도와드립니다.</span></h2>
					<div class="popup-content__wrap">
						<form action="">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름" class="popup-input1">
									<button class="input1__clear"></button>
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처" class="popup-input1">
									<button class="input1__clear"></button>
								</div>
								<div class="popup-select" data-style="multi">
									<a href="#" class="popup-select__tit js-multi">관심부위를 선택해주세요</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject">[최대 3개까지 선택가능]</p>
										<ul class="popup-select__list">
											<li class="popup-select2">
												<h4 class="popup-select2__tit">윤곽</h4>
												<ul class="popup-select2__list">
													<li class="popup-select__item" id="cost_01">탄력실 맥스리프팅</li>
													<li class="popup-select__item" id="cost_02">피팅리프팅(복합맞춤리프팅)</li>
													<li class="popup-select__item" id="cost_03">이마엔도타인</li>
													<li class="popup-select__item" id="cost_04">SVF 지방이식</li>
												</ul>
											</li>
											<li class="popup-select2">
												<h4 class="popup-select2__tit">바디</h4>
												<ul class="popup-select2__list">
													<li class="popup-select__item" id="cost_05">탄력실 맥스리프팅</li>
													<li class="popup-select__item" id="cost_06">피팅리프팅(복합맞춤리프팅) 피팅리프팅(복합맞춤리프팅)</li>
													<li class="popup-select__item" id="cost_07">이마엔도타인</li>
													<li class="popup-select__item" id="cost_08">SVF 지방이식</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<ul class="popup-check">
								</ul>
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<div class="popup-select type-another">
									<a href="#" class="popup-select__tit">상담시간</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">상담시간</p>
										<ul class="popup-select__list">
											<li class="popup-select2">
												<h4 class="popup-select2__tit">오전</h4>
												<ul class="popup-select2__list">
													<li class="popup-select__item"><span class="popup-c__number">09:00 ~ 10:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">10:00 ~ 11:00</span></li>
												</ul>
											</li>
											<li class="popup-select2">
												<h4 class="popup-select2__tit">오후</h4>
												<ul class="popup-select2__list">
													<li class="popup-select__item"><span class="popup-c__number">09:00 ~ 10:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">10:00 ~ 11:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">09:00 ~ 10:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">10:00 ~ 11:00</span></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<textarea placeholder="메모" required="" class="popup-textarea type-another"></textarea>

								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree2" id="chkAgree2" class="checkbox02 type-cost"><label for="chkAgree2">SMS 수신 동의</label>
								</div>
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree3" id="chkAgree3" class="checkbox02 type-cost"><label for="chkAgree3">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
						</form>
					</div>
					<a href="" class="popup-content__btn type-cost">상담신청</a>
				</div>
				<div class="popup-c__footer">
					<div class="popup-c__info">
						<dl class="popup-c__dl">
							<dt class="popup-c__dt"><span>전</span><span>화</span></dt>
							<dd class="popup-c__dd"><span class="popup-c__number">1588-6508, 02-562-6001</span></dd>
						</dl>
						<dl class="popup-c__dl">
							<dt class="popup-c__dt">진료시간</dt>
							<dd class="popup-c__dd">
								월 ~ 금<span class="popup-c__number">09:30~18:30</span>,
								<!-- 금 <span class="popup-c__number">09:30~20:00</span>,-->
								<br class="hidden-tm"><span class="inline-block">토요일 <span class="popup-c__number">09:30~16:00</span>
								(3/16, 4/20, 5/18, 6/15, 7/20 휴진)</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="popup-c__terms">
					<div class="terms-c">
						<a href="" class="terms-c__btn js-terms-close">닫기</a>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">개인정보 수집 및 이용 동의(필수)</h3>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h2>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h3>
								<div class="terms-c__area">
									개인정보 수집 및 이용 목적<br>
									'바노바기성형외과의원’은 “개인정보보호법”에 따라 수집한 개인정보를 홍보 및 마케팅 목적을 위해 활용합니다.<br>
									이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.<br><br><br>

									[마케팅 광고 활용]<br>
									-SMS를 통한 이벤트 참여 기회 제공: 이벤트 및 광고성 정보 제공과 참여 기회 제공<br>
									-맞춤형 광고 제공: 사용자 행태 분석을 통한 맞춤형 광고 제공<br><br><br>

									수집하려는 개인정보의 항목<br>
									-SMS를 통한 이벤트 참여 기회 제공: 이름, 연락처, 나이, 성별, 지역<br>
									-맞춤형 광고 제공: 사용자 접속기록, 열어본 페이지 목록<br>
									-서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. <br>
									: 서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보<br><br><br>

									개인정보 보유와 이용기간<br>
									본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다. 또한, 회원이 삭제 요청을 하는 경우 즉시 삭제 조치합니다. <br>
									-SMS를 통한 이벤트 참여 기회 제공: 수집일로부터 6개월까지<br>
									-사용자 행태 분석을 통한 맞춤형 광고 제공: 수집일로부터 3개월까지<br><br>

									동의를 거부할 권리가 있다는 사실과 동의 거부에 따른 불이익 내용<br>
									회원은 ”바노바기성형외과의원 상담신청"에서 수집하는 마케팅 광고 활용개인정보에 대해 동의를 거부할 권리가 있으며 동의 거부 시에는 해당 서비스가 제한됩니다. <br>
								</div>
						</div>
					</div><!--//terms-c-->
				</div><!-- //popup-c__terms-->
			</div>
		</div>
	</div>
</div>
<!--//popup끝-->
