<!-- 가슴검진팝업시작 -->
<a href="" class="chset-tag">
	<img src="../../images/common/popup/popup_chest_tag2.png" class="img-noraml hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest_tag2_m.png" class="img-noraml hidden-pt"alt=""/>
</a>
<div class="chest-popup">
	<img src="../../images/common/popup/popup_chest3_1.png" class="img-w100 hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest3_1_m.png" class="img-w100 hidden-pt"alt=""/>
	<div class="chest-popup__wrap">
		<img src="../../images/common/popup/popup_chest3_2.png" class="img-w100 hidden-m"alt=""/>
		<img src="../../images/common/popup/popup_chest3_2_m.png" class="img-w100 hidden-pt"alt=""/>
		<a href="https://www.banobagi.com/program/programIn_alcl.php" class="chest-popup__btn">검진예약 바로가기</a>
	</div>
	<a href="" class="chest-popup__close">닫기</a>
	<img src="../../images/common/popup/popup_chest3_3.png" class="img-w100 hidden-m"alt=""/>
	<img src="../../images/common/popup/popup_chest3_3_m.png" class="img-w100 hidden-pt"alt=""/>
</div>
<!-- //가슴검진팝업끝 -->
