<!--quick-->
<div class="quick">
	<ul class="quick__list">
		<!-- <li class="quick__item type-counsel">
			<a href="" class="quick__link js-apply-open"><span class="quick__wrap">유방검진</span></a>
		</li> -->
		<li class="quick__item type-counsel">
			<a href="" class="quick__link js-consultation-event"><span class="quick__wrap">상담</span></a>
		</li>
		<li class="quick__item type-list">
			<a href="" class="quick__link"><span class="quick__wrap">목록</span></a>
		</li>
		<li class="quick__item type-top">
			<a href="" class="quick__link js-top"><span class="quick__wrap">TOP</span></a>
		</li>
	</ul>
</div>
<!--//quick-->
