<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-case">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-case">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">거의 모든 케이스에 대한 교정</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">유형별</span> 양악 수술</h3>
						<p class="new-visual__txt">개개인에 맞는 정밀한 진단으로 개선되는 얼굴형</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#심층분석</span></li>
							<li class="new-visual__item"><span>#정밀한수술</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-case">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						유형을 <span class="n-color-contour2">정확하게 진단</span>해야 불필요한<br class="hidden-tm">
                        수술을 피할 수 있습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						양악 수술은 턱뼈 자체를 절골하고 이동시키는 수술이기 때문에 그 효과가 비교적 뛰어나다는 장점이 있습니다.<br class="hidden-tm">
                        하지만 그만큼 회복 과정이나 통증에 대한 부담이 어느 정도 있는 것도 사실이죠.<br class="hidden-tm">
                        때문에 양악 수술은 전문의와 환자가 추구하는 개선 방향을 정확히 설정하고,<br class="hidden-tm">
                        그를 위해 필요한 최소한의 수술만을 진행하는 것이 특히 중요합니다.<br class="hidden-tm">
                        그러기 위해서는 상담 및 진단 과정에서부터 환자의 상태를 면밀히 파악해야 하죠.
					<p class="new-style1__txt2 txt-new2">
						사람의 얼굴 형태는 단순히 뼈의 모양이 아닌 지방이나 근육, 피부에 이르기까지<br class="hidden-tm">
                        다양한 요소들로 결정되기 때문에, <span class="n-color-contour2">심층적인 분석 없이 겉모습만으로 양악 수술 방향을 정했다가는<br class="hidden-tm">
                        자칫 과한 수술이 되거나 재수술이 필요한 경우가 생길 수도 있습니다.</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/case/case_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-case2">
					<div class="inner-box">
						<div class="process-style5">
                            <h5 class="new-content-tit tit-new2">정확한 유형 진단이 필요한 양악 수술</h5>

                            <div class="process-style5__wrap">
                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                정확한 양악 진단
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                올바른 개선 방향 설정
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                개선 방향에 맞는 최소한의 절개 및 절골
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-contour">
                                            <p class="process-style5__txt txt-new2">
                                                보다 빠른 회복과 만족스러운 결과
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                부정확한 양악 진단
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                잘못된 개선 방향 설정
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                불필요한 수술 과정 추가, 비교적 더딘 회복과 각종 부작용 가능성↑
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-gray">
                                            <p class="process-style5__txt txt-new2">
                                                불만족 및 재수술로 이어짐
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

                <div class="new-style1 type-case3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        면밀한 진단으로 <span class="n-color-contour3">거의 모든 유형을<br class="hidden-tm">
                        파악하고 개선</span>합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        바노바기는 2000년 개원 이후 윤곽 성형 전담팀을 구성하여 지속적으로 양악 수술에 대한 경험과 노하우를 축적해왔습니다.<br class="hidden-tm">
                        수술 전 3D 안면 CT 정밀 계측기를 통한 진단과 심도 있는 상담을 통해 양악의 구조와 얼굴의 표정 근육까지 계산하고,<br class="hidden-tm">
                        마취통증의학과 전문의, 구강악안면외과 전문의 등과의 협진을 통해 더욱 안전하고 정밀한 수술을 진행하죠.<br class="hidden-tm">
                        때문에 <span class="color-white">무턱, 주걱턱, 긴 얼굴, 비대칭과 같은 거의 모든 유형에 대한 파악이 가능하며, 보다 정확하고 만족스러운 개선을 기대</span>할 수 있습니다.
                    </p>
                    <div class="inner-circle type-contour2 type-small">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    무턱<br>
                                    양악 수술
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    주걱턱<br>
                                    양악 수술
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    긴 얼굴<br>
                                    양악 수술
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    비대칭<br>
                                    교정
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="new-style1__img">
                        <img src="../../images/contour/case/case_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
                    </div>
                </div>
			</div><!--//new-section-->
			<div class="new-tab__line">line</div>
            <div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">탄력밴드 리프팅 (절개)</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-short" class="new-tab__link">무턱 양악 수술</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-lantern" class="new-tab__link">주걱턱 양악 수술</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-long" class="new-tab__link">긴 얼굴 양악 수술</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-asymmetry" class="new-tab__link">비대칭 교정</a>
						</div>
					</li>
				</ul>
			</div><!-- //new-tab -->

            <!-- 무턱 양악 수술 -->
            <div class="new-tab-content page-short is-active">
                <div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">무턱</span> 양악 수술
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            얼굴을 측면에서 봤을 때 <span class="n-color-contour2">앞턱이 어느 정도 전진되지 못했거나<br class="hidden-tm">
                            오히려 뒤쪽으로 들어간 상태</span>를 무턱이라고 합니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            무턱은 크게 두 가지 경우로 나눌 수 있는데,<br class="hidden-tm">
                            <span class="color-black1">턱 끝이 충분히 발달하지 못한 경우와 치아를 포함한 아래턱이 전체적으로 후퇴되어 있는 경우입니다.</span><br class="hidden-tm">
                            단순히 턱 끝이 발달하지 못한 경우라면 절골을 통한 앞턱 수술이나 보형물 삽입을 통해 개선할 수 있지만,<br class="hidden-tm">
                            아래턱 자체가 위턱에 맞지 않게 들어간 경우라면 양악 수술을 통한 개선이 필요합니다.
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_3.jpg" loading="lazy" alt="무턱 양악 수술 성형모델" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">상태에 따른 무턱 개선 방법</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_4.gif" class="img-w100" loading="lazy" alt="치아를 포함한 아래턱 전체가 뒤로 들어간 경우 양악 수술 필요"/>
										<p class="img-style1__subject txt-new1">
                                            치아를 포함한 아래턱 전체가<br class="hidden-tm">
                                            뒤로 들어간 경우 <span class="n-color-contour2">양악 수술 필요</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_5.gif" class="img-w100" loading="lazy" alt="치열의 상태는 정상이지만 앞턱이 충분히 발달되지 못한 경우 앞턱 수술로 개선 가능"/>
										<p class="img-style1__subject txt-new1">
                                            치열의 상태는 정상이지만 앞턱이 충분히<br class="hidden-tm">
                                            발달되지 못한 경우 <span class="color-black1">앞턱 수술로 개선 가능</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 개제 하였습니다.
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							무턱 양악 수술은 <span class="n-color-contour2">치아의 교합을<br class="hidden-tm">
                            맞추는 과정이 포함</span>됩니다.
						</h4>
						<p class="new-style1__txt txt-new1">
							치아를 포함한 아래턱이 전체적으로 후퇴되어 있는 경우의 무턱 양악 수술은 치아의 교합을 맞추는 과정이 포함됩니다.<br class="hidden-tm">
							때문에 <span class="color-black1">바노바기는 구강악안면외과 전문의와의 협진을 통해 전문적인 치아 교정에 따른 양악 수술을 계획</span>하죠.<br class="hidden-tm">
							수술 과정은 교정 치료를 통한 치아 교합을 기준으로 진행되며,<br class="hidden-tm">
							치아를 포함한 아래턱을 절골하여 적절히 전진시키고 고정시키는 것이 핵심입니다.<br><br>

							이때 바노바기는 <span class="color-black1">절골 면을 사선으로 하여 넓어진 접합 면적을 통해 뼈를 더욱 견고하게 고정시키고,<br class="hidden-tm">
							전진된 뼈와 기존 뼈 사이의 고정부위가 보다 자연스럽게 유지</span>될 수 있도록 하고 있습니다.<br class="hidden-tm">
							아래턱이 전체적으로 전진되기 때문에 턱 끝이 입체적으로 살아나며,<br class="hidden-tm">
							목과의 경계가 분명해져 얼굴이 더욱 작고 또렷해 보이는 결과를 기대할 수 있습니다.
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_6.jpg" class="img-normal" loading="lazy" alt="바노바기 무턱 양악 수술 과정">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                구강악안면외과 전문의와의 협진을 통한 치아 교정 계획
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									치아를 포함한 아래턱을 절골
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									절골된 아래턱을 치아 교합에 맞추어 전진
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									티타늄 고정핀을 통해 견고히 고정
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                지속적인 교정 치료와 회복 프로그램 병행
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								바노바기 무턱 양악 수술 <span class="n-color-contour3">핵심 포인트</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										일반적인 양악 절골
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="일반적인 양악 절골">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										바노바기 사선 절골
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="바노바기 사선 절골">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								사선 절골로 뼈의 접합 면적을 넓혀 <span class="color-white">더욱 안정적인 고정 가능</span>
							</p>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 주걱턱 양악 수술 -->
            <div class="new-tab-content page-lantern">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">주걱턱</span> 양악 수술
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            <span class="n-color-contour2">아래턱이 길게 나온 경우</span>를 흔히 주걱턱이라고 표현합니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            <span class="color-black1">미용적인 불만족뿐만 아니라, 턱관절 장애나 불분명한 발음 등 일상의 다양한 불편함을 동반하기 때문에<br class="hidden-tm">
							대표적인 얼굴형 고민 중 하나로 꼽히죠.</span><br><br>

							주걱턱의 원인은 다양하지만 전문의들은 뼈의 상태에 따라 크게 두 가지로 구분하고 있습니다.<br class="hidden-tm">
							입을 다물었을 때 치열의 상태는 정상이고 턱 끝만 길게 발달한 경우와 <span class="color-black1">치아를 포함한 아래턱 전체가 전방으로 위치한 경우</span>이죠.<br class="hidden-tm">
							전자의 경우라면 적합한 절골을 통한 턱 끝 성형으로 개선이 가능하지만 후자의 경우에는 <span class="color-black1">양악 수술이 필요하다고 진단</span>하게 됩니다.
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_9.jpg" loading="lazy" alt="주걱턱 양악 수술 성형모델" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">상태에 따른 주걱턱 개선 방법</h5>
								<ul class="img-style1__list type-half">
									<!-- 추후 이미지 추가 - case_img_10.gif -->
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_10.gif" class="img-w100" loading="lazy" alt="치아를 포함한 아래턱 전체가 길게 전진된 경우 양악 수술 필요"/>
										<p class="img-style1__subject txt-new1">
                                            치아를 포함한 아래턱 전체가<br class="hidden-tm">
                                            길게 전진된 경우 <span class="n-color-contour2">양악 수술 필요</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" loading="lazy" alt="치열의 교합은 정상이고 앞턱이 길게 발달된 경우 앞턱 수술로 개선 가능"/>
										<p class="img-style1__subject txt-new1">
                                            치열의 교합은 정상이고 앞턱이 길게 발달된 경우<br class="hidden-tm">
                                            <span class="color-black1">앞턱 수술로 개선 가능</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 개제 하였습니다.
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							주걱턱 양악 수술은 <span class="n-color-contour2">치아의 교합을<br class="hidden-tm">
							맞추는 과정이 포함</span>됩니다.
						</h4>
						<p class="new-style1__txt txt-new1">
							치아를 포함한 아래턱 전체가 전방으로 위치한 경우의 주걱턱 양악 수술은 치아의 교합을 맞추는 과정이 포함됩니다.<br class="hidden-tm">
							때문에 바노바기는 구강악안면외과 전문의와의 협진을 통해 전문적인 치아 교정에 따른 양악 수술을 계획하죠.<br class="hidden-tm">
							수술 과정은 <span class="color-black1">교정 치료를 통한 치아 교합을 기준으로 진행되며 환자의 상태와 추구하는 결과에 따라<br class="hidden-tm">
							치아를 포함한 하악 또는 상·하악을 함께 절골하여 뒤로 적절히 재배치하는 것이 핵심</span>입니다.<br><br>

							이때 바노바기는 절골면을 사선으로 하여 넓어진 접합 면적을 통해 뼈를 더욱 견고하게 고정시키고,<br class="hidden-tm">
							<span class="color-black1">뼈가 이어진 부분이 보다 자연스럽게 유지될 수 있도록 하고 있습니다. </span><br class="hidden-tm">
							이렇게 진행된 주걱턱 양악 수술은 아래턱을 전체적으로 후퇴시키기 때문에 보다 효과적인 개선이 가능하며,<br class="hidden-tm">
							이후 하악 길이의 감소로 인해 불필요하게 남은 목과 턱 사이의 연부 조직은 구강 내 지방 흡입을 통해 자연스럽게 개선하여<br class="hidden-tm">
							얼굴이 더욱 작고 또렷해 보이는 결과를 기대할 수 있습니다.
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_12.jpg" class="img-normal" loading="lazy" alt="바노바기 주걱턱 양악 수술 과정">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                구강악안면외과 전문의와의 협진을 통한 치아 교정 계획
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									치아를 포함한 하악 또는 양악을 절골
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									절골된 양악을 치아 교합에 맞추어 후진
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									티타늄 고정핀을 통해 견고히 고정
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                지속적인 교정 치료와 회복 프로그램 병행
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								바노바기 주걱턱 양악 수술 <span class="n-color-contour3">핵심 포인트</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										일반적인 양악 절골
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="일반적인 양악 절골">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										바노바기 사선 절골
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="바노바기 사선 절골">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								사선 절골로 뼈의 접합 면적을 넓혀 <span class="color-white">더욱 안정적인 고정 가능</span>
							</p>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										앞턱 수술
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_13.jpg" class="img-w100" loading="lazy" alt="앞턱 수술">
									</div>

									<p class="compare4__txt txt-new1">
										필요한 경우 <span class="color-white">앞턱의 길이를 줄여 보다 이상적인 얼굴 비율 추구</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										구강 내 지방 흡입
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" loading="lazy" alt="구강 내 지방 흡입">
									</div>

									<p class="compare4__txt txt-new1">
										아래턱의 이동으로 혹시 남을 수 있는 <span class="color-white">불필요한 연부 조직을 정리</span>하여<br class="hidden-tm">
										<span class="color-white">더욱 또렷해지는 턱 선</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 긴 얼굴 양악 수술 -->
            <div class="new-tab-content page-long">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">긴 얼굴</span> 양악 수술
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            긴 얼굴은 일반적인 시각으로 봤을 때 주걱턱과 혼동되어 표현될 정도로<br class="hidden-tm">
							언뜻 비슷한 형태를 하고 있습니다. 하지만 <span class="n-color-contour2">의학적으로 봤을 때 긴 얼굴과 주걱턱은 다른 유형이며,<br class="hidden-tm">
							수술 또한 그에 맞게 미묘한 차이를 가지고 진행</span>됩니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            긴 얼굴을 만드는 요인은 다양한데요, 대표적으로 위턱의 잇몸 부분 뼈가 수직으로 과도하게<br class="hidden-tm">
							성장해 잇몸이 과하게 노출되는 경우, 위턱과 아래턱의 형태와 교합 문제로 위 아래의 앞니가 제대로 다물어지지 않는 경우,<br class="hidden-tm">
							단순히 아래턱이 길어 얼굴이 길어 보이는 경우가 있습니다.<br><br>

							<span class="color-black1">단순히 아래턱이 긴 경우라면 그 길이를 줄일 수 있는 절골을 통한 앞턱 수술로 개선이 가능하지만,<br class="hidden-tm">
							그 외의 경우라면 양악 수술을 통한 개선이 필요</span>합니다.
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_15.jpg" loading="lazy" alt="긴 얼굴 양악 수술 성형모델" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">상태에 따른 긴 얼굴 개선 방법</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_16.gif" class="img-w100" loading="lazy" alt="치아를 포함한 아래턱 전체가 길게 전진된 경우 양악 수술 필요"/>
										<p class="img-style1__subject txt-new1">
                                            양악의 부조화로 개방교합이 생긴 경우<br class="hidden-tm">
											<span class="n-color-contour2">양악 수술 필요</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" loading="lazy" alt="치열의 교합은 정상이고 앞턱이 길게 발달된 경우 앞턱 수술로 개선 가능"/>
										<p class="img-style1__subject txt-new1">
                                            윗잇몸 뼈가 길고 하악이 길게 발달한 경우<br class="hidden-tm">
											<span class="n-color-contour2">양악 수술 필요</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_17.gif" class="img-w100" loading="lazy" alt="치열의 교합은 정상이고 앞턱이 길게 발달된 경우 앞턱 수술로 개선 가능"/>
										<p class="img-style1__subject txt-new1">
                                            치열의 교합은 정상이고 앞턱이 길게<br class="hidden-tm">
											발달된 경우 <span class="color-black1">앞턱 수술로 개선 가능</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 개제 하였습니다.
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							긴 얼굴의 원인이 되는 부분들을 개선할 수 있는<br class="hidden-tm">
							<span class="n-color-contour2">다양한 방법들이 동원</span>되어야 합니다.
						</h4>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_18.jpg" class="img-normal" loading="lazy" alt="바노바기 긴 얼굴 양악 수술 과정">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                구강악안면외과 전문의와의 협진을 통한 치아 교정 계획
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									길게 발달한 윗잇몸 뼈를 절골하여 축소
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									아래턱을 절골한 후 위턱과의 교합에 맞도록 이동
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									필요한 경우 얼굴의 조화를 생각하여 앞턱 수술 추가
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                티타늄 고정핀을 통해 견고히 고정
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                지속적인 교정 치료와 회복 프로그램 병행
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								바노바기 긴 얼굴 양악 수술 <span class="n-color-contour3">핵심 포인트</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										일반적인 양악 절골
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="일반적인 양악 절골">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										바노바기 사선 절골
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="바노바기 사선 절골">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								사선 절골로 뼈의 접합 면적을 넓혀 <span class="color-white">더욱 안정적인 고정 가능</span>
							</p>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										앞턱 수술
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_19.jpg" class="img-w100" loading="lazy" alt="앞턱 수술">
									</div>

									<p class="compare4__txt txt-new1">
										필요한 경우 <span class="color-white">앞턱의 길이를 줄여 보다 이상적인 얼굴 비율 추구</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										구강 내 지방 흡입
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" loading="lazy" alt="구강 내 지방 흡입">
									</div>

									<p class="compare4__txt txt-new1">
										아래턱의 이동으로 혹시 남을 수 있는 <span class="color-white">불필요한 연부 조직을 정리</span>하여<br class="hidden-tm">
										<span class="color-white">더욱 또렷해지는 턱 선</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 비대칭 교정 -->
            <div class="new-tab-content page-asymmetry">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">비대칭</span> 교정
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            얼굴을 세로 중심선으로 나누었을 때 <span class="n-color-contour2">좌우 대칭이 맞지 않는 경우</span>를 안면 비대칭으로 진단합니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            물론 사람의 얼굴이 완벽히 대칭이 될 수는 없지만 그 정도가 심하다면 교정을 생각해 보는 것이 필요하죠.<br class="hidden-tm">
							안면 비대칭은 단순히 <span class="color-black1">미적 불만족뿐만 아니라 턱관절 질환의 원인</span>이 되고,<br class="hidden-tm">
							비대칭적인 관절의 사용과 근육 발달로 인해 안면 비대칭이 가속화될 수도 있기 때문입니다.<br><br>

							안면 비대칭은 상태에 따라 양악의 교합이 틀어져 입과 턱이 삐뚤어진 경우, 얼굴 뼈가 비대칭으로 발달된 경우,<br class="hidden-tm">
							연부조직이 비대칭인 경우, 얼굴의 중심선에 포함되는 코가 휘어서 얼굴이 비대칭으로 보이는 경우 등으로 분류할 수  있습니다.<br class="hidden-tm">
							그 중에서도 <span class="color-black1">위턱과 아래턱이 틀어져 교합이 맞지 않는 경우라면 양악 수술을 통한 교정이 필요</span>합니다.
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_20.jpg" loading="lazy" alt="비대칭 교정 성형 모델" class="img-normal"/>
    					</div>

                        <div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">상태에 따른 비대칭 교정 방법 선택</h5>
								<ul class="img-style1__list type-half">
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_21.jpg" class="img-w100" loading="lazy" alt="양악의 교합이 틀어져 치아의 수평이 맞지 않는 경우"/>
	                                    <p class="img-style1__subject txt-new1">
											양악의 교합이 틀어져 치아의 수평이<br class="hidden-tm">
											맞지 않는 경우 <span class="n-color-contour2">양악 수술 필요</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_22.jpg" class="img-w100" loading="lazy" alt="얼굴 뼈가 비대칭으로 발달된 경우"/>
	                                    <p class="img-style1__subject txt-new1">
											얼굴 뼈가 비대칭으로 발달된 경우<br class="hidden-tm">
											<span class="color-black1">광대 또는 사각턱 수술로 개선 가능</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_23.jpg" class="img-w100" loading="lazy" alt="근육, 지방과 같은 조직들이 비대칭인 경우"/>
	                                    <p class="img-style1__subject txt-new1">
											근육, 지방과 같은 조직들이 비대칭인 경우<br class="hidden-tm">
											<span class="color-black1">지방 흡입 또는 저작근 축소술 등의 방법으로 개선 가능</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_24.jpg" class="img-w100" loading="lazy" alt="코가 휘어 얼굴이 비대칭으로 보이는 경우"/>
	                                    <p class="img-style1__subject txt-new1">
											코가 휘어 얼굴이 비대칭으로 보이는 경우<br class="hidden-tm">
											<span class="color-black1">휜 코 교정으로 개선 가능</span>
										</p>
	                                </li>
								</ul>
							</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							안면 비대칭 양악 수술은 <span class="n-color-contour2">치아의 교합을<br class="hidden-tm">
							맞추는 과정이 포함</span>됩니다.
						</h4>

						<p class="new-style1__txt txt-new1">
							위 아래 턱의 교합이 틀어진 경우의 안면 비대칭 양악 수술은 치아의 교합을 맞추는 과정이 포함됩니다.<br class="hidden-tm">
							때문에 바노바기는 구강악안면외과 전문의와의 협진을 통해 전문적인 치아 교정에 따른 양악 수술을 계획하죠.<br class="hidden-tm">
							수술 과정은 교정 치료를 통한 치아 교합을 기준으로 진행되며<br class="hidden-tm">
							<span class="color-black1">위 아래의 치아 기울기가 수평을 이룰 수 있도록 틀어진 턱뼈를 절골하여 고정하는 것이 핵심</span>입니다.<br><br>

							이때 바노바기는 올바르게 교정된 양악에 맞추어 전체적인 골격 틀어짐 또한<br class="hidden-tm">
							<span class="color-black1">앞턱 수술, 지방 흡입 등과 같은 방법을 병행하여 개선하기 때문에 보다 균형 잡힌 얼굴형을 기대</span>할 수 있습니다.
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_25.jpg" class="img-normal" loading="lazy" alt="바노바기 비대칭 교정 과정">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                구강악안면외과 전문의와의 협진을 통한 치아 교정 계획
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									치아의 수평을 고려하여 절골 위치와 정도를 조절
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									계획된 만큼의 양악 이동 후  오스테오트랜스로 견고히 고정
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									필요한 경우 앞턱 수술 및 연부조직 개선 추가
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                지속적인 교정 치료와 회복 프로그램 병행
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								바노바기 비대칭 교정 <span class="n-color-contour3">핵심 포인트</span>
							</h5>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										앞턱 수술
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_26.jpg" class="img-w100" loading="lazy" alt="앞턱의 형태를 바로잡아 얼굴의 중심선 정렬">
									</div>

									<p class="compare4__txt txt-new1">
										앞턱의 형태를 바로잡아 <span class="color-white">얼굴의 중심선 정렬</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										다양한 조직층 개선
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_27.jpg" class="img-w100" loading="lazy" alt="필요한 경우 얼굴 뼈 비대칭으로 인해 비대칭으로 발달한 얼굴 각 층의 조직들 또한 대칭으로 개선">
									</div>

									<p class="compare4__txt txt-new1">
										필요한 경우 얼굴 뼈 비대칭으로 인해 비대칭으로 발달한<br class="hidden-tm">
										<span class="color-white">얼굴 각 층의 조직들 또한 대칭으로 개선</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 3시간~4시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1~4일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
									악간 고정을 하지 않아 비교적 큰 불편함은 없습니다.<br>
									체계적이고 지속적인 후 관리를 통해 통증과 부기를 관리할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
