<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-elastone">
		<div class="new-visual type-elastone">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">얼굴 처짐 거의 없는 양악&amp;윤곽수술을 위해</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">엘라스톤</span> 테라피</h3>
						<p class="new-visual__txt">부기는 줄이고 얼굴 탄력은 높이는</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#사후관리</span></li>
							<li class="new-visual__item"><span>#3주프로그램</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-elastone">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						매력적이며 아름다운 비율과<br class="hidden-tm"> 입체적인 페이스라인<br class="hidden-tm">
                        <span class="n-color-contour2">제대로 된 사후관리</span>가 있어야 됩니다.
					</h4>
					<p class="new-style1__txt txt-new1">
						양악수술이나 윤곽수술 후 부기가 오랫동안 남아있을 경우 얼굴이 처지는 부작용이 발생할 수 있습니다.<br class="hidden-tm">
						바노바기 성형외과는 초음파와 스톤 테라피로 부기는 줄이고 고주파 관리로 얼굴 탄력은 높이는<br class="hidden-tm">
						사후관리를 더해 더 나은 수술 결과를 추구합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						이제 바노바기의 <span class="n-color-contour2">엘라스톤 테라피 3주 프로그램</span>을 만나보세요.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/elastone/elastone_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-explan type-three type-elastone">
					<h5 class="new-content-tit tit-new2 color-white">
                        엘라스톤 테라피에 사용되는 기기
                    </h5>
				    <ul class="new-explan__list">
				        <li class="new-explan__item">
				            <div class="new-explan__img">
				                <img src="../../images/contour/elastone/elastone_img_2.jpg" loading="lazy" alt="초음파 기기" class="img-w100">
								<h6 class="new-explan__caption txt-new2">초음파 기기</h6>
				            </div>
				            <div class="new-explan__wrap">
				                <p class="new-explan__txt txt-new1">
				                    초음파의 미세한 진동이 피부와
									신체에 닿으면 미세한 진동과
									열로 인해 혈관확장 및 혈류량이 증가됩니다.
									이를 통해 혈액 및 림프 순환을 도와
									보다 빠른 부기 감소에 도움을 줍니다.
				                </p>
				            </div>
				        </li>
						<li class="new-explan__item">
						   <div class="new-explan__img">
							   <img src="../../images/contour/elastone/elastone_img_3.jpg" loading="lazy" alt="스톤 테라피" class="img-w100">
							   <h6 class="new-explan__caption txt-new2">스톤 테라피</h6>
						   </div>
						   <div class="new-explan__wrap">
							   <p class="new-explan__txt txt-new1">
									온기를 담은 천연석을 사용하여
									면역력을 높이고 긴장된 신경과 뭉친 근육을
									이완시키는 온열요법입니다.
									혈액순환을 원활하게 해 체내의 독소와 노폐물을
									빠르게 개선시키며 부종 예방 효과가 뛰어납니다.
							   </p>
						   </div>
					   </li>
					   <li class="new-explan__item">
						   <div class="new-explan__img">
							   <img src="../../images/contour/elastone/elastone_img_4.jpg" loading="lazy" alt="고주파(RF) 기기" class="img-w100">
							   <h6 class="new-explan__caption txt-new2">고주파(RF) 기기</h6>
						   </div>
						   <div class="new-explan__wrap">
							   <p class="new-explan__txt txt-new1">
									고주파를 깊은 조직까지 전달하여
									심부열을 발생시킵니다.
									심부열은 진피층의 콜라겐을 자극하고
									세포의 기능을 증진시키며, 혈액순환 촉진과
									신진대사가 활성화되어 탄력에 효과적입니다.
							   </p>
						   </div>
					   </li>
				    </ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section type-elastone">
				<div class="new-section__wrap">
					<h5 class="new-content-tit tit-new2">
                        엘라스톤 테라피 <strong class="weight-medium">3주 프로그램</strong>
						<span class="new-content-tit__sub txt-new2">소요시간 : 약 40분</span>
                    </h5>
					<div class="program-style2">
						<ul class="program-style2__list">
							<li class="program-style2__item txt-new2">
								<div class="program-style2__head">1주차</div>
								<div class="program-style2__body js-height">
									<p class="program-style2__txt">클랜징</p>
									<p class="program-style2__txt">각질제거</p>
									<p class="program-style2__txt program-style2__highlight">림프 배농 마사지</p>
									<p class="program-style2__txt program-style2__highlight">초음파기기 관리(림프순환)</p>
									<p class="program-style2__txt">루카스 아로마 분사 (림프배농)</p>
									<p class="program-style2__txt">수분&영양 모델링 마스크</p>
								</div>
							</li>
							<li class="program-style2__item txt-new2">
								<div class="program-style2__head">2주차</div>
								<div class="program-style2__body js-height">
									<p class="program-style2__txt">클랜징</p>
									<p class="program-style2__txt">각질제거</p>
									<p class="program-style2__txt program-style2__highlight">림프 배농 마사지</p>
									<p class="program-style2__txt program-style2__highlight">스톤 테라피 (림프순환)</p>
									<p class="program-style2__txt">루카스 아로마 분사 (림프배농)</p>
									<p class="program-style2__txt">수분&영양 모델링 마스크</p>
								</div>
							</li>
							<li class="program-style2__item txt-new2">
								<div class="program-style2__head">3주차</div>
								<div class="program-style2__body js-height">
									<p class="program-style2__txt">클랜징</p>
									<p class="program-style2__txt">각질제거</p>
									<p class="program-style2__txt program-style2__highlight">고주파 탄력 관리</p>
									<p class="program-style2__txt">루카스 아로마 분사 (림프배농)</p>
									<p class="program-style2__txt">수분&영양 모델링 마스크</p>
								</div>
							</li>
						</ul>
						<p class="program-style2__noti txt-new1">* 개인의 상태에 따라 관리 프로그램은 변경될 수 있습니다. </p>
					</div>
				</div>
			</div>
			<div class="new-stripe type-elastone">
			    <ul class="new-stripe__list">
			        <li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_1.png" loading="lazy" alt="클랜징" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   클랜징
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    시술 전 얼굴에 묻은 유분, 먼지 등을 깨끗이 씻습니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_2.png" loading="lazy" alt="각질제거" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   각질제거
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    피부장벽기능이 손상되지 않게 각질을 케어합니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_3.png" loading="lazy" alt="림프 배농 마사지" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   림프 배농 마사지
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    수술 부위에 남아있는 림프를 마사지를 통해 체내 배출을 용이하게 하며, 안색을 개선시켜줍니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_4.png" loading="lazy" alt="초음파기기 관리(림프순환)" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   초음파기기 관리(림프순환)
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    초음파기기를 통해 체내에 머물러 있는 림프를 모세혈관과 정맥을 통해 순환될 수 있도록 돕습니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_5.png" loading="lazy" alt="스톤 테라피 (림프순환)" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   스톤 테라피 (림프순환)
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    온열요법을 통해 혈액 및 림프 순환을 원활하게 해 세포조직을 활성화시키고,
								발한 작용으로 체내에 축적된 노폐물을 배출시켜 줍니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_6.png" loading="lazy" alt="고주파 탄력 관리" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   고주파 탄력 관리
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    체내에서 심부열로 변환된 고주파가 콜라겐 층을 자극, 콜라겐과 엘라스틴이 생성되어 피부 탄력을 높여줍니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_7.png" loading="lazy" alt="루카스 아로마 분사 (림프배농)" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   루카스 아로마 분사 (림프배농)
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    아로마 향으로 림프 순환 및 배농을 촉진시켜 안색을 개선시켜주며, 피부를 촉촉하게 해줍니다.
			                </p>
			            </div>
			        </li>
					<li class="new-stripe__item">
			            <div class="new-stripe__wrap">
			                <div class="new-stripe__img">
			                    <img src="../../images/contour/elastone/elastone_step_8.png" loading="lazy" alt="수분&영양 모델링 마스크" class="img-responsive">
			                </div>
			                <h6 class="new-stripe__subject txt-new2">
			                   수분&영양 모델링 마스크
			                </h6>
			                <p class="new-stripe__txt2 txt-new1">
			                    림프 배농을 마친 피부에 모델링 마스크로 수분과 영양을 보충해줍니다.
			                </p>
			            </div>
			        </li>
			    </ul>
			</div><!--new-stripe -->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
