<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="contour-max">
		<div class="new-visual type-max">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">리프팅으로 젊게! 안면윤곽으로 예쁘게!</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-contour2">안면윤곽 +</span><br>
                            탄력실 맥스 리프팅
                        </h3>
						<p class="new-visual__txt">젊어진 얼굴을 담는 예쁜 얼굴형</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#안면윤곽</span></li>
							<li class="new-visual__item"><span>＃실리프팅</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-max">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">두 가지 수술을 동시에</span> 하세요!
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						<span class="weight-medium">안면윤곽 + 탄력실맥스리프팅</span>은<br class="hidden-tm">
						젊어진 얼굴을 담는 예쁜 얼굴형을 만들어 드립니다.
                    </p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/max/max_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-max2">
					<div class="inner-box">
						<div class="process-style5 type-half">
						    <h5 class="new-content-tit tit-new2">
								변하는 <span class="weight-regular">피부</span>, 변함 없는 <span class="weight-regular">뼈</span>
							</h5>

						    <div class="process-style5__wrap">
						        <div class="process-style5__box">
						            <ul class="process-style5__list">
						                <li class="process-style5__item type-subject">
						                    <p class="process-style5__txt txt-new2">
						                        피부
						                    </p>
						                </li>
						                <li class="process-style5__item">
						                    <p class="process-style5__txt txt-new1">
						                        노화로 인한 얼굴 처짐
						                    </p>
						                </li>
						                <li class="process-style5__item">
						                    <p class="process-style5__txt txt-new1">
						                        탄력실 맥스 리프팅
						                    </p>
						                </li>
						                <li class="process-style5__item">
						                    <p class="process-style5__txt txt-new1">
						                        밀착된 피부로 두드러진 얼굴 뼈?
						                    </p>
						                </li>
						            </ul>
						        </div>

						        <div class="process-style5__box">
						            <ul class="process-style5__list">
						                <li class="process-style5__item type-subject">
						                    <p class="process-style5__txt txt-new2">
						                        뼈
						                    </p>
						                </li>
						                <li class="process-style5__item">
						                    <p class="process-style5__txt txt-new1">
						                        변하지 않는 광대뼈와 사각턱
						                    </p>
						                </li>
						                <li class="process-style5__item">
						                    <p class="process-style5__txt txt-new1">
						                        바노바기 안면윤곽
						                    </p>
						                </li>
						                <li class="process-style5__item">
						                    <p class="process-style5__txt txt-new1">
						                        수술 후 얼굴 처짐이 걱정된다면?
						                    </p>
						                </li>
						            </ul>
						        </div>
						    </div>

							<div class="process-style5__merge txt-new2">
								<div class="process-style5__area">바노바기 안면윤곽 + 탄력실 맥스 리프팅</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-max3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">얼굴 처짐 현상</span>은 왜 생기나요?
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						<span class="weight-medium">얼굴 뼈가 줄어들고 위치가 변하면</span> 뼈를 덮고 있는<br class="hidden-tm">
						피부와 근육도 줄어들어야 합니다.
                    </p>
					<div class="inner-circle type-mbig type-contour2">
					    <ul class="inner-circle__list">
					        <li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                뼈의 축소량이<br>
									많은 경우
					            </div>
					        </li>
					        <li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                탄력이 적어<br>
									피부나 근육이<br>
									잘 줄어들지 않는<br>
									경우
					            </div>
					        </li>
					        <li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                얼굴에 지방이<br>
									많은 경우
					            </div>
					        </li>
							<li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                수술 전<br>
									노화로 인해<br>
									처진 경우
					            </div>
					        </li>
					    </ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/max/max_img_2.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-max4">
					<div class="inner-tab type-contour">
						<ul class="inner-tab__list">
							<li class="inner-tab__item is-active">
								<div class="inner-tab__wrap">
									<a href="inner-max" class="inner-tab__link txt-new2">탄력실 맥스 리프팅</a>
								</div>
							</li>
							<li class="inner-tab__item">
								<div class="inner-tab__wrap">
									<a href="inner-contour" class="inner-tab__link txt-new2">바노바기 안면윤곽</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="inner-tab-content inner-max is-active">
						<h5 class="new-content-tit tit-new2">
							장점에 장점을 더한 리프팅
						</h5>
						<div class="improve-style">
							<ul class="improve-style__list">
								<li class="improve-style__item nth-1">
									<div class="improve-style__img">
										<img src="../../images/contour/max/max_img_3.png" class="img-w100" alt="탄력밴드리프팅">
									</div>
									<h6 class="improve-style__tit txt-new2 weight-regular">탄력밴드리프팅</h6>
									<p class="improve-style__txt txt-new2 weight-light">실 리프팅의 비교적 빠른 회복</p>

									<div class="improve-style__box js-height">
										<ul class="improve-style__checklist">
											<li class="improve-style__checkitem txt-new1">일반 리프팅 실과 달리 탄력 있고 부드러운 실</li>
											<li class="improve-style__checkitem txt-new1">시술 후 실제 인대처럼 자연스러운 움직임이 가능</li>
											<li class="improve-style__checkitem txt-new1">두 가지 팁 바늘이 장착되어 큰 절개가 거의 필요 없음</li>
										</ul>
									</div>
								</li>
								<li class="improve-style__item nth-2">
									<div class="improve-style__img">
										<img src="../../images/contour/max/max_img_4.png" class="img-w100" alt="맥스 리프팅">
									</div>
									<h6 class="improve-style__tit txt-new2 weight-regular">맥스 리프팅</h6>
									<p class="improve-style__txt txt-new2 weight-light">맥스 리프팅의 주름 개선 효과</p>

									<div class="improve-style__box js-height">
										<ul class="improve-style__checklist">
											<li class="improve-style__checkitem txt-new1">SMAS층과 피부를 박리하여 효과적인 주름 개선</li>
											<li class="improve-style__checkitem txt-new1">피부와 근육을 끌어당겨 고정해 페이스라인도 올라감</li>
											<li class="improve-style__checkitem txt-new1">고정되고 남은 부분은 잘라내 얼굴 처짐을 개선</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="inner-tab-content inner-contour">
						<div class="img-style7 type-margin-zero type-small">
						    <h5 class="new-content-tit type-txt tit-new2">
						        작은 얼굴, 고운 윤곽을 위한 다양한 방법
						    </h5>
							<p class="img-style7__subtit txt-new2">얼굴이 커 보이는 이유는 복합적입니다.</p>
						    <ul class="img-style7__list">
						        <li class="img-style7__item">
						            <div class="img-style7__img">
						                <img src="../../images/contour/max/max_img_5.png" class="img-w100" alt="1. M 광대 축소술">
						            </div>
						            <div class="img-style7__caption">
						                <h6 class="img-style7__subject txt-new2">
						                    1. M 광대 축소술
						                </h6>
						                <p class="img-style7__txt txt-new1">
						                    어느 각도에서도 작고 예쁜 얼굴형
						                </p>
						            </div>
						        </li>
						        <li class="img-style7__item">
						            <div class="img-style7__img">
						                <img src="../../images/contour/max/max_img_6.png" class="img-w100" alt="2. 긴 곡선 하악 절제술">
						            </div>
						            <div class="img-style7__caption">
						                <h6 class="img-style7__subject txt-new2">
						                    2. 긴 곡선 하악 절제술
						                </h6>
						                <p class="img-style7__txt txt-new1">
						                    각진 사각턱을 V라인으로
						                </p>
						            </div>
						        </li>
						        <li class="img-style7__item">
						            <div class="img-style7__img">
						                <img src="../../images/contour/max/max_img_7.png" class="img-w100" alt="3. 피질 절골술">
						            </div>
						            <div class="img-style7__caption">
						                <h6 class="img-style7__subject txt-new2">
						                    3. 피질 절골술
						                </h6>
						                <p class="img-style7__txt txt-new1">
						                    정면에서 봐도 갸름한 얼굴
						                </p>
						            </div>
						        </li>
								<li class="img-style7__item">
						            <div class="img-style7__img">
						                <img src="../../images/contour/max/max_img_8.png" class="img-w100" alt="4. 협부 지방 절제술">
						            </div>
						            <div class="img-style7__caption">
						                <h6 class="img-style7__subject txt-new2">
						                    4. 협부 지방 절제술
						                </h6>
						                <p class="img-style7__txt txt-new1">
						                    지방까지 지워 라인을 살리는
						                </p>
						            </div>
						        </li>
								<li class="img-style7__item">
						            <div class="img-style7__img">
						                <img src="../../images/contour/max/max_img_9.png" class="img-w100" alt="5. 저작근 축소술">
						            </div>
						            <div class="img-style7__caption">
						                <h6 class="img-style7__subject txt-new2">
						                    5. 저작근 축소술
						                </h6>
						                <p class="img-style7__txt txt-new1">
						                    얼굴 전체 볼륨을 줄여주는
						                </p>
						            </div>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-max5">
					<div class="new-style1__wrap">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							새로운 개념의 <span class="n-color-contour2">안티에이징</span>
						</h4>

						<div class="improve-style2">
							<div class="improve-style2__wrap">
								<div class="improve-style2__circle">
									<div class="improve-style2__outer">
										<div class="improve-style2__inner">
											<div class="improve-style2__vertical">
												<div class="improve-style2__subject txt-new2">
													안면윤곽<br>
													+<br>
													탄력실맥스리프팅
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="improve-style2__box nth-1">
									<div class="improve-style2__area txt-new2 type-left js-height">
										<span class="improve-style2__line">
											<span class="improve-style2__dot"></span>
										</span>
										<div class="improve-style2__txt">탄력 리프팅</div>
									</div>
									<div class="improve-style2__area txt-new2 type-right js-height">
										<span class="improve-style2__line">
											<span class="improve-style2__dot"></span>
										</span>
										<div class="improve-style2__txt">맥스 리프팅</div>
									</div>
								</div>
								<div class="improve-style2__box nth-2">
									<div class="improve-style2__area txt-new2 type-left js-height">
										<span class="improve-style2__line">
											<span class="improve-style2__dot"></span>
										</span>
										<div class="improve-style2__txt">피질 절골술</div>
									</div>
									<div class="improve-style2__area txt-new2 type-right js-height">
										<span class="improve-style2__line">
											<span class="improve-style2__dot"></span>
										</span>
										<div class="improve-style2__txt">긴 곡선 하악 절제술</div>
									</div>
								</div>
								<div class="improve-style2__box nth-3">
									<div class="improve-style2__area txt-new2 type-left js-height">
										<span class="improve-style2__line">
											<span class="improve-style2__dot"></span>
										</span>
										<div class="improve-style2__txt">저작근 축소술</div>
									</div>
									<div class="improve-style2__area txt-new2 type-right js-height">
										<span class="improve-style2__line">
											<span class="improve-style2__dot"></span>
										</span>
										<div class="improve-style2__txt">협부 지방 절제술</div>
									</div>
								</div>
							</div>
						</div>

						<div class="img-style3 type-three-narrow type-contour type-even type-max">
						    <ul class="img-style3__list">
						        <li class="img-style3__item">
						            <div class="img-style3__img">
						                <img src="../../images/contour/max/max_img_10.jpg" alt="STEP 01" class="img-w100">
						            </div>
						            <div class="img-style3__caption txt-new1">
						                장점만을 더한 <span class="weight-bold">리프팅</span>으로<br class="hidden-tm">
										되찾는 젊음
						            </div>
						        </li>
						        <li class="img-style3__item">
						            <div class="img-style3__img">
						                <img src="../../images/contour/max/max_img_11.jpg" alt="STEP 02" class="img-w100">
						            </div>
						            <div class="img-style3__caption txt-new1">
						                젊음에 아름다움을 더하는<br class="hidden-tm">
										<span class="weight-bold">안면윤곽</span>
						            </div>
						        </li>
						        <li class="img-style3__item">
						            <div class="img-style3__img">
						                <img src="../../images/contour/max/max_img_12.jpg" alt="STEP 01" class="img-w100">
						            </div>
						            <div class="img-style3__caption txt-new1">
						                두 수술을 동시에 진행해<br class="hidden-tm">
										<span class="weight-bold">비교적 적은 회복부담</span>
						            </div>
						        </li>
						    </ul>
						</div><!-- //img-style3 -->
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-max6">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">젊음과 아름다움</span>을 동시에 추구합니다
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						<span class="weight-medium">얼굴 처짐 현상은 물론 안티에이징까지 동시에!</span><br class="hidden-tm">
						매력적이고 조화로운 비율에 안티에이징 효과까지 선사합니다.<br class="hidden-tm">
						얼굴 뼈는 기본, 근육과 지방의 배치까지 생각합니다.
                    </p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/max/max_img_13.jpg" loading="lazy" alt="박종림 원장, 오창현 원장, 박신기 원장" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 ~ 2시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 2일 내외</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회 내외</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다. <br>
									실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
									체계적이고 지속적이 후 관리를 통해 통증과 부기를 관리할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div><!--//new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
