<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-front">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">작은 얼굴을 결정짓는 선명한 라인</p>
				<h3 class="content-visual__tit"># <span class="color-contour9">앞턱</span> 수술</h3>
				<p class="content-visual__txt2">얼굴형과 조화를 이루는 <strong>단정한 턱선</strong></p>
			</div>
		</div>
	</div>
	<!-- //visual -->
	<!-- Content Start -->
	<div class="content type-square">
		<div class="content-wrap">
			<div class="content-section type-first">
	            <div class="front-box1">
	                <div class="front-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong>앞턱</strong>은 <strong>얼굴비율</strong>의 <br>
							<strong class="content-highlight2 type-front">기준</strong>이 됩니다.
						</h4>
	                    <p class="content-section__txt1">
							대게 얼굴의 크기를 측정하거나 비율을 따질 때, 이마에서 턱 끝까지의 길이를 기준으로 합니다.<br>
	                        그것은 곧 앞턱의 위치에 따라 얼굴의 전반적인 비율도 달라진다는 말이죠.<br>
	                        그렇다면 <strong>앞턱이 어느 정도가 되어야 이상적인 비율의 얼굴이 되는 것일까요?</strong>
	                        <br><br class="hidden-m">
	                        사람들은 얼굴을 이마에서부터 <strong>미간, 코 밑, 턱 끝</strong>으로 나눴을 때, <strong class="color-contour18">비율이 1:1:0.8 정도</strong>가 되면 이상적인 얼굴이라고 느낍니다.<br class="hidden-m">
	                        여기서 앞턱의 길이가 길어지면 노안이나 억세 보이는 인상을 주게 되고, 반대로 너무 짧아지면 목과 얼굴의 경계가 불분명해져 또렷하지 못한 느낌을 주게 되죠. 또, 턱 끝이 틀어진 경우나 뭉뚝하게 넓은 모양을 한 경우에도 미적으로 불만족을 느끼게 됩니다.
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>따라서 이런 경우에는 앞턱 수술을 통해 더욱 이상적인 얼굴 윤곽을 추구할 수 있습니다.</strong>
	                    </p>
	                    <div class="brace type-front">
							<p class="brace__txt txt-v4">
								얼굴을 <span class="color-contour18">미간, 코 밑, 턱끝</span>으로 나눴을 때 비율이 <span class="color-contour18">1 : 1 :  0.8~0.9</span>로 동일하거나 비슷한 얼굴이 균형 있는 얼굴입니다.
							</p>
						</div>
	                </div>
	                <div class="front-box1__img"></div>
	            </div>
	        </div>

	        <div class="content-section type-margin0">
	            <div class="front-box2">
	                <div class="front-box2__box">
	                    <h4 class="content-section__tit type-center">
	                        <span class="content-section__number">
	                            <span class="content-section__number-wrap">
	                                02
	                            </span>
	                        </span>
	                        앞턱 수술은 <strong class="color-contour19">입체적</strong>으로<br>
	                        <strong>접근</strong>해야 합니다
	                    </h4>
	                    <p class="content-section__txt1">
	                        일반적으로 앞턱 성형을 생각하면 턱의 길이나 V라인과 같은 정면에서의 턱 끝 모양에만 집중하게 되는 경우가 많습니다.<br>
	                        하지만 턱 끝은 보다 입체적인 부위로, 얼굴 측면의 이미지를 결정짓는 중요한 포인트이기도 합니다.<br>
	                        측면에서 이마, 코, 턱 끝의 높낮이가 이상적으로 이루어졌을 때, 보다 매력적인 프로화일을 가질 수 있죠.<br>
	                        또한 앞턱이 적절히 전진되면 목과의 구별이 명확해져 얼굴이 더욱 또렷하고 갸름해 보이는 효과도 있습니다.
	                    </p>
	                    <p class="content-section__txt2">
	                        따라서 <span class="color-contour20">진정한 턱 끝 성형은 정면에서의 길이와 모양은 기본, 측면에서의 입체감까지<br class="hidden-p"> 고려하는 것</span>이라고 할 수 있습니다.
	                    </p>
	                    <div class="front-box2__model">광대 폭 1(기준), 사각턱 폭 0.7, 하안바디 폭 0.4</div>
	                </div>

	                <div class="front-box2__area">
	                    <div class="list-box type-front">
	                        <div class="list-box__box">
	                            <div class="list-box__wrap">
	                                <div class="list-box__vertical">
	                                    <h5 class="list-box__tit tit-v3">
	                                        앞턱 수술 핵심<br class="hidden-m">
	                                        <strong>POINT</strong>
	                                    </h5>
	                                </div>
	                            </div>
	                        </div>
	                        <ol class="list-box__list">
	                            <li class="list-box__item txt-v3">턱 끝으로 모아지는 갸름한 라인</li>
	                            <li class="list-box__item txt-v3">얼굴 비율과 어울리는 적절한 길이</li>
	                            <li class="list-box__item txt-v3">얼굴 측면 높낮이에 조화로운 전진 위치</li>
	                        </ol>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <!-- 탭바  -->
			<div class="content-tab type-front">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<!-- <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-broken">절골 앞턱 수술</a></li> -->
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-implant">보형물 앞턱 교정</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-injection">앞턱 주사시술</a></li>
					</ul>
				</div>
			</div>

			<!-- 탭바 컨텐츠 -->
	        <!-- tab1 : 절골 앞턱 수술 -->
			<div class="content-tab__page page-broken">
				<div class="content-tab__box">
	                <div class="front-box3">
	                        <h4 class="content-section__tit">
	                            <strong>절골을 통한<br class="hidden-pt"> 앞턱 수술,</strong><br>
	                            거의 모든 케이스에 <br class="hidden-pt"><strong class="content-highlight2 type-front">가능</strong>합니다
	                        </h4>
	                        <p class="content-section__txt1">
	                            절골을 통한 앞턱 수술의 가장 큰 장점은 다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것입니다.<br class="hidden-m">
	                            다양한 수술법들이 고안되어, 턱이 길고 돌출된 경우, 짧고 들어간 경우,<br class="hidden-m">
	                            삐뚤거나 라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능하죠.<br>
	                            <strong>또한 뼈 자체의 개선이기 때문에 그 정도가 비교적 심한 경우에도 개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.</strong>
							</p>
	                        <div class="front-type">
	                            <ul class="front-type__list">
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_01.jpg" loading="lazy" alt="턱이 길고 돌출된 얼굴">
	                                        <p class="front-type__caption">
	                                            <span class="color-contour19">턱이 길고</span> 돌출된 얼굴
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_02.jpg" loading="lazy" alt="턱이 짧고 들어간 얼굴">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 짧고</span> 들어간 얼굴</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_03.jpg" loading="lazy" alt="턱이 삐뚤어진 얼굴">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 삐뚤어진</span> 얼굴</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="front-point">
	                            <ul class="front-point__list">
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 전진</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 뼈 후진</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">비대칭 교정</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 단축</p>
	                                    </div>
	                                </li>
	                                <li class="front-point__item">
	                                    <div class="front-point__wrap">
	                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 연장</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>

	                <div class="front-box4">
	                    <h4 class="content-section__tit">
	                        <strong>환자의 상태</strong>에<br class="hidden-pt"> 적합한 방법이<br>
	                        <strong class="color-contour18">가장 좋은 방법</strong>입니다
	                    </h4>
	                    <p class="content-section__txt1">
							앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진, ㅅ 절골, T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-m">
	                        각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 한가지 방법을 모든 환자분들에게 획일화하여 대입할 수는 없습니다.<br>
	                        개개인마다 턱의 상태가 다르고, 추구하는 바 또한 다르기 때문입니다.
						</p>
	                    <p class="content-section__txt2">
	                        <strong>따라서 가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고, <span class="color-contour18">정밀한 진단을 통해 환자 개개인에 적합한 방법을 선택</span>하여 수술하는 것이라고 할 수 있습니다. </strong>
	                    </p>

	                    <div class="front-case">
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 길거나<br>돌출되었을 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">ㅅ자 절골</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">T자 절골</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 짧거나<br>들어간 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 전진</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 + 뼈 이식</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box5">
	                        <h4 class="content-section__tit">
	                            <strong>바노바기<br class="hidden-pt"> 운곽 성형 전문팀</strong>의<br>
	                            <strong class="color-contour21">절골 앞턱 수술</strong>은
	                            <strong class="content-highlight2 type-front type-alpha">효과적</strong>입니다
	                        </h4>
	                        <p class="content-section__txt1">
								바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다.<br>
	                            수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로, 다양한 학술 교류와 연구로 체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
							</p>
	                        <p class="content-section__txt2">
								또한 안면 근육과 지방, 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술하기 때문에 앞턱 수술 후 생길 수 있는<br class="hidden-t">
	                            조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
							</p>

	                        <div class="front-box5__doctor-img">
	                            <img src="../../images/contour/front/front_doctor_01_m.png" loading="lazy" alt="">
	                        </div>
	                        <div class="front-box5__doctor">
	                            <div class="front-box5__name nth-1">
	                                성형외과전문의
	                                <strong>오창현 원장</strong>
	                            </div>
	                            <div class="front-box5__name nth-2">
	                                성형외과전문의
	                                <strong>박종림 원장</strong>
	                            </div>
	                        </div>
	                    </div>

	                <div class="front-box6">
	                    <ul class="front-box6__list">
	                        <li class="front-box6__item nth-1">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            심도 있는 상담과 장비를 통한 정밀 진단
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-2">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            오랜 경험과 노하우로<br class="hidden-pm"> 맞춤 수술 가능
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-3">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            얼굴 각 층에 대한 이해로 처짐없는<br class="hidden-pm"> 윤곽 추구
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>

	                <div class="front-box__wrap">
	                    <div class="front-box7">
	                            <div class="content-section__box w-6">
	                                <h3 class="content-section__tit">
	                                    <span class="content-highlight2 type-front type-sky">한 번의 수술</span>로<br class="hidden-t">
	                                    개선하는 것이 <br class="hidden-t"> <strong>효과적입니다.</strong>
	                                </h3>
	                                <p class="content-section__txt1">
	                                    흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다.<br class="hidden-tm">
	                                    사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 앞 턱이 고민이라면<br class="hidden-tm">
	                                    턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 식이죠.<br class="hidden-tm">
	                                    하지만 실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다. 또한 입체적이죠.<br class="hidden-pm">
	                                    <span class="content-highlight type-contour">그래서 앞턱 수술은 옆 턱과 앞 턱을 한 번에 진행하는 것이 좋습니다.</span>
	                                    그래야만 비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다.
	                                </p>
	                            </div>
	                            <div class="front-box7__img">앞턱 이미지</div>
	                        </div>

	                    <div class="front-box8">
	                            <ul class="front-box8__list">
	                                <li class="front-box8__item">
	                                    <img src="../../images/contour/front/front_img_06.jpg" loading="lazy" alt="" class="hidden-tm">
	                                    <img src="../../images/contour/front/front_img_06_t.jpg" loading="lazy" alt="" class="hidden-p">
	                                </li>
	                                <li class="front-box8__item">
	                                    <img src="../../images/contour/front/front_img_07.jpg" loading="lazy" alt="" class="hidden-tm">
	                                    <img src="../../images/contour/front/front_img_07_t.jpg" loading="lazy" alt="" class="hidden-p">
	                                </li>
	                            </ul>
	                            <p class="front-box8__txt1">
	                                물론 이런 수술 방법은 단순하지도, 쉽지도 않습니다.<br>
	                                환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 생각하며 진행해야 하니까요.
	                            </p>
	                            <p class="front-box8__txt2">
	                                자연스럽고 아름다운 앞턱 수술,<br class="hidden-pt"> <span class="color-contour18">정밀한 계측과 숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
	          						바노바기 윤곽 성형 전담팀</span> 이기에 가능합니다.
	                            </p>
	                        </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">바노바기 절골 앞턱 수술은 회복이 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 1시간</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">전신마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 2회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
											마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
											부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>

	            </div>
			</div>

	        <!-- tab2 : 보형물 앞턱 교정 -->
			<div class="content-tab__page page-implant is-active">
				<div class="content-tab__box">
	                <div class="front-box9">
	                        <h4 class="content-section__tit">
	                            <strong>특정한 경우,</strong><br>
	                            보형물 앞턱 교정도 <strong class="content-highlight2 type-front">가능</strong>합니다
	                        </h4>
	                        <p class="content-section__txt1">
	                            절골 수술에 대한 거부감이 크거나 진단 결과 굳이 절골이 필요하지 않은 정도라고 판단된다면, 보형물 앞턱 교정도 좋은 방법이 될 수 있습니다.<br>
	                            보형물 앞턱 교정이란
	                            <span class="content-section__info pop-info">
	                                <a href="" class="info-btn js-info type-front">
	                                    <span class="info-btn__icon type-design">인포버튼</span>
	                                    실리콘, 고어텍스
	                                    <span class="info-desc type-design" style="display: none;">
	                                        <span class="info-desc__item">
	                                            <span class="info-desc__box">
	                                                <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>실리콘, 고어텍스</strong>란?<br class="hidden-tm"></span>
	                                                <span class="info-desc__content">
	                                                    <img src="../../images/contour/front/front_img_02.jpg" loading="lazy" alt="실리콘, 고어텍스 이미지" class="info-desc__thumb">
	                                                    <span class="info-desc__txt1">
	                                                        오랜 임상을 통해 비교적 인체에 안전하다고 알려진 재료입니다. 필요한 부분에 맞는 모양으로 다듬기에 용이하며 오랜 시간 변형이나 파손의 위험이 적다는 장점이 있습니다.
	                                                     </span>
	                                                </span>
	                                            </span>
	                                            <button class="info-desc__btn js-close">
	                                                <span class="info-desc__stick type-left"></span>
	                                                <span class="info-desc__stick type-another"></span>
	                                                닫기
	                                            </button>
	                                        </span>
	                                    </span>
	                                </a>
	                            </span>
	                            와 같은 보형물을 삽입하여 이상적인 턱 모양을 만들어주는 것을 말합니다.<br class="hidden-tm">
	                            턱의 부족한 길이를 보충하거나 전진시키는 원리이기 때문에 턱이 길거나 돌출된 턱에 대한 교정은 불가능하지만,<br class="hidden-tm">
	                            턱의 길이가 약간 짧거나 들어간 경우라면 부족한 입체감을 채우기에 효과적인 방법이 될 수 있습니다.
							</p>
	                        <div class="front-type">
	                            <ul class="front-type__list">
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_04.jpg" loading="lazy" alt="턱이 짧은 경우">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 짧은</span> 경우</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_05.jpg" loading="lazy" alt="턱이 들어가 입이 나와보이는 경우">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 들어가</span> 입이 나와보이는 경우</p>
	                                    </div>
	                                </li>
	                                <li class="front-type__item">
	                                    <div class="front-type__img">
	                                        <img src="../../images/contour/front/front_type_img_06.jpg" loading="lazy" alt="턱이 작아 이중턱 현상이 생긴 경우">
	                                        <p class="front-type__caption"><span class="color-contour19">턱이 작아</span> 이중턱 현상이 생긴 경우</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="front-box9__box">
	                            <div class="brace type-front type-another">
	    							<p class="brace__txt txt-v4">
	    								턱이 작으면 목과 얼굴의 경계도 불분명하게 보입니다!<br>
	                                    <span class="color-contour18">또렷한 윤곽라인이 돋보이는 예쁜 턱으로 바꿔보세요!</span>
	    							</p>
	    						</div>
	                        </div>
	                    </div>

	                <div class="front-box10">
	                    <h4 class="content-section__tit">
	                        조건만 <strong>맞는다면</strong><br>
	                        장점이 <strong class="content-highlight type-front">굉장히<br class="hidden-pt">
	                        많은 수술</strong>입니다
	                    </h4>
	                    <p class="content-section__txt1">
							보형물 앞턱 교정의 가장 큰 장점은 절골을 통한 앞턱 수술에 비해 부담이 적다는 것입니다.<br>
	                        턱뼈 형태에 맞게 다듬어진 보형물을 삽입하기만 하면 되는 비교적 간편한 방법의 수술이기 때문에 수술 시간이 짧고 회복 또한 비교적 빠릅니다.
						</p>
	                    <p class="content-section__txt2">
							또한 <span class="color-contour18">보형물 삽입 시</span>에도 입술 안쪽을 절개하여 <span class="color-contour18">흉터에 대한 걱정이 적고 원하는 턱의 모양에 맞도록 보형물의 형태를 조절</span>할 수 있기 때문에 결과 또한 굉장히 만족스럽습니다.
						</p>
	                </div>

	                <div class="front-box11">
	                    <ol class="front-box11__list">
	                        <li class="front-box11__item nth-1">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">절개</h5>
	                                <p class="front-box11__txt">입술 안쪽을 약 1cm 1~2곳 정도 절개합니다.</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-2">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">보형물 삽입</h5>
	                                <p class="front-box11__txt">본인의 뼈 형태에 맞게 다듬은 보형물을 넣습니다.</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-3">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h5 class="front-box11__tit">봉합</h5>
	                                <p class="front-box11__txt">보형물을 안전한 위치에 고정한 다음 봉합합니다.</p>
	                            </div>
	                        </li>
	                    </ol>
	                </div>

	                <div class="front-box12">
	                    <div class="front-box12__wrap">
	                        <div class="front-box12__box">
	                            <div class="front-box12__tit">
	                                <h4 class="content-section__tit">
	            						<strong>나에게 딱 맞는</strong><br>
	                                    <strong><span class="content-highlight2 type-front type-gray">보형물</span>로<br class="hidden-pt"> 예쁜 턱 모양</strong>과<br>
	                                    <strong><span class="content-highlight2 type-front type-gray">선명한 윤곽라인</span></strong>까지!
	            					</h4>
	                            </div>
	                        </div>

	                        <div class="front-box12__box2">
	                            <div class="front-box12__list-wrap">
	                                <ul class="front-box12__list">
	                                    <li class="front-box12__item nth-1">
	                                        <p class="front-box12__txt">
	                                            입안 절개로<br>
	                                            겉으로<br>
	                                            <strong class="color-contour22">보이지 않는 흉터</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-2">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">국소마취</strong>로도<br>
	                                            가능한 수술
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-3">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">약 30분 정도</strong>의<br>
	                                            짧은 시간
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-4">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">다양한 형태</strong>와<br>
	                                            크기의 <strong class="color-contour22">보형물</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-5">
	                                        <p class="front-box12__txt">
	                                            수술 후<br>
	                                            <strong class="color-contour22">당일 퇴원</strong><br>
	                                            가능
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-6">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">절골 없이</strong>도<br>
	                                            아름다운<br>
	                                            변화
	                                        </p>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">바노바기 보형물 앞턱 교정은 회복이 비교적 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 30분</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">부분마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일 귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 2회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 2){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
											마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
											부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
			</div>

	        <!-- tab3 : 앞턱 주사시술-->
	        <div class="content-tab__page page-injection">
				<div class="content-tab__box type-margin0">
					<div class="front-box13">
	                    <div class="front-box13__wrap">
	                        <div class="front-box13__box">
	                            <div class="front-box13__tit">
	                                <h4 class="content-section__tit">
	            						<strong>정밀하고</strong><br>
	                                    <strong>미세한 변화</strong>가 필요하다면<br>
	                                    <strong><span class="content-highlight2 type-front type-dark">앞턱주사시술</span></strong>도 <strong>가능</strong>합니다
	            					</h4>
	                                <p class="content-section__txt1">
	        							뼈 절골이 부담스럽고 보형물 삽입 또한 꺼려진다면 앞턱 주사시술을 통해 약간의 볼륨감을 줄 수도 있습니다.<br>
	                                    뼈가 아닌 피부 아래층에 자가지방이나 필러를 주입하여 부족한 볼륨은 채워 주는 것이죠.
	        						</p>
	                                <p class="content-section__txt2">
	        							이 방법은 뼈 절골이나 보형물 삽입만큼의 효과는 없지만 앞턱에 약간의 볼륨감이 필요한 경우, 비교적 간편한 방법으로 앞턱의 모양을 잡아줄 수 있다는 장점이 있습니다.
	        						</p>
	                            </div>
	                        </div>

	                        <div class="front-box13__box2">
	                            <div class="front-box13__list-wrap">
	                            <ul class="front-box13__list">
	                                <li class="front-box13__item nth-1">
	                                    <div class="front-box13__img">
	                                        <p class="front-box13__caption">자가지방세포 이식</p>
	                                    </div>
	                                    <div class="front-box13__area">
	                                        <ul class="front-box13__list2">
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">허벅지나 복부 등에서 지방 채취</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">원심분리기를 이용해 지방세포 분리</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">턱에 골고루 주입하려 높은 세포 생착률</p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </li>
	                                <li class="front-box13__item nth-2">
	                                    <div class="front-box13__img">
	                                        <p class="front-box13__caption">아테콜 / 일반필러</p>
	                                    </div>
	                                    <div class="front-box13__area">
	                                        <ul class="front-box13__list2">
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">시술 전 마취크림 사용으로 적은 통증</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">미세한 바늘을 사용한 주사로 예쁜 형태</p>
	                                            </li>
	                                            <li class="front-box13__item2">
	                                                <p class="front-box13__txt">반영구 필러인 아테콜 시술이 적합</p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
	    </div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
