<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
        <div class="content-wrap">
			<div class="content-section type-season1">
                <div class="season1-box">
                    <img src="../../images/contour/elastic/elastic_visual_img.jpg" loading="lazy" alt="">
                    <img src="../../images/contour/elastic/elastic_img_01.jpg" loading="lazy" alt="">
                </div>
            </div>
        </div>
    </div>

    <% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
