<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-slimface">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-slimface">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">뼈 절골에 대한 부담을 줄이고 보다 간편하게</p>
						<h3 class="new-visual__tit">얼굴살<span class="n-color-contour2">제거</span></h3>
						<p class="new-visual__txt">얼굴 각 층 조직에 대한 이해를 바탕으로 개선하는 얼굴형</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#아큐스컬프</span></li>
							<li class="new-visual__item"><span>#심부볼교정</span></li>
							<li class="new-visual__item"><span>#교근축소술</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-slimface">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						안면윤곽 성형, <span class="n-color-contour2">절골만이 정답은 아닙니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						일반적으로 안면윤곽 성형이라고 하면 얼굴뼈를 절골하는 수술만을 생각하기 쉽습니다.<br class="hidden-tm">
						하지만 꼭 얼굴뼈를 절골하는 방법이 아니더라도 얼굴형을 개선할 수 있는 방법은 다양합니다.<br class="hidden-tm">
						<span class="color-black1">얼굴은 뼈 외에도 피부, 지방, 근육 등 다양한 연부 조직의 발달 정도에 따라 그 형태가 결정되기 때문입니다.</span><br class="hidden-tm">
						만약 얼굴뼈 자체의 문제보다 연부 조직의 돌출이나 처짐으로 인해 얼굴형 고민을 안고 있는 경우라면<br class="hidden-tm">
						이 연부 조직들을 추구하는 방향에 맞게 교정해 주어야 보다 만족스러운 윤곽 성형이 될 수 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 안면윤곽 성형은 절골을 통한 수술뿐만 아니라<br class="hidden-tm">
						<span class="n-color-contour2">연부 조직들에 대한 교정 또한 중요</span>하며, 보다 효과적인 얼굴형 개선을 위해 필요한 경우에는<br class="hidden-tm">
						얼굴 뼈 절골과 연부 조직 교정을 함께 진행할 수도 있어야 합니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/slimface/slimface_img_1.png" loading="lazy" alt="얼굴뼈, 연부조직" class="img-normal"/>
					</div>
				</div>
				<div class="new-style1 type-slimface2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style3 type-contour">
                            <h5 class="new-content-tit tit-new2">
                                얼굴형을 결정짓는 <span class="inline-block">다양한 요소들</span>
                            </h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_2.jpg" loading="lazy" alt="얼굴뼈" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										얼굴뼈
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_3.jpg" loading="lazy" alt="피부" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										피부
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_4.jpg" loading="lazy" alt="근육" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										근육
									</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/contour/slimface/slimface_img_5.jpg" loading="lazy" alt="세포자연사(apoptosis) 과정을 통해 자연적으로 지방세포 파괴" class="img-w100">
                                    </div>
									<p class="img-style3__txt txt-new1">
										지방
									</p>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
				<div class="new-style1 type-slimface3 type-bottom">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">보다 정확한 진단과 수술</span>로<br>
							더욱 효과적입니다
						</h4>
					 	<p class="new-style1__txt txt-new1">
					 		연부 조직 개선을 통한 윤곽 성형의 장점은 얼굴뼈를 절골하는 수술에 비해 부담이 적다는 것입니다.<br class="hidden-tm">
							비교적 적은 절개와 박리로 진행되어 통증이나 흉터에 대한 걱정이 거의 없고, 뼈를 절골하지 않아 회복에 필요한 시간 또한 비교적 짧죠.<br class="hidden-tm">
							<span class="color-white">때문에 개개인의 상태를 정확히 파악하여 단점을 개선할 수 있는 적합한 방법을 선택할 수 있다면<br class="hidden-tm">
								연부 조직 교정으로도 보다 효율적이고 효과적인 윤곽 성형 결과를 기대할 수 있습니다.</span>
					 	</p>
					 	<p class="new-style1__txt2 txt-new2">
					 		바노바기는 오랜 경험과 노하우를 갖춘  <span class="n-color-contour3">윤곽 성형 전담팀이 운영</span>되어 얼굴살 제거를 진행합니다.
					 	</p>
						<div class="inner-circle type-contour3 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										심도 있는<br> 상담으로<br> 개선 방법 설정
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										다양한<br> 전문 장비를<br> 통한 분석
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										오랜 경험과<br> 노하우를 통한<br> 개선 기술
									</div>
								</li>
						 	</ul>
						</div>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/contour/slimface/slimface_img_6.jpg" class="img-normal" loading="lazy" alt="">
					</div>
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">바노바기 윤곽 성형 전문의</h5>
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/contour/slimface/slimface_img_7.jpg" class="img-w100" loading="lazy" alt="">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
	                <div class="new-style1 type-bottom type-slimface4">
	                    <h4 class="new-style1__tit tit-new1 weight-regular">
	                        <span class="n-color-contour2">연부 조직 교정</span>으로 추구하는 매력적인 얼굴형,
							<span class="inline-block">바노바기 얼굴살 제거</span>
	                    </h4>
						<div class="new-style1__img">
							<img src="../../images/contour/slimface/slimface_img_8.jpg" loading="lazy" alt="바노바기 성형외과 얼굴살제거 성형모델" class="img-normal">
						</div>
	                    <div class="inner-box">
							<div class="img-style7 type-margin-zero">
								<ul class="img-style7__list">
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_9.png" class="img-w100" loading="lazy" alt="기술과 노하우를 갖춘 바노바기 동안 성형 전문팀">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												과하게 발달한 근육으로 인한 <span class="inline-block">얼굴형 고민</span>
											</h5>
											<p class="img-style7__txt txt-new2">
												교근 축소술
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_10.png" class="img-w100" loading="lazy" alt="내시경을 통한 보다 정밀한 박리">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												얼굴 깊숙히 자리 잡은 지방으로 인한 <span class="inline-block">얼굴형 고민</span>
											</h5>
											<p class="img-style7__txt txt-new2">
												심부볼 교정술
											</p>
										</div>
									</li>
									<li class="img-style7__item">
										<div class="img-style7__img">
											<img src="../../images/contour/slimface/slimface_img_11.png" class="img-w100" loading="lazy" alt="엔도타인 고정">
										</div>
										<div class="img-style7__caption">
											<h5 class="img-style7__subject txt-new1">
												표층 지방과 피부 처짐으로 인한
												<span class="inline-block">얼굴형 고민</span>
											</h5>
											<p class="img-style7__txt txt-new2">
												아큐스컬프
											</p>
										</div>
									</li>
								</ul>
							</div>
	                    </div>
	                </div>
	            </div>
				<div class="new-tab__line">line</div>
				<div class="new-tab type-contour">
					<div class="new-tab__tit">
						<div class="new-tab__wrap">
							<a href="" class="new-tab__btn">탄력밴드 리프팅 (절개)</a>
						</div>
					</div>
					<ul class="new-tab__list">
						<li class="new-tab__item is-active">
							<div class="new-tab__wrap">
								<a href="page-acusculf" class="new-tab__link">아큐스컬프</a>
							</div>
						</li>
						<li class="new-tab__item">
							<div class="new-tab__wrap">
								<a href="page-cheek" class="new-tab__link">심부볼 교정</a>
							</div>
						</li>
						<li class="new-tab__item">
							<div class="new-tab__wrap">
								<a href="page-masticator" class="new-tab__link">교근 축소술</a>
							</div>
						</li>
					</ul>
				</div><!-- //new-tab-->
				<div class="new-tab-content page-acusculf is-active">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									아큐스컬프는 <span class="n-color-contour2">윤곽을 정리함과 동시에<br class="hidden-tm">
									피부의 탄력</span> 또한 더해줍니다
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		얼굴 윤곽을 모호하게 만드는 이중턱이나 광대 처짐 등의 증상은 얼굴 피부 아래의 표층 지방으로 인해 발생하게 됩니다.<br class="hidden-tm">
									늘어난 지방과 함께 피부가 처지면서 굴곡진 얼굴을 만들고 팔자주름과 같은 각종 주름까지 유발하죠.
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		바노바기는 이러한 처짐을 개선하기 위해 <span class="n-color-contour2">지방을 줄이면서도<br class="hidden-tm"> 피부의 탄력을 높여줄 수 있는 아큐스컬프를 사용</span>합니다.
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		아큐스컬프는 레이저를 이용한 지방 흡입 장비로, 보다 부드럽고 정교한 시술이 가능하여 세밀한 얼굴형 개선에 보다 효과적입니다.<br class="hidden-tm">
									피부 아래의 지방을 선택적으로 녹여 흡입하기 때문에 출혈이나 조직의 자극 거의 없이 비교적 안전하죠.<br class="hidden-tm">
									또, 콜라겐을 자극하여 피부의 탄력을 증가시키는 효과가 있기 때문에<br class="hidden-tm">
									시술 후 매끈하고 또렷한 얼굴 윤곽뿐만 아니라 주름 개선에도 효과적이라는 장점이 있습니다.
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												보다 세밀한<br> 얼굴형 개선
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												비교적 부드럽고<br> 간편한 시술
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												피부 탄력 증가
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												얼굴 거의<br>
												모든 부위<br>
												개선 가능
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_12.jpg" class="img-normal" loading="lazy" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">시술정보</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">시술시간</h5>
												<p class="operation-v2__txt txt-new1">시술 부위나 범위에 따라 약 30분~1시간</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">정맥마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 치료 및 1개월 경과 체크</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											약간의 이물감과 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											입 안 절개를 통해 진행되어 흉터가 거의 보이지 않습니다.<br>
											입 안의 절개 부위 회복을 위해 수술 후 약 2~3일 동안은 뜨겁거나 자극적인 음식은 피하는 게 좋습니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
				<div class="new-tab-content page-cheek">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									심부볼의 지방을 줄여 <span class="n-color-contour2">보다 직접적으로<br class="hidden-tm">
									갸름한 얼굴형을 추구</span>합니다
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		심부볼이란 뺨 깊숙한 곳에 지방이 축적되어 발달하는 부위로, 흔히 심술보라고도 표현합니다.<br class="hidden-tm">
									이 심술보가 발달된 얼굴은 부정적인 인상을 주기 쉬우며 양 볼이 튀어나와 얼굴이 커 보이거나 갸름하지 못한 얼굴형을 만들게 되죠.<br class="hidden-tm">
									이런 경우 일반적인 다이어트나 지방 흡입을 통해서는 큰 개선 효과를 기대하기 어렵기 때문에<br class="hidden-tm">
									<span class="color-black1">심부볼 교정술을 통해 보다 직접적인 방법으로 심부볼 지방의 크기를 줄여 주어야 합니다.</span>
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		심부볼 교정은 심부볼에 위치한 지방 자체를 줄여주는 수술입니다.<br class="hidden-tm">
									그래서 <span class="n-color-contour2">보다 빠르게 갸름한 얼굴형으로의 개선이 가능하다는 장점</span>이 있죠.
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		또, 약 1cm 내외의 비교적 적은 절개로 진행되며 절개 자체가 입 안쪽으로 이루어지기 때문에,<br class="hidden-tm">
									회복이 비교적 빠르고 흉터가 보일 염려가 거의 없다는 장점도 있습니다.
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												더욱 갸름하고<br> 세련된 얼굴형으로의<br> 개선
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												보다 직접적이고<br> 반영구적인 효과
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												약 1cm의<br>
												비교적 적은<br>
												절개로 흉터 걱정<br>
												거의 없음
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												비교적 짧은<br>
												시술 시간,<br>
												당일 일상생활 가능
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_13.jpg" class="img-normal" loading="lazy" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 20분~30분</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">정맥마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 1회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											약간의 이물감과 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											입 안 절개를 통해 진행되어 흉터가 거의 보이지 않습니다.<br>
											입 안의 절개 부위 회복을 위해 수술 후 약 2~3일 동안은 뜨겁거나 자극적인 음식은 피하는 게 좋습니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
				<div class="new-tab-content page-masticator">
					<div class="new-section">
						<div class="new-style1 type-slimface5">
							<div class="new-style1__wrap">
							 	<h4 class="new-style1__tit tit-new1 weight-regular">
									교근은 넓게 발달한 턱뼈만큼이나<br class="hidden-tm">
									<span class="n-color-contour2">사각턱에 영향을 줍니다</span>
								</h4>
							 	<p class="new-style1__txt txt-new1">
							 		교근이란 음식물을 씹을 때 중요한 역할을 하는 근육으로 턱의 양 끝에 존재합니다.<br class="hidden-tm">
									어금니를 강하게 깨물었을 때 턱 양 끝을 만져보면 교근이 단단해지는 것을 느낄 수 있죠.<br class="hidden-tm">
									하지만 이 교근이 과하게 발달하게 되면 흔히 말하는 사각턱이 되기 쉽고 <span class="color-black1">심한 경우에는 턱관절 질환이나 이갈이의<br class="hidden-tm">
										원인이 되기 때문에, 보톡스나 교근축소술을 통해 교근의 크기를 줄여주는 것이 좋습니다.</span>
							 	</p>
							 	<p class="new-style1__txt2 txt-new2">
							 		바노바기는 환자 개개인의 <span class="n-color-contour2">교근 발달 상태에 따라 보톡스 또는 교근축소술을 적절히 선택</span>합니다.
							 	</p>
								<p class="new-style1__txt2 txt-new1">
							 		특히 교근축소술은 효과가 일시적이고 내성의 가능성이 있는 보톡스에 비해 그 효과가 반영구적으로 지속되며,<br class="hidden-tm">
									수술 자체도 당일부터 일상생활이 가능할 정도로 간편하기 때문에 보다 적은 부담으로 사각턱 개선이 가능합니다.
							 	</p>
								<div class="inner-circle type-contour3 type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												더욱 갸름하고<br> 세련된 얼굴형으로의<br> 개선
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												보다 직접적이고<br> 반영구적인 효과
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												이갈이나<br> 턱관절 질환 개선에<br> 효과적
											</div>
										</li>
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												비교적 짧은<br>
												시술 시간,<br>
												당일 일상생활 가능
											</div>
										</li>
								 	</ul>
								</div>
							</div>
							 <div class="new-style1__img">
							 	<img src="../../images/contour/slimface/slimface_img_14.jpg" class="img-normal" loading="lazy" alt="">
							</div>
						</div>
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour type-four">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 30분</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">전신마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 1회</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											약간의 이물감과 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
											부기에는 냉찜질이 도움이 됩니다.<br>
											입 안 절개를 통해 진행되어 흉터가 거의 보이지 않습니다.<br>
											입 안의 절개 부위 회복을 위해 수술 후 약 2~3일 동안은 뜨겁거나 자극적인 음식은 피하는 게 좋습니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
				<div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>
						<ul class="bg-style2__list">
							<li class="bg-style2__item type-cheek">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">광대 수술</h5>
										<p class="bg-style2__txt txt-new1">
											광대가 함께 발달한 경우라면 광대 수술을 함께 시행하여<br class="hidden-tm">
											갸름한 턱 선에 어울리는 얼굴형을 추구할 수 있습니다.
										</p>
										<a href="contourCheek.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>광대 수술 바로가기</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-front">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">앞턱 수술</h5>
										<p class="bg-style2__txt txt-new1">
											앞턱 수술을 통해 조금 더 명확한 얼굴 윤곽을 <br class="hidden-tm">
											기대할 수 있습니다.
										</p>
										<a href="contourFrontCheek.php" class="bg-style2__btn txt-new1">
											<span>앞턱 수술 바로가기</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
