<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-brow">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-brow">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">이상적인 비율과 곡선의 조화</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">이마</span>성형</h3>
						<p class="new-visual__txt">다양한 스타일을 자신 있게</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#볼륨감</span></li>
							<li class="new-visual__item"><span>#작은얼굴</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-tab__line">line</div>
			<div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">탄력밴드 리프팅 (절개)</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-volume" class="new-tab__link">이마 볼륨성형</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-reduction" class="new-tab__link">이마축소술</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-volume is-active">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							밋밋하고 꺼진 이마,  <span class="n-color-contour2">볼륨이 필요</span>합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							이마는 얼굴 면적의 1/3가량을 차지하며 <span class="color-black1">개인의 프로화일 이미지를 좌우하는데 큰 영향을 끼치는 부위</span>입니다.<br class="hidden-tm">
							측면에서 봤을 때 미간, 코, 입, 턱 끝의 높이와 어우러지는 볼륨감을 가지고, 굴곡 없이 매끈한 곡선을 가진 이마를 이상적인 모양으로 보죠.<br class="hidden-tm">
							만약 이마가 곡선 없이 평평하거나 오히려 움푹 들어간 경우, 또는 눈썹 뼈가 발달되어 이마가 상대적으로 들어가 보이는 경우에는<br class="hidden-tm">
							남성적이고 강해 보이는 인상을 주며, 그 콤플렉스로 인해 화장이나 헤어 스타일링에도 한계가 생기게 됩니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							이마 볼륨은 <span class="n-color-contour2">개인의 프로화일을 좌우</span>합니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_1.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_1_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">대표적인 이마 보형물 삽입술 케이스</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_2.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">옆에서 봤을 때 이마가 평평하거나 이마 일부가<br class="hidden-tm"> 함몰되어 움푹 들어갔을 경우</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_3.jpg" class="img-w100" loading="lazy" alt=""/>
										<p class="img-style1__subject txt-new1">눈썹 뼈가 지나치게 발달되어<br class="hidden-tm"> 강하고 남성적인 인상을 주는 경우</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							주사시술을 통해 <span class="n-color-contour2">보다 정밀하게</span><br class="hidden-tm">
							채워줄 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							기본적으로 이마 보형물이 필요하지 않을 정도의 이마 상태, 또는 보형물 삽입 후 약간의 볼륨을 더 원할 경우에는 <br class="hidden-tm">
							지방이식이나 필러와 같은 주사시술을 통해 이마를 개선해줄 수 있습니다.<br class="hidden-tm">
							주사시술은 비교적 간편한 방법이기 때문에 <span class="color-black1">부담이 줄어들며, 보다 정밀하고 미세한 볼륨을 주기에 효과적인 방법</span>입니다.
						</p>
						<div class="inner-box type-w">
							<div class="img-style1">
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_4.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">자가지방세포 이식</h5>
										<p class="img-style1__caption txt-new1">
											허벅지나 복부 등에서 지방을 채취하여 원심분리기를<br class="hidden-tm">
											이용해 지방세포를 분리합니다.<br class="hidden-tm">
											분리한 지방세포를 턱에 골고루 주입합니다.
										</p>
										<a href="../svf/svfTransplant.php" class="content-btn txt-new1"><span>지방이식페이지 바로가기</span></a>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_5.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">아테콜 / 일반 필러</h5>
										<p class="img-style1__caption txt-new1">
											시술 전 마취크림 사용으로 적은 통증<br class="hidden-tm">
											미세한 바늘을 사용한 주사로 예쁜 형태<br class="hidden-tm">
											반영구 필러인 아테콜 시술이 적합
										</p>
										<a href="../../special/specialDetail.php" class="content-btn txt-new1"><span>필러페이지 바로가기</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="inner-box type-brow">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">
									바노바기의 오랜 윤곽 성형 경험을<br class="hidden-tm">
									바탕으로 선택한 필러시술
								</h5>
								<div class="inner-circle type-contour type-mbig type-cling">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												보형물을<br>
												대신하여 이마,<br>
												헤어라인 교정
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												수술에 대한<br>
												부담감이 있으신<br>
												분들에게 적합
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												필러 시술을 통해<br>
												비교적 간편하게<br>
												볼륨감을 얻을 수<br>
												있음
											</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-mt">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_6.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">윤곽 성형 전담팀 운영</h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">개개인에 맞는 보형물 사용</span>으로<br class="hidden-tm"> 만족감을 더합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							주사시술만으로는 그 효과에 한계가 있는 경우를 위해 고안된 것이 바로 이마 보형물 삽입술입니다.<br class="hidden-tm">
							현재 이마의 상태를 면밀히 확인한 후, 실리콘을 이용해 이상적인 형태의 보형물을 제작하여 이마 골막 아래에 삽입하는 것이죠.<br class="hidden-tm">
							이 방법은 <span class="color-white">수술이 비교적 간편하면서도 개개인에 맞는 디자인이 가능하여 보다 변화량이 크고 만족도가 높다는 장점</span>이 있습니다.<br class="hidden-tm">
							이후 필요한 경우에는 지방이식술 혹은 필러 시술과 같은 주사시술을 병행하여 더욱 정밀한 이마라인 개선을 추구할 수도 있습니다
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_7.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_7_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">이마 보형물 삽입술 순서</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_8.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 01</h6>
										<p class="img-style1__caption txt-new1">수술 전 이마 상태를 확인하고<br class="hidden-tm"> 이마 형태 그대로 본을 뜹니다.</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_9.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 02</h6>
										<p class="img-style1__caption txt-new1">실리콘을 이용해 이마 상태에 맞으면서도 추구하는 이마<br class="hidden-tm"> 모양에 적합한 보형물을 제작합니다.</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_10.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 03</h6>
										<p class="img-style1__caption txt-new1">헤어라인으로부터 약 4~5cm 뒤쪽을 절개하여<br class="hidden-tm"> 보형물을 골막 아래에 삽입합니다.</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_11.jpg" class="img-w100" loading="lazy" alt=""/>
										<h6 class="img-style1__subject txt-new2">STEP. 04</h6>
										<p class="img-style1__caption txt-new1">자연스러운 볼륨과 굴곡이<br class="hidden-tm"> 형성되도록 보형물을 밀착시킵니다.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							실리콘 보형물은 <span class="n-color-contour3">안전성과<br class="hidden-tm"> 자연스러움에 장점</span>이 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							우리의 이마가 딱딱하다고 해서 보형물 또한 반드시 인조 뼈를 사용해야 하는 것은 아닙니다. <br class="hidden-tm">
							오히려 딱딱한 인조 뼈를 사용하게 될 경우 외부 충격에 의한 파손 가능성이 높아지며 <br class="hidden-tm">
							모양이 고정적이기 때문에 결과가 부자연스럽다는 단점이 있죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 오랜 경험을 통해 실리콘 보형물이 이마 성형에 더욱 적합하다고 판단했습니다.
						</p>
						<p class="new-style1__txt txt-new1">
							실리콘을 개개인에 맞게 맞춤 제작하여 삽입하죠. 적당한 탄성과 응집력이 있기 때문에<br class="hidden-tm">
							외부 충격에 의해 파손될 가능성이 거의 없고 모양과 표정 또한 자연스럽습니다.<br class="hidden-tm">
							또, 수술 시 비교적 적은 절개로도 시술이 가능하기 때문에 흉터에 대한 걱정도 줄어든다는 장점이 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_12.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_12_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분~1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취/국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7~10일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										주사시술 또는 보형물 삽입 후 이마에 팽창감이 느껴질 수 있습니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
										실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
										부기로 인한 통증과 당겨지는 느낌은 처방되는 진통제를 통해 완화할 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-reduction">
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							얼굴의 전반적인 비율은<br class="hidden-tm"> <span class="n-color-contour2">이마의 넓이가 좌우</span>합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							일반적으로 이마는 얼굴을 미간, 코, 턱 끝으로 나누었을 때 <span class="color-black1">비율이 1:1:0.8~0.9로 동일하거나 비슷한 얼굴을 이상적</span>으로 보고 있습니다.
							<br class="hidden-tm">
							만약 이보다 이마가 더 넓다면 이목구비가 아래로 쏠려 보여 불균형해 보이거나 얼굴이 길어 보이고,<br class="hidden-tm">
							머리가 커 보이거나 숱이 적어 보이는 등 부정적인 인상을 주기 쉽죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							이마가 좁은 경우라면 제모 등의 비교적 저렴하고 간편한 방법으로 개선이 가능하겠지만<br class="hidden-tm">
							이마가 넓은 경우에는 수술적 방법인 <span class="n-color-contour2">이마축소술이 보다 효과적</span>일 수 있습니다.
						</p>
						<div class="new-style1__img type-padding-m">
							<img src="../../images/contour/brow/brow_img_13.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_13_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
							<p class="new-style1__noti txt-new1">※ 이해를 돕기 위해 연출된 이미지 입니다.</p>
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<ul class="img-style1__list type-half type-notit">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_14.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">얼굴 비율의 불균형</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_15.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">길어 보이는 얼굴</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_16.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">커 보이는 얼굴</h5>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_17.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">탈모 및 노안 이미지</h5>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow2 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							이마축소술은 보다 <span class="n-color-contour2">직접적인 방법</span>으로<br class="hidden-tm"> 이마 라인을 조정할 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							이마축소술의 원리는 비교적 간단합니다.<br class="hidden-tm">
							기존의 헤어라인을 절개하여 두피를 아래쪽으로 내리고 고정 및 봉합하는 것이죠.<br class="hidden-tm">
							이 방법의 가장 큰 장점은 <span class="color-white">이마의 크기를 보다 직접적인 방법으로 개선하기 때문에 효과가 비교적 뛰어나다는 것</span>입니다.<br class="hidden-tm">
							이상적인 비율로 인해 얼굴이 작고 또렷해 보이며,<br class="hidden-tm">
							자연스럽게 헤어라인을 잡아 주어 다양한 헤어스타일도 어울릴 수 있게 됩니다.
						</p>
						<div class="inner-circle type-contour2 type-small">
							<ul class="inner-circle__list">
				 				<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										보다 빠르고 <br>
										직접적인<br>
										개선
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										얼굴이 작고 <br>
										또렷해 보이는<br>
										효과
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">다양한<br> 스타일링<br> 가능</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/contour/brow/brow_img_18.jpg" loading="lazy" alt="" class="img-normal hidden-m"/>
							<img src="../../images/contour/brow/brow_img_18_m.jpg" loading="lazy" alt="" class="img-normal hidden-pt"/>
						</div>
						<div class="inner-box">
							<div class="step-style type-contour">
								<h5 class="new-content-tit tit-new2">수술과정</h5>
								<ul class="step-style__list">
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.01</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												헤어라인을 따라<br>
												지그재그로 절개
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.02</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												두피를 아래쪽으로 내리고<br>
												엔도타인으로 고정
											</div>
										</div>
									</li>
									<li class="step-style__item">
										<div class="step-style__head txt-new2">
											<div class="step-style__box">step.03</div>
										</div>
										<div class="step-style__body txt-new1">
											<div class="step-style__box">
												피부를 조직층 별로<br>
												봉합하여 마무리
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-brow type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">수술 과정마다의 디테일</span>로<br class="hidden-tm">
							보다 만족스러운 결과를 추구합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							비교적 간단한 원리의 수술이지만 그 결과의 차이를 만드는 것은 전문의의 기술입니다.<br class="hidden-tm">
							단순히 헤어라인을 절개하여 아래로 내리기만 한다면 그 결과가 어색할 수밖에 없겠죠.<br class="hidden-tm">
							바노바기는 수술 과정 한번 한 번에 기술력과 노하우를 적용하여 보다 자연스럽고 이상적인 이마축소술을 추구합니다.
						</p>
						<p class="new-style1__txt txt-new1">
							우선 두피를 절개할 때 45도의 사선 형태로 절개하여 모근이 자연스럽게 전진될 수 있게 합니다.<br class="hidden-tm">
							또 전체적인 절개 형태도 지그재그 형태로 절개하여 흉터를 덜 지게 할 뿐만 아니라 자연스러운 헤어라인 형성을 유도하죠. <br class="hidden-tm">
							고정 과정에서는 피부 연부 조직을 고르게 고정할 수 있는 <span class="n-color-contour2">* 엔도타인</span>을 이용하여 두피가 다시 당겨지는 것을 방지합니다.<br class="hidden-tm">
							끝으로, 절개된 부위는 조직 각 층에 맞는 방법으로 봉합하여 조직의 손상을 줄이고 흉터가 거의 남지 않도록 하고 있습니다.
						</p>
						<div class="img-style1 type-mt">
							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_19.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">모근을 살리는 45도 절개</h5>
									<p class="img-style1__caption txt-new1">
										두피를 절개할 때 직각이 아닌 45도 사선형태로 절개 후<br class="hidden-tm">
										모근을 절개부위 앞으로 전진시키기 때문에<br class="hidden-tm">
										헤어라인이 보다 고르게 형성되고 자연스럽습니다.
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_20.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">전체 라인을 지그재그 형태로 절개</h5>
									<p class="img-style1__caption txt-new1">
										두피 절개라인을 직선이 아닌 지그재그 형태로 절개합니다.<br class="hidden-tm">
										절개 부위가 보다 효과적으로 봉합되어 흉터 예방에 보다<br class="hidden-tm">
										효과적이며 헤어라인 자체도 더욱 자연스럽게 형성됩니다.
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_21.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2"><span class="n-color-contour2">* 엔도타인</span>을 이용한 고정</h5>
									<p class="img-style1__caption txt-new1">
										아래로 내려간 두피를 엔도타인을 이용해 단단히 고정시킵니다.<br class="hidden-tm">
										 고르게 힘을 받아 고정되기 때문에 수술 후 두피가 뒤로 당겨지는<br class="hidden-tm">
										현상을 방지할 수 있으며 삽입된 엔도타인은 시간이 지나<br class="hidden-tm">
										체내에 흡수되기 때문에 보다 자연스럽고 흉터 회복에도 효과적입니다.
									</p>
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/brow/brow_img_22.jpg" class="img-w100" loading="lazy" alt=""/>
									<h5 class="img-style1__subject txt-new2">Layer By Layer 봉합</h5>
									<p class="img-style1__caption txt-new1">
										피부는 표피층, 진피층, 지방, 근막, 근육 등 다양한 층이 쌓여있는
										형태로 구성되어 있습니다. 이 각 층들의 특성을 무시한 채
										절개 또는 봉합을 진행한다면 조직의 손상이 일어나고 회복이 느려지는 등
										각종 부작용의 위험이 생기죠. 바노바기는 이 조직층들에 대한 이해를
										바탕으로 Layer By Layer 봉합을 진행하여 흉터를 줄이고
										빠른 회복을 위해 노력합니다.
									</p>
								</li>
							</ul>
						</div><!--//img-style1-->
						<div class="inner-stripe type-line">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/brow/brow_icon_1.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-contour2">* 엔도타인</p>
										<p class="inner-stripe__txt txt-new1">
											엔도타인은 미국 FDA의 승인을 받은 안전한 생체 친화적 재료입니다.
											피부 조직을 균일한 압력으로 고르게 당겨주어 자연스러운 주름 개선이 가능하고
											적은 흉, 오래가는 효과, 자연 흡수 등의 특징이 있어
											처진 피부를 개선하는 다양한 안티에이징 시술에 사용되고 있습니다.
										</p>
									</div>
								</li>

							</ul>
						</div><!--//inner-stripe-->
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
										실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
										부기로 인한 통증과 당겨지는 느낌은 처방되는 진통제를 통해 완화할 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
