<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-care">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-care">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 편안하고 비교적 빠른 쾌유를 위한 바노바기의 선택</p>
						<h3 class="new-visual__tit">윤곽양악 <span class="n-color-contour2">집중 케어</span></h3>
						<p class="new-visual__txt">수술 후 관리 전문가가 함께하는 개인별 맞춤 케어</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#스마트룩스</span></li>
							<li class="new-visual__item"><span>#캄레이저</span></li>
							<li class="new-visual__item"><span>#수술후관리</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-care">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">회복기간을 어떻게 보내느냐</span>에 따라<br class="hidden-tm"> 수술 결과가 달라집니다.
					</h4>
					<p class="new-style1__txt txt-new1">
						더욱 아름다워지는 결과를 만드는 안면윤곽 및 양악수술,<br class="hidden-m">
						빠르고 건강한 회복을 돕는 <mark class="mark-contour">바노바기의 윤곽양악 집중 케어</mark>를 만나보세요.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						더 좋은 결과를 만들 수 있도록 <span class="n-color-contour2">안전하게 관리</span>해드립니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/care/care_img_1.png" loading="lazy" alt="얼굴뼈, 연부조직" class="img-normal"/>
					</div>
				</div>
			</div>
			<div class="new-tab__line">line</div>
			<div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">스마트룩스</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-smart" class="new-tab__link js-inner-content">스마트룩스</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-laser" class="new-tab__link js-inner-content">캄레이저</a>
						</div>
					</li>
				</ul>
			</div><!-- //new-tab-->
			<div class="new-tab-content page-smart is-active">
				<div class="new-section">
					<div class="new-style1 type-care2 type-bottom">
						<div class="new-style1__wrap">
							<h4 class="new-style1__tit tit-new1 weight-regular">
								다양한 파장의 빛에너지로 넓은 범위를<br class="hidden-tm"> 치료하는
								<span class="n-color-contour2">스마트룩스</span>
							</h4>
							<p class="new-style1__txt txt-new1">
								<span class="n-color-black1">특수의료용 SLD(Super Luminous Diode)에서 방출되는 광선을 피부에 투과하여 치료하는 LED 광조사기</span>입니다.<br class="hidden-tm">
								수천여 개의 특수한 전구에서 나오는 다양한 파장대의 고출력 빛에너지를 조절하여,<br class="hidden-tm"> 피부재생과 치료·상처회복에 우수한 효과를 보입니다.<br class="hidden-tm">
								<span class="mark-white">증상과 적용부위에 따른 개별적 치료에 맞춤형으로 설계</span>되어 보다 효과적이고 편리한 의료기기입니다.
							</p>
							<p class="new-style1__txt2 txt-new2 type-quotation type-contour2">
								<span class="n-color-contour2">여러 가지 증상과 적용 부위를 보다 효과적으로 치료할 수 있는 스마트룩스</span>는,<br class="hidden-tm">
								성형외과의 수술 후 케어 프로그램에 없어서는 안 될 첨단 의료기기로서 각광 받고 있습니다.
							</p>
							<div class="inner-circle type-contour type-mbig">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											통증 및 염증<br>억제
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											비교적 부드럽고<br> 간편한 시술
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											피부재생 및<br>
											상처회복
										</div>
									</li>
								</ul>
							</div>
						</div>
						 <div class="new-style1__img">
							<img src="../../images/contour/care/care_img_2.jpg" class="img-normal" loading="lazy" alt="">
						</div>
						<div class="inner-box">
							<h5 class="new-content-tit tit-new2">스마트한 빛, 스마트룩스의 <span class="n-color-contour2 inline-block weight-medium">치료 원리</span></h5>
							<div class="new-content-img">
								<img src="../../images/contour/care/care_img_3.jpg" loading="lazy" class="img-normal hidden-m" alt="스마트한 빛, 스마트룩스의 치료 원리"/>
								<img src="../../images/contour/care/care_img_3_m.jpg" loading="lazy" class="img-normal hidden-pt" alt="스마트한 빛, 스마트룩스의 치료 원리"/>
							</div>
							<div class="care-style1 type-contour type-mt">
								<div class="care-style1__line"></div>
								<ul class="care-style1__list">
									<li class="care-style1__item is-active">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">강력한 빛에너지가<br> 피부 투과</p></div>
										<p class="care-style1__txt txt-new2">Step1</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
									<li class="care-style1__item">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">진피층, 피하층에 전달되어<br> 피부 속 세포 자극</p></div>
										<p class="care-style1__txt txt-new2">Step2</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
									<li class="care-style1__item">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">세포 재생상 촉진<br> & 미세혈류 순환 증가</p></div>
										<p class="care-style1__txt txt-new2">Step3</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
									<li class="care-style1__item">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">콜라겐 및<br> 미토콘드리아 활성</p></div>
										<p class="care-style1__txt txt-new2">Step4</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
								</ul>
								<div class="care-style1__arrow"><img src="../../images/content/arrow_gray.png" class="img-w100" alt="arrow"/></div>
								<div class="care-style1__result txt-new2">
									신경통 완화, 통증 조절, 피부 탄력 개선, 지방 분해, 골유착률 증가
								</div>
							</div>
							<p class="inner-box__line">line</p>
							<h5 class="new-content-tit tit-new2">광범위한 부위의 <span class="n-color-black1 weight-medium inline-block">피부 재생 & 염증 억제</span></h5>
							<div class="img-table">
								<div class="img-table__outer">
									<div class="img-table__box type-img">
										<div class="img-table__inner">
											<img src="../../images/contour/care/care_img_4.jpg" class="img-table__img img-w100"alt="광범위한 부위의 피부 재생 & 염증 억제"/>
										</div>
									</div>
									<div class="img-table__box type-txt">
										<ul class="img-table__list">
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">회복기간 단축</h6>
													<p class="img-table__txt txt-new1">상처, 멍, 부기 통증 등에 우수한 효과</p>
												</div>
											</li>
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">간편한 시술 방식</h6>
													<p class="img-table__txt txt-new1">넓은 조사각도와 자유로운 헤드의 움직임</p>
												</div>
											</li>
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">안전한 의료기기</h6>
													<p class="img-table__txt txt-new1">KFDA, CE, FDA 등에서 허가 받은 기기</p>
												</div>
											</li>
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">다양한 치료 효과</h6>
													<p class="img-table__txt txt-new1">항염 작용, 피부 재생, 뼈 유착률 증가 등</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-tab-conten page-smart-->
			<div class="new-tab-content page-laser">
				<div class="new-section">
					<div class="new-style1 type-care2 type-bottom">
						<div class="new-style1__wrap">
							<h4 class="new-style1__tit tit-new1 weight-regular">
								고강도 레이저 치료로 부기와 통증을<br class="hidden-tm"> 진정시키는
								<span class="n-color-contour2">캄레이저</span>
							</h4>
							<p class="new-style1__txt txt-new1">
								캄레이저는 한국식약청(KFDA)의 허가를 받은 안전한 레이저 치료기로서,<br class="hidden-tm">
								<span class="n-color-black1">치료 부위를 열팽창시켜 자극함으로써 체내에 축적된 불필요한 체액을 배출</span>합니다.
								<span class="mark-white">레이저의 깊이와 강도를 조절하여 환자에게 맞춤형치료가 가능</span>합니다.

								긴 시간동안 뜨거움을 참는 불편함과 신체조직의 손상 및 화상의 위험 없이, 심부에 높은 열에너지를 축적할 수 있어
								염증이나 멍, 부기 등의 증상 뿐 아니라 원인까지 보다 효과적으로 치료할 수 있습니다.
							</p>
							<p class="new-style1__txt2 txt-new2 type-quotation type-contour2">
								<span class="n-color-contour2">부기와 멍이 생긴 부위를 집중적으로 치료하는 캄레이저</span>는 피부 속 깊은 곳까지 열에너지를 전달하여,
								통증 완화·소염 작용·부종 흡수 등 우수한 치료 효과를 나타냅니다.
							</p>
							<div class="inner-circle type-contour type-mbig">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											염증분자 및<br> 젖산 배출
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											피부 속깊이<br> 열에너지 전달
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											맞춤형 진료가<br>
											가능한 레이저
										</div>
									</li>
								</ul>
							</div>
						</div>
						 <div class="new-style1__img">
							<img src="../../images/contour/care/care_img_6.png" class="img-normal" loading="lazy" alt="">
						</div>
						<div class="inner-box">
							<h5 class="new-content-tit tit-new2">비교적 안전한 레이저, 캄레이저의 <span class="n-color-contour2 inline-block weight-medium">치료 원리</span></h5>
							<div class="new-content-img">
								<img src="../../images/contour/care/care_img_5.jpg" loading="lazy" class="img-normal hidden-m" alt="비교적 안전한 레이저, 캄레이저의 치료 원리"/>
								<img src="../../images/contour/care/care_img_5_m.jpg" loading="lazy" class="img-normal hidden-pt" alt="비교적 안전한 레이저, 캄레이저의 치료 원리"/>
							</div>
							<div class="care-style1 type-contour type-mt">
								<div class="care-style1__line"></div>
								<ul class="care-style1__list">
									<li class="care-style1__item is-active">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">치료부위에<br> 레이저 조사</p></div>
										<p class="care-style1__txt txt-new2">Step1</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
									<li class="care-style1__item">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">SMAS층이 위치한<br> 피부 속에 열기 전달</p></div>
										<p class="care-style1__txt txt-new2">Step2</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
									<li class="care-style1__item">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">치료 부위의 열팽창으로<br> 림프배수관 자극</p></div>
										<p class="care-style1__txt txt-new2">Step3</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
									<li class="care-style1__item">
										<div class="care-style1__box txt-new2"><p class="care-style1__caption">체내에 축적된<br> 불필요한 체액 배출</p></div>
										<p class="care-style1__txt txt-new2">Step4</p>
										<a href="" class="care-style1__link js-care">상세보기</a>
									</li>
								</ul>
								<div class="care-style1__arrow"><img src="../../images/content/arrow_gray.png" class="img-w100" alt="arrow"/></div>
								<div class="care-style1__result txt-new2">
									염증분자 및 젖산 배출, 세포 신진대사 촉진, 혈액순환 촉진, 통증 완화 및 소염 작용,
									손상 조직에 영양소 공급, 치료 부위 조직 리모델링
								</div>
							</div>
							<p class="inner-box__line">line</p>
							<h5 class="new-content-tit tit-new2">부기와 멍이 심한 부위의 <span class="n-color-black1 weight-medium inline-block">집중 치료</span></h5>
							<div class="img-table">
								<div class="img-table__outer">
									<div class="img-table__box type-img">
										<div class="img-table__inner">
											<img src="../../images/contour/care/care_img_6.jpg" class="img-table__img img-w100"alt="광범위한 부위의 피부 재생 & 염증 억제"/>
										</div>
									</div>
									<div class="img-table__box type-txt">
										<ul class="img-table__list">
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">맞춤형 진료</h6>
													<p class="img-table__txt txt-new1">개인에 따라 레이저의 깊이와 강도 조절</p>
												</div>
											</li>
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">집중 치료</h6>
													<p class="img-table__txt txt-new1">고강도 레이저의 집중적인 조사로 통증 완화</p>
												</div>
											</li>
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">비교적 빠른 효과</h6>
													<p class="img-table__txt txt-new1">불필요한 체액의 배출 및 재흡수로 비교적 빠른 염증 및 부종감소 </p>
												</div>
											</li>
											<li class="img-table__item">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">비교적 짧은 시술 시간</h6>
													<p class="img-table__txt txt-new1">약 5~15분의 비교적 짧은 시술 시간과 보다 편안한 시술</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //new-tab-conten page-smart-->
			<div class="new-section type-cling">
				<div class="new-style1 type-care3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						수술 후 관리까지 최선을 다하는<br class="hidden-tm">
						<span class="n-color-contour2">바노바기 성형외과</span>
					</h4>
					<p class="new-style1__txt2 type-quotation type-contour txt-new2">
						수술 후 관리 전문가가 함께하는 보다안전하고 빠른 회복,<br class="hidden-tm">
						경과에 따른 개인별 맞춤 윤곽 양악 집중 케어!<br class="hidden-tm">
						바노바기 성형외과는 <span class="n-color-contour2">수술 후 관리까지 최선을 다합니다.</span>
					</p>
					<div class="inner-circle2 type-care type-three">
					    <ul class="inner-circle2__list">
					        <li class="inner-circle2__item nth-1">
					            <div class="inner-circle2__outer">
					                <div class="inner-circle2__inner">
					                    <div class="inner-circle2__txt txt-new1 color-white">
					                        수술 후 관리<br>
											전문가의 관리
					                    </div>
					                </div>
					            </div>
					        </li>
					        <li class="inner-circle2__item nth-2">
					            <div class="inner-circle2__outer">
					                <div class="inner-circle2__inner">
					                    <div class="inner-circle2__txt txt-new1 color-white">
					                        전문의의 진료
					                    </div>
					                </div>
					            </div>
					        </li>
							<li class="inner-circle2__item nth-3">
					            <div class="inner-circle2__outer">
					                <div class="inner-circle2__inner">
					                    <div class="inner-circle2__txt txt-new1 color-white">
					                        신형 의료 기기
					                    </div>
					                </div>
					            </div>
					        </li>
						</ul>
					</div>
					<div class="new-style1__img">
						<img src="../../images/contour/care/care_img_5.png" loading="lazy" alt="얼굴뼈, 연부조직" class="img-normal"/>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
