<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-cheekbone">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-cheekbone">
	            <p class="content-visual__txt1">안면 윤곽 기술력의 집약</p>
	            <h3 class="content-visual__tit">#<span class="color-contour9">광대</span>수술</h3>
	            <p class="content-visual__txt2 type-cheekbone"><strong>치밀한설계로개선되는</strong>작고부드러운얼굴형</p>
	            <p class="caution-para1 type-cheekbone">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수  있으며,<br class="hidden-pt"> <span class="type-unique">환자 본인의 동의를 얻어 촬영 후 게재하였습니다</span></p>
	        </div>
	    </div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- Content -->
	<div class="content cheekbone">

        <div class="content-wrap">
            <div class="content-section type-first">
                <div class="content-section__wrap">
                    <div class="cheek-box1">
                        <div class="content-section__box1 type-w4">
                            <h4 class="content-section__tit type-left">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
                                얼굴은<br class="hidden-pt"><strong> 광대가 있어야<br class="hidden-p"> </strong>더 <strong class="color-contour10">아름답습니다</strong>
                            </h4>
                            <p class="content-section__txt1">
                                강해 보이는 인상을 주고 매끄럽지 못한 얼굴선을 만드는 광대뼈.<br class="hidden-m">
                                많은 환자분들이 이 광대 때문에 고민하며 성형외과 상담실을 찾아오십니다.<br class="hidden-m">
                                그런데 반대로 뷰티 블로그나 TV 프로그램에서는 광대를 살려주는<br class="hidden-m">
                                메이크업을  열심히 설명하기도 합니다.
                            </p>
                            <p class="content-section__txt1 type-special">
                                누구는 광대를 없애고 싶고 누구는 부각시키고 싶은 아이러니한 현실.<br class="hidden-m">
                                그 이유는 광대가 얼굴의 비율에 맞는 적당한 모양이라면 오히려 얼굴을 <br class="hidden-tm">
                                생기 있어 보이고 입체감 있게 만들어 줄 수 있기 때문입니다.
                            </p>

                            <p class="content-section__txt2">
                                <strong>
                                    그래서 광대 수술은 단순히 광대를 깎아내는<br class="hidden-pt"> 방법이 아닌, <br class="hidden-m">
                                    <span class="color-contour11">
                                		얼굴에 어울리는 예쁜 모양의 광대를 살리는 방법으로 <br class="hidden-tm">
                                		접근
                            		</span>
                                    해야 합니다.
                                </strong>
                            </p>

                        </div>
                        <div class="content-section__box1 type-w6 ">
                            <div class="content-section__img sec1-thumb">
                                <img src="../../images/contour/contour_cheekbone_section02.png" loading="lazy" alt="매끄러운광대뼈를 가진 모델">
                                매끄러운 광대뼈의 모델
                            </div>
                        </div>
                    </div>
                </div><!-- //content-section__wrap-->
            </div>
            <!--contenct-section-->
            <div class="content-section sec2-section">
                <div class="cheek-box2">
                    <div class="content-section__box1 sec2-bg">
                        <div class="content-section__box1 tit-box type-sort">
                            <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
                                <strong>광대의 재배치</strong>가<br class="hidden-pt"> <strong class="color-contour10">핵심</strong>입니다
                            </h4>
                        </div>
                        <div class="content-section__box1 content-box">
                            <p class="content-section__txt1 type-sort color-contour13 type-unique">
                                바노바기는 광대의 본체와 아치를 포함한 광대궁 복합체를  하나의 유닛으로 이동시킵니다.<br class="hidden-m">
                                즉, 광대를 깎아내지 않고 잘라서 적합한 위치로 옮기는 것이죠.<br class="hidden-pt"> 이 방법은 개개인 광대 모양에 <br class="hidden-pm">맞출 수 있는<br class="hidden-tm">
                                절골 감각과 한계에 가까운 절골라인을 디자인할 수 있는 기술이 있어야 <br class="hidden-pm">가능한 수술입니다.<br class="hidden-tm">
                                안전한 범위 내에서 더욱 넓은 범위를 이동시킬수록 효과적이기 때문입니다.
                            </p>
                            <div class="content-section__img-wrap sec2-box clearfix">
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-1.jpg" loading="lazy" alt="일반적 광대절골가능 범위" class="content-section__thumb sec2-pic1">
                                        <div class="content-section__thumb sec2-pic1"></div>
                                        <div class="content-section__desc type-wide color-contour14">
                                            <p class="content-section__txt sec2-txt">이전 바노바기 광대 절골 범위</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-2.jpg" loading="lazy" alt="바노바기의 광대절골가능 범위"class="content-section__thumb sec2-pic1">
                                        <div class="content-section__desc type-wide color-contour15">
                                            <p class="content-section__txt sec2-txt">현재 바노바기에서 가능한 광대 절골 범위</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="brace type-basic">
                                <p class="brace__txt txt-v4">
                                    이렇게 개선된 광대는 기존 뼈의 재배치이기<br class="hidden-pt">때문에 <span class="color-contour12">형태적으로 자연스럽고 <br class="hidden-tm">
                        			다각도에서 <br class="hidden-pt">비교적 많은 축소 효과</span>를 볼 수 있습니다
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
            <div class="content-section sec3-section">
                <div class="cheek-box3">
                    <div class="content-section__bg clearfix">
                        <div class="content-section__box1 sec3-width type-w6">
                            <h4 class="content-section__tit type-left">
		                        <span class="content-section__number sec3-number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
                                효과적으로<br class="hidden-pt"> 개선한 만큼<br>
                                <strong class="color-contour10">튼튼하게 고정합니다</strong>
                            </h4>
                            <div class="content-section__box1 sec3-unique">개선된고정방법 이미지</div>
                            <div class="content-section__desc-box sec3-desc">
                                <p class="content-section__txt1">
                                    뼈를 깎아내지 않고 재배치하는 바노바기 광대 수술의 또 다른 장점은 안전하고 견고하다는 것입니다.<br class="hidden-t">
                                    <span class="content-highlight type-cheekbone">바노바기는 광대궁 복합체 안쪽의 측두근이 주는 힘을 계산하여 광대를 고정합니다.</span>
                                    <br class="hidden-m">또한 골 접촉 부위의 앞쪽과 뒤쪽을 동시에 역학적으로 고정시키죠.<br class="hidden-pm"> 이렇게 제대로 고정만 해준다면,
                                    일반적인 골절 상황과 같이 인체가 자연스럽게 회복하며<br class="hidden-pm"> 뼈는 더욱 단단하게 자리 잡게 됩니다.
                                </p>

                            </div>
                        </div>
                        <div class="content-section__box1 sec3-width sec3-type-w4">
                            <div class="content-section__thumb">
                                <img src="../../images/contour/contour_cheekbone_section04.png" loading="lazy" alt="개선된고정방법">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box4">
					<div class="content-section__bg sec4-bg">
						<div class="content-section__bg type-special">
							<div class="content-section__box1 sec4-tit-box">
								<div class="content-section__point">
									<div class="content-section__point-wrap"><span class="">point</span></div>
								</div>
								<h5 class="content-section__tit sec4-tit">
									예쁜 광대를 만드는 <br class="hidden-pt"> 얼굴뼈 고정술<br>
                                    <strong class="color-contour16">바노바기의 기술력</strong>
                                    입니다.
								</h5>
							</div>

							<div class="content-section__screen type-pc">
								<div class="hexa-pattern type-cheekbone">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">01</p>
												<p class="hexa-pattern__txt type-cheekbone">
													광대궁 복합체에 가해지는 힘을 과학적으로 분석
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">02</p>
												<p class="hexa-pattern__txt type-cheekbone">
													골접촉 부위를 역학적으로 견고하게고정
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">03</p>
												<p class="hexa-pattern__txt type-cheekbone">
													body 부위와 관골궁 부위를 견고하게 동시 고정
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-4">
											<div class="hexa-pattern__wrap">
												<div class="hexa-pattern__thumb"></div>
												<h6 class="hexa-pattern__txt type-cheekbone type-unique">
													바노바기의 기술력
												</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__screen type-mobile">
						<div class="hexa-pattern type-cheekbone">
							<ul class="hexa-pattern__list">
								<li class="hexa-pattern__item nth-1">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">01</p>
										<p class="hexa-pattern__txt type-cheekbone">
											광대궁 복합체에 가해지는 힘을 과학적으로 분석
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-2">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">02</p>
										<p class="hexa-pattern__txt type-cheekbone">
											골접촉 부위를 역학적으로 견고하게고정
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-3">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">03</p>
										<p class="hexa-pattern__txt type-cheekbone">
											body 부위와 관골궁 부위를 견고하게 동시 고정
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-4">
									<div class="hexa-pattern__wrap">
										<div class="hexa-pattern__thumb"></div>
										<h4 class="hexa-pattern__txt type-cheekbone type-unique">
											바노바기의 기술력
										</h4>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
            <!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간~1시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가/약 1일 입원</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1~2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리면서 욱신거리는 정도의 통증이 느껴질 수 있습니다.<br>
									뻐근한 느낌이나 불편함이 있을 수 있으나 처방된 진통제로 통증을 줄일 수 있습니다.<br>
									어느 정도의 압력이나 충격을 가하지 않는다면, 뼈의 통증은 절개로 인한 통증보다 적습니다.<br>
									통증이나 큰 부기는 약 5일 전후로 사라지기 시작합니다.<br>
									체계적인 치료 시스템으로 비교적 빠른 회복이 가능합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
            <!--operation-->
            <div class="content-section sec5-section">
                <div class="cheek-box5">
                    <div class="content-section__box1">
                        <div class="content-section__bg sec5-bg">
                            <div class="content-section__box1 sec5-bg-small">
                                <h4 class="content-section__tit">
                                    <strong class="color-contour12">피부 처짐까지 <br> 예방</strong>하는 광대 성형을 <br class="hidden-m">
                                    추구합니다
                                </h4>
                                <p class="content-section__txt1 type-unique">
                                    광대뼈 위치가 변하면서 크기가 줄어들면 뼈를 덮고 있는 <br class="hidden-m">
                                    연부 조직도 함께 줄어들어야 합니다.  하지만 피부에 노화가 있거나 탄력이 적다면
                                    피부가 광대의 축소량을 따라가지 못해 볼처침이 발생하게 될 수도 있습니다. <br class="hidden-m">
                                    특히 얼굴의 구조상 눈물 고랑과 <br class="hidden-pt"> 인디언 밴드, 팔자 주름이 생기게 되는데요. <br class="hidden-m">
                                </p>
                            </div>
                            <div class="content-section__desc type-unique">
                                <p class="content-section__txt1 sec5-txt1 type-space">
                            		<span class="color-contour11">
                            			바노바기는 이런 경우를 위해
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">인포버튼</span>
												탄력밴드
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>탄력밴드</strong>란?<br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-img.jpg" loading="lazy" alt="탄력밴드 이미지" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    탄력밴드는 인체 내에서 주변조직과 결합하여
				                                                    인대와 같은 역할을 하기 때문에, 피부 깊숙한 곳의
				                                                    무너진 근막층을 보강하여 피부 처짐을 효과적으로
				                                                    개선할 수 있습니다. 또한 강한 탄성을 가지고 있기
				                                                    때문에 결과가 보다 자연스럽다는 장점이 있습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															닫기
														</button>
													</span>
												</span>
											</a>
			                            </span>와
                            			<span class="content-section__info pop-info">

											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">인포버튼</span>
												엔도타인
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>엔도타인</strong>이란?<br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-endo.jpg" loading="lazy" alt="엔도타인 이미지" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    엔도타인은 미국 FDA의 승인을 받은 안전한 생체
				                                                    친화적 재료입니다. 피부 조직을 균일한 압력으로
				                                                    고르게 당겨주어 자연스러운 주름 개선이 가능하고
				                                                    적은 흉, 오래 가는 효과, 자연 흡수 등의 특징이 있어
				                                                    처진 피부를 개선하는 다양한 안티에이징 시술에
				                                                    사용되고 있습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															닫기
														</button>
													</span>
												</span>
											</a>
                            			</span>
                            		을 응용하고 있습니다.</span>
                                    <br class="hidden-m">
                                    탄력밴드는 피부 처짐의 근본적 원인이 되는 근막층에 대한 보강 효과가 있는 <br class="hidden-m">
                                    특수한 실입니다. 엔도타인은 피부 조직을 균일하게 당겨주는 연조직 고정 재료이죠.
                                    안티에이징에 효과적인 이 두 가지를 상황에 따라 적절히 사용하기 때문에,<br class="hidden-pm">
                                    바노바기는 볼 처짐 걱정 거의 없이 더욱 만족스러운 광대 성형이 가능합니다.
                                </p>
                            </div>
                            <div class="content-section__box1">
                                <ul class="content-section__list type-wrap clearfix">
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-1.jpg" loading="lazy" alt="눈물고랑(엔도타인)">
                                            <div class="content-section__thumb sec5-pic1">눈물고량(엔도타인)</div>
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">눈물 고랑 <br class="hidden-p">(엔도타인)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-2.jpg" loading="lazy" alt="인디언밴드(탄력밴드, 엔도타인)">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">인디언 밴드 <br class="hidden-p">(탄력밴드, 엔도타인)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-3.jpg" loading="lazy" alt="팔자자룸(탄력밴드, 엔도타인)">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">팔자주름 <br class="hidden-p">(탄력밴드, 엔도타인)</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 50분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취/부분마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리면서 욱신거리는 정도의 통증이 느껴질 수 있습니다.<br>
									뻐근한 느낌이나 불편함이 있을 수 있으나 처방된 진통제로 통증을 줄일 수 있습니다.<br>
									어느 정도의 압력이나 충격을 가하지 않는다면, 뼈의 통증은 절개로 인한 통증보다 적습니다.<br>
									통증이나 큰 부기는 약 5일 전후로 사라지기 시작합니다.<br>
									체계적인 치료 시스템으로 비교적 빠른 회복이 가능합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

        </div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
