<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="content" data-page="contour-square">
		<div class="new-visual type-square">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">더 매력적인 V라인의 발견</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">사각 턱</span> 수술</h3>
						<p class="new-visual__txt">어느 각도에서도 매력적인 턱선</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#사각턱수술</span></li>
							<li class="new-visual__item"><span>#V라인</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-square">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">V라인은  하나의 상징일 뿐,</span><br class="hidden-tm">
						획일화 하면 안됩니다
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						알파벳 V자로 모두에게 같은 턱 모양을 맞추는 것은 의미가 없습니다.<br class="hidden-tm">
						사각 턱 성형의 핵심을 알고 있다면, <span class="weight-medium">각자에게 맞는 더 매력적인 V라인</span>을 찾는<br class="hidden-tm">
						수술이 가능합니다. 또한 정면에서 보았을 때 V라인이 아니라 여러 각도에서도<br class="hidden-tm">
						돋보이는 턱을 디자인할 수도 있습니다.
					<p class="new-style1__txt2 txt-new1">
						V라인이 아름다운 얼굴형의 대명사가 된 요즘, 사람들은 왜 V라인에 열광하는 것일까요?<br class="hidden-tm">
						그 이유는 갸름한 턱이 넓은 턱에 비해 얼굴이 작아 보여 비율적으로 아름답기 때문입니다. 또한 매끈한 턱 끝은 웃는 입매와<br class="hidden-tm">
						어우러져 세련된 느낌을 주기도 합니다. 그렇다는 것은 결국, 사각 턱 성형의 핵심은 비율적으로 아름다우면서 세련된<br class="hidden-tm">
						느낌을 주는 턱을 만드는 것이라고 할 수 있습니다. 그래서 <mark class="mark-contour3 weight-medium">바노바기의 V라인은 턱 시작점부터 끝까지<br class="hidden-tm">
							다양한 각도에서도 아름다운 곡선을 이루는 매력적인 V라인</mark> 입니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/square/square_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-square2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">한 번의 수술로 개선</span>하는 것이<br class="hidden-tm">
						효과적입니다
					</h4>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						<span class="weight-medium">사각 턱 수술은 옆 턱과 앞 턱을 동시에 진행</span>해야<br class="hidden-tm">
 						비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다. 
					<p class="new-style1__txt2 txt-new1">
						흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다. 사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 두꺼운 앞 턱이<br class="hidden-tm">
						고민이라면 턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 것이 좋습니다. 하지만 <mark class="mark-contour3 weight-medium">실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다.</mark><br class="hidden-tm">
						또한 입체적이죠. 그래서 사각 턱 수술은 옆 턱과 앞 턱을 동시에 진행하는 것이 좋습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/square/square_img_2.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-square3 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style1">
					        <h5 class="new-content-tit type-txt tit-new2">다양한 각도에서의 턱 모양을 고려한 <span class="weight-regular">입체적 수술</span></h5>
					        <p class="img-style1__txt txt-new1">
					            이런 수술 방법은 쉽지 않습니다. 환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 고려해야 되기 때문이죠.
								하지만 <span class="weight-medium">정밀한 계측과 숙련된 전문의의 기술을 갖춘 바노바기 윤곽 성형 전담팀</span>이기에 가능 합니다. 
					        </p>
					        <ul class="img-style1__list type-mt type-merge">
								<li class="img-style1__item">
									<img src="../../images/contour/square/square_img_3_1.jpg" class="img-w100" loading="lazy" alt="다양한 각도에서의 턱 모양을 고려한 입체적 수술">
								</li>
								<li class="img-style1__item">
									<img src="../../images/contour/square/square_img_3_2.jpg" class="img-w100" loading="lazy" alt="정밀한 계측과 숙련된 전문의의 기술을 갖춘 바노바기 윤곽 성형 전담팀">
								</li>
					        </ul>
					    </div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
				<div class="new-style1 type-square4">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-contour2">모든 조직을 고려한</span> 수술로
							해답을 찾아냅니다
						</h4>

					 	<p class="new-style1__txt2 txt-new2 type-contour type-quotation">
					 		<span class="weight-medium">복합적인 진단과 수술은</span> 안면윤곽의 모든 영역을 이해하고
							경험이 많은 의료진이 진행해야 만족도 높은 결과가 나옵니다.
					 	</p>
						<p class="new-style1__txt txt-new1">
					 		일반적으로 턱뼈가 큰 경우에는 그 턱을 움직이기 위한 근육도 같이 발달됩니다.  또한 얼굴에 살이 많은 경우는 피하지방과<br class="hidden-tm">
							협부지방이 발달된 경우가 많죠. 이런 케이스의 환자들에게, 뼈만 자르는 사각 턱 성형은 그 효과를 보기가 힘듭니다.<br class="hidden-tm">
							따라서, 보다 <mark class="mark-contour3">효과적인 사각 턱 수술은 근육과 지방 등 얼굴 조직에 대한 다각적 접근이 함께 이루어지는 수술</mark>입니다.
					 	</p>
					</div>
					 <div class="new-style1__img">
						 <img src="../../images/contour/square/square_img_4.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-square5">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit tit-new1 weight-regular">
							숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
							<span class="n-color-contour3">바노바기 윤곽 성형 전담팀</span>
						</h4>

					 	<p class="new-style1__txt2 txt-new2 type-contour type-quotation">
							바노바기의 사각 턱 성형은 안면윤곽 파트의 성형외과 전문의들이 얼굴뼈와
							조직에 대한 고민의 결과물로, <span class="weight-medium n-color-contour3">하악각 절골 수술과 저작근 축소술, 피질 절골술이나
							심부볼 지방 제거술 같은 복합적인 사각턱 수술법을 완성</span>했습니다.
					 	</p>
					</div>
					 <div class="new-style1__img">
						 <img src="../../images/contour/square/square_img_5.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-square6 type-top0 type-bottom">
					<div class="inner-box type-stripe">
						<div class="new-stripe type-padding-zero type-square">
							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/square/square_img_6.png" loading="lazy" alt="하악각 절골수술" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">하악각 절골수술</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											흔히 귀 아래 쪽의 각진 부분을 사각턱 혹은 하악각이라고 합니다. 하악각이 지나치게 발달한 경우 턱 라인이
											두껍고 얼굴 윤곽이 자연스럽지 않고 각이 져 보입니다.
											하악각을 이루는 뼈를 얇고 둥글게 깎아내어 정면 및 측면에서 봤을 때 자연스럽게 곡선을 이루게되며, 턱 끝으로
											연결되는 얼굴 라인을 갸름하고 매끈하게 개선합니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/square/square_img_7.png" loading="lazy" alt="피질 절골술" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">피질 절골술</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											얼굴 뼈는 외피질골, 해면골, 내피질골 이렇게 세개의 층으로 이루어져 있습니다. 그 중 외피질을 얇게
											떼어내는 수술인 피질 절골술은 숙련된 전문의가 집도한다면 보다 안전하고 효과적인 턱 라인 개선의 결과를
											얻을 수 있습니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/square/square_img_8.png" loading="lazy" alt="저작근 축소술" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">저작근 축소술</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											귀밑 턱 부위를 눌러보면 깊은 부위의 살이 단단하게 만져집니다. 이것을 교근이라고 하는데, 씹는 기능의
											일부를 담당하는 근육으로, 지나치게 발달하면 돌출형 사각턱을 만드는 원인이 되기도 합니다.
											보톡스를 이용하여 일시적인 축소 효과를 볼 수도 있지만 사각턱수술 시 수술적 방법으로 함께 제거하면
											영구적인 효과를 유지할 수 있어 만족도가 더 높습니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/square/square_img_9.png" loading="lazy" alt="심부볼 지방제거" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">심부볼 지방제거</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											얼굴의 지방은 두 층이 있는데 하나는 피부 바로 밑에 얇게 한 층으로 있는 지방과 협부 지방이라고 하여 뺨
											깊숙이 있는 지방입니다. 위에 있는 지방을 뺄 때는 지방흡입 시술을 하며 깊이 있는 협부 지방을 없애기
											위해서는 입안을 통한 절제술을 하여야 합니다.
										</p>
									</div>
								</li>
							</ul>
						</div><!--new-stripe -->
                    </div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="square-box1">
				<div class="square-box1__box">
				<p class="square-box1__txt">BANOBAGI SURGERY</p>
				<h4 class="square-box1__tit">
				언론과 학계에서 <br>
				인정 받는<br>
				<strong>성형외과 전문의!</strong>
				</h4>
				</div>
				<div class="square-box1__img">사각턱 이미지3 - 오창현 대표원장, 박종림 박사</div>
				</div>
				<div class="square-box2">
				<div class="square-box2__box">
				<p class="square-box2__txt">렛미인, 렛미인 타일랜드,<br class="hidden-pt"> 베트남 체인지라이프, 아름다운 당신, 대세남 등</p>
				<h5 class="square-box2__tit">
				대표 키닥터
				</h5>
				</div>
				</div>
				<div class="contour-img">
				<img src="../../images/contour/contour_chin_img10.jpg" loading="lazy" alt="사각턱 뉴스사진">
				</div>
				<div class="square-box3">
				<div class="square-box3__wrap">
				<div class="square-box3__box w-4">
				<p class="square-box3__txt">다양한 학술 활동, <span class="inline-block">논문 연구 발표 등</span></p>
				<h5 class="square-box3__tit">
				오직 안면윤곽을 위해<br class="hidden-p">
				집중하는 박종림 박사
				</h5>
				</div>
				<div class="square-box3__box w-6">
				<img src="../../images/contour/contour_chin_img11.png" loading="lazy" alt="사각턱 신문기사">
				</div>
				</div>
				</div><!-- //square-box3 -->
				<div class="contour-img">
				<img src="../../images/contour/contour_chin_img12.jpg" loading="lazy" alt="박종림 박사 강연 사진">
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">사각 턱 수술에 맞는 회복을 제공합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 5){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									수술 후 마취가 풀리면서 욱신거리는 통증이 느껴질 수 있습니다.<br>
									뻐근한 느낌이나 불편함이 있을 수 있으나 처방된 진통제로 통증을 줄일 수 있습니다.<br>
									통증이나 큰 부기는 약 5일 전후로 사라지기 시작합니다.<br>
									체계적인 치료 시스템으로 비교적 빠른 회복과 좋은 결과를 추구합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>


        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
