<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-protrusion">
		<div class="new-visual type-protrusion">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">정면 만큼이나 중요한 측면 이미지</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">돌출입</span>수술</h3>
						<p class="new-visual__txt">올바른 치아 구조가 만드는 매력적인 입매</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#치아구조개선</span></li>
							<li class="new-visual__item"><span>#매력적인입매</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-bottom type-protrusion">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						돌출입은 <span class="n-color-contour2">부정적 이미지의 원인</span>이 됩니다
					</h4>
					<p class="new-style1__txt txt-new1">
						대부분의 사람들은 거울을 통해 스스로의 모습을 확인합니다. 그래서 정면으로 보이는 얼굴에 많은 신경을 쓰게 되죠.<br class="hidden-tm">
						하지만 타인의 입장에서는 정면만큼이나 많이 보게 되는 것이 측면의 얼굴입니다.<br class="hidden-tm">
                        그리고 <span class="color-black1">측면 얼굴은 얼굴의 입체감이 한눈에 드러나 개인의 이미지 형성에 많은 영향</span>을 끼치게 됩니다.<br><br>

						돌출입은 얼굴의 부정적인 이미지를 만드는 대표적인 원인 중 하나입니다.<br class="hidden-tm">
						부자연스러운 이목구비 비율을 만들어 얼굴을 커 보이게 하거나, 팔자주름이나 턱 끝 주름 등을 유발하여 나이가 들어 보이게 하고,<br class="hidden-tm">
						입매가 틀어져 퉁명스럽고 화난 인상을 만들죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						또, 미용적인 문제뿐만 아니라 부정교합으로 인한 식사 불량 및 충치, 구강 호흡으로 인한 알레르기 유발 등 <br class="hidden-tm">
						건강상의 문제 또한 동반하기 때문에 <span class="n-color-contour2">정확한 진단을 통해 문제를 파악하고 개선</span>해주는 것이 바람직합니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/protrusion/protrusion_img_1.png" loading="lazy" alt="바노바기 성형외과 돌출입 이미지" class="img-normal">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-protrusion">
					<div class="img-style9">
						<h5 class="new-content-tit tit-new2 color-white">돌출입으로 인한 문제들</h5>

						<div class="img-style9__box">
							<h6 class="img-style9__subject type-contour txt-new2">부정적인 인상</h6>

							<div class="img-style9__outer">
								<ul class="img-style9__list">
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_2.png" loading="lazy" alt="부자연스러운 얼굴 비율" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">부자연스러운 얼굴 비율</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_3.png" loading="lazy" alt="팔자주름, 턱 끝 주름 등 노안" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">팔자주름, 턱 끝 주름 등 노안</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_4.png" loading="lazy" alt="퉁명스럽고 화가 난 듯한 인상" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">퉁명스럽고 화가 난 듯한 인상</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="img-style9__box">
							<h6 class="img-style9__subject type-contour2 txt-new2">건강 악화</h6>

							<div class="img-style9__outer">
								<ul class="img-style9__list">
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_5.png" loading="lazy" alt="2급 부정교합 및 충치" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">2급 부정교합 및 충치</div>
									</li>
									<li class="img-style9__item">
										<div class="img-style9__img">
											<img src="../../images/contour/protrusion/protrusion_img_6.png" loading="lazy" alt="구강 호흡으로 인한 알레르기 유발" class="img-w100"/>
										</div>
										<div class="img-style9__caption txt-new1">구강 호흡으로 인한 알레르기 유발</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-protrusion2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">원인을 제대로 파악</span>하여<br class="hidden-tm">
						올바른 수술 계획을 세워야 합니다
					</h4>
					<p class="new-style1__txt txt-new2">
						의학적으로 돌출입은 <span class="n-color-contour2">코끝과 턱 끝을 가상의 선으로 연결했을 때 그보다 입이 튀어나온 상태</span>를 말합니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						그 대표적인 원인으로는 치아만 돌출된 경우와 잇몸뼈가 함께 돌출된 경우가 있죠.<br class="hidden-tm">
						치아만 돌출된 경우라면 기본적인 교정치료를 통해 돌출입을 개선해줄 수 있지만, 동양인의 경우에는 잇몸뼈가 함께 돌출된 경우가 많고<br class="hidden-tm">
						그 유형 또한 다양하기 때문에 보다 정확한 확인을 통해 적절한 수술 계획을 세우는 것이 중요합니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/protrusion/protrusion_img_7.jpg" loading="lazy" alt="바노바기 돌출입 진단 - 기준선보다 튀어나온 입" class="img-normal"/>
					</div>
					<div class="inner-box">
						<div class="process-style3 type-contour">
							<h5 class="new-content-tit tit-new2">
								보다 정밀한 <span class="weight-regular">바노바기 돌출입 진단</span>
							</h5>

							<div class="process-style3__box">
								<ul class="process-style3__list">
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_8.jpg" loading="lazy" alt="전문의의 면밀한 상담" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2">
											<div class="process-style3__vertical">
												전문의의<br class="hidden-tm">
												면밀한 상담
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_9.jpg" loading="lazy" alt="구강악안면외과와의 협진" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2">
											<div class="process-style3__vertical">
												구강악안면외과와의<br class="hidden-tm">
												협진
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/protrusion/protrusion_img_10.jpg" loading="lazy" alt="3D 안면 CT 정밀 계측기 등 전문 장비 활용" class="img-w100"/>
										</div>
										<div class="process-style3__caption txt-new2">
											<div class="process-style3__vertical">
												3D 안면 CT 정밀 계측기 등<br class="hidden-tm">
												전문 장비 활용
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="process-style3__result txt-new2">보다 정확한 수술 계획 수립</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-protrusion3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기 돌출입 수술의 핵심은<br class="hidden-tm">
						<span class="n-color-contour3">A 포인트의 이동</span>입니다
					</h4>
					<p class="new-style1__txt txt-new2">
						A 포인트란 <span class="n-color-contour3">얼굴을 측면에서 봤을 때 콧기둥과 인중이 만나는 지점</span>을 말합니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						동양인 대부분의 경우 이 A 포인트가 전진된 형태의 돌출입이 많고, 이것은 곧 잇몸뼈 자체가 전진되어 있다는 것을 의미하죠.<br class="hidden-tm">
						따라서 보다 효과적인 돌출입 수술을 위해서는 치아를 포함한 위턱을 절골하여 A 포인트를 이동시키는 것에 집중해야 합니다.<br><br>

						<span class="color-white">바노바기는 이 A 포인트의 확실한 이동을 추구합니다.</span><br class="hidden-tm">
						치밀한 수술 계획을 세워 이동될 뼈의 적절한 위치를 잡고 턱뼈를 이동시키기 때문에 그 결과가 보다 만족스럽죠.<br class="hidden-tm">
						또, 보다 정확한 뼈 절골을 통해 혈관을 보존하고 조직 손상을 줄여, 더욱 안전하고 부담이 적은 수술을 기대할 수 있습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/protrusion/protrusion_img_11.jpg" loading="lazy" alt="바노바기 돌출입 수술 A 포인트" class="img-normal"/>
					</div>
					<div class="inner-box type-list-img">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit tit-new2">
								A 포인트를 보다 효과적으로 이동시키는<br class="hidden-tm">
								<strong class="weight-regular">바노바기 돌출입 수술</strong>
							</h5>
							<div class="new-description__wide">
								<div class="img-style3">
									<ul class="img-style3__list">
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/contour/protrusion/protrusion_img_12.jpg" loading="lazy" alt="A 포인트를 보다 효과적으로 이동시키는 바노바기 돌출입 수술" class="img-w100">
											</div>
										</li>
										<li class="img-style3__item">
											<div class="img-style3__img">
												<img src="../../images/contour/protrusion/protrusion_img_13.jpg" loading="lazy" alt="A 포인트를 보다 효과적으로 이동시키는 바노바기 돌출입 수술" class="img-w100">
											</div>
										</li>
									</ul>
								</div>
							</div>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										잇몸뼈를 포함한 적절한 교정으로 A 포인트의 효과적인 이동 추구
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										치밀하게 계획된 정교한 절골로 비교적 줄어드는 수술 부담
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										조직 손상을 줄이고 혈관을 보존하는 기술로 보다 안전함
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-protrusion4">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 <span class="n-color-contour2">치아 구조의 개선</span>과<br class="hidden-tm">
						<span class="n-color-contour2">미적 만족도</span>를 함께 생각합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						돌출입 수술은 올바른 치아 구조와 함께 미용적인 개선 또한 기대할 수 있는 방법입니다.하지만 얼굴의 입체감은 얼굴 옆선의 상대적인 높이로<br class="hidden-tm">
						결정되며 돌출입의 유형 또한 개개인마다 다르죠. 때문에 기능적으로 개선된 턱의 위치가 반드시 미용적으로도 이상적이라고 할 수만은 없는<br class="hidden-tm">
						것이 사실입니다. 만약 미용적으로 극적인 변화를 기대했던 환자분들이 수술 후 생각보다 만족감이 떨어진다고 얘기한다면, 이런 기능만을 생각한<br class="hidden-tm">
						획일화된 돌출입 수술이 원인일 가능성이 큽니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						그래서 바노바기는 개개인의 돌출입 유형을 세밀히 분류하여 그에 맞는 돌출입 수술을 진행합니다.<br class="hidden-tm">
                        <span class="n-color-contour2">치아 구조를 올바르게 교정하는 동시에 개개인의 콤플렉스를 개선할 수 있는 방법을 적용</span>하는 것이죠.<br class="hidden-tm">
						때문에 바노바기 돌출입 수술은 미용적인 개선 효과 또한 비교적 뛰어나며 보다 만족스럽습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/protrusion/protrusion_img_14.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-protrusion2">
					<div class="inner-box">
						<div class="process-style4 type-contour">
							<h5 class="new-content-tit tit-new2">
								개개인에 맞는 <span class="weight-regular">유형별 수술</span>
							</h5>

							<div class="inner-circle type-contour type-mbig type-cling">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											보다 이상적인<br>
											프로화일로<br>
											살아나는<br>
											입체감
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											매력적인 입매로<br>
											더욱 화사해지는<br>
											인상
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											균형 잡힌<br>
											얼굴형의 조화로<br>
											보다 세련된 느낌<br>
											강조
										</div>
									</li>
								</ul>
							</div>

							<ul class="process-style4__list">
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">01</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_15.jpg" loading="lazy" alt="잇몸이 보이는 돌출입" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">잇몸이 보이는 돌출입</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">돌출입 수술 + 양악 수술</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">02</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_16.jpg" loading="lazy" alt="입술이 다물어지지 않는 돌출입" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">입술이 다물어지지 않는 돌출입</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">돌출입 수술 + 복합분절 삼악 수술</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">03</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_17.jpg" loading="lazy" alt="팔자주름이 깊은 돌출입" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">팔자주름이 깊은 돌출입</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">돌출입 수술 + 미니양악</div>
										</div>
									</div>
								</li>
								<li class="process-style4__item">
									<div class="process-style4__inner">
										<span class="process-style4__number txt-new2">04</span>
										<div class="process-style4__box">
											<img src="../../images/contour/protrusion/protrusion_img_18.jpg" loading="lazy" alt="퉁명스러워 보이는 돌출입" class="img-w100"/>
											<div class="process-style4__caption txt-new2">
												<div class="process-style4__vertical">퉁명스러워 보이는 돌출입</div>
											</div>
										</div>
										<div class="process-style4__result txt-new2">
											<div class="process-style4__vertical">돌출입 수술 + 윤곽 수술</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-protrusion3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        보다 만족스러운 결과와 빠른 회복,<br class="hidden-tm">
                        <span class="n-color-contour3">후 관리가 핵심</span>입니다
                    </h4>
					<p class="new-style1__txt txt-new2">
						돌출입 수술은 <span class="n-color-contour3">수술 후 관리에 따라 그 결과 또한 달라집니다.</span><br class="hidden-tm">
						근육이나 피부 같은 연부 조직들이 수술 후 변화된 턱의 모양에 맞게 자리 잡아야, 처음 수술 계획
						단계에서 기대했던 결과가 나올 수 있기 때문입니다.
					</p>
                    <p class="new-style1__txt2 txt-new1">
                        따라서 돌출입 수술은 정밀한 수술만큼이나 회복과 부기 관리에 신경을 써야 합니다. 바노바기는 <span class="color-white">다양한 임상과 경험을 토대로<br class="hidden-tm">
						수술만큼이나 체계적인 후 관리 노하우</span>를 가지고 있습니다. 각 상황과 단계에 맞는 후 처치 매뉴얼이 있고, 엘라스톤 테라피와 같은<br class="hidden-tm">
						기기를 사용한 집중 관리를 진행하죠. 보다 자연스러운 표정과 효과적인 얼굴형 개선, 바노바기가 자신 있는 이유입니다.
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-txt tit-new2">엘라스톤 테라피</h5>
							<p class="new-stripe__txt txt-new1">
								초음파, 스톤 테라피, 고주파 등을 이용하여 부기 감소, 면역력 증가와 동시에 피부에 탄력 효과 또한 기대할 수 있는 치료입니다.<br class="hidden-tm">
								주로 사각턱이나 광대 수술, 양악 수술 등 윤곽 성형 후 관리에 비교적 뛰어난 효과를 보입니다.
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" loading="lazy" alt="초음파 기기" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">초음파 기기</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											초음파의 미세한 진동이 피부와 신체에 닿으면 미세한 진동과 열로 인해 혈관확장 및 혈류량이 증가됩니다.<br class="hidden-tm">
											이를 통해 혈액 및 림프 순환을 도와 보다 빠른 부기 감소에 도움을 줍니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" loading="lazy" alt="스톤 테라피" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">스톤 테라피</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											온기를 담은 천연석을 사용하여 면역력을 높이고 긴장된 신경과 뭉친 근육을 이완시키는 온열요법입니다.<br class="hidden-tm">
											혈액순환을 원활하게 해 체내의 독소와 노폐물을 비교적 빠르게 정화시키며 부종 예방 효과가 뛰어납니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" loading="lazy" alt="고주파(RF) 기기" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">고주파(RF) 기기</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											고주파를 깊은 조직까지 전달하여 심부열을 발생시킵니다. 심부열은 진피층의 콜라겐을 자극하고 세포의 기능을
											증진시키며, 혈액순환 촉진과 신진대사가 활성화되어 탄력에 효과적입니다.
										</p>
									</div>
								</li>
							</ul>

							<a href="../contour/contourElastone.php" class="content-btn2 txt-new1"><span>엘라스톤 테라피 페이지 바로가기</span></a>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<!-- 바노바기 TV-->
			<div class="new-section" id="contentVideo">
				<div class="content-video">
					<h4 class="content-video__tit tit-new1">영상으로 보는 <span class="weight-regular inline-block">2030리프팅의 모든 것!!</span> </h4>
					<div class="content-video__outer">
						<div class="content-video__inner">
							<iframe src="https://www.youtube.com/embed/bUnirvPo8y0?controls=0" class="content-video__iframe"></iframe>
						</div>
						<div class="content-video__box">
							<div class="content-video__wrap">
								<div class="content-video__vertical">
									<h5 class="content-video__subject">바노바기TV</h5>
									<p class="content-video__txt">
										바노바기TV채널<br class="hidden-tm"> <span class="content-video__arrow">바로가기</span>
										<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="content-video__btn" target="_blank">바로가기</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //바노바기 TV-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 3시간~4시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 2~4일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
									바노바기에서 계획하는 보다 체계적인 후 관리를 통해 통증과 부기를 관리할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2">
					<h3 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h3>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-mini">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h4 class="bg-style2__subtit txt-new2">미니 양악</h4>
									<p class="bg-style2__txt txt-new1">
										귀족 수술이나 앞턱 수술이 더해지는 미니 양악을 통해<br class="hidden-tm">
										더욱 매력적인 프로화일을 추구할 수 있습니다.
									</p>
									<a href="contourMini.php" class="bg-style2__btn txt-new1">
										<span>미니 양악 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
