<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="contour detail-common" data-video="true">
  	<section class="fs_section contourFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-contour">
					뼈<span class="color-contour0">&middot;</span>근육<span class="color-contour0">&middot;</span>지방<span class="color-contour0">&middot;</span>피부 <span class="color-contour0 detail__first-piece type-contour">다차원적인 접근으로</span>
				</p>
				<h3 class="detail__first-txt type-contour">
					<span class="detail__first-bwrap">자연스러움을 만드는<b class="detail__first-bar type-contour"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-contour1">윤곽성형</span> 디테일<span class="color-contour1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
  	</section>

  	<section class="fs_section contourSection01" data-section-name="contourSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-contour type-quotation2">
			  		<h4 class="detail__section-tit">
						<strong>윤곽성형</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
						<strong class="color-contour2">이렇게</strong> 합니다
			  		</h4>
			  		<p class="detail__section-subtit">뼈가 아닌 사람을 바라보는 수술</p>
			 	 	<p class="detail__section-txt color-contour3">
				  		윤곽 수술의 목표는 뼈가 아닌, 겉으로 보이는 얼굴의 선과 비율을 아름답게 하는 것입니다.
				  		때문에 뼈의 변화만큼 근육과 피부의 변화도 계산하는 것이 중요하죠.
				  		바노바기는 얼굴의 표정 근육과 지방, 피부까지 정밀하게 분석하여
				  		작고 예쁜 얼굴에 자연스러운 표정까지 놓치지 않습니다.
			  		</p>
				</div>
			</div>
		</div>
  	</section>

	<section class="fs_section contourSection02" data-section-name="contourSection02">
  		<div class="detail__inner">
			<div class="detail__vertical">
		  		<div class="detail__section-box type-wide type-down type-contour type-another">
			 	 	<h4 class="detail__section-tit">
				  		<strong>윤곽성형</strong><span class="color-comma">,</span><br>
				  		<span class="detail__section-bwrap">바노바기는</span><br>
				  		<strong class="color-contour4">응용</strong>합니다
			  		</h4>
			  		<p class="detail__section-subtit">아름다운 얼굴형과 안티에이징을 동시에</p>
			  		<p class="detail__section-txt">
				  		뼈를 깎는 것도, 처진 살을 올려주는 것도, 얼굴 지방을 줄이는 것도, 모두 얼굴 윤곽을 개선하기 위한 방법입니다.
				  		그래서 바노바기는 이 세 가지를 묶었습니다.
				  		<span class="color-contour5">처진 살을 당겨주는 탄력밴드와 지방을 교정하고 피부에 탄력을 주는 아큐스컬프가 응용된 윤곽 성형, </span>
				  		바노바기 안면 윤곽 전담팀이 자신 있게 제안합니다.
			  		</p>
		  		</div>
		 	 	<div class="diagram">
					<ul class="diagram__list">
						<li class="diagram__item nth-1">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">엘라스컬프<br>윤곽</h5>
							</div>
						</li>
						<li class="diagram__item nth-2">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">안면윤곽</h5>
								<p class="diagram__txt">
									얼굴 처짐이 거의 없는,<br>
									탄력 있는 V라인 추구
								</p>
							</div>
						</li>
						<li class="diagram__item nth-3">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">엘라스티꿈</h5>
								<p class="diagram__txt">
									탄력밴드 리프팅이<br>
									얼굴 처짐 개선
								</p>
							</div>
						</li>
						<li class="diagram__item nth-4">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">아큐스컬프</h5>
								<p class="diagram__txt">
									아큐스컬프로 지방 교정,<br>
									윤곽 정리, 탄력 강화
								</p>
							</div>
						</li>
					</ul>
		  		</div>
			</div>
	  	</div>
  	</section>

  	<section class="fs_section contourSection03" data-section-name="contourSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-contour">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">체계적인 수술 준비과정<span class="color-contour1">.</span></h5>
					<p class="detail__popup-subtit">체계적인 준비가 안면윤곽의 완성도를<br class="hidden-pt"> 높여줍니다.</p>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">3D 안면 CT<br class="hidden-m"> 정밀 계측기</h6>
								<p class="detail__popup-txt">얼굴 전용 3D 스캔 / 골밀도 측정 해부학적 분석 / 성형 후 예측</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">스페셜 종합 검진<br class="hidden-m"> 선택 가능</h6>
								<p class="detail__popup-txt">환자의 몸 상태를 체크하여<br class="hidden-m"> 더욱 안전하고 전문적인<br class="hidden-m"> 수술 가능</p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">원장님의<br class="hidden-m"> 심층 상담</h6>
								<p class="detail__popup-txt">효과적인 개선을 위한<br class="hidden-m"> 전문적인 분석</p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
			<div class="detail__section-wrap type-contour">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-contour type-quotation2">
						<h4 class="detail__section-tit">
							<strong>윤곽성형</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap"><span class="color-contour6">첫 단추가</span></span><br>
							중요합니다
						</h4>
						<p class="detail__section-subtit">신형 장비와 심층 상담을 통한<br class="hidden-m"> 체계적인 준비</p>
						<p class="detail__section-txt color-contour3">
							얼굴은 입체적입니다. 그래서 바노바기 윤곽 성형은 여러 각도에서의 형태 파악과 객관적인 데이터를 기반으로 진행됩니다.
							또한 자연스러운 표정을 위해 전문의가 얼굴 층을 해부학적으로 분석하죠.
							바노바기는 웃고 말하는 모습까지 예쁜 얼굴을 위해,
							얼굴형을 만드는 기초부터 세심합니다.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-contour">
			<div class="detail__section-set">
				바노바기의 체계적인<br class="hidden-pt"> 수술 준비과정
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-contour">팝업버튼</a></span>
			</div>
		</div>
  	</section>

  	<section class="fs_section contourSection04" data-section-name="contourSection04">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
		  		<div class="detail__section-box type-wide type-contour type-full">
			  		<h4 class="detail__section-tit">
				  		<strong>윤곽성형</strong><span class="color-comma">,</span><br>
				  		<span class="detail__section-bwrap">바노바기는</span><br class="hidden-tm">
				  		<strong class="color-contour4">디테일</strong>합니다
			  		</h4>
			  		<p class="detail__section-subtit">결과가 남다른 바노바기의 비결,<br class="hidden-t"> 수술 후 집중 케어</p>
			  		<p class="detail__section-txt">
				  		아무리 잘 된 수술이라도 회복 과정에 따라 그 결과가 다르게 나타납니다.
				  		개선된 뼈에 맞추어 근육과 피부가 예쁘게 자리 잡는 것이 중요하니까요.
				  		바노바기는 다년간의 경험과 데이터를 근거로 하여 전문 케어 시스템을 체계화했습니다.
				  		<span class="color-contour5">집중적이고 전문적인 수술 후 관리로 보다 나은 수술 결과를 추구합니다.</span>
			  		</p>
		  		</div>
		  		<div class="layer-doc2">
					<ul class="layer-doc2__list">
						<li class="layer-doc2__item nth-1">
							<div class="layer-doc2__box">
								<div class="layer-doc2__wrap">
									<p class="layer-doc2__txt">정기적으로<br> 상태를 체크하는</p>
									<h5 class="layer-doc2__tit">정기 검진<br> 시스템</h5>
								</div>
							</div>
						</li>
						<li class="layer-doc2__item nth-2">
							<div class="layer-doc2__box">
								<div class="layer-doc2__wrap">
									<p class="layer-doc2__txt">집중 회복을<br> 위해 다양한</p>
									<h5 class="layer-doc2__tit">신형 의료기기<br> 사용</h5>
								</div>
							</div>
						</li>
						<li class="layer-doc2__item nth-3">
							<div class="layer-doc2__box">
								<div class="layer-doc2__wrap">
									<p class="layer-doc2__txt">불편함을 줄여주고<br> 더 좋은 결과를 만드는</p>
									<h5 class="layer-doc2__tit">회복 과정의<br> 체계화</h5>
								</div>
							</div>
						</li>
					</ul>
		  		</div>
			</div>
	  	</div>
  	</section>
	<section class="fs_section contourSection05 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Special</span> Surgery</p>
					<h4 class="detail-doctor__tit">바노바기의 디테일한 <span class="weight-medium detail-doctor__highlight">스페셜성형전담팀</span></h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">성형외과전문의</p>
													<p class="detail-doctor__name">반재상<span class="detail-doctor__small">원장님</span></p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ 의료진을 <span class="weight-medium">클릭</span>하면 <span class="weight-medium">소개페이지로 이동</span>합니다.</p>
				</div>
			</div>
	  	</div>
  	</section>
	<section class="fs_section contour-section99" data-section-name="contour-section99" id="contour-section99">
		<div class="onepage-video type-contour">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt type-star">오직 윤곽만 20년<i>!</i></p>
					<h3 class="onepage-video__tit">바노바기 안면윤곽</h3>
					<h4 class="onepage-video__subtit">서울대 출신 안면윤곽 전문의팀</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<iframe id="onepage-video__iframe" src="https://player.vimeo.com/video/357729125?loop=1&amp;quality=1080p" class="onepage-video__iframe" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">상담신청</a>
					<div class="onepage-video__arrow"><img src="../../images/content/detail_scroll.png" class="img-normal" loading="lazy" alt="스크롤 - 아래로"/></div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
