<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">

	<% include ../_include/_lnb %>

    <div class="content" data-page="contour-man">
		<div class="new-visual type-contourman">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">여성과는 다른 남성의 특징을 아는 정밀한 개선!</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-contour2">남자</span> 안면윤곽
                        </h3>
						<p class="new-visual__txt">남자의 포인트를 살려 더욱 멋스럽게</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#황금비율얼굴형</span></li>
							<li class="new-visual__item"><span>#남성적인매력</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-contourman">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-contour2">남성에게 맞는 윤곽 성형 계획</span>으로<br class="hidden-tm">
						부담을 덜어드립니다
					</h4>
					<p class="new-style1__txt txt-new1">
						한때 안면윤곽 성형은 여성들의 전유물로 여겨지기도 했습니다. <br class="hidden-tm">
						하지만 남성들도 스스로를 가꾸는 시대가 오면서, 이제 <span class="mark-contour weight-regular">많은 남성분들이 안면윤곽 성형을 통해 자신의 콤플렉스를 개선</span>하고 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						특히 최근에는 기존의 여성을 위한 윤곽 성형이 아닌 <span class="weight-regular">남성의 특징에 맞는 안면윤곽 성형 기술이<br class="hidden-tm"> 발전</span>되면서 단순히 주걱턱, 사각턱, 튀어나온 광대 등과 같은 콤플렉스를 개선하는 것에 그치지 않고 더욱 <span class="n-color-contour2">남성적인 매력을 어필할 수 있는 효과적인 방법으로 자리매김</span>하게 되었습니다.
                    </p>
					<p class="new-style1__txt txt-new1">
						따라서 남성분들이라도 얼굴형에 대한 고민을 안고 있다면<br class="hidden-tm">
						<span class="mark-contour weight-regular">윤곽 성형에 대한 막연한 거부감이나 부담감은 내려두고 편하게 상담</span>을 받아보셨으면 합니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/contourman/contourman_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-contourman2">
					<div class="inner-box">
						<div class="process-style3 type-mobile-full type-contour">
							<h5 class="new-content-tit tit-new2">
								남자 안면윤곽을 통한 <span class="weight-regular">개선</span>
							</h5>

							<div class="process-style3__box">
								<ul class="process-style3__list">
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/contourman/contourman_img_2.jpg" loading="lazy" alt="얼굴을 길어 보이게 만드는 긴 턱이나 주걱턱" class="img-w100">
										</div>
										<div class="process-style3__caption txt-new2 js-height">
											<div class="process-style3__vertical">
												얼굴을 길어 보이게 만드는<br class="hidden-tm">
												긴 턱이나 주걱턱
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/contourman/contourman_img_3.jpg" loading="lazy" alt="튀어나온 광대" class="img-w100">
										</div>
										<div class="process-style3__caption txt-new2 js-height">
											<div class="process-style3__vertical">
												튀어나온 광대
											</div>
										</div>
									</li>
									<li class="process-style3__item">
										<div class="process-style3__img">
											<img src="../../images/contour/contourman/contourman_img_4.jpg" loading="lazy" alt="세련되지 못한 인상을 주는 심한 사각턱" class="img-w100">
										</div>
										<div class="process-style3__caption txt-new2 js-height">
											<div class="process-style3__vertical">
												세련되지 못한 인상을 주는<br class="hidden-tm">
												심한 사각턱
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="process-style3__img">
								<img src="../../images/contour/contourman/contourman_img_5.jpg" loading="lazy" alt="부드러우면서도 남성적인 매력을 어필할 수 있는 얼굴형으로 개선" class="img-w100 hidden-tm">
								<img src="../../images/contour/contourman/contourman_img_5_t.jpg" loading="lazy" alt="부드러우면서도 남성적인 매력을 어필할 수 있는 얼굴형으로 개선" class="img-w100 hidden-p">
							</div>
							<div class="process-style3__result txt-new2">부드러우면서도 남성적인 매력을 어필할 수 있는 얼굴형으로 개선</div>
						</div>

						<p class="before-noti">
						    * 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span>
						</p>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-contourman3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						남자 안면윤곽은 <span class="n-color-contour2">귀 밑 각과 턱 끝, <br class="hidden-tm"> 비율이 핵심</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						같은 윤곽 성형이라도 <span class="weight-regular">여성과 남성의 윤곽 성형은 그 목적과 결과가 달라야 합니다.</span><br class="hidden-tm">
						여성분들이 갸름하면서도 매끄러운 곡선의 얼굴형을 추구하는 반면,<br class="hidden-tm">
						<span class="mark-white weight-regular">남성분들은 두드러진 뼈를 부드럽게 다듬으면서도 남성적인 포인트가 강조될 수 있는 얼굴형을 추구하기 때문</span>입니다.<br class="hidden-tm">
						바노바기는 이 부분을 보다 잘 이해하여 남자 윤곽 성형을 진행합니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour3">
						보다 효과적인 절골을 통해 얼굴 윤곽이 작고 정돈되어 보이는 동시에, <br class="hidden-tm">
						귀 밑의 각을 살리고 턱 끝의 폭을 적절히 유지하여 여성의 V라인과는 다른 <span class="weight-regular">남성적인 느낌을 강조</span>하죠.
						또, 황금비율을 적용하여 <span class="weight-regular">좌우 대칭뿐만 아니라 얼굴의 전반적인 비례</span>가 맞아떨어져<br class="hidden-tm">
						<span class="n-color-contour2">더욱 자연스럽고 완성도 높은 결과를 기대</span>할 수 있습니다.
                    </p>
					<div class="inner-circle type-mbig type-contour3">
					    <ul class="inner-circle__list">
					        <li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                정돈되어 보이는<br>
									얼굴 윤곽
					            </div>
					        </li>
					        <li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                남성적인 느낌<br>
									강조
					            </div>
					        </li>
					        <li class="inner-circle__item txt-new1">
					            <div class="vertical-box">
					                황금비율<br>
									얼굴형
					            </div>
					        </li>
					    </ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/contourman/contourman_img_6.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-contourman3">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">
							바노바기 남자 안면윤곽
							<span class="n-color-black1 weight-medium">포인트</span>
						</h5>

						<div class="img-table js-scroll-motion">
							<div class="img-table__outer">
								<div class="img-table__box type-img">
									<div class="img-table__inner">
										<img src="../../images/contour/contourman/img_table_img_1.jpg" class="img-table__img img-w100" alt="바노바기 남자 안면윤곽 포인트">
									</div>
								</div>
								<div class="img-table__box type-txt">
									<ul class="img-table__list">
										<li class="img-table__item is-active">
											<a href="" class="img-table__link js-img-table">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">귀밑 각이 살아 있는 턱선</h6>
													<p class="img-table__txt txt-new1">
														고운 V라인을 추구하는 여성의 턱선과는 달리,
														남성의 턱선은 귀 밑의 각을 살려 턱뼈를 절제하는 것이 핵심입니다.
													</p>
												</div>
											</a>
										</li>
										<li class="img-table__item">
											<a href="" class="img-table__link js-img-table">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">적당한 너비의 턱 끝</h6>
													<p class="img-table__txt txt-new1">
														뾰족하고 작은 턱 끝 보다는 적절한 입체감과
														너비를 가진 턱 끝으로 남성적 매력을 어필할 수 있습니다.
													</p>
												</div>
											</a>
										</li>
										<li class="img-table__item">
											<a href="" class="img-table__link js-img-table">
												<div class="img-table__wrap">
													<h6 class="img-table__tit txt-new2">황금비율 적용</h6>
													<p class="img-table__txt txt-new1">
														얼굴형을 이루는 윤곽선의 각도와 길이를 얼굴 전체적인 조화에
														맞추어, 얼굴이 보다 작아 보이면서도 윤곽이 또렷해 보이도록 합니다.
													</p>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-contourman4">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						안면윤곽 개선에 필요한 <span class="n-color-contour2">다양한 방법을 <br class="hidden-tm"> 제안</span>할 수 있습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						이마, 광대, 사각턱, 턱 끝 그리고 양악까지, 얼굴형을 결정짓는 요소들은 다양합니다. <br class="hidden-tm">
						그리고 이 다양한 부위들은 서로 상대적으로 연관되어 있기 때문에, <br class="hidden-tm">
						<span class="color-white">어느 특정 부위를 개선하더라도 다른 부위들과의 관계를 항상 계산에 넣어두는 것이 중요</span>합니다.<br><br>

						예를 들어 광대가 발달한 얼굴형을 가진 경우, 광대에 대한 계산 없이 단순히 사각턱을 개선하게 되면 상대적으로 광대가 더욱 부각되어 보이게 되죠.<br class="hidden-tm">
						따라서 <span class="mark-contour2 weight-regular">윤곽 성형은 얼굴형을 이루는 부위들에 대한 전반적인 전문성을 갖춘 전문의가 집도했을 때 더욱 효과적</span>입니다.<br><br>

						바노바기는 2000년 개원 이후 <span class="color-white">윤곽 성형 전담팀을 운영</span>하며, <br class="hidden-tm">
						얼굴뼈를 통한 얼굴형 개선은 물론 얼굴의 근육과 지방까지 조절하는 기술과 감각을 갖추고 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour3">
						때문에 얼굴의 전반적인 비례와 케이스에 맞는 개선법을 선택할 수 있고 <br class="hidden-tm">
						<span class="n-color-contour2">더욱 만족스러운 윤곽 성형이 가능</span>합니다.
                    </p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/contourman/contourman_img_7.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-contourman4">
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">
								<span class="weight-medium">전문성을 갖춘</span> 바노바기 윤곽 성형
							</h5>
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/contour/contourman/contourman_img_8.jpg" class="img-w100" loading="lazy" alt="전문성을 갖춘 바노바기 윤곽 성형">
								</li>
							</ul>
						</div>

						<div class="inner-stripe type-line-zero type-img-half">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_9.png" loading="lazy" alt="" class="img-responsive">
											</div>
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_10.gif" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
										<p class="inner-stripe__subject txt-new1 n-color-contour1">1. 사각턱 수술</p>
										<p class="inner-stripe__txt txt-new1">
											입체적인 턱의 형태를 고려하여 어느 각도에서도 매력적일 수 있도록, 한 번에 절골하는
											사각턱 수술을 진행합니다
										</p>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
									</div>
								</li>
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_11.png" loading="lazy" alt="" class="img-responsive">
											</div>
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_12.gif" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
										<p class="inner-stripe__subject txt-new1 n-color-contour1">2. 턱 끝 수술</p>
										<p class="inner-stripe__txt txt-new1">
											환자 개개인에 맞는 절골법을 선택하여 턱 끝의 길이 조절과 전진 및 후진 정도까지 비교적
											자유롭게 개선 가능합니다.
										</p>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
									</div>
								</li>
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_13.png" loading="lazy" alt="" class="img-responsive">
											</div>
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_14.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
										<p class="inner-stripe__subject txt-new1 n-color-contour1">3. 광대 수술</p>
										<p class="inner-stripe__txt txt-new1">
											한계에 가까운 절골을 통해 광대궁 복합체를 재배치하여 더욱 견고하고 효과적인 광대 수술이
											가능합니다.
										</p>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
									</div>
								</li>
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_15.png" loading="lazy" alt="" class="img-responsive">
											</div>
											<div class="inner-stripe__img">
												<img src="../../images/contour/contourman/contourman_img_16.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
										<p class="inner-stripe__subject txt-new1 n-color-contour1">4. 양악 수술</p>
										<p class="inner-stripe__txt txt-new1">
											구강악안면외과 전문의와 마취통증의학과 전문의 등과의 협진을 통해 더욱 안전하고 정밀하게
											턱의 교합을 맞추고, 악간 고정이 필요하지 않거나 기간이 단축됩니다.
										</p>
										<br class="hidden-m"> <!-- // 텍스트 줄 수가 적을 때 간격용 br -->
									</div>
								</li>
							</ul>
						</div>

						<div class="img-style1 type-line type-contourman">
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/contour/contourman/contourman_img_17.jpg" class="img-w100" loading="lazy" alt="">
								</li>
							</ul>
							<p class="img-style1__txt txt-new2 type-mt">
								바노바기 윤곽 성형 전담팀
							</p>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-contourman2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 <span class="n-color-contour1">다년간의 남자 안면윤곽 <br class="hidden-tm"> 경험</span>을 갖췄습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						남성은 기본적으로 여성보다 두꺼운 피부와 발달된 근육을 가지고 있습니다. <br class="hidden-tm">
						또, 뼈 자체도 여성에 비해 크고 모양도 미묘하게 다른 형태로 발달되어 있죠.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						따라서 보다 성공적인 남자 안면윤곽을 위해서는 전문의가 이러한 <span class="n-color-contour1 weight-regular">남성의 신체적 특징을 알고, <br class="hidden-tm">
						그에 맞는 기술과 노하우를 갖추었는지가 중요</span>합니다.
                    </p>
					<p class="new-style1__txt txt-new1">
						여성 윤곽 성형에 대한 경험만을 가지고 무턱대고 수술을 진행한다면 처음의 계산과는 전혀 다른 수술 결과가 나타날 수도 있죠.<br class="hidden-tm">
						바노바기는 2000년 개원 이후 <span class="mark-contour weight-regular">윤곽 성형 전담팀을 운영하며, 다양한 남자 안면윤곽 케이스를 경험하고 그 기술과 노하우를 축적</span>해왔습니다.<br class="hidden-tm">
						<span class="n-color-black1">상담 과정에서부터 남성의 신체적 특징을 파악하여 디자인하기 때문에 더욱 정밀하게 처음 계획대로의 수술이 가능</span>하죠.<br class="hidden-tm">
						그래서 바노바기 남자 안면윤곽은 결과 또한 보다 만족스럽습니다.
					</p>
					<div class="new-style1__img type-cling mobile-padding">
						<img src="../../images/contour/contourman/contourman_img_18.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-contourman2">
					<div class="inner-box">
						<div class="new-description type-pd0">
						    <h5 class="new-content-tit type-description tit-new2">
								<strong class="weight-regular">다년간의 남자 안면윤곽 경험</strong>으로 보다 만족스러운 결과
							</h5>
						    <ul class="new-description__list">
						        <li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                곡선을 살린 섬세한 절재로 만들어지는 입체적인 얼굴형
						            </p>
						        </li>
						        <li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                남성적 느낌이 손상되지 않는 부드러운 턱라인
						            </p>
						        </li>
						        <li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                작아진 얼굴과 세련된 이미지
						            </p>
						        </li>
								<li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                균형있게 갸름해진 남성 턱라인
						            </p>
						        </li>
						    </ul>
						</div>

						<div class="bg-style3 type-full">
						    <ul class="bg-style3__list">
						        <li class="bg-style3__item type-realman">
						            <div class="bg-style3__wrap">
						                <div class="bg-style3__box">
						                    <h6 class="bg-style3__subtit txt-new2">
												<span class="weight-medium">대세남</span> 리얼스토리
											</h6>
						                    <a href="/review/realstoryList.php?KIND=03" class="bg-style3__btn txt-new1">
						                        <span>자세히 보기</span>
						                    </a>
						                </div>
						            </div>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
				<div class="new-style1 type-contourman5">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						보다 만족스러운 결과와 비교적 빠른 회복, <br class="hidden-tm">
						<span class="n-color-contour2">후 관리가 핵심</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						안면윤곽을 결정짓는 것은 결국 겉으로 보이는 피부와 표정입니다. <br class="hidden-tm">
						때문에 윤곽 성형은 얼굴 근육과 피부를 정밀히 예측하여 뼈를 개선하려는 노력이 필요하죠. 하지만 이 노력은 단순히 수술에 국한되지 않습니다. <br class="hidden-tm">
						<span class="n-color-black1">윤곽 성형은 절개와 절골이 복합적으로 이루어져 비교적 부기가 심한데, 이</span>
						<span class="mark-white weight-regular">부기가 오래 남게 되면 피부 처짐으로 이어질 수도 있기 때문</span>입니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-contour3">
						따라서 남자 안면윤곽은 성공적인 수술만큼이나 <span class="n-color-contour2">회복과 부기 관리가<br class="hidden-tm"> 결과에 큰 영향</span>을 끼치게 됩니다.
                    </p>
					<p class="new-style1__txt txt-new1">
						바노바기는 다양한 임상과 경험을 토대로 수술 만큼이나 <span class="n-color-black1">체계적인 후 관리 노하우</span>를 가지고 있습니다.<br class="hidden-tm">
						각 상황과 단계에 맞는 후 처치 매뉴얼이 있고, <span class="n-color-black1">* 엘라스톤 테라피</span>와 같은 기기를 사용한 집중 관리를 진행하죠.<br class="hidden-tm">
						<span class="mark-white weight-regular">보다 자연스러운 표정과 효과적인 얼굴형 개선, 바노바기가 자신 있는 이유입니다</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/contourman/contourman_img_19.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-contourman3">
					<div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-txt tit-new2">엘라스톤 테라피</h5>
							<p class="new-stripe__txt txt-new1">
								초음파, 스톤 테라피, 고주파 등을 이용하여 부기 감소, 면역력 증가와 동시에 피부에 탄력 효과 또한 기대할 수 있는 치료입니다.<br class="hidden-tm">
								주로 사각턱이나 광대 수술, 양악 수술 등 윤곽 성형 후 관리에 비교적 뛰어난 효과를 보입니다.
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" loading="lazy" alt="초음파 기기" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">초음파 기기</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											초음파의 미세한 진동이 피부와 신체에 닿으면 미세한 진동과 열로 인해 혈관확장 및 혈류량이 증가됩니다.<br class="hidden-tm">
											이를 통해 혈액 및 림프 순환을 도와 보다 빠른 부기 감소에 도움을 줍니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" loading="lazy" alt="스톤 테라피" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">스톤 테라피</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											온기를 담은 천연석을 사용하여 면역력을 높이고 긴장된 신경과 뭉친 근육을 이완시키는 온열요법입니다.<br class="hidden-tm">
											혈액순환을 원활하게 해 체내의 독소와 노폐물을 비교적 빠르게 정화시키며 부종 예방 효과가 뛰어납니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" loading="lazy" alt="고주파(RF) 기기" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">고주파(RF) 기기</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											고주파를 깊은 조직까지 전달하여 심부열을 발생시킵니다. 심부열은 진피층의 콜라겐을 자극하고 세포의 기능을
											증진시키며, 혈액순환 촉진과 신진대사가 활성화되어 탄력에 효과적입니다.
										</p>
									</div>
								</li>
							</ul>

							<a href="../contour/contourElastone.php" class="content-btn2 txt-new1"><span>엘라스톤 테라피 페이지 바로가기</span></a>
						</div><!--new-stripe -->
                    </div>
				</div>
			</div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 30분 ~ 2시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1일 내외</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회 내외</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다. <br>
									실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
									체계적이고 지속적이 후 관리를 통해 통증과 부기를 관리할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div><!--//new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
