<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-bimaxillary">
		<div class="new-visual type-bimaxillary">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 안전하고 간편해진 턱 교합 교정</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">양악</span> 수술</h3>
						<p class="new-visual__txt">턱 기능의 회복과 작고 또렷한 얼굴형을 동시에</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#턱기능개선</span></li>
							<li class="new-visual__item"><span>#외모개선</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-bimaxillary">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						양악 수술은 <span class="n-color-contour2">턱의 구조를 바로잡는 수술</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						위턱(상악)과 아래턱(하악)의 교합이 맞지 않으면 음식물을 제대로 씹을 수 없거나, 말을 할 때 발음이 새는 등 일상의 불편함을 겪게 됩니다.<br class="hidden-tm">
                        그리고 비정상적인 근육의 반복된 사용으로, 얼굴의 비대칭이 가속화되거나 턱관절 손상이 심해지는 등 건강상의 문제가 동반될 수도 있죠.<br class="hidden-tm">
                        이러한 <span class="color-black1">양악의 교합 문제를 개선하기 위해 고안된 것이 양악 수술</span>입니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						양악 수술은 턱뼈 자체를 절골하고 이동시키는 수술이기 때문에 턱이 돌출했거나 안쪽으로 들어간 경우,<br class="hidden-tm">
                        뼈의 대칭이 맞지 않아 턱이 틀어진 경우 등 <span class="n-color-contour2">거의 모든 양악 문제에 적용할 수 있다는 장점</span>이 있습니다.
					</p>
                    <p class="new-style1__txt txt-new1">
						또, 양악 수술을 통해 턱의 구조가 바로잡히면 외모 개선의 효과도 기대할 수 있기 때문에 최근에는 턱 기능 개선과 동시에<br class="hidden-tm">
                        작고 또렷한 얼굴형을 추구할 수 있는 수술로 발전하고 있습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-bimaxillary2">
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">대표적인 양악 수술 대상</h5>

							<ul class="img-style1__list type-half">
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_2.jpg" class="img-w100" loading="lazy" alt="얼굴이 비뚤어진 안면비대칭인 경우"/>
                                    <h6 class="img-style1__subject txt-new1">얼굴이 비뚤어진 안면비대칭인 경우</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_3.jpg" class="img-w100" loading="lazy" alt="턱이 발달하여 얼굴이 길거나 주걱턱인 경우"/>
                                    <h6 class="img-style1__subject txt-new1">턱이 발달하여 얼굴이 길거나 주걱턱인 경우</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_4.jpg" class="img-w100" loading="lazy" alt="입이 전체적으로 돌출됐거나 반대로 턱이 들어간 경우"/>
                                    <h6 class="img-style1__subject txt-new1">입이 전체적으로 돌출됐거나 반대로 턱이 들어간 경우</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_5.jpg" class="img-w100" loading="lazy" alt="웃을 때 잇몸 노출이 심한 경우"/>
                                    <h6 class="img-style1__subject txt-new1">웃을 때 잇몸 노출이 심한 경우</h6>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        턱뼈가 변화되더라도 <span class="n-color-contour3">얼굴의 균형과<br class="hidden-tm">
                        표정은 자연스러워야 합니다</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        양악 수술은 뼈 자체를 절골하고 이동시키는 비교적 복잡한 수술입니다. 때문에 무엇보다 치밀한 설계와 충분한 기술이 필요한 수술이죠.<br class="hidden-tm">
						<span class="color-white">바노바기는 2000년 개원 이후 윤곽 성형 전담팀을 구성하여 지속적으로 양악 수술에 대한 경험과 노하우를 축적해왔습니다.</span><br class="hidden-tm">
                        수술 전 3D 안면 CT 정밀 계측기를 통한 진단과 심도 있는 상담을 통해 양악의 구조와 얼굴의 표정 근육까지 파악하고,<br class="hidden-tm">
                        마취통증의학과 전문의, 구강악안면외과 전문의 등과의 협진을 통해 더욱 안전하고 정밀한 수술을 진행하죠.<br class="hidden-tm">
                        때문에 <span class="color-white">신경이 손상되거나 양악이 틀어지는 등의 부작용이 거의 없고 수술 후 얼굴 전체의 밸런스와 표정까지 자연스러운 양악 수술이 가능</span>합니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_6.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style6">
							<h5 class="new-content-tit tit-new2">
								얼굴 전체의 밸런스와 표정까지 고려하는<br class="hidden-tm">
								바노바기 양악 수술
							</h5>

							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_7.jpg" loading="lazy" alt="오랜 양악 수술 경험과 노하우" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">오랜 양악 수술 경험과 노하우</h6>
												<p class="img-style6__txt2 txt-new1">완벽에 가까운 교합 개선과 유지</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_8.jpg" loading="lazy" alt="3D 안면 CT 정밀 계측기를 통한 진단과 심도 깊은 상담" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													3D 안면 CT 정밀 계측기를 통한 진단과<br class="hidden-tm">
													심도 깊은 상담
												</h6>
												<p class="img-style6__txt2 txt-new1">자연스러운 표정과 얼굴 밸런스</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_9.jpg" loading="lazy" alt="마취통증의학과 전문의 + 구강악안면외과 전문의 등과의 협진" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													마취통증의학과 전문의 + 구강악안면외과<br class="hidden-tm">
													전문의 등과의 협진
												</h6>
												<p class="img-style6__txt2 txt-new1">수술 후 부작용 거의 없음</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
                        바노바기 양악 수술은 <span class="n-color-contour2">2차 핀 제거<br class="hidden-tm">
						수술이 필요하지 않습니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						바노바기는 축적된 양악 수술 경험과 노하우에 안주하지 않고 더 나은 결과를 만들기 위해 끊임없이 연구했습니다.<br class="hidden-tm">
						환자분들의 수술에 대한 부담과 부작용의 가능성을 조금이라도 더 줄일 수 있게 하기 위해서입니다.<br class="hidden-tm">
						그래서 생각하게 된 것이 <span class="n-color-contour2">* 오스테오트랜스</span>를 사용한 뼈 고정입니다.<br><br>

						양악 수술은 턱뼈들을 절골하고 이동시키는 수술이기 때문에 그 뼈들을 고정시킬 플레이트와 핀 사용이 필수적입니다.<br class="hidden-tm">
						<span class="color-black1">기존 양악 수술은 그 재료로 스테인리스나 티타늄과 같은 순수 금속성 물질들을 사용해왔죠.</span><br class="hidden-tm">
						때문에 수술 후 이동된 뼈들이 어느 정도 자리가 잡히고 나면, 핀을 제거하기 위한 추가적인 수술이 필요했습니다.<br><br>

						바노바기가 사용하는 <span class="n-color-contour2">* 오스테오트랜스</span><span class="color-black1">는 합성고분자와 뼈 성분이 혼합된 생체친화적인 재료로,<br class="hidden-tm">
						티타늄과 버금가는 강도와 시간이 지나면 뼈에 흡수된다는 특징</span>을 가지고 있습니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						때문에 더욱 안정적인 양악 수술이 가능하고 엑스레이나 CT촬영에 그 흔적이 나타나지 않는다는 장점이 있죠.<br class="hidden-tm">
                        <span class="n-color-contour2">또, 2차 핀 제거 수술이 필요하지 않기 때문에 환자분들이 추가적인 수술로 인한 비용과 시간적인 부담을 겪지 않아도 됩니다.</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_10.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>

					<div class="inner-box type-bimaxillary">
						<div class="inner-stripe type-line-zero type-cling">
							<ul class="inner-stripe__list">
								<li class="inner-stripe__item">
									<div class="inner-stripe__wrap">
										<div class="inner-stripe__box">
											<div class="inner-stripe__img">
												<img src="../../images/contour/bimaxillary/bimaxillary_img_11.png" loading="lazy" alt="" class="img-responsive">
											</div>
										</div>
										<p class="inner-stripe__subject txt-new1 n-color-contour3">* 오스테오트랜스</p>
										<p class="inner-stripe__txt txt-new1">
											오스테오트랜스는 FDA, KFDA 등에 안전성을 입증 받은, 합성고분자(PLLA)와 수산화인회석(hydroxyapatite)이
											혼합된 재료입니다. 티타늄과 버금가는 강도를 가지고 있으며 수술 후 약해진 뼈에 흡수되어 뼈의 생성을 돕고 힘을
											보강해주는 특징을 가지고 있어 뼈 교정이 필요한 수술에 효과적으로 사용될 수 있습니다.
										</p>
									</div>
								</li>
							</ul>
						</div><!--//inner-stripe-->
					</div><!-- //inner-box -->

					<div class="inner-box">
						<div class="compare3">
							<h5 class="new-content-tit tit-new2">기존 티타늄 고정과 바노바기 오스테오트랜스 고정 비교</h5>

							<div class="compare3__wrap">
								<div class="compare3__box type-before">
									<div class="compare3__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_12.jpg" loading="lazy" alt="" class="img-w100"/>
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">비흡수성 (티타늄)</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												2차 핀 제거 수술 필요
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												비교적 강력한 고정
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												CT, 엑스레이 촬영 시에 흔적이 남음
											</div>
										</li>
									</ul>
								</div>

								<div class="compare3__box type-after">
									<div class="compare3__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_13.jpg" loading="lazy" alt="" class="img-w100"/>
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">흡수성 (오스테오트랜스)</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												2차 핀 제거 수술 필요 없음 : <br class="hidden-tm">
												2차 수술에 대한 통증, 비용, 시간적 부담↓
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												비교적 강력한 고정과 함께 뼈에 흡수되어 보강 효과 : <br class="hidden-tm">
												부작용 거의 없음
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												CT, 엑스레이 촬영 시에 흔적이 거의 남지 않음 : <br class="hidden-tm">
												자신감↑
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div><!-- //compare3 -->
					</div><!-- //inner-box -->
				</div>
			</div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary4">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        여러 불편함을 동반하는 악간 고정,<br class="hidden-tm">
                        <span class="n-color-contour2">바노바기에서는 비교적 자유롭습니다</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        악간 고정이란 이동된 상악과 하악의 위치가 변형되지 않고 유지되도록 윗니와 아랫니를 서로 묶어 고정하는 것을 말합니다.<br class="hidden-tm">
						기존의 양악 수술은 수술 후 이 과정이 반드시 필요했죠. 이 과정은 개개인마다 다르지만 약 3주 이상의 기간이 필요하며,<br class="hidden-tm">
						그 기간 동안에는 환자분들이 기본적인 호흡이나 식사, 대화, 청결 관리 등에 불편함을 감수해야 했습니다.<br class="hidden-tm">
						특히 호흡에 대한 불편함은 심리적 답답함과 함께 기도 확보를 하지 못할 경우 사고가 날 수도 있다는 단점이 있었죠.
                    </p>
					<p class="new-style1__txt2 txt-new2">
						하지만 바노바기는 양악 수술 후 <span class="n-color-contour2">따로 악간 고정을 하지 않습니다.</span>
					</p>
					<p class="new-style1__txt txt-new1">
                        정밀한 계산을 통해 위아래 턱을 적합한 위치로 이동시키고, 악간 고정이 없어도 그 위치에 자연스럽게 자리 잡을 수 있도록 유도하기 때문입니다.<br class="hidden-tm">
						그래서 <span class="color-black1">바노바기 양악 수술은 악간 고정으로 인한 부담이 적고 회복 또한 비교적 빠릅니다.</span>
                    </p>

					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_14.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-stripe tit-new2">악간 고정을 하지 않으면 무엇이 좋을까요?</h5>
							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_15.png" loading="lazy" alt="비교적 편합니다" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">비교적 편합니다</h6>
										<p class="new-stripe__txt2 txt-new1">
											대화나 식사가 비교적 자유로워 보다 편하게 회복에 집중할 수 있습니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_16.png" loading="lazy" alt="보다 안전합니다" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">보다 안전합니다</h6>
										<p class="new-stripe__txt2 txt-new1">
											수술 후 입안과 코 안이 붓게 되는데, 악간 고정을 하게 되면 기도 확보에 어려움이 있게 됩니다.<br class="hidden-tm">
											악간 고정을 하지 않으면 보다 호흡이 수월하여 더욱 안전한 회복이 가능합니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_17.png" loading="lazy" alt="염증 및 감염의 가능성이 줄어듭니다" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">염증 및 감염의 가능성이 줄어듭니다</h6>
										<p class="new-stripe__txt2 txt-new1">
											악간 고정을 하지 않으면 보다 구강 위생을 청결히 유지할 수 있기 때문에, 염증 및 감염 발생의<br class="hidden-tm">
											가능성이 줄어듭니다.
										</p>
									</div>
								</li>
							</ul>

							<p class="new-stripe__txt3 txt-new2">
								악간 고정을 하지 않는 방법은 굉장히 장점이 많지만 불행히도 모든 환자분들께<br class="hidden-tm">
								무조건적으로 적용할 수는 없습니다. 수술 전의 골격과 교합, 수술 중 뼈의 이동량,<br class="hidden-tm">
								수술 후 교합과 연부 조직의 적응 정도에 따라 악간 고정이 반드시 필요한 경우도 있죠. <br class="hidden-tm">
								하지만 <span class="n-color-contour2">바노바기에서는 이런 경우라도 악간 고정의 기간을 줄여 환자분들의<br class="hidden-tm">
								불편함을 줄일 수 있도록 노력하고 있습니다.</span>
							</p>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        보다 만족스러운 결과와 빠른 회복,<br class="hidden-tm">
                        <span class="n-color-contour3">후 관리가 핵심</span>입니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        아무리 턱뼈의 교정을 잘 한다고 해도 사람들이 마주하게 되는 것은 겉으로 보이는 피부와 표정입니다. <br class="hidden-tm">
						때문에 양악 수술의 최종 결과는 근육과 피부의 변화 또한 중요하죠. 특히 양악 수술은 절개와 절골이 복합적으로 이루어져 비교적 부기가 심한데,<br class="hidden-tm">
						이 부기가 오래 남게 되면 피부 처짐으로 이어질 수도 있습니다.<br class="hidden-tm">
						<span class="color-white">따라서 양악 수술은 성공적인 수술만큼이나 회복과 부기 관리가 결과에 큰 영향을 끼치게 됩니다.</span><br class="hidden-tm">
						바노바기는 다양한 임상과 경험을 토대로 수술만큼이나 체계적인 후 관리 노하우를 가지고 있습니다.<br class="hidden-tm">
						각 상황과 단계에 맞는 후 처치 매뉴얼이 있고, <span class="color-white">* 엘라스톤 테라피</span>와 같은 기기를 사용한 집중 관리를 진행하죠.<br class="hidden-tm">
						보다 자연스러운 표정과 효과적인 얼굴형 개선, 바노바기가 자신 있는 이유입니다.
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-txt tit-new2">엘라스톤 테라피</h5>
							<p class="new-stripe__txt txt-new1">
								초음파, 스톤 테라피, 고주파 등을 이용하여 부기 감소, 면역력 증가와 동시에 피부에 탄력 효과 또한 기대할 수 있는 치료입니다.<br class="hidden-tm">
								주로 사각턱이나 광대 수술, 양악 수술 등 윤곽 성형 후 관리에 비교적 뛰어난 효과를 보입니다.
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" loading="lazy" alt="초음파 기기" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">초음파 기기</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											초음파의 미세한 진동이 피부와 신체에 닿으면 미세한 진동과 열로 인해 혈관확장 및 혈류량이 증가됩니다.<br class="hidden-tm">
											이를 통해 혈액 및 림프 순환을 도와 보다 빠른 부기 감소에 도움을 줍니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" loading="lazy" alt="스톤 테라피" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">스톤 테라피</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											온기를 담은 천연석을 사용하여 면역력을 높이고 긴장된 신경과 뭉친 근육을 이완시키는 온열요법입니다.<br class="hidden-tm">
											혈액순환을 원활하게 해 체내의 독소와 노폐물을 비교적 빠르게 정화시키며 부종 예방 효과가 뛰어납니다.
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" loading="lazy" alt="고주파(RF) 기기" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">고주파(RF) 기기</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											고주파를 깊은 조직까지 전달하여 심부열을 발생시킵니다. 심부열은 진피층의 콜라겐을 자극하고 세포의 기능을
											증진시키며, 혈액순환 촉진과 신진대사가 활성화되어 탄력에 효과적입니다.
										</p>
									</div>
								</li>
							</ul>

							<a href="../contour/contourElastone.php" class="content-btn2 txt-new1"><span>엘라스톤 테라피 페이지 바로가기</span></a>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 3시간~4시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1~4일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
									악간 고정을 하지 않아 비교적 큰 불편함은 없습니다.<br>
									체계적이고 지속적인 후 관리를 통해 통증과 부기를 관리할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
