<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="contour-mini">
		<div class="new-visual type-mini">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 효율적인 얼굴형 고민 개선</p>
						<h3 class="new-visual__tit">미니<span class="n-color-contour2">양악</span></h3>
						<p class="new-visual__txt">복합적인 방법으로 마치 양악 수술을 한 듯</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#얼굴형개선</span></li>
							<li class="new-visual__item"><span>#복합적수술</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-mini">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						교합에 대한 문제가 크지 않다면<br class="hidden-tm">
                        꼭 <span class="n-color-contour2">양악 수술을 할 필요</span>는 없습니다
					</h4>
					<p class="new-style1__txt txt-new1">
						양악 수술은 다른 윤곽 성형 방법들 중에서도 특히 비교적 많은 변화량과 뛰어난 개선 효과를 기대할 수 있는 수술입니다. <br class="hidden-tm">
                        하지만 그 효과만큼 수술에 대한 부담이나 불편한 회복기간 등 환자분들이 감수해야 할 단점이 분명한 수술이기도 하죠.<br class="hidden-tm">
                        때문에 교합에 큰 문제가 없는 경우라면, 선뜻 양악 수술을 결심하기가 조금은 조심스러운 것이 사실입니다.
					<p class="new-style1__txt2 txt-new2">
						바노바기 미니양악은 이런 경우의 환자분들을 위해 고안된 윤곽 성형 방법입니다. <br class="hidden-tm">
                        <span class="n-color-contour2">치아를 포함하는 교합면을 이동시키지 않고, 다른 복합적인 방법을 통해 상악과 하악의 전·후진, 얼굴의 길이, 비대칭 등을 조절</span>하죠.<br class="hidden-tm">
                        때문에 양악 수술로 인한 부담은 줄어들면서도 그와 비슷한 효과를 기대할 수 있습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/mini/mini_img_1.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-mini2">
					<div class="inner-box">
						<div class="process-style5">
                            <h5 class="new-content-tit tit-new2">바노바기 미니양악이란?</h5>

                            <div class="process-style7">
                                <div class="process-style7__area type-cause">
                                    <div class="process-style7__outer">
                                        <div class="process-style7__inner txt-new1">
                                            얼굴형 고민을 개선하고 싶지만<br class="hidden-tm">
                                            교합에 큰 문제가 없어<br class="hidden-tm">
                                            양악 수술이 부담스럽다면?
                                        </div>
                                    </div>
                                </div>
                                <div class="process-style7__box">
                                    <ul class="process-style7__list">
                                        <li class="process-style7__item nth-1 txt-new1">
                                            <div class="process-style7__wrap js-height">
                                                <div class="process-style7__outer">
                                                    <div class="process-style7__inner txt-new1">
                                                        <span class="process-style7__txt">
                                                            양악 수술의 효과는
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="process-style7__item nth-2 txt-new1">
                                            <div class="process-style7__wrap js-height">
                                                <div class="process-style7__outer">
                                                    <div class="process-style7__inner txt-new1">
                                                        <span class="process-style7__txt">
                                                            양악 수술의<br class="hidden-p">
                                                            부담이나 불편함은
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="process-style7__area type-result">
                                    <div class="process-style7__outer">
                                        <div class="process-style7__inner txt-new2">
                                            바노바기 미니양악
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
				<div class="new-section__wrap type-gray2">
					<div class="new-section__box">
						<div class="new-style1 type-top0 type-bottom">
							<h4 class="new-style1__tit tit-new1 weight-regular">
								개개인에 맞는 <span class="n-color-contour2">복합적 수술</span>로 구성됩니다
							</h4>
							<p class="new-style1__txt txt-new1">
								바노바기 미니양악은 보다 만족스러운 결과를 위해 개개인 상태에 맞는 다양한 방법들을 복합적으로 사용합니다.<br class="hidden-tm">
								<span class="color-black1">턱의 길이를 줄이거나 턱 끝을 이동시키기 위해 앞턱 절골술을 시행할 수도 있으며, <br class="hidden-tm">
                                뼈 이식이나 보형물 삽입을 통해 부족한 형태를 채워줄 수도 있죠.</span><br class="hidden-tm">
                                경우에 따라서는 필러나 지방 이식과 같은 주사 시술을 병행하여 미세한 부분까지도 보다 효과적으로 개선할 수 있습니다.
							</p>
						</div>

						<h5 class="heading-bar type-contour">복합 수술로 이루어지는 바노바기 미니양악</h5>
                        <div class="img-style1">
							<ul class="img-style1__list">
								<li class="img-style1__item">
									<img src="../../images/contour/mini/mini_img_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="얼굴 중앙의 밋밋함, 깊은 팔자 주름, 돌출입 등:귀족 수술, 필러 시술 등으로 개선 / 짧은 턱, 무턱 등:턱 끝 보형물, 필러 시술 등으로 개선 / 긴 얼굴, 안면 비대칭 등:앞턱 수술, 사각턱 수술 등으로 개선">
                                    <img src="../../images/contour/mini/mini_img_2_t.jpg" class="img-w100 hidden-p" loading="lazy" alt="얼굴 중앙의 밋밋함, 깊은 팔자 주름, 돌출입 등:귀족 수술, 필러 시술 등으로 개선 / 짧은 턱, 무턱 등 : 턱 끝 보형물, 필러 시술 등으로 개선 / 긴 얼굴, 안면 비대칭 등:앞턱 수술, 사각턱 수술 등으로 개선">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling type-bottom">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기의 기술로 <span class="n-color-contour2">만족도는 높이고<br class="hidden-tm">
                        부담은 덜어드립니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						미니양악의 가장 큰 장점은 효율성이라고 할 수 있습니다.<br class="hidden-tm">
                        기존 양악 수술과 그 효과가 비슷하면서도, 보다 간편하고 비용적인 부담이 적은 수술이기 때문입니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						개개인에 대한 복합적 맞춤 수술이기 때문에 <span class="n-color-contour2">양악 수술처럼<br class="hidden-tm">
                        거의 모든 얼굴형 고민에 대한 개선이 가능</span>합니다. 그리고 그 효과 또한 뛰어나죠.
					</p>
                    <p class="new-style1__txt txt-new1">
						또, 상악과 하악의 전체적인 절골이 필요하지 않기 때문에 부작용이 거의 없고, <br class="hidden-tm">
                        교정 치료나 악간 고정을 하지 않으므로 비교적 빠른 회복과 자유로운 활동이 가능합니다.
					</p>
					<div class="inner-box type-mini">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">
								바노바기 미니양악의 <span class="weight-regular">장점</span>
							</h5>
							<div class="inner-circle type-bar type-contour type-cling">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											개개인에 맞는<br class="hidden-tm">
                                            복합수술로<br class="hidden-tm">
                                            거의 모든<br class="hidden-tm">
                                            얼굴형 고민 개선
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											마치<br class="hidden-tm">
                                            양악 수술을<br class="hidden-tm">
                                            한 듯한 효과
										</div>
									</li>
							 		<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											비교적 짧은<br class="hidden-tm">
                                            수술시간과<br class="hidden-tm">
                                            회복 기간
										</div>
									</li>
                                    <li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											양악 수술보다<br class="hidden-tm">
                                            적은 통증과<br class="hidden-tm">
                                            부작용 걱정
										</div>
									</li>
							 	</ul>
							</div>
							<ul class="img-style1__list type-mt">
								<li class="img-style1__item">
									<img src="../../images/contour/mini/mini_img_3.jpg" class="img-w100" loading="lazy" alt="오창현 원장, 박종림 원장, 박신기 원장">
                                    <h6 class="img-style1__subject txt-new2">오랜 윤곽 성형 경험과 노하우로 추구하는 보다 간편한 양악 수술</h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section type-cling">
				<div class="new-style1 type-mini3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						보다 만족스러운 결과와 빠른 회복,<br class="hidden-tm">
						<span class="n-color-contour2">후 관리가 핵심</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						상악과 하악을 전체적으로 절골하여 다시 고정시키는 양악 수술과는 달리, <br class="hidden-tm">
                        바노바기 미니양악은 주로 앞턱 절골이나 보형물 이식, 주사 시술과 같은 비교적 간단한 방법들로 진행됩니다. <br class="hidden-tm">
                        때문에 양악 수술에 비해 회복 기간이 짧고 통증 또한 적죠.<br class="hidden-tm">
                        또, <span class="color-white">다양한 임상과 경험을 토대로 한 체계적인 후 관리 노하우를 더하여, 보다 빠른 회복과 만족스러운 결과를 위해 노력합니다.</span>
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/contour/mini/mini_img_4.jpg" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
					</div>
				</div>
			</div><!--//new-section-->

            <div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 ~ 2시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다. <br>
									실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.<br>
									체계적이고 지속적이 후 관리를 통해 통증과 부기를 관리할 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div><!--//new-section-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
