<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-front">

		<% include ../_include/_tooltip %>

		<div class="new-visual type-front">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">작은 얼굴을 결정짓는 선명한 라인</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">앞턱</span> 수술</h3>
						<p class="new-visual__txt">얼굴형과 조화를 이루는 단정한 턱 선</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#앞턱수술</span></li>
							<li class="new-visual__item"><span>#작은얼굴</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-front">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						앞턱은 <span class="n-color-contour2">얼굴비율의 기준</span>이 됩니다
					</h4>
                    <p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						얼굴을 미간, 코 밑, 턱끝 으로 나눴을때 비율이 <span class="weight-medium">1 : 1 :  0.8~0.9로<br class="hidden-tm">
                        동일하거나 비슷한 얼굴이 균형 있는 얼굴</span>입니다.
                    </p>
                    <p class="new-style1__txt txt-new1">
						대게 얼굴의 크기를 측정하거나 비율을 따질 때, 이마에서 턱 끝까지의 길이를 기준으로 합니다.<br class="hidden-tm">
                        그것은 곧 앞턱의 위치에 따라 얼굴의 전반적인 비율도 달라진다는 말이죠. 그렇다면 앞턱이 어느 정도가 되어야<br class="hidden-tm">
                        이상적인 비율의 얼굴이 되는 것일까요?  사람들은 얼굴을 이마에서부터 미간, 코 밑, 턱 끝으로 나눴을 때, 비율이<br class="hidden-tm">
						1:1:0.8 정도가 되면 이상적인 얼굴이라고 느낍니다. 여기서 <span class="mark-contour weight-regular">앞턱의 길이가 길어지면 노안이나 억세 보이는<br class="hidden-tm">
                        인상을 주게 되고,  반대로 너무 짧아지면 목과 얼굴의 경계가 불분명해져 또렷하지 못한 느낌</span>을 주게 되죠.<br class="hidden-tm">
                        또, <span class="mark-contour weight-regular">턱 끝이 틀어진 경우나 뭉뚝하게 넓은 모양을 한 경우에도 미적으로 불만족</span>을 느끼게 됩니다.<br class="hidden-tm">
                        따라서 이런 경우에는 앞턱 수술을 통해 더욱 이상적인 얼굴 윤곽을 추구할 수 있습니다.
					</p>
					<div class="new-style1__img">
                        <img src="../../images/contour/front/front_img_1.png" loading="lazy" alt="이마와 헤어라인 경계-미간 1 : 미간-코밑 1 : 코 밑-턱 밑 0.8" class="img-normal hidden-m">
						<img src="../../images/contour/front/front_img_1_m.png" loading="lazy" alt="이마와 헤어라인 경계-미간 1 : 미간-코밑 1 : 코 밑-턱 밑 0.8" class="img-normal hidden-pt">
					</div>
				</div>
			</div><!-- //new-section-->

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-front2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        <span class="n-color-contour2">앞턱 수술은 입체적</span>으로<br class="hidden-tm">
                        접근해야 합니다
                    </h4>
                    <p class="new-style1__txt2 txt-new2 type-quotation type-contour">
						진정한 턱 끝 성형은 정면에서의  <span class="weight-medium">길이와 모양은 기본,<br class="hidden-tm">
                        측면에서의 입체감까지 고려</span>하는 것이라고 할 수 있습니다.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        일반적으로 앞턱 성형을 생각하면 턱의 길이나 V라인과 같은 정면에서의 턱 끝 모양에만 집중하게 되는 경우가<br class="hidden-tm">
                        많습니다. 하지만 턱 끝은 보다 입체적인 부위로, 얼굴 측면의 이미지를 결정짓는 중요한 포인트이기도 합니다.<br class="hidden-tm">
                        측면에서 <span class="mark-contour weight-regular">이마, 코, 턱 끝의 높낮이가 이상적으로 이루어졌을 때, 보다 매력적인</span> 프로화일을 가질 수 있죠.<br class="hidden-tm">
                        또한 앞턱이 적절히 전진되면 목과의 구별이 명확해져 얼굴이 더욱 또렷하고 갸름해 보이는 효과도 있습니다.
                    </p>
                    <div class="new-style1__img mobile-padding">
                        <img src="../../images/contour/front/front_img_2.jpg" loading="lazy" alt="광대 폭 1(기준) - 사각턱 폭 0.7 - 하안바디 폭 0.4" class="img-normal hidden-m"/>
                        <img src="../../images/contour/front/front_img_2_m.jpg" loading="lazy" alt="광대 폭 1(기준) - 사각턱 폭 0.7 - 하안바디 폭 0.4" class="img-normal hidden-pt"/>
                    </div>

                    <div class="inner-point type-contour">
                        <div class="inner-point__head">
                            <div class="inner-point__wrap">
                                <div class="inner-point__vertical">
                                    <h5 class="inner-point__tit tit-new2">
                                        앞턱 수술<br class="hidden-tm">
                                        <span class="weight-regular">POINT</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="inner-point__body">
                            <ul class="inner-point__list">
                                <li class="inner-point__item">
                                    <p class="inner-point__txt txt-new1">
                                        <span class="inner-point__plus">+</span>
                                        턱 끝으로 모아지는 갸름한 라인
                                    </p>
                                </li>
                                <li class="inner-point__item">
                                    <p class="inner-point__txt txt-new1">
                                        <span class="inner-point__plus">+</span>
                                        얼굴 비율과 어울리는 적절한 길이
                                    </p>
                                </li>
                                <li class="inner-point__item">
                                    <p class="inner-point__txt txt-new1">
                                        <span class="inner-point__plus">+</span>
                                        얼굴 측면 높낮이에 조화로운 전진 위치
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- //new-section-->

			<div class="new-tab__line">line</div>
            <div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">절골 앞턱 수술</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-broken" class="new-tab__link">절골 앞턱 수술</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-implant" class="new-tab__link">보형물 앞턱 교정</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-injection" class="new-tab__link">앞턱 주사시술</a>
						</div>
					</li>
				</ul>
			</div><!-- //new-tab -->

            <!-- 절골 앞턱 수술 -->
            <div class="new-tab-content page-broken is-active">
                <div class="new-section type-cling">
                    <div class="new-style1 type-front3">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
    						<span class="n-color-contour2">절골을 통한 앞턱 수술,</span><br class="hidden-tm">
                            거의 모든 케이스에 가능합니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
    						<span class="weight-medium">뼈 자체의 개선이기 때문에</span> 그 정도가 비교적 심한 경우에도<br class="hidden-tm">
    						개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            절골을 통한 앞턱 수술의 가장 큰 장점은 <span class="mark-contour weight-regular">다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것</span>입니다.<br class="hidden-tm">
                            다양한 수술법들이 고안되어, 턱이 길고 돌출된 경우, 짧고 들어간 경우, 삐뚤거나<br class="hidden-tm">
                            라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능합니다.
                        </p>

                        <div class="inner-circle3 type-contour type-even">
                            <ul class="inner-circle3__list">
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                턱 끝 전진
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                턱 뼈 후진
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                비대칭 교정
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                턱 끝 길이<br>
												단축
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                턱 끝 길이<br>
												연장
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

    					<div class="new-style1__img mobile-padding">
    						<img src="../../images/contour/front/front_img_3.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
    					</div>
    				</div>
                    <div class="new-style1 type-top0 type-bottom type-front4">
    					<div class="inner-box">
                            <div class="img-style3 type-three-narrow type-contour">
                                <h5 class="new-content-tit tit-new2">
                                    <span class="weight-regular">절골 앞턱 수술</span>이 필요한 유형
                                </h5>

    						    <ul class="img-style3__list">
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_4.jpg" alt="턱이 길고 돌출된 얼굴" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2">
    						               턱이 길고 돌출된 얼굴
    						            </div>
    						        </li>
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_5.jpg" alt="턱이 짧고 들어간 얼굴" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2">
    						                턱이 짧고 들어간 얼굴
    						            </div>
    						        </li>
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_6.jpg" alt="턱이 삐뚤어진 얼굴" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2">
    						                턱이 삐뚤어진 얼굴
    						            </div>
    						        </li>
    						    </ul>
    						</div>
    					</div>
    				</div>
				</div><!-- //new-section -->

                <div class="new-section type-cling">
                    <div class="new-style1 type-bottom type-front5">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
    						<span class="n-color-contour2">환자의 상태에 적합한 방법</span>이<br class="hidden-tm">
                            가장 좋은 방법입니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
                            가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고, 정밀한 진단을 통해<br class="hidden-tm">
    						<span class="weight-medium">환자 개개인에 적합한 방법을 선택하여 수술하는 것</span>이라고 할 수 있습니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진, ㅅ 절골, T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-tm">
                            각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 <span class="mark-contour weight-regular">한가지 방법을<br class="hidden-tm">
                            모든 환자분들에게 획일화하여 대입할 수는 없습니다.</span> 개개인마다 턱의 상태가 다르고, 추구하는 바 또한 다르기 때문입니다.
                        </p>

                        <div class="inner-box">
							<div class="compare4">
							    <h5 class="new-content-tit tit-new2">
							        앞턱이 <span class="weight-regular">너무 길거나 돌출</span>되었을 경우
							    </h5>
							    <ul class="compare4__list">
							        <li class="compare4__item">
							            <div class="compare4__img">
							                <img src="../../images/contour/front/front_img_7.gif" class="img-w100" loading="lazy" alt="ㅅ 자 절골">
							            </div>
							            <div class="compare4__caption txt-new2 type-gray2">
							                ㅅ 자 절골
							            </div>
							        </li>
							        <li class="compare4__item">
							            <div class="compare4__img">
							                <img src="../../images/contour/front/front_img_8.gif" class="img-w100" loading="lazy" alt="T 자 절골">
							            </div>
							            <div class="compare4__caption txt-new2 type-contour">
							                T 자 절골
							            </div>
							        </li>
							    </ul>
							</div>

							<div class="compare4">
							    <h5 class="new-content-tit tit-new2">
							        앞턱이 <span class="weight-regular">너무 짧거나 들어간</span> 경우
							    </h5>
							    <ul class="compare4__list">
							        <li class="compare4__item">
							            <div class="compare4__img">
							                <img src="../../images/contour/front/front_img_9.jpg" class="img-w100" loading="lazy" alt="ㅅ 자 절골">
							            </div>
							            <div class="compare4__caption txt-new2 type-contour">
							                앞턱 전진
							            </div>
							        </li>
							        <li class="compare4__item">
							            <div class="compare4__img">
							                <img src="../../images/contour/front/front_img_10.jpg" class="img-w100" loading="lazy" alt="T 자 절골">
							            </div>
							            <div class="compare4__caption txt-new2 type-gray2">
							                앞턱 + 뼈 이식
							            </div>
							        </li>
							    </ul>
							</div>
    					</div>
    				</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
                    <div class="new-style1 type-front6">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
							바노바기 윤곽 성형 전담팀의<br class="hidden-tm">
    						<span class="n-color-contour3">절골 앞턱 수술</span>은 효과적입니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
    						<span class="weight-medium">안면 근육과 지방, 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술</span>하기 때문에<br class="hidden-tm">
							앞턱 수술 후 생길 수 있는 조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다. <br class="hidden-tm">
                            수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로, 다양한 학술 교류와 연구로<br class="hidden-tm">
                            체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
                        </p>
						<div class="new-style1__img mobile-padding">
    						<img src="../../images/contour/front/front_img_11.png" loading="lazy" alt="바노바기 윤곽 성형 전문팀" class="img-normal">
    					</div>
    				</div>
					<div class="new-style1 type-top0 type-bottom type-front7">
    					<div class="inner-box">
                            <div class="img-style3 type-three-narrow type-contour">
    						    <ul class="img-style3__list">
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_12.jpg" alt="심도 있는 상담과 장비를 통한 정밀 진단" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2">
    						               심도 있는 상담과<br>
										   장비를 통한 정밀 진단
    						            </div>
    						        </li>
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_13.jpg" alt="오랜 경험과 노하우로 맞춤 수술 가능" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2">
    						                오랜 경험과 노하우로<br>
											맞춤 수술 가능
    						            </div>
    						        </li>
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_14.jpg" alt="얼굴 각 층에 대한 이해로 처짐없는 윤곽 추구" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2">
    						            	얼굴 각 층에 대한 이해로<br>
											처짐없는 윤곽 추구
    						            </div>
    						        </li>
    						    </ul>
    						</div>
    					</div>
    				</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
                    <div class="new-style1 type-front8">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
    						<span class="n-color-contour2">한 번의 수술로 개선</span>하는 것이<br class="hidden-tm">
							효과적입니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
    						<span class="weight-medium">앞턱 수술은 옆 턱과 앞 턱을 동시에 진행</span>해야<br class="hidden-tm">
							비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다. 
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다. 사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 두꺼운 앞 턱이<br class="hidden-tm">
                            고민이라면 턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 것이 좋습니다. 하지만 <span class="mark-contour weight-regular">실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다.</span><br class="hidden-tm">
							또한 입체적이죠. 그래서 앞턱 수술은 옆 턱과 앞 턱을 동시에 진행하는 것이 좋습니다.
                        </p>
						<div class="new-style1__img mobile-padding">
    						<img src="../../images/contour/front/front_img_15.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
    					</div>
    				</div>
					<div class="new-style1 type-top0 type-bottom type-front2">
    					<div class="inner-box">
							<div class="img-style1">
						        <h5 class="new-content-tit type-txt tit-new2">다양한 각도에서의 턱 모양을 고려한 <span class="weight-regular">입체적 수술</span></h5>
						        <p class="img-style1__txt txt-new1">
						            이런 수술 방법은 쉽지 않습니다. 환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 고려해야 되기 때문이죠.
									하지만 <span class="weight-medium">정밀한 계측과 숙련된 전문의의 기술을 갖춘 바노바기 윤곽 성형 전담팀</span>이기에 가능 합니다.
						        </p>
								<ul class="img-style1__list type-mt type-merge">
						            <li class="img-style1__item">
						                <img src="../../images/contour/square/square_img_3_1.jpg" class="img-w100" loading="lazy" alt="다양한 각도에서의 턱 모양을 고려한 입체적 수술">
						            </li>
						            <li class="img-style1__item">
						                <img src="../../images/contour/square/square_img_3_2.jpg" class="img-w100" loading="lazy" alt="정밀한 계측과 숙련된 전문의의 기술을 갖춘 바노바기 윤곽 성형 전담팀">
						            </li>
						        </ul>
						    </div>
    					</div>
    				</div>
				</div><!-- //new-section -->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">앞턱 수술에 맞는 회복을 제공합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 14일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다. <br>
										실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
										부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div><!-- //new-section -->
			</div><!-- //new-tab-content-->

			<!-- 보형물 앞턱 교정 -->
            <div class="new-tab-content page-implant">
				<div class="new-section type-cling">
                    <div class="new-style1 type-front9">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
							특정한 경우,<br class="hidden-tm">
    						<span class="n-color-contour3">보형물 앞턱 교정</span>도 가능합니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-contour">
    						<span class="weight-medium">턱이 작으면 목과 얼굴의 경계도 불분명하게 보입니다!</span><br class="hidden-tm">
    						또렷한 윤곽라인이 돋보이는 예쁜 턱으로 바꿔보세요!
                        </p>
                        <p class="new-style1__txt2 txt-new1">
							절골 수술에 대한 거부감이 크거나 진단 결과 굳이 절골이 필요하지 않은 정도라고 판단된다면,<br class="hidden-tm">
							보형물 앞턱 교정도 좋은 방법이 될 수 있습니다. 보형물 앞턱 교정이란
							<span class="pop-info type-contour">
								<a href="" class="info-btn js-info">
									<span class="info-btn__icon">인포버튼</span>
									실리콘, 고어텍스
									<span class="info-desc type-contour" style="display: none; opacity: 1;">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>실리콘, 고어텍스란?</span>
												<span class="info-desc__content">
													<img src="../../images/contour/front/front_img_19.jpg" loading="lazy" alt="실리콘, 고어텍스" class="info-desc__thumb">
													<span class="info-desc__txt1">
														오랜 임상을 통해 비교적 인체에 안전하다고 알려진 재료입니다.
														필요한 부분에 맞는 모양으로 다듬기에 용이하며 오랜 시간 변형이나 파손의 위험이 적다는 장점이 있습니다.
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left">태블릿 닫기</span>
												<span class="info-desc__stick type-another">태블릿 닫기</span>
												닫기
											</button>
										</span>
									</span>
								</a>
							</span>와 같은<br class="hidden-tm">
							보형물을 삽입하여 이상적인 턱 모양을 만들어주는 것을 말합니다. 턱의 부족한 길이를 보충하거나<br class="hidden-tm">
							전진시키는 원리이기 때문에 턱이 길거나 돌출된 턱에 대한 교정은 불가능하지만, <span class="mark-contour2 weight-regular">턱의<br class="hidden-tm">
							길이가 약간 짧거나 들어간 경우라면 부족한 입체감을 채우기에 효과적인 방법</span>이 될 수 있습니다.
                        </p>
					</div>
					<div class="new-style1 type-top0 type-bottom type-front9">
						<div class="inner-box type-bottom type-front">
                            <div class="img-style3 type-three-narrow type-contour">
    						    <ul class="img-style3__list">
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_16.jpg" alt="턱이 짧은 경우" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2 js-height">
											<div class="img-style3__vertical">
    						            		턱이 짧은 경우
											</div>
    						            </div>
    						        </li>
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_17.jpg" alt="턱이 들어가 입이 나와보이는 경우" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2 js-height">
											<div class="img-style3__vertical">
	    						                턱이 들어가<br>
												입이 나와보이는 경우
											</div>
    						            </div>
    						        </li>
    						        <li class="img-style3__item">
    						            <div class="img-style3__img">
    						                <img src="../../images/contour/front/front_img_18.jpg" alt="턱이 작아 이중턱 현상이 생긴 경우" class="img-w100">
    						            </div>
    						            <div class="img-style3__caption txt-new2 js-height">
											<div class="img-style3__vertical">
    						                	턱이 작아 이중턱<br>
												현상이 생긴 경우
											</div>
    						            </div>
    						        </li>
    						    </ul>
    						</div>
    					</div>
    				</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
                    <div class="new-style1 type-front10">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
							조건만 맞는다면<br class="hidden-tm">
    						<span class="n-color-contour1">장점이 굉장히 많은 수술</span>입니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-contour2">
    						<span class="weight-medium">보형물 삽입 시</span>에도 입술 안쪽을 절개하여 <span class="weight-medium">흉터에 대한 걱정이 비교적 적고 원하는 턱의 모양에<br class="hidden-tm">
							맞도록 보형물의 형태를 조절</span>할 수 있기 때문에 결과 또한 굉장히 만족스럽습니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            보형물 앞턱 교정의 가장 큰 장점은 절골을 통한 앞턱 수술에 비해 부담이 비교적 적다는 것입니다. <br class="hidden-tm">
                            턱뼈 형태에 맞게 다듬어진 보형물을 삽입하기만 하면 되는  <span class="mark-white weight-regular">비교적 간편한 방법의 수술</span>이기 때문에<br class="hidden-tm">
							수술 시간이 보다 짧고 회복 또한 비교적 빠릅니다.
                        </p>
						<div class="new-style1__img mobile-padding">
    						<img src="../../images/contour/front/front_img_20.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
    					</div>
    				</div>
					<div class="new-style1 type-top0 type-bottom type-front11">
    					<div class="inner-box">
							<h5 class="new-content-tit tit-new2">
								<span class="weight-regular">보형물 삽입</span> 과정
							</h5>
							<div class="step-style5 type-three type-contour">
								<ul class="step-style5__list">
									<li class="step-style5__item">
										<h6 class="step-style5__subject txt-new2">STEP. 01</h6>
										<img src="../../images/contour/front/front_img_21.jpg" loading="lazy" alt="절개-입술 안쪽을 약 1cm 1~2곳 정도 절개합니다." class="img-w100">
										<div class="step-style5__box js-height-second">
											<p class="step-style5__txt txt-new1">
												<span class="weight-medium">절개</span><br>
												입술 안쪽을 약 1cm 1~2곳 정도<br>
												절개합니다.
											</p>
										</div>
									</li>
									<li class="step-style5__item">
										<h6 class="step-style5__subject txt-new2">STEP. 02</h6>
										<img src="../../images/contour/front/front_img_22.jpg" loading="lazy" alt="보형물 삽입-본인의 뼈 형태에 맞게 다듬은 보형물을 넣습니다." class="img-w100">
										<div class="step-style5__box js-height-second">
											<p class="step-style5__txt txt-new1">
												<span class="weight-medium">보형물 삽입</span><br>
												본인의 뼈 형태에 맞게 다듬은<br>
												보형물을 넣습니다.
											</p>
										</div>
									</li>
									<li class="step-style5__item">
										<h6 class="step-style5__subject txt-new2">STEP. 03</h6>
										<img src="../../images/contour/front/front_img_23.jpg" loading="lazy" alt="봉합-보형물을 안전한 위치에 고정한 다음 봉합합니다." class="img-w100">
										<div class="step-style5__box js-height-second">
											<p class="step-style5__txt txt-new1">
												<span class="weight-medium">봉합</span><br>
												보형물을 안전한 위치에 고정한<br>
												다음 봉합합니다.
											</p>
										</div>
									</li>
								</ul>
							</div>
    					</div>
    				</div>
				</div><!-- //new-section -->

				<div class="new-section type-cling">
                    <div class="new-style1 type-bottom type-front12">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
							나에게 딱 맞는 보형물로<br class="hidden-tm">
    						<span class="n-color-contour1">예쁜 턱 모양과 선명한 윤곽라인</span>까지!
    					</h4>
                        <div class="inner-circle3 type-contour">
                            <ul class="inner-circle3__list">
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                입안 절개로<br class="hidden-tm">
												겉으로<br class="hidden-tm">
												보이지 않는 흉터
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                국소마취로도<br>
												가능한 수술
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                약 30분 정도의<br>
												짧은 시간
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                다양한 형태와<br>
												크기의 보형물
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                수술 후<br>
												당일 퇴원 가능
                                            </div>
                                        </div>
                                    </div>
                                </li>
								<li class="inner-circle3__item">
                                    <div class="inner-circle3__wrap">
                                        <div class="inner-circle3__vertical">
                                            <div class="inner-circle3__txt txt-new1">
                                                절골 없이도<br>
												아름다운 변화
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
    				</div>
				</div><!-- //new-section -->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">앞턱 수술에 맞는 회복을 제공합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">국소마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 2회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
										마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다. <br>
										실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. <br>
										부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div><!-- //new-section -->
			</div><!-- //new-tab-content-->

			<!-- 앞턱 주사시술 -->
            <div class="new-tab-content page-injection">
				<div class="new-section type-cling">
                    <div class="new-style1 type-front13">
    					<h4 class="new-style1__tit tit-new1 weight-regular">
							정밀하고 미세한 변화가 필요하다면<br class="hidden-tm">
    						<span class="n-color-contour1">앞턱주사시술</span>도 가능합니다
    					</h4>
    					<p class="new-style1__txt2 txt-new2 type-quotation type-white">
                            뼈 절골이나 보형물 삽입만큼의 효과는 없지만 앞턱에 약간의 볼륨감이 필요한 경우,<br class="hidden-tm">
    						<span class="weight-medium">비교적 간편한 방법</span>으로 앞턱의 모양을 잡아줄 수 있다는 장점이 있습니다.
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            뼈 절골이 부담스럽고 보형물 삽입 또한 꺼려진다면 앞턱 주사시술을 통해 약간의 볼륨감을 줄 수도 있습니다.<br class="hidden-tm">
                            <span class="mark-white weight-regular">뼈가 아닌 피부 아래층에 자가지방이나 필러를 주입</span>하여 부족한 볼륨은 채워 주는 것이죠.
                        </p>
						<div class="new-style1__img mobile-padding">
    						<img src="../../images/contour/front/front_img_24.png" loading="lazy" alt="바노바기 성형외과 성형모델" class="img-normal">
    					</div>
    				</div>

					<div class="new-style1 type-top0 type-bottom type-front14">
						<div class="inner-box">
							<div class="compare4 type-mobile-full">
							    <h5 class="new-content-tit tit-new2">
							        앞턱 시술 <span class="weight-regular">방법</span>
							    </h5>
							    <ul class="compare4__list">
							        <li class="compare4__item">
							            <div class="compare4__img">
							                <img src="../../images/contour/front/front_img_25.jpg" class="img-w100" loading="lazy" alt="자가지방세포 이식">
							            </div>
							            <div class="compare4__caption txt-new2 type-gray2">
							                자가지방세포 이식
							            </div>
										<div class="depiction type-bullet">
	                                        <ul class="depiction__list">
	                                            <li class="depiction__item txt-new1">허벅지나 복부 등에서 지방 채취</li>
	                                            <li class="depiction__item txt-new1">원심분리기를 이용해 지방세포 분리</li>
												<li class="depiction__item txt-new1">턱에 골고루 주입하여 높은 세포 생착률</li>
	                                        </ul>
	                                    </div>
							        </li>
							        <li class="compare4__item">
							            <div class="compare4__img">
							                <img src="../../images/contour/front/front_img_26.jpg" class="img-w100" loading="lazy" alt="아테콜 / 일반필러">
							            </div>
							            <div class="compare4__caption txt-new2 type-contour">
							                아테콜 / 일반필러
							            </div>
										<div class="depiction type-bullet">
	                                        <ul class="depiction__list">
	                                            <li class="depiction__item txt-new1">시술 전 마취크림 사용으로 비교적 적은 통증</li>
	                                            <li class="depiction__item txt-new1">미세한 바늘을 사용한 주사로 예쁜 형태</li>
												<li class="depiction__item txt-new1">반영구 필러인 아테콜 시술이 적합</li>
	                                        </ul>
	                                    </div>
							        </li>
							    </ul>
							</div>
    					</div>
					</div>
				</div><!-- //new-section -->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-contour type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">시술정보</h4>
								<!-- <p class="operation-v2__subtit">앞턱 수술에 맞는 회복을 제공합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">시술시간</h5>
											<p class="operation-v2__txt txt-new1">약 10분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">마취크림</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">필요없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-contour">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										통증에 민감하거나 두려움이 있는 환자분의 경우 정맥마취를 선택하여 진행할 수도 있습니다.<br>
										시술 후 약간의 얼얼함이 느껴질 수 있으나 곧 회복됩니다.<br>
										체질에 따라 약간의 붉은 기운이 남는 경우도 있지만 하루 정도 지나면 완화됩니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div><!-- //new-section -->
			</div><!-- //new-tab-content-->

			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-square">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">사각 턱 수술</h5>
									<p class="bg-style2__txt txt-new1">
										사각 턱 수술로 비율적으로 더욱 아름다운<br class="hidden-tm">
										얼굴 라인을 만들어 줍니다.
									</p>
									<a href="contourSquare.php" class="bg-style2__btn txt-new1">
										<span>사각 턱 수술 바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-cheek">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">광대 수술</h5>
									<p class="bg-style2__txt txt-new1">
										광대가 함께 발달한 경우라면 광대 수술을 함께 시행하여<br class="hidden-tm">
										갸름한 턱 선에 어울리는 얼굴형을 추구할 수 있습니다.
									</p>
									<a href="contourCheek.php" class="bg-style2__btn txt-new1">
										<span>광대 수술 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
