
.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.svfFirst{@include background('../images/svf/svf_detail_section01.jpg','center center/cover');
		& .detail__inner{text-align:center;}
	}
	&.svfSection01{@include background('../images/svf/svf_detail_section02.jpg','center center/cover');
		& .detail__section-box{top:-50px;}
	}
	&.svfSection02{@include background('../images/svf/svf_detail_section03.jpg','center center/cover');
		& .detail__section-txt{color:#a7a7a7;}
	}
	&.svfSection03{@include background('../images/svf/svf_detail_section04.jpg','center center/cover');
		& .detail__section-box{top:20px;}
	}
	&.svfSection04{@include background('../images/svf/svf_detail_section05.jpg','center center/cover');
		& .detail__section-box{width:574px; color:#333}
		& .detail__section-subtit{color:#333;}

	}
	&.svfSection05{@include background('../images/svf/svf_detail_section06.jpg','center center/cover');}
	&.svfSection06{@include background('../images/svf/svf_detail_section07.jpg','center center/cover');
		& .detail__section-box{width:440px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.svfFirst{@include background('../images/svf/svf_detail_section01_992.jpg','center center/cover');}
		&.svfSection01{@include background('../images/svf/svf_detail_section02_768.jpg','center center/cover');
			& .detail__section-box{top:auto; left:auto; bottom:-150px; }
		}
		&.svfSection02{@include background('../images/svf/svf_detail_section03_992.jpg','center center/cover');
			& .detail__section-box{top:-50px; width:260px;}
		}
		&.svfSection03{@include background('../images/svf/svf_detail_section04_768.jpg','center center/cover');
			& .detail__section-box{top:auto; left:auto; right:auto; bottom:-120px; width:250px;}
		}
		&.svfSection04{@include background('../images/svf/svf_detail_section05_992.jpg','center center/cover');
			& .detail__section-box{width:300px;}
			& .detail__section-txt{width:inherit;}
		}
		&.svfSection05{@include background('../images/svf/svf_detail_section06_992.jpg','center center/cover');
			& .detail__section-box{left:auto; margin-top:160px;}
		}
		&.svfSection06{@include background('../images/svf/svf_detail_section07_992.jpg','center center/cover');
			& .detail__section-box{top:auto; width:270px;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.svfFirst{@include background('../images/svf/svf_detail_section01.jpg','center center/cover');}
		&.svfSection01{@include background('../images/svf/svf_detail_section02.jpg','center center/cover');
			& .detail__section-box{top:50px;}
		}
		&.svfSection02{@include background('../images/svf/svf_detail_section03.jpg','center center/cover');
			& .detail__section-box{top: auto; width:400px;}
			& .detail__section-txt{color:#a7a7a7;}
		}
		&.svfSection03{@include background('../images/svf/svf_detail_section04.jpg','center center/cover');
			& .detail__section-box{top:-30px;}
			& .detail__section-box{top: -30px; left:auto; right:auto; bottom:auto; width: 390px;}
		}
		&.svfSection04{@include background('../images/svf/svf_detail_section05.jpg','center center/cover');
			& .detail__section-box{width:574px; color:#333}
			& .detail__section-subtit{color:#333;}
		}
		&.svfSection05{@include background('../images/svf/svf_detail_section06.jpg','center center/cover');
			& .detail__section-box{left:auto; margin-top:50px;}
		}
		&.svfSection06{@include background('../images/svf/svf_detail_section07.jpg','center center/cover');
			& .detail__section-box{width:440px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.svfFirst{@include background('../images/svf/svf_detail_section01_640.jpg','center center/cover');}
		&.svfSection01{height:610px !important; @include background('../images/svf/svf_detail_section02_640.jpg','center center/cover');
			& .detail__section-box{top:auto; bottom:auto; right:auto; width:170px;}
		}
		&.svfSection02{height:670px !important; @include background('../images/svf/svf_detail_section03_640.jpg','center center/cover');
			& .detail__section-box{top:auto; width:150px;}
		}
		&.svfSection03{height:850px !important; @include background('../images/svf/svf_detail_section04_640.jpg','center center/cover');
			& .detail__section-box{top:-210px; left:auto; bottom:auto; width:100%;}
		}
		&.svfSection04{height:670px !important; @include background('../images/svf/svf_detail_section05_640.jpg','center center/cover');
			& .detail__section-box{top:-20px; width:100%;}
		}
		&.svfSection05{height:758px !important; @include background('../images/svf/svf_detail_section06_640.jpg','center center/cover');
			& .detail__section-box{top:auto; right:auto; bottom:-10px; width:100%; margin-top:0;}
		}
		&.svfSection06{height:600px !important; @include background('../images/svf/svf_detail_section07_640.jpg','center center/cover');
			& .detail__section-box{top:auto; right:auto; bottom:auto; width:100%;}
		}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.svfSection04{
			& .detail__section-box{width:400px;}
		}
		&.svfSection05{
			& .detail__section-box{width:330px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.svfSection03{ @include background('../images/svf/svf_detail_section04_992.jpg','center center/cover');
			& .detail__section-box{width:220px;}
		}
	}
}

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-svf; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:536px; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:490px; font-size:1.3rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:16%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px; @include background('../images/svf/popup_img2.jpg','no-repeat center center/cover');
				 line-height:500px; color:#333; font-weight:400; background-color:#f5f5f5;
				@media only screen and (max-width:$mobile-size){
					@include background('../images/svf/popup_img2_m.jpg','f5f5f5 no-repeat center center/40px 442px'); height:459px; line-height:1.3; padding-top:205px; }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;
				@media only screen and (max-width:$mobile-size){height:125px;}
				@media only screen and (max-width:$iphone-size){height:140px;}
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;}
		&.type-another2{margin-top:40px;}
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){font-size:1rem;}
		@media only screen and (max-width:$iphone-size){font-size:0.9rem;}
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__wrap{display:table-svf; width:1%; height:80px; vertical-align:middle; padding:0 26px; box-sizing:border-box;
		@media only screen and (max-width:$mobile-size){padding:0 8px;}
	}
}

.layer-img{position:absolute; top:50%; right:15%; transform: translateY(-60%); -ms-transform: translateY(-60%);
	width:40.36%; height:49%; @include background('../images/svf/layer_img1.jpg','no-repeat center center/cover');
	@media only screen and (max-width:$tablet-size){top:auto; right:8%; left:auto; bottom:10%;  width:444px; height:282px; transform: none;
		 @include background('../images/svf/layer_img1.jpg','no-repeat center center/auto'); }
	@media only screen and (max-width:$mobile-size){position:relative; right:auto; bottom:auto; width:100%; height:0; margin-top:50px; padding-bottom:63.38%; background:none;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/svf/layer_img1_m.jpg','no-repeat center center/cover'); content:'';}
	}
}
.popup-info{margin-top:34px;
	&__img{overflow:hidden; width:300px; height:300px; margin:0px auto; @include background('../images/svf/svf_detail_popup2.png','no-repeat center top/contain'); text-indent:-9999px;}
	&__list{margin:20px 0 0 0;padding: 0;list-style: none;}
	&__item{font-size:18px; font-weight:400;
		& + &{margin-top:10px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:18px;
		&__img{width:206px; height:206px;}
		&__list{margin-top:12px;}
		&__item{font-size:1.3rem;
			& + &{margin-top:10px;}
		}
	}
}
.layer-img2{float:right; width:457px;box-sizing: border-box;
	&__box{overflow:hidden; width:100%; height:454px; @include background('../images/svf/svf_detail_layer1.jpg','no-repeat center center'); text-indent:-9999px;box-sizing: border-box;}
	&__dl{margin:10px 0 0 0; color:#d5d5d5; font-size:15px;}
	&__dt{float:left; font-weight:300;}
	&__dd{margin:0; padding-left:92px; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){width:52%;
		&__box{position:relative; width:100%; height:0; padding-bottom:100%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/svf/svf_detail_layer1.jpg','no-repeat center center/contain'); content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:60px; padding:0 10px;
		&__dl{font-size:1.2rem;}
		&__dd{padding-left:98px;}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){float:none; width:300px; margin:50px auto 0;}
}


.color-svf0{color:#ffea35; font-weight:400;}
.color-svf1{color:#fef4c0;}
.color-svf2{color:#ffcb16;}
.color-svf3{color:#b20424;}
.color-svf4{color:#94050c;}
.color-svf5{color:#f7d678;}
.color-svf6{color:#e0cd9f;}
.color-comma{color:#6c6c6c;}
