<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-live">바노바기 LIVE</h3>
		<p class="container__txt">바노바기 성형외과의 아름다움을 만드는 보이지 않는 기술입니다</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
			<div class="media">
				<div class="media__content">
					<h4 class="media__tit">BANOBAGI PLASTIC SURGERY CLINIC 'I am Detailist'</h4>
					<div class="media__video">
						<iframe src="https://www.youtube.com/embed/anuBCBYQJ_Q" frameborder="0"></iframe>
					</div>
					<p>
						누구도 속 시원히 다루지 못했던 ‘성형’ 현장의 생생한 목소리와 올바른 정보를 전달하는
						국내 최초 본격 성형 토크쇼! 가슴 ②편<br>
					</p><br>
					<p>(2017.11.23 방송)</p>
				</div>
				<div class="thumbnail-v1">
					<ul class="thumbnail-v1__list">
						<li class="thumbnail-v1__item">
							<div class="thumbnail-v1__img is-on">
								<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
							</div>
							<p class="thumbnail-v1__txt">
								<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
							</p>
							<a href="" class="thumbnail-v1__link">바로가기</a>
						</li>
						<li class="thumbnail-v1__item">
							<div class="thumbnail-v1__img">
								<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
							</div>
							<p class="thumbnail-v1__txt">
								<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>
							</p>
							<a href="" class="thumbnail-v1__link">바로가기</a>
						</li>
						<li class="thumbnail-v1__item">
							<div class="thumbnail-v1__img">
								<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
							</div>
							<p class="thumbnail-v1__txt">
								<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연
							</p>
							<a href="" class="thumbnail-v1__link">바로가기</a>
						</li>
						<li class="thumbnail-v1__item">
							<div class="thumbnail-v1__img">
								<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
							</div>
							<p class="thumbnail-v1__txt">
								<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연
							</p>
							<a href="" class="thumbnail-v1__link">바로가기</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div><!-- //board -->
	</div>
</div>
<% include ../_include/_footer %>
