<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-location">오시는 길 및 진료안내</h3>
		<p class="container__txt">역삼역 6번출구 바노바기 성형외과</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">딤처리</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
			<div class="map-motion__fake">
				<div class="map-motion__bg">
					<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
				</div>
			</div>
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br class="hidden-m"> 바노바기 빌딩</p>
				<p class="map__info-eng">
					517 Nonhyeon-Ro, Gangnam-Gu, Seoul Korea
				</p>
				<p class="map__info-tel"><span>TEL</span>1588-6508 · 02-562-6001</p>
				<ul class="map__info-list">
					<li class="map__ifno-item"><a href="http://blog.naver.com/banobagips/220879400530" target="_blank" class="map__info-link type-1">네이버</a></li>
					<li class="map__ifno-item hidden-tm"><a href="#" class="map__info-link type-2" OnClick="open_win();">프린트</a></li>
					<li class="map__ifno-item"><a href="" class="map__info-link type-3 js-sms-open">SMS</a></li>
				</ul>
				<div>
                    <a href="javascript:$.fnCounselOpen()" class="counseling-btn type-another js-consultation">상담신청</a>
                </div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<!-- 오시는길 -->
			<div class="location__info">
			   <ul class="location__list">
				   <li class="location__item location__item-img1">
					   <h4 class="location__tit">진료안내</h4>
					   <div class="location__box">
						   <dl class="location__dl">
							   <dt class="location__dt">월 ~ 금</dt>
							   <dd class="location__dd">09:30 ~ 18:30</dd>
							   <!--<dt class="location__dt">금요일</dt>
							   <dd class="location__dd night">09:30 ~ 20:00</dd>-->
							   <dt class="location__dt">토요일</dt>
							   <dd class="location__dd">09:30 ~ 16:00</dd>
						   </dl>
						   <span class="location__notice">(3/16, 4/20, 5/18, 6/15, 7/20 휴진)</span>
						   <span class="location__notice">※ 공휴일 및 일요일은 휴진입니다.</span>
					   </div>
				   </li>
				   <li class="location__item location__item-img2">
					   <h4 class="location__tit">버스</h4>
					   <p class="location__txt">
						   <strong class="bus-color1">간선버스</strong> 146, 147, 242, 341, 360, 463, 740, N13(심야), N61(심야), <br class="hidden-pt"><strong class="bus-color2">지선버스</strong> 4211, <br class="hidden-p hidden-m"><strong class="bus-color3">공항버스</strong> 6000, 6020,<br class="hidden-p"><strong class="bus-color4">직행버스</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
					   </p>
				   </li>
				   <li class="location__item location__item-img3">
					   <h4 class="location__tit">지하철</h4>
					   <p class="location__txt subway type-2">역삼역 6번 출구로 나와서 100m 정도 직진</p>
					   <p class="location__txt subway type-9">언주역 7번 출구로 나와서 400m 정도 직진</p>
				   </li>
				   <li class="location__item location__item-img4">
					   <h4 class="location__tit">자가용</h4>
					   <p class="location__txt">자가용 이용 고객님께는 발렛파킹 서비스를 제공해 드립니다.</p>
				   </li>
			   </ul>
			</div>
			<!-- //오시는길 -->

			<!-- 진료절차 -->
			<div class="location__step">
				<h4 class="location__step-tit">진료절차</h4>
				<ul class="step__list">
					<li class="step__item is-active"><a href="" class="step__link js-step" data-slide="1">예약</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="4">내원</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="7">수술 전 준비</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="12">수술 후 일정</a></li>
				</ul>
				<div class="step__box">
					<ul class="step__slide-list">
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img1.jpg" loading="lazy" alt="전화상담예약" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">예약</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">01</span>
									<h5 class="step__slide-tit">전화 상담예약</h5>
									<p class="step__slide-tel">1588-6508, <span class="inline-block">02-562-6001</span></p>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">中文咨询电话</dt>
										<dd class="step__slide-dd">02-564-6508</dd>
									</dl>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">ENGLISH</dt>
										<dd class="step__slide-dd">02-522-6636</dd>
									</dl>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">Việt Nam / Japanese</dt>
										<dd class="step__slide-dd">02-561-6601</dd>
									</dl>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img2.jpg" loading="lazy" alt="온라인 상담예약" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">예약</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">02</span>
									<h5 class="step__slide-tit">온라인 상담예약</h5>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">이메일문의</dt>
										<dd class="step__slide-dd">banobagi@naver.com</dd>
									</dl>
									<a href="javascript:$.fnOpenCounsel();" class="step__btn">실시간상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-katalk js-katalk">카톡상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-cost js-cost">비용상담</a>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img3.jpg" loading="lazy" alt="수술 전 주의사항" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">예약</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">03</span>
									<h5 class="step__slide-tit">수술 전 주의 사항</h5>
									<p class="step__txt">방문 당일 상담 및 수술 진행 시 아래 주의사항 필독</p>
									<p class="step__txt2">
										*수술전 8시간 금식<br>
										*감기, 호흡기질환등 몸에 이상이 있을 시 반드시 알림<br>
										*과거현재병력, 알레르기반응, 복용약물 등 반드시 알림
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img4.jpg" loading="lazy" alt="접수" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">내원</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">04</span>
									<h5 class="step__slide-tit">접수</h5>
									<p class="step__txt">
										간단한 설문조사 후, 진찰 전 사전 촬영 및 차트를 작성합니다. 담당 코디네이터 및 주치의를 결정합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img5.jpg" loading="lazy" alt="의료진 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">내원</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">05</span>
									<h5 class="step__slide-tit">의료진 상담</h5>
									<p class="step__txt">
										수술의 필요성 여부를 판단하고, 수술 방법을 결정합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img6.jpg" loading="lazy" alt="상담원 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">내원</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">06</span>
									<h5 class="step__slide-tit">상담원 상담</h5>
									<p class="step__txt">
										수술 스케줄 예약을 도와드리고 수술 전 주의사항을 고지합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img7.jpg" loading="lazy" alt="상담원 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 전 준비</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">07</span>
									<h5 class="step__slide-tit">수술전 준비</h5>
									<p class="step__txt">
										간단한 설문조사 후, 진찰 전 사전 촬영 및 차트를 작성합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img8.jpg" loading="lazy" alt="의학촬영" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 전 준비</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">08</span>
									<h5 class="step__slide-tit">의학촬영</h5>
									<p class="step__txt">
										필요 시 의학촬영을 진행합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img9.jpg" loading="lazy" alt="의료진 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 전 준비</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">09</span>
									<h5 class="step__slide-tit">의료진 상담</h5>
									<p class="step__txt">
										수술 전 세부사항을 설명 들은 뒤, 담당 의사에게 다시 한번 설명을 듣습니다. (수술 전 불안감 해소 및 수술의 확인을 얻게 됨)
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img10.jpg" loading="lazy" alt="마취안내" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 전 준비</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">10</span>
									<h5 class="step__slide-tit">마취안내</h5>
									<p class="step__txt">
										전신마취 수술 시 상주 마취통증의학과 전문의 선생님을 만납니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img11.jpg" loading="lazy" alt="수술" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 전 준비</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">11</span>
									<h5 class="step__slide-tit">수술</h5>
									<p class="step__txt">
										분야별 전문 의료인력을 통한 체계적인 전문적인 진료 시스템을 구축하여 수술을 진행합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img12.jpg" loading="lazy" alt="회복&amp;입원" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 후 일정</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">12</span>
									<h5 class="step__slide-tit">회복&amp;입원</h5>
									<p class="step__txt">
										수술 후 회복실에서 충분한 휴식을 취하신 후 간호사에 안내에 따라 퇴원 또는 입원실로 옮겨드립니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img13.jpg" loading="lazy" alt="자가 통증 조절" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 후 일정</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">13</span>
									<h5 class="step__slide-tit">자가 통증 조절</h5>
									<p class="step__txt">
										통증이 멎어야 빠르게 컨디션이 회복될 수 있습니다. 자가통증 조절기로 진통제를 자동 투여해 세세한 부분까지 놓치지 않도록 노력하고 있습니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img14.jpg" loading="lazy" alt="원장님 회진" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 후 일정</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">14</span>
									<h5 class="step__slide-tit">원장님 회진</h5>
									<p class="step__txt">
										필요한 경우 입원 후 담당 원장님이 환자의 경과를 체크합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img15.jpg" loading="lazy" alt="붓기 및 진정관리" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 후 일정</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">15</span>
									<h5 class="step__slide-tit">붓기 및 진정관리</h5>
									<p class="step__txt">
										환자분의 보다 빠른 회복을 위해 붓기 및 진정관리 서비스 제공하고 있습니다.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img16.jpg" loading="lazy" alt="흉터 치료" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">수술 후 일정</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">16</span>
									<h5 class="step__slide-tit">흉터 치료</h5>
									<p class="step__txt">
										필요에 따라 환자분들의 흉터에 대한 걱정을 해방시켜드리기 위해 흉터 치료 프로그램을 실시합니다.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //진료절차 -->
			<!-- pagination -->
	        <div class="pagination type-step">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-prev">
						<a href="#" class="pagination__link js-step-prev">
							<img src="../../images/common/paging_prev.png" loading="lazy" alt="Prev" class="invisible">
						</a>
					</li>
					<li class="pagination__item pagination__page">
						<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="#" class="pagination__link js-step-next">
							<img src="../../images/common/paging_next.png" loading="lazy" alt="Next" class="invisible">
						</a>
					</li>
				</ul>
	        </div>
	        <!-- //pagination -->
		</div>
		<!-- 문자 팝업 -->
		<div class="popup-sms">
			<div class="popup-sms__wrap">
				<div class="popup-sms__vertical">
					<p class="popup-sms__tit">
						연락처를 입력하시면<br>
						SMS로 <strong>약도를 전송</strong>해드립니다.
					</p>
					<div class="popup-sms__box">
						<input type="tel" placeholder="연락처를 입력해주세요" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
					<a href="" class="popup-sms__close js-sms-close">닫기</a>
				</div>
			</div>
		</div>
		<!-- // 문자팝업 끝 -->
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
