<%
	type = "detail-new"
	page = "introduce"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="onepage type-detail">
    <div class="detail-section type-visual cosmetic-section0" data-section-name="home">
		<div class="inner-wrap type-detail type-cosmetic">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
                        <div class="detail-visual type-cosmetic">
							<div class="detail-visual__logo">
                            	<img src="../../images/introduce/cosmetic/cosmetic_detail_img_1.png" class="img-normal" alt="바노바기 성형외과 X 바노바기 코스메틱"/>
							</div>

                            <div class="detail-visual__box">
                                <div class="detail-visual__wrap">
                                    <p class="detail-visual__subtit weight-regular">
                                        바노바기의<br>
                                        <span class="color-point2">유일한</span> 공식 화장품
                                    </p>
                                    <h3 class="detail-visual__tit weight-regular">
                                        바노바기<br>
                                        <span class="weight-bold">코스메틱</span>
                                    </h3>

									<div class="detail-visual__btn">
                                    	<a href="http://www.banobagicosmetic.co.kr/index.html" target="_blank" class="cosmetic-btn">공식 온라인몰 바로가기</a>
									</div>

                                    <div class="detail-visual__img">
                                        <img src="../../images/introduce/cosmetic/cosmetic_detail_img_2.png" class="img-normal" alt="바노바기 코스메틱"/>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail type-cosmetic">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>

	<div class="detail-section type-visual cosmetic-section1" data-section-name="cosmetic-section1">
		<div class="inner-wrap type-detail type-cosmetic2">
			<div class="onepage__box type-cosmetic">
				<div class="onepage__inner ">
					<div class="onepage__vertical">
                        <div class="cosmetic-detail1">
                            <div class="cosmetic-detail1__area">
                                <h4 class="cosmetic-detail1__tit">
                                    정품 인증
                                </h4>
                                <p class="cosmetic-detail1__subtit">
                                    <span class="weight-bold">KQR</span> CODE
                                </p>
                            </div>
                            <div class="cosmetic-detail1__box">
                                <p class="cosmetic-detail1__txt txt-new2">
                                    바노바기 제품 중, 유사품 논란이 가장 많은 <br class="hidden-tm">
                                    ‘비타 제닉 젤리 마스크’와 ‘비타 칵테일 호일 마스크’에는 <br class="hidden-tm">
                                    정품 인증 라벨이 부착되어 있으니 꼭 확인하시기 바랍니다.
                                </p>
                                <p class="cosmetic-detail1__txt2 txt-new1">
                                    바노바기 코스메틱 공식 온라인몰 <a href="http://www.banobagicosmetic.co.kr" target="_blank">www.banobagicosmetic.co.kr</a> 에서<br class="hidden-tm">
                                    정품 인증 방법에 대한 상세한 내용을 확인 하실 수 있습니다.
                                </p>
                                <a href="http://www.banobagicosmetic.co.kr/jc/page/certify.html" target="_blank" class="cosmetic-btn">정품 인증 방법 확인</a>

                                <div class="cosmetic-detail1__img">
									<img src="../../images/introduce/cosmetic/cosmetic_detail_img_3.png" class="img-normal hidden-m" alt="바노바기 정품 인증 라벨"/>
                                    <img src="../../images/introduce/cosmetic/cosmetic_detail_img_3_m.png" class="img-normal hidden-pt" alt="바노바기 정품 인증 라벨"/>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="detail-section type-visual cosmetic-section2" data-section-name="cosmetic-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
                        <div class="cosmetic-detail2">
                            <p class="cosmetic-detail2__subtit">
                                바노바기 대표 <span class="cosmetic-detail2__point">마스크팩</span> 라인
                            </p>
                            <h4 class="cosmetic-detail2__tit">
                                비타 제닉 젤리 마스크 <span class="cosmetic-detail2__point">7종</span>
                            </h4>

                            <div class="cosmetic-detail2__img">
                                <img src="../../images/introduce/cosmetic/cosmetic_detail_img_4.png" class="img-w100 hidden-m" alt="비타 제닉 젤리 마스크 7종"/>
                                <img src="../../images/introduce/cosmetic/cosmetic_detail_img_4_m.png" class="img-w100 hidden-pt" alt="비타 제닉 젤리 마스크 7종"/>
                            </div>

                            <a href="http://www.banobagicosmetic.co.kr/category/비타-제닉-젤리-마스크-라인/72/" target="_blank" class="cosmetic-btn type-cling">제품 상세보기</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="detail-section type-visual cosmetic-section3" data-section-name="cosmetic-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
                        <div class="cosmetic-detail2 type-cling">
                            <p class="cosmetic-detail2__subtit">
                                바노바기 대표 <span class="color-point2">스킨케어</span> 라인
                            </p>
                            <h4 class="cosmetic-detail2__tit">
                                밀크 씨슬 리페어 <span class="color-point2">5종</span>
                            </h4>
                            <a href="http://www.banobagicosmetic.co.kr/category/밀크-씨슬-리페어-라인/51/" target="_blank" class="cosmetic-btn type-cling">제품 상세보기</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
