<%
	type = "introduce"
	page = "history"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">바노바기 연혁</h3>
                        <p class="c-visual__txt txt-new1">본원의 이익보다 고객을 먼저 생각하는<br> 자세로 이 자리까지 달려왔습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="history">
			<div class="history__area">
				<h4 class="history__head"><span>2000s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2000년</span></h5>
							<p class="history__txt txt-new1">예성형외과 최초 개원</p>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2002년</span></h5>
							<p class="history__txt txt-new1">예 성형외과 확장</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2007년</span></h5>
							<p class="history__txt txt-new1">바노바기 성형외과로 명칭 공식 변경</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_1.jpg" loading="lazy" alt="바노바기 성형외과" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2008년</span></h5>
							<p class="history__txt txt-new1">바노바기 성형외과 리노베이션</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_2.jpg" loading="lazy" alt="바노바기 성형외과 건물" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2009년</span></h5>
							<p class="history__txt txt-new1">바노바기 해외사업본부 설립</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_3.jpg" loading="lazy" alt="바노바기 해외사업본부 위치" class="img-normal">
							</div>
							<p class="history__txt txt-new1">외국인환자 유치 의료기관 등록</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="history__area">
				<h4 class="history__head"><span>2010s</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2011년</span></h5>
							<p class="history__txt txt-new1">아테콜 공식지정 시술 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_4.jpg" loading="lazy" alt="아테콜 제품" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2012년</span></h5>
							<p class="history__txt txt-new1">렛미인 시즌2 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_5.jpg" loading="lazy" alt="박선재원장,오창현원장,렛미인모델" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2013년</span></h5>
							<p class="history__txt txt-new1">본관 수술실 확장</p>
							<p class="history__txt txt-new1">렛미인 시즌3 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_6.jpg" loading="lazy" alt="이현택,오창현,렛미인모델,반재상" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2013. 11</h5>
							<p class="history__txt txt-new1">국제교류실 및 별관 신축</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_7.jpg" loading="lazy" alt="바노바기성형외과 단체사진" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2014년</span></h5>
							<p class="history__txt txt-new1">바노바기 줄기세포 연구시설 설립</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_8.jpg" loading="lazy" alt="바노바기 줄기세포 연구시설" class="img-normal">
							</div>
							<p class="history__txt txt-new1">렛미인 시즌4 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_9.jpg" loading="lazy" alt="박선재원장,렛미인모델,오창현원장" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 07</h5>
							<p class="history__txt txt-new1">한중기술교류 및 의료관광 산업 발전 공로 감사패 수상</p>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">강남구 의료관광 우수기관 공로패 수상</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_10.jpg" loading="lazy" alt="박선재원장,렛미인모델,오창현원장" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">메디컬아시아 대상 수상</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_11.jpg" loading="lazy" alt="메디컬아시아 대상 수상" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">한국모델협회 공식지정 성형외과</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_12.jpg" loading="lazy" alt="한국모델협회 공식지정 성형외과" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 12</h5>
							<p class="history__txt txt-new1">녹색환경문화대상 수상</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_13.jpg" loading="lazy" alt="녹색환경문화대상 수상" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2015년</span></h5>
							<p class="history__txt txt-new1">렛미인5 공식 지정 의료기관</p>
							<h5 class="history__date txt-new2">2015. 02</h5>
							<p class="history__txt txt-new1">베트남 Change Life 시즌1 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_14.jpg" loading="lazy" alt="베트남 Change Life 시즌1 공식 지정 의료기관" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 07</h5>
							<p class="history__txt txt-new1">LBMA STAR 한류 의료 브랜드 대상 수상</p>
							<h5 class="history__date txt-new2">2015. 09</h5>
							<p class="history__txt txt-new1">대한민국 보건의료 대상 성형부분 수상</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_15.jpg" loading="lazy" alt="대한민국 보건의료 대상 성형부분 수상" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 10</h5>
							<p class="history__txt txt-new1">중국매체평가 중국 10대 브랜드 바노바기 성형외과 선정</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_16.jpg" loading="lazy" alt="중국매체평가 중국 10대 브랜드 바노바기 성형외과 선정" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 11</h5>
							<p class="history__txt txt-new1">강남구 외국인환자유치활동 우수기관 선정</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_17.jpg" loading="lazy" alt="강남구 외국인환자유치활동 우수기관 선정" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2016년</span></h5>
							<h5 class="history__date txt-new2">2016. 01</h5>
							<p class="history__txt txt-new1">대한민국을 이끄는 혁신 리더 선정</p>
							<h5 class="history__date txt-new2">2016. 01</h5>
							<p class="history__txt txt-new1">태국 렛미인 시즌1 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_18.jpg" loading="lazy" alt="강남구 외국인환자유치활동 우수기관 선정" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 06</h5>
							<p class="history__txt txt-new1">베트남 Change Life 시즌2 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_19.jpg" loading="lazy" alt="베트남 Change Life 시즌2 공식 지정 의료기관" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 07</h5>
							<p class="history__txt txt-new1">태국 상담소 오픈</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_22.jpg" loading="lazy" alt="태국 상담소 오픈" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 09</h5>
							<p class="history__txt txt-new1">대한민국 병의원브랜드 인증 의료기관 선정</p>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">태국 렛미인 시즌2 공식 지정 의료기관</p>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">강남구 의료관광 협력기관 선정</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_20.jpg" loading="lazy" alt="베트남 Change Life 시즌2 공식 지정 의료기관" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">(주)모티바 코리아 공식지정 의료기관 선정</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2017년</span></h5>
							<h5 class="history__date txt-new2">2017. 02</h5>
							<p class="history__txt txt-new1">앤어워드 DIGITAL AD Health and Medical 부문 수상</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_23.jpg" loading="lazy" alt="앤어워드 DIGITAL AD Health and Medical 부문 수상" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2017. 11</h5>
							<p class="history__txt txt-new1">태국 렛미인 시즌3 공식 지정 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_21.jpg" loading="lazy" alt="태국 렛미인 시즌3 공식 지정 의료기관" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2018년</span></h5>
							<h5 class="history__date txt-new2">2018. 10</h5>
							<p class="history__txt txt-new1">태국 렛미인 시즌4 공식 지정 의료기관</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">2019년</span></h5>
							<p class="history__txt txt-new1">서울시 의료관광 협력기관 선정</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_24.jpg" loading="lazy" alt="태국 렛미인 시즌3 공식 지정 의료기관" class="img-normal">
							</div>
							<p class="history__txt txt-new1">서울대학교 의과대학 교육협력 의료기관</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_25.jpg" loading="lazy" alt="태국 렛미인 시즌3 공식 지정 의료기관" class="img-normal">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
