<%
	type = "detail"
	page = "about"
%>
<% include ../_include/_header %>

<div class="about detail-common">
	<section class="fs_section aboutFirst js-first" data-section-name="home">
		<div class="detail__dim"></div>
		<div class="detail__inner">
			<div class="detail__popup type-about">
				<div class="detail__popup-wrap">
					<h4 class="detail__popup-tit">수술실 실명제<span class="about__color2">.</span></h4>
					<div class="detail__popup-scroll">
						<p class="detail__popup-subtit">
							바노바기 성형외과는 집도의가 수술 전 상담부터<br>
							수술 후 치료까지 전 과정을 책임지는 <span class="about__color2">1:1 전담 의료진 시스템</span>,<br class="hidden-m">
							각 수술실 문 앞에 집도의와 보조의(마취통증의학과 전문의 포함)의 이름을
							게시하는 수술 실명제를 도입하여<br>
							<strong>바노바기의 정직한 신념</strong>을 실현하고 있습니다.
						</p>
						<div class="about__popup-img">수술실 사진</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
			<p class="about__top">
				<span class="about__top-bar">아름다움을 만드는 곳</span><br>
				<span class="about__top-bar about__top-point">바노바기 성형외과</span>
			</p>

		</div>
		<div class="about__black">
			<div class="detail__inner">
				<div class="about__box">
					<h3 class="about__tit-eng">
						BANOBAGI<br>
						PLASTIC SURGERY
					</h3>
					<p class="about__txt">
						바노바기 진료 철학은 <span class="about__color1">“인본주의”</span> 입니다.<br>
						병원의 이익을 위해 과도한 수술이나 불필요한 수술을 무리하게 권하는것을<br>
						철저하게 배제하고, 환자의 존엄을 먼저 생각하고 의학의 기본에 충실하여<br>
						아름다움의 가치를 구현하고자 합니다.
					</p>
					<div class="detail__section-set type-about">
						수술실 실명제도입
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-about">팝업버튼</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section aboutSection01" data-section-name="aboutSection01">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another">
		  	<div class="detail__popup-wrap">
			  	<h5 class="detail__popup-tit type-another">환자에게 꼭 <span class="about__color3">필요한 수술만</span>을<br class="hidden-pt"> 시행합니다<span class="about__color3">.</span></h5>
			  	<div class="detail__popup-scroll">
					<ul class="about__popup-list">
					<li class="about__popup-item nth-1">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">실장 상담</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								설문조사,<br class="hidden-tm">
								진찰전 사진촬영<br class="hidden-tm">
								및 차트작성
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-2">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">원장님 진료</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								부위별 전문적인<br class="hidden-tm">
								<span class="about__color3">세심한 상담</span>을 통한<br class="hidden-tm">
								정확한 진단
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-3">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">검진시스템</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								첨담 의료장비,<br class="hidden-tm">
								체계적인  검진시스템을<br class="hidden-tm">
								통한 질병 유무 확인<br>
								<span class="about__color3">(*임상병리사 상주)</span>
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-4">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">수술</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								<span class="about__color3">(래피드힐링)</span><br>
								수술 후 부기, 멍 등을<br class="hidden-tm">
								최소화하는 만족도<br class="hidden-tm">
								높은 의료 서비스
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-5">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">수술 후 관리</span>
								</span>
							</h6>
							<div class="about__popup-txt">
								수술 후 빠른회복을위한<br class="hidden-tm">
								다양한 케어시스템<br>
								<ul class="about__review-list">
									<li class="about__review-item">- 흉터케어</li>
									<li class="about__review-item">- 통증케어</li>
									<li class="about__review-item">- 순환케어</li>
									<li class="about__review-item">- 붓기케어</li>
								</ul>
							</div>
						</div>
					</li>
			  		</ul>
				</div>
				<a href="" class="detail__popup-close js-popup-close">닫기</a>
		  	</div>
	   </div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							Slow<br>
							<span class="about__color0">Banobagi</span><span class="about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">바노바기의 아름다움은 신중합니다</p>
						<p class="about__circle-txt">
							바노바기의 시간은 느리게 흘러갑니다<br>
							꼼꼼한 사전 검사, 단계별 상담, 수술 후 치료와 애프터 케어까지<br class="hidden-tm">
							느린 만큼 더 안전한 성형<br class="hidden-m">
							바노바기가 추구하는 아름다움입니다<br>
							<a href="#" class="about__circle-link js-popup-open"><span>바노바기 시스템</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection02" data-section-name="aboutSection02">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another2">
			<div class="detail__popup-wrap">
				<h5 class="detail__popup-tit"><span class="about__color6">안전</span>에 관해서라면 <strong class="about__popup-point">안심</strong>하셔도<br class="hidden-pt"> 좋습니다<span class="about__color6">.</span></h5>
				<div class="detail__popup-scroll">
					<div class="about__popup2-box">
						<ul class="about__popup2-list">
							<li class="about__popup2-item nth-1">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										응급상황을 대처하기 위한 EMERGENCY SYSTEM
									</h6>
									<p class="about__popup2-txt">
										혹시라도 일어 날 수 있는 응급상황을
										대처하기 위해 심폐소생술 시 필수적인
										고가의 심장 제세동기를 보유하고
										있습니다.
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-2">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										수술 중 전력 공급의
										안전을 위한 2중 안전장치
									</h6>
									<p class="about__popup2-txt">
										대학병원에서 사용하는 대용량 발전기와
										UPS 듀얼 비상전력 공급 시스템을
										갖추었습니다.
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-3">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										수술 중, 후 정밀 PATIENT
										MONITORING 시스템
									</h6>
									<p class="about__popup2-txt">
										환자 모니터링 시스템은 심장의 활동성,
										혈중 산소 및 이산화탄소 포화도, 혈압,
										체온 등 환자의 생명에 관련된
										전신상대를 지속적으로 체크합니다.
									</p>
								</div>
							</li>
					  	</ul>
				  	</div>
				</div>
				<a href="" class="detail__popup-close js-popup-close">닫기</a>
			</div>
		</div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color4">Safe</span> <span class="about__color5">Beauty</span>
							Banobagi<span class="about__color5 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">바노바기의 아름다움은 안전합니다</p>
						<p class="about__circle-txt">
							안전이야말로 모든 수술에서 가장 중요하게 고려할 가치입니다.
							바노바기성형외과는 안전한 수술을 위한 설비 투자를 아끼지 않
							고, 첨단 수술장 시스템 및 응급상황에 대비하는 비상전력발전 시
							스템 등을 수시로 업그레이드 합니다. 또한 <span class="about__color4">마취통증의학과 전문의 4인이
							상주</span>하고 있어 모든 수술을 빈틈 없이 모니터링 합니다.<br>
							<a href="#" class="about__circle-link js-popup-open"><span>안전 시스템</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection03" data-section-name="aboutSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another2">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color7">Study</span> <span class="about__color8">Beauty</span><br>
							Banobagi<span class="about__color8 about__comma">.</span><br class="hidden-pt"><span class="about__circle-subtit">바노바기의 아름다움은 연구합니다</span>
						</h4>
					</div>
					<div class="slide-type1">
						<ul class="slide-type1__list">
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide1.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide2.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide3.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide4.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide5.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide6.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide7.jpg" loading="lazy" alt="바노바기소개 사진" class="slide-type1__img">
							</li>
							<!-- <li class="slide-type1__item"></li>
							<li class="slide-type1__item"></li> -->
						</ul>
						<a href="#" class="slide-type1__btn slide-type1__btn-prev"></a>
						<a href="#" class="slide-type1__btn slide-type1__btn-next"></a>
						<div class="slide-type1__pager"></div>
					</div>
					<p class="about__slide-txt">
						기술에 대한 공부를 계속합니다.<br class="hidden-pt">  <span class="about__color9">서울대 출신 성형외과 전문의</span>로 구성된 바노바기<br class="hidden-pt"> 의료진은<br class="hidden-m">
						엄격한 기준에 따라 선발되고,<br class="hidden-pt"> 체계적인 트레이닝 시스템을 거쳐야 비로소<br class="hidden-pt"> 환자를 만날 수 있습니다.<br class="hidden-m">
						또한 <span class="about__color9">케이스별, 수술 분야별<br class="hidden-pt"> 정기 컨퍼런스 및 전직원 대상 교육 프로그램을<br class="hidden-pt"> 진행</span>하여<br class="hidden-m">
						아름다움에 대해 고객보다 앞서<br class="hidden-pt"> 연구하고 기술을 선도합니다.
					</p>
				</div>
			</div>
		</div>
		<p class="about__bottom">
			<span class="about__bottom__wrap">서울대 출신 성형외과 전문의</span>
		</p>
	</section>

	<section class="fs_section aboutSection04" data-section-name="aboutSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another3">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color10">엄마가 딸에게</span><br>
							추천하는 성형외과<span class="about__color10 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">아름다움은 바노바기입니다</p>
						<p class="about__circle-txt">
							<?php echo date("Y") - 2001; ?>년 전 바노바기에서 수술을 한 환자가 이제는 성인이 된 딸과 함께
							내원합니다. 가족처럼 믿을 수 있고 가족처럼 환자를 생각하는 병원,
							그것이 바노바기가 대한민국 대표 성형외과로 성장한 원동력입니다.
							엄마가 딸에게, 또 딸이 엄마에게 친구가 친구에게 누구나 믿고 소개
							할 수 있는 병원, 바로 바노바기성형외과입니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<% include ../_include/_footer %>
