<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-news">언론속의 바노바기</h3>
		<p class="container__txt">바노바기 성형외과 다양한 활동을 만나보세요</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
			<div class="tab-v2">
				<ul class="tab-v2__list">
					<li class="tab-v2__item"><a href="" class="tab-v2__link">NEWS</a></li>
					<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">MEDIA</a></li>
				</ul>
			</div>
			<div class="tab-v2__content is-active">
				<div class="media">
					<div class="media__content">
						<h4 class="media__tit">SBS 온라인 채널 모비딕 ‘미스코리아(美’s 코리아)’</h4>
						<div class="media__video">
							<div class="media__box">
								<div class="media__outer">
									<div class="media__inner">익스를로러 10이하 버전에서는 지원되지 않습니다. <span class="inline-block">상위버전으로 업그레이드해주세요!!</span></div>
								</div>
							</div>
							<iframe src="https://www.youtube.com/embed/anuBCBYQJ_Q" frameborder="0"></iframe>
						</div>
						<p>
							누구도 속 시원히 다루지 못했던 ‘성형’ 현장의 생생한 목소리와 올바른 정보를 전달하는
							국내 최초 본격 성형 토크쇼! 가슴 ②편<br>
						</p><br>
						<p>(2017.11.23 방송)</p>
					</div>
					<div class="thumbnail-v1">
						<ul class="thumbnail-v1__list">
							<li class="thumbnail-v1__item">
								<div class="thumbnail-v1__img is-on">
									<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
								</div>
								<p class="thumbnail-v1__txt">
									<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
								</p>
								<a href="" class="thumbnail-v1__link">바로가기</a>
							</li>
							<li class="thumbnail-v1__item">
								<div class="thumbnail-v1__img">
									<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
								</div>
								<p class="thumbnail-v1__txt">
									<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>
								</p>
								<a href="" class="thumbnail-v1__link">바로가기</a>
							</li>
							<li class="thumbnail-v1__item">
								<div class="thumbnail-v1__img">
									<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
								</div>
								<p class="thumbnail-v1__txt">
									<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연
								</p>
								<a href="" class="thumbnail-v1__link">바로가기</a>
							</li>
							<li class="thumbnail-v1__item">
								<div class="thumbnail-v1__img">
									<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
								</div>
								<p class="thumbnail-v1__txt">
									<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연
								</p>
								<a href="" class="thumbnail-v1__link">바로가기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div><!-- //board -->
	</div>
</div>
<% include ../_include/_footer %>
