<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit academic">언론속의 바노바기</h3>
		<p class="container__txt">바노바기 성형외과 다양한 활동을 만나보세요</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
			<div class="tab-v2">
				<ul class="tab-v2__list">
					<li class="tab-v2__item"><a href="" class="tab-v2__link">NEWS</a></li>
					<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">MEDIA</a></li>
				</ul>
			</div>
			<div class="tab-v2__content is-active">
				<div class="news">
					<div class="news__header">
						<select class="select1">
							<option value="hide">제목</option>
							<option value="제목">제목</option>
							<option value="내용">내용</option>
						</select>
						<div class="board__find">
							<input type="text" class="board__find-input">
							<button onclick="" class="board__find-btn">검색</button>
						</div>
					</div>
					<div class="news__list type-list">
						<div class="board__table">
							<div class="board__tr">
								<div class="board__td type-list board__number"><span class="board__line">1979</span></div>
								<div class="board__td type-list board__title">
									<a href="" class="board__link js-board-link"><span class="board__category">뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야 뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야 뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야 뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야</a>
								</div>
								<div class="board__td type-list board__date">2017.11.16</div>
							</div>
							<div class="board__tr">
								<div class="board__td type-list board__number"><span class="board__line">1979</span></div>
								<div class="board__td type-list board__title">
									<a href="" class="board__link js-board-link"><span class="board__category">뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야</a>
								</div>
								<div class="board__td type-list board__date">2017.11.16</div>
							</div>

							<!-- 검색결과 없을경우 -->
							<!-- <div class="board__tr">
								<div class="board__nodata">
									<img src="../img/common/search_alarm.png" loading="lazy" alt="">
									<p class="board__nodata-txt">검색 결과가 없습니다</p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div><!-- //board -->
	</div>
</div>
<% include ../_include/_footer %>
