<%
	type = "content"
	page = "introduce"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="introduce-rapid">
		<div class="new-visual type-rapid">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">수술 후 빠른 회복을 위한</p>
						<h3 class="new-visual__tit"><span class="color-point">래피드힐링</span><br class="hidden-tm"> 셀프케어</h3>
						<p class="new-visual__txt">수술 후 피부 진정과 집중 피부 회복, 부종 및 멍 완화<br> <span class="inline-block">약물 처방을 통해 빠른 회복을 도와드립니다.</span></p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#밀크씨슬회복라인</span></li>
							<li class="new-visual__item"><span>#약물처방</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-rapid">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 01</p>
					 	<h4 class="section-normal__tit tit-new1">밀크씨슬 회복 라인</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		피부에 안전한 성분들로만 만들었고 피부 자극 테스트를 거쳐<br>
					 		<sapn class="color-point">피부 회복에 딱 필요한 성분들만 배합</sapn>했습니다.

					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		수술이나 시술 후, 예민해지는 피부 때문에 고민하시는 환자분들을 보며, 더 순하고 더 효과적인 회복 집중 화장품을
					 		만들어야겠다고 생각했습니다. <span class="color-black1">밀크씨슬 회복 라인 제품은 바노바기 의료진이 직접 연구해서 만든 제품입니다.</span>
					 	</p>
					 	<ul class="section-normal__list">
					 		<li class="section-normal__item"><div class="vertical-box">진정</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">회복</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">보습</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">영양</div></li>
					 	</ul>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-description">
					<h5 class="tit-new2">밀크씨슬 회복 라인 사용방법</h5>
					<div class="new-description__img">
						<img src="../../images/introduce/rapid/rapid_description_1.jpg" class="img-normal" loading="lazy" alt="밀크씨슬 회복 라인">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>수술 후, 첫 세안 시작일부터 사용하시면 됩니다.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								세안 후 밀크씨슬 회복 토너를 화장솜에 적셔 피지와 미세 먼지 등을 닦아내고 피부를 닦아내고 정돈시킵니다.
								(수술  부위에 따라 세안이 어려운 경우, 따로 세안하지 않은 상태에서 회복 토너로만 닦아내셔도 됩니다.)
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								고농축 회복 세럼을 먼저 흡수시킨 후, 회복 크림을 덧발라 충분한 회복 성분 및 영양과 수분을 공급합니다.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								집중 회복이나 진정이 필요할 때는 밀크씨슬 회복 마스크팩을 차갑게 하여 10분~20분 정도 피부에 밀착시킵니다.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>수술 후에는 피부가 민감해지고 염증이 생길 가능성이 있으므로 가급적 자극이 적은 회복 세럼과 회복 크림만 사용하여 피부 회복에 집중해주시는 것이 좋습니다.
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section">
				<div class="new-explan type-rapid">
					<h4 class="new-content-tit tit-new2">바노바기 밀크씨슬 회복 라인 <span class="inline-block">주요 성분</span></h4>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_1.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">밀크씨슬 추출물 (흰무늬 엉겅퀴씨 추출물)</h5>
								<p class="new-explan__txt txt-new1">
									피부의 독소 및 유해 활성산소를 제거하는 강한 항산화 효과와
									피부 진정에 도움을 주며 미백 효과도 뛰어나 매끄럽고 윤기나는
									피부로 가꾸어 줍니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_2.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">병풀추출물 / 마데카소사이드</h5>
								<p class="new-explan__txt txt-new1">
									외부로부터 자극받고 손상된 피부를 회복시켜 줍니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_3.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">우엉뿌리추출물</h5>
								<p class="new-explan__txt txt-new1">
									항염 작용을 가진 우엉뿌리 추출물은 여드름과 같은 트러블
									피부의 염증을 완화시켜 건강한 피부로 가꾸어 줍니다.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_4.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">카퍼트라이펩타이트-1</h5>
								<p class="new-explan__txt txt-new1">
									민감한 피부 장벽을 강화시키고 강한 항노화 효과로 탄탄하고 건강한 피부로 케어 해 줍니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-stripe">
					<ul class="new-stripe__list">
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_1.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">전성분 EWG GREEN 등급의 안심 포뮬러</h5>
								<p class="new-stripe__txt2 txt-new1">전성분 EWG GREEN 등급으로 피부에 안전한 성분들로 믿고 사용할 수 있는 토너</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_2.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">피부 자극 테스트 완료</h5>
								<p class="new-stripe__txt2 txt-new1">피부 자극 테스트 결과 무자극 제품으로 피부에 자극 없이 마일드 하게 사용</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_3.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">11가지 화학 성문 무첨가</h5>
								<p class="new-stripe__txt2 txt-new1">파라벤 6종, 벤조페논, 트리에탄올아민, 벤질알코올, 소르빅애씨드, 벤조익애씨드 외 인공색소, 향, 알코올 무첨가로 민감한 피부에 안전하게 사용</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-rapid2">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 02</p>
					 	<h4 class="section-normal__tit tit-new1">부종 및 멍 완화 약물 처방</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		시네크는 성형수술 시 <sapn class="color-point4">부종과 멍을 완화</sapn>해주는 복용약입니다.
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		미국 FDA와 한국 식약처의 승인을 받았고 생약추출물 성분으로 부작용이 거의 없습니다.<br class="hidden-tm">
							바노바기 의료진이 복용법을 안내해드리니  안심하시고 편안하게 회복하세요
					 	</p>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_2.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
