
.new-visual{
	$this:&;
	&.type-fat{
		&:before{
			@include background('../images/reoperation/fat/fat_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background:$reoperation1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-fat{
			&:before{
				@include background('../images/reoperation/fat/fat_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-fat{
			&:before{
				@include background('../images/reoperation/fat/fat_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-fat{
		@include background('../images/reoperation/fat/fat_bg_1.jpg','no-repeat center bottom / contain');
		#{$this}__txt{color:$black5;}
	}
	&.type-fat2{background-color:#ffbebf;}
	&.type-fat3{
		#{$this}__txt2{color:$black5;}
	}
	&.type-fat4{background-color:$reoperation1;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	&.type-fat5{background-color:#fff2f2;
		#{$this}__txt2{color:$black5;}
	}
}

.new-style2{
	$this:&;
	&.type-fat{
		#{$this}__txt2{color:$black5;}
	}
}

.inner-box{
	&.type-fat{background:#ffe5e5;}
}
