

.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.reoperationFirst{@include background('../images/reoperation/reoperation_detail_section01.jpg','center center/cover');
		& .detail__inner{text-align:center;}
	}
	&.reoperationSection01{@include background('../images/reoperation/reoperation_detail_section02.jpg','center center/cover');
		& .detail__section-box{top:-20px; color:#333;}
		& .detail__section-subtit{color:#333;}
	}
	&.reoperationSection02{@include background('../images/reoperation/reoperation_detail_section03.jpg','center center/cover');
		& .detail__section-box{width:360px;}
		& .color-comma{color:#d15c5d;}
		& .detail__section-wrap{display:inline-block;}
		& .detail__section-wrap2{display:inline-table; width:100%; height:100%;}
	}
	&.reoperationSection03{@include background('../images/reoperation/reoperation_detail_section04.jpg','center center/cover');
		& .detail__section-box{bottom:-60px;}
		& .detail__section-subtit{}
	}
	&.reoperationSection04{@include background('../images/reoperation/reoperation_detail_section05.jpg','center center/cover');}

	@media only screen and (max-width:$tablet-size){
		&.reoperationFirst{@include background('../images/reoperation/reoperation_detail_section01_768.jpg','center center/cover');}
		&.reoperationSection01{@include background('../images/reoperation/reoperation_detail_section02_768.jpg','center center/cover');
			& .detail__section-box{top:-57px; left:auto; bottom:auto; width:240px;}
		}
		&.reoperationSection02{@include background('../images/reoperation/reoperation_detail_section03_768.jpg','center center/cover');
			& .detail__vertical{text-align:left; padding:0 16%;}
			& .detail__section-box{top:-170px; left:auto; width:110%;}
		}
		&.reoperationSection03{@include background('../images/reoperation/reoperation_detail_section04_768.jpg','center center/cover');
			& .detail__section-box{top:auto; left:-15px; bottom:auto; width:220px;}
		}
		&.reoperationSection04{@include background('../images/reoperation/reoperation_detail_section05_768.jpg','center -40px/cover');
			& .detail__section-box{left:-15px; top:auto; right:auto; bottom:-60px; width:230px;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.reoperationFirst{@include background('../images/reoperation/reoperation_detail_section01.jpg','no-repeat center top / cover');}
		&.reoperationSection01{@include background('../images/reoperation/reoperation_detail_section02.jpg','no-repeat center center / cover');
			& .detail__section-box{top:-20px; color:#333; width: 400px;}
			& .detail__section-subtit{color:#333;}
		}
		&.reoperationSection02{@include background('../images/reoperation/reoperation_detail_section03.jpg','no-repeat center center / cover');
			& .detail__section-box{top: auto;width:300px;}
			& .color-comma{color:#d15c5d;}
			& .detail__section-wrap{display:inline-block;}
			& .detail__section-wrap2{display:inline-table; width:100%; height:100%;}
		}
		&.reoperationSection03{@include background('../images/reoperation/reoperation_detail_section04.jpg','no-repeat center center / cover');
			& .detail__section-box{bottom:-60px;width: 390px;}
		}
		&.reoperationSection04{@include background('../images/reoperation/reoperation_detail_section05.jpg','no-repeat center center / cover');
			& .detail__section-box{top:20px; width:390px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.reoperationFirst{@include background('../images/reoperation/reoperation_detail_section01_640.jpg','no-repeat center center / cover');}
		&.reoperationSection01{height:730px !important; @include background('../images/reoperation/reoperation_detail_section02_640.jpg','no-repeat center center / cover');
			& .detail__section-box{bottom:auto; width:140px;}
		}
		&.reoperationSection02{height:630px !important; @include background('../images/reoperation/reoperation_detail_section03_640.jpg','no-repeat center center / cover');
			& .detail__vertical{ padding:0;}
			& .detail__section-box{top:-110px; width:100%;}
		}
		&.reoperationSection03{height:750px !important; @include background('../images/reoperation/reoperation_detail_section04_640.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; bottom:auto; width:100%; }
		}
		&.reoperationSection04{height:700px !important; @include background('../images/reoperation/reoperation_detail_section05_640.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; left:auto; width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.reoperationSection01{
			& .detail__section-box{width:300px;}
		}
		&.reoperationSection02{
			& .detail__section-box{top:-180px;}
		}
	}
}


.layer-img2{position:absolute; top:0; bottom:0; height:530px; left:40%; display:inline-block; margin:auto 0; text-align:right; box-sizing:border-box;
	&__box{overflow:hidden; width:820px; height:500px; @include background('../images/reoperation/special_detail_layer.jpg','no-repeat center center/cover'); }
	&__link{position:relative; display:inline-block; margin-top:8px; font-size:16px; color:inherit; padding-right:30px; font-weight:400; text-decoration:none;
		&:after{position:absolute; top:0; bottom:0; right:0; display:block; width:22px; height:22px; margin:auto 0;
			@include background('../images/reoperation/link_icon.png','no-repeat center center/contain'); content:''; transition: all 0.5s;}
		&:hover{
			&:after{@include background('../images/reoperation/link_icon_hover.png','no-repeat center center/contain'); color:inherit;}
		}
	}
	@media only screen and (max-width:$minpc-size3){width:500px; height:305px; left:45%;
		&__box{width:500px; height:305px;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: portrait){position:absolute; top:auto; left:0; bottom:4%; display:block; width:100%; padding:0 10%; height:auto;
		&__box{position:relative; width:100%; height:0; padding-bottom:60.876%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/reoperation/special_detail_layer.jpg','no-repeat center center/cover') content:'';}
		}
		&__link{font-size:1.1rem; line-height:1.1;
			&:after{width:24px; height:24px; @include background('../images/reoperation/link_icon_m.png','no-repeat center center/24px 24px'); }
		}
	}
	@media only screen and (max-width:$mobile-size){bottom:10%;}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){top:auto; bottom:4%; left:0; right:0; margin: auto 0; width:100%; padding:0 10%; height:auto;
		&__box{position:relative; width:100%; height:0; padding-bottom:60.876%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/reoperation/special_detail_layer.png','no-repeat center center/cover'); content:'';}
		}
	}
}

.diagram4{position:absolute; top:0; bottom:10%; right:-40px; width:490px; height:460px; margin:auto 0;
	&__list{position:relative; width:100%; height:100%; margin:0; padding:0;}
	&__item{position:absolute; width:150px; height:173px; color:#fff; @include background('../images/reoperation/diagram1.png','no-repeat'); list-style:none;
		&.nth-1{top:0; left:85px; @include background('../images/reoperation/diagram2.png','no-repeat');}
		&.nth-2{top:0; right:85px;}
		&.nth-3{top:0; left:0; bottom:0; margin:auto 0;}
		&.nth-4{top:0; left:0; right:0; bottom:0; margin:auto; @include background('../images/reoperation/diagram1.png','no-repeat');}
		&.nth-5{top:0; right:0; bottom:0; margin:auto 0;  @include background('../images/reoperation/diagram2.png','no-repeat');}
		&.nth-6{bottom:0; left:85px;  @include background('../images/reoperation/diagram2.png','no-repeat');}
		&.nth-7{bottom:0; right:85px;}
	}
	&__wrap{display:table-cell; width:1%; height:173px; vertical-align:middle; text-align:center;}
	&__txt{margin: 0;font-size:18px; line-height:1.33;}
	@media only screen and (max-width:$tablet-size){width:382px; height:358px; top:auto; bottom:14%; right:0;
		&__item{width:117px; height:136px; background-size:117px 136px;
			&.nth-1{top:0; left:66px; background-size:117px 136px;}
			&.nth-2{top:0; right:66px;}
			&.nth-3{top:0; left:0; bottom:0; margin:auto 0;}
			&.nth-4{top:0; left:0; right:0; bottom:0; margin:auto; background-size:117px 136px;}
			&.nth-5{top:0; right:0; bottom:0; margin:auto 0;background-size:117px 136px;}
			&.nth-6{bottom:0; left:66px; background-size:117px 136px;}
			&.nth-7{bottom:0; right:66px;}
		}
		&__wrap{height:136px;}
	}
	@media only screen and (max-width:$mobile-size){position:static; width:295px; height:280px; margin:40px auto 0;
		&__item{width:90px; height:104px; background-size:90px 104px;
			&.nth-1{top:0; left:52px; background-size:90px 104px;}
			&.nth-2{top:0; right:52px;}
			&.nth-3{top:0; left:0; bottom:0; margin:auto 0;}
			&.nth-4{top:0; left:0; right:0; bottom:0; margin:auto; background-size:90px 104px;}
			&.nth-5{top:0; right:0; bottom:0; margin:auto 0;background-size:90px 104px;}
			&.nth-6{bottom:0; left:52px; background-size:90px 104px;}
			&.nth-7{bottom:0; right:52px;}
		}
		&__wrap{height:104px;}
		&__txt{font-size:1.5rem;}
	}
}

.layer-doc6{float:right; margin-top:9.6%;
	$this:&;
	&__list{width:460px; font-size:0; margin: 0;padding: 0;list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:inline-block;box-sizing: border-box;
		&.nth-2{float:right;
			& #{$this}__img{background-position:0 -145px;}
		}
		&.nth-3{float:left;
			& #{$this}__img{background-position:0 -290px;}
		}
		&.nth-4{float:right;
			& #{$this}__img{background-position:0 -435px;}
		}
		& + & + &{margin-top:40px;}
	}
	&__txt{height:40px; line-height:40px; text-align: center; background-color:#fff; font-size:16px; border-bottom:5px solid #ff6263; box-sizing:content-box; margin: 0;}
	&__img{width:220px; height:145px;  @include background('../images/reoperation/special_detail_layer1.jpg','no-repeat');}
	@media only screen and (max-width:$tablet-size){margin-top:60%;
		&__list{width:380px;}
		&__item{
			&.nth-2{
				& #{$this}__img{background-position:0 -120px;}
			}
			&.nth-3{
				& #{$this}__img{background-position:0 -240px;}
			}
			&.nth-4{
				& #{$this}__img{background-position:0 -360px;}
			}
			&:nth-child(even){float:right;}
			& + & + &{margin-top:30px;}
		}
		&__txt{margin-top:-1px; height:33px; line-height:33px; font-size:14px;}
		&__img{width:184px; height:120px; @include background('../images/reoperation/special_detail_layer1.jpg','no-repeat'); background-size:184px 480px;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		margin-top: 9.6%;
	}
	@media only screen and (max-width:$mobile-size){float:none; margin-top:56px;
		&__list{width:auto; margin-left:-11px;}
		&__item{width:50%; padding-left:11px;
			&.nth-1{float:none;}
			&.nth-2{float:none;
				& #{$this}__img{
					&:before{@include background('../images/reoperation/special_detail_layer2_m.jpg','no-repeat center top /cover');}
				}
			}
			&.nth-3{float:none;
				& #{$this}__img{
					&:before{@include background('../images/reoperation/special_detail_layer3_m.jpg','no-repeat center top /cover');}
				}
			}
			&.nth-4{float:none;
				& #{$this}__img{
					&:before{@include background('../images/reoperation/special_detail_layer4_m.jpg','no-repeat center top /cover');}
				}
			}
			&:nth-child(even){float:none;}
			& + & + &{margin-top:30px;}
		}
		&__txt{margin-top:-1px; height:33px; line-height:33px; font-size:1.2rem;}
		&__img{position:relative; width:100%; height:0; padding-bottom:65.78%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/reoperation/special_detail_layer1_m.jpg','no-repeat center top /cover'); content:'';}
		}
	}
}

.color-reoperation0{color:#666;}
.color-reoperation1{color:#ff6263;}
.color-reoperation2{color:#fff476;}
.color-reoperation3{color:#ffbaba;}
.color-reoperation4{color:#ef3738;}
.color-reoperation5{color:#ff9192}


.color-comma{color:#c5a2a2;}
.color-black{color:#000;}
.color-white{color:#fff !important;}
