.new-visual{
	$this:&;

	&.type-breast{
		&:before{
			@include background('../images/reoperation/breast/breast_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$reoperation1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-breast{
			&:before{
				@include background('../images/reoperation/breast/breast_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-breast{
			&:before{
				@include background('../images/reoperation/breast/breast_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
    $this:&;

    &.type-breast{@include background('../images/reoperation/breast/breast_bg_1.jpg','no-repeat center bottom/cover');}
    &.type-breast2{background-color: #ffcdc7;}
	&.type-breast3{background-color: #ffdfdf;
		#{$this}__link{margin-top: 40px;border: 1px solid $black1;color: $black1;
			&:hover{border-color: $black2;color: #fff;}
		}
	}

	@media only screen and (max-width: $mobile-size){
		&.type-breast3{
			#{$this}__link{margin-top: 20px;}
		}
	}
}

.new-section{
	$this:&;

	&.type-breast{
		#{$this}__wrap{background-color: #2a0c0c;}

		.new-stripe2__tit{color: #fff;}
		.new-stripe2__subject{color: #fff;}
		.new-stripe2__txt{color: #999;}
	}
}

.img-style1{
	$this:&;

	&.type-breast{
		#{$this}__list{margin-left: -40px;}
        #{$this}__item{padding-left: 40px;}
	}
}
