
/*코재수술*/
.color-reoper-nose1{color: #333;}
.color-reoper-nose2{color: #c73b60;}
.color-reoper-nose3{color: #c8244f;}
.color-reoper-nose4{color: #ce4062;}
.color-reoper-nose5{color: #fef9e7;}
.color-reoper-nose6{color: #cb1646;}
.color-reoper-nose7{color: #fffee1;}
.color-reoper-nose8{color: #cb3a60;}
.color-reoper-nose9{color: #fffcce;}
.nose-skill{
	.content-section{margin-top: 0; display: inline-block;}
	.content-section__tit{margin-left: -30px;}
	@media only screen and (max-width:$mobile-size){
		.content-section{margin-top: 0; display: inline-block;
			&__tit{margin-left: -15px;}
		}
	}
}
.nose-skill{margin-top: 120px;
	$this:&;
	&__thumb{float: left; width: 39%; position: relative; height: 0; margin-top: 80px; padding-bottom: 35%; font-size: 0;}
	&__thumb.img01:before{content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
		@include background('../images/reoperation/reop-docs-pt.png','0 50% / cover no-repeat');}
	&__thumb--t{display: none; font-size: 0;}
	&__thumb--m{display: none;}
	&__desc{float: left; width: 61%; padding-left: 40px; box-sizing:border-box;}
	&__txt1{margin-top: 45px; padding-right: 92px;}
	&__txt1 strong{font-weight: 500;}
	@media only screen and (max-width:$tablet-size){margin-top: 100px;
	&__thumb{display: none;}
	&__thumb.img01:before{display: none;}
	&__thumb--t{position: relative;  display: block;max-width: 510px; margin: 0 auto; height: 0; margin-top: 30px; padding-bottom: 71%;}
	&__thumb--m{display: none;}
	&__thumb--t.img01:before{content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include background('../images/reoperation/reop-docs-pt.png','center / contain no-repeat');}
	&__desc{float: none; width: 100%; padding: 0;}
	&__txt1{margin-top: 36px; padding: 0 15px;}
	&__txt1 + #{$this}__txt1{margin-top: 40px;}
	}

	@media only screen and (max-width:$mobile-size){margin-top: 50px; padding: 0 15px;
	&__thumb{display: none;}
	&__thumb.img01:before{display: none;}
	&__thumb--t{display: none;}
	&__thumb--m{ font-size: 0; margin-top: 22px; display: block; position: relative; height: 0; padding-bottom: 88%;}
	&__thumb--m.img01:before{content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; @include background('../images/reoperation/reop-docs-m.png','center / cover no-repeat');}
	&__desc{padding: 0px;}
	&__txt1{margin-top: 20px; padding-left: 11px;}
	&__txt1 + #{$this}__txt1{margin-top: 23px;}
	}
}

.timing{margin-top: 185px; text-align: center;
	$this:&;
	&__wrapper.bg{padding: 10% 16.5% 95px; @include background('../images/reoperation/reop-time-womanbg.png','#f9c6c2 center bottom no-repeat');}
	&__tit{margin: 0;font-size: 60px; font-weight:500;}
	&__tit span{ font-weight: 400; }
	&__txt1{ font-size: 17px; margin: 60px 0 0 0; color: #333; text-align: center; line-height: 2.2; -ms-word-break: keep-all;word-break: keep-all;
		& + &{margin-top: 25px; text-align: center;}
	}
	&__txt2{position: relative; font-size: 18px; font-weight: 500; text-align: center; margin:80px 0 0 0; line-height: 2.5;-ms-word-break: keep-all;word-break: keep-all;}
	&__txt2:before{content: ''; display: inline-block; position: absolute;  top: -56px;left: calc(50% - 1px); width: 2px; height: 32px; @include background('../images/reoperation/reop-time-dotdotdot-pt.png','center no-repeat');}
	&__list{ margin:23px 0 0 -17px; padding:0;list-style: none;}
	&__ideal{position: relative; display: inline-block; padding-bottom: 50px;text-align: center; box-sizing:border-box;}
	&__ideal:before{ content: ''; position: absolute; display: inline-block; bottom: -17px; left:calc(50% - 24px); width: 48px; height: 33px; @include background('../images/reoperation/pink-quotation2-p.png','center no-repeat');}
	&__sub-tit{ margin: 150px 0 0; display: inline-block; position: relative; z-index: 1; font-size: 28px; font-weight: 600; letter-spacing: -1px; }
	&__sub-tit:before{content: ''; display: inline-block; position: absolute; left: -15px; top: -17px; z-index: -1; width: 48px; height: 33px;  @include background('../images/reoperation/pink-quotation1-p.png','center no-repeat'); }
	&__item{padding: 10px; width: 175px; display: inline-block; margin-left: 17px; height: 175px; border-radius: 50%; border: 2px dotted #fff;}
	&__inner{ height: 100%; background-color: #fff; border-radius: 50%; text-align: center;}
	&__inner:after{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	&__txt3{display: inline-block;width: 95%;font-size: 17px; font-weight: 300; text-align: center; vertical-align: middle;}
	&__txt3 .color-reoper-nose4{font-weight: 500;}
	&__img-left,&__img-right{display:none;}
	@media only screen and (max-width:$tablet-size){margin-top: 60px;
		&__wrapper.bg{position:relative; margin: 0 -65px; padding: 135px 4% 93px; background-image:none;}
		&__img-left,&__img-right{overflow:hidden; position:absolute; bottom:0; display:block; content:''; text-indent:-9999px;}
		&__img-left{left:0; width:33.039%;
			#{$this}__img-box{width:100%; height:0; padding-bottom:148.22%; @include background('../images/reoperation/reop-nose_left.jpg','center center / cover no-repeat');}
		}
		&__img-right{right:0; width:37.728%;
			#{$this}__img-box{width:100%; height:0; padding-bottom:129.81%; @include background('../images/reoperation/reop-nose_right.jpg','center center / cover no-repeat');}
		}
		&__txt1{ margin-top: 45px;}
		&__txt2{margin-top: 70px; line-height: 1.8;}
		&__txt2:before{top: -45px;}
		&__txt3{font-size: 15px;}
		&__ideal{ margin-top: 0px; padding-bottom: 25px; text-align: center;}
		&__ideal:before{  left: calc(50% - 32px);  bottom: -34px;}
		&__sub-tit{ font-size: 25px; margin-top: 90px;}
		&__sub-tit:before{left: -15px; top: -17px; width: 44px; height: 30px; @include background('../images/reoperation/pink-quotation1-t.png','');}
		&__item{display: inline-block; float: none ;padding: 10px; width: 155px; height: 155px; margin-left: 3px; }
	}
	@media only screen and (max-width:$mobile-size){margin: 0 -20px; margin-top: 60px;
			&__img-left{left:0; width:47.723%;
				#{$this}__img-box{width:100%; height:0; padding-bottom:148.22%; @include background('../images/reoperation/reop-nose_left.jpg','center center / cover no-repeat');}
			}
			&__img-right{right:0; width:54.496%;
				#{$this}__img-box{width:100%; height:0; padding-bottom:129.81%; @include background('../images/reoperation/reop-nose_right.jpg','center center / cover no-repeat');}
			}
			&__wrapper.bg{margin: 0; background: none;background-color: #fac8c4; padding: 70px 0px 0px; }
			&__tit{font-size: 3.0rem;}
			&__txt1{ font-size: 1.4rem; margin-top: 23px; padding: 0 20px;}
			&__txt2{ font-size: 1.5rem; margin-top: 35px; padding: 0 20px; line-height: 1.8;}
			&__txt2:before{top: -27px;left: calc(50% - 1px); width: 2px; height: 21px; @include background('../images/reoperation/reop-time-dotdotdot-m.png','center / auto 21px no-repeat');}
			&__txt3{font-size: 15px;}
			&__ideal{ width: 100%; margin: 0; padding-bottom: 80px;}
			&__ideal:before{ bottom: 50px; left:calc(50% - 12px); width: 24px; height: 16px; @include background('../images/reoperation/pink-quotation2-m.png','center center / 24px auto no-repeat');}
			&__sub-tit{ font-size: 1.9rem;margin-top: 60px;}
			&__sub-tit:before{left: -16px; top: -5px;width: 24px; height: 16px; @include background('../images/reoperation/pink-quotation1-m.png','center center / 24px auto');}
			&__list{ padding: 0 8%; margin-left: 0px; margin-top: 20px; text-align: center;}
			&__item{float: none; display: inline-block; padding: 5px; width: 119px; height: 119px; margin-left: 3px; vertical-align: top;}
			&__inner{ width: 100%; height:inherit;}
			&__txt3{font-size: 1.2rem;display: table-cell; height:inherit; width:1%; }
	}
	@media only screen and (max-width:$iphone-size){
		&__ideal{@include background('../images/reoperation/reop-time-womanbg3.png','center bottom / contain no-repeat');}
	}
}
.item-box1{
	&__list{margin:0; padding:0;}
}
.re-surgery{
	.item-box1__item{width: 100%; display: block;}
	.item-box1__item + .item-box1__item{margin-top: 80px;}
	.item-box1__inner{display: table; border: none; height: auto; padding: 0;}
	.item-box1__thumb{display: table-cell; font-size:0;}
	.item-box1__desc{display: table-cell; vertical-align: middle; padding: 0 5.5%; background-color: #db708c; width: 100%; box-sizing:border-box;}
	.item-box1__tit{position: relative; font-weight: 500; padding-left: 15px; color: #ffffff; line-height: 1.3;}
	.item-box1__tit:before{ content: ''; display: inline-block; position: absolute; left: 0; top: 0px; width: 4px; height: 26px; background-color: #ffffff;}
	.item-box1__txt1{font-weight: 200; margin-top: 15px; color: #ffffff; line-height: 150%;}
	.item-box1__txt1 .color-reoper-nose5{font-weight: 300;}
	.item-box1__txt1 .color-reoper-nose7{font-weight: 300;}
	.item-box1__txt1 .color-reoper-nose9{font-weight: 300;}
	.item-box1__satisfaction{font-size: 15px; font-weight: 300; color: #333; max-width: 975px; margin: 0 auto; margin-top: 104px; -webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; background-color: #ffe4ea; padding: 15px 80px; text-align: center;}
	.item-box1__satisfaction .big{font-size: 18px;}
	.item-box1__satisfaction .color-reoper-nose6{font-weight: 500;}

	@media only screen and (max-width:$tablet-size){ margin: 0 -50px; margin-top: 65px; padding: 0px;
		.item-box1__satisfaction{font-size: 15px; max-width: none; width:auto;margin-top: 70px;padding: 25px; text-align: center; -webkit-border-radius: 70px;-moz-border-radius: 70px;border-radius: 70px;}
		.item-box1__txt1{ margin-top: 13px;}

		.item-box1__thumb{width: 32.7%;background: center center/cover no-repeat;}
		.item-box1__desc{padding: 3.5% 5.5%;}
		&.type-nose-end{
			.item-box1__item{
				&.nth-1{
					.item-box1__thumb{@include background('../images/reoperation/end-nose01-t.jpg','');}
				}
				&.nth-2{
					.item-box1__thumb{@include background('../images/reoperation/end-nose02-t.jpg','');}
				}
				&.nth-3{
					.item-box1__thumb{@include background('../images/reoperation/end-nose03-t.jpg','');}
				}
			}
		}
		&.type-nose-slack{
			.item-box1__item{
				&.nth-1{
					.item-box1__thumb{@include background('../images/reoperation/slack-nose01-t.jpg','');}
				}
				&.nth-2{
					.item-box1__thumb{@include background('../images/reoperation/slack-nose02-t.jpg','');}
				}
				&.nth-3{
					.item-box1__thumb{@include background('../images/reoperation/slack-nose03-t.jpg','');}
				}
			}
		}
		&.type-nose-implant{
			.item-box1__item{
				&.nth-1{
					.item-box1__thumb{@include background('../images/reoperation/implant-nose01-t.jpg','');}
				}
				&.nth-2{
					.item-box1__thumb{@include background('../images/reoperation/implant-nose02-t.jpg','');}
				}
				&.nth-3{
					.item-box1__thumb{@include background('../images/reoperation/implant-nose03-t.jpg','');}
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){margin: 0;
		.item-box1__tit{padding-left: 10px;}
		.item-box1__tit:before{ left: 0; top: 2px; width: 4px; height: 15px;}
		.item-box1__inner{display: block;}
		.item-box1__thumb{display: block;width: auto;background: none;}
		.item-box1__thumb img{width: 100%;}
		.item-box1__desc{display: block; padding: 40px 5.5%;}
		.item-box1__satisfaction{margin:0 -15px; font-size: 1.4rem; margin-top: 58px; -webkit-border-radius: 70px;-moz-border-radius: 70px;border-radius: 70px; padding: 35px 20px;}
		.item-box1__satisfaction .big{font-size: 1.6rem; }
	}
}

.type-nose-slack{
	.item-box1__desc{background-color: #cb3a60;}
}
.type-nose-implant{
	.item-box1__desc{background-color: #aa1d42;}
}
.nose-info{position: relative;
	$this:&;
	&__dot{position: relative;display: inline-block; width: 10px; height: 10px; vertical-align: middle;}
	&__dot:before{content: ''; display: inline-block; position: absolute; top: 4px; left: 4px; width: 2px; height: 2px; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background-color: #333;}
	&__list{position: relative; margin:25px 0 0 0; width: 842px; float: right; padding:0;}
	&__list:before{content: ''; display: inline-block; position: absolute; left: -54px; top: 8px;  width: 44px;height: 44px;
		@include background('../images/reoperation/clip-icon-pt.png','#e5e5e5 center no-repeat'); -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; }
	&__item{float: left; width: 50%; padding-right: 20px; box-sizing:border-box; list-style:none;}
	&__item.longer{width: 100%;}
	&__txt1{letter-spacing: -1px; font-weight: 400;}
	&.nose-slack{
		#{$this}__item{float: none; width: 100%;}
	}
	&.nose-implant{
		#{$this}__item{float: none; width: 100%;}
	}
	@media only screen and (max-width:$tablet-size){
		&__list{padding-left: 75px;width: auto; float: none; }
		&__list:before{left: 20px; top: 5px;}
		&__item{padding: 0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{padding: 0; padding-top: 25px; margin: 0;}
		&__list:before{left: calc(50% - 22px) ; top: -22px; @include background('../images/reoperation/clip-icon-m.png','center / 25px auto no-repeat'); background-color: #e5e5e5;}
		&__item{float: none; width: 100%;padding:0; text-align: center;}
	}
}
.satisfaction{max-width: 965px; margin: 0 auto; margin-top: 110px;
	&__txt{margin:0; font-size: 15px; font-weight: 300; color: #333; -webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px; background-color: #ffe4ea; padding: 18px 80px; text-align: center}
	& .big{font-size: 18px;}
	& .color-reoper-nose6{font-weight: 500;}
	@media only screen and (max-width:$tablet-size){margin:0 -15px;margin-top:80px; margin-bottom: 95px; padding: 0;
		&__txt{font-size: 15px;width:auto;padding: 25px; text-align: center; -webkit-border-radius: 70px;-moz-border-radius: 70px;border-radius: 70px}
	}
	@media only screen and (max-width:$mobile-size){margin:0; margin-top: 45px; padding: 0 7px;
		&__txt{font-size: 1.4rem;padding: 35px 20px; -webkit-border-radius: 70px;-moz-border-radius: 70px;border-radius: 70px; }
		& .big{font-size: 1.6rem; }
	}
}
