
.new-visual{
	$this:&;
	&.type-young{
		&:before{
			@include background('../images/reoperation/young/young_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background:$reoperation1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-young{
			&:before{
				@include background('../images/reoperation/young/young_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-young{
			&:before{
				@include background('../images/reoperation/young/young_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-young{@include background('../images/reoperation/young/young_bg_1.jpg','no-repeat center bottom / contain');
		#{$this}__txt{color:$black5;}
	}
	&.type-young2{background-color:$reoperation3;
		#{$this}__txt{color:$black5;}
	}
	&.type-young3{background-color:#ffe5e5;}
	&.type-young4{background-color:#2a0c0c;
		#{$this}__tit{color:#fff;}
		#{$this}__txt,#{$this}__txt2{color:#aaa;}
	}
}

.new-style3{
	$this:&;
	&.type-young{background-color:#333333;}
}

.img-style2{
	$this:&;
	&.type-young{
		#{$this}__caption{background-color:rgba(91,38,38,0.8); color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
}
