@charset "UTF-8";
// @import "variables";
@import "mixins";
/* **************************************** *
 * SCROLL TOP
 * **************************************** */
.scroll-btn {display:block; height: 53px;width: 53px; color:$color-point; font-size:20px; font-weight:$bold;
    &__progress {position:relative; display: block;width: 100%;height: 100%; border-radius: 50%; background-color:rgba(255,255,255,1);}
    &__progress canvas {max-width: 100%;max-height: 100%;}
    i{position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;
        &:before{position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
    }
    @media only screen and (max-width: $tablet-size){display:none;}
}

#progress-indicator{
    @media only screen and (max-width: $tablet-size){z-index:200;}
}
// .scroll_btn.fixed {position: fixed;top: inherit;bottom: 50px;}
// html.desktop .scroll_btn:hover .scroll_btn_txt:after {color: #007a88;}

// body.minimize_layout .scroll_btn_txt {-webkit-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotate(-180deg);}


.test{margin:0; padding:0; height:100vh;
		overflow:hidden;
	}
	/* .test__box{height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-50%);
    width: 180%;
    z-index: 10;} */
	.test__item{list-style:none; background-image:url('../../images/hair/woman/woman_img_12.png');
		background-repeat: no-repeat;
    background-size: auto 100vh;
    display: block;
    height: 25vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	}
	.test__item:nth-child(1){
		background-position: 65% 0;
	    top: 0;
		animation-delay: .12s;
	    animation-direction: normal;
	    animation-duration: 1.3s;
	    animation-fill-mode: both;
	    animation-iteration-count: 1;
	    animation-name: translate-left-out-axis-X-origin-left-0--100;
	    animation-timing-function: cubic-bezier(.26, 1, .48, 1);
	}
	.test__item:nth-child(2){
		background-position: 65% -25vh;
	    top: 25vh;
		animation-delay: .19s;
	    animation-direction: normal;
	    animation-fill-mode: both;
	    animation-iteration-count: 1;
	    animation-timing-function: cubic-bezier(.26, 1, .48, 1);
	}
	.test__item:nth-child(2),.test__item:nth-child(3){
		animation-duration: 1.3s;
	    animation-name: translate-left-out-axis-X-origin-left-0--100;
	}
	.test__item:nth-child(3){
		background-position: 65% -50vh;
	    top: 50vh;
		animation-delay: 95ms;
	    animation-direction: normal;
	    animation-fill-mode: both;
	    animation-iteration-count: 1;
	    animation-timing-function: cubic-bezier(.26, 1, .48, 1);
	}
	.test__item:nth-child(3),.test__item:nth-child(4){
		animation-duration: 1.3s;
	    animation-name: translate-left-out-axis-X-origin-left-0--100;
	}
	.test__item:nth-child(4){
		background-position: 65% -75vh;
	    top: 75vh;
		animation-delay: .115s;
	    animation-direction: normal;
	    animation-fill-mode: both;
	    animation-iteration-count: 1;
	    animation-timing-function: cubic-bezier(.26, 1, .48, 1);
	}
	@keyframes translate-left-out-axis-X-origin-left-0--100 {
		    0% {
		    transform: translateX(-100%);
		    transform-origin: left;
		}
		to {
		    transform: translateX(0);
		    transform-origin: left;
		}
	}
