@charset "UTF-8";
// @import "variables";
@import "mixins";

.new-visual{
    $this: &;

    &.type-lcm{position: relative;overflow: hidden;width: 100%;background: none;
        &:before{content: '';display: block;position: absolute;top: 0;left: 0;bottom: 0;right: 0;transform: scale(1.2);transition: transform 1s ease;background: url(../images/special/casefiller/casefiller_visual_1.jpg?ver=190626) no-repeat center center / cover;}
        &.is-active{
            &:before{transform: scale(1);}
            #{$this}__box{left: 0;}
        }

        #{$this}__box{left: -100%;transition: left 1s ease;}
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-lcm{
            &:before{background: url(../images/special/casefiller/casefiller_visual_1_t.jpg?ver=190626) no-repeat center center / cover;background-attachment: fixed !important;}
            &.is-active{
                #{$this}__box{bottom: 0;}
            }

            #{$this}__box{left: 0;bottom: -100%;transition: bottom 1s ease;transition-delay: 0.5s;}
        }
	}
    @media only screen and (max-width: $mobile-size){
        &.type-lcm{
            &:before{background: url(../images/special/casefiller/casefiller_visual_1_m.jpg?ver=190626) no-repeat center center / cover;}
        }
    }
}
