<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-cell-transplant">
		<div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">젊음을 주입하는 기술의 진화</p>
	            <h3 class="content-visual__tit"># <span class="color-transplant1">지방</span>이식</h3>
	            <p class="content-visual__txt2"><strong>더욱오래가는</strong>자연스러운볼륨감</p>
	        </div>
	    </div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="svf-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap type-unique type-sec1-bg">
	                    <div class="content-section__tit-box">
	                        <h4 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
	                            지방이식은 <strong>생착률이 </strong><br class="hidden-pt"> <span class="color-transplant1">낮고</span><br class="hidden-m">
	                            <strong>오래가지</strong> <strong class="color-transplant1">않는다?</strong>
	                        </h4>
	                    </div>
	                    <div class="content-section__txt-box">
	                        <p class="content-section__txt1">
	                            기존의 지방이식은 추출한 지방덩어리를 필요한 부위에 그대로 이식하는
	                            방식이 대부분이었습니다. 주로 조직이 두텁고 많은 지방을 채취할 수 있는
	                            사타구니나 엉덩이 밑의 지방을 그대로 사용하죠.
	                        </p>
	                        <p class="content-section__txt2">
	                            <span class="type-svf-quotation quotation_left">왼쪽따옴표</span>
	                            하지만 이런 방식으로는 제대로 된 지방이식 효과를 보기 힘든 것이 사실입니다.
	                            이식된 지방이 생착되려면 이식부위에 신생혈관이 자라 들어와야 하는데,
	                            얇은 피부 지방과 비교적 두꺼운 진피 지방간의 미세한 차이가 그 과정을 충분히
	                            받아들이지 못하기 때문입니다.
	                            <span class="type-svf-quotation quotation_right">오른쪽따옴표</span>
	                        </p>
	                    </div>
	                </div>
	                <div class="content-section__bg-img">
	                </div>
	            </div>
	        </div>
	        <div class="svf-box2">
	            <div class="content-section cell_transplant-term">
	                <div class="content-section__bg-wrapper">
	                    <div class="content-section__tit-box">
	                        <h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
	                            지방을
	                            <strong class="color-transplant1">세포단위로<br class="hidden-p">이식</strong>해야 합니다
	                        </h4>
	                        <p class="content-section__txt type-sec2">
	                            보다 효과적인 지방이식을 위해, 바노바기는 지방조직을 세포단위로 이식하고 있습니다. <br class="hidden-tm">
	                            단순히 지방덩어리가 아닌, 지방세포를 주입하여 지방이 생성되도록 하는 것이죠.
	                        </p>
	                    </div>
	                    <div class="content-section__list-box">
	                        <div class="stem-cell clearfix">
	                            <div class="hexa-pattern type-cell-transplant">
	                                <ul class="hexa-pattern__list">
	                                    <li class="hexa-pattern__item nth-1">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">지방 세포</h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                이식된 부위에서 <br class="hiddem-m">
	                                                스스로 지방 생성
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-2">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">SVF세포</h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                이식된 부위에 맞는 <br class="hiddem-m">
	                                                조직세포로 분화
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-3">
	                                        <div class="hexa-pattern__wrap">
	                                            <h5 class="hexa-pattern__tit">

												<span class="inline-block">
		                                            콜라겐, 히알루론산,
												</span>
	                                                <span class="inline-block">
		                                            피브로넥틴, 라미닌 등
												</span>
	                                            </h5>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                피부 개선
	                                            </p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="content-section__desc-box">
	                    <p class="content-section__txt1">
	                        특히 세포단위의 지방이식이 더욱 효과적인 이유는 SVF 세포 때문인데요, 지방조직에 포함된 <br class="hidden-tm">
	                        이 SVF세포는 적용 부위에 맞는 조직으로 분화하는 능력이 있어, 주입된 지방들이 이식된 부위에 자연스럽게 자리 잡을 수 있도록 해줍니다.
	                        결과적으로 기존보다 뛰어난 지방의 생착률을 보여주며, 이후 주입된 지방세포가 스스로 지방을 만들어낼 수도 있게 되는 것이죠.
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>
	                            또한 지방조직의 세포군 중에는 다양한 성장인자와 함께 콜라겐, 히알루론산 등이 포함되어 있기 때문에,
	                            <br><span class="color-transplant1"> 이식된 부위의 피부가 개선되고 탄력이 생기는 부가적인 효과</span>도 있습니다.
	                        </strong>
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box3">
	            <div class="content-section">
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__txt-box w-47">
	                        <h4 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
	                            나만의<br class="hidden-tm">
	                            세포이기에,<br>
	                            <strong class="color-transplant1">거의 모든 부위에<br class="hidden-t"> 가능</strong>합니다
	                        </h4>
	                        <p class="content-section__txt1">
	                            자가지방에서 채취한 줄기세포만큼 개개인에 꼭 맞는
	                            재료는 없을 것입니다. 어느 부위에 이식하든 그 부위에
	                            맞게 자라나 세포 단위에서 스스로 채우는 시술이니까요.
	                            또한 세포 단위의 시술에 맞는 미세한 주사기 사용으로
	                            더욱 섬세하고 안정적인 시술이 가능해졌습니다.
	                        </p>
	                    </div>
	                    <div class="content-section__img-box w-53">
	                        <div class="content-section__img type-background3 type-circle"></div>
	                    </div>
	                </div>
	                <div class="part-list">
	                    <div class="part-list__wrap">
	                        <ul class="part-list__items">
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon0">꺼진이마 아이콘</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon0">
	                                            밋밋하고 꺼진 이마
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            이마는 얼굴 면적의 1/3가량을 차지하며 프로화일 이미지에 큰 영향을 끼치게 됩니다. 만약 이마가 곡선 없이 평평하거나 오히려
	                                            움푹 들어가 보이는 경우에는 남성적이고 강해 보이는 인상을 주게 되죠. 지방이식을 통해 미간, 코, 입, 턱 끝의 높이와 어우러지는
	                                            볼륨감과 매끈한 곡선을 더해주어 보다 이상적인 이마라인을 추구할 수 있습니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon1">눈꺼풀함몰 아이콘</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon1">
	                                            눈꺼풀 함몰
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            체질상, 혹은 후천적인 이유로 눈두덩이 뼈 아래에 지방이 없는 경우가 있습니다. 그렇게 되면 강한 인상을 주게 되고,
	                                            눈가에 주름이 많아집니다. 지방이식을  통해 보다 젊은 느낌의 눈과 잔주름 거의 없는 탄력 있는 눈꺼풀을 만들 수 있습니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon2">예쁜 볼 아이콘</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon2">
	                                            볼
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            볼에 지방이 없으면 얼굴이 생기 없어 보이고 뼈의 윤곽이 드러나 강한 인상을 주게 됩니다.  때문에 지방이식을 통해
	                                            어려보이고 건강한 느낌을 주는 것을 목표로 합니다. 특히 볼은 주입된 지방이 보다 잘 생착되는 곳으로, 효과가 좋고
	                                            더욱 오래 유지됩니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon3">팔자루름 아이콘</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon3">
	                                            팔자 주름
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            콧볼에서 입 양 끝으로 연결되는 팔자 주름을 개선하면 표정이 보다 자연스러워지고
	                                            고급스러운 느낌을 줄 수 있습니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon4">가슴확대 아이콘</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon4">
	                                            가슴 확대
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            기본적으로 마른 체형이라면 가슴 부위의 지방이식은 한계가 있습니다. 지방이 많이 소실되고 모양이 잡히기
	                                            힘들기 때문입니다 하지만 적당한 볼륨을 가지고 있는 경우라면 구형구축이 일어날 가능성이 거의 없고  촉감이나
	                                            형태가 자연스럽기 때문에 보다 만족스러운 결과를 얻을 수 있습니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon5">힙업 아이콘</div>
	                                    <div class="part-list__desc">
	                                        <h5 class="part-list__tit icon5">
	                                            힙업
	                                        </h5>
	                                        <p class="part-list__txt">
	                                            몸매를 당당히 노출하는 것도 하나의 매력 어필이 되고 있는 요즘, 뒤태, 스쿼트 등 힙업에 대한 관심이 증가하고 있습니다.
	                                            엉덩이 지방이식은 엉덩이의 탄력과 함께 다리가 길어 보이는 효과를 줍니다.
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper">
	                    <div class="content-section__bg-wrapper">
	                        <div class="content-section__bg-color">
	                            <div class="content-section__tit-box">
	                                <p class="content-section__txt1 type-unique">BANOBAGI stem cell</p>
	                                <h4 class="content-section__tit">
	                                    기술의 진화만큼<br class="hidden-tm">
	                                    <strong class="color-transplant1">
	                                        환자분의<br class="hidden-p">책임감도 중요합니다.
	                                    </strong>
	                                </h4>
	                                <div class="content-section__txt2">
	                                    지방의 생착률이 개선되었다고는 하지만, 더 좋은 효과를 <br class="hidden-pt"> 위해서라면 <br class="hidden-pm"> 평소 환자분 스스로의 관리 역시 중요합니다.<br class="hidden-t">
	                                    단단히 형태를 유지하고 있는 뼈와 달리, 지방은 신체<br class="hidden-pt"> 컨디션에 따라 유동적이기 때문입니다.
	                                </div>
	                            </div>
	                            <div class="content-section__img-wrapper clearfix">
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img1">
	                                        <img src="../../images/svf/svf_transplant_section05-face01.png" loading="lazy" alt="성실한환자이미지">
	                                    </div>
	                                </div>
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img2">
	                                        <img src="../../images/svf/svf_transplant_section05-cigarette01.png" loading="lazy" alt="금연다짐 환자이미지">
	                                    </div>
	                                </div>
	                            </div>
	                             <p class="content-section__txt3">
								   특히 시술 후 약 2주 정도는 이식된 지방세포에 신생혈관이<br class="hidden-p"> 자라 들어오는 기간이기 때문에, 최대한 시술 부위가<br>
								   움직이지 않도록 고정하고 외부의 자극을 주지 않는 것이 중요합니다.<br>
								   <strong>또한 흡연은 새로운 혈관 생성에 가장 큰 적입니다. <br class="hidden-p"> 따라서 시술 전을 포함하여 약 2개월 정도는 금연이 필요합니다.</strong>
							   </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">지방이식 수술정보를 알려드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">
											얼굴:약 30분<br>
											바디:약 1시간30분
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">
											얼굴:정맥마취<br>
											바디:전신마취
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">
											얼굴:필요없음<br>
											바디:약 3일 후 제거
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									미세한 주사기 사용으로 통증이 거의 없습니다.<br>
									주입되는 지방의 양에 따라 팽창감이 있을 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/injection.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div> <!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
