<%
	type = "detail"
	page = "svf"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>

<!-- Content -->
<div class="svf detail-common">
	<section class="fs_section svfFirst js-first" data-section-name="home">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<p class="detail__first-tit type-svf">
				   	<span class="color-svf0">우수한기술력</span>으로<span class="detail__first-piece type-svf"><span class="color-svf0">효과적</span>이고 안전하게</span>
			   	</p>
			   	<h3 class="detail__first-txt type-svf">
				   	<span class="detail__first-bwrap">세포 단위에서 스스로 채워주는<b class="detail__first-bar type-svf hidden-p"></b></span><br>
				   	<strong class="detail__first-point">바노바기 <span class="color-svf0">줄기세포</span> 디테일<span class="color-svf0">.</span></strong>
			   	</h3>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>SCROLL</em>
	   	</div>
	</section>

	<section class="fs_section svfSection01" data-section-name="svfSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-svf">
				 	<h4 class="detail__section-tit">
				   		<strong>줄기세포</strong><span class="color-comma">,</span><br>
				   		<span class="detail__section-bwrap">바노바기는</span><br>
				   		<strong class="color-svf0">이렇게</strong> 합니다
				 	</h4>
				 	<p class="detail__section-subtit">보다 높은 수준의 세포 치료</p>
				 	<p class="detail__section-txt">
				   		전문 시설과 인력을 갖춘 바노바기는 혈액, 골수, 지방 등에서 채취한 다양한 세포를 활용하여 치료가 가능합니다.
				   		특히 지방조직에서 추출하여 바로 사용 가능한 <span class="color-svf1">SVF 세포는, 자가 재생 능력이 뛰어나고 피부 톤과 탄력이 개선된다는 장점</span>이 있으며,
				   		적용 주변의 성장인자나 세포들을 활성화하여 부작용이 거의 없습니다.
				 	</p>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">딤처리</div>
	   	<div class="detail__section-bottom hidden-pt">
		   	<div class="detail__section-set">
			   	<span>줄기세포 장점</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another0" data-popup-type="section">팝업버튼</a></span>
		   </div>
	   	</div>
	   	<div class="detail__popup-m">
		   	<h5 class="detail__popup-m__tit">장점<span class="color-svf2">.</span></h5>
		   	<ul class="detail__popup-m__list">
			   	<li class="detail__popup-m__item">- 자기재생</li>
			   	<li class="detail__popup-m__item">- 성장인자</li>
			   	<li class="detail__popup-m__item">- 분화</li>
			   	<li class="detail__popup-m__item">- 면역력 증진</li>
		   	</ul>
	   	</div>
	</section>

	<section class="fs_section svfSection02" data-section-name="svfSection02">
		<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h5 class="detail__popup-tit">세포이식을 통한 성형부위<span class="color-svf2">.</span></h5>
				   	<ul class="detail__popup-list">
					   	<li class="detail__popup-item nth-1">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">얼굴</h6>
							   	<p class="detail__popup-txt">코성형, 볼성형, 이마성형, 무턱성형, 귀족수술</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-2">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">몸매</h6>
							   	<p class="detail__popup-txt">유방확대술, 유방재건술, 힙업성형, 기타</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-3">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">노화</h6>
							   	<p class="detail__popup-txt">주름개선, 피부탄력증진, 기미, 주근깨, 다크서클</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-4">
						   	<div class="detail__popup-box">
							   	<h6 class="detail__popup-subject">피부</h6>
							   	<p class="detail__popup-txt">피부톤개선, 흉터, 튼살, 모공축소, 블랙헤드</p>
						   	</div>
					   	</li>
				   	</ul>
				   	<a href="" class="detail__popup-close js-popup-close">닫기</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-normal type-right type-svf">
					   	<h4 class="detail__section-tit">
						   	<strong>줄기세포</strong><span class="color-comma">,</span><br>
						   	<span class="detail__section-bwrap">바노바기는</span><br>
						   	<strong class="color-svf0">다양한 부위</strong>에<br class="hidden-pt"> 합니다
					   	</h4>
					   	<p class="detail__section-subtit">SVF 세포의 다양한<br class="hidden-pt"> 적용 범위</p>
					   	<p class="detail__section-txt">
						   	SVF 세포는 자가 복구 능력이 뛰어날 뿐만 아니라,
						   	주입된 부위에 맞게 적응하는 능력이 있어 다양한 부위에 활용이 가능합니다.
						   	<span class="color-svf1">바노바기는 이 세포 치료 기술로 피부 흉터, 노화, 얼굴과 체형의 보정까지, </span>
						   	다양한 부위의 효과적이고 자연스러운 개선을 제안합니다.
					   	</p>
				   	</div>
			   	</div>
		   	</div>
		</div>
		<div class="detail__section-bottom type-svf">
		   	<div class="detail__section-set">
			   	SVF 세포의 다양한 적용 범위
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section svfSection03" data-section-name="svfSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						<strong>줄기세포</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
						<strong class="color-svf0">뛰어</strong>납니다
					</h4>
					<p class="detail__section-subtit">더 많은, 더 좋은 세포를 확보하는 경쟁력</p>
					<p class="detail__section-txt">
					   	SVF 세포 치료의 만족도는 주입된 세포의 생착률에 의해 좌우됩니다.
					   	그래서 바노바기는 <span class="color-svf1">생명공학 연구원이 상주하며 전문적인 세포 치료를 진행합니다.</span>
					   	같은 양의 지방에서 더 많고 건강한 세포를 확보하는 노하우와 기술,
					   	뛰어난 효과가 장기간 지속되는 바노바기 세포 치료의 비결입니다.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection04" data-section-name="svfSection04">
	   	<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h5 class="detail__popup-tit">극저온 냉동 보관 시스템<span class="color-svf2">.</span></h5>
				   	<div class="popup-info">
					   	<div class="popup-info__img">극저온 냉동 보관 장비</div>
					   	<ol class="popup-info__list">
						   	<li class="popup-info__item">&middot;  반복적인 집중치료가 가능</li>
						   	<li class="popup-info__item">&middot;  세포의 손실 및 오염방지</li>
						   	<li class="popup-info__item">&middot;  젊은 양질의 세포를 미리 보관 후 정기적 사용 가능</li>
					   	</ol>
				   	</div>
				   	<a href="" class="detail__popup-close js-popup-close">닫기</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf type-another">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-wide type-right type-svf type-quotation2">
					   	<h4 class="detail__section-tit">
						   	<strong>줄기세포</strong><span class="color-comma">,</span><br>
						   	<span class="detail__section-bwrap">바노바기는</span><br>
						   	<strong class="color-svf4">여러 번</strong> 가능합니다
					   	</h4>
					   	<p class="detail__section-subtit">약 3~5년 이상까지 보관이<br class="hidden-pt"> 가능한 셀 뱅킹 시스템</p>
					   	<p class="detail__section-txt">
						   	SVF 세포는 추출 후 시간이 지날수록 손상, 오염의 가능성이 높아집니다.
						   	때문에 기존의 세포 치료는 그 횟수가 1회로 제한될 수밖에 없었죠.
						   	바노바기는 <span class="color-svf3">극저온 냉동 보관 시스템을 도입하여 SVF 세포를 그대로 저장</span>해드립니다.
						   	이를 통해 여러 번의 집중적인 반복 시술이 가능하고, 보다 뛰어난 효과를 기대할 수 있습니다.
					   	</p>
				   	</div>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom type-svf type-another">
		   	<div class="detail__section-set">
			   	-196도 극저온 냉동 보관 시스템
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

   	<section class="fs_section svfSection05" data-section-name="svfSection05">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-svf">
				   	<h4 class="detail__section-tit">
					   	<strong>줄기세포</strong><span class="color-comma">,</span><br>
					   	<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
					   	<strong class="color-svf0">다릅</strong>니다
				   	</h4>
				   	<p class="detail__section-subtit"><?=$sinceYear?>년 노하우의 지방흡입<br class="hidden-p"> 지방추출 부위의 자연스러운 실루엣 구현</p>
				   	<p class="detail__section-txt">
					   	줄기세포를 채취하는 첫 단계, 지방을 흡입하는 과정부터 바노바기는 다릅니다.
					   	줄기세포 치료를 위한 지방을 채취할 때는 열을 가해서는 안됩니다.
					   	<span class="color-svf5">바노바기는 지방흡입 전문의의 노하우</span>로, 레이저의 가열 없이도 지방을 효과적으로 추출하고,
					   	<span class="color-svf5">추출 후 표면에  요철이 생기지 않도록 매끄러운 실루엣을 구현</span>합니다
				   	</p>
			   	</div>
			   	<div class="layer-img2">
				   	<div class="layer-img2__box">줄기세포 이미지</div>
				   	<dl class="layer-img2__dl">
					   	<dt class="layer-img2__dt">*부작용 종류 :</dt>
					   	<dd class="layer-img2__dd">시술 후 울퉁불퉁한 피부표면 발생, 출혈, 혈청종, 감각이상, 피부괴사 등</dd>
				   	</dl>
			   	</div>
		   	</div>
	   	</div>
   	</section>

	<section class="fs_section svfSection06" data-section-name="svfSection06">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<p class="detail__popup2-subtit">세포의 오염과 변질을 예방하는</p>
					<h5 class="detail__popup-tit">원스톱 무균 시설<span class="color-svf2">.</span></h5>
					<ul class="detail__popup2-list">
						<li class="detail__popup2-item nth-1">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Air Shower</span>
								<h6 class="detail__popup2-subject font-eng">Air Shower</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-2">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">무균 수술실</span>
								<h6 class="detail__popup2-subject">무균 수술실</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-3">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">무균 연구시설</span>
								<h6 class="detail__popup2-subject">무균 연구시설</h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-4">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">무균 QC실</span>
								<h6 class="detail__popup2-subject">무균 QC실</h6>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
			<div class="detail__section-wrap type-svf type-another2">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-svf">
						<h4 class="detail__section-tit">
							<strong>줄기세포</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-svf0">디테일</strong>합니다
						</h4>
						<p class="detail__section-subtit">더욱 안전하고 성공적인 치료를 위한 무균 룸</p>
						<p class="detail__section-txt">
							사람의 세포는 외부 환경에 매우 민감하게 반응합니다.
							따라서 미세한 오염에도 굉장히 취약하죠.
							때문에 바노바기는 <span class="color-svf6">세포 분리에서 세포 처리까지의 전 과정이 하나로 연결된 무균 룸 시스템을 도입</span>했습니다.
							<span class="color-svf6">세포의 변질과 손실이 거의 없는 안전한 치료,</span> 바노바기에서 가능합니다.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-svf type-another2">
			<div class="detail__section-set">
				원스톱 무균 시설
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another2" data-popup-type="footer">팝업버튼</a></span>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
