<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-augment">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">지방이식 그 이상의 기술력으로 채우는 볼륨</p>
				<h3 class="content-visual__tit"># 가슴확대</h3>
				<p class="content-visual__txt2">내 가슴 그대로, <strong>자연스러운 풍만함</strong></p>
			</div>
		</div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="augment-box1">
	                <div class="augment-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong>가슴 성형</strong>에 <br>
							부담을 느끼는 경우,<br>
							<strong class="content-highlight2 type-augment">지방이식</strong>이 <strong>대안</strong>이 될 수 있습니다
						</h4>
	                    <p class="content-section__txt1">
							가슴은 여성성의 상징인 동시에 여성의 매력을 어필할 수 있는 신체 부위입니다.<br class="hidden-m">
	                        노출에 대한 인식이 바뀌며 아름다운 가슴에 대한 관심은 더욱 커졌고, 그에 따라 가슴 성형에 대한 관심 또한 급증하고 있죠.
	                        하지만 아직까지 가슴 성형은 그리 쉽게 결정할 수 있는 수술이 아닌 것이 사실입니다. <strong>가슴에 보형물을 넣어야 하는 것에 대한 거부감이나 수술 후 통증, 비교적 긴 회복기간 등 수술 결정을 주저하게 할만한 요소들이 분명 존재하기 때문</strong>입니다. 윗가슴의 볼륨이 조금 부족한 경우나 약간의 크기 변화만을 원하는 경우라면 더더욱 그런 부담을 감수하고 싶지 않겠죠.
						</p>
	                    <p class="content-section__txt2">
							따라서 이런 경우에는 <span class="content-highlight type-augment type-dark color-svf7">지방이식을 통한 가슴확대가 좋은 대안</span>이 될 수 있습니다.
						</p>
	                    <div class="augment-box1__img-wrap">
	                        <div class="augment-box1__img"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box2">
	                <div class="augment-box2__box">
	                    <p class="content-section__txt1">
							가슴의 내부를 구성하고 있는 것은 대부분이 지방조직입니다. 가슴 내부의 지방 양이
	                        늘어나면 가슴의 크기도 커지게 되죠.<br class="hidden-m">
	                        이런 접근으로 고안된 것이 바로 지방이식을 통한 가슴확대입니다.<br>
	                        환자 본인의 배 혹은 엉덩이 부위에서 지방을 추출한 뒤 정제하여 주사기를 이용해 필요한 만큼 가슴에 주입하는 것입니다.
						</p>
	                    <p class="content-section__txt2">
							<span class="color-svf7">이식된 지방</span>은 곧 가슴 내부의 지방들과 함께 <span class="color-svf7">자연스럽게 자리 잡아 아름답고 볼륨감 있는 가슴</span>을 이루게 됩니다.
						</p>
	                </div>
	                <div class="augment-box2__list_wrap">
	                    <div class="augment-box2__list_tit">
	                        지방이식 가슴확대 과정
	                    </div>
	                    <ul class="augment-box2__list">
	                        <li class="augment-box2__item nth-1">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">배, 혹은 엉덩이와 같은<br> 부위에서 지방 추출</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-2">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">정제 및 분리</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-3">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">가슴에 지방 주입</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box3">
	                <div class="augment-box3__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									02
								</span>
							</span>
							<strong>장점</strong>이 많은 방법이지만<br class="hidden-pm">
	                        <strong class="content-highlight2 type-augment">단점</strong> 또한<br class="hidden-t">
							<strong>분명</strong>했습니다
						</h4>
	                    <p class="content-section__txt1">
							지방이식을 통한 가슴확대의 가장 큰 장점은 자연스러움이라고 할 수 있습니다.<br>
	                        보형물과 같은 인공 물질이 아닌 원래 가슴을 이루고 있는 지방을 보충하는 방법이기 때문에
	                        구형구축과 같은 부작용이 일어날 가능성이 적고,<br class="hidden-tm">
	                        그 모양이나 움직임 또한 지극히 자연스럽죠.<br class="hidden-m">
	                        또, 과도한 절개나 박리가 필요하지 않기 때문에 수술에 대한 부담감도 적으며,<br class="hidden-tm">
	                        원하는 부위에 원하는 만큼의 지방을 조절하여 주입할 수 있다는 것도 큰 장점입니다.<br><br>
	                        하지만 너무 마른 체형의 환자분들에게는 적합하지 않은 방법이며, 시간이 지나면 처음보다<br class="hidden-pm">
	                        그 효과가 점차 떨어진다는 단점이 있습니다.<br>
	                        특히 효과의 지속성 문제는 이식된 지방이 제대로 생착되지 못하는 것이 원인으로,
						</p>
	                    <p class="content-section__txt2">
							<strong>개개인에 따라 그 정도가 다르지만<br class="hidden-pt">
	                        <span class="color-svf8">이식된 지방들 중 약 30~50% 정도</span>는<br class="hidden-pm">
	                        서서히 체내에 흡수되어 가슴 크기가 줄어들 수 있습니다.</strong>
						</p>
	                </div>
	            </div>

	            <div class="augment-box4">
	                <div class="augment-box4__box">
	                    <div class="augment-box4__list_wrap type-strengths">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-strengths">장점</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">가슴의 자연스러운 모양과 움직임</li>
	                                <li class="augment-box4__item">구형구축과 같은 보형물로 인한 부작용의<br class="hidden-m"> 걱정이 거의 없음</li>
	                                <li class="augment-box4__item">과도한 절개나 박리가 필요하지 않아<br class="hidden-m"> 흉터와 통증이 적고 회복이 수월</li>
	                                <li class="augment-box4__item">정밀한 시술로 원하는 부위에 원하는<br class="hidden-m"> 크기만큼 미세한 조절이 가능</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="augment-box4__list_wrap type-weaknesses">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-weaknesses">단점</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">마른 체형에는 적합하지 않음</li>
	                                <li class="augment-box4__item">시간이 지나 생착되지 못한 지방은<br class="hidden-m"> 흡수되어<br class="hidden-m"> 처음보다 효과가 떨어짐</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box5">
	                <div class="augment-box5__wrap">
	                    <div class="augment-box5__box">
	                        <h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								<strong>바노바기</strong>는<br>
								<span class="content-highlight2 type-augment type-light color-svf9">줄기세포</span>를 활용하여<br>
								기존의 <strong>단점</strong>을 개선합니다
							</h4>
	                        <p class="content-section__txt1">
								가슴에 이식된 지방이 제대로 생착되지 못하는 이유는 추출한 지방과 가슴 지방과의 미세한 차이 때문입니다.
	                            이미 다른 부위에서 그 조건에 맞게 자란 지방이기 때문에 가슴 지방과는 미세하게 다르고,<br class="hidden-m">
	                            그 차이를 몸이 받아들이지 않으면 녹아 없어지게 되는 것이죠.<br><br class="hidden-m">
	                            바노바기는 이 문제를 개선하기 위해 세포 단위의 지방이식을 활용합니다.<br class="hidden-m">
	                            단순히 지방만을 이식하는 것이 아닌, 지방에 포함된 줄기세포를 분리하여 이식하는 것입니다.<br>
	                            줄기세포는 다양한 부위에 맞게 분화할 수 있는 능력이 있기 때문에, 가슴에 주입된 후 스스로<br class="hidden-m">
	                            가슴 지방세포의 역할을 하게 됩니다. 다른 부위의 지방이 아닌 가슴 지방 자체가 더해지는 것이죠.
							</p>
	                        <p class="content-section__txt2">
								때문에 이 방법은 기존 지방이식을 통한 가슴확대 보다 더욱 뛰어난 효과를 보여주며,<br class="hidden-pm">
	                            더욱 오래도록 가슴의 볼륨을 유지할 수 있습니다
							</p>
	                    </div>
	                    <div class="augment-box5__area">
	                        <div class="augment-box5__area-wrap">
	                        <div class="augment-box5__tit">
	                            <strong>기존 지방이식</strong>과<br class="hidden-pt"> <strong class="color-svf10">바노바기 줄기세포 지방이식</strong>의 차이
	                        </div>
	                        <div class="augment-box5__list_wrap type-pre">
	                            <div class="augment-box5__list_tit">
	                                기존 지방이식
	                            </div>
	                            <ul class="augment-box5__pre_list">
	                                <li class="augment-box5__pre_item nth-1">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">타 부위에서 지방 추출</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__pre_item nth-2">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">추출된 지방 가슴에 주입</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__pre_item nth-3">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    추출된 지방 중 일부 생착,<br>
	                                                    생착되지 못한 지방은 녹아 사라짐
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="augment-box5__list_wrap type-bnbg">
	                            <div class="augment-box5__list_tit color-svf10">
	                                바노바기 줄기세포 지방이식
	                            </div>
	                            <ul class="augment-box5__bnbg_list">
	                                <li class="augment-box5__bnbg_item nth-1">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    타 부위 지방 추출 후<br class="hidden-t">
	                                                    줄기세포 분리
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-2">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">분리된 줄기 세포 가슴에 주입</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-3">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    이식된 줄기세포는 가슴 지방 세포로<br>
	                                                    성장하여 대부분 생착
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-4">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">더욱 오래도록 유지되는 볼륨</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box6">
	                <div class="augment-box6__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									04
								</span>
							</span>
							<strong class="color-svf10">줄기세포 활용,</strong><br class="hidden-pt">
	                        충분한 기술과 설비가
	                        <strong>기본</strong>입니다.
						</h4>
	                    <p class="content-section__txt1">
							줄기세포를 이용한 가슴 지방이식을 위해서는 충분한 시설과 기술이 필요합니다.<br>
	                        바노바기는 미래창조과학부에서 인정한 연구개발 전담부서로서, 안정적인 줄기세포 활용에<br class="hidden-pm"> 필요한 각종 시설과 전문 인력을 갖추고 있습니다.<br>
	                        또, 전문의의 노하우를 통해 지방을 추출, 주입하는 모든 과정에서 흔적이 남지 않도록 정밀하게 시술하고<br class="hidden-m">
	                        <strong>같은 양의 지방이라도 더욱 활용도 높은 줄기세포를 추출하여 효과적인 지방이식을 가능</strong>하게 합니다.
						</p>
	                    <div class="augment-box6__auth">
	                        기술평가 우수기업 인증서
	                    </div>
	                </div>
	            </div>
	            <div class="augment-box7">
	                <h5 class="content-section__tit augment-box7__tit">
	                    <span class="augment-box7__subtit">바노바기에 남다른</span>
	                    <span class="augment-box7__detail"><img src="../../images/svf/augment/augment_txt_01.png" loading="lazy" alt="detail"></span><br>
	                    <strong class="color-svf10">줄기세포 가슴확대</strong>가<br class="hidden-pt"> 더욱<br class="hidden-pm">
	                    만족스러운 이유
	                </h5>
	                <div class="augment-box7__area">
	                    <ul class="augment-box7__list">
	                        <li class="augment-box7__item nth-1">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            생명공학 연구원<br class="hidden-pm"> 상주
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-2">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            지방 추출, 주입 과정에서<br>
	                                            흔적이 남지 않도록 하는<br class="hidden-pm"> 정밀한 기술과 노하우
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-3">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            세포 유효 수 검사 기기,<br class="hidden-pm">
	                                            극저온 냉동보관 시스템,<br>
	                                            무균 룸 등 필요 설비 보유
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box8">
	                <div class="augment-box8__bg">
	                    <div class="augment-box8__box">
	                        <div class="augment-box8__tit-box">
	                            <p class="content-section__txt1 type-unique">BANOBAGI stem cell</p>
	                            <h4 class="content-section__tit type-augment">
									<strong>개인적인 노력은</strong><br>
									<strong class="color-svf7">더욱 만족스러운 결과를<br class="hidden-pt"> 이끌어냅니다</strong>
								</h4>
	                        </div>
	                        <div class="augment-box8__img-wrap">
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_14.png" loading="lazy" alt="">
	                            </div>
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_15.png" loading="lazy" alt="">
	                            </div>
	                        </div>
	                        <div class="augment-box8__txt-wrap">
	                            <p class="content-section__txt1">
	    							가슴에 지방세포가 이식되고 <strong>약 2주 정도의 시간이 지나면</strong> 지방세포에 혈관이 자라 들어와<br class="hidden-pm">
	                                안정적으로 자리 잡게 됩니다.<br class="hidden-tm">
	                                따라서 지방세포를 더욱 효과적으로 자리 잡게 하기 위해서는<br class="hidden-pm">
	                                그 기간 동안 특히 주의를 기울이는 것이 필요하죠.<br class="hidden-m">
	                                가장 중요한 것은 움직임을 최대한 적게 하고 외부의 자극을 적게 주는 것입니다.
	    						</p>
	                            <p class="content-section__txt2">
	    							또, 흡연은 혈관 생성을 방해하는<br class="hidden-pt"> 주 요인으로, 시술 전을 포함하여<br class="hidden-pm">
	                                <span class="color-svf11">약 두 달 정도의 금연</span>을 권장합니다.
	    						</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">바노바기 줄기세포 가슴확대는 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">주입되는 양에 따라 약 1시간~2시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취/정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									가슴에 팽창감과 약간의 통증이 있을 수 있으나 시간이 지나면서 점차 완화됩니다.<br>
									지방을 추출한 부위에 얼얼한 느낌이 있을 수 있습니다.<br>
									주사 수술로 통증이 적은 편에 속하지만 수술 후 통증이 심하다 생각되면 바로 전화 후 내원해야 합니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/breast.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div> <!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
