.new-visual{
	$this:&;
	&.type-lifting{
		&:before{
			@include background('../images/body/lifting/lifting_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $body1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-lifting{
			&:before{
				@include background('../images/body/lifting/lifting_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-lifting{
			&:before{
				@include background('../images/body/lifting/lifting_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.section-normal{
	$this:&;
	&.type-lifting{@include background('../images/body/lifting/lifting_bg_1.jpg','no-repeat center bottom/contain');}
}


.new-description{
	$this:&;
	&.type-lifting{
		#{$this}__list{margin-top: 0;}
	}
}

.img-style3{
	$this:&;
	&.type-lifting{margin-top: 0;}
}


.pop-info{
	&.type-body{
		.#{$infoBtn}.is-active{
			.#{$infoBtn}__icon{background-color:$body1;}
		}
		.#{$infoDesc}{background-color:rgba(94,57,27,0.9); color:#fff;}
	}
}
