.new-visual{
	$this:&;
	&.type-hip{
		&:before{
			@include background('../images/body/hip/hip_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background: $body1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-hip{
			&:before{
				@include background('../images/body/hip/hip_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-hip{
			&:before{
				@include background('../images/body/hip/hip_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-hip{background-color:#fff8ec;}
	&.type-hip2{background-color:#eee;}
	&.type-hip3{background-color:#2d1a0b; text-align:center;
		#{$this}__tit,#{$this}__txt2{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	&.type-hip4{background-color:#2d1a0b;}
	&.type-hip5{background-color:#eee;}
}

.new-style3{
	$this:&;
	&.type-hip{background:#fff8ec;}
	&.type-hip2{
		@include background('../images/body/hip/hip_bg_3.jpg','no-repeat center center / cover');
		#{$this}__tit{color:#fff;}
	}
	&.type-hip3{background-color:#eee;}
}


.new-section{
	&__wrap{
		&.type-hip{background-color:#fff5e4;}
	}
}

.bg-style1{
	$this:&;
	&.type-hip{
		#{$this}__wrap{background:url('../images/body/hip/hip_bg_1.jpg') no-repeat center center / cover;}
		#{$this}__tit{color:#fff; line-height:1.25;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-hip{
			#{$this}__wrap{background:url('../images/body/hip/hip_bg_1_t.jpg') no-repeat center center / cover;}
		}
	}
}

.structure{
	$this:&;

}
