.new-visual{
	$this:&;
	&.type-mint{
		&:before{
			@include background('../images/body/mint/mint_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $body1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-mint{
			&:before{
				@include background('../images/body/mint/mint_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-mint{
			&:before{
				@include background('../images/body/mint/mint_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-mint{@include background('../images/body/mint/mint_bg_1.png','no-repeat center bottom / contain');}
	&.type-mint2{background-color:#ffe7c1;}
	&.type-mint3{background-color:#fffaf1;}
	&.type-mint4{background-color:#28170a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__txt2{color:#fff;}
	}
	&.type-mint5{background-color:#28170a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-mint4{
			#{$this}__img{margin-left:0px; margin-right:0px;}
		}
	}
}

.inner-box{
	$this:&;
	&.type-mint{background-color:#28170a;}
}

.bg-style1{
	$this:&;
	&.type-mint{
		#{$this}__tit{color:#fff;}
	}
}
