.new-visual{
	$this:&;
	&.type-zeltiq{
		&:before{
			@include background('../images/body/zeltiq/zeltiq_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $body1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-zeltiq{
			&:before{
				@include background('../images/body/zeltiq/zeltiq_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-zeltiq{
			&:before{
				@include background('../images/body/zeltiq/zeltiq_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-zeltiq{
		@include background('../images/body/zeltiq/zeltiq_bg_1.jpg','no-repeat center bottom / contain');
		#{$this}__wrap{position:relative; z-index:1;}
		#{$this}__img{ margin-top:-82px;}
	}
	&.type-zeltiq2{background-color:#dce6ee;}
	&.type-zeltiq3{background-color:#28170a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	&.type-zeltiq4{background-color:#fffaf1;
		#{$this}__img{margin-left:-120px; margin-right:-120px;}
	}
	&.type-zeltiq5{background-color:#28170a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-zeltiq4{
			#{$this}__img{margin-left:0px; margin-right:0px;}
		}
	}
}

.new-section{
	&__wrap{
		&.type-zeltiq{background-color:#fff5e4;}
	}
}

.video-style1{
	$this:&;
	&.type-zeltiq{
		#{$this}__bg{@include background('../images/body/zeltiq/zeltiq_video.jpg','no-repeat center center/cover');}
	}
}
