.new-visual{
	$this:&;

	&.type-dday{
		&:before{
			@include background('../images/body/dday/dday_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $body1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-dday{
			&:before{
				@include background('../images/body/dday/dday_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-dday{
			&:before{
				@include background('../images/body/dday/dday_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-dday{@include background('../images/body/dday/dday_bg_1.jpg','no-repeat center bottom / contain');}
    &.type-dday2{background-color: #ffe0bb;}
	&.type-dday3{@include background('../images/body/dday/dday_bg_2.jpg','#28170a no-repeat center bottom/contain');
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #fff;}
		#{$this}__txt2{color: #fff;}
	}
	&.type-dday4{background-color: #28170a;}
	&.type-dday5{@include background('../images/body/dday/dday_bg_3.jpg','#fff no-repeat center bottom/contain');}
}

.inner-box{
    &.type-dday{background-color: #fffbf2;}
}

.inner-circle2{
	$this:&;

	&.type-dday{
		#{$this}__item{
			&.nth-1{
				@include background('../images/body/dday/dday_img_6.png','no-repeat center center/contain;');
			}
			&.nth-2{
				@include background('../images/body/dday/dday_img_7.png','no-repeat center center/contain;');
			}
			&.nth-3{
				@include background('../images/body/dday/dday_img_8.png','no-repeat center center/contain;');
			}
			&.nth-4{
				@include background('../images/body/dday/dday_img_9.png','no-repeat center center/contain;');
			}
			&.nth-5{
				@include background('../images/body/dday/dday_img_10.png','no-repeat center center/contain;');
			}
			&.nth-6{
				@include background('../images/body/dday/dday_img_11.png','no-repeat center center/contain;');
			}
			&.nth-7{
				@include background('../images/body/dday/dday_img_12.png','no-repeat center center/contain;');
			}
		}
	}
}

.bg-style1{
	$this:&;
	&.type-dday{
		#{$this}__tit{color:#fff;}
	}
}
