.new-visual{
	$this:&;
	&.type-midface{
		&:before{
			@include background('../images/wrinkle/midface/midface_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $wrinkle1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-midface{
			&:before{
				@include background('../images/wrinkle/midface/midface_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-midface{
			&:before{
				@include background('../images/wrinkle/midface/midface_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-midface{@include background('../images/wrinkle/midface/midface_bg_1.jpg','no-repeat center bottom / contain');}
	&.type-midface2{background: #11060f;
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
		#{$this}__txt2{color: #fff;}
	}
	&.type-midface3{background:#eeeeee;}
	&.type-midface4{background-color:#081726;
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #fff;}
		#{$this}__txt2{color: #aaa;}
	}
}

.img-style3{
	$this:&;
	&.type-wrinkle{
		#{$this}__hexa{
			&.type-left{@include background('../images/wrinkle/wrinkle_hexa_1.png','no-repeat center center / contain');}
			&.type-right{@include background('../images/wrinkle/wrinkle_hexa_2.png','no-repeat center center / contain');}
		}
	}
}

.pop-info{
	&.type-wrinkle{
		.#{$infoBtn}.is-active{
			.#{$infoBtn}__icon{background-color:$wrinkle1;}
		}
		.#{$infoDesc}{background-color:rgba(92,75,63,0.9); color:#fff;}
	}
}
