.new-visual{
	$this:&;

	&.type-facelift{
		&:before{
			@include background('../images/wrinkle/facelift/facelift_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $wrinkle1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-facelift{
			&:before{
				@include background('../images/wrinkle/facelift/facelift_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-facelift{
			&:before{
				@include background('../images/wrinkle/facelift/facelift_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-facelift2{background-color:#2b1404;
		#{$this}__tit,#{$this}__txt2{color:#fff;}
		#{$this}__txt{color:#aaa;}
	}
	&.type-facelift3{background-color:#f3e7e0;}
}
.outer-box{
	&.type-facelift{background-color:#fae3d4;}
}
