.new-visual{
	$this:&;
	&.type-2030{
		&:before{
			@include background('../images/wrinkle/2030/2030_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $wrinkle1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-2030{
			&:before{
				@include background('../images/wrinkle/2030/2030_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-2030{
			&:before{
				@include background('../images/wrinkle/2030/2030_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-2030{@include background('../images/wrinkle/2030/2030_bg_1.jpg','no-repeat center bottom/contain');}
	&.type-2030-2{background: #eadbc7;}
    &.type-2030-3{@include background('../images/wrinkle/2030/2030_bg_2.jpg','no-repeat center bottom/cover');
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
		#{$this}__txt2{color: #fff;}
	}
	&.type-2030-4{background: #4c3323;}
}

.outer-box{
	&.type-2030{background-color:#ffefe7;}
}

.compare3{
	$this:&;
	&.type-wrinkle{
		#{$this}__box{
			&.type-before{
				#{$this}__subject{background-color:#eaa887;}
			}
			&.type-after{
				#{$this}__subject{background-color:#aa8b77;}
			}
		}
		&.type-plus{
			#{$this}__box{
				& + #{$this}__box{position:relative;
					&:before{ background:url('../images/wrinkle/wrinkle_plus.png') no-repeat center center / cover;}
				}
			}
		}
	}
}
