.new-visual{
	$this:&;

	&.type-ulthera{
		&:before{
			@include background('../images/wrinkle/ulthera/ulthera_visual_1.jpg','no-repeat center center/cover');
	}
		#{$this}__item{background: $wrinkle1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulthera{
			&:before{
				@include background('../images/wrinkle/ulthera/ulthera_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthera{
			&:before{
				@include background('../images/wrinkle/ulthera/ulthera_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-ulthera{@include background('../images/wrinkle/ulthera/ulthera_bg_1.jpg','no-repeat center bottom/cover');
		#{$this}__img{@include background('../images/wrinkle/ulthera/ulthera_img_2.png','no-repeat right bottom/contain');}
	}
	&.type-ulthera2{@include background('../images/wrinkle/ulthera/ulthera_bg_2.jpg','no-repeat center bottom/cover');}
	&.type-ulthera3{background-color:#f1bb6c;}
	&.type-ulthera4{background-color:#f3e7e0;}
	@media only screen and (max-width: $mobile-size){
		&.type-ulthera{@include background('../images/wrinkle/ulthera/ulthera_bg_1_m.jpg','no-repeat center bottom/cover');
			#{$this}__img{@include background('../images/wrinkle/ulthera/ulthera_img_2_m.png','no-repeat right bottom/contain');}
		}
	}
}
.outer-box{
	&.type-ulthera{background-color:#fae3d4;}
}


.ulthera-style1{position:relative; margin-top:86px; padding:66px 180px 40px;background-color:#eee;
	@extend %box;
	@extend %box-padding;
	&:after{position:absolute; left:-296px; bottom:0px; display:block; width:623px; height:713px; @include background('../images/wrinkle/ulthera/ulthera_img_3.png','no-repeat center bottom/cover'); z-index:10; content:'';}
	&__tit{margin-bottom:-16px;}
	&__wrap{padding-left:24.2%; box-sizing:border-box;}
	&__box{position:relative; padding-left:80px; box-sizing:border-box;}
	&__eq{position:relative; padding:0 25.6%; left:0; right:0; bottom:-72px; z-index:10; box-sizing:border-box;}
	&__ultrasonic{position:relative; width:100%; height:0; padding-bottom:31.98%; @include background('../images/wrinkle/ulthera/ulthera_ultrasonic_1.jpg','no-repeat center bottom/cover');}
	&__line{position:absolute;  right:0; width:calc(100% + 80px;); height:4px;  background-color:#ff9a09;
		&.nth-1{top:25%;}
		&.nth-2{top:0; bottom:0; margin:auto 0;}
		&.nth-3{bottom:25%; background-color:#ff5a00;}
	}
	&__outer{position:relative; display:block; width:100%; text-align: left;}
	&__inner{position:absolute; bottom:0; font-size:20px;}
	&__area{margin-top:16px; border:5px solid $wrinkle2; border-top:none;}
	&__header{position:relative; padding:20px; background-color:$wrinkle2; color:#fff;
		&:after{position:absolute; left:0; right:0; bottom:-13px;display:block; width: 0px;height: 0px; margin:0 auto;
			border-top:14px solid $wrinkle2; border-bottom:14px solid none; border-right: 16px solid transparent; border-left: 16px solid  transparent; content:'';
		}
	}
	&__body{padding:20px; background-color:#fff;}
	@media only screen and (max-width: $tablet-size){background-color: transparent;
		&:after{position:absolute; left:0; bottom:0; display:block; width:100%; height:calc(100% + 30px); @include background('../images/wrinkle/ulthera/ulthera_bg_3.jpg','no-repeat center top/cover'); z-index:-1; content:'';}
		&__eq{padding:0 30%; bottom:-50px;}
		&__wrap{padding-left:90px; box-sizing:border-box;}
		&__box{padding-left:70px;}
		&__line{width:calc(100% + 70px;); height:4px;}
		&__inner{font-size:17px;}
		&__tit{margin-bottom:0; padding-left:160px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size){margin-top:40px; padding-top:46px; padding-bottom:30px;
		&:after{height:calc(100% + 20px); @include background('../images/wrinkle/ulthera/ulthera_bg_3_m.jpg','no-repeat center top/cover');}
		&__eq{bottom:-28px;}
		&__wrap{padding-left:10px}
		&__box{padding-left:36px;}
		&__tit{padding-left:46px;}
		&__line{width:calc(100% + 36px;); height:2px;}
		&__inner{font-size:1rem;}
		&__area{margin-top:8px; border-width:3px;}
		&__header{padding:6px;
			&:after{bottom:-6px; border-top-width:7px; border-bottom-width:7px; border-right-width: 8px; border-left-width: 8px;}
		}
		&__body{padding:6px; }
	}
}

.inner-circle{
	$this:&;
	&.type-ulthera{
		#{$this}__list{margin:28px -10px 0;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-ulthera{
			#{$this}__list{margin:10% 0 0;}
		}
	}
}

.ulthera-img1{
	@media only screen and (max-width: $tablet-size){width:270px; }
	@media only screen and (max-width: $mobile-size){width:110px; padding-top:40px; }
}
.n-color-ulthera1{color:#5e391b;}
