<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="wrinkle-midface">
		<div class="new-visual type-midface">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">탄탄한 입체감으로 더욱 화사하게</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-wrinkle2">중안면부</span> 리프팅
                        </h3>
						<p class="new-visual__txt">두 수술의 시너지로 더욱 효과적인 주름 개선</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#해부학적노하우</span></li>
							<li class="new-visual__item"><span>#노화개선</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-midface">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						대부분의 얼굴 노화 흔적은<br class="hidden-tm"> <span class="n-color-wrinkle2">중안면부</span>에 나타납니다
					</h4>
					<p class="new-style1__txt txt-new1">
						중안면부란 얼굴을 임의로 나누었을 때, 눈 밑에서부터 코끝까지의 범위를 얘기합니다.<br class="hidden-tm">
						이 중안면부는 눈 밑주름, 팔자주름, 인디언주름, 볼 처짐 등 얼굴 노화의 대표적인 흔적들이 드러나는 부위로,<br class="hidden-tm">
						<span class="color-black1">노안과 동시에 심술궂어 보이거나 우울해 보이는 부정적인 인상을 만드는 원인</span>이 되죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 보다 효율적으로 <span class="n-color-wrinkle2">얼굴의 노화와 부정적인 인상을 개선</span>하고 싶다면,<br class="hidden-tm">
						중안면부를 전반적으로 당겨줄 수 있는 <span class="n-color-wrinkle2">중안면부 리프팅</span>을 생각해볼 수 있습니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/midface/midface_img_1.png" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="img-style1">
					<h5 class="new-content-tit tit-new2">
						중안면부에 집중되는 <strong class="weight-regular">노화 흔적</strong>
					</h5>
					<ul class="img-style1__list type-one">
						<li class="img-style1__item">
							<img src="../../images/wrinkle/midface/midface_img_2.jpg" class="img-normal hidden-m" loading="lazy" alt="눈 밑주름,인디언주름,볼처림,팔자주름">
							<img src="../../images/wrinkle/midface/midface_img_2_m.jpg" class="img-normal hidden-pt" loading="lazy" alt="눈 밑주름,인디언주름,볼처림,팔자주름">
						</li>
					</ul>
				</div>
            </div>
			<div class="new-section">
				<div class="new-style1 type-midface2 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 <span class="n-color-wrinkle3">눈 밑주름</span>을 포함한<br class="hidden-tm">
						<span class="n-color-wrinkle3">중안면부를 개선</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						일반적으로 눈 밑주름을 개선하는 하안검과 볼 처짐을 개선하는 중안면부 거상은 각각의 수술로 구분하여 진행됩니다.<br class="hidden-tm">
						하지만 얼굴의 노화는 부분부분이 아닌 전반적으로 진행되는 만큼, 가능하다면 이러한 고민들을 한 번에 개선하는 것이 좋죠.<br class="hidden-tm">
						마침 중안면부 리프팅은 눈 아래의 비교적 적은 절개만으로도 시행할 수 있는 수술로, 하안검 수술을 할 때와 크게 차이가 나지 않습니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						그래서 바노바기는 얼굴 각 층에 대한 해부학적 이해와 노하우를 바탕으로<br class="hidden-tm">
						<span class="n-color-wrinkle3">하안검과 중안면부 거상을 동시에 진행</span>합니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/midface/midface_img_3.jpg" loading="lazy" alt="" class="img-normal hidden-m">
					</div>
					<div class="inner-box">
						<div class="img-style3 type-cling type-wrinkle type-wide">
							<h5 class="new-content-tit tit-new2">보다 효과적인 바노바기 <strong class="weight-regular inline-block">중안면부 리프팅</strong></h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
										<div class="img-style3__hexa type-left txt-new3">
											<div class="img-style3__inner">
												하안검
											</div>
										</div>
										<div class="img-style3__hexa type-right txt-new3">
											<div class="img-style3__inner">
												중안면부<br> 거상
											</div>
										</div>
                                        <img src="../../images/wrinkle/midface/midface_img_4.jpg" loading="lazy" alt="수술부위" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        얼굴 각 층에 대한 해부학적 이해를 바탕으로 두 가지 수술을 동시에!
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //img-style3 -->
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-midface3 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						보다 효과적으로 <span class="n-color-wrinkle2">당기고</span><br class="hidden-tm">
						더욱 안정적으로 <span class="n-color-wrinkle2">고정</span>합니다
					</h4>
					<p class="new-style1__txt txt-new2">
						바노바기 중안면부 리프팅은 <span class="n-color-wrinkle2">엔도타인을 통한 안면 리프팅과 하안검 수술</span>입니다.<br class="hidden-tm">
						눈 아래 미세한 절개를 통해 중안면부를 고르게 박리하고, 피부와 처진 조직들을 당겨주는 것이죠.
					</p>
					<p class="new-style1__txt2 txt-new1">
						이때, 얼굴 주름의 근본적 원인이 되는 근막층을 함께 당기는 것이 핵심이며,  개개인의 상태에 따라 지방의 형태 또한 개선해 주어야 합니다.<br class="hidden-tm">
						이후 당겨진 조직들은
						<span class="pop-info type-wrinkle">
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon">인포버튼</span>
								엔도타인
								<span class="info-desc type-wrinkle">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>엔도타인이란?</span>
											<span class="info-desc__content">
												<img src="../../images/wrinkle/midface/midface_info_1.jpg" loading="lazy" alt="엔도타인B - 하안검 수술용, 엔도타인ST, 앵커링 수술용" class="info-desc__thumb">
												<span class="info-desc__txt1">
													엔도타인은 미국 FDA의 승인을 받은 안전한 생체 친화적
													재료입니다. 힘이 한 곳으로 집중되는 핀이나 단순 봉합과는 달리
													피부 조직을 균일한 압력으로 고르게 당겨주어, 부작용과 재발을
													방지하고 보다 자연스러운 주름 개선이 가능합니다. 또, 시간이
													지나면 자연스럽게 체내에 흡수되어 반영구적인 효과를 기대할 수
													있기 때문에 처진 피부를 당겨 개선하는 다양한 안티에이징 시술에
													사용되고 있습니다.
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left">태블릿 닫기</span>
											<span class="info-desc__stick type-another">태블릿 닫기</span>
											닫기
										</button>
									</span>
								</span>
							</a>
						</span>
						을 통해 고르게 고정하고 절개 부위를 봉합하는 것으로 수술은 마무리됩니다.
					</p>
					<div class="inner-box">
						<div class="img-style3 type-cling type-wrinkle">
							<h5 class="new-content-tit tit-new2">바노바기 중안면부 리프팅 <strong class="weight-regular">방법</strong></h5>
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/midface/midface_img_5.jpg" loading="lazy" alt="STEP 01" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        STEP 01
                                    </div>
									<p class="img-style3__txt2 txt-new1">눈 아래에 비교적 작은 절개창을 만들어줍니다.</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/midface/midface_img_6.jpg" loading="lazy" alt="STEP 02" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        STEP 02
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										절개창을 통해 주름의 원인이 되는 근막층을 포함한 전체적인
										중안면부 조직들을 원래 자리로 당겨줍니다.
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/midface/midface_img_7.jpg" loading="lazy" alt="STEP 01" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        STEP 03
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										당겨진 조직들을
										<span class="pop-info type-wrinkle">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">인포버튼</span>
												엔도타인
												<span class="info-desc type-wrinkle">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>엔도타인이란?</span>
															<span class="info-desc__content">
																<img src="../../images/wrinkle/midface/midface_info_1.jpg" loading="lazy" alt="엔도타인B - 하안검 수술용, 엔도타인ST, 앵커링 수술용" class="info-desc__thumb">
																<span class="info-desc__txt1">
																	엔도타인은 미국 FDA의 승인을 받은 안전한 생체 친화적
																	재료입니다. 힘이 한 곳으로 집중되는 핀이나 단순 봉합과는 달리
																	피부 조직을 균일한 압력으로 고르게 당겨주어, 부작용과 재발을
																	방지하고 보다 자연스러운 주름 개선이 가능합니다. 또, 시간이
																	지나면 자연스럽게 체내에 흡수되어 반영구적인 효과를 기대할 수
																	있기 때문에 처진 피부를 당겨 개선하는 다양한 안티에이징 시술에
																	사용되고 있습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															닫기
														</button>
													</span>
												</span>
											</a>
										</span>
										을 통해 단단히 고정하고, 지방의 위치 또한 교정해줍니다.
									</p>
                                </li>
								<li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/midface/midface_img_8.jpg" loading="lazy" alt="STEP 02" class="img-w100">
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        STEP 04
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										눈 아래의 절개창을 봉합합니다.
									</p>
                                </li>
                            </ul>
                        </div><!-- //img-style3 -->
					</div>
					<div class="section-info type-new-style1">
						* 절개 및 엔도타인의 위치는 환자 개개인의 상태에 따라 달라질 수 있습니다.
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-midface4 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기 중안면부 리프팅은<br class="hidden-tm">
						<span class="n-color-wrinkle3">장점이 많은 수술</span>입니다
					</h4>
					<p class="new-style1__txt txt-new2">
						이 방법은 한 번의 절개를 통해 <span class="n-color-wrinkle3">눈 밑주름을 포함한 중안면부의 복합적인 처짐을<br class="hidden-tm">
							개선</span>할 수 있기 때문에 보다 효율적입니다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						그리고 하안검만을 시행했을 때 간혹 생길 수 있는 아래 눈꺼풀 뒤집어짐과 같은 부작용을 예방해주는 등,<br class="hidden-tm">
						각 수술의 상호보완적 역할을 하여 더욱 안전하죠. 또, 표정 근육까지 계산하는 기술로 처진 피부와 조직들을 원래 있던<br class="hidden-tm">
						자리로 되돌리는 개념의 수술이기 때문에 그 결과가 보다 자연스럽고 효과 또한 뛰어나다는 장점이 있습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/midface/midface_img_9.jpg" loading="lazy" alt="" class="img-normal hidden-m">
					</div>
					<div class="inner-box">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit type-description tit-new2">바노바기 중안면부 리프팅 <strong class="weight-regular">장점</strong></h5>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										눈 밑주름까지 포함한 중안면부 리프팅으로 더욱 뛰어난 효과
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										표정 근육까지 고려하여 보다 자연스러움
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										엔도타인을 사용해 보다 안정적인 고정과 반영구적인 지속 효과
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-wrinkle">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 40분~1시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술 재료</h5>
										<p class="operation-v2__txt txt-new1">엔도타인 B</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 1회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-wrinkle">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 <span class="color-black1">욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화</span>됩니다.<br>
		                            실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
		                            수술 후 며칠 간 약간의 당김과 얼얼함이 느껴질 수 있습니다.<br>
		                            수술 후 약 1주 정도는 활짝 웃거나 입을 크게 벌리는데 어색함이 느껴질 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-forehead">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">내시경 이마 리프팅</h5>
									<p class="bg-style2__txt txt-new1">
										내시경 이마 리프팅은 눈가 주름을 포함한 <br class="hidden-tm">
										상안면부의 처짐을 개선할 수 있습니다
									</p>
									<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
										<span>내시경 이마 리프팅 바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-botox">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">보톡스</h5>
									<p class="bg-style2__txt txt-new1">
										필요에 따라 보톡스 시술을 더해주어<br class="hidden-tm">
										주름을 예방할 수 있습니다.
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>보톡스 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
