<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="wrinkle-elastic">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-elastic">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">기술력에 노하우가 더해진 리프팅</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-wrinkle2">탄력밴드</span><br>
                            리프팅
                        </h3>
						<p class="new-visual__txt">더 오래가는 자연스러운 젊음</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#정교한기술</span></li>
							<li class="new-visual__item"><span>#자연스러운결과</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-elastic">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-wrinkle2">원인</span>을 제대로 알고 개선해야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						처음 노화가 진행되기 전 우리의 얼굴은 왕성한 콜라겐이 피부와 피하지방층을 지탱하고, 그것을 바로 아래의 근막층이 견고하게<br class="hidden-tm">
                        잡아주는 모습을 하고 있습니다.<br class="hidden-tm">
                        하지만 시간이 지나면서 콜라겐은 줄어들고 상대적으로 지방은 늘어나기 시작하죠. 결국 그 균형이 깨지면서 근막층 또한 무너지게 되는 <br class="hidden-tm">
                        것입니다. 그렇게 근막층이 힘을 잃게 되면 다시 그 힘을 되찾기는 어려우며, 겉으로 봤을 때 표정에 따라 주름이 남고 피부 처짐이 <br class="hidden-tm">
                        발생하게 됩니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						결과적으로 얼굴 처짐과 주름을 근본적으로 개선하기 위해서는, <br class="hidden-tm">
						<span class="n-color-wrinkle2">피하지방층 아래 무너진 근막층을 복구하는 것이 가장 중요</span>하다고 할 수 있습니다.
					</p>
                    <div class="inner-circle type-wrinkle type-mbig">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    콜라겐<br>
                                    상실
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    지방<br>
                                    축적
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    얼굴<br>
                                    근막층<br>
                                    무너짐
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    피부 처짐<br>
                                    및 주름<br>
                                    발생
                                </div>
                            </li>
                        </ul>
                    </div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/elastic/elastic_img_1.png" loading="lazy" alt="탄력밴드 리프팅 모델 전후사진" class="img-normal">

                        <div class="new-style1__overlay type-left">
                            <img src="../../images/wrinkle/elastic/elastic_img_2.png" loading="lazy" alt="before" class="img-w100">
                        </div>
                        <div class="new-style1__overlay type-right">
                            <img src="../../images/wrinkle/elastic/elastic_img_3.png" loading="lazy" alt="수술 후 6개월" class="img-w100">
                        </div>
						<p class="before-noti type-img">
							* 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span>
						</p>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-elastic2">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        탄력밴드는 <span class="n-color-wrinkle3">근막층 자체</span>를<br class="hidden-tm">
                        강화해줍니다
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        피부 처짐과 주름의 가장 근본적인 원인인 근막층 노화. 바노바기는 이 근막층을<br class="hidden-tm">
                        강화해 줄 적합한 재료로 <span class="n-color-wrinkle3">탄력밴드를 사용</span>합니다.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        이 특수한 실은 세계적인 재건성형 권위자인 이탈리아의 Dr. 카푸로가 고안해낸 강한 탄성을 가진 의료용 실로,
                        <span class="color-white">인체 내에서 주변조직과<br class="hidden-tm"> 결합해 마치 인대와 같은 역할을 수행</span>하게 됩니다.<br class="hidden-tm">
						무너진 근막층 자체를 보강해주는 원리이기 때문에 보다 안전하며, 움직임에 탄력적으로 반응하여 더욱 자연스러운 결과를 기대할 수 있죠.<br class="hidden-tm">
                        또한 이 실을 사용하는 데 큰 절개가 필요하지 않기 때문에 비교적 수술에 대한 부담이 적고 빠른 회복을 기대할 수 있다는 장점도 있습니다.
                    </p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/elastic/elastic_img_4.jpg" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal"/>
					</div>
                    <div class="inner-box">
                        <div class="img-style3 type-wide type-cling type-wrinkle">
                            <h5 class="new-content-tit tit-new2">
                                탄력밴드의 <span class="weight-regular">특징</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_5.jpg" loading="lazy" alt="탄력밴드의 강한 탄력성으로 자유자재로 늘어남" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            탄력밴드의 강한 탄력성으로 자유자재로 늘어남
                                        </div>
                                    </div>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_6.jpg" loading="lazy" alt="비교적 강력한 탄성과 인장력으로 사용 범위가 넓고 끊어질 걱정 거의 없음, 근육 움직임에 따라 부드럽게 움직여 보다 자연스러움, 폴리에스터로 감싸여 조직 손상과 이물감이 거의 없음, 많은 절개가 필요하지 않아 비교적 회복이 빠르고 흉터 걱정이 줄어듬" class="img-w100 hidden-tm"/>
										<img src="../../images/wrinkle/elastic/elastic_img_6_t.jpg" loading="lazy" alt="비교적 강력한 탄성과 인장력으로 사용 범위가 넓고 끊어질 걱정 거의 없음, 근육 움직임에 따라 부드럽게 움직여 보다 자연스러움, 폴리에스터로 감싸여 조직 손상과 이물감이 거의 없음, 많은 절개가 필요하지 않아 비교적 회복이 빠르고 흉터 걱정이 줄어듬" class="img-w100 hidden-p"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            실리콘(core)에 폴리에스터가 그물망처럼 위빙(Weaving)되어 감싸져 있는 형태로, <br class="hidden-tm">
                                            보다 강력한 인장력과 안정적인 조직결함 효과를 가집니다.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-elastic3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        시술자의 역량으로 보다<br class="hidden-tm">
                        <span class="n-color-wrinkle2">뛰어난 효과</span>를 추구합니다
                    </h4>
                    <p class="new-style1__txt txt-new2">
                        탄력밴드를 이용한 리프팅의 효과를 극대화하기 위해서는 <span class="n-color-wrinkle2">탄력밴드에 대한 정확한 지식,<br class="hidden-tm">
                        얼굴 각 조직에 대한 충분한 이해와 경험</span>, 그리고 그 두 가지를 바탕으로 한 <span class="n-color-wrinkle2">정교한 감각과 기술</span>이<br class="hidden-tm">
                        필요합니다.
                    </p>
                    <p class="new-style1__txt2 txt-new1">
                        바노바기는 탄력밴드를 고안한 Dr. 카푸로 본인을 초빙하여 함께 그 기술과 수술 방법에 대해 공유하고 의학적 교류를 지속하고 있습니다.<br class="hidden-tm">
                        또한 동안 성형 전담팀의 오랜 경험과 노하우를 바탕으로 동양인의 특징에 맞는 탄력밴드 적용에 대한 연구도 진행되었죠.<br class="hidden-tm">
                        그래서 바노바기는 탄력밴드의 장점을 보다 효과적으로 살려, 더욱 만족스러운 결과를 얻을 수 있는 탄력밴드 리프팅이 가능합니다.
                    </p>
                    <div class="inner-box">
                        <div class="img-style3 type-cling type-wrinkle">
                            <h5 class="new-content-tit tit-new2">
                                더욱 효과적인 바노바기 <span class="weight-regular">탄력밴드 리프팅</span>
                            </h5>

                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_7.jpg" loading="lazy" alt="POINT 01 탄력밴드를 고안한 Dr.카푸로와의 의학적 교류" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 01
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">탄력밴드를 고안한 Dr.카푸로와의 의학적 교류</p>
                                </li>
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_8.jpg" loading="lazy" alt="POINT 02 동안 성형 전문팀 구성으로 보다 전문화된 정교한 감각과 기술" class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 02
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">동안 성형 전문팀 구성으로 보다 전문화된 정교한 감각과 기술</p>
                                </li>
                            </ul>
                        </div>

                        <div class="img-style3 type-wide type-wrinkle">
                            <ul class="img-style3__list">
                                <li class="img-style3__item">
                                    <div class="img-style3__img">
                                        <img src="../../images/wrinkle/elastic/elastic_img_9.jpg" loading="lazy" alt="POINT 03 동안 성형에 대한 오랜 경험과 노하우로 표정 근육까지 고려하는 감각 바노바기는 사람을 먼저 생각하는 맞춤형 안티에이징을 추구합니다." class="img-w100"/>
                                    </div>
                                    <div class="img-style3__caption txt-new2">
                                        <div class="img-style3__vertical">
                                            POINT 03
                                        </div>
                                    </div>
									<p class="img-style3__txt2 txt-new1">
										동안 성형에 대한 오랜 경험과 노하우로 표정 근육까지 고려하는 감각<br>
										바노바기는 사람을 먼저 생각하는 맞춤형 안티에이징을 추구합니다.
									</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
			<div class="new-tab__line">line</div>
            <div class="new-tab type-wrinkle">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">탄력밴드 리프팅 (절개)</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-incision" class="new-tab__link">탄력밴드 리프팅 (절개)</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-nonincision" class="new-tab__link">탄력밴드 리프팅 (비절개)</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-incision is-active">
                <div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							바노바기의 노하우로 안면거상술에<br class="hidden-tm">
                            <span class="n-color-wrinkle3">탄력밴드를 응용</span>합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							안면거상술은 처지고 주름진 피부를 전반적으로 박리하여 당겨준 후 남은 피부를 절제하는 수술입니다.<br class="hidden-tm">
                            비교적 직접적인 방법이기 때문에 그 효과가 뛰어나고 만족도가 높은 반면,<br class="hidden-tm">
                            넓은 박리 영역으로 인한 조직 손상과 회복 기간이 조금은 부담 될 수도 있는 수술이죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 탄력밴드라는 적합한 재료와 오랜 노하우를 통해 그런 부담을 줄인<br class="hidden-tm">
                            <span class="n-color-wrinkle3">절개형 탄력밴드 리프팅을 고안</span>하였습니다
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_10.jpg" loading="lazy" alt="절개 탄력밴드 리프팅 동안 성형 모델 " class="img-normal"/>
						</div>
						<div class="inner-box">
                            <div class="img-style8">
                                <h5 class="new-content-tit type-txt tit-new2">
                                    <span class="weight-regular">절개형</span> 탄력밴드 리프팅
                                </h5>
                                <p class="img-style8__txt txt-new1">
                                    얼굴의 전체적인 처짐, 주름 개선
                                </p>

                                <h6 class="img-style8__subject txt-new2">바노바기 노하우</h6>
                                <ul class="img-style8__list">
                                    <li class="img-style8__item nth-1">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_11.jpg" loading="lazy" alt="처지고 주름진 피부를 전반적으로 당겨주는 안면거상술" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">처지고 주름진 피부를 전반적으로 당겨주는</span><br>
                                                <span class="img-style8__txt3 txt-new2">안면거상술</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item nth-2">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_12.jpg" loading="lazy" alt="보다 간편하고 적은 절개로 근막층을 보강해주는 탄력밴드" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">보다 간편하고 적은 절개로 근막층을 보강해주는</span><br>
                                                <span class="img-style8__txt3 txt-new2">탄력밴드</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

                <div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							보다 <span class="n-color-wrinkle2">간편</span>하면서도 <span class="n-color-wrinkle2">효과적</span>입니다
						</h4>
						<p class="new-style1__txt txt-new2">
							탄력밴드 리프팅(절개)은 기존 안면거상술에 비해 <span class="n-color-wrinkle2">적은 절개로 진행</span>됩니다.
						</p>
						<p class="new-style1__txt2 txt-new1">
							탄력밴드 사용에 딱 필요한 만큼의 절개 후 탄력밴드를 통해 무너진 근막층을 보강해주고, 안면거상술과 같이 처진 피부를 당긴 후<br class="hidden-tm">
                            남은 피부는 절제하는 것이죠.<br class="hidden-tm">
                            이 방법은 절개와 박리 범위가 줄어들어 넓은 범위의 피부 조직들을 그대로 보존할 수 있기 때문에, 부작용이 거의 없고 보다<br class="hidden-tm">
                            빠른 회복이 가능합니다. 반면, 근막층이 강화되어 그 효과는 안면거상술 만큼이나 뛰어나고 오래가며, 탄력밴드의 탄력을 통해<br class="hidden-tm">
                            자연스러운 움직임 또한 기대할 수 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_13.jpg" loading="lazy" alt="탄력밴드 리프팅(절개) - 기존 안면거상술 박리영역과 절개형 탄력밴드 리프팅 박리영역" class="img-normal"/>
						</div>
						<div class="inner-box">
                            <div class="new-description type-pd0">
            					<h5 class="new-content-tit tit-new2 type-description">
                                    탄력밴드 리프팅(절개)의 <span class="weight-regular">장점</span>
                                </h5>

            					<ul class="new-description__list">
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
                                            기존 안면거상술에 비해 줄어든 절개 부위로 보다 빠른 회복 가능
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								안면거상술에 버금가는 얼굴 전체적 범위의 효과와 지속성
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								인대처럼 자연스러운 움직임과 탄력
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								풍부한 시술 경험과 노하우로 만족스러운 처짐 및 주름 개선
            							</p>
            						</li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-wrinkle">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간~1시간 30분</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-wrinkle">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 2){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										마취가 풀리는 과정에서 <span class="color-black1">욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화</span>됩니다.<br>
		                                실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
		                                수술 후 며칠 간 약간의 당김과 얼얼함이 느껴질 수 있습니다.<br>
		                                수술 후 2주 정도는 크게 웃거나 입을 벌리면 통증이 있을 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

                <div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-forehead">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">내시경 이마 리프팅</h5>
										<p class="bg-style2__txt txt-new1">
											내시경 이마 리프팅은 눈가 주름을 포함한 <br class="hidden-tm">
											상안면부의 처짐을 개선할 수 있습니다
										</p>
										<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
											<span>내시경 이마 리프팅 바로가기</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-botox">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">보톡스</h5>
										<p class="bg-style2__txt txt-new1">
											필요에 따라 보톡스 시술을 더해주어<br class="hidden-tm">
											주름을 예방할 수 있습니다.
										</p>
										<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>보톡스 바로가기</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
    			</div>
			</div><!-- //new-tab-content-->

			<div class="new-tab-content page-nonincision">
				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic3">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							바노바기의 노하우를 바탕으로<br class="hidden-tm">
							<span class="n-color-wrinkle2">실 리프팅</span>에 <span class="n-color-wrinkle2">탄력밴드</span>를 더했습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							비절개 탄력밴드 리프팅은 기존 실 리프팅 방법에 탄력밴드를 이용하여 피부 처짐을 개선하는 수술입니다.<br class="hidden-tm">
							하지만 같은 방법이라도 탄력밴드의 특징 때문에 그 수술의 효과와 목적에서는 큰 차이가 생기죠.<br><br>

							일반적으로 실 리프팅은 단순히 피부 아래의 조직들을 실로 걸어 당겨주는 원리입니다.  피부 처짐의 원인이 되는 무너진<br class="hidden-tm">
							근막층에 대한 개선보다는 좀 더 일시적이고 표면적인 효과를 볼 수 있는 수술이죠. 하지만 비절개 탄력밴드 리프팅은 피부 처짐의<br class="hidden-tm">
							원인이 되는 늘어진 근막층에 적용되어 그 힘을 보강해주는, 보다 자연스러운 방법으로 피부의 처짐을 개선합니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							따라서 그 효과가 기존의 실리프팅보다 오래 지속되며 보다 <span class="n-color-wrinkle2">근본적인 피부 처짐의 개선을 추구</span>할 수 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_14.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 - 절개위치" class="img-normal"/>
						</div>
						<div class="inner-box">
							<div class="img-style8">
                                <h5 class="new-content-tit tit-new2">
                                    탄력밴드 리프팅 (비절개)의 <span class="weight-regular">적용</span>
                                </h5>

                                <h6 class="img-style8__subject txt-new2 type-cling">비절개 탄력밴드 리프팅</h6>
                                <ul class="img-style8__list type-cling">
                                    <li class="img-style8__item nth-1">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_15.jpg" loading="lazy" alt="피부 아래의 조직들을 당겨주는 실 리프팅" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">피부 아래의 조직들을 당겨주는</span><br>
                                                <span class="img-style8__txt3 txt-new2">실 리프팅</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style8__item nth-2">
                                        <div class="img-style8__img">
                                            <img src="../../images/wrinkle/elastic/elastic_img_12.jpg" loading="lazy" alt="피부 처짐의 근본적 원인이 되는 근막층 무너짐을 보강해주는 탄력밴드" class="img-w100"/>
                                        </div>
                                        <div class="img-style8__caption txt-new2">
                                            <div class="img-style8__vertical">
                                                <span class="img-style8__txt2 txt-new1">피부 처짐의 근본적 원인이 되는 근막층 무너짐을 보강해주는</span><br>
                                                <span class="img-style8__txt3 txt-new2">탄력밴드</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
						</div>
					</div>
				</div>

				<div class="new-section type-cling">
					<div class="new-style1 type-bottom type-elastic5">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							보다 자연스럽고 효과적인 리프팅이<br class="hidden-tm">
							<span class="n-color-wrinkle3">더욱 오래 지속</span>됩니다
						</h4>
						<p class="new-style1__txt txt-new1">
							비절개 탄력밴드 리프팅의 가장 큰 장점은 결과가 기존 실 리프팅보다 뛰어남과 동시에 비교적 간편한 수술이라는 것입니다.<br class="hidden-tm">
							근막층까지 적용되기 때문에 단순히 피부 아래의 조직을 당겨주는 실 리프팅에 비해 피부 처짐에 대한 근본적인 개선을 기대할 수 있고, <br class="hidden-tm">
							인체친화적이고 탄성을 가진 탄력밴드의 특징으로 이물감 거의 없이 표정까지 자연스럽습니다.<br class="hidden-tm">
							또, 절개가 거의 없기 때문에 통증과 회복기간에 대한 부담이 줄어듭니다. 필요한 부위만을 당겨 탄력을 복원시키기 때문에 조직 손상이 거의 없죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							이러한 장점들을 통해 비절개 탄력밴드 리프팅은 <span class="n-color-wrinkle3">원하는 부위에 다양하게 적용이 가능</span>하고,<br class="hidden-tm">
							다른 시·수술들과 복합적으로 응용되어 <span class="n-color-wrinkle3">더욱 효과적인 동안 성형을 기대</span>할 수도 있습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/wrinkle/elastic/elastic_img_16.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 동안 성형 모델 " class="img-normal"/>
						</div>
						<div class="inner-box">
							<div class="new-description type-pd0">
            					<h5 class="new-content-tit tit-new2 type-description">
                                    탄력밴드 리프팅(비절개)의 <span class="weight-regular">장점</span>
                                </h5>

            					<ul class="new-description__list">
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
                                            실 리프팅처럼 비교적 간편한 수술과 빠른 회복
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								일반 실 리프팅보다 오래 지속되는 효과
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								인대처럼 자연스러운 움직임과 탄력
            							</p>
            						</li>
            						<li class="new-description__item">
            							<p class="new-description__txt txt-new1">
            								<span class="new-description__plus">+</span>
            								풍부한 시술 경험과 노하우로 만족스러운 처짐 및 주름 개선
            							</p>
            						</li>
            					</ul>
            				</div>
						</div>
					</div>
				</div>

				<!-- 수술정보 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-wrinkle">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">약 1회</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-wrinkle">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										마취가 풀리는 과정에서 <span class="color-black1">욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화</span>됩니다.<br>
		                                실밥 제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
		                                수술 후 며칠 간 약간의 당김과 얼얼함이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

				<div class="new-section">
					<div class="bg-style2">
						<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

						<ul class="bg-style2__list">
							<li class="bg-style2__item type-forehead">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">내시경 이마 리프팅</h5>
										<p class="bg-style2__txt txt-new1">
											내시경 이마 리프팅은 눈가 주름을 포함한 <br class="hidden-tm">
											상안면부의 처짐을 개선할 수 있습니다
										</p>
										<a href="wrinkleForehead.php" class="bg-style2__btn txt-new1">
											<span>내시경 이마 리프팅 바로가기</span>
										</a>
									</div>
								</div>
							</li>
							<li class="bg-style2__item type-botox">
								<div class="bg-style2__wrap">
									<div class="bg-style2__box">
										<h5 class="bg-style2__subtit txt-new2">보톡스</h5>
										<p class="bg-style2__txt txt-new1">
											필요에 따라 보톡스 시술을 더해주어<br class="hidden-tm">
											주름을 예방할 수 있습니다.
										</p>
										<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
											<span>보톡스 바로가기</span>
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
    			</div>
			</div><!-- //new-tab-content-->
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
