<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="wrinkle-ulthera">
		<div class="new-visual type-ulthera">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">비수술적 리프팅 치료로 보다 간편하게</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-wrinkle2">바노바기 동안 성형</span> 울쎄라
                        </h3>
						<p class="new-visual__txt">안에서부터 당겨주는 탱탱한 탄력</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#정교한기술</span></li>
							<li class="new-visual__item"><span>#자연스러운결과</span></li>
							<li class="new-visual__item"><span>#비수술</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
                <div class="new-style1 type-ulthera">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        얼굴 주름과 처짐의 1차적 원인인<br class="hidden-tm">
                        <span class="n-color-wrinkle2">근막층</span>을 당겨주어야 합니다
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        얼굴의 주름과 처짐은 피부 가장 안쪽의 근막층으로부터 시작됩니다.<br class="hidden-tm">
						탄력을 잃고 굴곡이 생긴 근막층을 따라 <mark class="mark-wrinkle weight-medium">지방층, 진피, 표피에 차례대로 그 주름과 처짐</mark>이 남게 되는 것이죠.
                    </p>
                    <p class="new-style1__txt2 txt-new2 type-quotation type-wrinkle">
                        <span class="n-color-wrinkle2 weight-medium">울쎄라</span>는 고온의 초음파 에너지를 이 근막에까지 도달시켜<br class="hidden-tm">
						<span class="weight-medium">근막층 자체를 개선해주는 리프팅 시술</span>입니다.
                    </p>
					<p class="new-style1__txt txt-new1">
                        늘어나고 굴곡진 근막을 수축시켜 주름과 처짐에 대한 보다 근본적인 개선이 가능하고,<br class="hidden-tm">
						동시에 지방층 정리와 콜라겐 생성을 촉진시켜 <mark class="mark-wrinkle weight-medium">약 1년 이상 유지되는 탄력적인 리프팅 효과를 기대</mark>할 수 있습니다.<br class="hidden-tm">
						<mark class="mark-wrinkle weight-medium">인위적인 재료 삽입이 필요하지 않기 때문에 얼굴의 거의 모든 부위에 대한 전반적인 시술이 가능</mark>하며,<br class="hidden-tm">
						이중턱과 볼 처짐과 같은 비교적 개선이 어려운 부위에도 효과를 보입니다.
                    </p>
					<div class="new-style1__img">
						<div class="new-style1__overlay2">
							<div class="ulthera-img1">
								<img src="../../images/wrinkle/ulthera/ulthera_img_1.png" loading="lazy" alt="주름과 처짐의 근본적 원인 - 근막층 개선" class="img-normal hidden-m"/>
								<img src="../../images/wrinkle/ulthera/ulthera_img_1_m.png" loading="lazy" alt="주름과 처짐의 근본적 원인 - 근막층 개선" class="img-normal hidden-pt"/>
							</div>
							<div class="inner-circle type-wrinkle type-dotted type-dotted-bar type-ulthera">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1 weight-medium">
										<span class="inner-circle__num txt-new2">01</span>
										얼굴 거의 모든<br class="hidden-tm">
										부위에 대한 <strong class="weight-bold">리프팅 효과</strong>
									</li>
									<li class="inner-circle__item txt-new1 weight-medium">
										<span class="inner-circle__num txt-new2">02</span>
										지방층 개선으로<br class="hidden-tm">
										<strong class="weight-bold">매끄러운 피부 라인 형성</strong>
									</li>
									<li class="inner-circle__item txt-new1 weight-medium">
										<span class="inner-circle__num txt-new2">03</span>
										<strong class="weight-bold">약 1년 이상<br class="hidden-tm">지속되는 탄력</strong>
									</li>
									<li class="inner-circle__item txt-new1 weight-medium">
										<span class="inner-circle__num txt-new2">04</span>
										지속적인<br class="hidden-tm">
										<strong class="weight-bold">콜라겐 리모델링</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
                </div>
            </div>
			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						직접 보고, 보다 정확하게 개선하는<br class="hidden-tm">
						<span class="n-color-wrinkle2">오리지널 기기</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						사실 비수술적 리프팅 시술 기기는 이전에도 존재했습니다.<br class="hidden-tm">
						하지만 <mark class="mark-wrinkle weight-medium">에너지 전달 깊이가 근막층에 도달하기에는 불충분</mark>하거나 충분하더라도 정확한 시술이 불가능했죠.
					</p>
					<p class="new-style1__txt2 txt-new1">
						울쎄라는 실시간 초음파 영상 기술을 통해 이 부분을 개선했습니다.<br class="hidden-tm">
						환자분들의 <mark class="mark-wrinkle weight-medium">피부 상태를 직접 실시간으로 확인하면서 개개인마다 모두 다른 피부층의 두께를 파악</mark>하는 것입니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-wrinkle">
						따라서 <span class="n-color-wrinkle2 weight-medium">울쎄라는 근막층 및 피부의 각 층의 깊이에 맞춰</span> 1.5mm, 3.0mm, 4.5mm 등 보다<br class="hidden-tm">
						<span class="weight-medium">정확한 시술이 가능하고 그만큼 더욱 뛰어난 효과</span>를 보입니다
                    </p>
				</div>
				<div class="ulthera-style1">
					<h5 class="ulthera-style1__tit tit-new2">시술의 정밀도를 높이는<br class="hidden-p"> <span class="weight-medium">DeepSee™</span></h5>
					<div class="ulthera-style1__wrap">
						<div class="ulthera-style1__box">
							<div class="ulthera-style1__eq">
								<img src="../../images/wrinkle/ulthera/ulthera_ultrasonic_2.png" class="img-w100"loading="lazy" alt="초음파 기계"/>
							</div>
							<div class="ulthera-style1__ultrasonic">
								<div class="ulthera-style1__line nth-1">
									<div class="ulthera-style1__outer"><div class="ulthera-style1__inner">1.5mm</div></div>
								</div>
								<div class="ulthera-style1__line nth-2">
									<div class="ulthera-style1__outer"><div class="ulthera-style1__inner">3.0mm</div></div>
								</div>
								<div class="ulthera-style1__line nth-3">
									<div class="ulthera-style1__outer"><div class="ulthera-style1__inner weight-medium">4.5mm</div></div>
								</div>
							</div>
							<div class="ulthera-style1__area">
								<div class="ulthera-style1__header txt-new2">
									개개인마다 다른 피부의 상태와 두께를 <span class="inline-block">실시간으로 직접 확인</span>
								</div>
								<div class="ulthera-style1__body txt-new2">
									피부층에 맞는 보다 <strong class="weight-medium">정확한 시술 가능</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-ulthera2">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						비수술적 시술로<br>
						<span class="n-color-ulthera1">부작용 거의 없이</span> 보다 간편합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						울쎄라의 가장 큰 장점은 <mark class="mark-white weight-medium">흉터나 출혈과 같은 수술적 부담이 없다는 것</mark>입니다.<br class="hidden-tm">
						마취크림이나 정맥마취 진행 후 약 30분 정도의 시술 시간만으로도 얼굴의 전반적인 시술이 가능하고,<br class="hidden-tm">
						<mark class="mark-white weight-medium">시술 후에도 당일부터 세안이나 화장을 할 수 있는</mark> 등 일상생활에 지장을 주지 않죠.
						다.
					</p>
					<p class="new-style1__txt2 txt-new1">
						또, 울쎄라는 돋보기로 햇빛을 모으듯이, 초음파 에너지를 깔때기 형태로 하여 원하는 깊이에 전달합니다.
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-wrinkle2">
						<span class="weight-medium">진피나 표피에는 거의 손상을 주지 않기 때문에</span> 부작용이 발생할 가능성 거의 없이
						안전한 시술이 가능하죠. 실제로 <span class="weight-medium">울쎄라는 미국 FDA의 승인을 받은 안전한 기기</span>입니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/ulthera/ulthera_img_7.png" loading="lazy" alt="울세라 시술모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-ulthera3">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">비교적 <span class="weight-regular">간편함과 동시에 안전한</span> 바노바기 울쎄라</h5>
						<div class="step-style5 type-wrinkle">
							<ul class="step-style5__list">
								<li class="step-style5__item">
									<img src="../../images/wrinkle/ulthera/ulthera_advantage_1.jpg" loading="lazy" alt="흉터나 출혈의 걱정이 없는 비수술적 치료" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											흉터나 출혈의 걱정이 없는<br>
											<span class="weight-medium">비수술적 치료</span>
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<img src="../../images/wrinkle/ulthera/ulthera_advantage_2.jpg" loading="lazy" alt="불필요한 조직의 손상을 예방하여 부작용 방지" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											불필요한 조직의 손상을<br>
											예방하여 <span class="weight-medium">부작용 방지</span>
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<img src="../../images/wrinkle/ulthera/ulthera_advantage_3.jpg" loading="lazy" alt="시술 후 당일 일상생활 가능" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											<span class="weight-medium">시술 후 당일 일상생활 가능</span>
										</p>
									</div>
								</li>
								<li class="step-style5__item">
									<img src="../../images/wrinkle/ulthera/ulthera_advantage_4.jpg" loading="lazy" alt="약 30분 정도의 시술 시간" class="img-w100">
									<div class="step-style5__box js-height-second">
										<p class="step-style5__txt txt-new1">
											<span class="weight-medium">약 30분 정도의 시술 시간</span>
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-ulthera4 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 <span class="n-color-ulthera1">정품 사용을 보증</span>하며,<br>
						만족스러운 결과를 위해 노력합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						울쎄라는 다른 리프팅 시술에 비해 시술가가 조금은 높게 책정되어 있습니다. 다양한 기술이 적용된 고급 장비이기 때문이기도 하지만,<br class="hidden-tm">
						시술을 하기 위한 팁 자체가 고가의 소모품이라 의료기관에서도 지속적인 재구매 비용이 든다는 점이 큰 이유이죠.<br class="hidden-tm">
						그래서 최근에는 이런 <mark class="mark-white weight-medium">가격대에 대한 부담을 줄여 더욱 많은 환자분들을 유치하기 위해, 정품이 아닌 팁을 사용하여 가격을 줄이는 비정상적인<br class="hidden-tm">
						방법들이 암암리에 성행</mark>하고 있기도 합니다. 하지만 그렇게 시술 받은 환자분들은 과연 결과에 만족하실까요?
					</p>
					<p class="new-style1__txt2 txt-new2 type-quotation type-wrinkle2">
						<span class="weight-medium">바노바기는 환자분들의 만족을 최우선으로 생각하기에,</span><br class="hidden-tm">
						비정상적인 방법으로 시술가를 낮추기 보다는 <span class="weight-medium">정품 사용을 준수하고 시술의 질을 높여<br class="hidden-tm">
						가격대에 맞는 만족도를 드리기 위해 노력</span>하고 있습니다.
					</p>
					<p class="new-style1__txt txt-new1">
						<mark class="mark-white weight-medium">울쎄라 시술 시에 기기에 붙은 정품 인증 마크를 확인하실 수 있으며, 시술 받으신 팁에 대한 정품 인증서를 발급</mark>하여<br class="hidden-tm">
						인증 번호를 통해 직접 정품 여부를 확인해보실 수 있습니다. 오랜 경험을 갖춘 바노바기 동안 성형 전문팀과<br class="hidden-tm">
						정품 고급 기기 울쎄라가 만나 더욱  만족스러운 리프팅을 추구합니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/ulthera/ulthera_img_4.jpg" loading="lazy" alt="바노바기 동안 성형 전문팀" class="img-normal">
					</div>
					<div class="new-style1__caption type-wrinkle txt-new2">오랜 경험과 해부학적 이해를 갖춘 <strong class="weight-medium inline-block">바노바기 동안 성형 전문팀</strong></div>
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">
							바노바기 <span class="weight-medium">울쎄라 정품 보증</span>
						</h5>
						<div class="img-style1 type-wrinkle">
							<ul class="img-style1__list type-half">
								<li class="img-style1__item">
									<div class="img-style1__caption2 txt-new2">1. 시술 후 시술에 사용된 팁에 대한 <strong class="weight-bold inline-block">정품 인증서 발급</strong></div>
									<div class="img-style1__img">
										<img src="../../images/wrinkle/ulthera/ulthera_img_5.jpg" loading="lazy" alt="1. 시술 후 시술에 사용된 팁에 대한 정품 인증서 발급" class="img-w100">
									</div>
								</li>
								<li class="img-style1__item">
									<div class="img-style1__caption2 txt-new2">2. 기기에 <strong class="weight-bold">정품 인증 마크</strong> 부착</div>
									<div class="img-style1__img">
										<img src="../../images/wrinkle/ulthera/ulthera_img_6.jpg" loading="lazy" alt="2. 기기에 정품 인증 마크 부착" class="img-w100">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-wrinkle type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">시술정보</h4>
							<!-- <p class="operation-v2__subtit">피부 처짐까지 예방하는 광대 성형을 추구합니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">시술시간</h5>
										<p class="operation-v2__txt txt-new1">약 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">마취연고 or 정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-wrinkle">
								<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									통증에 민감하거나 두려움이 있는 환자분의 경우 정맥마취를 선택하여 진행할 수도 있습니다.<br>
									시술 후 약간의 얼얼함이 느껴질 수 있으나 곧 회복됩니다.<br>
									체질에 따라 약간의 붉은 기운이 남는 경우도 있지만 하루 정도 지나면 완화됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-contour">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">윤곽 성형</h5>
									<p class="bg-style2__txt txt-new1">
										윤곽 성형으로 얼굴 뼈 형태를 개선함과 동시에 울쎄라를 통해<br class="hidden-tm">
										그 뼈 형태에 맞는 피부가 되도록 탄력을 더해줍니다.
									</p>
									<a href="../contour/contourDetail.php" class="bg-style2__btn txt-new1">
										<span>윤곽 성형 바로가기</span>
									</a>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-wrinkle">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">동안 성형</h5>
									<p class="bg-style2__txt txt-new1">
										실 리프팅이나 필러와 같은 타 동안 성형과 함께 울쎄라를 진행하여<br class="hidden-tm">
										더욱 뛰어난 효과와 오랜 유지를 기대할 수 있습니다.
									</p>
									<a href="wrinkleDetail.php"  class="bg-style2__btn txt-new1">
										<span>동안 성형 바로가기</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
