<%
	type = "content"
	page = "wrinkle"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

    <div class="content" data-page="wrinkle-2030">
		<div class="new-visual type-2030">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">360도 나선형 돌기로 고르게 당겨주는 피부 처짐</p>
						<h3 class="new-visual__tit">
                            <span class="n-color-wrinkle2">2030</span> 리프팅
                        </h3>
						<p class="new-visual__txt">보다 효과적인 처짐 개선과 예방</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#얼굴형개선</span></li>
							<li class="new-visual__item"><span>#피부탄력증가</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

		<div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-2030">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						2030 리프팅은 <span class="n-color-wrinkle2">의료용 실</span>을 통해
						<span class="n-color-wrinkle2">처진 피부를 당겨주는 시술</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						<span class="color-black1">처진 피부를 개선하는 가장 기본적인 방법은 처진 부위를 박리하여 당긴 후 고정해주는 것</span>입니다.<br class="hidden-tm">
						하지만 특히 예민하고 얇은 얼굴의 피부를 넓게 박리하거나 절개하는 것은 환자에게나 의사에게나 부담이 될 수 있는 작업이죠.<br class="hidden-tm">
						그런 의미에서 2030 리프팅은 비교적 좋은 대안이 될 수 있습니다.<br class="hidden-tm">
						2030 리프팅은 체내에 녹는 얇은 의료용 실을 통해 처진 부위의 피부를 당겨주는 시술입니다.<br class="hidden-tm">
						비교적 얇은 실을 사용하기 때문에 절개나 조직의 손상 등 부담이 거의 없고, 보다 적은 통증으로 빠른 시술이 가능하죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						또, 삽입된 실은 처짐이나 주름을 개선할 뿐만 아니라 피부 재생을 돕고<br class="hidden-tm">
						피부의 탄력을 증가시키는 효과가 있기 때문에 <span class="n-color-wrinkle2">더욱 오랜 시간 자연스러운 시술 결과가 유지</span>됩니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/2030/2030_img_1.png" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>

				</div>
				<div class="new-style1 type-top0 type-bottom type-2030-2">
					<div class="inner-box">
						<div class="new-description type-pd0">
							<h5 class="new-content-tit type-description tit-new2">바노바기 2030 리프팅의 <strong class="weight-regular">특징</strong></h5>
							<ul class="new-description__list">
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										의료용 실을 이용한 리프팅
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										절개나 조직 손상 등의 부작용 걱정 거의 없음
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										비교적 빠른 시술로 부기나 멍 등의 부담이 적음
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										주름 및 처진 피부를 보다 효과적으로 개선
									</p>
								</li>
								<li class="new-description__item">
									<p class="new-description__txt txt-new1">
										<span class="new-description__plus">+</span>
										피부 재생과 탄력 증가로 피부 처짐 예방
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-facelift">
					<h4 class="new-style1__tit tit-new1 weight-regular">
					   꼭 <span class="n-color-wrinkle2">중장년층만</span>을 위한 <span class="n-color-wrinkle2">시술은 아닙니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						흔히 동안 성형은 어느 정도 연령대의 환자분들만을 대상으로 한다고 생각하는 경우가 많습니다.<br class="hidden-tm">
						대게 피부 노화로 인한 주름이나 처짐을 개선하는 방법이 주가 되기 때문이죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						하지만 2030 리프팅은 어느 정도의 연령대를 가진 환자분들뿐만 아니라<br class="hidden-tm">
						<span class="n-color-wrinkle2">비교적 젊은 연령대의 환자분들에게도 효과적인 시술</span>입니다.<br class="hidden-tm">
						단순히 주름을 개선하여 어려 보이는 얼굴을 추구하는 것에 그치지 않고,<br class="hidden-tm">
						<span class="n-color-wrinkle2">얼굴형 개선과 피부 처짐의 예방 또한 가능</span>하기 때문입니다.
					</p>
					<p class="new-style1__txt txt-new1">
						따라서 반드시 <span class="color-black1">노화로 인한 고민이 아니더라도,</span> 얼굴형을 보다 매끄럽고 부드럽게 개선하고<br class="hidden-tm">
						그 얼굴을 더욱 오래 유지하고자 한다면 <span class="color-black1">2030 리프팅을 생각해보는 것이 좋습니다.</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/wrinkle/2030/2030_img_2.jpg" loading="lazy" alt="2030리프팅 시술 환자" class="img-w100">
					</div>
				</div>
				<div class="outer-box type-2030">
					<div class="inner-box">
						<div class="img-style7 type-margin-zero">
							<h5 class="img-style7__tit tit-new2">
								<span class="weight-regular">20대, 30대에게도 효과적인</span> 바노바기 2030 리프팅
							</h5>
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/2030/2030_img_3.png" class="img-w100" loading="lazy" alt="볼처짐">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											볼처짐
										</h6>
										<p class="img-style7__txt txt-new1">
											주름 및 처짐 개선으로<br class="hidden-tm">
											더욱 어려 보이는 인상
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/2030/2030_img_4.png" class="img-w100" loading="lazy" alt="턱라인">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											턱라인
										</h6>
										<p class="img-style7__txt txt-new1">
											이중턱이나 볼처짐 등을 개선하여<br class="hidden-tm">
											보다 매끄럽고 또렷해지는 얼굴형
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/wrinkle/2030/2030_img_5.png" class="img-w100" loading="lazy" alt="이중턱">
									</div>
									<div class="img-style7__caption">
										<h6 class="img-style7__subject txt-new2">
											이중턱
										</h6>
										<p class="img-style7__txt txt-new1">
											피부 재생과 탄력 증가로<br class="hidden-tm">
											피부 처짐 예방 효과
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style1 type-2030-3">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-wrinkle3">바노바기의 기술과 민트실의 장점</span>이 더해져
						더욱 효과적입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						바노바기는 2000년 개원 이후 <span class="color-white">동안 성형 전문팀을 운영</span>하고 있습니다.<br class="hidden-tm">
						동안 성형에 대한 지속적인 연구와 오랜 경험을 통해, 개개인의 얼굴 구조와 표정 근육까지 고려하는 디테일한 시술을 추구하죠.<br class="hidden-tm">
						이런 바노바기가 2030 리프팅을 위한 재료로 선택한 것은 민트실입니다.<br><br>
						이 <span class="color-white">민트실은 안면 조직 고정용으로 개발된 의료용 실</span>로, 미국 FDA의 승인을 받은 <span class="color-white">안전한 제품</span>입니다.<br class="hidden-tm">
						실을 따라 돌기가 360도로 나 있기 때문에 피부를 보다 효과적으로 당겨줄 수 있으며,<br class="hidden-tm">
						이 돌기 자체도 기존의 커팅 방식이 아닌 <span class="color-white">특수 몰딩 방식으로 제작되어 더욱 튼튼하고 안정적</span>이죠.<br class="hidden-tm">
						사용된 실은 곧 체내에서 녹아 없어지기 때문에 이물감 또한 거의 없고 피부 재생력과 탄력을 증가시키는 역할까지 하게 됩니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기의 디테일한 기술과 다양한 장점을 가진 민트실이 만난 2030 리프팅.<br class="hidden-tm">
						그래서 <span class="n-color-wrinkle3">2030 리프팅은 보다 자연스러우면서도 효과적</span>입니다.
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/wrinkle/2030/2030_img_6.png" loading="lazy" alt="바노바기 성형외과 동안 성형모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-2030-4">
					<div class="inner-box">
						<div class="compare3 type-wrinkle type-plus">
							<h5 class="new-content-tit tit-new2"><span class="weight-regular">보다 효과적인</span> 바노바기 2030리프팅</h5>
							<div class="compare3__wrap">
								<div class="compare3__box type-before">
									<div class="compare3__img">
										<img src="../../images/wrinkle/2030/2030_img_7.jpg" loading="lazy" alt="" class="img-w100">
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">바노바기 동안 성형 전문팀</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												동안 성형에 대한 오랜 경험과 노하우
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												개개인의 얼굴 구조와 표정 근육까지 고려하는 감각
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												보다 정밀한 진단과 심도 있는 상담
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												다양한 전문 장비와 시설
											</div>
										</li>
									</ul>
								</div>

								<div class="compare3__box type-after">
									<div class="compare3__img">
										<img src="../../images/wrinkle/2030/2030_img_8.jpg" loading="lazy" alt="" class="img-w100">
									</div>
									<div class="compare3__subject txt-new2">
										<div class="compare3__vertical">민트실</div>
									</div>
									<ul class="compare3__list">
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												미국 FDA의 승인을 받은 안전한 안면 조직 고정용 실
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												360도 돌기를 가진 형태로 보다 효과적인 피부 리프팅
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												특수 몰딩 방식 제작으로 더욱 튼튼하고 안정적
											</div>
										</li>
										<li class="compare3__item txt-new1">
											<div class="compare3__vertical">
												체내에 녹는 PDO로 구성되어<br class="hidden-tm">
												이물감 거의 없이 피부 재생력과 탄력 증가 효과
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 수술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-wrinkle">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">조직 손상이 거의 없어 회복이 비교적 빠르고 통증이 적습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 15분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-7 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술 재료</h5>
										<p class="operation-v2__txt txt-new1">민트실</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 1일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-wrinkle">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									수술 후 약간의 당김과 얼얼함이 느껴질 수 있습니다.<br>
									부위에 따라 입을 크게 벌리거나 자극을 줬을 때 불편함이 느껴질 수 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/wrinkle.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style2 txt-left">
					<h4 class="new-content-tit tit-new2">다른 수술과 복합적으로 시행하면 더 좋은 결과를 얻을 수 있습니다</h4>

					<ul class="bg-style2__list">
						<li class="bg-style2__item type-model1">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">볼처짐</h5>
									<p class="bg-style2__txt txt-new1">
										2030 리프팅 + 팔자 필러
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitFiller.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>부위별 필러 바로가기</span>
									</a>
									<p class="bg-style2__noti">* 부위 및 시술 조합은 환자 개개인의 상태에 따라 달라질 수 있습니다.</p>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-model2">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">이중턱</h5>
									<p class="bg-style2__txt txt-new1">
										2030 리프팅 + 윤곽 주사
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitVfit.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>윤곽 주사 바로가기</span>
									</a>
									<p class="bg-style2__noti">* 부위 및 시술 조합은 환자 개개인의 상태에 따라 달라질 수 있습니다.</p>
								</div>
							</div>
						</li>
						<li class="bg-style2__item type-model3">
							<div class="bg-style2__wrap">
								<div class="bg-style2__box">
									<h5 class="bg-style2__subtit txt-new2">턱선</h5>
									<p class="bg-style2__txt txt-new1">
										2030 리프팅 + 윤곽 주사, 턱 보톡스
									</p>
									<a href="https://www.petitbanobagi.com/petit/petitBotox.php" target="_blank" class="bg-style2__btn txt-new1">
										<span>보톡스 바로가기</span>
									</a>
									<p class="bg-style2__noti">* 부위 및 시술 조합은 환자 개개인의 상태에 따라 달라질 수 있습니다.</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- //new-content-wrap-->
    </div><!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
