<%
	type = "detail"
	page = "wrinkle"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>

<!-- Content -->
<div class="wrinkle detail-common" data-video="true">
    <section class="fs_section wrinkleFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-wrinkle">
					<span class="color-wrinkle0">매끄러운</span> 피부<span class="color-wrinkle1"><span class="style-comma">,</span> 생생한</span> 탄력<span class="style-comma color-wrinkle1">,</span>
					<span class="detail__first-piece type-wrinkle"><span class="color-wrinkle1">자연스러운</span> 표정</span>
				</p>
				<h3 class="detail__first-txt type-wrinkle">
					<span class="detail__first-bwrap">마음까지 젊어지는<b class="detail__first-bar type-wrinkle"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-wrinkle2">동안성형</span> 디테일<span class="color-wrinkle2">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section wrinkleSection01" data-section-name="wrinkleSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-wrinkle">
	              	<h4 class="detail__section-tit">
	                	<strong>동안성형</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br class="hidden-tm">
						<strong class="color-wrinkle3">이렇게</strong> 합니다
	              	</h4>
	              	<p class="detail__section-subtit">표정까지 생각하는 바노바기 동안성형</p>
	              	<p class="detail__section-txt">
						얼굴의 주름은 습관화된 표정들이 오랜 세월 반복되면서 생기는 것입니다.
						그래서 동안 성형은 얼굴 표정 근육에 대한 이해가 기본이 되어야 합니다.
						<span class="color-wrinkle4">바노바기는 동안 성형에 대한 전문적인 지식과 감각을 바탕으로, 환자의 표정 근육을 파악하고 노화의 원인을 개선</span>합니다.
						그래서 더욱 효과적이고 표정 또한 자연스럽습니다.
	              	</p>
	            </div>
				<!--layer-doc3-->
				<div class="layer-doc3">
					<div class="layer-doc3__box">
						<h5 class="layer-doc3__tit">중앙일보선정<br class="hidden-pt"> <span class="font-eng">Good doctor best clinic</span><br>
						12인에 소개된 반재상 원장님</h5>
						<p class="layer-doc3__txt">안티에이징에 대한 반재상 원장님의 진심을 만날 수 있습니다</p>
					</div>
				</div><!--//layer-doc3-->
			</div>
		</div>
    </section>

	<section class="fs_section wrinkleSection02" data-section-name="wrinkleSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-wrinkle">
				  	<h4 class="detail__section-tit">
					  	<strong>동안성형</strong><span class="color-comma">,</span><br>
					  	<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
					  	<strong class="color-wrinkle5">젊음을 재건</strong>합니다
				  	</h4>
				  	<p class="detail__section-subtit">피부, 지방, 근육, 뼈<br> 얼굴 모든 조직의 노화를 고려하는 수술</p>
				  	<p class="detail__section-txt">
						얼굴의 노화, 주름은 피부부터 뼈까지 얼굴의 모든 조직에서 볼륨이 줄거나 근육이 소실되고 퇴화하면서 드러납니다.
						겉으로 드러나는 아름다움을 회복하기 위해서 바노바기는 얼굴 모든 층의 탄력을 회복하고
						노화한 조직을 재건하고 재활하는 방식으로 접근합니다.
						<span class="color-wrinkle2">일시적인 변화가 아니라 오래 유지되고, 더 건강한 안티에이징, 바노바기가 추구하는 젊음</span>입니다.
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection03" data-section-name="wrinkleSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-wrinkle">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">부위별 동안성형<span class="color-wrinkle2">.</span></h5>
					<p class="detail__popup-subtit">부위에 따라 다양하게 나타나는 주름을<br class="hidden-pt"> 개선해드립니다.</p>
					<div class="detail__popup-scroll">
						<div class="fake-table">
							<ul class="fake-table__list">
								<li class="fake-table__item">
									<h6 class="fake-table__tit">부위</h6>
									<p class="fake-table__txt">유지<br class="hidden-pt">기간</p>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">상안면부</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">시술</span><br>이마보톡스</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">시술</span><br>아테콜 <span class="inline-block">반영구필러</span></div></div>
									<div class="fake-table__txt type-3 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">최소절개</span><br>내시경 눈썹<br> 리프팅</div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">중안면부</h6>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">시술</span><br>지방이식</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">시술</span><br>아테콜 <span class="inline-block">반영구필러</span></div></div>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type5">절개</span><br>중안면부 <span class="inline-block">거상술</span></div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">하안면부</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">비절개</span><br>녹는실 <span class="inline-block">리프팅</span></div></div>
									<div class="fake-table__txt type-2 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">비절개</span><br>소프트 <span class="inline-block">안면윤곽</span></div></div>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">비절개</span><br>비절개 탄력밴드 <span class="inline-block">리프팅</span></div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type2">미세절개</span><br>절개 <span class="inline-block">탄력밴드 리프팅</span></div></div>
									<div class="fake-table__txt type-3 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">절개</span><br>풀페이스 <span class="inline-block">맥스리프팅</span></div></div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-wrinkle">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-wrinkle">
						<h4 class="detail__section-tit">
							<strong>동안성형</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-wrinkle3">개선책</strong>을 알고 있습니다
						</h4>
						<p class="detail__section-subtit">원하는 부위의 집중적 개선<br> &amp; 다양한 부위에 대한 토탈 개선책</p>
						<p class="detail__section-txt color-wrinkle4">
							얼굴의 각 부분은 부위별로 그 모양과 역할이 모두 다릅니다. 그에 따라 노화의 형태 또한 다양하죠.
							때문에 보다 효과적인 안티에이징을 위해서는 획일화된 수술 방법 보다, 각 부위별 특징에 맞는 접근이 필요합니다.
							바노바기는 오랜 경험과 기술력을 바탕으로 리프팅, 지방 이식, 보톡스 등
							얼굴 거의 모든 부위에 대한 맞춤 안티에이징이 가능합니다.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-wrinkle">
			<div class="detail__section-set">
				바노바기의 부위별<br class="hidden-pt"> 동안성형
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-wrinkle">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section wrinkleSection04" data-section-name="wrinkleSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-wrinkle">
	  				<h4 class="detail__section-tit">
	  					<strong>동안성형</strong><span class="color-comma">,</span><br>
	  					<span class="detail__section-bwrap">바노바기는</span><br class="hidden-tm">
	  					<strong class="color-wrinkle3">연구</strong>합니다
	  				</h4>
	  				<p class="detail__section-subtit">보다 뛰어난 효과를 위한<br class="hidden-p"> 기술력의 조합</p>
	  				<p class="detail__section-txt">
						바노바기 동안 성형 전담팀은 기존의 방법보다 더 좋은 방법은 없을지 끊임없이 연구합니다.
						그 결과, 탄력밴드를 이용한 리프팅 수술은 수술 회복기간을 놀랍도록 단축시켰고, 효과는 높였습니다.
						SVF 줄기세포를 이용하여 더 좋은 결과를 기대할 수 있게 되었고, 엑스카 + 보톡스 등 시너지 효과를 낼 수 있는
						다양한 기술의 조합들을 고안했습니다.
						<span class="color-wrinkle4">다년간 축적된 경험과 기술력을 기반으로 한 수술법의 응용, 만족도가 높은 이유</span>입니다.
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">탄력밴드 리프팅</h5>
								<p class="layer-doc4__txt">
									인대 재건용 탄력밴드
									리프팅에 대한 연구와 임상,
									바노바기가 발 빠르게
									시작했습니다
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">SVF 세포<br> 지방 주입술</h5>
								<p class="layer-doc4__txt">
									높은 지방 세포 생착률과
									조직 재생을 유도하는
									SVF 세포 지방을 주입하여
									더욱 효과적
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">내시경<br> 이마 리프팅</h5>
								<p class="layer-doc4__txt">
									내시경과 정품 엔도타인 보형물을 이용하여 정교한 이마 리프팅 가능
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section wrinkleSection05" data-section-name="wrinkleSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-wrinkle">
	  				<h4 class="detail__section-tit">
	  					<strong>동안성형</strong><span class="color-comma">,</span><br>
	  					<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
	  					<strong class="color-wrinkle5">디테일</strong>합니다
	  				</h4>
	  				<p class="detail__section-subtit">고령의 환자를 위한 비교적 빠른 회복,<br> 부담 적은 수술법</p>
	  				<p class="detail__section-txt">
						동안 성형을 고려하는 분들은 아무래도 연령대가 높습니다. 마취나 수술에 대해서도 걱정이 많고, 회복 기간이 힘들까 오래 고민하십니다.
						동안 성형을 연구할 때, 바노바기는 회복에 대한 고민을 하지 않을 수 없었습니다.
						바노바기가 추구하는 좋은 동안 성형이란, 먼저 효과가 좋아야 할 것이고, 안전해야 하며, 회복에 대한 부담이 적어야 합니다.
						이러한 기본 원칙을 바탕으로, <span class="color-wrinkle2">바노바기 의료진은 새로운 수술법과 복합수술법을 끊임없이 고안합니다.</span>
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>

    <section class="fs_section wrinkleSection06" data-section-name="wrinkleSection06">
		<div class="video">
			<div class="video__desc">
				<div class="video__tit">바노바기의 동안 성형</div>
				<div class="video__txt1">10년이상의 반영구적인 지속성</div>
			</div>
			<div class="video__wrap">
				<iframe class="video__item" id="onepage-video__iframe" src="https://player.vimeo.com/video/265675036?loop=1&amp;quality=1080p" frameborder="0" id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay; fullscreen"></iframe>
				<div class="video__screen"></div>
			</div>
			<div class="video__btn-area">
				<span class="video__btn--counsel js-consultation">상담신청</span>
			</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
