.new-visual{
	$this:&;
	&.type-nonsleep{
		&:before{
			@include background('../images/eye/nonsleep/nonsleep_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $eye1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-nonsleep{
			&:before{
				@include background('../images/eye/nonsleep/nonsleep_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-nonsleep{
			&:before{
				@include background('../images/eye/nonsleep/nonsleep_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-nonsleep{@include background('../images/eye/nonsleep/nonsleep_bg_1.jpg','#fff no-repeat center bottom/contain');}
    &.type-nonsleep2{background-color: $eye2;}
    &.type-nonsleep3{@include background('../images/eye/nonsleep/nonsleep_bg_2.jpg','#28443b no-repeat center bottom/contain');
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #fff;}
        #{$this}__txt2{color: #fff;}
    }
    &.type-nonsleep4{background-color: $eye1;}

    @media only screen and (max-width: $tablet-size){
        &.type-nonsleep{@include background('../images/eye/nonsleep/nonsleep_bg_1_t.jpg','#fff no-repeat center bottom/contain');}
    }
}
