.new-visual{
	$this:&;
	&.type-opening{
		&:before{
			@include background('../images/eye/opening/opening_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $eye1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-opening{
			&:before{
				@include background('../images/eye/opening/opening_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-opening{
			&:before{
				@include background('../images/eye/opening/opening_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.section-normal{
	$this:&;
	&.type-opening{
		@include background('../images/eye/opening/opening_bg_1.jpg','no-repeat center bottom/cover');
	}
}

.new-style1{
	$this:&;
	&.type-opening{padding-top: 100px;background: #eee;
		#{$this}__img{margin-bottom: -23.7%;}
	}
	&.type-opening2{padding-top: 0;background: #eee;
		#{$this}__img{margin-top: 0;margin-bottom: -27%;}
	}

	@media only screen and (max-width: $tablet-size){
		&.type-opening, &.type-opening2{
			#{$this}__img{margin-bottom: 0;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-opening{padding-top: 50px;}
	}
}

.new-description{
	$this:&;
	&.type-opening{
		padding: 0;
		#{$this}__list{margin-top: 0;}
	}
}

.img-style3{
	$this:&;

	&.type-opening{margin-top: 0;}
}

.opening-box1{margin-top: 66px;text-align: left;
	$this:&;

	&__wrap{position: relative;height: 370px;font-size: 0;}
	&__img{max-width: 605px;text-align: right;box-sizing: border-box;}
	&__box{position: absolute;top: 0;right: 0;padding-left: 640px;height: inherit;}
	&__txt{display: table-cell;position: relative;width: 100%;height: inherit;vertical-align: middle;}

	@media only screen and (max-width: $tablet-size){
		text-align: center;
		&__wrap{height: auto;padding-left: 0;}
		&__img{position: static;width: 100%;max-width: 100%;padding: 0 40px 0 70px;}
		&__box{position: static;margin-top: 36px;padding-left: 0;height: auto;}
	}
	@media only screen and (max-width: $mobile-size){
		&__img{padding: 0 2% 0 0;}
	}
}
