.new-visual{
	$this:&;
	&.type-eyeman{
		&:before{
			@include background('../images/eye/eyeman/eyeman_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $eye1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-eyeman{
			&:before{
				@include background('../images/eye/eyeman/eyeman_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-eyeman{
			&:before{
				@include background('../images/eye/eyeman/eyeman_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-eyeman{@include background('../images/eye/eyeman/eyeman_bg_1.jpg','#b8efcc no-repeat center bottom/contain');}
	&.type-eyeman2{background-color: #b8efcc;}
    &.type-eyeman3{background-color: #e8e8e8;}
}
