/* 절개쌍커풀*/
$incision-color1:#14956b;
.color-incisional1{color:#14956b;}
.color-incisional2{color:#baffe9;}
.highlight-incisional1{background-color:#fff; color:#333;}
.highlight-incisional2{background-color:#666666; color:#fff;}

.incisional-box1{
	.content-section{text-align: left;}
	.content-section__wrap{margin-left:0; margin-top:0;}
	.content-section__box1{box-sizing:border-box;
		&.type-w4{float:left; width: 50%; padding-left:29px; padding-right:23px;}
		&.type-w6{float:left; width: 50%;}
	}
	.content-section__txt1{padding-right:9%;}
	.content-section__txt2{position:relative; margin-top: 100px; font-size:17px; font-style: italic; letter-spacing: -1px; }
	.content-section__txt2:before{content:''; display:inline-block; position:absolute; left:0; top: -45px; width:24px; height:17px;
		@include background('../images/eye/incisional-sec1-quotes.png','0 0 / 24px 17px no-repeat');}
	.content-section__border{border: 3px solid #b2b2b2; border-radius:10px; padding:60px 0;}
	.content-section__txt3{margin:0; font-weight:300; font-size:20px; word-break:keep-all; letter-spacing: 0px; padding:0 14%; color:#333333; text-align:center; line-height:180%; letter-spacing:-1px;}
	.content-section__txt3 span{border-bottom:1px solid #969696;}
	.content-section__txt3 strong{font-weight: 400;}
	.content-section__img{
		&.sec1-thumb{font-size:0; padding-top:70px; padding-right:30px; box-sizing:border-box;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{ margin-top:30px;}
		.content-section__txt3{padding:0 5%; font-size:20px; margin:0;}
		.content-section__box1{
			&.type-w6{float:none; width:auto;margin-top:0px; padding-left:0;}
			&.type-w4{float:none; width:auto; padding:0; }
			&.type-w6 img{display:none;}
		}
		.content-section__img{ float:none; width:100%;
			&.sec1-thumb{ padding-bottom:81.42%; height:0; position:relative; margin-top:70px; }
			&.sec1-thumb:before{ @include background('../images/eye/incisional-sec1_01.png','bottom / contain no-repeat'); content:''; position: absolute; left:0; top:0px; width: 100%; height:100%; display:block; }
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section__tit{margin-left: -5px;}
		.content-section__txt2:before{content:''; display:inline-block; position:absolute; left:0; top: -22px; width:12px; height:9px;
			@include background('../images/eye/incisional-sec1-quotes_680.png','0 0 / 12px 9px no-repeat'); content:''; }
		.content-section__txt3{ letter-spacing: 0;font-size: 1.4rem; margin-top:0; line-height:1.6; padding:0 5%;}
		.content-section__border{ border: 3px solid #b2b2b2; border-radius:5px; padding:25px 0;}
		.content-section__box1{
			&.type-w6{padding:0;}
			&.type-w6:before{ @include background('../images/contour/contour_cheekbone_section02_680.png','center top/ contain no-repeat'); content:'';}
		}
	}
}

/* SITE BOX5 */
.incisional-box2{padding:150px 110px; background-color:#1b372e; margin-top:240px;
	$this:&;
	&__tit{font-size:50px; font-weight:200; margin:0 auto; text-align:center; color:#fff;
		strong{font-weight:400;}
	}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:90px 0px; margin-top:100px;
		&__wrapper{
			&.type-wrapper{padding:0px 23.43%;}
			}
		&__box{
			&.type-img{width:100%; height:0; padding-bottom:53.48%;}
			&.type-txt{width:100%; height:auto;}
		}
		&__tit{max-width:510px; line-height:130%;}
	}

	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:41px 0px; margin-top:50px;
		&__wrapper{
			&.type-wrapper{padding:0px 16.68%;}
		}
		&__tit{font-size:3.0rem; max-width:240px;}
		&__list{margin-top:25px;}
	}
}

.item-box3{
	$this:&;
	&.type-incisional{margin-top:70px;
		#{$this}__item{ border: none;
			&.nth-1{
				#{$this}__box:before{ @include background('../images/eye/incisional-sec2-01.jpg','center center / cover no-repeat');}
			}
			&.nth-2{
				#{$this}__box:before{ @include background('../images/eye/incisional-sec2-02.jpg','center center / cover no-repeat');}
			}
			&.nth-3{
				#{$this}__box:before{ @include background('../images/eye/incisional-sec2-03.jpg','center center / cover no-repeat');}
			}

		}
	}


	@media only screen and (max-width:$tablet-size){
		&.type-incisional{margin-top:40px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-incisional{margin-top:25px;}
	}
}

.incisional-box3{
	.content-section{
		.box{text-align: center;}
	}
	.content-section__box1{
		&.type-sort{text-align: center;}
		&.sec2-space{ margin-top: 60px; }
	}

	.content-section__img-wrap{
		&.type-width{ width:1060px; margin:0 auto; margin-top:60px;
			&:after{display:block; clear:both; content:'';}
		}
	}
	.content-section__item{padding:0 10px;}
	.content-section__item img{width: 100%;}
	.content-section__img{float:left; width: 50%;}
	.content-section__txt .line{display:inline-block;}
	.content-section__txt-big{font-size:26px; color: #333; text-align: center; line-height:1.5; font-weight:300;}
	.brace{margin-top: 66px;}
	.brace__txt{font-weight: 300; font-size: 26px; line-height: 1.5;}

	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{padding: 0 35px;}
		.content-section__img-wrap{margin-top:40px; padding:0 65px; box-sizing:border-box;}
		.content-section__item img{display:block;}
		.content-section__img{float:none; width:100%;}
		.content-section__img + .content-section__img{margin-top: 20px;}
		.content-section__img-wrap{
			&.type-width{width: 100%;}
		}
		.brace{padding: 0;}

	}

	@media only screen and (max-width:$mobile-size){
		.content-section__box1{
			&.sec2-section{text-align:center;}
			&.sec2-bg{padding:0 30px;}
			&.type-sort{text-align: center;}
		}
		.content-section__txt1{ margin-top:25px; padding:0px;
			&.sec2-txt{font-size:1.0rem; font-weight:100; height:30px;}}


		.content-section__img-wrap{padding:0; margin-top:24px;}
		.content-section__item{padding:0;}
		.content-section__img + .content-section__img{margin-top:10px;}
		.content-section__img{height:auto;}
		.content-section__desc{
			&.type-wide{height:30px;}
		}
		.content-section__box1{
			&.sec2-space{margin-top:35px;}
		}
		.brace{margin-top: 40px;padding: 15px 10px;}
		.brace__txt{font-size: 1.5rem;}

		.brace.type-incisional.type-incisional:before{
			left: -8px;
		}
		.brace.type-incisional.type-incisional:after{
			right: -8px;
		}
	}


}

.incisional-box4{
	.content-section__wrapper{
		&.type-bg{height:1275px;padding-right:110px; padding-top: 140px; @include background('../images/eye/eye_incisional_bg01.jpg','0 0 / cover no-repeat'); box-sizing:border-box;}
		&.type-desc{width:530px; float:right; text-align:left;}
	}

	.content-section__number{ color: #f5f5f5;}
	.content-section__number-wrap:after{background-color: #b9b2b3;}
	.content-section__tit{margin-left: -30px;}
	.content-section__question1{display:inline-block; font-size:22px; font-weight:300; margin-top:95px; padding:0 8px; font-style:italic;}
	.content-section__txt1{position:relative;}
	.content-section__dot{ position:absolute; left:0; bottom:-55px; width:4px; height:28px; @include background('../images/eye/eye-dotdotdot.jpg','0 0 / 4px 28px no-repeat');}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin: 0 -65px; margin-top: 100px;}
		.content-section__wrapper{
			&.type-bg{height:auto; padding-right:0; padding-top: 0; background: none;}
			&.type-desc{width:100%; float:none; text-align:left;}
			&.type-bg--tm{padding-right:45px; height:670px; @include background('../images/eye/eye_incisional_bg01_990.jpg','0 0 / cover no-repeat');}
		}
		.content-section__question1{padding:4px 8px 0px;}
		.content-section__tit{float:right; margin-top:114px}
		.content-section__desc{padding:0 65px 85px; background-color:#f1f3f5;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0 -20px; margin-top: 75px;}
		.content-section__wrapper{
			&.type-bg--tm{padding-right:10px; height:332px; @include background('../images/eye/eye_incisional_bg01_680.jpg','0 0 / cover no-repeat');}
		}

		.content-section__number{ color: #898989;}

		.content-section__number-wrap:after{background-color: #898989;}

		.content-section__tit{float:right; margin-top:50px;  font-size: 2.2rem;}
		.content-section__desc{padding:0 20px 40px;}
		.content-section__question1{font-size:1.6rem; margin-top:50px;padding:2px 4px 0px;}
		.content-section__txt1{ margin-top:16px;}
		.content-section__dot{ left:0; bottom:-35px; width:2px; height:14px; background-size:2px 14px;}
	}

}
.incisional-box5{
	.content-section__wrapper{
		&.type-width{width:1080px; margin:0 auto;}
		&.type-contents{width:780px; margin:0 auto;}
	}
	.content-section__txt1{
		&.type-special{padding: 0 5%;}
	}

	.content-section__txt3{font-size:14px; font-weight:300; margin-top:25px; letter-spacing:-1px; color:#999; }

	@media only screen and (max-width:$tablet-size){
		&.sec4{padding-bottom:75px;}
		.content-section__wrapper{
			&.type-width{width:auto;}
			&.type-contents{width:640px;}
		}
		.content-section__txt3{margin-top:45px;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__wrapper{
			&.type-contents{width:auto;}
		}
		.content-section__txt3{font-size:1.2rem; margin-top:12px;}
		.content-section__txt3 .line{display:inline-block;}
	}
}

.after-surgery{
	$this:&;
	&__list{margin:0 0 0 -40px; padding:0;}
	&__item{float:left; width:50%;margin-top:40px; padding-left:40px;list-style:none; box-sizing:border-box;}
	&__item:nth-child(2n+1){clear:both;}
	&__thumb{font-size:0; height:120px; background: 0 0 / cover no-repeat;}
	&__thumb{
		&.img01{background-image:url('../images/eye/incisional-sec4-01.jpg')}
		&.img02{background-image:url('../images/eye/incisional-sec4-02.jpg')}
		&.img03{background-image:url('../images/eye/incisional-sec4-03.jpg')}
		&.img04{background-image:url('../images/eye/incisional-sec4-04.jpg')}
	}
	&__desc{height:50px; background-color:$incision-color1;}
	&__desc{
		&.color{background-color:#c4c4c4;}
	}
	&__txt1{position:relative; margin:0; font-size:22px; font-weight:300; height:100%; letter-spacing:-1px; color:#fff; vertical-align:middle;}
	&__txt1:before{content:''; display:inline-block; height:100%; vertical-align:middle;}

	@media only screen and (max-width:$tablet-size){
		&__txt1{font-size:18px;}
		&__desc{height:40px;}
		&__list{margin-left:-30px; }
		&__item{margin-top:30px; padding-left:30px;list-style:none;}
		&__thumb{height:98px;}
		&__thumb{
			&.img01{background-image:url('../images/eye/incisional-sec4-01_990.jpg')}
			&.img02{background-image:url('../images/eye/incisional-sec4-02_990.jpg')}
			&.img03{background-image:url('../images/eye/incisional-sec4-03_990.jpg')}
			&.img04{background-image:url('../images/eye/incisional-sec4-04_990.jpg')}
		}
	}

	@media only screen and (max-width:$mobile-size){
    	&__list{margin-left:-15px; }
    	&__item{margin-top:15px; padding-left:15px;list-style:none;}
    	&__desc{height:18px;}
    	&__txt1{font-size:1.1rem;}
    	&__thumb{height:45px;}
    	&__thumb{
    		&.img01{background-image:url('../images/eye/incisional-sec4-01_990.jpg');}
    		&.img02{background-image:url('../images/eye/incisional-sec4-02_990.jpg');}
    		&.img03{background-image:url('../images/eye/incisional-sec4-03_990.jpg');}
    		&.img04{background-image:url('../images/eye/incisional-sec4-04_990.jpg');}
    	}
	}

}

.open-close{
	$this:&;
	&__list{margin:0 0 0 -40px; padding:0;}
	&__item{float:left; width:50%;margin-top:40px; padding-left:40px; box-sizing:border-box; list-style:none;}
	&__thumb{font-size:0; height:190px; background: 0 0 / cover no-repeat;}
	&__thumb{
		&.img01{background-image:url('../images/eye/incisional-sec4-05.jpg')}
		&.img02{background-image:url('../images/eye/incisional-sec4-06.jpg')}
	}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-left:-30px; }
		&__item{margin-top:30px; padding-left:30px;list-style:none;}
		&__thumb{height:157px;}
		&__thumb{
			&.img01{background-image:url('../images/eye/incisional-sec4-05_990.jpg')}
			&.img02{background-image:url('../images/eye/incisional-sec4-06_990.jpg')}
		}
	}

	@media only screen and (max-width:$mobile-size){
		&__list{margin-left:-15px; }
		&__item{margin-top:15px; padding-left:15px;list-style:none;}
		&__thumb{height:0;padding-bottom: 52%;}
		&__thumb{
			&.img01{background-image:url('../images/eye/incisional-sec4-05_680.jpg')}
			&.img02{background-image:url('../images/eye/incisional-sec4-06_680.jpg')}
		}
	}
}
