.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.eyeFirst{@include background('../images/eye/eye_detail_section01.jpg','center center /cover');
		& .detail__inner{text-align:center;}
	}
	&.n-eyeSection01{@include background('../images/eye/eye_detail_section02.jpg','center center /cover');
		& .detail__section-box{left:-100px; bottom:-130px; width:400px;}
	}
	&.n-eyeSection02{@include background('../images/eye/eye_detail_section03.jpg','center center /cover');
		& .detail__section-box{top:-100px; width:450px;}
	}
	&.n-eyeSection03{@include background('../images/eye/eye_detail_section04.jpg','center center /cover');
		& .detail__section-box{width:397px; bottom:-1px; color:#333; }
		& .detail__section-subtit{color:#333;}
	}
	&.n-eyeSection04{@include background('../images/eye/eye_detail_section05.jpg','center center /cover');
		& .detail__section-box{top:-50px; width:320px;}
	}
	&.n-eyeSection05{@include background('../images/eye/eye_detail_section06.jpg','center center /cover');
		& .detail__section-box{top:-20px; width:360px; color:#333;
			& .color-comma{color:inherit;}
		}
		& .detail__section-subtit{color:#333;}
	}
	@media only screen and (max-width:$minpc-size3){
		&.n-eyeSection05{@include background('../images/eye/eye_detail_section06_992.jpg','center top /cover');
			& .detail__section-box{top:auto; bottom:-170px;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&.eyeFirst{@include background('../images/eye/eye_detail_section01_768.jpg','center 100% /cover');}
		&.n-eyeSection01{@include background('../images/eye/eye_detail_section02_768.jpg','center 100% /cover');
			& .detail__section-box{top:auto; left:auto; bottom:-93px; width:283px;}
		}
		&.n-eyeSection02{@include background('../images/eye/eye_detail_section03_768.jpg','center 100% /cover');
			& .detail__inner{overflow:hidden;}
			& .detail__section-box{top:-140px; left:auto; width:250px;}
		}
		&.n-eyeSection03{@include background('../images/eye/eye_detail_section04_768.jpg','center 100% /cover');
			& .detail__section-box{top:auto; bottom:-110px; width:270px;}
		}
		&.n-eyeSection04{@include background('../images/eye/eye_detail_section05_768.jpg','center 100% /cover');
			& .detail__section-box{top:-130px; width:270px;}
		}
		&.n-eyeSection05{@include background('../images/eye/eye_detail_section06_992.jpg','-130px -4px /cover');
			& .detail__section-box{bottom:-210px; width:330px;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.eyeFirst{@include background('../images/eye/eye_detail_section01.jpg','center center / cover');}
		&.n-eyeSection01{@include background('../images/eye/eye_detail_section02.jpg','center 100% / cover');
			& .detail__section-box{left:-100px; bottom:-130px; width:400px;}
		}
		&.n-eyeSection02{@include background('../images/eye/eye_detail_section03.jpg','center 100% / cover');
			& .detail__section-box{top:-80px; width:450px;}
		}
		&.n-eyeSection03{@include background('../images/eye/eye_detail_section04.jpg','center 100% / cover');
			& .detail__section-box{width:397px; bottom:-1px; color:#333; }
			& .detail__section-subtit{color:#333;}
		}
		&.n-eyeSection04{@include background('../images/eye/eye_detail_section05.jpg','center 100% / cover');
			& .detail__section-box{top:-50px; width:320px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.eyeFirst{@include background('../images/eye/eye_detail_section01_640.jpg','center center / cover');}
		&.n-eyeSection01{height:750px !important; @include background('../images/eye/eye_detail_section02_640.jpg','#7bbaa7 no-repeat center bottom / contain');
			& .detail__section-box{top:-190px; bottom:auto; width:100%;}
		}
		&.n-eyeSection02{height:670px !important; @include background('../images/eye/eye_detail_section03_640.jpg','no-repeat center center / cover');
			& .detail__inner{overflow:visible;}
			& .detail__section-box{top:-70px; width:170px;}
		}
		&.n-eyeSection03{height:770px !important; @include background('../images/eye/eye_detail_section04_640.jpg','no-repeat center right -10px / cover');
			& .detail__section-box{top:-12px; left:auto; width:50%;}
		}
		&.n-eyeSection04{height:650px !important; @include background('../images/eye/eye_detail_section05_640.jpg','no-repeat center center / cover');
			& .detail__section-box{top:-20px; width:100%; padding-right:50px; }
		}
		&.n-eyeSection05{height:770px !important; @include background('../images/eye/eye_detail_section06_640.jpg','no-repeat center bottom / cover');
			& .detail__section-box{bottom:-90px; width:176px;}
		}
	}
	@media only screen and (max-width:$iphone-size){
		&.n-eyeSection02{
			& .detail__section-box{width:155px;}
		}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.n-eyeSection01{
			& .detail__section-box{left:-50px;}
		}&.n-eyeSection03{
			& .detail__section-box{width:350px;}
		}
		&.n-eyeSection05{@include background('../images/eye/eye_detail_section06_768.jpg','no-repeat center center / cover');
			& .detail__section-box{width:270px; bottom:auto;}
		}
		.layer-doc5{margin-bottom:-300px;}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.n-eyeSection02{@include background('../images/eye/eye_detail_section03_640.jpg','no-repeat center 45% / cover');
			& .detail__section-box{bottom:-300px;}
		}
		&.n-eyeSection05{height:900px !important; @include background('../images/eye/eye_detail_section06_640.jpg','no-repeat center top / cover');
			& .detail__section-box{top:110px;}
		}
		.layer-doc5{margin-bottom:0;}
	}
}

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-cell; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:536px; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:490px; font-size:1.3rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:16%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px; @include background('../images/eye/popup_img2.jpg','#f5f5f5 no-repeat center center');
				 line-height:500px; color:#333; font-weight:400;
				@media only screen and (max-width:$mobile-size){
					height:459px; line-height:1.3; padding-top:205px; @include background('../images/eye/popup_img2_m.jpg','#f5f5f5 no-repeat center center / 40px 442px');
                }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;
				@media only screen and (max-width:$mobile-size){height:125px;}
				@media only screen and (max-width:$iphone-size){height:140px;}
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;}
		&.type-another2{margin-top:40px;}
		// @media only screen and (max-width:$mobile-size1){
		// 	&.type-another1{margin-top:74px;}
		// 	&.type-another2{margin-top:37px;}
		// }
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){font-size:1rem;}
		@media only screen and (max-width:$iphone-size){font-size:0.9rem;}
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__wrap{display:table-cell; width:1%; height:80px; vertical-align:middle; padding:0 26px;
		@media only screen and (max-width:$mobile-size){padding:0 8px;}
	}
}


.layer-doc3{float:right; position:relative; top:106px; width:60.46%; height:53%; @include background('../images/eye/popup_img1.jpg','center center / cover');
	&__box{position: absolute; bottom:0; left:0; width:100%; padding:25px; background-color:rgba(92,72,59,0.85); color:#fff; text-align:center;}
	&__tit{font-size:24px; font-weight:300; line-height: 1.4;
		& .font-eng{text-transform: uppercase;}
	}
	&__txt{margin-top:10px; font-size:15px;}
	@media only screen and (max-width:$tablet-size){float:none; top:auto; width:490px; height:340px; margin:64px auto 0; @include background('../images/eye/popup_img1_t.jpg','center center / cover');
		&__box{padding:22px;}
		&__tit{font-size:20px;}
		&__txt{margin-top:7px;}
	}
	@media only screen and (max-width:$mobile-size){width:100%; padding-bottom:109.71%; height:0; background:none;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/eye/popup_img1_m.jpg','center center / cover'); content:'';}
		&__box{padding:16px 5px;}
		&__tit{font-size:1.5rem;}
		&__txt{margin-top:5px; font-size:1.1rem;}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){top:auto;}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){width:310px; height:340px; padding-bottom:0;}
}

.layer-doc5{position:absolute; right:20px; bottom:50%; margin-bottom:-370px; color:#fff;
	&__num{font-size:18px; color:#c9c9c9; margin: 0;}
	&__tit{margin:10px 0 0 0; font-size:24px; font-weight:400; line-height:1.4;}
	&__txt{margin: 16px 0 0 0; font-size:18px; color:#f4fffb;}
	&__list{position:relative; width:776px; height:520px; margin: 0;padding: 0;list-style: none;}
	&__item{position:absolute; width:248px;
		&.nth-1{left:133px; top:0;}
		&.nth-2{right:133px; top:0;}
		&.nth-3{left:0; bottom:0;}
		&.nth-4{left:0; right:0; bottom:0; margin:0 auto;}
		&.nth-5{right:0; bottom:0;}
	}
	&__wrap{display:table-cell; width:1%; height:286px; padding:0 10px; vertical-align:middle;
		@include background('../images/eye/eyeSection02_figure_bg.png','no-repeat'); text-align:center;}
	@media only screen and (max-width:$minpc-size3){position:absolute; bottom:50%; right:-86px; margin-bottom:-400px;
		&__num{font-size:13px;}
		&__tit{margin-top:8px; font-size:18px;}
		&__txt{margin-top:14px; font-size:13px;}
		&__list{width:530px; height:514px;}
		&__item{width:174px;
			&.nth-1{left:0; top:0; right:0; margin:0px auto;}
			&.nth-2{left:90px; top:157px;}
			&.nth-3{left:auto; bottom:auto; right:90px; top:157px;}
			&.nth-4{left:0; bottom:0; right:auto;}
			&.nth-5{left:0; right:0; bottom:0; margin:0 auto;}
		}
		&__wrap{height:200px; padding:0 5px;  background-size:174px 200px;}
	}
	@media only screen and (max-width:$mobile-size){right:-10px; bottom:4%; margin-bottom:0;
		&__num{display:none;}
		&__tit{margin-top:4px; font-size:1rem;}
		&__txt{margin-top:0; font-size:1.0rem; word-break: keep-all;}
		&__list{width:223px; height:331px;}
		&__item{width:91px;
			&.nth-1{left:auto; top:0; right:0;}
			&.nth-2{left:87px; top:75px;}
			&.nth-3{right:0px; top:150px;}
			&.nth-4{left:0; bottom:0; right:auto;}
			&.nth-5{left:87px; right:auto; bottom:0;}
		}
		&__wrap{height:105px; padding:0 6px; @include background('../images/eye/eyeSection02_figure_bg_m.png','no-repeat center top / contain');}
	}
	@media only screen and (max-width:$mobile-size){bottom:10%;}
}

.eye-popup{
	@media only screen and (max-width:$mobile-size){
		&__num{font-size:1.2rem; font-family: $font-pt; margin: 0;}
		&__tit{font-size:1.2rem; font-weight:500; line-height:1.4; margin: 0;}
		&__list{position:relative; width:294px; height:339px; margin:22px auto 0; padding: 0;list-style: none;}
		&__item{position:absolute; width:116px; color:#333;
			&.nth-1{right:59px; color:#fff;
				& .eye-popup__wrap{@include background('../images/eye/popup_bg1.png','no-repeat center top / contain');}
			}
			&.nth-2{top:103px; right:119px;
				& .eye-popup__wrap{@include background('../images/eye/popup_bg2.png','no-repeat center top / contain');}
			}
			&.nth-3{top:103px; right:0;
				& .eye-popup__wrap{@include background('../images/eye/popup_bg3.png','no-repeat center top / contain');}
			}
			&.nth-4{bottom:0; left:119px;
				& .eye-popup__tit{font-weight:400;}
				& .eye-popup__wrap{@include background('../images/eye/popup_bg4.png','no-repeat center top / contain');}
			}
			&.nth-5{overflow:hidden; bottom:0; left:0; text-indent:-9999px;
				& .eye-popup__wrap{@include background('../images/eye/popup_bg5.png','no-repeat center top / contain');}
			}
		}
		&__wrap{display:table-cell; width:1%; height:132px; padding:0 10px; vertical-align:middle;
			@include background('../images/eye/popup_bg1.png','no-repeat center top / contain'); text-align:center;}
		&__sub{display:block; margin-top:-3px; font-size:1.2rem;}
	}
}

.color-eye0{color:#828282; font-weight:300;}
.color-eye1{color:#188a60;}
.color-eye2{color:#c0ff7d;}
.color-eye3{color:#0df0a4;}
.color-eye4{color:#0db57e;}
.color-eye5{color:#666;}
.color-eye6{color:#205f48;}
.color-eye7{color:#b9d5cc;}
.color-eye8{color:#04865a;}
.color-eye9{color:#2ee4a1;}
.color-comma{color:#a3a3a3;}
