.new-visual{
	$this:&;
	&.type-middleage{
		&:before{
			@include background('../images/eye/middleage/middleage_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $eye1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-middleage{
			&:before{
				@include background('../images/eye/middleage/middleage_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-middleage{
			&:before{
				@include background('../images/eye/middleage/middleage_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}


.new-style1{
	$this:&;
	&.type-middleage{@include background('../images/eye/middleage/middleage_bg_1.jpg','no-repeat center bottom');}
	&.type-middleage2{background-color:#ddeee8;}
	&.type-middleage3{background-color:#0d1f19;
		#{$this}__tit{color:#fff;}
		#{$this}__txt,#{$this}__txt2{color:#999;}
	}
	&.type-middleage4{background-color:#dbede7;}
	@media only screen and (max-width: $tablet-size){
		&.type-middleage{
			#{$this}__img{margin-right:20px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-middleage{padding-top: 50px;}
	}
}


.inner-box{
	&.type-middleage{padding-left:180px; padding-right:180px;}
	&.type-middleage2{padding:60px 74px;}
	&.type-middleage3{@include background('../images/eye/middleage/middleage_bg_5.jpg','center center');}
	@media only screen and (max-width: $tablet-size){
		&.type-middleage3{background-image:none; background-color:#fff;}
	}
}



.middleage-box1{padding:150px 60px;
	@include background('../images/eye/middleage/middleage_bg_2.jpg','no-repeat center center / cover');
	@extend %box;
	@extend %box-padding;
	&__tit{color:#fff;}
	&__txt{margin-top:24px; color:#999;}
	&__img{margin-top:46px;}
	@media only screen and (max-width: $mobile-size){padding-top:75px; padding-bottom:75px;
		&__txt{margin-top:12px;}
		&__img{margin-top:24px;}
	}
}

.middleage-box2{padding:150px 60px 240px;
	@include background('../images/eye/middleage/middleage_bg_3.jpg','no-repeat center center / cover'); text-align:left;
	@extend %box;
	@extend %box-padding;
	&__txt{color:#fff;}
	&__txt2{margin-top:54px; color:#fff;}
	@media only screen and (max-width: $tablet-size){padding-top:80px; padding-bottom:64px;
		@include background('../images/eye/middleage/middleage_bg_3_t.jpg','no-repeat center bottom / cover'); text-align:center;
		&__txt,&__txt2{padding-right:22.38%; text-align:left;}
	}
	@media only screen and (max-width: $mobile-size){padding:40px 0;
		&__txt2{margin-top:12px;}
		&__txt,&__txt2{padding-right:0;}
	}
}

.middleage-box3{
	&__num{margin:0; font-size:16px; color:#fff;}
	&__txt{margin:10px 0 0 0; font-size:17px; color:#fff;}
	&__list{margin:46px -4px -4px -4px; padding:0; font-size:0;}
	&__item{display:inline-block; margin:4px; padding:7px; background-color:$eye2; border-radius:50%; line-height:1.7;
		&:nth-child(even){background-color:$eye1;}
	}
	&__border{position:relative; display:block; width:168px; height:168px;  border:2px solid rgba(255,255,255,0.3); border-radius:50%; box-sizing:content-box;
		.vertical{padding:0 10px; box-sizing:border-box;}
		&:before,&:after{position:absolute;  left:0; right:0; display:block; width:8px; height:8px; margin:0 auto; border-radius: 50%; background-color:#fff; content:'';}
		&:before{top:-4px;}
		&:after{bottom:-4px;}
	}
	@media only screen and (max-width: $tablet-size){
		&__list{padding:0 50px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size){
		&__num{font-size:1.2rem;}
		&__txt{margin-top:0px; font-size:1.2rem;}
		&__list{margin-top:20px; padding:0; font-size:0;}
		&__border{width:120px; height:120px;  border-width:1px;
			.vertical{padding:0 5px;}
			&:before,&:after{ width:6px; height:6px;}
			&:before{top:-3px;}
			&:after{bottom:-3px;}
		}
	}
}

.middleage-box4{position:relative;
	&__tit{position:relative; display:inline-block; margin:0; padding:0 40px; font-size:25px; font-weight:$regular; color:$black1; box-sizing:border-box; font-style: italic;
		&:before,&:after{position:absolute; top:0; bottom:0; display:block; width:16px; height:50px; margin:auto 0; content:'';}
		&:before{left:0; @include background('../images/eye/middleage/middleage_brace_left.png','no-repeat center center / contain');}
		&:after{right:0; @include background('../images/eye/middleage/middleage_brace_right.png','no-repeat center center / contain');}
	}
	&__txt{margin:0; font-size:18px; line-height:1.8; font-weight:$light;}
	&__box{position:absolute; display:block; top:0; bottom:0; width:240px; height:240px; margin: auto 0;
		&.type-left{left:0;}
		&.type-right{right:0;}
	}
	@media only screen and (max-width: $tablet-size){font-size:0;
		&__box{position:static; top:auto; bottom:auto; display:inline-block;
			& + &{margin-left:36px;}
		}
		&__tit{margin-top:46px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__box{width:120px; height:120px;
			& + &{margin-left:18px;}
		}
		&__tit{margin-top:20px; padding:0 18px; font-size:1.4rem;
			&:before,&:after{width:8px; height:25px;}
		}
		&__txt{font-size:1.2rem; line-height:1.4;}
	}
}

.middleage-box5{padding:150px 60px; box-sizing:border-box;
	@include background('../images/eye/middleage/middleage_bg_2.jpg','no-repeat center center / cover');
	@extend %box;
	@extend %box-padding;
	&__tit{color:#fff;}
	&__txt{margin-top:24px; color:#999;}
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:inline-block; width:50%; vertical-align:top; list-style:none; text-align:left; vertical-align:top; box-sizing:border-box;
		&.type-img{padding-left:40px;}
	}
	@media only screen and (max-width: $tablet-size){
		@include background('../images/eye/middleage/middleage_bg_2_t.jpg','no-repeat center center / cover');
		&__item{width:100%;
			&.type-img{margin-top:40px; padding:0 10.9%;}
		}
		&__wrap{ padding:0 10.9%;}
	}
	@media only screen and (max-width: $mobile-size){padding-top:75px; padding-bottom:75px;
		&__item{
			&.type-img{margin-top:20px; padding:0 12px;}
		}
		&__wrap{ padding:0 12px;}
	}
}

.middleage-box6{padding:120px 100px 76px;
	@include background('../images/eye/middleage/middleage_bg_4.jpg','no-repeat center center / cover');
	@extend %box;
	@extend %box-padding;
	&__wrap{
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{color:#fff; }
	&__txt{margin-top:30px; color:#999;}
	&__box{float:right; max-width:415px; width:100%; text-align:left;}
	&__img{margin-top:26px; border:1px solid #5c4b43; border-top:none;}
	&__caption{margin:0; height:26px; line-height:26px; background-color:#5c4b43; color:#5c4b43; text-transform:uppercase; color:#cbc5c5; text-align:center;}
	&__noti{margin:16px 0 0 0; font-size:11px; color:#a3a1a1; line-height:1.8;}
	@media only screen and (max-width: $tablet-size){
		@include background('../images/eye/middleage/middleage_bg_4_t.jpg','no-repeat center center / cover');
		&__img{margin-top:52.2%;}
	}
	@media only screen and (max-width: $mobile-size){padding-top:0; padding-bottom:70px; background-image:none; background-color:#251306;
		&__top{margin-left:-12px; margin-right:-12px;}
		&__txt{margin-top:4px;}
		&__img{margin-top:24px;}
		&__caption{height:18px; line-height:18px; font-size:1rem;}
		&__noti{margin-top:14px; font-size:1rem;}
	}
}

.eclipsis-style1{display:block; margin:20px 0;
	&__circle{overflow:hidden; display:block; width:3px; height:3px; margin:0 auto; border-radius:50%; background-color:$black3; font-size:0; text-indent:-9999px;
		& + &{margin-top:4px;}
	}
	@media only screen and (max-width: $mobile-size){margin:10px 0;
		&__circle{width:2px; height:2px;
			& + &{margin-top:2px;}
		}
	}
}
.hexa-style1{display:inline-block; margin-top:60px;
	$this:&;
    &__box{padding:33px;position:relative; display:inline-block;}
    &__item:before{ content:''; -ms-transform:rotate(45deg);transform:rotate(45deg); width:145px; height:145px; background-color:rgba(0,0,0,0.45); border: 1px solid #545a5e; display:inline-block;box-sizing: border-box;}
    &__item{position:relative;}
    &__item{
        &.type-special{
            #{$this}__txt1{font-size: 18px;}
        }
        &.type-special:before{background-color:$eye2; border:none;}
    }
    &__desc{position:absolute; top:50%; left: 0px; right:0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
    &__txt1{font-size:20px; font-weight:400; color:#fff; padding:0 12px; margin: 0;}
    &__layer{text-align:center;
        &.nth2{margin-top:-106px;}
        &.nth3{margin-top:-106px;}
    }

    @media only screen and (max-width:$tablet-size){margin:78.48% auto 0;
        &__box{padding:33px;}
        &__txt1{font-size:20px;padding:0 12px;}
        &__layer{
            &.nth2{margin-top:-104px;}
            &.nth3{margin-top:-104px;}
        }
    }

    @media only screen and (max-width:$mobile-size){
        &__box{padding:15px;}
        &__item{
            &.type-special{
                #{$this}__txt1{font-size:1.1rem;}
            }
        }
        &__item:before{ width:73px; height:73px; }
        &__txt1{font-size:1.2rem;}
        &__layer{
            &.nth2{margin-top:-49px;}
            &.nth3{margin-top:-49px;}
        }
    }
}
