<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="reoperation-face">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-face">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">만족감으로 되찾는 아름다운 미소</p>
						<h3 class="new-visual__tit"><span class="n-color-reoperation2">윤곽</span>재수술</h3>
						<p class="new-visual__txt">보다 정밀한 진단과 더욱 치밀한 설계로 바로잡는 얼굴형</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#윤곽성형전담팀</span></li>
							<li class="new-visual__item"><span>#다양한케이스</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-face">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI reoperation SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							윤곽 재수술은 <span class="n-color-reoperation2">1차 수술보다<br class="hidden-m"> 어려운 것이 사실</span>입니다.
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		<span class="color-black1">윤곽 성형은 그 수술의 범위가 비교적 큰 만큼 많은 박리를 진행해야 하고 뼈의 이동이나 절골이 많은 수술</span>입니다.<br class="hidden-tm">
							때문에 환자분들은 윤곽 재수술에 대한 큰 부담과 걱정을 안게 되고, 이전 수술로 인한 불신과 소극적인 판단은 정확한 재수술을<br class="hidden-tm">
							힘들게 하는 원인이 되기도 합니다.<br>
							또, 윤곽 재수술은 얼굴을 구성하고 있는 뼈, 근육, 지방, 신경 등 각 조직들이 조금씩 변한 것을 감안하여 진행되어야 하는 까다로움이 있고,
							이미 뼈를 이동시키거나 깎아냈기 때문에 재수술 후 고정을 위한 공간에 한계가 있다는 어려움도 있습니다.
					 	</p>
					</div>
					<div class="section-normal__img type-full">
						<img src="../../images/reoperation/face/face_img_1.jpg" class="img-w100" loading="lazy" alt="윤곽 재수술 모델">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-gray1">
					<div class="img-style2 type-face">
						<h5 class="new-content-tit tit-new2 color-white">1차 수술보다 어려운 <span class="n-color-reoperation3">재수술</span></h5>
						<ul class="img-style2__list">
							<li class="img-style2__item nth-1">
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/face_img_2.jpg" loading="lazy" alt="심리적 불안감" class="img-w100">
									<div class="img-style2__caption txt-new2">심리적 불안감</div>
								</div>
								<p class="img-style2__txt txt-new1">
									이전 수술의 불만족으로 인한 불신과 소극적인 판단이 정확한 재수술을 어렵게 하는 원인이 될 수 있습니다.
								</p>
							</li>
							<li class="img-style2__item nth-2">
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/face_img_3.jpg" loading="lazy" alt="" class="img-w100">
									<div class="img-style2__caption txt-new2">기존 얼굴 구조조직의 변형</div>
								</div>
								<p class="img-style2__txt txt-new1">
									얼굴뼈와 피부, 근육, 지방, 신경조직 등이 변한 상태에서 수술을 진행해야 합니다.
								</p>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/face_img_4.jpg" loading="lazy" alt="" class="img-w100">
									<div class="img-style2__caption txt-new2">고정점을 구축하기 어려움</div>
								</div>
								<p class="img-style2__txt txt-new1">
									이전 수술로 뼈가 이동하거나 줄어들어, 고정점을 잡을 공간이 적습니다.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-face2">
					<div class="section-normal__wrap">
					 	<h4 class="section-normal__tit tit-new1">
							<span class="n-color-reoperation3">경험과 기술을 갖춘 전문의</span>를 찾아<br class="hidden-tm">
							재수술의 반복을 막아야 합니다.
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
					 		윤곽 재수술은 까다로운 수술인 만큼, 병원과 전문의 선택에 더욱 신중을 기해야 합니다.<br>
							이전 수술의 문제를 제대로 파악하지 못하거나 기술적으로 부족하여 잘못된 수술이 진행된다면, 또 다른 재수술이 필요한 상황이 발생할 수 있기 때문입니다. <br><br>

							바노바기는 2000년 개원 이후 윤곽 성형에 대한 경험과 기술을 갖춘 전문의들로 전담팀을 조직하여 운영하고 있습니다.<br>
							<span class="color-white">1:1 주치의 담당제와 수술실 실명제를 시행하여 신뢰를 바탕으로 하는 보다 정확한 윤곽 재수술 계획할 수 있도록 도와드리며, 정밀 진단이 가능한 시설과
								시스템을 갖추어 이전 수술에 대한 문제점과 개선 방향을 보다 정밀히 예측</span>합니다. 또,
								<span class="color-white">풍부한 경험을 통해 환자분들의 상황에 맞는 수술법을 적용하기 때문에 수술의 완성도를 높일 수 있습니다.</span>
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/reoperation/face/face_img_5.png" class="img-normal" loading="lazy" alt="오창현원장님, 박종림원장님">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-section__wrap type-face">
					<div class="img-style2 type-face2">
						<h5 class="new-content-tit tit-new2">윤곽 재수술, <span class="n-color-reoperation2">바노바기</span>를 선택해야 하는 이유</h5>
						<ul class="img-style2__list">
							<li class="img-style2__item nth-1">
								<div class="img-style2__before txt-new2">
									<span>심리적 불안감</span>
								</div>
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/reason_img_1.jpg" loading="lazy" alt="1:1 주치의 담당제, 수술실 실명제" class="img-w100">
									<div class="img-style2__caption txt-new2">1:1 주치의 담당제, 수술실 실명제</div>
								</div>
								<p class="img-style2__txt txt-new1">
									1:1 주치의 담당제와 수술실 실명제 도입 등으로
									신뢰도를 높이며, 진솔한 상담을 통해 재수술로 인한
									개선 가능성과 추구하는 방향을 명확히 공유합니다.
								</p>
							</li>
							<li class="img-style2__item nth-2">
								<div class="img-style2__before txt-new2">
									<span>기존 얼굴 구조조직의 변형</span>
								</div>
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/reason_img_2.jpg" loading="lazy" alt="정밀 진단 시스템" class="img-w100">
									<div class="img-style2__caption txt-new2">정밀 진단 시스템</div>
								</div>
								<p class="img-style2__txt txt-new1">
									3D CT와 X-Ray, 종합검진 등과 같은 정밀 진단 시스템을
									통해 현 상태와 문제점, 개선 방향을 보다 정밀히
									예측하고 계획할 수 있습니다.
								</p>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__before txt-new2">
									<span>고정점을 구축하기 어려움</span>
								</div>
								<div class="img-style2__box">
									<img src="../../images/reoperation/face/reason_img_3.jpg" loading="lazy" alt="윤곽 성형 전담팀 운영" class="img-w100">
									<div class="img-style2__caption txt-new2">윤곽 성형 전담팀 운영</div>
								</div>
								<p class="img-style2__txt txt-new1">
									2000년 개원 이후 풍부한 경험과 기술을 갖춘 윤곽
									성형 전담팀이 운영되어, 개개인의 상황에 맞는
									수술법을 적용하고 수술의 완성도를 높입니다.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-reoperation">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">사각턱</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-square" class="new-tab__link">사각턱</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-cheek" class="new-tab__link">광대</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-front" class="new-tab__link">앞턱</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content page-square is-active">
				<div class="new-section type-cling">
					<div class="new-section__wrap type-gray2">
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h4 class="new-content-tit2 tit-new2">턱 뒷부분이 부자연스럽거나 <span class="inline-block">이차각이 생긴 경우</span></h4>
									<p class="compare__txt txt-new1">
										오랜 경험과 기술을 가진 윤곽 성형 숙련의 라면 치밀한 계산을 통해 턱뼈를 한 번에 깎을 수 있습니다.<br class="hidden-tm">
										하지만 뼈를 깎아낼 때 계산이 잘못됐거나 여러 번에 걸쳐 깎게 되면 이렇게 턱뼈 뒤쪽이 부자연스러운 모양으로 남게 되죠.<br class="hidden-tm">
										이런 경우에는 <span class="color-black1">정밀한 진단을 통해 기존 수술 정도를 파악하고, 추구하는 턱 모양에 맞게 깎아내는 것으로 개선이 가능</span>합니다.
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_1.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_1.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h4 class="new-content-tit2 tit-new2">좌우 비대칭이 생기거나 교정되지 못한 경우</h4>
									<p class="compare__txt txt-new1">
										깎아낼 턱뼈의 길이를 잘못 계산했거나 얼굴의 중심선을 제대로 맞추지 못한 채 사각턱 수술을 진행하면 좌우 비대칭이 생기게 됩니다.<br class="hidden-tm">
										또, 턱의 근육이나 지방이 비대칭으로 발달한 것을 간과한 채 턱뼈만을 개선했을 경우, 겉으로 보이는 비대칭은 개선되지 못할 가능성이 높죠.<br class="hidden-tm">
										이를 개선하기 위해서는 <span class="color-black1">얼굴의 중심선을 바르게 잡아 균형 있게 턱뼈를 깎아주고, 필요하다면
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">인포버튼</span>
												저작근 축소술
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>저작근 축소술이란?</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_1.jpg" loading="lazy" alt="저작근축소술 이미지" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    귀밑 턱 부위를 눌러보면 깊은 부위의 살이 단단하게 만져집니다.
																	이것은 씹는 기능의 일부를 담당하는 근육으로 교근이라고 하는데,
																	평소 씹는 습관에 따라 비대칭으로 발달하기도 하며 지나치게
																	발달하면 돌출형 사각턱을 만드는 원인이 되기도 합니다. 보톡스를
																	이용하여 일시적인 축소 효과를 볼 수도 있지만 사각턱수술 시
																	수술적 방법으로 함께 제거하면 지속적인 효과를 유지할 수 있어
																	만족도가 더 높습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															닫기
														</button>
													</span>
												</span>
											</a>
			                            </span>이나
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">인포버튼</span>
												심부볼 지방교정
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>심부볼 지방교정이란?</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_2.jpg" loading="lazy" alt="심부볼 지방교정 이미지" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    얼굴의 지방은 두 층이 있는데 하나는 피부 바로 밑에 얇게 한
																	층으로 있는 지방과 협부 지방이라고 하여 뺨 깊숙이 있는
																	지방입니다. 이 지방층 또한 얼굴 윤곽을 결정하는 요소가 되기
																	때문에 피부 표면에 가까운 지방을 뺄 때는 지방흡입 시술을 하며,
																	더 안쪽의 협부 지방은 입안의 절제를 통해 개선할 수 있습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															닫기
														</button>
													</span>
												</span>
											</a>
										</span>
										을<br class="hidden-tm"> 더하여 비대칭을 바로잡아야 합니다.</span><!-- color-black1 -->
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_2.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_2.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h4 class="new-content-tit2 tit-new2">갸름한 느낌이 적어 불만족스러운 경우</h4>
									<p class="compare__txt txt-new1">
										상담 과정에서 정확한 의사소통이 이루어지지 않았거나 턱의 입체감을 고려하지 못했을 때, 또는 턱의 근육이나 지방이 발달한 것을<br class="hidden-tm">
										간과한 채 턱뼈만을 개선했을 경우 수술 결과에 불만족이 생길 수 있습니다.<span class="color-black1"> 정밀한 진단을 통해 추가적으로 턱뼈를 개선하고,<br class="hidden-tm">
										피질절골술이나<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">인포버튼</span>
												저작근 축소술,
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>저작근 축소술이란?</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_1.jpg" loading="lazy" alt="저작근축소술 이미지" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    귀밑 턱 부위를 눌러보면 깊은 부위의 살이 단단하게 만져집니다.
																	이것은 씹는 기능의 일부를 담당하는 근육으로 교근이라고 하는데,
																	평소 씹는 습관에 따라 비대칭으로 발달하기도 하며 지나치게
																	발달하면 돌출형 사각턱을 만드는 원인이 되기도 합니다. 보톡스를
																	이용하여 일시적인 축소 효과를 볼 수도 있지만 사각턱수술 시
																	수술적 방법으로 함께 제거하면 지속적인 효과를 유지할 수 있어
																	만족도가 더 높습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															닫기
														</button>
													</span>
												</span>
											</a>
			                            </span>
										<span class="pop-info type-reoperation">
											<a href="" class="info-btn js-info">
												<span class="info-btn__icon">인포버튼</span>
												심부볼 지방교정
												<span class="info-desc">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>심부볼 지방교정이란?</span>
															<span class="info-desc__content">
																<img src="../../images/reoperation/face/face_info_2.jpg" loading="lazy" alt="심부볼 지방교정 이미지" class="info-desc__thumb">
																<span class="info-desc__txt1">
				                                                    얼굴의 지방은 두 층이 있는데 하나는 피부 바로 밑에 얇게 한
																	층으로 있는 지방과 협부 지방이라고 하여 뺨 깊숙이 있는
																	지방입니다. 이 지방층 또한 얼굴 윤곽을 결정하는 요소가 되기
																	때문에 피부 표면에 가까운 지방을 뺄 때는 지방흡입 시술을 하며,
																	더 안쪽의 협부 지방은 입안의 절제를 통해 개선할 수 있습니다.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left">태블릿 닫기</span>
															<span class="info-desc__stick type-another">태블릿 닫기</span>
															닫기
														</button>
													</span>
												</span>
											</a>
										</span>등을 병행하는 것으로 턱 선을 보다 갸름하게 개선</span>할 수 있습니다.<br class="hidden-tm">
										특히 피질절골술은 여러 겹으로 되어있는 턱뼈의 가장 바깥층을 절골하여 제거하는 방법으로, 턱뼈의 두께 자체를 줄여주기 때문에 <br class="hidden-tm">
										갸름한 얼굴형을 추구하는데 보다 뛰어난 효과를 볼 수 있습니다.
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_3.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_3.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-cheek">
				<div class="new-section type-cling">
					<div class="new-section__wrap type-gray2">
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">좌우비대칭이 생긴 경우</h3>
									<p class="compare__txt txt-new1">
										광대의 비대칭은 뼈 자체의 비대칭과 얼굴 근육의 비대칭, 혹은 이 두 가지가 동시에 원인인 경우가 있습니다.<br>
										때문에 <span class="color-black1">정밀한 진단을 통해 광대의 이동 가능 정도를 확인하고 표정 근육을 고려한 재수술을 통해 대칭을 바로잡아 주어야 합니다.</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_4.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_4.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">광대 폭의 변화가 적어 불만족스러운 경우</h3>
									<p class="compare__txt txt-new1">
										광대의 너비는 얼굴 정면에서 봤을 때 광대의 양 끝 가장자리 위치가 어딘지에 따라 결정됩니다. 그 말은 곧 광대 가장자리를<br class="hidden-tm">
										포함하지 않고 광대를 절골하게 되면 어떤 변화를 주어도 광대의 너비는 변하지 않는다는 것이죠. <br class="hidden-tm">
										바노바기는 <span class="color-black1">한계에 가까운 절골 기술을 통해 광대의 가로 길이 끝을 포함한 광대궁 복합체를 이동시켜 보다 효과적인 광대 축소를 </span><br class="hidden-tm">
										가능하게 합니다.
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_5.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_5.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">광대 수술 후 앞 볼이 처진 경우</h3>
									<p class="compare__txt txt-new1">
										뼈를 덮고 있던 연부 조직들과 광대의 축소량에 따른 상관관계를 계산하지 못했거나, 피부가 노화했을 경우 광대 수술 후 볼 처짐이<br class="hidden-tm">
										발생할 수 있습니다.특별히 광대의 재배치가 필요한 경우가 아니라면,
										<span class="color-black1">
											<span class="pop-info type-reoperation">
												<a href="" class="info-btn js-info">
													<span class="info-btn__icon">인포버튼</span>
													탄력밴드
													<span class="info-desc">
														<span class="info-desc__item">
															<span class="info-desc__box">
																<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>탄력밴드란?</span>
																<span class="info-desc__content">
																	<img src="../../images/reoperation/face/face_info_3.jpg" loading="lazy" alt="탄력밴드 이미지" class="info-desc__thumb">
																	<span class="info-desc__txt1">
					                                                    탄력밴드는 세계적인 재건성형 권위자인 이탈리아의 Dr. 카푸로가
																		고안해낸 의료용 실입니다. 인체 내에서 주변조직과 결합하여
																		인대와 같은 역할을 하기 때문에, 피부 깊숙한 곳의 무너진
																		근막층을 보강하여 피부 처짐을 효과적으로 개선할 수 있습니다.
																		또한 강한 탄성을 가지고 있기 때문에 결과가 보다 자연스럽다는
																		장점이 있습니다.
																	 </span>
																</span>
															</span>
															<button class="info-desc__btn js-close">
																<span class="info-desc__stick type-left">태블릿 닫기</span>
																<span class="info-desc__stick type-another">태블릿 닫기</span>
																닫기
															</button>
														</span>
													</span>
												</a>
				                            </span>
											또는
											<span class="pop-info type-reoperation">
												<a href="" class="info-btn js-info">
													<span class="info-btn__icon">인포버튼</span>
													엔도타인
													<span class="info-desc">
														<span class="info-desc__item">
															<span class="info-desc__box">
																<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>엔도타인이란?</span>
																<span class="info-desc__content">
																	<img src="../../images/reoperation/face/face_info_4.jpg" loading="lazy" alt="엔도타인 이미지" class="info-desc__thumb">
																	<span class="info-desc__txt1">
					                                                    엔도타인은 미국 FDA의 승인을 받은 안전한 생체 친화적
																		재료입니다. 피부 조직을 균일한 압력으로 고르게 당겨주어
																		자연스러운 주름 개선이 가능하고 적은 흉, 오래가는 효과, 자연
																		흡수 등의 특징이 있어 처진 피부를 개선하는 다양한 안티에이징
																		시술에 사용되고 있습니다.
																	 </span>
																</span>
															</span>
															<button class="info-desc__btn js-close">
																<span class="info-desc__stick type-left">태블릿 닫기</span>
																<span class="info-desc__stick type-another">태블릿 닫기</span>
																닫기
															</button>
														</span>
													</span>
												</a>
				                            </span>
											과 같이 안티에이징에 적합한 재료를<br class="hidden-tm"> 응용하여 줄어든 광대 크기에 맞도록 피부 처짐을 개선할 수 있습니다.
										</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_6.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_6.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
								<p class="before-noti">
									* 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-front">
				<div class="new-section type-cling">
					<div class="new-section__wrap type-gray2">
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">과하게 교정되어 <span class="inline-block">부자연스러운 경우</span></h3>
									<p class="compare__txt txt-new1">
										앞턱은 정면에서의 얼굴 길이와 옆면에서의 전진 정도를 동시에 고려해야 합니다. 이 입체감을 고려하지 않고<br class="hidden-tm">
										앞턱 수술을 진행하게 되면 어느 특정 각도에서는 부자연스러운 형태로 보일 수 있죠. <br class="hidden-tm">
										<span class="color-black1">기존 성형에서 교정된 방법에 따라 추가적인 절골 또는 재교정 방법을 선택하여 어색한 부분을 개선할 수 있습니다.</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_7.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_7.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="new-section__box">
							<div class="compare">
								<div class="compare__wrap">
									<h3 class="new-content-tit2 tit-new2">턱 끝이 한 쪽으로 삐뚤어진 경우</h3>
									<p class="compare__txt txt-new1">
										얼굴이 비대칭으로 발달했거나 턱뼈 자체의 중심선을 잘못 잡은 경우, 턱 끝이 한 쪽으로 휘어져 보이게 됩니다.<br class="hidden-tm">
										전자의 경우라면 근육을 교정하는 보톡스와 같은 비교적 쉬운 방법으로 교정이 가능하지만 후자의 경우 재수술을 하는 것이 좋습니다.<br class="hidden-tm">
										<span class="color-black1">보다 정밀한 계측을 통해 미간, 코, 입을 따라 얼굴의 중심선을 잡아주고 이전 수술 방법에 따라 추가적인 절골을 더해 개선이 가능합니다.</span>
									</p>
								</div>
								<ul class="compare__list">
									<li class="compare__item type-before">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_before_8.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>BEFORE</span></div>
									</li>
									<li class="compare__item type-after">
										<div class="compare__img">
											<img src="../../images/reoperation/face/face_after_8.jpg" class="img-w100" loading="lazy" alt=""/>
										</div>
										<div class="compare__caption txt-new2"><span>수술 후 6개월</span></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--//new-section-->
			</div><!-- //new-tab-content-->
			<div class="section-info">
				윤곽 재수술의 대표적인 케이스들 몇몇을 예로 든 것이며, 실제 윤곽 재수술의 원인과 개선 방법은 개개인의 상태에 따라 다를 수 있습니다.<br class="hidden-tm">
				정밀한 진단과 상담을 통해 불만족의 원인을 파악하고 정확히 개선하는 것이 또 다른 재수술을 막는 지름길입니다.
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
