<%
	type = "detail"
	page = "reoperation"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>

<!-- Content -->
<div class="reoperation detail-common">
	<section class="fs_section reoperationFirst js-first" data-section-name="home">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<p class="detail__first-tit type-reoperation">
				   	원칙<span class="color-reoperation0">을 지키는</span> <span class="detail__first-piece type-reoperation">올바른 교정<span class="color-reoperation0">으로</span></span>
			   	</p>
			   	<h3 class="detail__first-txt type-reoperation">
				   	<span class="detail__first-bwrap">마음의 상처까지 바로잡는<b class="detail__first-bar type-reoperation"></b></span><br>
				   	<strong class="detail__first-point">바노바기 <span class="color-reoperation1">재수술</span> 디테일<span class="color-reoperation1">.</span></strong>
			   	</h3>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>SCROLL</em>
	   	</div>
	</section>

	<section class="fs_section reoperationSection01" data-section-name="reoperationSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-normal type-reoperation">
				 	<h4 class="detail__section-tit">
				   		<strong>재수술</strong><span class="color-comma">,</span><br>
				   		<span class="detail__section-bwrap">바노바기는</span><br>
				   		<strong class="color-reoperation1">이렇게</strong> 합니다
				 	</h4>
				 	<p class="detail__section-subtit">기본부터 바로잡는<br class="hidden-pt"> 올바른 교정</p>
				 	<p class="detail__section-txt">
						재수술의 이유는 다양하지만 결론은 하나입니다. 불만족의 원인을 파악하고 지금보다 더 만족스러운 결과를 내는 것이죠.
					   	그러기 위해서는, <span class="color-reoperation4">환자가 만족하지 못한 부분에 대한 이해와 진단을 바탕으로, 기본과 원칙을 지켜 수술하는 것이 필수</span>입니다.
					   	환자를 이해하는 올바른 교정, 바노바기가 약속합니다.
				 	</p>
			   	</div>
			   	<div class="layer-doc type-reoperation hidden-m"><!-- pc용 -->
				   	<h5 class="layer-doc__tit">바노바기 재수술 시스템</h5>
				   	<ul class="layer-doc__list">
					   	<li class="layer-doc__item">재수술의 필요성 파악</li>
					   	<li class="layer-doc__item">목표이해</li>
					   	<li class="layer-doc__item">정밀한 진단</li>
					   	<li class="layer-doc__item">기본과 원칙을 지킨 수술</li>
					   	<li class="layer-doc__item">수술 후 관리</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">딤처리</div>
	   	<div class="detail__popup-m">
		   	<div class="layer-doc hidden-pt type-reoperation">
			   	<h5 class="layer-doc__tit">재수술 시스템<span class="color-reoperation1">.</span></h5>
			   	<ul class="layer-doc__list">
				   	<li class="layer-doc__item">- 재수술의 필요성 파악</li>
				   	<li class="layer-doc__item">- 목표이해</li>
				   	<li class="layer-doc__item">- 정밀한 진단</li>
				   	<li class="layer-doc__item">- 기본과 원칙을 지킨 수술</li>
				   	<li class="layer-doc__item">- 수술 후 관리</li>
			   	</ul>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom hidden-pt type-reoperation">
		   	<div class="detail__section-set">
			   	<span>바노바기 재수술 시스템</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-reoperation" data-popup-type="section">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section reoperationSection02" data-section-name="reoperationSection02">
		<div class="detail__inner type-full">
			<div class="detail__section-wrap type-reoperation type-quotation2">
				<div class="detail__section-wrap2">
					<div class="detail__vertical">
						<div class="detail__section-box type-reoperation type-wide type-quotation2">
							<h4 class="detail__section-tit">
								<strong>재수술</strong><span class="color-comma">,</span><br>
								<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
								<strong class="color-reoperation2">믿을 수</strong> 있습니다
							</h4>
							<p class="detail__section-subtit">수술 부위에 대해 숙련된 전문의</p>
							<p class="detail__section-txt">
								재수술은 수술로 인한 조직의 변형, 이전 수술 방법에 대한 이해, 삽입된 재료의 문제라면 그 제거와 대체까지,
								고려해야 할 것들이 많은 까다로운 수술입니다.
								때문에 <span class="color-reoperation2">재수술은 한 분야에 대해 어느 정도 숙련된 전문의가 집도하는 것이 중요</span>합니다.
							</p>
						</div>
					</div>
					<!-- pc용 의료진 소개 바로가기 이미지 -->
					<div class="layer-img2 hidden-tm">
						<div class="layer-img2__box"></div>
						<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">의료진 소개 바로가기</a>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile용 의료진 소개 바로가기 이미지 -->
		<div class="layer-img2 hidden-p">
			<div class="layer-img2__box"></div>
			<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">의료진 소개 바로가기</a>
		</div>
	</section>

	<section class="fs_section reoperationSection03" data-section-name="reoperationSection03">
		<div class="detail__inner">
		 	<div class="detail__vertical">
			 	<div class="detail__section-box type-wide type-reoperation">
				 	<h4 class="detail__section-tit">
					 	<strong>재수술</strong><span class="color-comma">,</span><br>
					 	<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
					 	<strong class="color-reoperation1">더</strong> 잘 합니다
				 	</h4>
				 	<p class="detail__section-subtit">더 정밀하게, 더 정성스럽게,<br class="hidden-m"> 더 나은 결과로 </p>
				 	<p class="detail__section-txt">
					 	재수술은 의사 입장에서는 꺼려지는 것이 사실입니다. 하지만 바노바기 의료진은 재수술 케이스를 더 잘 한다고, 감히 말씀드립니다.
					 	물론 처음부터 그랬던 것은 아닙니다. 워낙 많은 경험이 쌓이다 보니, 또 수술의 원칙에 집중하다 보니
					 	자연스럽게 노하우가 쌓였습니다.
					 	<span class="color-reoperation3">더 나은 결과를 위해 더 좋은 방법을 동원하고, 더욱 정성스럽게 수술하는, 바노바기 재수술.</span>
					 	저희를 찾아오시는 환자분들께 더 이상의 실패는 없어야 하겠습니다.
				 	</p>
			 	</div>
			 	<div class="diagram4">
				 	<ul class="diagram4__list">
					 	<li class="diagram4__item nth-1"><div class="diagram4__wrap"><p class="diagram4__txt">눈<br>재수술</p></div></li>
					 	<li class="diagram4__item nth-2"><div class="diagram4__wrap"><p class="diagram4__txt">코<br>재수술</p></div></li>
					 	<li class="diagram4__item nth-3"><div class="diagram4__wrap"><p class="diagram4__txt">가슴<br>재수술</p></div></li>
					 	<li class="diagram4__item nth-4"><div class="diagram4__wrap"><p class="diagram4__txt">바노바기<br>재수술</p></div></li>
					 	<li class="diagram4__item nth-5"><div class="diagram4__wrap"><p class="diagram4__txt">윤곽<br>재수술</p></div></li>
					 	<li class="diagram4__item nth-6"><div class="diagram4__wrap"><p class="diagram4__txt">바디<br>재수술</p></div></li>
					 	<li class="diagram4__item nth-7"><div class="diagram4__wrap"><p class="diagram4__txt">주름<br>재수술</p></div></li>
				 	</ul>
			 	</div>
		 	</div>
		</div>
	</section>

	<section class="fs_section reoperationSection04" data-section-name="reoperationSection04">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-right type-reoperation">
				   	<h4 class="detail__section-tit">
					   	<strong>재수술</strong><span class="color-comma">,</span><br>
					   	<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
					   	<strong class="color-reoperation1">디테일</strong>합니다
				   	</h4>
				   	<p class="detail__section-subtit">잘 아는 만큼 성공적인 이물질 제거</p>
				   	<p class="detail__section-txt">
					   	<span class="color-reoperation3">이물질 제거술은 이물질을 정확히 찾아 정상 조직이 손상되지 않도록 제거하는 것이 핵심</span>입니다.
					   	바노바기는 전문 장비와 숙련된 수술 감각으로 체내의 이물질을 파악하고 제거하는 것은 물론,
					   	조직의 복원과 여러 부작용의 흔적을 없애기 위한 적극적인 치료를 병행합니다.
				   	</p>
			   	</div>
			   	<div class="layer-doc6">
				   	<ul class="layer-doc6__list">
					   	<li class="layer-doc6__item nth-1">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">초음파 진단</p>
					   	</li>
					   	<li class="layer-doc6__item nth-2">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">이물질제거</p>
					   	</li>
					   	<li class="layer-doc6__item nth-3">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">형태 복원</p>
					   	</li>
					   	<li class="layer-doc6__item nth-4">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">치료</p>
					   	</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	</section>

</div>
<!-- //Content -->

<% include ../_include/_footer %>
