<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="reoperation-young">
		<div class="new-visual type-young">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">잘못된 흔적에서 벗어나 더욱 젊어 보이게</p>
						<h3 class="new-visual__tit"><span class="n-color-reoperation2">동안</span> 재수술</h3>
						<p class="new-visual__txt">개개인의 피부 특성을 고려하는 재수술</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#안정적인수술</span></li>
							<li class="new-visual__item"><span>#체계적인후관리</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-young">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						동안 재수술은<span class="n-color-reoperation2">회복을<br class="hidden-tm">
						충분히 기다린 후 결정</span>해야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						대부분의 동안 성형은 피부를 박리하고 당긴 후 체내에 흡수되는 보형물을 통해 고정하는 형태로 진행됩니다.<br class="hidden-tm">
						그 보형물이 체내에 흡수되기까지는 약 1년 정도의 시간이 필요하며, 보형물을 삽입하지 않는 방법을 선택했다 하더라도<br class="hidden-tm">
						피부의 절개나 박리가 있었다면 조직의 회복을 위해 약 6개월의 시간이 필요합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						따라서 동안 재수술은 그러한 <span class="n-color-reoperation2">조직의 회복이나 보형물의 흡수가 충분히 이루어진 약 6~12개월 후에 결정하는 것이 좋습니다.</span>
						물론 일상생활에 지장을 줄 정도의 부작용이 발생한 경우나 개인의 경과에 따라 좀 더 일찍 재수술할 수도 있지만,
						재수술의 반복을 막고 더 만족스러운 재수술 결과를 위해서는 충분한 시간을 들여 재수술을 결정하는 것이 중요합니다.
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/reoperation/young/young_img_1.png" loading="lazy" alt="동안재수술 모델" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-top0 type-bottom type-young2">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">동안 재수술 시기</h5>
						<div class="process-style6">
							<div class="process-style6__box type-list type-white">
								<ul class="process-style6__list">
									<li class="process-style6__item"><p class="process-style6__txt txt-new1">피부 절개나 박리를 통한 동안 성형을 한 경우</p></li>
									<li class="process-style6__item"><p class="process-style6__txt txt-new1">흡수형 보형물 삽입이 더해진 동안 성형을 한 경우</p></li>
								</ul>
							</div>
							<div class="process-style6__box type-result type-reoperation2">
								<div class="process-style6__arrow">
								</div>
								<div class="process-style6__wrap">
									<div class="process-style6__outer">
										<div class="process-style6__inner txt-new1">
											조직의 회복이나<br>
											보형물의 흡수를 생각하여<br>
											첫 수술로부터 약 6개월 ~ 12개월 후
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="process-style6">
							<div class="process-style6__box type-list type-white type-mobile-full">
								<ul class="process-style6__list">
									<li class="process-style6__item">
										<p class="process-style6__txt txt-new1">비교적 심한 부작용 발생 등 개인의 경과에 따라<br> 빠른 재수술이 필요한 경우</p>
									</li>
								</ul>
							</div>
							<div class="process-style6__box type-result type-reoperation1">
								<div class="process-style6__arrow">
								</div>
								<div class="process-style6__wrap">
									<div class="process-style6__outer">
										<div class="process-style6__inner txt-new1">
											보다 조직의 손상에 신경 쓰며<br>
											비교적 빠른 시일 내에
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						불만족이 발생한 원인을<br class="hidden-tm">
						<span class="n-color-reoperation2">보다 정확히 알고 개선</span>하려 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						피부는 다양한 층들이 각자의 역할을 하며 복합적으로 구성되어 있습니다.<br class="hidden-tm">
						따라서 동안 <mark class="mark-reoperation">재수술은 동안 성형에 충분한 경험을 갖춘 전문의가 보다 정확히 진단하여 원인을 개선하는 것이</mark> 핵심입니다.<br class="hidden-tm">
						동안 재수술의 이유는 크게 네 가지로 나눌 수 있습니다. 주름이 충분히 개선되지 않은 경우,<br class="hidden-tm">
						피부 표면이 울퉁불퉁해 보이는 경우, 비대칭으로 개선된 경우, 단순 재발의 경우가 있죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 각 경우의 불만족이 발생한 이유를 보다 정밀히 분석하며, 그에 맞는 재수술 방법을 선택합니다.<br class="hidden-tm">
						때문에 비교적 <span class="n-color-reoperation2">재발의 가능성이 적고 더욱 만족스러운 동안 재수술이 가능</span>합니다.
					</p>
				</div>
			</div>
			<div class="new-section">
				<div class="new-style3 type-young">
					<div class="img-style2 type-young type-half type-tablet-padding">
						<h5 class="new-content-tit tit-new2 color-white">동안 성형 후 <span class="n-color-reoperation3">재수술이 필요한</span> 대표적인 경우</h5>
						<ul class="img-style2__list">
							<li class="img-style2__item nth-2">
								<div class="img-style2__box">
									<img src="../../images/reoperation/young/young_img_2.jpg" loading="lazy" alt="불충분한 주름 개선" class="img-w100">
									<div class="img-style2__caption txt-new2">불충분한 주름 개선</div>
								</div>
								<p class="img-style2__txt txt-new1">
									피부를 박리할 때 박리 영역이 충분하지 못한 경우 발생합니다.
									보다 정밀한 기술을 통해 내부 조직을 거의 손상시키지 않으면서도
									충분한 영역을 박리하는 것이 중요합니다.
								</p>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/reoperation/young/young_img_3.jpg" loading="lazy" alt="울퉁불퉁하게 남은 피부 표면" class="img-w100">
									<div class="img-style2__caption txt-new2">울퉁불퉁하게 남은 피부 표면</div>
								</div>
								<p class="img-style2__txt txt-new1">
									위아래로 불규칙하게 움직이며 피부를 박리했을 경우나
									수술 부위의 피가 고여 발생할 수 있습니다.
									보다 고른 박리를 통해 예방할 수 있습니다.
								</p>
							</li>
							<li class="img-style2__item nth-2">
								<div class="img-style2__box">
									<img src="../../images/reoperation/young/young_img_4.jpg" loading="lazy" alt="비대칭 발생" class="img-w100">
									<div class="img-style2__caption txt-new2">비대칭 발생</div>
								</div>
								<p class="img-style2__txt txt-new1">
									피부를 당길 때 그 정도를 비대칭하게 잡았거나
									개개인의 얼굴 특성을 파악하지 못한 경우
									비대칭이 두드러질 수 있습니다. 진단 및 상담 단계에서
									보다 정밀하게 얼굴을 계측하는 것이 중요합니다.
								</p>
							</li>
							<li class="img-style2__item nth-3">
								<div class="img-style2__box">
									<img src="../../images/reoperation/young/young_img_5.jpg" loading="lazy" alt="단순 재발" class="img-w100">
									<div class="img-style2__caption txt-new2">단순 재발</div>
								</div>
								<p class="img-style2__txt txt-new1">
									피부는 기본적으로 중력의 영향을 받아
									밑으로 처지고 주름이 발생합니다.
									환자 개개인의 피부 탄력 정도를 보다 정확히 파악하고
									중력을 계산하여 충분한 효과를 줄 수 있도록 해야 합니다.
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						오랜 노하우와 기술로<br>
						거의 <span class="n-color-reoperation2">모든 케이스의 재수술이 가능</span>합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						바노바기는 2000년 개원 이후 동안 성형 전담팀을 구성하여 끊임없는 연구와 경험을 축적해왔습니다.<br class="hidden-tm">
						개개인의 얼굴 특성과 표정 근육까지 고려하는 감각, 그리고 보다 앞선 기술을 통해 더욱 효과적인 동안 성형을 추구하고 있죠.<br class="hidden-tm">
						<span class="color-black1">특히 <mark class="mark-reoperation">실이나 탄력밴드, 엔도타인 등 얼굴의 각 부위에 더욱 효과적으로 적용</mark>할 수 있는 다양한 의학 재료들을 보다 능숙히 활용하기 때문에<br class="hidden-tm">
							얼굴 거의 모든 부위에 대한 동안 재수술이 가능합니다.</span>
					</p>
					<div class="new-style1__img type-padding-m">
						<img src="../../images/reoperation/young/young_img_6.jpg" loading="lazy" alt="동안재수술 모델" class="img-normal">
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-young2 type-bottom">
						<div class="inner-box">
							<h5 class="new-content-tit tit-new2">얼굴 거의 모든 부위에 대한 재수술이 가능한 바노바기</h5>
							<div class="inner-circle type-cling type-reoperation type-bar">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											동안 성형에 필요한<br class="hidden-tm">
											비교적 다양한<br class="hidden-tm">
											의학 재료활용 가능
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											개개인의 얼굴 특성과<br class="hidden-tm">
											표정 근육까지<br class="hidden-tm">
											고려하는 감각
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											오랜 연구를 통한<br class="hidden-tm">
											보다 안정적인 기술
										</div>
									</li>
								</ul>
								<div class="img-style1">
									<ul class="img-style1__list type-mt">
										<li class="img-style1__item">
											<img src="../../images/reoperation/young/young_img_7.jpg" class="img-w100" loading="lazy" alt="동안성형 전담팀">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-young4 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						보다 안정적인 수술과 체계적인<br class="hidden-tm">
						<span class="n-color-reoperation3">후 관리가 재수술의 부담을 줄입니다</span>
					</h4>
					<p class="new-style1__txt txt-new1">
						동안 재수술은 환자분들의 부담을 줄이는 것 또한 중요합니다.<br class="hidden-tm">
						부작용의 위험은 줄여야 하며 오랜 부기로 인해 얼굴의 탄력과 수술 효과가 떨어지는 것 또한 방지해야 하죠.<br class="hidden-tm">
						또, 작은 주름 하나도 개선하고자 하는 환자분들의 얼굴에 흉터가 남아서도 안될 것입니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기는 이러한 조건에 맞는 동안 재수술을 위해<br class="hidden-tm">
						보다 안정적인 수술과 체계적인 후 관리 프로그램을 진행합니다.<br class="hidden-tm">
						보다 정교한 박리 기술로 조직이 거의 손상되지 않도록 하며,<br class="hidden-tm">
						<span class="pop-info type-reoperation">
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon type-reoperation">인포버튼</span>
								캄레이저나
								<span class="info-desc">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>캄레이저란?</span>
											<span class="info-desc__content">
												<img src="../../images/reoperation/young/young_info_1.jpg" loading="lazy" alt="캄레이저" class="info-desc__thumb">
												<span class="info-desc__txt1">
													캄레이저는 고강도 레이저의 집중적인 조사를 통해 피부 조직
													내부 깊이 열을 전달하여, 혈액순환 및 세포 조직의 재생을
													촉진시키는 레이저 기기입니다. 인체에 축적된 불필요한 체액을
													배출 및 재흡수함으로써 보다 빠르게 통증을 완화시키고 염증,
													멍, 부기 등을 비교적 효과적으로 치료합니다.
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left">태블릿 닫기</span>
											<span class="info-desc__stick type-another">태블릿 닫기</span>
											닫기
										</button>
									</span>
								</span>
							</a>
						</span>
						<span class="pop-info type-reoperation">
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon type-reoperation">인포버튼</span>
								바이오포톤
								<span class="info-desc">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>바이오포톤란?</span>
											<span class="info-desc__content">
												<img src="../../images/reoperation/young/young_info_2.jpg" loading="lazy" alt="바이오포톤" class="info-desc__thumb">
												<span class="info-desc__txt1">
													바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된
													신소재 PDP (Platinum Diamond Photon)를 사용하여 만든
													회복 관리용 전신 온열 기기입니다. PDP가 발산하는
													4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
													신체 유해 물질과 노폐물의 배출을 돕습니다.
													또한 혈액순환 개선으로 체지방을 적극적으로 분해하는
													효과가 있습니다.
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left">태블릿 닫기</span>
											<span class="info-desc__stick type-another">태블릿 닫기</span>
											닫기
										</button>
									</span>
								</span>
							</a>
						</span>
						등의 의료기기를 통해 부기나 멍 등을 적극적으로 관리하죠.<br class="hidden-tm">
						그리고 비교적 <span class="color-white">적은 절개와 수술 후 힐링 스카 프로젝트를 진행하여 흉터에 대한 걱정이 거의 없습니다.</span>
					</p>
					<div class="new-style1__img">
						<img src="../../images/reoperation/young/young_img_8.jpg" loading="lazy" alt="동안재수술 모델" class="img-normal">
					</div>
					<div class="inner-box">
						<div class="img-style7 type-margin-zero">
							<h5 class="img-style7__tit tit-new2">
								재수술의 부담을 줄이기 위한 바노바기의 노력
							</h5>
							<ul class="img-style7__list">
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/reoperation/young/young_img_9.png" class="img-w100" loading="lazy" alt="조직이 거의 손상되지 않는 정교한 수술">
									</div>
									<div class="img-style7__caption">
										<p class="img-style7__txt txt-new1">
											조직이 거의 손상되지 않는 정교한 수술
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/reoperation/young/young_img_10.png" class="img-w100" loading="lazy" alt="전문 장비를 통한 멍·부기 관리">
									</div>
									<div class="img-style7__caption">
										<p class="img-style7__txt txt-new1">
											전문 장비를 통한 멍·부기 관리
										</p>
									</div>
								</li>
								<li class="img-style7__item">
									<div class="img-style7__img">
										<img src="../../images/reoperation/young/young_img_11.png" class="img-w100" loading="lazy" alt="흉터를 보다 집중적으로 치료하는 힐링 스카 프로젝트">
									</div>
									<div class="img-style7__caption">
										<p class="img-style7__txt txt-new1">
											흉터를 보다 집중적으로 치료하는<br class="hidden-tm"> 힐링 스카 프로젝트
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
