<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-reoperation-nose">
		<div class="content-visual__box">
			<div class="content-visual__border type-reoperation-nose">
				<p class="content-visual__txt1 type-reoperation-nose">복합적 구조를 생각하는 재교정</p>
				<h3 class="content-visual__tit type-reoperation-nose">#<span class=".color-reoper-nose1">코 재수술</span></h3>
				<p class="content-visual__txt2 type-reoperation-nose">바로잡는 코 모양,개선되는<strong>부작용 </strong></p>
			</div>
		</div>
	</div>
	<!-- //상단 비주얼 -->
	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="nose-skill">
	            <div class="nose-skill__wrapper clearfix">
	                <div class="nose-skill__thumb img01">의사선생님이미지</div>
	                <div class="nose-skill__desc">
	                    <div class="content-section type-first">
	                        <h4 class="content-section__tit type-left">
	                            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                            코 재수술은<br class="hidden-pt"> 전문의의<br>
	                            <strong>경험</strong> 과 <strong>기술</strong>이 <br class="hidden-pt">
	                            중요합니다
	                        </h4>
	                    </div>
	                    <div class="nose-skill__thumb--t img01">의사선생님이미지</div>
	                    <p class="content-section__txt1">
	                        우리의 코는 그 작은 크기에도 뼈, 연골, 연부 조직 등이 복잡하게 어우러진 형태를 하고 있습니다. <br>
	                        거기에 코 성형을 한 경우라면 조직의 변화나 구조적인 변화가 더해져 더욱 복잡해지죠. <br>
	                        또, 재수술의 원인이 미용적으로 불만족스러운 경우,  코 기능에 문제가 생긴 경우, <br class="hidden-tm">
	                        부작용이 발생한 경우 등으로 다양한 만큼, 이 모든 것을 파악하고 코를 재교정하는 것은 굉장히 까다로운 일이
	                        아닐 수 없습니다.
	                    </p>
	                    <p class="content-section__txt1">
	                        <strong>따라서 코 재수술은 경험이 많고 기술과 감각이 뛰어난 전문의가 진행하는 것이 중요합니다.</strong> <br class="hidden-pt">
	                        수술에 들어갔을 때 보이는 여러 변수들을 다양한 노하우와 기술로 차근차근 풀어갈 수 있는
	                        <span class="inline-block">경험이 필요한 것입니다.</span><br>
	                        바노바기는 2000년 개원 이후 코 성형 전담팀을 운영하며, 오랜 경험을 갖춘 코 성형 전문의가
	                        코 재수술을 전담하도록 하고 있습니다.
	                    </p>
	                    <div class="nose-skill__thumb--m img01">의사선생님이미지</div>
	                </div>

	            </div>
	        </div>
	        <!-- //content-section -->
	        <div class="timing">
	            <div class="timing__wrapper bg">
					<div class="timing__img-left"><div class="timing__img-box">before</div></div>
					<div class="timing__img-right"><div class="timing__img-box">after</div></div>
	                <h4 class="timing__tit">
	                    <span class="content-highlight2 re-nose-timing">코 재수술</span>은<br class="hidden-p">
	                    <span class="color-reoper-nose2">적합한 때가 있습니다</span>
	                </h4>
	                <p class="timing__txt1">
	                    재수술을 결심한 환자분들은 하루라도 빨리 날짜를 잡아 재수술을 받고 싶어 하십니다. <br class="hidden-m">
	                    특히 코와 같은 경우에는 얼굴에서 가장 도드라져 보이는 부위이기 때문에 불만족으로 인한 스트레스가 심하고
	                    더더욱 빠른 시일 내에 바로잡길 원하시죠.
	                </p>
	                <p class="timing__txt1">
	                    하지만 코 재수술은 급하게 진행할 수 없는 수술입니다. 재수술에 적합한 때가 있기 때문이죠. <br class="hidden-m">
	                    이전에 어떤 방법으로 코 성형을 하였는지에 따라 다르지만,<br class="hidden-p"> <span class="content-highlight re-nose-timing1">일반적으로 수술 약 3~6개월 정도 후를 적절한 때로 판단합니다.</span>
	                    <br class="hidden-pm">
	                    그 정도 시간이 지나야 전반적인 조직들이 안정되고 정밀한 수술이 가능하기 때문입니다. <br class="hidden-m">
	                    또, 염증이 발생한 경우라면 우선적으로 염증의 원인을 제거한 후에 염증이 가라앉는 것을 확인하고 재수술하는 것이 바람직합니다.
	                </p>
	                <div class="timing__ideal">
	                    <p class="timing__txt2">
	                        따라서 코 재수술은 당장 급하게 <span class="inline-block">수술을 권하는 병원보다, </span><br>
	                        <span class="color-reoper-nose3">충분한 상담을 통해 불만족의 원인을 파악</span>하고,  <br>
	                        정밀하게 현재의 상태를 진단하는 병원을 선택하여 적절한 때에 재수술을 받는 것이 중요합니다.
	                    </p>
	                    <h5 class="timing__sub-tit">이상적인 코 재수술 시기</h5>
	                    <ul class="timing__list clearfix">
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    이전 <span class="inline-block">수술로부터</span> <br>
	                                    <span class="color-reoper-nose4">약 3~6개월 <br class="hidden-pt">이후</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    염증이 <span class="inline-block">있는 경우,</span><br>
	                                    <span class="color-reoper-nose4">염증의 원인<br>제거 이후</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    염증이<br>
	                                    <span class="color-reoper-nose4">가라앉은<br class="hidden-pt">이후</span>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <!-- //content-section -->


	        <!-- 탭바  -->
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">코끝</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">콧대</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">보형물</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- 탭바 컨텐츠 -->
	        <div class="content-tab__page page-tip is-active">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-end">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose01-p.jpg" loading="lazy" alt="코끝성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose01-t.jpg" loading="lazy" alt="코끝성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose01-m.jpg" loading="lazy" alt="코끝성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            시간이 지나면서<br class="hidden-pt"> 코 끝이 낮아지는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            코 끝 연골이 약하고 비주가 짧아 코 끝을 눌렀을 때 힘이 없다면, 이 위치에 놓인 연골은 시간이 지나면서 낮아지게 됩니다. <br>
	                                            <span class="color-reoper-nose5">따라서 재수술 전 상담과 진단 단계에서 코 끝의 모양과 경도를 정밀히 판단해야 하며, 비중격 자체를 연장시키거나 비주를
	                                        튼튼하게 하는 재수술을 통해 코 끝을 다시 오뚝하게 유지할 수 있습니다.</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                정밀한 진단을 통해 코 끝을 지지해주는 힘 확인
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                비중격 연장이나 비주성형을 통해 코 끝 지지
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose02-p.jpg" loading="lazy" alt="코끝성형 2번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose02-t.jpg" loading="lazy" alt="코끝성형 2번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose02-m.jpg" loading="lazy" alt="코끝성형 2번유형">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            구축에 의해 코 끝이 들리고<br class="hidden-pt"> 짧아진 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            수술 후 발생한 염증을 방치하였을 경우 드물게 발생하는 부작용입니다. <br class="hidden-t">
	                                            이를 바로잡기 위해서는 <span class="color-reoper-nose5">기존 코 내부의 문제가 되는 조직들을 충분히 제거 후, 남은 조직들을 풀어주면서
	                                        코 끝을 재교정해야 하죠.</span>이후 내려온 코 끝은 인공 보형물 혹은 자가 보형물 중 적합한 재료를 선택하여 오뚝하게 고정합니다.
	                                            이때 고정된 코 끝에 다시 들리는 힘이 발생하지 않도록 박리된 연부 조직을 충분히 늘이는 것이 매우 중요합니다.
	                                            수술이 끝난 후에는 재발 방지를 위해 금연이나 금주, 마사지 등의 적극적인 관리가 필요합니다.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                구축의 원인과 문제 조직 충분히 제거
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                박리된 연부 조직들을 충분히 연장
	                                            </p>
	                                        </li>
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                개개인에 맞는 적합한 보형물 선택 후 코 끝에 고정
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                금연, 금주, 마사지 등 적극적인 후 관리
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose03-p.jpg" loading="lazy" alt="코끝성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose03-t.jpg" loading="lazy" alt="코끝성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose03-m.jpg" loading="lazy" alt="코끝성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            코 끝의 모양이 둔한 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            코 성형 후 코 끝이 뭉뚝해 보인다면 대부분의 경우 불만족으로 이어지기 쉽습니다. <br class="hidden-tm">
	                                            이전 코 성형에서 연골을 제대로 좁혀주지 않았거나, 피하 지방에 대한 처치가 부족했거나, 코 끝에 이식된 연골의 모양이
	                                            적절치 않은 경우 등에 발생할 수 있는 상황이죠. 이 때에는 <span class="color-reoper-nose5">어떤 원인으로 인한 불만족인지 정밀히 파악 후, <br class="hidden-tm">
	                                        흉터 조직이 생긴 부위를 잘 박리하여 연골을 다시 모아주거나 코 끝의 연골을 좀 더 적절한 크기의 다이아몬드 모양으로
	                                        다듬어 이식해주는 것으로 교정할 수 있습니다.</span>

	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                코 끝의 연골 너비 재조정
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                새로운 연골을 적절한 크기의 다이아몬드 모양으로 다듬어 이식
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-bridge">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-slack">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose01-p.jpg" loading="lazy" alt="콧대성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose01-t.jpg" loading="lazy" alt="콧대성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose01-m.jpg" loading="lazy" alt="콧대성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            콧대의 높이가 너무 높거나<br class="hidden-pt"> 낮다고 느껴지는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            코 성형은 이마와 턱 선, 얼굴 각 부위들과의 상대적인 비율이 중요하며, 본인 이미지와의 조화도 생각해야 합니다. <br class="hidden-tm">
	                                            그렇게 하지 않으면 똑같은 높이의 콧대라도 상대적으로 너무 높게 느껴지거나 반대로 낮아 보일 수 있기 때문입니다. <br class="hidden-tm">
	                                            간혹 콧대 높이에 대한 불만족으로 재수술을 결심하시는 분들은 대부분이 이런 경우라고 할 수 있습니다.   <br class="hidden-tm">
	                                            따라서 이럴 때에는
	                                            <span class="color-reoper-nose7"> 얼굴의 전반적인 조화를 충분히 감안하여 뼈의 개선이나 보형물 사이즈 변경을 통해 적절한 높이로
	                                        재교정하는 것이 중요합니다.</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                얼굴 각 부위들과의 상대적인 비율을 고려한 높이 결정
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                알맞은 크기의 보형물 이식
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose02-p.jpg" loading="lazy" alt="콧대성형 2번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose02-t.jpg" loading="lazy" alt="콧대성형 2번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose02-m.jpg" loading="lazy" alt="콧대성형 2번유형">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            콧대의 폭이 너무 넓거나 좁다고<br class="hidden-pt"> 느껴지는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            콧대 폭의 선호도는 개인차가 있겠지만 기본적으로 겉눈썹의 시작점과 눈두덩이 뼈에서부터 콧등 선의 좌우폭으로
	                                            매끄럽게 내려오는 라인을 중점적으로 봐야 합니다. 또, 남성분들과 여성분들의 선호 차이 또한 이해하고 있어야 하죠.<span class="color-reoper-nose7">이러한 부분들을 기준으로 하여 적절한 크기의 보형물을 조각하고 좌우 대칭이 되도록 중심을 잡아 이식하는 것이
	                                        콧대 폭 재교정의 핵심입니다.</span> <br class="hidden-pt">또, 기존의 보형물이 위치했던 공간을 더욱 충분히 박리하여 이식하는 것이 필요한데,
	                                            이는 보형물의 폭에 비해 공간이 좁다면 보형물의 변형이 일어날 가능성이 생기기 때문입니다.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                눈썹의 시작점과 개개인의 비율에 맞추어<br class="hidden-pt"> 콧대의 폭 결정
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                좌우 대칭에 맞도록 보형물의 중심을 잡아 이식
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                보형물이 들어갈 공간의 충분한 박리로 보형물 변형 방지
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose03-p.jpg" loading="lazy" alt="콧대성형 3번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose03-t.jpg" loading="lazy" alt="콧대성형 3번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose03-m.jpg" loading="lazy" alt="콧대성형 3번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            콧대가 휘어져 보이는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            코는 얼굴의 중심에 위치하고 하나만 있는 기관이기 때문에 비대칭이나 휘어짐에 더욱 민감할 수밖에 없습니다.
	                                            이런 경우에는 단순히 콧대의 휘어짐만을 보기보다는 얼굴의 전체적인 대칭, 코 뼈의 좌우 경사 정도, 얼굴 중앙의 가상선이
	                                            휘어졌는지, 이전에 보형물이 삽입되었다면 그 보형물 형태에 이상은 없는지 등을 봐야 합니다.<span class="color-reoper-nose5">진단 과정에서 정밀하게 원인을
	                                        파악하지 못하면 재발의 가능성이 높죠.</span>
	                                            얼굴의 비대칭이나 얼굴 중앙의 가상선이 휘어진 경우라면 양악이나 윤곽 성형과 같은
	                                            방법을 생각해볼 수 있겠지만, 사실 누구나 비대칭은 존재하기 때문에 완벽히 개선할 수는 없는 것이 사실입니다. 대신 코 뼈의
	                                            경사면이 비대칭이라면 코 뼈의 바깥쪽을 절골하는 외측 절골술을 통해 대칭을 잡아줄 수 있습니다. 또한 삽입된 보형물 형태의
	                                            문제라면 이식되는 공간을 충분히 박리하고 적절한 모양의 보형물로 대체하는 비교적 쉬운 방법으로 교정이 가능합니다.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                얼굴 전체를 보고 휘어짐, 비대칭의 원인 파악
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span class="color-reoper-nose8">얼굴</span>비대칭의 경우   -   양악이나 윤곽 등 얼굴 대칭을 <span class="inline-block">맞추는 성형 필요</span>
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span class="color-reoper-nose8">코 뼈 경사면</span>비대칭의 경우   -   코 뼈의 바깥쪽을 <span class="inline-block">절골하여 휘어짐 교정</span>
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span class="color-reoper-nose8">기존 보형물의 변형이 원인</span>인 경우    - <br class="hidden-pt">새로운 보형물로 대체 후 <span class="inline-block">이식될 공간을 충분히 박리하여  재발 방지</span>
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-prosthesis">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-implant ">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose01-p.jpg" loading="lazy" alt="보형물 성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose01-t.jpg" loading="lazy" alt="보형물 성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose01-m.jpg" loading="lazy" alt="보형물 성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            삽입된 보형물이 비쳐보이는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            피부가 창백하고 얇은 편이거나 보형물의
	                                            위치를 과하게 잡았을 경우 보형물이 비쳐
	                                            보일 수 있습니다. <br class="hidden-tm"> 이런 경우에는
	                                            <span class="color-reoper-nose9">피부 두께의보충 역할을 할 수 있는 알로덤이나 측두근막을 선택하는 것으로 개선이</span>
	                                            이 가능합니다. <br class="hidden-tm">
	                                            또, 보형물의 위치 자체를 피막보다 깊은 쪽으로
	                                            옮기는 것으로 재발을 방지할 수 있습니다.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-implant clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                알로덤이나 측두근막 등을 이용하여 얇은 피부 보호
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                보형물의 위치를 피막보다 안쪽으로 이동
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose02-p.jpg" loading="lazy" alt="보형물 성형 2번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose02-t.jpg" loading="lazy" alt="보형물 성형 2번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose02-m.jpg" loading="lazy" alt="보형물 성형 2번유형">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            콧등의 보형물이 움직인다고<br class="hidden-pt"> 생각되는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            간혹 콧등에 위치한 보형물이 움직인다고
	                                            느껴져서 불안해하시는 환자분들이 계십니다.
	                                            하지만 대부분의 경우 삽입된 보형물 주변에
	                                            형성된 섬유질 피막이 미끈거리는 느낌을 주기
	                                            때문에 그렇게 생각되는 것이지, 실제로
	                                            보형물이 내부에서 돌아다닌다거나 하는 경우는
	                                            거의 없습니다. 물론 느낌만이라도 신경이
	                                            쓰이고 그로 인해 스트레스를 받으신다면,  <span class="color-reoper-nose9">보형물을 콧등의 모양과 굴곡에 맞추어
	                                        골막 하에 삽입하는 방법이나 보형물 자체를
	                                        고어텍스로 변경하는 방법 등</span>
	                                            등으로 개선이
	                                            가능합니다.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                보형물이 실제 움직이는 것인지 정밀한 확인 필요
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                보형물을 콧등의 모양과 굴곡에 정밀하게 맞추어 <br class="hidden-pt">보형물 고정
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                코어텍스로 보형물로 변경
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose03-p.jpg" loading="lazy" alt="보형물 성형 3번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose03-t.jpg" loading="lazy" alt="보형물 성형 3번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose03-m.jpg" loading="lazy" alt="보형물 성형 3번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            코 끝에 삽입된 연골이 삐뚤게 보이거나 비쳐<br class="hidden-pm"> 보이는 경우
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            코 끝 피부가 얇은 분들의 경우에는 시간이 지나면서 이식된 연골의 가장자리가 비쳐 보인다든지 위치가 변하여 <br class="hidden-tm">
	                                            삐뚤게 보이는 현상이 나타날 수 있습니다. <br class="hidden-tm">
	                                            이런 경우에는 연골과 얇아진 피부 사이로 피부 두께의 보충 역할을 할 수 있는 <span class="color-reoper-nose9">자가진피나 알로덤을 이식해주거나,<br class="hidden-tm">
	                                        기존의 연골을 제거한 후 새롭게 다른 연골과 진피조직을 올바른 위치에 고정하는 것으로 개선</span>
	                                            할 수 있습니다.
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                연골과 얇아진 피부 사이에 피부 보충 역할을 할 수 있는 자가진피 혹은 알로덤 이식
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                기존 연골 제거 후 새로운 연골 바르게 고정
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="satisfaction">
	            <p class="satisfaction__txt">
	                코 재수술의 대표적인 케이스들 몇몇을<br class="hidden-pt"> 예로 든 것이며, <br class="hidden-pm"> 실제 코 재수술의 원인과 개선 방법은 개개인의 상태에 따라 다를 수 있습니다.<br class="hidden-p">
	                <br class="hidden-pt">
	                <span class="big">바노바기는 <span class="color-reoper-nose6">체계적인 상담</span>과 <br class="hidden-pt"><span class="color-reoper-nose6">복합적인 수술</span>을 통해<br class="hidden-pt"> 더욱 만족스러운 코 재수술을 추구합니다.</span>
	            </p>
	        </div>
	    </div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
