<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-reoperation">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">미세한 변화로도 달라지는 느낌</p>
				<h3 class="content-visual__tit"># <span class="color-reoperation1">눈</span> 재수술</h3>
				<p class="content-visual__txt2"><strong>더정확하고더정밀한</strong>재교정</p>
			</div>
		</div>
	</div><!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
	          	<div class="reoperation-box1">
	            	<div class="content-section__box w-7 type-another2">
	              		<h4 class="content-section__tit type-top">
	                		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                		재수술이 <strong>필요하다면</strong><br>
	                		망설일 필요가 <br class="hidden-pt"> <strong class="color-reoperation1">없습니다.</strong>
	              		</h4>
	              		<p class="content-section__txt1">
	                		간혹 상담을 진행하다 보면, 재수술은 무조건 처음 수술보다 결과가 나쁜 게
	                		아니냐는 질문을 하시는 환자분들이 있습니다.
	                		하지만 그런 이야기들은 전혀 근거가 없으며, <br class="hidden-pm"> 막상 재수술이 꼭 필요한
	                		환자분들까지도 망설이게 하는 요인이 됩니다.
	              		</p>
	            	</div><!-- //content-section__box-->
	            	<div class="reoperation-box1__img">재수술 이미지1</div>
	          	</div><!--//reoperation-box1-->
	          	<div class="reoperation-box2">
	            	<h5 class="reoperation-box2__tit">
	              		뼈의 재교정도 가능한 요즘,<br class="hidden-pt"> 피부의 재교정인<br class="hidden-tm">
	              		눈 재수술은 <strong class="color-reoperation1">비교적 어려울 것이 없는 수술</strong>입니다.
	            	</h5>
	            	<p class="reoperation-box2__txt">
	              		정밀한 진단으로 올바른 방법을 결정하고<br class="hidden-pm"> 그 방법대로 문제없이 집도할 수 있는 기술만 있다면,
	              		재수술도 처음 하는 수술과 마찬가지로 보다 아름답고 만족스러운 결과를 추구할 수 있습니다.
	            	</p>
	            	<ul class="reoperation-box2__list">
	              		<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img04.jpg" loading="lazy" alt=""></li>
	              		<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img05.jpg" loading="lazy" alt=""></li>
	            	</ul>
	          	</div>
	          	<div class="reoperation-box3">
	            	<div class="content-section__box w-8 type-another0">
	              		<div class="reoperation-box3__wrap">
	                		<h4 class="content-section__tit type-left">
	                  			<span class="content-section__number type-another"><span class="content-section__number-wrap">02</span></span>
	                  			눈 재수술은<br>
	                  			엉켜있는 매듭을<br class="hidden-p"> <strong class="color-reoperation5">하나하나<br class="hidden-tm">
	                  			푸는 것</strong>과 <br class="hidden-pt"> 같습니다.
	                		</h4>
			                <p class="content-section__txt1">
			                  	눈 재수술의 이유는 굉장히 다양합니다. 수술 후 눈의 기능적인 문제, 눈 모양의 불만족,<br class="hidden-tm">
			                  	심하게 남은 흉터, 매듭이 풀린 경우 등이 있을 수 있고, 이런 증상들이 복합적으로<br class="hidden-tm">
			                  	나타난 경우도 있죠.
			                </p>
			                <p class="content-section__txt2 color-white">
			                  	또, 같은 증상이라도 개개인의 특징에 따라 그 정도가 모두 다를 수밖에 없습니다.<br class="hidden-tm">
			                  	그래서 눈 재수술은 무엇보다 정밀한 진단이 중요합니다.
			                </p>
	              		</div>
	              		<div class="reoperation-box3__img">재수술 이미지3</div>
	            	</div>
	          	</div><!-- //reoperation-box3 -->
	          	<div class="reoperation-box4">
	            	<p class="reoperation-box4__txt">
	              		원래 어떤 특징을 가진 눈이었는지, 이전에 어떤 수술이 진행됐고 왜 만족스럽지 못한 결과가 나왔는지,<br class="hidden-tm">
	              		지금의 눈은 어떻게 자리 잡았으며 피부의 상태는 어떠한지, <strong class="color-reoperation5">하나하나 꼼꼼히 따져보며 올바르게<br class="hidden-tm">
	              		재교정할 수 있는 실마리를 찾아야 합니다.</strong>
	            	</p>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box5">
	            	<h4 class="content-section__tit type-center">
	              		<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
	              		<strong>라인이 풀린</strong> 경우
	            	</h4>
		            <ul class="line-img">
		              	<li class="line-img__item nth-1"><img src="../../images/reoperation/line_img01.png" loading="lazy" alt=""></li>
		              	<li class="line-img__item nth-2"><img src="../../images/reoperation/line_img02.png" loading="lazy" alt=""></li>
		            </ul>
		            <p class="content-section__txt1">
		              	쌍꺼풀 수술의 초창기에는 라인이 풀리는 경우가 더러 있었습니다.
		              	하지만 최근에는 수술법의 발전으로 그 풀릴 가능성이
		              	극히 적어졌습니다. 만일 수술한지 오래되지 않았는데도
		              	쌍꺼풀이 풀렸다면 그건 시술자의 기술적 부족함 때문일 가능성이
		              	높습니다.  <span class="color-reoperation1">바노바기는 보다 진보된 매몰법으로
						더욱 견고한 매듭을 통해 라인이 풀리는 것을 예방</span>합니다.
		            </p>
	          	</div>
	          	<div class="line-way">
	            	<ul class="line-way__list">
	              		<li class="line-way__item">
	                		<h5 class="line-way__tit nth-1">체질적 라인 풀림</h5>
			                <p class="line-way__txt">
			                  	극히 일부는 체질적인 문제로 라인이 풀리는 경우도 있는데,
			                  	이때 다시 <span class="color-black">매몰법으로 진행할지, 절개법 등으로 방법을
								바꿀지에 대한 의논</span>과 결정이 필요합니다.
			                </p>
	              		</li>
	              		<li class="line-way__item">
	                		<h5 class="line-way__tit nth-2">절개법에 대한 반감이 있다면</h5>
	                		<p class="line-way__txt">
								<span class="color-black">바노바기에서 고안한 새로운 앞트임이나 기타 다른 복합적인
								수술을 통해</span> 원하는 눈매를 맞추는 것이죠. 꼭 쌍꺼풀의 유무에
	                  			매이지 않고 다양한 가능성을 검토해보는 자세도 필요합니다.
	                		</p>
	              		</li>
	            	</ul>
	          	</div>
	          	<div class="reoperation-brace">
	            	<div class="brace type-reoperation-eye">
	              		<p class="brace__txt txt-v4">
	                		눈 성형의 궁극적인 목적은 이미지에 어울리고 아름다운 눈매를 만드는 것에 있기 때문에,
	                		<strong class="color-reoperation1">꼭 쌍꺼풀의 유무에 매이지 않고 다양한 가능성을 검토해보는 자세도 필요</strong>합니다.
	              		</p>
	            	</div>

	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box6">
	            	<div class="content-section__box w-5 type-another0">
	              		<h4 class="content-section__tit type-top">
	                		<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                		쌍꺼풀의 <strong>비대칭이<br class="hidden-pt">
	                		심한</strong> 경우
	              		</h4>
			            <p class="content-section__txt1">
			                수술 후 약 6개월이 지나 부기가 빠지기 전에는 섣불리 비대칭에 대해
			                평가할 수 없습니다. 또, 부기가 빠진 후라도 <span class="content-highlight type-reoperation">약간의 비대칭이라면
							굳이 재수술을 권하지 않습니다.</span><br>
			                인체는 기본적으로 완벽히 대칭일 수가 없기에 약간의 비대칭은
			                오히려 자연스러우며, 양쪽 쌍꺼풀이 같은데도 주변 요소들의 비대칭 때문에
			                같아 보이지 않는 경우가 있기 때문입니다.
			            </p>
	              		<p class="content-section__txt2">
			                따라서 비대칭에 대한 진단은 심리적인 부분을 포함하여
			                전문의와 함께 의논하는 것이 중요합니다.<br>
			                꼭 재수술을 원하거나 심한 비대칭의 경우에는 <span class="color-reoperation1">원하는 라인 높이에
							맞추어 비교적 간단한 방법으로 재조정</span>할 수 있습니다.
	              		</p>
	            	</div>
	            	<div class="reoperation-box6__img">재수술 이미지2</div>
	          	</div>
	        </div><!-- //content-section -->
	        <div class="content-section">
	          	<div class="reoperation-box7">
	            	<div class="content-section__wrap">
	              		<div class="content-section__box type-another2 w-7">
	               	 		<h4 class="content-section__tit type-top">
	                  			<span class="content-section__number type-another"><span class="content-section__number-wrap">05</span></span>
	                  			<strong>계속 부어<br class="hidden-p"> 보이는</strong> 경우
	                		</h4>
			                <p class="content-section__txt1">
			                  	의학적인 관점에서 수술 후 약 6개월~12개월이 지나면<br class="hidden-p">
			                  	부기는 남아있지 않는 것으로 봅니다.
			                  	만약 이후에도<br class="hidden-p"> 쌍꺼풀 라인이 부자연스럽게 부어 보인다면 쌍꺼풀 라인 자체가 잘못된 경우가 많습니다.
			                  	라인을 너무 높게 잡아, 라인 아래쪽의 눈꺼풀이 부자연스럽게 남은 것이죠.
			                  	이때는 <span class="color-reoperation1">기존의 라인을 제거하고 다시 라인을 잡아주는 비교적 간단한 방법으로 교정이 가능</span>합니다.
			                </p>
	              		</div>
	            	</div>
	          	</div>
	          	<div class="reoperation-box8">
	            	<div class="reoperation-box8__wrap">
	              		<h5 class="reoperation-box8__tit">안검하수를 동반한 케이스</h5>
	              		<p class="reoperation-box8__txt">
			                일부 안검하수를 동반한 눈을 가지고 있는 환자분들도 라인 아래의 눈꺼풀이 남아 부어 보일 수 있습니다.<br class="hidden-tm">
			                쌍꺼풀 라인 아래의 눈꺼풀이 눈을 뜰 때 자연스럽게 올라가야 하는데, 눈 뜨는 힘이 부족하여 아래에 남은 채로 자리가 잡힌 것입니다.<br class="hidden-tm">
			                이전에는 이 안검하수를 절개법만으로 개선할 수 있었습니다. 그래서 절개를 원하지 않는 환자분들에게 안검하수에 대한 교정 없이 수술이 진행된 경우가 많죠.<br class="hidden-tm">
			                <span class="content-highlight type-reoperation2">하지만 바노바기 눈매교정은 절개법 뿐 아니라 비절개 눈매교정도 가능하기 때문에 더욱 안전하고 자연스러운 눈매교정이 가능합니다. </span>
	              		</p>
	            	</div>
	          	</div>
	        </div>
	    </div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
