<%
	type = "detail"
	page = "special"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>

<!-- Content -->
<div class="special detail-common">
    <section class="fs_section specialFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-special">
					선택의<span class="color-special0">다양성</span><span class="style-comma type-another">,</span><span class="detail__first-piece type-special">누군가에겐 <span class="color-special1">꼭</span><span class="color-special2">필요한성형</span></span>
				</p>
				<h3 class="detail__first-txt type-special">
					<span class="detail__first-bwrap">환자의 고민을 개선하는<b class="detail__first-bar type-special"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-special3">스페셜</span> 디테일<span class="color-special1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section specialSection01" data-section-name="specialSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-special">
	              	<h4 class="detail__section-tit">
	                	<strong>필러성형</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br>
						<strong class="color-special4">이렇게</strong> 합니다
	              	</h4>
	              	<p class="detail__section-subtit">필러 시술의 만족도를<br class="hidden-pt"> 높이는 전문성</p>
	              	<p class="detail__section-txt">
						필러, 간단한 시술 같지만 시술자가 누구냐에 따라 그 결과가 크게 좌우되는 시술입니다.
						<span class="color-special5">그래서 바노바기는 피부의 상태, 얼굴 근육의 움직임, 필러의 성질에 대한 이해를 갖춘 필러 성형 전담팀을 운영</span>하고 있습니다.
						감각과 기술력을 갖춘 시술로 더 만족스럽고 효과적인 결과를 이끌어냅니다.
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section specialSection02" data-section-name="specialSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">아테콜 공식 지정 의료기관<span class="color-special6">.</span></h5>
					<div class="popup-img">
						<div class="popup-img__box">아테콜 공식 인정 이미지</div>
						<p class="popup-img__txt">
							전 세계적으로 20년간 약 100만 케이스 이상 사용된<br class="hidden-pt"> 안전한 반영구 필러 <strong class="color-special7">아테콜</strong>
						</p>
					</div>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
			<div class="detail__section-wrap type-special">
				<div class="detail__vertical">
					<div class="detail__section-box type-special type-wide type-quotation2">
						<h4 class="detail__section-tit">
							<strong>필러성형</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-special4">믿을 수 있습니다</strong>
						</h4>
						<p class="detail__section-subtit">아테콜 공식 지정 의료기관 <br class="hidden-pt">바노바기</p>
						<p class="detail__section-txt">
							반영구 필러인 아테콜은 그 오래가는 특성상 지정 병원에서 <span class="color-special5">숙련된 전문의가 시술하는 것</span>을 원칙으로 하고 있습니다.
							바노바기는 아테콜 공식 지정 병원입니다. 또한 <span class="color-special5">정품 아테콜을 많이 시술한 병원</span>으로, 그 전문성을 인정받고 있죠.
							안전하고 오래가는 아름다움, 바노바기라서 가능합니다.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				아테콜 공식 지정 의료기관
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special">팝업버튼</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section specialSection03" data-section-name="specialSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-special">
	  				<h4 class="detail__section-tit">
	  					<strong>스페셜성형</strong><span class="color-comma">,</span><br>
	  					<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
	  					<strong class="color-special7">고민</strong>을 이해합니다
	  				</h4>
	  				<p class="detail__section-subtit">다양한 부위에 대한 개선을 추구</p>
	  				<p class="detail__section-txt">
						눈, 코, 윤곽 등 대게 미용 목적으로 알려진 성형들과 달리,
						본인만의 콤플렉스나 <span class="color-special12">선&middot;후천적인 장애 극복을 위해 성형이 필요한 경우</span>도 있을 것입니다.
						바노바기는 그런 환자분들의 고민을 놓치지 않기 위해 다양한 분야의 전문의와 그에 맞는 기술을 갖추고 있습니다.
	  				</p>
	  			</div>
				<!-- layer-doc5 -->
				<div class="layer-doc5 type-special">
				  	<ul class="layer-doc5__list">
				  		<li class="layer-doc5__item nth-1">
				  			<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">귀성형</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-2">
							<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">두상 성형</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-3">
							<div class="layer-doc5__wrap">
				  				<h5 class="layer-doc5__tit">구순구개열 2차 수술</h5>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc5 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section specialSection04" data-section-name="specialSection04">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-special type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							<strong>스페셜성형</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-special8">고난이도 수술</strong>도<br>
							잘합니다
						</h4>
	  					<p class="detail__section-subtit">의사들도 어려워하는<br class="hidden-pt"> 수술에 도전하는 이유</p>
  						<p class="detail__section-txt">
							미용 목적의 성형수술을 하는 병원은 많습니다. 하지만 성형외과의 본질에 다가서는 병원은 그리 많지 않습니다.
							바노바기의 스페셜 성형은 이러한 고민에 대한 결과로, <span class="color-special9">의사들이 어려워하는 수술, 하기 싫어하는 수술에도 끊임없이 연구하고 도전</span>합니다.
							완전하지는 않지만 조금이라도 개선되어, 환자분들 삶의 질이 나아질 수 있도록 하는 것,
							바노바기 스페셜 성형이 추구하는 의학의 철학입니다.
  						</p>
	  				</div>
    			</div>
    		</div>
			<p class="detail__bottom-txt">
				<strong>줄기세포 흉터치료</strong> (화상 흉터 치료 사례자)
			</p>
    	</div>
    </section>

	<section class="fs_section specialSection05" data-section-name="specialSection05">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">스페셜 종합검진시스템<span class="color-special6">.</span></h5>
					<div class="detail__popup-scroll">
						<div class="popup-system">
							<ul class="popup-system__list">
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">기초검진</h6>
										<p class="popup-system__txt">(신체계측/혈액검사)</p>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">혈액검사</h6>
										<p class="popup-system__txt">(수혈적합성/빈혈검사/혈액응고)</p>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">암 예방 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">중금속 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">초음파 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">스트레스 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">엑스레이</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">3D - CT 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">TMJ(턱관절 검사)</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">심전도 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">골밀도 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">소변 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">신장 기능 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">간 기능 종합 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">당뇨병 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">심혈관 질환 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">심장기능 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">근육 및 뼈 질환 검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">갑상선 기능검사</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">감염성 질환검사</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-special type-another2">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							<strong>스페셜성형</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-special10">디테일</strong>합니다
						</h4>
						<p class="detail__section-subtit">인본 중심의 진료철학,<br class="hidden-pt"> 종합 검진 시스템</p>
						<p class="detail__section-txt">
							병원의 기본은 환자의 건강을 생각하는 마음입니다.
							바노바기는 이런 인본 중심의 진료철학을 바탕으로 <span class="color-special10">스페셜 종합 검진</span>을 시행하고 있습니다.
							<span class="color-special10">기초 검진에서 피부, 뼈, 혈액, 조직, 그리고 각종 질환의 검사까지, 환자분들의 상태를 면밀히 파악</span>하여 더욱 안전한 수술이 될 수 있도록 노력합니다.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				바노바기 스페셜 종합검진 시스템
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special" data-popup-type="footer">팝업버튼</a></span>
			</div>
		</div>
    </section>
	<section class="fs_section specialSection06 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Special</span> Surgery</p>
					<h4 class="detail-doctor__tit">바노바기의 디테일한 <span class="weight-medium detail-doctor__highlight">스페셜성형전담팀</span></h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">성형외과전문의</p>
													<p class="detail-doctor__name">반재상<span class="detail-doctor__small">원장님</span></p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ 의료진을 <span class="weight-medium">클릭</span>하면 <span class="weight-medium">소개페이지로 이동</span>합니다.</p>
				</div>
			</div>
	  	</div>
  	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
