<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-design">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">보다 간편한 시술로 채워주는 볼륨감</p>
				<h3 class="content-visual__tit"><span class="color-special16">#</span> 디자인필러</h3>
				<p class="content-visual__txt2">
					<span class="content-visual__bg">전체적인조화로만드는<strong>매력적인인상</strong></span>
				</p>
			</div>
		</div>
	</div>
	<!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="content-section type-first">
	        	<div class="design-box1">
	          		<div class="design-box1__box type-txt">
			            <h4 class="content-section__tit type-top">
			              	<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			              	<strong class="content-highlight2 type-special">필러 </strong>의<br class="hidden-pt"> 숨은 <strong>장점</strong>까지<br>
			              	이끌어냅니다
			            </h4>
			            <p class="content-section__txt1">
			              	일반적으로 필러는 비교적 간편하게 필요한 부분의 볼륨감을 얻을 수 있는 시술로 알려져
			              	있습니다. 주사 시술이기 때문에 통증이나 회복에 대한 부담이 거의 없고 시술의 결과를
			              	바로 확인할 수 있다는 장점이 있죠.
			              	<span class="inline-block">또한 일정 기간이 지나면 체내에 자연스럽게 녹아 없어지는 특성이 있어, 수술적 성형에
							대한 부담을 가진 환자분들에게 좋은 대안이 되고 있습니다.</span> <br><br>
			              	<span class="content-section__exp">하지만</span> 필러의 장점은 단순히 볼륨감을 주는 것으로 끝나지 않습니다.<br class="hidden-m">
			              	필러는 연부조직을 확장시켜 주름살이나 흉터를 개선하고, 화상이나 태생적 결함에
			              	이르기까지 다양한 피부 문제에 대한 개선이 가능합니다. 또한, 많은 수분을 함유하고 있기
			              	때문에 피부 보습제의 역할을 하고, 콜라겐과 엘라스틴을 자극해 한결 맑고 탄력적인 피부를
			              	만들어주는 효과도 있습니다.<br><br>
			              	바노바기는 이러한 필러의 숨은 장점까지 파악하고 제대로 활용합니다
			            </p>
			            <div class="design-box1__img">
			              	디자인필러 이미지
			            </div>
	            		<div class="merit">
	              			<div class="merit__wrap">
	                			<h5 class="merit__tit">바노바기 <span>필러</span> 장점</h5>
				                <ul class="merit__list">
				                  	<li class="merit__item txt-v5">보다 빠른 효과</li>
				                  	<li class="merit__item txt-v5">주름 및 흉터 치료</li>
				                  	<li class="merit__item txt-v5">전반적인 이미지 변화</li>
				                  	<li class="merit__item txt-v5">불륨감</li>
				                  	<li class="merit__item txt-v5">비교적 적은 부담</li>
				                  	<li class="merit__item txt-v5">보습 &amp; 탄력 개선</li>
				                </ul>
	              			</div>
	            		</div>
	          		</div>
	          		<div class="design-box1__box type-img">
	            		<img src="../../images/special/special_design_img02.png" loading="lazy" alt="보다 빠른효과 - 비교적 적은 부담 - 볼륨감">
	          		</div>
	        	</div><!-- //design-box1-->
	        	<div class="design-box2">
	          		<div class="design-box2__img">
	            		디자인필러 이미지
	          		</div>
	          		<div class="design-box2__box">

			            <h4 class="content-section__tit type-top">
			              	<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
			              	<strong>디자인 필러,</strong><br>
			              	전반적인 <span class="content-highlight">이미지 개선</span>을
			              	<span class="inline-block">추구합니다</span>
			            </h4>
			            <p class="content-section__txt1">
			              	바노바기는 얼굴의 전체적인 이미지 개선이 가능한 디자인 필러를 제안합니다. <br><br>
			              	우리의 얼굴은 약간의 변화에도 인상이 크게 바뀌곤 합니다. 한 부위의 변화로
			              	인해  얼굴의 전체적인 조화가 바뀌기 때문이죠. 그래서 얼굴 성형은 전체적인
			              	조화를 맞추면서 진행됐을 때 가장 아름답고 만족스러울 수 있습니다.
			              	그런 관점에서 봤을 때, 필러는 어느 한 부위에 한정 지어 적용하기 보다
			              	얼굴 전체의 조화에 맞추어 필요한 부위들에 시술하는 것이 효과적입니다.
			              	결과를 직접 확인하며 한 번에 여러 부위를 시술할 수 있는 필러 시술의 장점을
			              	살리는 것이죠.
			              	특히 얼굴의 옆 선, 즉, 이마에서 턱 끝까지를 뜻하는 프로화일은 미세한 높낮이
			              	의 변화만으로도 효과적으로 개선될 수 있기 때문에,
			              	바노바기 디자인 필러를 통해 보다 매력적인 실루엣을 만드는 것이 가능합니다.
			            </p>
	          		</div>
	        	</div>
		        <div class="design-box3">
		          	<div class="design-box3__wrap">
		            	<p class="design-box3__txt">얼굴의 전체적 조화를 맞춘 필러<br class="hidden-pt"> 시술을 통한 <span class="inline-block">전반적인 이미지 개선</span></p>
		          	</div>
		        </div><!-- //design-box3 -->
	        	<div class="design-box4">
	          		<div class="content-section">
			            <h4 class="content-section__tit type-center">
			              	<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
			              	필러를 다루는 <strong class="content-highlight2 type-special">기술</strong>과<br class="hidden-p"> <strong>노하우</strong>로<br class="hidden-tm">
			              	<span class="content-highlight4">만족도</span>를 <span class="inline-block">높입니다</span>
			            </h4>
			            <div class="design-box4__box">
			              	<div class="design-box4__wrap">
			                	<div class="design-box4__img">디자인필러 - 이미지</div>
				                <div class="design-vertical">
				                  	<p class="design-vertical__tit"><span>#</span>FILLER</p>
				                  	<p class="design-vertical__txt">같은 양이라도 필요에 따라 <span>다르게 활용할 수 있는 필러</span></p>
				                </div>
			              	</div>
			              	<p class="design-box4__tit txt-v5">필러는 시술자의 역량에 따라 그 결과가 천차만별입니다.</p>
			              	<p class="design-box4__txt txt-v5">
			                	같은 양의 필러를 같은 부위에 사용하더라도, 어떻게 사용하느냐에 따라 겉에서 보이는
			                	느낌은 전혀 달라지기 때문입니다. 필러를 얇고 넓게 주입하면 부드러운 느낌이 강조되고,
			                	퍼지지 않게 층을 이루도록 주입하면 입체감이 살아나는 식이죠. 그래서 필러 시술은 필러
			                	의 성질에 대한 이해와 기술을 가진 전문의에게 받는 것이 중요합니다.
			              	</p>
			            </div>
		          	</div>
	        	</div><!-- //design-box4-->
	        	<div class="design-box5">
	          		<div class="design-box5__border">
	            		<h5 class="design-box5__tit tit-v2">
	              			<span class="design-box5__point">바노바기는 1:1 맞춤 상담</span>과 오랜 필러<br class="hidden-pt"> 시술 노하우를 통해<br class="hidden-pm"> <span class="design-box5__point">개개인에 맞는<br class="hidden-pt"> 매력적인 페이스 라인</span>을 디자인합니다.
	            		</h5>
			            <p class="design-box5__txt txt-v5">
			              	개개인의 얼굴 특징을 심도 있게 파악하고 감각적인 시술로 필요한 부분을 개선하죠.<br class="hidden-m">
			              	또한 얼굴의 여러 부위들과 피부 각 층에 대한 이해를 기반으로 필러의 장점들을 많이 활용하기 때문에
			              	더욱 밝고 또렷한 인상으로의 이미지 개선이 가능합니다.
			            </p>
	          		</div>
	        	</div><!-- //design-box5-->
	        	<div class="design-box6">
	          		<div class="content-section">
	            		<div class="design-box6__wrap">
			              	<h4 class="content-section__tit type-left">
			                	<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
			                	<strong class="content-highlight">비교적 간편한 시술</strong>이라고<br>
			                	<strong>주의</strong>를 소홀히 해선 <span class="inline-block">안됩니다.</span>
			              	</h4>
	              			<p class="content-section__txt1">
				                필러는 비교적 간편한 시술이고 안전하다고 알려져 있습니다.
				                하지만 사람의 인체에 주입되는 만큼, 안전에 대한 주의는 항상 부족함이 없도록 해야 합니다. 실제로 필러 시술 후 알레르기 반응이나 피부 괴사 등의
				                부작용이 드물게 발생하는 경우가 있습니다.  물론 정말 드문 상황이긴 하지만 그 만일의 경우도 대비하는 것이 의료기관의 기본이겠죠.<br><br>
	                			<span class="content-section__rel">
									<span class="content-section__exp">바노바기는</span> 사전에 알레르기 반응에 대한 검사를 정밀히 실행하며, 피부 괴사 발생 시 신속한 대처를 위한

									<span class="content-section__info pop-info">
								  		<a href="" class="info-btn js-info">
											<span class="info-btn__icon type-design">인포버튼</span>
											고압산소치료기
											<span class="info-desc type-design">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>고압 산소 치료기</strong>란?<br class="hidden-tm"></span>
														<span class="info-desc__content">
															<img src="../../images/special/special_design_layer1-m.png" loading="lazy" alt="고압산소 치료기 이미지" class="info-desc__thumb">
															<span class="info-desc__txt1">
				                                                고압 산소 치료기는 산소의 기압과 농도를 높여
				                                                체내의 용해형 산소를 증가시켜주는 원리의
				                                                의료 기기입니다. 용해형 산소는 분자의 크기가 작아
				                                                모세혈관 끝까지 전달되기 때문에, 더욱 뛰어난 세포
				                                                재생 촉진과 노폐물 배출 효과를 기대할 수 있습니다.
				                                                따라서 손상된 조직에 대한 신속한 대처가 가능하고 신진대사 증진과 체력 회복 등 신체 컨디션 조절에
				                                                효과적입니다.
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left"></span>
														<span class="info-desc__stick type-another"></span>
														닫기
													</button>
												</span>
											</span>
										</a>
									</span>
									와 등의 각종 장비들을 갖추고 있습니다.
									또한 FDA 승인을 거친 인체에 무해한 정품 필러만을 사용하고 풍부한 경험을 가진 전문 의료진이 시술하기 때문에 그 시술 효과와 안전성을 자신합니다.
								</span>
	              			</p>
	            		</div>
	            		<div class="design-box6__img">디자인필러 이미지</div>
			            <div class="design-box6__wrap type-another">
			              	<ul class="design-box6__list">
				                <li class="design-box6__item nth-1">
				                  	<div class="design-box6__border">
				                    	<div class="design-box6__box">
				                      		<p class="design-box6__txt">알레르기 <span class="inline-block">반응 검사</span></p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="design-box6__item nth-2">
				                  	<div class="design-box6__border">
				                    	<div class="design-box6__box">
				                      		<p class="design-box6__txt">정품 필러 사용</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="design-box6__item nth-3">
				                  	<div class="design-box6__border">
				                    	<div class="design-box6__box">
				                      		<p class="design-box6__txt">응급 대처 시설</p>
				                    	</div>
				                  	</div>
				                </li>
			              	</ul>
			            </div>
	          		</div>
	        	</div><!-- //design-box6-->
	      	</div>

			<!-- 시술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">시술정보</h4>
							<!-- <p class="operation-v2__subtit">보다 빠른효과로 자연스럽게 볼륨감을 줍니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">시술시간</h5>
										<p class="operation-v2__txt txt-new1">약 10분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									주사기 사용으로 <span class="color-black1">따끔한 통증</span>이 있습니다.<br>
									주입되는 필러의 양에 따라 팽창감과 통증이 있을 수 있습니다.<br>
									주입된 필러의 형태를 잡는 과정에서 얼얼한 정도의 통증이 생길 수 있으며 시간이 지나면서 점차 완화됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
