<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-special">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">반영구 필러의 매력</p>
				<h3 class="content-visual__tit"># 반영구 필러 <span class="color-special16">아테콜</span></h3>
				<p class="content-visual__txt2">아테콜공식지정<strong> 의료기관</strong></p>
			</div>
		</div>
	</div>
	<!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="artecoll-box1">
	        	<div class="content-section type-first">
	          		<div class="content-section__wrap type-special1">
	            		<div class="content-section__box w-6 type-another2">
			              	<h4 class="content-section__tit type-top">
			                	<span class="content-section__number type-another"><span class="content-section__number-wrap">01</span></span>
			                	반영구필러,<br>
			                	<strong class="content-highlight2 type-special">아테콜 </strong>이 <strong>정답</strong>입니다
			             	</h4>
	              			<p class="content-section__txt1 type-info">
				                반영구 필러는 말 그대로 오래 가는 필러입니다. 일반 필러와 마찬가지로 간편한 시술이면서
				                유지기간은 훨씬 길죠.  그래서 수술에 대한 부담이 있거나,  일반 필러를 반복적으로  시술
				                받아본 분들에게 이상적인 대안이 되고 있습니다. 반영구 필러도 꽤 여러 제품이 출시됩니다.
				                <strong>아테콜은 그 중에서 가장 오랜 역사를 가진 대표적인 제품입니다.</strong> 1994년 처음 출시된 이래
				                지금까지 연구를 거듭하며 더욱 안전하고 효과적인 필러로 자리잡았습니다. (*정식 명칭은
				                아테콜이며, 국내 브랜드 네임으로는 아테센스라고 부르기도 합니다. ) <strong>아테콜이 특히 뛰어난 이유는
				                안전성</strong>입니다. 녹지 않으니까 인체 내에서 거부반응을 일으키거나 문제가 되지 않을까 우려하
				                는 분들도 계시지만 지금까지 8년 동안 시술 해 보니 오히려 일반필러보다 만족도가 더  높습니
				                다. 아테콜은 피부 속에서 자생 콜라겐을 반영구적으로 생성시키는
	                			<span class="content-section__info pop-info">
									<a href="" class="info-btn js-info">
										<span class="info-btn__icon type-special">인포버튼</span>
										PMMA
										<span class="info-desc type-special">
											<span class="info-desc__item">
												<span class="info-desc__box">
													<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>PMMA</strong>란?<br class="hidden-tm"></span>
													<span class="info-desc__content">
														<span class="info-desc__txt1">
			                                              미세한 입자들로 이루어진 PMMA는 60년 이상의
			                                              임상 실험과 지속적인 업그레이드를 거친 안전한
			                                              성분으로서, 피부 속에서 주변 조직을 자극하여
			                                              자생 콜라겐을 반영구적으로 생성시킵니다.
														 </span>
													</span>
												</span>
												<button class="info-desc__btn js-close">
													<span class="info-desc__stick type-left"></span>
													<span class="info-desc__stick type-another"></span>
													닫기
												</button>
											</span>
										</span>
	                          		</a>
	              				</span>를 주성분으로 하는데, 부작용이 거의 없습니다.
	                			<strong class="content-highlight type-special">오랜 임상을 거친 안전한 콜라겐,  그것이 바로 바노바기가  아테콜을 선택한 이유입니다.</strong>
	              			</p>
	            		</div>
			            <div class="content-section__box w-5">
			              	<div class="content-section__img type-special1">
			                	<img src="../../images/special/special_artecoll_img02.png" loading="lazy" alt="" class="">
			              	</div>
			            </div>
	          		</div><!-- //content-section__wrap-->
	          		<div class="content-section__wrap">
	            		<div class="content-section__box w-9">
	              			<div class="pmma">
	                			<h5 class="pmma__tit"><span class="color-special13">*아테콜</span>의 구성 성분</h5>
	                			<ul class="pmma__list">
	                  				<li class="pmma__item nth-1">
	                    				<p class="pmma__txt">1세대</p>
	                  				</li>
	                  				<li class="pmma__item nth-2">
	                    				<p class="pmma__txt">2세대</p>
	                  				</li>
	                  				<li class="pmma__item nth-3">
	                    				<p class="pmma__txt">3세대</p>
	                  				</li>
	                  				<li class="pmma__item nth-4">
	                    				<p class="pmma__txt">4세대</p>
	                  				</li>
	                			</ul>
	              			</div><!-- //pmma-->
	            		</div>
	            		<div class="content-section__box w-3">
	              			<div class="pmma-info">
	                			<h6 class="pmma-info__tit">4세대 PMMA의 특징</h6>
	                			<ul class="pmma-info__list">
	                  				<li class="pmma-info__item txt-v2">32~40 나노미터로 균일한 입자의 크기</li>
	                  				<li class="pmma-info__item txt-v2">매끄럽고 둥근 모양의 완벽한 구</li>
	                  				<li class="pmma-info__item txt-v2">정전기 현상이  생기지 않는 순수한 구조</li>
	                  				<li class="pmma-info__item txt-v2">생체에 분해되지 않는 비활성의 성질</li>
	                			</ul>
	              			</div>
	            		</div>
	          		</div>
	          		<div class="pmma-noti">
	            		<p class="pmma-noti__txt">
	              			<strong>PMMA</strong>는 분해되거나 다른 부위로 퍼지지 않아
	              			체내 안정성이 높으며 <strong>입자크기가 고를수록,
	              			불순물이 적을수록,<br class="hidden-tm">정전기가 발생하지
	              			않을수록</strong> 최상급 으로 분류됩니다.
	            		</p>
	          		</div>
	        	</div>
	      	</div>
	      	<!-- //content-section -->
	      	<div class="artecoll-box2">
	        	<div class="content-section">
	          		<div class="content-section__wrap type-special1">
	            		<div class="content-section__box w-6">
	              			<div class="content-section__img type-special2 hidden-tm">
	                			<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
	              			</div>
	            		</div>
	            		<div class="content-section__box w-5 type-another2 type-bottom">
	              			<h4 class="content-section__tit type-top">
				                <span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
				                아테콜의 <strong class="content-highlight2 type-special">안전함</strong> ,<br >
				                바노바기의 뛰어남<br>
				                숫자로 <strong class="content-highlight3 type-special">증명</strong>합니다
	              			</h4>

				            <div class="content-section__img hidden-p">
				                <img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
				            </div>
	              			<p class="content-section__txt1">
				                <span class="brackets__wrap"><span class="content-section__point type-special">20년</span> 임상 <span class="content-section__point type-special">40개국</span> 승인</span><br>
				                아테콜이 처음 런칭한 것은 1994년. 그로부터 20년이 지나는 동안 연구를 거듭하며
				                더욱 좋은 성분으로 더 안전한 필러로 자리잡았습니다. 아테콜은 국내 유일 임상
				                20년의 필러입니다. 아테콜의 안전성을 승인한 국가는 전 세계 40개국입니다.
				                유럽의 CE 인증을 비롯하여 캐나다, 중국, 멕시코, 그리고 한국 KFDA에서도 아테콜의
				                안전성을 인정했습니다.
	              			</p>
	            		</div>
	          		</div><!-- //content-section__wrap-->
	          		<div class="content-section__wrap">
	            		<div class="content-section__box w-11">
	              			<div class="content-section__img type-special3">
	                			<img src="../../images/special/special_artecoll_img04.jpg" loading="lazy" alt="">
	              			</div>
	              			<p class="content-section__txt1 type-another">
	                 			<span class="brackets__wrap"><span class="content-section__point type-special">수만</span> 명의 경험</span> 20년 임상의 필러, 아테콜을 경험한 분은 전 세계적으로 100만 명이 넘습니다. 개인에 따라 만족도의 차이는 있겠지만 안전함에 대한 신뢰를 쌓기엔 충분합니다.<br>
	                			<span class="brackets__wrap type-another"><span class="content-section__point type-special">10년 이상</span> 경력의 의사,<br class="hidden-pt"> 국내 단 <span class="content-section__point type-special">11개 의료기관</span>에서만 시술 가능</span>
	                			아테콜이 안전하다는 것은 사실 숙련된 의사가 시술을 할 때라는 전제가 따라야 합니다. 아테콜 제조사인 네덜란드 EMCM에서는 개발 과정부터 검사 과정이 엄격하기로 유명합니다. 또한 시술자의 경험과 기술에 대해서도 철저히 검증을 한 후 공급합니다. 정품 아테콜을 시술하기 위해서는 <strong><span class="content-highlight type-special">10년 이상</span>
	                			의  필러 시술 경력</strong>이 있어야 하고, <strong class="content-highlight type-special">국내에서는 단 11개 의료기관 만이 정품 아테콜을 사용하는 지정 의료기관입니다.</strong>
	              			</p>
	            		</div>
	          		</div>
		          	<div class="content-section__wrap">
		            	<div class="content-section__box w-5">
		              		<div class="content-section__img type-special4">
		                		<img src="../../images/special/special_artecoll_img05.jpg" loading="lazy" alt="">
		              		</div>
		            	</div>
		            	<div class="content-section__box w-6 type-another3">
		              		<!-- <div class="quotation2 type-special">
		                		<p class="quotation2__txt tit-v3">국내 최초  <strong class="color-special14">20,000</strong> 실린지 시술</p>
		              		</div> -->
			              	<p class="content-section__txt1 temp-artecoll">
			                	바노바기에서 아테콜을 도입한 지 <strong>8년 정도</strong> 되었습니다.
				                시술을 할수록 아테콜이 정말 좋은 필러라는 확신이 들었고, 한번 시술을 해본 환자분들도 다시
				                아테콜을 찾는 경우가 많아졌습니다. 그러다 보니 <strong class="content-highlight type-special">바노바기가 국내에서는 아테콜을 가장 많이
				                시술을 한 의료기관으로 기록</strong> 되었습니다
			              	</p>
		            	</div>
		          	</div>
		          	<div class="content-section__wrap hidden-m type-short">
			            <div class="content-section__box w-12">
			              	<div class="content-section__img type-special5">
			                	<img src="../../images/special/special_artecoll_img06.jpg" loading="lazy" alt="" class="hidden-tm">
			                	<img src="../../images/special/special_artecoll_img06_t.jpg" loading="lazy" alt="" class="hidden-pm">
			              	</div>
			            </div>
		          	</div>
	          		<div class="content-section__wrap">
	            		<div class="content-section__box w-5 type-another3">
	              			<div class="quotation2">
	                  			<p class="quotation2__txt tit-v3"><strong class="color-special14">오랫동안 유지</strong>되는 아름다움</p>
	                		</div>
	            		</div>
			            <div class="content-section__box w-6 type-another2">
			              	<p class="content-section__txt1 type-0">
			                	<strong>아테콜</strong>은 비교적 <strong>간단한 주사 시술</strong>이기 때문에 연고 마취 정도만 하고도 가능합니다. <br class="hidden-pm">
			                  	주입하는 시간은 <strong class="color-special14">약 10분 내외</strong>로 짧지만 <strong class="content-highlight type-special">유지기간은 약 10년</strong> 입니다.
			              	</p>
			            </div>
			            <div class="age">
			             	<ul class="age__list">
			                  	<li class="age__item nth-1">
			                    	<p class="age__txt">약 3개월</p>
			                  	</li>
			                  	<li class="age__item nth-2">
			                    	<p class="age__txt">약 1년</p>
			                  	</li>
			                  	<li class="age__item nth-3">
			                    	<p class="age__txt">약 10년</p>
			                  	</li>
			                </ul>
			            </div>
	         		</div>
	        	</div>
	        	<!-- //content-section -->
	      	</div>
	      	<div class="artecoll-box3">
	        	<div class="content-section">
		          	<div class="content-section__wrap type-special1">
			            <div class="content-section__box w-7">
				            <div class="content-section__img type-special6 hidden-tm">
				                <img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="">
				            </div>
			            </div>
		            	<div class="content-section__box w-4 type-bottom">
		              		<h4 class="content-section__tit type-top">
				                <span class="content-section__number type-0"><span class="content-section__number-wrap">03</span></span>
				                감각적인 시술로<br>
				                <strong class="content-highlight2 type-special">자연스럽게</strong><br>
				                <strong>보정</strong>합니다
		              		</h4>
		            	</div>
			            <div class="content-section__img type-special6 hidden-p">
			              	<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="">
			            </div>
		          	</div><!-- //content-section__wrap-->
			        <div class="artecoll">
			            <h5 class="artecoll__tit tit-v3">아테콜을 효과적으로 시술하는 <span class="color-special15">두 가지 방법</span></h5>
			            <ul class="artecoll__list">
			              	<li class="artecoll__item">
			                	<h6 class="artecoll__subject nth-1">얼굴 전체를 젊게 만드는 방법</h6>
			                	<p class="artecoll__txt txt-v3">
			                  		아테 콜은 호주 청정지역의 의료용 송아지 콜라겐을 주 성분으로 합니다. 체내 안전성이 뛰어나고 오래 보존되는 이 콜라겐 덕분에 아테콜 시술 후에는 오래도록 콜라겐 리모델링
			                  		효과를 누릴 수 있습니다. 주름지고 노화한 부위를 중심으로, 얼굴 전체의 조화를 고려하면서 시술하면 전반적인 이미지 개선과 함께 얼굴 전체가 젊어지는 느낌이 듭니다.
			                	</p>
			              	</li>
			              	<li class="artecoll__item">
			                	<h6 class="artecoll__subject nth-2">보형물을 대신하여 윤곽을 교정하는 방법</h6>
			                	<p class="artecoll__txt txt-v3">
			                  		아테콜은 이마나 콧대, 턱끝 등을 교정할 때 보형물을 대신할 수 있는 훌륭한 대체제입니다. 보형물을 삽입하는 수술이 부담스럽거나 일반 필러나 지방이식보다 오래 유지되는
			                  		효과를  원한다면 아테콜을 권해드립니다.
			                	</p>
			              	</li>
			            </ul>
			        </div>
	        	</div><!-- //content-section -->
	    	</div>
	      	<div class="artecoll-box4">
	        	<div class="content-section">
	          		<div class="content-section__wrap type-special1">
	            		<div class="content-section__box w-12 type-another2">
	              			<h4 class="content-section__tit type-left">
	                  			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                  			약 10분의 시술로 아름다움을 <br class="hidden-pt"><strong class="content-highlight2 type-special">오랫동안</strong><br class="hidden-p">
	                  			<strong>유지</strong>합니다
	                		</h4>
	                		<p class="content-section__txt1 type-another">
	                  			<span class="content-section__point">시술 후에는 <span class="color-special14">정품 인증서</span>를 발급해드립니다</span><br>
	                  			아테콜 정품 지정 의료기관 바노바기에서는 시술 전, 환자분들께 정품 확인을 해드리고, 시술 후에는 정품 인증서를 드립니다.
	                		</p>
	            		</div>
	          		</div>
	        	</div><!-- //content-section -->
	      	</div>

			<!-- 시술정보 -->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">시술정보</h4>
							<!-- <p class="operation-v2__subtit">아테콜 약 10분의 시술로 약 10년의 아름다움을 유지할 수 있습니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">시술시간</h5>
										<p class="operation-v2__txt txt-new1">약 10분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">국소마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									주사기 사용으로 <span class="color-special14">따끔한 통증</span>이 있습니다.<br>
									주입되는 필러의 양에 따라 팽창감과 통증이 있을 수 있습니다.<br>
									주입된 필러의 형태를 잡는 과정에서 얼얼한 정도의 통증이 생길 수 있으며 시간이 지나면서 점차 완화됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
