@charset "UTF-8";
// @import "variables";
@import "mixins";
.pagination{margin-top:50px;
	&.is-hide{display:none;}
	$this:&;
	&__list{margin:0; padding:0; font-size:0; text-align:center;}
	&__item{overflow:hidden; display:inline-block;
		& + &{margin-left:2px;}
	}
	&__link{display:inline-block; width:30px; height:30px; padding-top:4px; font-size:12px; color:$black3; text-decoration:none; text-align:center; vertical-align:middle;
		border:1px solid #fff; box-sizing:border-box;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__item-first,&__item-prev,&__item-next,&__item-last{
		#{$this}__link{text-indent:-9999px; border-color:#eee;}
	}
	&__item-first{
		#{$this}__link{background:url('../images/common/paging_first.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_first_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-prev{
		#{$this}__link{background:url('../images/common/paging_prev.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_prev_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-last{
		#{$this}__link{background:url('../images/common/paging_last.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_last_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-next{
		#{$this}__link{background:url('../images/common/paging_next.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_next_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-num{
		#{$this}__link{
			&:hover{border-color:#eee;}
		}
		&.is-active{
			#{$this}__link{border-color:$color-point; background-color:$color-point; color:#fff}
		}
	}
	&.type-step{text-align: center;
		#{$this}__page{width:100px; height:30px; line-height: 30px;font-size:12px;color:#777575; vertical-align:top;
	        p{display:inline; padding:0px 7px; margin: 0; }
	    }
	}
	@media only screen and (max-width: $tablet-size) {margin-top:30px;}
	@media only screen and (max-width: $mobile-size) {
		&__link{font-size:1.2rem;}
	}
}
.tab-v1{margin-top:140px;
	$this:&;
	&__list{margin:0; padding:0;}
	&__item{display:table-cell; width:1%; list-style:none; text-align:center; vertical-align:middle; border:1px solid #e1e1e1; border-bottom-color:#969696; border-left:none; border-right:none;
		&.is-active{border-bottom:none; border-color:#969696; border-left:1px solid #969696; border-right:1px solid #969696;
			#{$this}__link{color:$black1;}
			& + #{$this}__item{border-left:none;}
		}
		&:first-child{border-left:1px solid #e1e1e1;
			&.is-active{border-color:#969696;}
		}
		&:last-child{border-right:1px solid #e1e1e1;
			&.is-active{border-color:#969696;}
		}
		& + &{border-left:1px solid #e1e1e1;
			&.is-active{border-left-color:#969696;}
		}
	}
	&__link{display:inline-block; width:100%; height:60px; font-size:22px; color:$black3; font-weight:$regular; text-decoration:none; vertical-align:middle;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $tablet-size){margin-top:110px;}
	@media only screen and (max-width: $mobile-size){margin-top:50px;
		&__link{height:30px; font-size:1.2rem;}
	}
}
.tab-v2{text-align:center;
	&__content{display:none; padding-top:76px; box-sizing:border-box;
		&.is-active{display:block;}
		&.type-membership{padding:120px 10px 110px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
	}
	&__list{width:100%; margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:table-cell; width:1%; height:60px; vertical-align:middle; border:1px solid #dcdcdc; color:#333; font-size:20px; text-transform:uppercase;
		&.is-active{border-color:#555555; background-color:#555555; color:#fff;}
	}
	&__link{display:block; width:100%; height:100%; line-height:60px; color:inherit; text-decoration:none;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width:$tablet-size){margin-top:0;}
	@media only screen and (max-width:$mobile-size){
		&__content{padding-top:36px;
			&.type-membership{padding:50px 30px 60px;}
		}
		&__item{height:35px; font-size:1.2rem;}
		&__link{line-height:35px;}
	}
}
.tab-v3{
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; list-style:none; color:#555; box-sizing:border-box; border-bottom:4px solid #fff;
		&.is-active{border-bottom-color:#555;}
	}
	&__link{display:table-cell; width:1%; height:60px; font-size:20px; text-decoration:none; text-align:center; color:inherit; vertical-align:middle;}
	@media only screen and (max-width:$mobile-size){
		&__item{border-bottom-width:2px;}
		&__link{height:46px; font-size:1.3rem;}
	}
}
.tab-v4{margin:0; padding:0;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:50%; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__link{border-color:#333; background-color:#333333; color:#fff;}
		}
		& + &{margin-left:-1px;}
	}
	&__link{display:table-cell; width:1%; height:36px; color:$black2; font-size:16px; border:1px solid #d7d7d7; text-decoration:none; vertical-align:middle; text-align:center;}
	&__content{display:none; overflow:auto; height:570px; margin-top:52px; padding:0 5px 20px 5px ; box-sizing:border-box;
		&.is-active{display:block;}
	}
	@media only screen and (max-height:$minH-size) {
		&__content{height:300px;}
	}
	@media only screen and (max-width: $tablet-size) {position:fixed; left:0; right:0; padding:50px 20% 0 20%; width:100%; background-color:#fff; box-sizing:border-box; z-index:100;
		&__content{height:auto; margin-top:0; padding-top:126px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {padding:30px 40px 0 40px;
		& + #{$this}__content{padding-top:80px;}
		&__link{height:30px; font-size:1.2rem;}
		&__content{padding-top:30px;
			& + &{padding-top:80px;}
		}
	}
}
.tab-v5{margin:0; padding:0;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:25%; list-style:none; border:1px solid #d7d7d7; box-sizing:border-box; text-align:center;
		&.is-active{background-color:#333333; border-color:#333333 !important;
			#{$this}__link{color:#fff;}
			& + #{$this}__item{border-left:1px solid #d7d7d7;}
		}
		& + &{border-left:none;}
	}
	&__link{display:table-cell; width:1%; height:34px; vertical-align:middle; font-size:16px; color:$black2; text-decoration:none;}
	&__content{display:none; padding-top:50px;
		&.is-active{display:block;}
	}
	@media only screen and (max-width:$tablet-size){
		&__item{width:50%;
			& + & + &{border-top:none;}
			&:nth-child(3){border-left:1px solid #d7d7d7;
				&.is-acitve{border-color:red;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__link{font-size:1.3rem;}
		&__content{padding-top:30px;}
	}
}

/*tab*/
.new-tab{margin-top:120px; background-color:#fff;
	@extend %box;
	$this:&;
	&.type-special{
		#{$this}__item.is-active{background-color:$special2; border-color:$special2;}
	}
	&.type-nose{
		#{$this}__item.is-active{background-color:$nose2; border-color:$nose2;}
	}
	&.type-reoperation{
		#{$this}__item.is-active{background-color:$reoperation2; border-color:$reoperation2;}
	}
	&.type-eye{
		#{$this}__item.is-active{background-color:$eye2; border-color:$eye2;}
	}
	&.type-body{
		#{$this}__item.is-active{background-color:$body2; border-color:$body2;}
	}
	&.type-contour{
		#{$this}__item.is-active{background-color:$contour2; border-color:$contour2;}
	}
	&.type-chest{
		#{$this}__item.is-active{background-color:$chest2; border-color:$chest2;}
	}
	&.type-wrinkle{
		#{$this}__item.is-active{background-color:$wrinkle2; border-color:$wrinkle2;}
	}
	&__line{overflow:hidden; width:100%; height:0; font-size:0; text-indent:-9999px;}
	&__list{display:table; width:100%; margin:0; padding:0; text-align:center; font-size:0;}
	&__item{display:table-cell; height:50px; text-align:center; font-size:15px; color:#aaa; border-top:1px solid #ddd; border-bottom:1px solid #ddd; list-style:none; vertical-align:middle;
		&:first-child{border-left:1px solid #ddd;
			&.is-active{
				& + #{$this}__item{
					#{$this}__wrap:before{display:none;}
				}
			}
		}
		&:last-child{border-right:1px solid #ddd;}
		& + &{
			#{$this}__wrap{
				&:before{position:absolute; top:0; left:0; bottom:0; display:block; width:0; height:20px; margin:auto 0; border-left:1px solid #ddd; content:'';}
			}
			&.is-active{
				#{$this}__wrap:before{display:none;}
				& + #{$this}__item{
					#{$this}__wrap:before{display:none;}
				}
			}
		}
		&.is-active{color:#fff;}
	}
	&__link,&__btn{display:table-cell; max-width:1280px; width:1280px; width:100vw; height:inherit; vertical-align:middle; text-decoration:none; color:inherit; font-weight:$medium; }
	&__wrap{position:relative; height:inherit;}
	&__tit{display:none;}
	&.is-fixed{position:fixed; top:0; left:0; right:0; max-width:1280px; width:100%; z-index:45; margin-top:50px; margin-left:auto !important; margin-right:auto !important;}
	@media only screen and (max-width: $tablet-size) {
		&.is-fixed{ width:auto; margin-top:60px; margin-right:0; margin-left:0;
			#{$this}__tit{position:absolute;  top:0; left:0; width:100%; display:block; text-align:center; z-index:20; background:#fff;
				&:after{display:block; position:absolute; top:0; bottom:0; right:80px; width:25px; height:25px; margin:auto 0; @include background('../images/content/arrow-down-s-line.svg','no-repeat center center / contain');
					transition: transform 0.3s; content:'';}
				&.is-active{
					&:after{transform: rotate(180deg);}
				}
			}
			#{$this}__list{position:absolute; background:#fff;  transition: top 0.8s; z-index:10;
				// &.is-hide{ top:-150px;}
			}
		}
		&__list,&__item{display:block;}
		&__item{border-bottom:none;
			&:first-child{border-left:none;}
			&:last-child{border-bottom:1px solid #ddd; border-right:none;}
			&.is-active{
				& + #{$this}__item{border-top:none;}
			}
		}
		&__wrap{
			&:before{display:none !important;}
		}
		&__link,&__btn{max-width:100%; width:1%;}
		&__tit{height:50px; border-bottom:1px solid #ddd; font-weight:$bold; font-size:16px; }
	}
	@media only screen and (max-width: $mobile-size) {margin-top:50px;
		&__tit,&__item{height:36px; font-size:1.2rem;}
		&.is-fixed{margin-top:50px;
			#{$this}__tit{
				&:after{right:20px; width:16px; height:16px;}
			}
		}
		&__tit{ font-size:1.3rem;}
	}
}

.tab-noti{display:none; position:fixed; top:150px; left:0; right:0; z-index:120; text-align:center;
	&.is-active{display:block;}
	// &:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:70%; padding:20px 30px; vertical-align:middle; border-radius:10px; background-color:rgba(0,0,0,0.8); color:#fff; font-size:14px;
		font-weight:$medium; line-height:1.6;
	}
}

.new-tab-content{display:none;
	@extend %box;
	@extend %box-padding;
	&.is-active{display:block;}
	&.is-fixed{margin-top:50px;}

	@media only screen and (max-width:$tablet-size){
		overflow: hidden;
	}
	@media only screen and (max-width:$mobile-size){
	}
}

.page{border-bottom:1px solid #e1e1e1;
	$this:&;
	&__list{position:relative; margin:0; padding:0;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; width:1px; height:35px; background-color:#e1e1e1; content:'';}
		&:after{display:block; clear:both; content:'';}
	}
	&__btn{position:relative; display:block; color:#999; font-size:12px;
		&:before{position:absolute; top:0; bottom:0; width:4px; height:6px; margin:auto 0; content:'';}
	}
	&__item{float:left; display:inline-block; width:50%; height:100px; padding:0 25px; vertical-align:middle; box-sizing:border-box;
		&.type-prev{
			& #{$this}__btn{padding-left:20px;
				&:before{left:0; background:url('../images/common/board_prev.png');}
			}
		}
		&.type-next{float:right; padding-right:20px; text-align:right;
			& #{$this}__btn{padding-right:20px;
				&:before{right:0; background:url('../images/common/board_next.png');}
			}
		}
	}
	&__wrap{display:table-cell; width:1%; height:100px; vertical-align:middle;}
	&__link{display:block;  font-size:14px; color:#666; text-decoration:none;
		&:hover{color:inherit;}
	}
	&__overflow{display:block; width:100%; max-width:480px;overflow:hidden;  text-overflow: ellipsis; white-space:nowrap;}
	@media only screen and (max-width:$mobile-size){
		&__list{
			&:before{height:48px;}
		}
		&__btn{font-size:1.3rem;
			&:before{width:3px; height:6px;}
		}
		&__item{height:80px; padding:0 20px;
			&.type-prev{
				& #{$this}__btn{padding-left:20px;
					&:before{background:url('../images/common/board_prev_m.png'); background-size:3px 6px;}
				}
			}
			&.type-next{
				& #{$this}__btn{padding-right:20px;
					&:before{background:url('../images/common/board_next_m.png'); background-size:3px 6px;}
				}
			}
		}
		&__wrap{height:80px;}
		&__link{font-size:1.4rem;
			&:hover{color:inherit;}
		}
		&__overflow{width:100%;}
	}
}
.page-bottom{margin:30px 0 0 0; text-align:right;
	&__btn{display:inline-block; padding:5px 24px; font-size:14px; font-weight:400; color:#333; box-sizing:border-box; border-radius:16px 16px 16px 16px; border:1px solid #333; text-decoration:none;
		&:hover{background-color:#333; color:#fff;}
	}
	@media only screen and (max-width:$tablet-size){
		&__btn{
			&:hover{background-color:#fff; color:#333;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:24px 0 0 0; text-align:center;}
}

/*게시판*/
.board{width:100%; margin:0px auto; padding:0 108px; box-sizing:border-box;
	&.type-review{padding:0;}
	$this:&;
	&__table{display:table; width:100%; border-top:3px solid $color-point; border-spacing: 0;  border-collapse:collapse; table-layout: fixed;}
	&__td{display:table-cell; vertical-align:middle; line-height:1.5;  font-size:15px;
		&.type-list{height:70px;}
		&.type-center{text-align:center;}
	}
	&__tr{display:table-row; border-bottom:1px solid #e1e1e1; box-sizing:border-box;
		&.is-active{background-color:#fbfbfb;}
	}
	&__number{position:relative; width:80px; text-align:right; text-align:center;}
	&__line{position:relative; display:inline-block; width:100%;
		&:after{position:absolute; top:0; bottom:0; right:0; width:2px; height:16px; background-color:#e5e5e5; margin:auto 0; content:'';}

	}
	&__title{width:100%; padding:5px 40px;}
	&__date{width:130px; text-align:center;}
	&__category{margin-right:10px;font-weight:500; color:$color-point;}
	&__link{display:block; width:100%; overflow:hidden; text-overflow:ellipsis; color:#666; text-decoration:none;
		&:hover{color:inherit;}
	}
	&__content{display:block; padding:50px 100px 100px; font-size:15px; line-height:1.6; box-sizing:border-box;
		& h2{margin:0 0 40px 0; font-size:25px; font-weight:400; color:#333;}
		& img{max-width:100%;}
		&.type-another{padding:50px 150px 100px;}
		&.type-society{padding:50px 85px 100px;}
	}
	&__find{position:relative; display:inline-block; width:234px; height:32px; margin-left:16px; padding:0 42px 0px 12px; border:1px solid #ddd; border-radius:16px 16px 16px 16px; vertical-align:middle;
		box-sizing:border-box;
	}
	&__find-input{width:100%; height:100%; margin:0; padding:0; border:none; outline:none;}
	&__find-btn{overflow:hidden; position:absolute; top:0; bottom:0; right:18px; display:inline-block; width:18px; height:18px; margin:auto 0 ; background:url('../images/common/board_search.png'); font-size:0; text-indent:-9999px; border:none; cursor:pointer; outline:0;}
	&__nodata{padding:85px 0; text-align:center;
		& img{max-width:100px;}
	}
	&__nodata-txt{margin:18px 0 0 0;  font-size: 18px; color: #969696;  line-height: 170%;}
	&__academic{font-size:17px; font-weight:400; color:#535353; vertical-align:middle;}
	&__national{width:30px; vertical-align:middle;
		& + #{$this}__academic{margin-left:10px;}
		&.hidden-m{display:inline-block !important;}
	}
	@media only screen and (max-width:$tablet-size){padding:0;
		&__content{
			& img{max-width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__find{width:100%; height:30px; margin-left:0; border-radius:15px 15px 15px 15px;}
		&__find-btn{width:16px; height:17px;  background:url('../images/common/board_search_m.png'); background-size:16px 17px;}
		&__table{display:block;
			&.type-view{
				& #{$this}__date{display:none;}
			}
		}
		&__tr{display:block; padding:20px 15px;}
		&__td{height:auto; font-size:1.5rem;
			&.type-list{height:auto;}
		}
		&__number{display:none;}
		&__title{display:block; width:100%; padding:0;}
		&__date{display:block; margin-top:2px; font-size:1.2rem; text-align:left;}
		&__link{padding:0;}
		&__content{display:block; padding:30px 7px 60px; font-size:1.4rem;
			& h2{margin:0; font-size:1.7rem;}
			&.type-another,&.type-society{padding:30px 7px 60px;}
		}
		&__nodata{padding:46px 0; text-align:center;
			& img{max-width:53px;}
		}
		&__nodata-txt{font-size: 1.5rem;}
		&__academic{font-size:1.5rem;}
		&__national{width:20px; vertical-align:middle;
			&.hidden-pt{display:inline-block !important;}
			&.hidden-m{display:none !important;}
			& + #{$this}__academic{margin-left:5px;}
		}
	}
}
@media only screen { .radio1 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio1 + label { display: inline-block; position: relative; height: 20px; margin-bottom:0; margin-left: 0; padding-left: 28px; cursor: pointer; line-height: 20px; font-size:16px; font-weight:300; color:#666; }
  .radio1 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 20px; height: 20px; margin: auto; border: 1px solid #c8c8c8; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio1 + label:after { overflow: hidden; position: absolute; top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background-color: #dcdcdc; cursor: pointer; content: ''; }
  .radio1:checked + label:after {background-color: $color-point}
  @media only screen and (max-width:$mobile-size){
	.radio1 + label {font-size:1.4rem; padding-left: 25px;}
  }
}
.radio1 + label + .radio1 + label { margin-left: 20px;
	@media only screen and (max-width:$mobile-size){margin-left:10px;}
	@media only screen and (max-width:$iphone-size){margin-left:5px;}
}


@media only screen { .radio2 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio2 + label { display: inline-block; position: relative; height: 20px; margin-bottom:0; margin-left: 0; padding-left: 28px; cursor: pointer; line-height: 20px; font-size:15px; font-weight:300; color:#666; }
  .radio2 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 20px; height: 20px; margin: auto; border: 1px solid #c8c8c8; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio2 + label:after { overflow: hidden; position: absolute; top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background-color: #dcdcdc; cursor: pointer; content: ''; }
  .radio2:checked + label:after {background-color: $color-point}
  @media only screen and (max-width:$mobile-size){
	.radio2 + label {font-size:1.2rem; padding-left: 20px;
		&:before{width:15px; height:15px;}
		&:after{top:6px; left:4px; width:7px; height:7px;}
	}
  }
}
.radio2 + label + .radio2 + label { margin-left: 20px;
	@media only screen and (max-width:$mobile-size){margin-left:10px;}
	@media only screen and (max-width:$iphone-size){margin-left:5px;}
}


.category-tab{margin-top: 60px;text-align: center;
    $this:&;

    &__list{margin: 0;padding: 0;
        &:after{content: '';display: block;clear: both;}
    }
    &__item{float: left;width:10%;box-sizing: border-box;list-style: none;
		&.is-active{
            #{$this}__link{border-color: #8d217f;background-color: #8d217f;color: #fff;}
			&:first-child{
				#{$this}__link{border-left-color:#8d217f;}
			}
        }
		&:first-child{
			#{$this}__link{border-left:1px solid #eee;}
		}
    }
    &__link{display: table-cell;width: 1%;height: 48px;border: 1px solid #eee;border-left: 0;font-size: 15px;color: #777575;text-align: center;text-decoration: none;vertical-align: middle;}
    &.type-medical{max-width: 850px;margin: 0 auto;
        #{$this}__item{width: 25%;}
    }
	&.type-eleven{
		#{$this}__item{width:9.09%;}
	}
    @media only screen and (max-width: $tablet-size) {
        margin-top: 50px;
        &__item{width: 20%;
			&:nth-child(6n){
                margin-left: 0;
                #{$this}__link{border-left: 1px solid #eee;}
            }
            &:nth-child(5n) ~ li{
                #{$this}__link{border-top: none;}
            }
        }
		&.type-eleven{
			#{$this}__item{width:25%;
				&:nth-child(4n + 5){
	                margin-left: 0;
	                #{$this}__link{border-left: 1px solid #eee;}
	            }
	            &:nth-child(4n) ~ li{
	                #{$this}__link{border-top: none;}
				}
				&:nth-child(6n){
	                margin-left: -1px;
	                #{$this}__link{border-left:none;}
	            }
			}
		}
    }
    @media only screen and (max-width: $mobile-size) {margin-top: 34px;
        &__link{height: 40px;padding: 0 2px;font-size: 1.1rem;}
        &.type-medical{
            #{$this}__item{width: 50%;
                &:nth-child(3n){margin-left: 0;
                    #{$this}__link{border-left: 1px solid #eee;}
                }
                &:nth-child(2n) ~ li{
                    #{$this}__link{border-top: none;}
                }
            }
        }
    }
}

//제휴 제안
.table1{width:100%; padding:0; border-spacing:0px; border:0; border-collapse:collapse;
	$this:&;
	&__tr{
		&:last-of-type{
			#{$this}__th,#{$this}__td{padding-bottom:0;}
		}
	}
	&__th{padding:0 0 20px 0; font-size:20px; font-weight:$light; text-align:left; vertical-align:middle;
		&.type-top{padding-top:18px;}
	}
	&__th-w{width:174px;}
	&__td{padding:0 0 20px 0; vertical-align:middle;}
	@media only screen and (max-width: $mobile-size) {
		&__th-w{width:74px;}
		&__th{font-size:1.4rem;
			&.type-top{padding-top:12px;}
			&.type-m{vertical-align:top;}
		}
	}
}
.bullet{position:relative; padding-left:15px;
	&:before{position:absolute; top:0; left:0; bottom:0; display:block; width:4px; height:4px; margin:auto 0; background:$color-point; content:'';}
	@media only screen and (max-width: $mobile-size){padding-left:10px;}
}

.required{position:relative; padding-right:18px;
	&:before{position:absolute; top:-4px; right:0; bottom:1px; display:block; width:8px; height:4px;
    margin:auto 0; border-left:3px solid #ff4340; border-bottom:3px solid #ff4340; transform: rotate(-45deg);content:'';}
	&.type-left{padding-left:18px; padding-right:0;
		&:before{left:0; right:auto;}
	}
}


.input-v1{height: 60px; padding: 6px 28px; border: 1px solid #e1e1e1; vertical-align: middle; border-radius: 0; -webkit-appearance: none; appearance: none;
 -webkit-box-sizing: border-box; box-sizing: border-box; outline: 0; font-size:15px; font-family: inherit; color:$black2;
	&__w100p{width:100%;}
	@include placeholder-color($black3);
	@media only screen and (max-width: $mobile-size) {height:40px; padding:4px 14px; font-size:1.2rem;}
}
.textarea-v1{height: 400px; padding: 24px 28px; border: 1px solid #e1e1e1; vertical-align: middle; border-radius: 0; -webkit-appearance: none; appearance: none;
 -webkit-box-sizing: border-box; box-sizing: border-box; outline: 0; font-size:15px; line-height:1.7; font-family: inherit;
	&__w100p{width:100%;}
	@include placeholder-color($black3);
	@media only screen and (max-width: $mobile-size) {height:240px; padding:14px; font-size:1.2rem;}
}


.vt-top{vertical-align:top !important;}

.sortation{
	&__list{margin:-20px 0 0 -50px; padding:0;}
	&__item{display:inline-block; margin:20px 0 0 50px;list-style:none;}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin:-10px 0 0 -20px;}
		&__item{margin:10px 0 0 20px;}
	}
}

.upload-set-v1 {display: inline-block; position: relative; width:100%; height: 60px; padding-right:120px; -webkit-box-sizing: border-box; box-sizing: border-box;
	&__input { width: 100%; padding-right: 30px;
		&.is-img{padding-left:70px;}
	}
	&__wrap { display: inline-block; overflow: hidden; position: absolute; top: 0; right: 0; bottom:0; width: 110px; height: 40px; margin:auto 0; vertical-align: middle; background-color: #8c8a8c; border-radius:20px; }
	&__wrap:before { content: attr(data-value); -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; left: 0; top: 0; right: 0; bottom: 0; height: 1.3em; margin: auto; color: #fff; font-weight: $light; text-align: center; line-height: 1.3; }
	&__file { position: absolute; top: 0; right: 0; height: 100%; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; cursor: pointer; }
	@media only screen and (max-width: $mobile-size) {height:40px; padding-right:70px;
		&__input{padding-right:14px;
			&.is-img{padding-left:45px;}
		}
		&__wrap{width:64px; height:32px; font-size:1.1rem;}
	}
}

.upload-display { overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 60px; height: 60px; border: 1px solid #dedfde;
	@media only screen and (max-width: $mobile-size) {width:40px; height:40px;}
}
.upload-thumb { position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; max-width: 100%; }


.btn-group{margin-top:100px; text-align:center;
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:20px;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:50px;
		&__item{display:block; margin:0 auto;
			& + &{margin:20px 0 0 0;}
		}
	}
}
