@charset "UTF-8";
// @import "variables";
@import "mixins";
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-thin.eot');
	src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-thin.woff2') format('woff2'),
	url('../fonts/notokr-thin.woff') format('woff'),
	url('../fonts/notokr-thin.ttf') format('truetype'),
	url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-light.eot');
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-light.woff2') format('woff2'),
	url('../fonts/notokr-light.woff') format('woff'),
	url('../fonts/notokr-light.ttf') format('truetype'),
	url('../fonts/notokr-light.svg#notokr-light') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-demilight.eot');
	src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-demilight.woff2') format('woff2'),
	url('../fonts/notokr-demilight.woff') format('woff'),
	url('../fonts/notokr-demilight.ttf') format('truetype'),
	url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff2') format('woff2'),
	url('../fonts/notokr-regular.woff') format('woff'),
	url('../fonts/notokr-regular.ttf') format('truetype'),
	url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-medium.eot');
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-medium.woff2') format('woff2'),
	url('../fonts/notokr-medium.woff') format('woff'),
	url('../fonts/notokr-medium.ttf') format('truetype'),
	url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-bold.eot');
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-bold.woff2') format('woff2'),
	url('../fonts/notokr-bold.woff') format('woff'),
	url('../fonts/notokr-bold.ttf') format('truetype'),
	url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-black.eot');
	src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-black.woff2') format('woff2'),
	url('../fonts/notokr-black.woff') format('woff'),
	url('../fonts/notokr-black.ttf') format('truetype'),
	url('../fonts/notokr-black.svg#notokr-black') format('svg');
	font-weight: 700;
	font-style: normal;
}

html,body{margin:0; padding:0; font-family: $font-normal; color:#333; font-weight:$light; line-height:1.3; word-break: keep-all;
		&.no-scroll{position:fixed; overflow:hidden !important; width:100%; height:100%;
		.common{position:relative;}
		.footer{position:static;}
	}
}

html{height:100%;font-size:10px;
	@media only screen and (max-width: $iphone-size){font-size:9px;}
}
body{position:relative; min-height:100%; overflow-x:hidden;  font-size:14px; padding-bottom:300px; box-sizing:border-box;}
.header{position:fixed; top:0; left:0;  width:100%; height: 50px; border-top:5px solid $color-point; background-color:#262626; box-sizing:border-box; z-index:110;
	$this:&;
	$snb:snb__item;
	&.type-main{height:45px; border-top:none; background-color:transparent;
		#{$this}__logo{display:none;}
		#{$this}__wrap{display:none;}
		#{$this}__right{padding-right:24px;}
		.#{$snb}{width:25px; border-left:none;
			& + .#{$snb}{margin-left:12px;}
			&.type-search,&.type-review,&.type-bano,&.type-phone,&.type-global,&.type-login{display:none;}
			&.type-login{margin-left:0;}
			&.type-consultation{position:relative; width:auto; padding:0px;
				& .snb__wrap{text-align:center;}
			}
			&.type-close{display:inline-block; width:30px;  background: url("../images/main/intro_close.png") center center no-repeat;}
		}
		.snb__list{margin-top:0;}
		.snb__wrap-consultation{display:inline-block; margin-left:5px; font-size:12px; line-height:1.3;}
		.snb__wrap-bg{position:relative; display:inline; padding:3px 10px; background:#333333; border-radius:3px; box-sizing:border-box;
			&:before{position:absolute; left:-8px; top:0; bottom:0; height:0; margin:auto 0;border-top: 4px solid transparent; border-right: 4px solid #333;
				border-bottom:4px solid transparent; border-left: 4px solid transparent; content:'';}
		}
		.global__list{left:-12px;}
		.global__item{background-color:rgba(255,255,255,0.2); border-color:rgba(255,255,255,0.1);}
		.consultation-icon{display:inline-block;}
		@media only screen and (max-width: $tablet-size) {height:60px;
			.snb__wrap-consultation{ font-size:12px; line-height:1.3;}
			.snb__wrap-bg{width:60px;}
			.mobile-menu{display:none;}
			#{$this}__right{padding-right:0px;}
			.#{$snb}{
				&.type-consultation{
					.snb__wrap{width:auto;}
				}
			}
		}
		@media only screen and (max-width: $mobile-size) {height:50px;
			.snb__wrap-consultation{display:none;}
			#{$this}__right{padding-right:13px;}
			.#{$snb}{
				&.type-consultation{width:25px;}
			}
			.snb__wrap-bg{display:none;}
		}
	}
	&__wrap {display:block; max-width: 1052px; margin:0 auto;
		&.is-hide{display:none;}
	}
	//모바일 메뉴 오픈시
	&.js-open-m{
		.m-gnb{left:0;}
		.mobile-menu__line{width:30px;background: transparent; top:-2px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;
			&:before{visibility: visible;top: 0 !important;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
			&:after{visibility: visible;top: 0 !important;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
		}
		.snb__item{
			&.type-consultation{display:none;}
			&.type-login,&.type-search{display:block; border-left:none;}
		}
	}
	&__logo {position:absolute; bottom:0; left:30px; width:179px; height:100%; background:url('../images/common/logo.png') no-repeat center center;
		transition:width 0.5s;}
	&__logo-link{overflow:hidden; display:block; width:100%; height:100%; font-size:0; text-indent:-9999px;}
	&__right { position: absolute; bottom: 0; right:0; padding-right:0px; z-index:10;}
	&__bg{display:none;}
	@media only screen and (max-width: $minpc-size1) {
		&__wrap{width:840px;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&__logo{left:20px; width:63px; background:url('../images/common/logo_t.png') no-repeat center center;}
	}
	@media only screen and (max-width: $minpc-size3) {
		&__wrap{width:720px;}
	}
	@media only screen and (max-width: $tablet-size) {height:60px;
		&.type-main{
			.snb__item.type-close{display:none;}
		}
		&__wrap{display:none;}
		&__logo{left:0; right:0; width:250px; margin:0px auto; background:url('../images/common/logo.png') no-repeat center center;}
    //모바일 메뉴 오픈시
        &.js-open-m{border-top:none;
            .header__logo{width:89px; background:url("../images/common/logo_t_open.png") no-repeat left center; background-size:89px 28px;}
        }
		&__bg{overflow:hidden; position:fixed; top:0; left:0; height:45px; width:100%; background-color:#262626; z-index:45; text-indent:-9999px;
			&.is-active{display:block;}
		}
	}
	@media only screen and (max-width: $mobile-size) {height:50px;
		&__right{padding-right:13px;}
		&__logo{left:0; right:0; width:200px; margin:0px auto; background:url('../images/common/logo_m.png') no-repeat center center; background-size:134px 22px;}
		//모바일 메뉴 오픈시
		&.js-open-m{
			.m-gnb{left:0;}
			.mobile-menu__line{width:26px;background: transparent; top:-2px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;
				&:before{visibility: visible;top: 0 !important;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
				&:after{visibility: visible;top: 0 !important;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
			}
			.snb__item{
				&.type-consultation,&.type-phone{display:none;}
				&.type-login,&.type-search{display:block; border-left:none;}
			}
			.header__logo{width:72px; height:50px; background:url("../images/common/logo_s640.png") no-repeat left center; background-size:72px 23px;}
		}
	}
}

.gnb { height: 45px;  -webkit-box-sizing: border-box; box-sizing: border-box; color: #fff; //letter-spacing: -1px;
	$this:&;
	&:before{ z-index: -1; position: absolute; top: 0; height: 100%; background-color: #fff; content: '';}
	&__tit { overflow: hidden; width: 0; height: 0; font-size: 0; }
	&__all{display:inline-block; width:50px; height:inherit; background:$color-point; text-align: center;}
	&__all-tit{display:none; overflow:hidden; height:0; font-size:0; text-indent:-9999px;}
	&__all-wrap{position:relative; display:block; width:100%; height:100%;}
	&__all-line{position:absolute; top:-1px; left:0; right:0; bottom:0; display:block; height:1px; width:18px; background-color:#fff; margin:auto; transition: all linear 0.2s;}
	&__all-line:before{position:absolute; top:-6px; left:0; width:100%; height:1px; background:#fff; transition: all linear 0.2s; content:'';}
	&__all-line:after{position:absolute; bottom:-6px; left:0; width:100%; height:1px; background:#fff; transition: all linear 0.2s; content:'';}
	&__all{
		&.js-open-d{
			#{$this}__all-line{width:26px;background: transparent; top:-2px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear;
				&:before{visibility: visible;top: 0 !important;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
				&:after{visibility: visible;top: 0 !important;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
			}
		}
	}
	&__depth1-list { height: inherit; padding: 0; list-style: none; opacity:1; margin:0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size:0;
		&.is-hide{opacity:0; margin-top:-1000px;}
	}
	&__depth1-item { display: inline-block; height: inherit; margin-left:5.3%; font-size: 15px; vertical-align: top; text-align: center; font-weight:$light; -webkit-box-sizing: border-box; box-sizing: border-box;
		&.type-high{
			#{$this}__depth2-wrap{height:0;}
		}
		&.js-open-all{
			#{$this}__depth2-wrap{max-height:500px; opacity:0; }
		}
		&.js-open-menu{
			 #{$this}__depth1-link { color: $color-point; font-weight:$medium;}
		}
		&.js-open-d{
			#{$this}__depth2-wrap{height:auto; opacity:1; z-index:8; }
		}
		&:not(.js-open-d){
			#{$this}__depth2-wrap{opacity:0;}
		}
		&:-ms-not(.js-open-d){
			#{$this}__depth2-wrap{opacity:0;}
		}
	}
	&__all.js-open-d #{$this}__depth2-wrap.type-all{display:block; max-height:1000px; margin-top:0; opacity:1;}
	&__depth1-item.type-another { margin-left:1px; font-size: 0; }
	/* &__depth1-item.type-another &__depth1-link { height: 0; } */
	&__depth1-item:after { display: block; clear: both; content: ''; }
	&__depth1-link { position: relative; display: table-cell; height: inherit; color: inherit; text-decoration: none; vertical-align: middle; color: #fff;
		&:hover{color:$color-point3;}
	}
	&__depth1-point{display:inline-block; margin-right:6px; padding:3px 5px; background-color:#c13a3b; color:#fff; font-size:8px; text-transform:uppercase; vertical-align:middle; letter-spacing:0;}
	&__depth2-wrap {overflow:hidden; position: absolute; left:0; right:0; max-height:0;  -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; z-index: 1; transition: max-height 1s; text-align:center; }
	// &__depth2-wrap.type-all{display:none;}
	&__depth2-wrap:before { position: absolute; top: 0; left: -2000px; right: -2000px; display: block; height:100%; border-bottom: 1px solid #262626; background-color: #fff; content: ''; z-index: -1; box-sizing:border-box; }
	&__depth2-align{display:inline-block; width: 1052px;  padding:30px 0; font-size:0; text-align:left;}
	&__depth2-list { height: inherit; padding:10px 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
	&__depth2-box { display: inline-block; width:33.33%; min-height:219px; padding-left: 58px; border-right:1px solid #ebebeb; vertical-align: top; -webkit-box-sizing: border-box; box-sizing: border-box; }
	&__depth2-box:last-child{border-right:none;}
	&__depth2-box.type-img { padding-left: 0; border-right:none; }
	&__depth2-box.type-img  #{$this}__depth2-box{border-left:none;}
	&__depth2-item {position:relative; display: block; padding-right:10px; color: #000; vertical-align: top; font-weight:$regular; font-size: 14px; line-height: 1.2;

		& + &{ margin-top: 14px; }
		&.is-active{
			#{$this}__depth2-link{color:$color-point;}
			&:before{position:absolute; top:0; bottom:0; left:-18px; width:14px; height:0;  margin:auto 0; border-top:1px solid $color-point; content:'';}
			&:after{position: absolute; top:3px; left:-7px; width:0; height:6px; border-left:1px solid $color-point; transform: rotate(-45deg);content:'';}
		}
		&.type-3depth{
			&.is-open,&.is-fix-open{
				#{$this}__btn{background-color:#fff;
					&:before,&:after{background-color:$color-point;}
					&:after{transform: rotate(0); -ms-transform: rotate(0);}
				}
			}
			&.is-fix-open{
				#{$this}__depth3-list{display:block;}
			}
		}
		// &.type-another{
		// 	#{$this}__depth2-link:after { position: absolute; top: 0; bottom: 0; right: 0; width: 7px; height: 4px; margin: auto 0; background: url("../images/common/gnb_btn.png"); content: ''; }
		// }
	}
	// &__depth2-item.type-another.is-active #{$this}__depth2-link { color: #4d2ee6; }
	// &__depth2-item.type-another.is-active #{$this}__depth2-link:after { background-position: 0px -4px; }
	&__depth2-link { position: relative; display: inline-block; color: inherit; text-decoration: none;
		&:hover { color: $color-point;}
	}
	&__depth3-list {display:none; margin:0; padding:0; list-style: none; }
	&__depth3-item {position:relative; display: block; margin-top:10px; padding-right:10px; color: #888; vertical-align: top; font-weight: 400; font-size: 13px; line-height: 1;
		& + &{margin-top:8px;}
		&.is-active{
			#{$this}__depth3-link{color:$color-point;}
			&:before{position:absolute; top:0; bottom:0; left:-18px; width:14px; height:0;  margin:auto 0; border-top:1px solid $color-point; content:'';}
			&:after{position: absolute; top:1px; left:-7px; width:0; height:6px; border-left:1px solid $color-point; transform: rotate(-45deg);content:'';}
		}
	}
	&__depth3-link{color:inherit; text-decoration:none;
		&:hover{color: $color-point; }
	}
	&__top { display: none; }
	&__menu { position: absolute; height: 80px; font-size: 14px; }
	&__menu-wrap { display: table-cell; height: 80px; width: 1%; padding: 0px 30px; vertical-align: middle; text-align: right; }
	&__menu-global { display: inline-block; padding: 2px 0;
		&:hover{color: $color-point;}
	}
	&__menu-global.is-active { border-bottom: 1px solid #4d2ee6; }
	&__menu-global #{$this}__menu-global { margin-left: 18px; }
	&__menu-quick { position: absolute; top: 0; bottom: 0; right: 0; display: inline-block; width: 20px; height: 80px; margin: auto 0; background: url("../images/common/quick_icon.png") no-repeat center right; -webkit-background-size: 4px 18px; background-size: 4px 18px; z-index: 5000; }
	&__menu-quick.is-hidden { display: none; }
	&__menu-close { display: none; }
	&__depth2-img .owl-controls{position:absolute; bottom:-14px ; width:100%; }
	&__depth2-img .owl-pagination{font-size:0; margin-top:0;}
	&__depth2-img .owl-page{vertical-align:top; background-color:#dcdcdc;}
	&__depth2-img .owl-page.active{background-color:#666666;}
	&__depth2-img img{max-width:100%;border: 0;}
	&__full-img{display:block !important;}
	&__mini-img{display:none !important;}
	&__btn{overflow:hidden; position:relative; display:inline-block; width:14px; height:14px; margin-left:6px; font-size:0; text-indent:-999px; background-color:$color-point; border:1px solid $color-point; vertical-align:middle; box-sizing:border-box;
		&:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:8px; height:2px; margin:auto; background-color:#fff;content:''; transition:transform 0.3s linear; }
		&:after{transform: rotate(90deg); -ms-transform: rotate(90deg);}
	}
	@media only screen and (max-width: $minpc-size1) {
		&__depth2-box { width:35.4%;}
		&__depth2-box.type-img {width:29.2%;}
		&__depth2-align{width:840px;}
		&__depth1-item{margin-left:3%; font-size:12px;}
		&__depth2-item{font-size:12px;}
		&__depth2-box{min-height:215px; padding-left:54px;}
		&__full-img{display:none !important;}
		&__mini-img{display:block !important;}
	}
	@media only screen and (max-width: $minpc-size2) {
		&__depth1-hidden{display:none;}
	}
	@media only screen and (max-width: $minpc-size3) {
		&__depth2-align{width:720px;}
	}
}



.gnb-bullet { position: absolute; bottom:-14px; width: 100%; margin:0; padding:0; text-align: center; font-size:0;
	&__item { display: inline-block; width: 6px; height: 6px; border-radius: 50%; background-color: #dcdcdc; padding:0; cursor: pointer; border:none; list-style:none;
		& + &{ margin-left: 7px; }
		&.active{background-color: #333; }
	}
}



.gnb-review { height: inherit;
	&__list { padding: 0; font-size: 0; margin-left: -15px; margin-top: -15px; }
	&__item { position: relative; display: inline-block; width: 75px; margin-top: 15px; margin-left: 15px; text-align: center; vertical-align:top;}
	&__tit { margin: 4px 0 0 0; font-size: 12px; font-weight:$light; color: #262626; }
	&__link { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; }
	@media only screen and (max-width: 1700px) {
		&__tit{font-size:11px;}
		&__list{margin-left:-15px;}
		&__item{width:60px; margin-left:15px;}
		&__item img{width:100%;}
	}
}


.snb{
	$this:&;
	&__list {margin-top:5px; height: 45px; padding: 0; list-style: none; font-size: 0; font-weight:400; }
	&__wrap{display:table-cell; height:inherit; vertical-align:middle;}
	&__wrap-consultation{vertical-align:middle;
		&:before{position:absolute; top:0; bottom:0; left:0; margin:auto 0; background:url('../images/common/consultaion_icon.png') no-repeat center center;}
	}
	&__item{position:relative; float:left;  height:inherit; border-left:1px solid #3c3c3c; font-size:15px; box-sizing:border-box;
		&.type-bano,&.type-review{color:#e8e8e8;}
		&.type-bano{border-left:none; }
		&.type-review{color:#ff94f2;}
		&.type-global{width:50px; background:url("../images/common/global_icon.png") no-repeat center center;
			&.is-active{
				.global__list{display:block;}
			}
		}
		&.type-login{color:#fff; text-transform: uppercase;
			&.is-active{
				.login__list{display:block;}
			}
		}
		&.type-search{overflow: hidden; width:50px; text-indent: -999px; background: url("../images/common/search_icon.png") center center no-repeat;}
		&.type-phone{display:none;}
		&.type-consultation{position:relative; top:0px; width:auto; padding:0 12px; font-size:15px; color:$color-orange; cursor:pointer;}
		&.type-close{display:none;}
	}
	&__link1{display:table-cell; height:inherit; padding:0 12px;  color:inherit; text-decoration:none; vertical-align:middle; box-sizing:border-box;}
	&__link2{position:absolute; top:0; left:0; width:100%; height:100%; display:block; text-indent:-9999px; z-index:10;}
	@media only screen and (max-width: $minpc-size1) {
		&__item{font-size:12px;
			&.type-consultation{padding:0 10px; font-size:12px;}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&__wrap{width:1%; text-align:center;}
		&__list{height:55px;}
		&__item{display:none;
			&.type-consultation{display:block; width:50px; margin-right:12px; padding:0; border-left:none;}
			&.type-login{position:absolute; right:12px; font-size:0;
				&.is-hide{display:none !important;}
			}
			&.type-search{position:absolute; right:90px;
				&.is-login{right:12px;}
			}
		}
		&__border{display:inline; padding:4px 12px; border:1px solid #444; color:#999999; box-sizing:border-box; font-size:16px;}
		&__link1{padding:0;}
		&__wrap-consultation{display:none;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{height:47px;}
        &__item{width:25px;
			& + &{margin-left:12px;}
            &.type-search{right:64px; background: url("../images/common/search_big.png") center center no-repeat; background-size:25px 25px;}
			&.type-login{width:auto;}
			&.type-consultation{width:25px; margin-right:0; }
			&.type-phone{overflow:hidden; display:block; background: url("../images/common/phone_icon_m.png") center center no-repeat; background-size:19px 19px; border-left:none; text-indent:-9999px;}
        }
		&__border{padding:4px 6px; font-size:1.3rem;}
	}
}
.total{
	&__depth-scroll{overflow:auto; max-height:730px;}
	&__depth1-list{padding:0;
		& + &{margin-top:110px;}
	}
	&__depth1-list:after{display:block; clear:both; content:'';}
	&__depth1-item{float:left; display:inline-block; width:25%; color:#333;}
	&__depth1-link{display:block; width:100%; padding-bottom:10px; border-bottom:1px solid $color-point; color:$color-point; font-size:15px; font-weight:500; text-decoration:none;}
	&__depth1-link:hover{color:$color-point}
	&__depth2-list{padding:0; list-style:none;}
	&__depth2-item{margin-top:10px; padding-right:10px;}
	&__depth2-link{font-size:13px; font-weight:400; color:inherit; text-decoration:none;
		&:hover{ color: $color-point; text-decoration:underline;}
	}
	&__depth3-list{margin-top:5px; padding-left:5px;}
	&__depth3-item{
		& + &{margin-top:4px;}
	}
	&__depth3-link{color:#666; text-decoration:none; font-size:12px;
		&:hover{ color: $color-point;}
	}
	@media only screen and (max-width: 1700px) {
		&__depth1-link{font-size:12px;}
		&__depth2-link{font-size:12px;}
		&__depth3-link{font-size:12px;}
	}
}



.global{
	&__list{display:none; position:absolute; top:45px; left:0; padding:0; width:50px; z-index:10;}
	&__item{overflow:hidden; display:block; width:100%; height:46px; border-top:1px solid #3c3c3c; background-color:#262626;}
	&__item.nth-1{background:url('../images/common/national_icon_01.png') center center no-repeat #262626;}
	&__item.nth-2{background:url('../images/common/national_icon_02.png') center center no-repeat #262626;}
	&__item.nth-3{background:url('../images/common/national_icon_03.png') center center no-repeat #262626;}
	&__item.nth-4{background:url('../images/common/national_icon_04.png') center center no-repeat #262626;}
	&__item.nth-5{background:url('../images/common/national_icon_05.png') center center no-repeat #262626;}
	&__item.nth-6{background:url('../images/common/national_icon_06.png') center center no-repeat #262626;}
	&__item.nth-7{background:url('../images/common/national_icon_07.png') center center no-repeat #262626;}
	&__item.nth-8{background:url('../images/common/national_icon_08.png') center center no-repeat #262626;}
	&__item.nth-9{background:url('../images/common/national_icon_09.png') center center no-repeat #262626;}
	&__link{display:block; width:100%; height:100%; text-indent:-999px;}
}
.login{
	&__list{display:none; position:absolute; top:45px; left:0; right:0;padding:0;  z-index:10;}
	&__item{overflow:hidden; display:block; width:100%;  border-top:1px solid #3c3c3c; background-color:#262626;}
	&__link{display:block; padding:14px 0; color:inherit; text-align:center; font-size:13px; text-decoration:none;}
}

.header-search {display:none; opacity:0; position: absolute;width: 932px;top: 0px; left: 0; right: 0; margin-left: auto; margin-right: auto; z-index: 102;
	&.is-active{display: block; opacity: 1; position: fixed; }
	&__box{position:relative; height:45px;}
	&__group{width: 100%; padding:0px 55px;line-height:45px; margin-top: 5px; box-sizing:border-box;}
	&__input {width: 100%; border: 0; outline: 0; background: 0; font-size: 15px; color: #fff; padding-left: 0;
		&::-webkit-input-placeholder{font-family: 'Roboto',sans-serif; color: $color-point;}
		&::-moz-placeholder{font-family: 'Roboto',sans-serif; color: $color-point;}
		&::-ms-input-placeholder{font-family: 'Roboto',sans-serif; color: $color-point;}
	}
	&__btn{overflow:hidden; position:absolute; top:0; width:45px; height:45px; border:0; text-indent:-999px; cursor:pointer;
		&.type-submit{left:0; background:url('../images/common/search_icon.png') no-repeat center center;}
		&.type-close{right:0; background:url('../images/common/search_close.png') no-repeat center center;}
		&:focus{outline:0;}
	}
	@media only screen and (max-width:$minpc-size2){width:550px; left:-120px;}
 }

.keyword-tab{font-size: 0; font-weight:$thin; color: #888; background-color:#f9fafc; padding:0;
	$this:&;
	&__item {display: inline-block; width: 133px; height: 37px; font-size:13px; line-height: 37px; text-align: center; border-right: 1px solid #dbdce1; font-weight:$light; background-color:#f9fafc;
		border-bottom:1px solid #b4b7be; list-style:none;
		& + &{margin-left:-1px; border-left:1px solid #b4b7be;}
		&:hover{cursor: pointer;}
		&.is-active{color: #333; font-weight:$regular; border-right: 1px solid #b4b7be; background: #fff; border-bottom:1px solid #fff;}
	}
}

.keyword-box {background: #fff;border: 1px solid #c3cbd7;border-top: 0;
	&__list {display: none; padding:10px 0; border-top: 1px solid #b4b7be; margin:-1px 0 0 0;
		&.is-active{display:block;}
	}
	&__item{padding:0; list-style:none;
		&:first-child {
			color: $color-point;
		}
	}
	&__link {display: block; padding: 3px 0 3px 26px; font-size: 13px; color: #333; font-weight:$regular; text-decoration:none;
		&:hover{color: $color-point;}
	}
	&__num{top: 1px; position: relative; display: inline-block; width: 21px; height: 21px; line-height: 20px; text-align: center; color: #666; background: #f2f4f8;
		border: 1px solid #e5e6e8;margin-right: 15px;
	}
	&__icon {display: inline-block; width: 21px; height: 21px; line-height: 20px; text-align: center; color: $color-point; margin-right: 13px;}
}

//모바일검색어
.keyword-box2 {
	$this:&;
	@media only screen and (max-width: $tablet-size) {margin-top:30px; font-size: 17px; font-weight:$light; color: #bcbcbc; overflow: hidden;
		&:after{display:block; clear:both; content:'';}
		&__list {display: none; padding:0; margin:16px 0 0 0;
			&.is-active{display:block;}
		}
		&__item{padding:0; list-style:none;

		}
		&__link {display: block; padding: 12px 10px 12px 0;font-size: 17px; font-weight:$light; color: #fff; text-decoration:none;
			&.first{color: #d83cc4;}
		}
		&__num{display:inline-block; width: 24px; height: 24px; line-height:24px; text-align: center; margin-right: 10px; border: 1px solid rgba(242,244,248,.7); color: #fff;}
		&__icon {display: inline-block; height: 24px; margin-right: 13px; color: $color-point}
		&__list2{padding:0;}
		&__group{float:left; width:50%; list-style:none;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:22px; padding:0 15px;
		&__link {padding: 6px 10px 6px 0; font-size: 1.4rem;}
		&__num{width:22px; height:22px; line-height:22px;}
		&__icon{height:24px; margin-right:7px;}
		&__group{width:100%;}
	}
}

.keyword-tab2{
	$this:&;
	@media only screen and (max-width: $tablet-size) {font-size: 0; padding:0; border-bottom:1px solid #3F3F3F;
		&__item {display: inline-block; width:50%; height:50px; line-height:50px; text-align:center; font-size:17px; cursor:pointer;
			&.is-active{border-bottom:2px solid #bcbcbc;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{height:38px; line-height:38px; font-size:1.6rem;}
	}
}


/*모바일 검색*/
.m-search{display:none;
	&__close{display:none;}
	@media only screen and (max-width: $tablet-size) {overflow:auto; position:fixed; bottom:-100%; left:0; display:block; width:100%; height:100%; padding-top:60px; background-color:#262626; box-sizing:border-box; z-index:40; transition:bottom 0.3s;
		&.is-active{bottom:0;}
		&__inner{padding:55px 7%; color:#fff;}
		&__box{position:relative; width: 100%; height: 50px; overflow: hidden; border: 1px solid #fff; border-radius: 25px; box-sizing:border-box;}
		&__group{display:inline-block; width:100%; vertical-align:middle;}
		&__input{width:100%; height: 48px; border: 0; outline:0; background: none; padding-left: 30px; padding-right: 64px; font-size: 18px; color: #fff; box-sizing:border-box; }
		&__btn{position:absolute; top:0; bottom:0; right:16px; width:48px; height:48px; margin:auto 0; padding:0; background:url('../images/common/search.png') no-repeat center center; border:none;}
		&__close{overflow:hidden; position:absolute; top:60px; left: 0; right: 0; width: 60px; height: 60px; line-height: 60px; margin: 0 auto 0; text-align: center;
			background:url('../images/common/search_arrow.png') no-repeat center center; text-indent:-999px; z-index: 55;
			&.is-active{display: block; top: 0; animation-name: bounceInUp;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding-top:45px;
		&__inner{padding:45px 15px;}
		&__close{top:45px; height:45px; line-height:45px; background:url('../images/common/search_arrow_m.png') no-repeat center center; background-size:13px 7px;}
		&__box{height:44px; border-radius: 22px;}
		&__input{height:42px; padding-left:20px; padding-right:46px; font-size:1.4rem;}
		&__btn{right:10px; width:42px; height:42px; background:url('../images/common/search_m.png') no-repeat center center; background-size:19px 20px;}
	}
}

.search-info{
	@media only screen and (max-width: $tablet-size) {width:100%; margin-top:20%; box-sizing:border-box;
		&__wrap{position:relative;
			&:after{display:block; clear:both; content:'';}
		}
		&__group{float:right; width:260px; margin-top:36px;
			&:before{position:absolute; top:0; left:0; width:calc(100% - 280px); height:100%; background:url('../images/common/clock_bg.png') no-repeat center center / contain; content:''; z-index:1;}
		}
		&__hour,&__minute,&__second{overflow:hidden; position:absolute; top:0; left:0; width:calc(100% - 280px); height:100%; content:''; text-indent:-9999px;}
		&__hour{background:url('../images/common/clock_hour.png') no-repeat center center / contain;}
		&__minute{background:url('../images/common/clock_minute.png') no-repeat center center / contain;}
		&__second{background:url('../images/common/clock_second.png') no-repeat center center / contain;}
		&__box{
			& + &{margin-top:40px;}
		}
		&__tit{margin:0; font-weight:$light; font-size: 17px; color: #bcbcbc}
		&__txt{font-size:15px; color:#dedede;
			&.type-m{display:none;}
			&.type-t{display:inline;}
			&.type-night{display: inline-block; font-size: 13px; color: #d9a968; border: 1px solid #967850; height: 18px; ine-height: 15px; padding: 0 3px; margin-left: 2px; box-sizing:border-box;}
			&.type-block{display:block;}
		}
		&__list{list-style:none; padding:0; margin:15px 0 0 0;}
		&__item{
			& + &{margin-top:5px;}
		}
		&__link{font-family: 'Roboto',sans-serif; font-size:40px; color:#fd7b5d; text-decoration:none; }
		&__addr{clear:both; margin-top: 40px; width: 100%; height: 43px; line-height: 43px; border: 1px solid #707070; border-radius: 30px; text-align: center; font-size: 14px; box-sizing:border-box;
			& em{position: relative; top: -4px; display: inline-block; margin: 0 10px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:0 15px;
		&__group{width:100%; margin-top:0;
			&:before{display:none;}
		}
		&__hour,&__minute,&__second{display:none;}
		&__box{
			& + &{margin-top:30px;}
		}
		&__list{margin-top:7px;}
		&__item{
			& + &{margin-top:0px;}
		}
		&__tit{font-size:1.6rem;}
		&__txt{font-size:1.4rem; color:#dedede;
			&.type-m{display:inline;}
			&.type-t{display:none;}
		}
		&__link{font-size:3rem; letter-spacing:-1px; line-height:1.15;}
		&__addr{height:auto; margin-top:20px; padding:13px 0; line-height:1.5; font-size:1.3rem; border-radius:0;
			em{display:none;}
		}
	}
}

.sr-only { position: absolute;width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
.consultation-icon{overflow:hidden; display: none; width: 32px; height: 28px; background: url("../images/common/consultaion_icon.png"); text-indent:-999px; vertical-align:middle;
	@media only screen and (max-width: $tablet-size) {display:block; margin:auto}
	@media only screen and (max-width: $mobile-size) {background: url("../images/common/consultaion_icon_m.png") center center no-repeat; background-size:25px 22px;}
}

@keyframes fadeInRight {
	from { opacity: 0; transform: translate3d(100%, 0, 0);}
	to {opacity: 1; transform: none;}
}

@keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 30px, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}

	75% {
		transform: translate3d(0, 10px, 0);
	}

	90% {
		transform: translate3d(0, -5px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
.bounceInUp {
	animation-name: bounceInUp;
}

.animated {animation-duration: 1s; animation-fill-mode: both;}
.fadeInRight {animation-name: fadeInRight;}


//footer
.footer{position:absolute; left:0; bottom:0; width:100%; background:#15161A; text-align:center; z-index:30;
	&__logo-p{display:inline-block;}
	&__noti{width: 100%; background: #333; font-size: 12px; color: #8a8a8a; text-align: center; padding: 10px 0;}
	&__noti-icon:before{ width: 15px; height: 15px; content: ''; background: url('../images/common/noti.png'); background-repeat: no-repeat; position: absolute; background-position: 0 50%;
		margin-left: -20px; margin-top: 1px;}
	&__wrap{padding:70px 15px 56px;}
	@media only screen and (max-width: $tablet-size) {
		&__wrap{padding:46px 15px 40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__logo-p{width:167px;}
		&__noti{padding: 12px; font-size: 1.0rem; text-align: left; border-bottom: 1px solid #535456; box-sizing:border-box;}
		&__noti-icon{position:relative; display:block; padding-left: 30px; box-sizing:border-box;
			&:before{top:0;left:0;bottom:0;width: 22px;height: 22px;margin:auto 0;background: url('../images/common/noti_m.png');background-size: contain;}
		}
		&__wrap{padding:36px 10px;}
	}
}

.address {overflow: hidden; padding:0; margin: 15px auto 0; font-size: 0;
	& + &{margin-top:3px;}
	&__item{display: inline-block; padding: 0; font-size: 13px; color: #808080;font-weight:$light;
		&:after{position: relative; top: -2px; padding: 0 11px; font-size: 10px; content: '|';}
		&:last-child{background:none;
			&:after{content:''; padding:0;}
		}
		a{color:inherit; text-decoration:none;}
	}
	&__link{text-decoration:none; font-size: 13px; color: #808080;}
	@media only screen and (max-width: $tablet-size) {
		&__item{font-size:12px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{font-size:1.2rem;
			&:first-child{display:block;
				&:after{display:none;}
			}
		}
	}
}
.copyright {margin:8px 0 0 0; font-weight:400; font-size:13px; color:#eee;
	@media only screen and (max-width: $tablet-size){font-size:12px;}
	@media only screen and (max-width: $mobile-size) {margin-top:5px;font-size:1.2rem;}
}
.sns{margin:22px 0 0 0; padding:0; font-size:0;
	&__item{display:inline-block; list-style:none;}
	&__link{height: 25px; line-height: 25px; font-size: 20px; color: #7B7B7B; padding: 0 10px; text-decoration:none;
		&:hover{color:#fff;}
		&.type-blog{
			img{display: inline-block; width: 12px; margin-top: -3px; vertical-align:middle;border: 0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:25px;
		&__link{padding:0 12px;}
	}
}

.footer-info{margin:0; padding:0; font-size:0;
	&__item{display:inline-block; margin-top:18px; font-size: 13px; color: #aaa; list-style:none;
		&:before{position: relative; top: -2px; padding: 0 11px; font-size: 10px; content: '|';}
		&:first-child{background:none;color: #eee;
			&:before{padding:0; content:'';}
		}
	}
	&__link{color:inherit; text-decoration:none;}
	@media only screen and (max-width: $tablet-size) {
		&__item{font-size:12px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{margin-top:9px;
			&:nth-child(5){display:block;
				&:before{display:none;}
			}
		}
	}
}


.lnb{
	$this:&;
	// &.type-content{margin-top:50px;}
	&.type-detail{position:absolute; left:0; right:0; background-color:#fff; padding-top:50px; box-sizing:border-box; z-index:50;}
	&__wrap{margin:0px auto; border-top:1px solid #ebebeb; border-bottom:1px solid #d7d7d7; text-align:center;}
	&__list{padding:0; margin:0;}
	&__item{position:relative;display:inline-block; list-style:none;  font-size:13px; vertical-align:top;
		&:before{position:absolute; top:0; bottom:0; left:0; margin: auto 0; color:#E3E3E3; line-height:45px; vertical-align: middle; content:'/';}
		&.type-home{overflow:hidden; text-indent:-999px; background:url('../images/common/home_icon.png') no-repeat center center;
			&:before{display:none;}
		}
		&.type-active{
			#{$this}__link{color:$color-line;}
		}
	}
	&__link{display:block; height:45px; padding:0 16px 0 19px; line-height:45px; text-decoration:none; color: #5e5e5e; font-weight:$medium;}
	&__bar{overflow:hidden; display: inline-block; width: 52px; height: 0px; border-top:1px solid $color-line; vertical-align: middle; margin-right: 2px; text-indent:-999px;}
	&__caret{width: 10px; height: 5px; margin-left: 10px; border: 0; color:$color-line;
		i{display: inline-block; font-weight:$regular; font-size: 16px;}
	}
	&__2depth-list{overflow:hidden; height:0; position:absolute; top:45px; padding:0; margin:0; border:1px solid #d7d7d7; border-top:none; background-color:#fff; box-sizing:border-box; z-index: 105;
		&.is-active{overflow:visible; height:auto;}
	}
	&__2depth-item{ list-style:none;}
	&__2depth-link{display:block; padding:7px 14px; font-size: 12px; font-weight:$light; line-height: 1.42857143; color: #909090; white-space: nowrap; text-decoration:none;
		&:hover{color:#474747;}
	}
	@media only screen and (max-width: $tablet-size) {
		// &.type-content{margin-top:60px;}
		&__wrap{width:100%;}
	}
	@media only screen and (max-width: $mobile-size) {position:absolute; top:50px; left:0; right:0;
		&.type-content{position:static; top:auto; left:auto; right:auto; top:0;}
		&.type-detail{top:0;}
		&.type-3depth{
			#{$this}__item{
				&.type-home{display:none; width:10px; height:38px;
					#{$this}__link{display:none;}
					& + #{$this}__item{
						&:before{width:10px; height:38px; font-family:$font-normal; background:url('../images/common/lnb_ellipsis.png') no-repeat center center / 7px 2px; content:'';}
					}
				}
			}
		}
		&__wrap{text-align:left;}
		&__list{position:relative; padding:0 10px;}
		&__item{position:static;
			&:before{font-family: FontAwesome; top:auto; bottom:auto; left:auto; line-height:38px; vertical-align: middle; font-size:1.1rem;content: '\f105';}
			&.type-active{
				#{$this}__link{color:#666;}
			}
		}
		&__link{height:38px;  padding:0 10px 0 13px; line-height:38px; color:#999;}
		&__bar{display:none;}
		&__caret{display:inline-block; width: 15px; height: 15px; border: 1px solid #D7D7D7; margin-top: -3px; margin-left: 3px; color:#666; vertical-align:middle; text-align:center;
			i{position:relative; top:-11px; font-size: 1.1rem;}
		}
		&__2depth-list{top:39px; left:0; width:100vw;  border-left:none; border-right:none; border-bottom:none;}
		&__2depth-item{ border-bottom:1px solid #E2E2E2; background-color:#fff; background-color:#f9f9f9;}
		&__2depth-link{padding:9px 15px; font-size:1.3rem; color:#666;}
	}
}
.container{padding-top:50px; padding-bottom:150px; box-sizing:border-box;
	&__wrap{width:100%; max-width:1296px; margin:0px auto; padding:0 8px; box-sizing:border-box;
		&.type-another{padding-top:110px;}
		&.type-visual{padding-top:150px;}
	}
	&__top{padding:110px 0 44px; box-sizing:border-box; text-align:center;
		&.type-another{padding-bottom:0;}
	}
	&__tit{position:relative; margin:0; font-size:33px; font-weight:$regular; color:$black1;
		&:before{position:absolute; top:-44px; left:0; right:0; margin:0px auto; display:inline-block; content:'';}
		&:after{display:block; width:18px; height:0; margin:22px auto 0; border-top:1px solid $color-point; content:'';}
		&.photo{
			&:before{width:30px; height:20px; margin:0px auto; background:url('../images/common/container/photo_icon.png');}
		}
		&.type-news{
			&:before{width:31px; height:28px; margin:0px auto; background:url('../images/common/container/board_icon.png');}
		}
		&.type-join{
			&:before{width:28px; height:30px; margin:0px auto; background:url('../images/common/container/join_icon.png');}
		}
		&.type-epilogue{
			&:before{width:25px; height:28px; margin:0px auto; background:url('../images/common/container/write_icon.png');}
		}
		&.type-medical{
			&:before{width:32px; height:21px; margin:0px auto; background:url('../images/common/container/doc_icon.png');}
		}
		&.type-location{
			&:before{width:20px; height:28px; margin:0px auto; background:url('../images/common/container/location_icon.png');}
		}
		&.type-academic{
			&:before{width:32px; height:32px; margin:0px auto; background:url('../images/common/container/academic_icon.png');}
		}
		&.type-society{
			&:before{width:33px; height:29px; margin:0px auto; background:url('../images/common/container/society_icon.png');}
		}
		&.type-live{
			&:before{width:31px; height:23px; margin:0px auto; background:url('../images/common/container/live_icon.png');}
		}
		&.type-knowledge{
			&:before{width:24px; height:33px; margin:0px auto; background:url('../images/common/container/knowledge_icon.png');}
		}
	}
	&__txt{position:relative; margin:20px 0 0 0; font-size:15px; color:$black2;
	}
	@media only screen and (max-width: $tablet-size) {padding-top:60px; padding-bottom:100px;
		&__wrap{padding:0;
			&.type-another{padding:80px 42px 0;}
			&.type-sitemap{padding:0 42px 0;}
			&.type-visual{padding: 150px 40px 0;}
		}
	}
	@media only screen and (max-width: $mobile-size) {position:relative; padding-top:50px; padding-bottom:50px;
		&__top{padding-top:70px; padding-bottom:0;
			&.type-no-lnb{padding:30px 0;}
		}
		&__tit{font-size:2.6rem;
			&:before{display:none;}
			&:after{display:block; width:18px; height:0; margin:16px auto 0; border-top:2px solid $color-line; content:'';}
		}
		&__txt{display:none;}
		&__wrap{padding:39px 0 0 0;
			&.type-another{padding:22px 12px 0;}
			&.type-sitemap{padding:0 12px 0;}
			&.type-visual{padding: 75px 12px 0;}
		}
	}
}

/*common*/
.hidden-pm{display:none !important;}
.hidden-m{display:inline-block !important;}
.hidden-pt{display:none !important;}
.hidden-p{display:none !important;}
@media only screen and (max-width: $tablet-size) {
	.hidden-p{display:block !important;;}
	.hidden-t{display:none !important;}
	.hidden-pt{display:none !important;}
	.hidden-tm{display:none !important;}
	.hidden-pm{display:block !important;}
	.hidden-m{display:block !important;}
}
// @media only screen and (max-width:$tablet-size) and (orientation: landscape){
// 	.hidden-pm{display:none !important;}
// 	.hidden-m{display:inline-block !important;}
// 	.hidden-pt{display:none !important;}
// 	.hidden-p{display:none !important;}
// 	// .hidden-tm{display:block !important;}
// }
@media only screen and (max-width: $mobile-size) {
	.hidden-t{display:block !important;}
	.hidden-m{display:none !important;}
	.hidden-pt{display:block !important;}
	.hidden-pm{display:none !important;}
}
.inline-block{display:inline-block;}
.content{
	@media only screen and (max-width: $tablet-size) {
		&__wrap{padding:0 65px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:0 12px;}
	}
}
.font-web{font-family: 'Noto Sans KR';}
.point-color{color:$color-point; font-weight:$regular;}
.point-color2{color:$color-line;}

.vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;
	@media only screen and (max-width: $tablet-size) {
		&.clear-t{display:block; width:auto; height:auto; vertical-align: baseline;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.clear-m{display:block; width:auto; height:auto; vertical-align: baseline;}
	}
}
//slick 슬라이드점
.slide-dot{margin:0; padding:0; font-size:0;
    li{display:inline-block; list-style:none;
        & + li{margin-left:12px;}
        &.slick-active button{background-color:$color-point;}
        & button{overflow:hidden; display:inline-block; width:8px; height:8px; border:none; margin:0; padding:0; text-indent:-9999px;  border-radius:50%; box-sizing:border-box;
            background-color:#ccc; cursor:pointer;}
    }
}
//딤처리
.dim{display:none; overflow:hidden; position:fixed; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0.7); content:''; text-indent:-9999px; z-index:40;
	&.is-active{display:block;}
	&.type-lnb{top:90px;
		&.is-full{top:0;}
	}
	&.type-sms{z-index:50; top:0;}
}


.thumbnail-v1{margin-top:64px;
	$this:&;
	&.type-search{margin-top:0;
		#{$this}__list{margin-top:-30px;}
		#{$this}__item{margin-top:30px;}
	}
	&__list{margin:0 0 0 -26px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; width:25%; padding-left:26px; box-sizing:border-box; list-style:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:69.91%;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:28px; height:32px; background:url('../images/media/media_play.png'); margin:auto; content:''; z-index:1;}
		&.is-active, &.is-on{
			&:after{position:absolute; display:block; width:100%; height:100%; border:3px solid $color-point; content:''; box-sizing:border-box; z-index:2;}
		}
	}
	&__txt{margin:16px 0 0 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#666; font-size:15px;}
	&__color1{color:$color-point;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; text-indent:-9999px; z-index:10;}
	@media only screen and (max-width:$tablet-size){
		&.type-search{
			#{$this}__item{width:50%;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-top:35px;
		&.type-search{
			#{$this}__list{margin-top:-20px;}
			#{$this}__item{margin-top:20px;}
		}
		&__list{margin-top:-30px; margin-left:-12px;}
		&__item{width:50%; margin-top:30px; padding-left:12px;}
		&__txt{display:-webkit-box; height:36px; -webkit-line-clamp:2; -webkit-box-orient: vertical; word-wrap:break-word; white-space:normal; margin-top:10px; font-size:1.4rem;}
		&__img{
			&:before{width:16px; height:19px; background:url('../images/media/media_play_m.png'); background-size:16px 19px;}
			&.is-active{
				&:after{display:none;}
			}
		}
	}
}
.hidden-tit{position:absolute; overflow:hidden; width:0; height:0;text-indent:-9999px;}

.explanation{padding:60px 0; border-top:1px solid #dddddd; background-color:#fcfcfc; box-sizing:border-box;
	&__wrap{max-width:1296px; width:100%; margin:0px auto; padding:0 8px; box-sizing:border-box;}
	&__tit{margin:0; font-size:20px; color:#999;}
	&__subtit{margin:24px 0 0 0; font-size:12px; color:#8a8a8a; line-height:1.8;}
	@media only screen and (max-width:$tablet-size){
		&__wrap{padding:0 45px;}
	}
	@media only screen and (max-width:$mobile-size){padding:30px 0;
		&__wrap{padding:0px 13px;}
		&__tit{font-size:1.6rem;}
		&__subtit{font-size:1rem;}
	}
}

.map-motion{
	&__bg,&__fake{display:none;}
	@media only screen and (max-width:$tablet-size){
		&__bg{position:absolute; top:0; left:0; bottom:0; right:0; display:block; background-color:rgba(0,0,0,0.8); opacity:0; text-align:center; z-index:5; transition: opacity 0.8s;
            &.is-active{opacity:1;}
            &.is-important{display:none !important;}
        }
        &__fake{position:absolute; top:0; left:0; bottom:0; right:0; display:block; text-align:center; z-index:3; opacity:0.5;
            &.is-hide{display:none;}
        }
        &__noti{position:absolute; top:60%; left:0; right:0; font-size:1.8rem; margin:0 auto; color:#fff; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); font-weight:$bold;}
	}
}
