<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_checkup %>

<div class="intro nth-11">
	<div class="intro-video">
		<iframe src="https://player.vimeo.com/video/351334540?muted=1&amp;autoplay=1" class="intro-video__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
	</div>
	<div class="intro__bg"></div>
	 <!-- sns -->
	<ul class="intro-sns">
		<li class="intro-sns__item">
			<a href="https://www.facebook.com/BanobagiPlasticSurgery" target="_blank" class="intro-sns__link">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.instagram.com/banobagi15886508/" target="_blank" class="intro-sns__link">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://blog.naver.com/banobagips" target="_blank" class="intro-sns__link type-blog">
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.youtube.com/c/banobagips" target="_blank" class="intro-sns__link">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
	</ul>
	<!-- //sns -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				아름다움을 넘어
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				자연스러움이 보여질 때까지, <br>
				한 순간도 눈을 떼지 않는
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<h3 class="intro-inner__tit">나는 <span class="point-color">디테일리스트</span>입니다</h3>
				</div>
				<h3 class="intro-inner__tit" id="typed"></h3>
			</div>
			<p class="intro-inner__subtit js-main-txt3">이것이 우리가 스스로를 디테일리스트라 부르는 이유</p>
		</div>
	</div> -->

	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt animated fadeInUp">
				행복한 삶을 위한 선택, <br>
				<span class="intro-inner__point">바노바기</span>가 함께 합니다.
			</p>
			<p class="intro-inner__subtit animated fadeInUp delay-1s">렛미인 타일랜드 공식지정의료기관 바노바기성형외과</p>
		</div>
	</div> -->

	<div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt">
				<span class="intro-inner__motion animated fadeInUp">환자의 존엄을 먼저 생각하고</span>
				<span class="intro-inner__motion animated fadeInUp delay-1s">의학의 기본에 충실하는</span>
				<span class="intro-inner__motion animated fadeInUp delay-2s">나는 <span class="intro-inner__point">디테일리스트</span> 입니다.</span>
			</p>
			<!-- <p class="intro-inner__subtit animated fadeInUp delay-3s">이것이 우리가 스스로를 디테일리스트라 부르는 이유</p> -->
			<p class="intro-inner__bar animated fadeInUp delay-3s">이것이 우리가 스스로를 디테일리스트라 부르는 이유</p>
		</div>
	</div>

	<!-- intro-slide -->
	<div class="intro-slide">
		<ul class="intro-slide__list js-intro-slide">
			<li class="intro-slide__item nth-1">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">I am <span class="intro-slide__point">Detailist</span></h3>
						<p class="intro-slide__txt">
							아름다움을 넘어 자연스러움이 보여질 때까지,<br>
							한 순간도 눈을 떼지 않는 나는 디테일리스트 입니다.
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-2">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">From <span class="intro-slide__point">Safety</span></h3>
						<p class="intro-slide__txt">
							변수에 항상 대응할 수 있도록,<br>
							아름다움을 위해 위험을 감수하지 않도록.
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-3">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">From <span class="intro-slide__point">Trust</span></h3>
						<p class="intro-slide__txt">
							엄마가 딸에게, 또 딸이 엄마에게, 친구가 친구에게<br>
							누구나 믿고 소개 할 수 있는 병원
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-4">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">After <span class="intro-slide__point">Care</span></h3>
						<p class="intro-slide__txt">
							수술 후 맞춤 케어로 효과적인 부기, 멍 관리<br>
							수술 별 맞춤 팔로업 시스템으로 만족도 케어
						</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="intro-slide__area">
			<div class="intro-slide__progress">
				<span class="intro-slide__bar"></span>
			</div>

			<div class="intro-slide__counter"></div>
		</div>
	</div>
	<!-- //intro-slide -->

	<!-- //txt-box-->
	<div class="scroll">
		<p class="scroll__txt">SCROLL</p>
		<div class="scroll__inner">
			<i class="scroll__ball"></i>
		</div>
	</div>
</div>
<!-- focus -->
<div class="focus">
	<div class="focus__area">
		<h3 class="focus__tit main__tit">focus PICK</h3>
		<p class="focus__txt">바노바기 기획사이트 및 현재 진행하는 프로그램을 한눈에 보실 수 있습니다</p>
		<div class="focus__wrap">
			<div class="focus__inner">
				<div class="focus__wide">
					<div class="focus__banner type-wide">
						<img src="../../images/main/banner/main_focuspick_wide_1.jpg" loading="lazy" alt="10년 후를 생각하는 바노바기 유방클리닉 - 바로가기" class="img-responsive hidden-tm">
						<img src="../../images/main/banner/main_focuspick_1_m.jpg" loading="lazy" alt="10년 후를 생각하는 바노바기 유방클리닉 - 바로가기" class="img-responsive hidden-p">
						<a href="http://www.btsbanobagi.com" class="focus__link" target="_blank">바로가기</a>
					</div>
				</div>
				<div class="focus__normal">
					<div class="focus__banner type-noraml">
						<img src="../../images/main/banner/main_focuspick_fix.jpg" loading="lazy" alt="추석연휴" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<div class="focus__slider">
			<div class="focus__overflow">
				<ul class="focus__list">
					<li class="focus__item">
						<div class="focus__bg">
							<img src="../../images/main/focus_img_01.jpg" loading="lazy" alt="" class="focus__img">
							<!-- 수험생 pick -->
							<span class="focus__exam">수험생 Pick</span>
						</div>
						<div class="focus__box">
							<p class="focus__category type-1">기획사이트</p>
							<h4 class="focus__item-tit">비절골 안면윤곽 컨설팅<!--10자--></h4> <!--10자 -->
							<p class="focus__item-txt">
								<span class="focus__item-block">박종림 원장님의 뼈를 깎지 않는</span><!--17자 -->
								<span class="focus__item-block">비절골 안면윤곽 컨설팅.</span><!--17자 -->
							</p>
							<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
						</div>
					</li>
					<li class="focus__item">
						<div class="focus__bg">
							<a href="" class="focus__link">
								<img src="../../images/main/focus_img_01.jpg" loading="lazy" alt="" class="focus__img">
							</a>
						</div>
						<div class="focus__box">
							<p class="focus__category type-2">프로모션</p>
							<h4 class="focus__item-tit">비절골 안면윤곽 컨설팅</h4>
							<p class="focus__item-txt">
								<span class="focus__item-block">박종림 원장님의 뼈를 깎지 않는</span><!--17자 -->
								<span class="focus__item-block">비절골 안면윤곽 컨설팅.</span><!--17자 -->
							</p>
							<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
						</div>
					</li>
					<li class="focus__item">
						<div class="focus__bg">
							<img src="../../images/main/focus_img_01.jpg" loading="lazy" alt="" class="focus__img">
						</div>
						<div class="focus__box">
							<p class="focus__category type-1">기획사이트</p>
							<h4 class="focus__item-tit">비절골 안면윤곽 컨설팅</h4>
							<p class="focus__item-txt">
								<span class="focus__item-block">박종림 원장님의 뼈를 깎지 않는</span><!--17자 -->
								<span class="focus__item-block">비절골 안면윤곽 컨설팅.</span><!--17자 -->
							</p>
							<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
						</div>
					</li>
					<li class="focus__item">
						<div class="focus__bg">
							<img src="../../images/main/focus_img_01.jpg" loading="lazy" alt="" class="focus__img">
						</div>
						<div class="focus__box">
							<p class="focus__category type-1">기획사이트</p>
							<h4 class="focus__item-tit">비절골 안면윤곽 컨설팅</h4>
							<p class="focus__item-txt">
								<span class="focus__item-block">박종림 원장님의 뼈를 깎지 않는</span><!--17자 -->
								<span class="focus__item-block">비절골 안면윤곽 컨설팅.</span><!--17자 -->
							</p>
							<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
						</div>
					</li>
				</ul>
			</div>
			<a href="" class="focus__list-btn focus__list-prev js-focus-prev">이전</a>
			<a href="" class="focus__list-btn focus__list-next js-focus-next">다음</a>
		</div>
	</div>
</div>
<!-- //focus -->

<!-- family-site -->
<div class="family-site">
	<div class="family-site__slider">
		<ul class="family-site__list2 js-family-slider">
			<li class="family-site__item2">
				<img src="../../images/main/family/family_slide_1.jpg" class="img-w100" alt=""/>
				<div class="family-site__box">
					<div class="family-site__vertical">
						<p class="family-site__tit2">
							매일매일 예뻐지기 <span class="weight-bold">바노바기 쁘띠</span>
						</p>
						<a href="https://www.petitbanobagi.com/" target="_blank" class="family-site__shortcut2">사이트 바로가기</a>
					</div>
				</div>
			</li>
			<li class="family-site__item2">
				<img src="../../images/main/family/family_slide_2.jpg" class="img-w100" alt=""/>
				<div class="family-site__box">
					<div class="family-site__vertical">
						<p class="family-site__tit2">
							1 year care <span class="weight-bold">바노바기 모발이식클리닉</span>
						</p>
						<a href="/hair/hairDetail.php" target="_blank" class="family-site__shortcut2">사이트 바로가기</a>
					</div>
				</div>
			</li>
			<li class="family-site__item2">
				<img src="../../images/main/family/family_slide_3.jpg" class="img-w100" alt=""/>
				<div class="family-site__box">
					<div class="family-site__vertical">
						<p class="family-site__tit2">
							10년 후를 생각하는 <span class="weight-bold">바노바기 유방클리닉</span>
						</p>
						<a href="http://www.btsbanobagi.com/" target="_blank" class="family-site__shortcut2">사이트 바로가기</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="family-site__wrap">
		<ul class="family-site__list">
			<li class="family-site__item">
				<a href="https://www.petitbanobagi.com/" target="_blank" class="family-site__link">
					<div class="family-site__img">
						<img src="../../images/main/family/family_img_1.jpg" class="img-w100" alt="매일매일 예뻐지기"/>

						<div class="family-site__layer">
							<div class="family-site__inner">
								<div class="family-site__vertical">
									매일매일<br>
									예뻐지기
								</div>
							</div>
						</div>
					</div>
					<p class="family-site__tit">
						바노바기<br class="hidden-pt">
						쁘띠
					</p>
					<p class="family-site__shortcut">사이트 바로가기</p>
				</a>
			</li>
			<li class="family-site__item">
				<a href="/hair/hairDetail.php" target="_blank" class="family-site__link">
					<div class="family-site__img">
						<img src="../../images/main/family/family_img_2.jpg" class="img-w100" alt="1 year care 수술 책임 보증"/>

						<div class="family-site__layer">
							<div class="family-site__inner">
								<div class="family-site__vertical">
									1 year care<br>
									수술 책임 보증
								</div>
							</div>
						</div>
					</div>
					<p class="family-site__tit">
						바노바기<br class="hidden-pt">
						모발이식클리닉
					</p>
					<p class="family-site__shortcut">사이트 바로가기</p>
				</a>
			</li>
			<li class="family-site__item">
				<a href="http://www.btsbanobagi.com/" target="_blank" class="family-site__link">
					<div class="family-site__img">
						<img src="../../images/main/family/family_img_3.jpg" class="img-w100" alt="10년 후를 생각하는"/>

						<div class="family-site__layer">
							<div class="family-site__inner">
								<div class="family-site__vertical">
									10년 후를<br>
									생각하는
								</div>
							</div>
						</div>
					</div>
					<p class="family-site__tit">
						바노바기<br class="hidden-pt">
						유방클리닉
					</p>
					<p class="family-site__shortcut">사이트 바로가기</p>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- //family-site -->

<!--main-video-->
<div class="main-video">
	<div class="main-video__wrap">
		<ul class="main-video__list">
			<li class="main-video__item">
				<div class="main-video__outer">
					<h3 class="main-video__tit">바노바기TV</h3>
					<p class="main-video__txt">바노바기 성형의 모든것 영상으로 바로보기</p>
					<a href="https://www.youtube.com/channel/UC2lzYQ5kXBK0gkVDe5StZzQ" class="main-video__btn" target="_blank">
						<span>바노바기TV 채널 바로가기</span>
					</a>
				</div>
			</li>
			<li class="main-video__item type-video">
				<div class="main-video__inner">
					<div class="main-video__box">
						<!-- <div class="main-video__area nth-1">
							<a href="https://www.youtube.com/watch?v=x8NRoYcIaK4" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
						<div class="main-video__area nth-2">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<!-- <div class="main-video__area nth-3">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<!-- <div class="main-video__area nth-4">
							<a href="https://www.youtube.com/watch?v=VOP8S1K2_yg" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<!-- <div class="main-video__area nth-5">
							<a href="https://www.youtube.com/watch?v=eLDAIv5h4UM&" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<div class="main-video__area nth-6">
							<a href="https://www.youtube.com/watch?v=eLDAIv5h4UM&" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--//main-video-->
<!-- real -->
<div class="real">
	<div class="real__wrap main__wrap">
		<div class="real__header">
			<span class="real__txt">아름다운 변화 &amp; 새로운 출발</span>
			<h3 class="real__tit">
				BANOBAGI<br class="hidden-p"> REAL STORY
			</h3>
		</div>
		<div class="real__area">
			<div class="real__box">
				<ul class="real__list">
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
			<div class="real__box type-another">
				<ul class="real__list">
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //real -->
<div class="detail-list">
	<div class="main__wrap">
		<div class="detail-list__wrap">
			<ul class="detail-list__list js-list-slide">
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										환자의 10년 후 모습까지 예측하는
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										저는 환자의 이야기를 오래 듣습니다. 그래야 아름다움을 오래 유지할 수 있습니다. 환자와의 충분한 교감, 좋은  수술의 전제 조건입니다
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">반재상</p>
										<p class="detail-list__career">
											성형외과전문의 20년 경력, 동안·체형성형 파트 대표원장
										</p>
										<div class="detail-list__align">
											<a href="" class="detail-list__link main-btn">상세 이력 확인하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										고객의 말하지 못하는<br>
										고민까지 알아 채는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										고객분들 표정만 보고도, 말하지 못하시는 고민까지 알아채고 최대한 편안하게 상담해드립니다
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">이민영</p>
										<p class="detail-list__career">
											바노바기성형외과 상담 총괄 실장, 12년 근무
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 이민영-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										모든 치료 과정을<br>
										세심하게 케어하는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										수술 후에 어떻게 치료하는지도 무척 중요합니다. 더 좋은 결과를 위해 항상 세심하게 주의합니다
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">양선미</p>
										<p class="detail-list__career">
											바노바기성형외과 치료 실장, 10년 근무
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 양선미-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										환자의 안전을<br>
										체계적으로 체크하는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										환자의 심박수나 혈압 등을 디테일하게 모니터링 하는 것, 안전한 수술의 기본입니다.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">김용주</p>
										<p class="detail-list__career">
											마취과전문의 22년 경력, 바노바기성형외과 원장
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 김용주-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										수준 높은 세포치료를<br>
										위해 끊임없이 연구하는<br>
										나는 <strong class="detail-list__point">디테일리스트</strong>입니다
									</h3>
									<p class="detail-list__txt">
										바노바기 줄기세포는 정확한 세포 분리 후 유효 세포 수를 확인하는 셀카운팅 시스템까지 갖추고 있어 정확합니다.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">고성건</p>
										<p class="detail-list__career">
											줄기세포 연구원 6년 근무
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
			</ul>
			<a href="" class="detail-list__btn type-prev js-slider-prev">이전</a>
			<a href="" class="detail-list__btn type-next js-slider-next">다음</a>
		</div>
		<div class="detail-thumbnail">
			<ul class="detail-thumbnail__list">
				<li class="detail-thumbnail__item type-logo">
					<div class="detail-thumbnail__outer">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__company">BANOBAGI</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">반재상</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영 실장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">이민영</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">양선미</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">김용주</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건 연구원" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">고성건</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="main-search">
	<div class="main-search__wrap">
		<h3 class="main-search__tit main__tit">SEARCH</h3>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">검색</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="검색어를 입력해주세요">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">인기검색어</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">1</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">2</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">3</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">4</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">5</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">6</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">추천검색어</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>안티에이징
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div><!-- //main-keyword__box-->
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>

<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						체계적인 검진 시스템
					</h3>
					<p class="detail-slide__txt">
						사전 검진만 20여 가지로 꼼꼼하고 체계적인 검진 시스템으로 <br>안전하고 만족도 높은 결과 유도
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img0.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-tm">
						<img src="../../images/main/detail_img0_t.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-p">
						<img src="../../images/main/detail_img1.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						철저한 안전시스템
					</h3>
					<p class="detail-slide__txt">
						무균 에어샤워 시스템, 멸균 소독 관리, 마취과전문의 상주 <br>응급상황에 대비한 비상발전 시스템 등 구비
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						서울대 출신 전문의 집단
					</h3>
					<p class="detail-slide__txt">
						서울대 출신 성형외과 전문의 집단 <br><?php echo $sinceYear;?>년 동안 축적된 노하우, 분야별 전담팀 운영, 디테일한 수술 스킬
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img3_t.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						환자케이스 분석 데이터
					</h3>
					<p class="detail-slide__txt">
						<?php echo $sinceYear;?>년 동안 축적된 데이터 분석, 나이별, 지역별, 성별 케이스 분석 <br>과학적이고 체계적인 맞춤 수술 유도
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						수술 후 케어시스템
					</h3>
					<p class="detail-slide__txt">
						수술 후 맞춤 케어로 효과적인 부기, 멍 관리 <br>수술 별 맞춤 팔로업 시스템으로 만족도 케어
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>

<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map"></div><!-- 다음카카오지도-->
		<div class="map-motion__fake">
			<div class="map-motion__bg">
				<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
			</div>
		</div>
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">CONTACT US</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">위치</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">서울시 강남구 논현로 517</li>
							<li class="main-location__item">서울특별시 강남구 역삼동 641-9</li>
							<li class="main-location__item">역삼역 6번 출구 , 언주역 7번 출구</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">시간</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								평일 9:30 ~ 18:30
							</li>
							<!-- <li class="main-location__item">
								금요일 9:30 ~ 20:00<span class="main-location__night">야간진료</span>
							</li> -->
							<li class="main-location__item">
								토요일 9:30 ~ 16:00<br>
								(3/16, 4/20, 5/18, 6/15, 7/20 휴진)
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">전화</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="" class="main-location__link">1588. 6508</a>/<a href="" class="main-location__link">02. 562. 6001</a></li>
						</ul>
					</dd>
				</dl>
				<div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
