<%
	type = "content"
	page = "test"
%>

<% include ../_include/_header %>
<style>
.scroll-content { }
.scroll-content-x { padding-bottom:15px; }
.scroll-content-y { padding-right:15px; }
.scroll-track { width:10px; height:10px; background:#d5d5d5; }
.scroll-track-x { left:0; bottom:0; }
.scroll-track-y { right:0; top:0; }
.scroll-neutralzone { right:0; bottom:0; width:10px; height:10px; background:#d5d5d5; }
.scroll-bar { width:10px; height:10px; background:#000; }
.scroll-bar.active { background:#fff; }
.scroll-arrow { width:10px; height:10px; background:#000; }
.scroll-arrow:active { background:#fff; }
.scroll-arrow-left { left:0; top:0; margin-right:1px; }
.scroll-arrow-right { right:0; top:0; margin-left:1px; }
.scroll-arrow-up { left:0; top:0; margin-bottom:1px; }
.scroll-arrow-down { left:0; bottom:0; margin-top:1px; }
.box{position:relative; display:inline-block;  margin-top:200px; width:400px; }
.box.nth-1 .img-box{position:relative;  width:100%; padding-bottom:150%;height:0; background:url('../../images/test/1/1.jpg') no-repeat center center / cover; transition:all 0.1s; }
.box.nth-1 .img-box__inner{position:absolute; top:0; left:0; display:block; background:url('../../images/test/1/1.jpg') no-repeat center center / cover;  width:100%; height:100%; transition:all 0.1s; content:'';}
.box.nth-2 .img-box{position:relative;  width:100%; padding-bottom:150%;height:0; background:url('../../images/test/2/1.jpg') no-repeat center center / cover; transition:all 0.1s; }
.box.nth-2 .img-box__inner{position:absolute; top:0; left:0; display:block; background:url('../../images/test/2/1.jpg') no-repeat center center / cover;  width:100%; height:100%; transition:all 0.1s; content:'';}
.slider{display:inline-block;}
</style>
<div class="container" style="text-align:center;">
	<% include ../_include/_lnb %>
	<div class="box nth-1">
		<div class="img-box">
			<div class="img-box__inner"></div>
		</div>
	</div>
	<div class="box nth-2">
		<div class="img-box">
			<div class="img-box__inner"></div>
		</div>
	</div><br>
	<div id="scroll-presetpv-2-1" class="slider slider-x" style="width:400px;">
		<div data-fsflag="wrapper" class="scroll-content scroll-content-x"></div>
		<div data-fsflag="track-x" class="scroll-track scroll-track-x">
			<div data-fsflag="bar-x" class="scroll-bar scroll-bar-x">
			</div>
		</div>
	</div>
	<div id="scroll-presetpv-2-2" class="slider slider-x" style="width:400px;">
		<div data-fsflag="wrapper" class="scroll-content scroll-content-x"></div>
		<div data-fsflag="track-x" class="scroll-track scroll-track-x">
			<div data-fsflag="bar-x" class="scroll-bar scroll-bar-x">
			</div>
		</div>
	</div>


</div><!-- //container-->
<% include ../_include/_footer %>
