<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="../../css/program/artecoll.css"/>

<div class="cont">
	<img src="../../images/program/artecoll/artecoll_img_1.jpg" loading="lazy" alt="어제보다 오늘이 더 아름다운 비결, 바노바기 아테콜입니다. 반영구필러 아테콜" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_1_m.jpg" loading="lazy" alt="어제보다 오늘이 더 아름다운 비결, 바노바기 아테콜입니다. 반영구필러 아테콜" class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_2.jpg" loading="lazy" alt="그녀들의 우아한 자기 관리, 아테콜이기에 가능합니다." class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_2_m.jpg" loading="lazy" alt="그녀들의 우아한 자기 관리, 아테콜이기에 가능합니다." class="hidden-p"/>

	<div class="cont__box type-video">
		<div class="cont__area">
			<div class="cont__inner">
				<div class="cont__video">
					<div class="program-video">
						<div class="program-video__wrap">
							<a href="" class="program-video__btn">play</a>
							<img src="../../images/program/artecoll/artecoll_bg.jpg" class="img-w100" alt="">
						</div>
					</div>

					<!-- <iframe src="https://www.youtube.com/embed/ue0-I1GA_Us" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
					<div id="program-iframe"></div>
				</div>
			</div>
		</div>
	</div>

    <div class="cont__box">
        <div class="cont__area">
            <div class="cont-slider">
                <ul class="cont-slider__list">
                    <li class="cont-slider__item">
						<img src="../../images/program/artecoll/artecoll_img_3_1.jpg" loading="lazy" alt="#자신감있는 #나를위한선택 #아테콜 아테콜필러, 자신감을 위한 탁월한 선택입니다." class="hidden-tm">
                        <img src="../../images/program/artecoll/artecoll_img_3_1_m.jpg" loading="lazy" alt="#자신감있는 #나를위한선택 #아테콜 아테콜필러, 자신감을 위한 탁월한 선택입니다." class="hidden-p">
                    </li>
                    <li class="cont-slider__item">
						<img src="../../images/program/artecoll/artecoll_img_3_2_u.jpg" loading="lazy" alt="#10년동안 #아름다운비결 #나를위한선택 아름다워 보이고 싶은 오늘, 아테콜 하나면 충분해요." class="hidden-tm">
                        <img src="../../images/program/artecoll/artecoll_img_3_2_m_u.jpg" loading="lazy" alt="#10년동안 #아름다운비결 #나를위한선택 아름다워 보이고 싶은 오늘, 아테콜 하나면 충분해요." class="hidden-p">
                    </li>
                    <li class="cont-slider__item">
						<img src="../../images/program/artecoll/artecoll_img_3_3.jpg" loading="lazy" alt="#반영구필러 #믿을수있는 #나를위한선택 매년 반복해서 시술 받을 필요가 없어서 부담스럽지 않더라고요" class="hidden-tm">
                        <img src="../../images/program/artecoll/artecoll_img_3_3_m.jpg" loading="lazy" alt="#반영구필러 #믿을수있는 #나를위한선택 매년 반복해서 시술 받을 필요가 없어서 부담스럽지 않더라고요" class="hidden-p">
                    </li>
                </ul>

                <a href="" class="cont-slider__btn type-prev">이전</a>
				<a href="" class="cont-slider__btn type-next">다음</a>
            </div><!-- //cont-slider -->
        </div><!-- //cont__area -->
    </div><!-- //cont__box -->

    <img src="../../images/program/artecoll/artecoll_img_4.jpg" loading="lazy" alt="필러 반복 시술, 위험할 수 있습니다!" class="hidden-tm"/>
	<img src="../../images/program/artecoll/artecoll_img_4_m.jpg" loading="lazy" alt="필러 반복 시술, 위험할 수 있습니다!" class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_5.jpg" loading="lazy" alt="안전이 무엇보다 최우선이어야 합니다. 나를 위한 선택, 아테콜입니다." class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_5_m.jpg" loading="lazy" alt="안전이 무엇보다 최우선이어야 합니다. 나를 위한 선택, 아테콜입니다." class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_6_u.jpg" loading="lazy" alt="필러, 병원 어떤 기준으로 선택하시나요?" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_6_m_u.jpg" loading="lazy" alt="필러, 병원 어떤 기준으로 선택하시나요?" class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_7.jpg" loading="lazy" alt="입증된 원재료, 엄격한 생산 방식, 계획된 시술 시스템까지 성분의 차이가 결과의 차이를 만듭니다." class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_7_m.jpg" loading="lazy" alt="입증된 원재료, 엄격한 생산 방식, 계획된 시술 시스템까지 성분의 차이가 결과의 차이를 만듭니다." class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_8_u.jpg" loading="lazy" alt="Key Point 01. 국내 런칭 20년, 100만명 이상의 경험" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_8_m_u.jpg" loading="lazy" alt="Key Point 01. 국내 런칭 20년, 100만명 이상의 경험" class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_9_u.jpg" loading="lazy" alt="반영구 필러는 인체에 주입되기 때문에 안전성이 가장 중요합니다 - 반영구 필러 아테콜 원개발자 닥터 렘펠" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_9_m_u.jpg" loading="lazy" alt="반영구 필러는 인체에 주입되기 때문에 안전성이 가장 중요합니다 - 반영구 필러 아테콜 원개발자 닥터 렘펠" class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_10.jpg" loading="lazy" alt="Key Point 02. 40개국 승인 제품 Key Point 03. 제한된 수량, 제한된 시술" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_10_m.jpg" loading="lazy" alt="Key Point 02. 40개국 승인 제품 Key Point 03. 제한된 수량, 제한된 시술" class="hidden-p"/>

    <img src="../../images/program/artecoll/artecoll_img_11.jpg" loading="lazy" alt="아테콜 시술 전 반드시 확인하세요!" class="hidden-tm"/>
	<img src="../../images/program/artecoll/artecoll_img_11_m.jpg" loading="lazy" alt="아테콜 시술 전 반드시 확인하세요!" class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_12.jpg" loading="lazy" alt="살아있는 임플란트로써 체내에서 작용하기 때문에 아테콜 시술 결과는 시간 경과에 따라 나타납니다." class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_12_m.jpg" loading="lazy" alt="살아있는 임플란트로써 체내에서 작용하기 때문에 아테콜 시술 결과는 시간 경과에 따라 나타납니다." class="hidden-p"/>

	<img src="../../images/program/artecoll/artecoll_img_13.jpg" loading="lazy" alt="아테콜, 어디에 맞으면 좋을까요?" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_13_m.jpg" loading="lazy" alt="아테콜, 어디에 맞으면 좋을까요?" class="hidden-p"/>

    <div class="cont__box type-bf">
        <div class="cont__area">
			<img src="../../images/program/artecoll/artecoll_txt_1.png" loading="lazy" alt="디테일하고 감각적인 시술로 자연스럽게 보정합니다." class="hidden-tm"/>
            <img src="../../images/program/artecoll/artecoll_txt_1_m.png" loading="lazy" alt="디테일하고 감각적인 시술로 자연스럽게 보정합니다." class="hidden-p"/>

            <div class="cont-bf">
				<div class="cont-bf__box">
	                <!-- <img src="../../images/program/artecoll/artecoll_tit_1.jpg" loading="lazy" alt="Before&After" class="hidden-tm"/> -->

	                <div class="bf-slider">
	                    <ul class="bf-slider__list">
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_1.jpg" loading="lazy" alt="[안티에이징/이미지개선] 팔자주름, 애플존, 콧대" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_1_m.jpg" loading="lazy" alt="[안티에이징/이미지개선] 팔자주름, 애플존, 콧대" class="hidden-p"/>
	                        </li>
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_2.jpg" loading="lazy" alt="[안티에이징/이미지개선] 팔자주름, 인디언주름, 입술, 턱끝" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_2_m.jpg" loading="lazy" alt="[안티에이징/이미지개선] 팔자주름, 인디언주름, 입술, 턱끝" class="hidden-p"/>
	                        </li>
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_3.jpg" loading="lazy" alt="[이미지개선] 이마, 미간" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_3_m.jpg" loading="lazy" alt="[이미지개선] 이마, 미간" class="hidden-p"/>
	                        </li>
	                        <li class="bf-slider__item">
								<img src="../../images/program/artecoll/artecoll_img_14_4.jpg" loading="lazy" alt="[이미지개선] 이마, 애플존, 눈밑" class="hidden-tm"/>
	                            <img src="../../images/program/artecoll/artecoll_img_14_4_m.jpg" loading="lazy" alt="[이미지개선] 이마, 애플존, 눈밑" class="hidden-p"/>
	                        </li>
	                    </ul>

	                    <a href="" class="bf-slider__btn type-prev">이전</a>
						<a href="" class="bf-slider__btn type-next">다음</a>
					</div>

					<img src="../../images/program/artecoll/artecoll_noti_1.jpg" loading="lazy" alt="본 이미지는 촬영조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다." class="hidden-tm"/>
	                <img src="../../images/program/artecoll/artecoll_noti_1_m.jpg" loading="lazy" alt="본 이미지는 촬영조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다." class="hidden-p"/>
                </div>
            </div>
        </div>
    </div>

	<img src="../../images/program/artecoll/artecoll_img_15_u.jpg" loading="lazy" alt="아테콜에 대한 다양한 궁금증, 지금 해결하세요!" class="hidden-tm"/>
    <img src="../../images/program/artecoll/artecoll_img_15_m_u.jpg" loading="lazy" alt="아테콜에 대한 다양한 궁금증, 지금 해결하세요!" class="hidden-p"/>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
	$(function () {
		$(".cont-slider__list").slick({
			autoplay: true, //자동슬라이드
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            prevArrow: ".cont-slider__btn.type-prev",
			nextArrow: ".cont-slider__btn.type-next",
            dots:true,
            dotsClass:'cont-slider__dot slide-dot',
			adaptiveHeight: true
		});

        $(".bf-slider__list").slick({
            autoplay: true, //자동슬라이드
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            prevArrow: ".bf-slider__btn.type-prev",
			nextArrow: ".bf-slider__btn.type-next",
        });
	})

	/**
	* Youtube API 로드
	*/
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var player;
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('program-iframe', {
			height: '360',
		 	width: '640',
		 	videoId: 'xldu-b_HbGc',
			events: {
				'onReady': onPlayerReady,               // 플레이어 로드가 완료되고 API 호출을 받을 준비가 될 때마다 실행
				'onStateChange': onPlayerStateChange    // 플레이어의 상태가 변경될 때마다 실행
			}
		});
	}
	function onPlayerReady(event) {
		// 플레이어 자동실행 (주의: 모바일에서는 자동실행되지 않음)
		//            event.target.playVideo();
	}
	var playerState;
	function onPlayerStateChange(event) {
		if (event.data === 0) {
			// 종료 후 작업을 여기에 코딩
			$(".program-video").show();
		}
	}

	function playYoutube() {
		// 플레이어 자동실행 (주의: 모바일에서는 자동실행되지 않음)
		player.playVideo();
	}
	function pauseYoutube() {
		player.pauseVideo();
	}
	function stopYoutube() {
		player.seekTo(0, true);     // 영상의 시간을 0초로 이동시킨다.
		player.stopVideo();
	}
	var played = false;
	function collectPlayCount(data) {
		if (data == YT.PlayerState.PLAYING && played == false) {
			// todo statistics
			played = true;
			console.log('statistics');
		}
	}

	$('.program-video__btn').on('click',function(e){
		e.preventDefault();
		playYoutube();
		$('.program-video').hide();
	});
</script>
