<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="css/softLifting.css"/>

<div class="cont">
	<div class="pc hidden-tm">
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_1.jpg" loading="lazy" alt="윤곽라인부터 피부탄력까지 동시에! - 비절개 소프트 리프팅"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_2.jpg" loading="lazy" alt="시간을 돌리는 리프팅의 기준을 바꾼다! - 비절개 소프팅이란?"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_3.jpg" loading="lazy" alt="비절개 소프트 리프팅 - 처진얼굴,윤곽라인 개선효과"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_4.jpg" loading="lazy" alt="비절개 소프트 리프팅 추천대상"/>
	    <div class="cont__box type-bf">
	        <div class="cont__area">
				<img src="../../images/program/softLifting_2019/bfaf_tit.png" loading="lazy" alt="Before & after"/>
	            <div class="cont-bf">
					<div class="cont-bf__box">
		                <div class="bf-slider">
		                    <ul class="bf-slider__list">
		                        <li class="bf-slider__item">
									<img src="../../images/program/softLifting_2019/bfaf_1.jpg" loading="lazy" alt="모델 1"/>
		                        </li>
		                        <li class="bf-slider__item">
									<img src="../../images/program/softLifting_2019/bfaf_2.jpg" loading="lazy" alt="모델 2"/>
		                        </li>
		                        <li class="bf-slider__item">
									<img src="../../images/program/softLifting_2019/bfaf_3.jpg" loading="lazy" alt="모델 3"/>
		                        </li>
		                        <li class="bf-slider__item">
									<img src="../../images/program/softLifting_2019/bfaf_4.jpg" loading="lazy" alt="모델 4"/>
		                        </li>
								<li class="bf-slider__item">
									<img src="../../images/program/softLifting_2019/bfaf_5.jpg" loading="lazy" alt="모델 5"/>
		                        </li>
		                    </ul>

		                    <a href="" class="bf-slider__btn type-prev">이전</a>
							<a href="" class="bf-slider__btn type-next">다음</a>
						</div>
	                </div>
	            </div>
				<img src="../../images/program/softLifting_2019/bfaf_txt.png" loading="lazy" alt="본 이미지는 촬영조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다."/>
	        </div>
	    </div>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_6.jpg" loading="lazy" alt="바노바기 성형외과"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_7.jpg" loading="lazy" alt="의료진 숙련도에 따라 다른결과! 얼굴 구조와 조직에 대한 이해가 기본입니다."/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_8.jpg" loading="lazy" alt="서울대 출신 성형외과전문의로 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
	</div>
	<div class="mo hidden-p">
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_1_m.jpg" loading="lazy" alt="윤곽라인부터 피부탄력까지 동시에! - 비절개 소프트 리프팅"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_2_m.jpg" loading="lazy" alt="시간을 돌리는 리프팅의 기준을 바꾼다! - 비절개 소프팅이란?"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_3_m.jpg" loading="lazy" alt="비절개 소프트 리프팅 - 처진얼굴,윤곽라인 개선효과"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_4_m.jpg" loading="lazy" alt="비절개 소프트 리프팅 추천대상"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_5_m.jpg" loading="lazy" alt="before & after"/>
		<img src="../../images/program/softLifting_2019/landing_soft_lifting_6_m.jpg" loading="lazy" alt="서울대 출신 성형외과전문의로 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
	</div>

</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
	$(function () {
		$(".cont-slider__list").slick({
			autoplay: true, //자동슬라이드
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            prevArrow: ".cont-slider__btn.type-prev",
			nextArrow: ".cont-slider__btn.type-next",
            dots:true,
            dotsClass:'cont-slider__dot slide-dot',
			adaptiveHeight: true
		});

        $(".bf-slider__list").slick({
            autoplay: true, //자동슬라이드
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            prevArrow: ".bf-slider__btn.type-prev",
			nextArrow: ".bf-slider__btn.type-next",
        });
	})
</script>
