<%
	type = "program"
	page = "landingContourAll"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/contour_190613/contour_all_01.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
		<img src="../../images/program/contour_190613/contour_all_01_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
		<img src="../../images/program/contour_190613/contour_all_02_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
		<div class="contour-all__area nth-1">
			<div class="contour-all__box" id="contour-june1">
				<div class="contour-all__outer">
					<div class="contour-all__wrap">
						<ul class="contour-all-tab">
							<li>
								<a href="#contour-june1">
									<img src="../../images/program/contour_190613/contour_all_btn1.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
									<img src="../../images/program/contour_190613/contour_all_btn1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
								</a>
							</li>
							<li>
								<a href="#contour-june2">
									<img src="../../images/program/contour_190613/contour_all_btn2.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
									<img src="../../images/program/contour_190613/contour_all_btn2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
								</a>
							</li>
							<li>
								<a href="#contour-june3">
									<img src="../../images/program/contour_190613/contour_all_btn3.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
									<img src="../../images/program/contour_190613/contour_all_btn3_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
								</a>
							</li>
							<li>
								<a href="#contour-june4">
									<img src="../../images/program/contour_190613/contour_all_btn4.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
									<img src="../../images/program/contour_190613/contour_all_btn4_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<img src="../../images/program/contour_190613/contour_all_02.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
			<img src="../../images/program/contour_190613/contour_all_03_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>

		</div>
		<div class="contour-all__box" id="contour-june2">
			<img src="../../images/program/contour_190613/contour_all_03.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
			<img src="../../images/program/contour_190613/contour_all_04_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
		</div>
		<div class="contour-all__box" id="contour-june3">
			<img src="../../images/program/contour_190613/contour_all_04.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
			<img src="../../images/program/contour_190613/contour_all_05_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
		</div>
		<div class="contour-all__box" id="contour-june4">
			<img src="../../images/program/contour_190613/contour_all_05.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
			<img src="../../images/program/contour_190613/contour_all_06_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
		</div>
		<div class="contour-all__area nth-2">
			<div class="contour-all__outer">
				<div class="contour-slider">
					<ul class="contour-slider__list">
						<li class="contour-slider__item">
							<div class="contour-slider__box">
								<iframe src="https://player.vimeo.com/video/341962205?title=0&byline=0&portrait=0" class="contour-slider__video1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
							</div>
						</li>
						<li class="contour-slider__item">
							<div class="contour-slider__box">
								<iframe src="https://player.vimeo.com/video/341962218?title=0&byline=0&portrait=0" class="contour-slider__video2" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
							</div>
						</li>
						<li class="contour-slider__item">
							<div class="contour-slider__box">
								<iframe src="https://player.vimeo.com/video/341962229?title=0&byline=0&portrait=0" class="contour-slider__video3" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
							</div>
						</li>
						<li class="contour-slider__item">
							<div class="contour-slider__box">
								<iframe src="https://player.vimeo.com/video/341962242?title=0&byline=0&portrait=0" class="contour-slider__video4" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
							</div>
						</li>
						<li class="contour-slider__item">
							<div class="contour-slider__box">
								<iframe src="https://player.vimeo.com/video/341962255?title=0&byline=0&portrait=0" class="contour-slider__video5" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
							</div>
						</li>
						<li class="contour-slider__item">
							<div class="contour-slider__box">
								<iframe src="https://player.vimeo.com/video/341962192?title=0&byline=0&portrait=0" class="contour-slider__video6" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
							</div>
						</li>
					</ul>
					<a href="#" class="contour-slider__btn type-prev js-slider1-prev"></a>
					<a href="#" class="contour-slider__btn type-next js-slider1-next"></a>
				</div>
			</div>
			<!-- <img src="../../images/program/contour_190613/contour_all_06.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/> -->
		</div>
		<img src="../../images/program/contour_190613/contour_all_07.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
		<img src="../../images/program/contour_190613/contour_all_08_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>
		<div class="contour-all__area nth-3">
			<div class="contour-all__outer">
				<div class="contour-all__inner">
					<div class="contour-slider__box">
						<div class="contour-all__big">
							<iframe src="https://www.youtube.com/embed/GjwwS7_Aqwk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="contour-all__inner2">
					<ul>
						<li>
							<a href="#">
								<img src="../../images/program/contour_190613/contour_youtube_1.jpg" class="img-w100" loading="lazy" alt="https://www.youtube.com/embed/GjwwS7_Aqwk"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../images/program/contour_190613/contour_youtube_2.jpg" class="img-w100" loading="lazy" alt="https://www.youtube.com/embed/6Fys9c3FSSM"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../images/program/contour_190613/contour_youtube_3.jpg" class="img-w100" loading="lazy" alt="https://www.youtube.com/embed/MwR2K5NcXFM"/>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="../../images/program/contour_190613/contour_youtube_4.jpg" class="img-w100" loading="lazy" alt="https://www.youtube.com/embed/bUnirvPo8y0"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<img src="../../images/program/contour_190613/contour_all_09.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
		<img src="../../images/program/contour_190613/contour_all_10_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>

		<img src="../../images/program/contour_190613/contour_all_10.jpg" class="img-w100 hidden-tm" loading="lazy" alt=""/>
		<img src="../../images/program/contour_190613/contour_all_11_m.jpg" class="img-w100 hidden-p" loading="lazy" alt=""/>

	</div>


<% include ../_include/_quick %>
<% include ../_include/_footer %>
