<%
	type = "program"
	page = "landingBody"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_bottom %>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_1.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_1_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_2.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_2_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
		<a href="01" class="program-body__btn" data-tab="1">
			상담신청
			<span class="program-body__wrap">
				<span class="program-body__img1 is-rotate"></span>
				<span class="program-body__img2"></span>
				<span class="program-body__img3"></span>
				<span class="program-body__txt"></span>
			</span>
		</a>
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_3.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_3_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
		<a href="02" class="program-body__btn" data-tab="2">
			상담신청
			<span class="program-body__wrap">
				<span class="program-body__img1 is-rotate"></span>
				<span class="program-body__img2"></span>
				<span class="program-body__img3"></span>
				<span class="program-body__txt"></span>
			</span>
		</a>
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_4.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_4_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
		<a href="03" class="program-body__btn" data-tab="3">
			상담신청
			<span class="program-body__wrap">
				<span class="program-body__img1 is-rotate"></span>
				<span class="program-body__img2"></span>
				<span class="program-body__img3"></span>
				<span class="program-body__txt"></span>
			</span>
		</a>
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_5.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_5_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
		<a href="04" class="program-body__btn" data-tab="4">
			상담신청
			<span class="program-body__wrap">
				<span class="program-body__img1 is-rotate"></span>
				<span class="program-body__img2"></span>
				<span class="program-body__img3"></span>
				<span class="program-body__txt"></span>
			</span>
		</a>
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_6.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_6_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
		<a href="05" class="program-body__btn" data-tab="5">
			상담신청
			<span class="program-body__wrap">
				<span class="program-body__img1 is-rotate"></span>
				<span class="program-body__img2"></span>
				<span class="program-body__img3"></span>
				<span class="program-body__txt"></span>
			</span>
		</a>
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_7.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_7_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
		<a href="05" class="program-body__btn" data-tab="6">
			상담신청
			<span class="program-body__wrap">
				<span class="program-body__img1 is-rotate"></span>
				<span class="program-body__img2"></span>
				<span class="program-body__img3"></span>
				<span class="program-body__txt"></span>
			</span>
		</a>
	</div>
	<div class="program-box">
		<img src="../../images/program/body_190410/program_body_8.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-tm">
		<img src="../../images/program/body_190410/program_body_8_m.jpg?ver=190730" loading="lazy" alt="" class="img-w100 hidden-p">
	</div>
	<div class="bottom-counsel">
		<div class="bottom-counsel__top">
			<div class="content-wrap bottom-counsel__wrap">
				<a href="" class="bottom-tag js-bottom-counsel">
					<span class="bottom-tag__wrap">상담신청</span>
				</a>
			</div>
		</div>
		<div class="bottom-counsel__bottom" id="bottom">
			<div class="content-wrap">
				<h3 class="bottom-counsel__tit">나한테 <strong>딱</strong> 맞는 바디스타일링 상담받기♥ </h3>
				<div class="bottom-counsel__area">
					<ul class="bottom-counsel__list">
						<li class="bottom-counsel__item type-select">
							<div class="bottom-select">
								<div class="bottom-select__wrap">
									<a href="#" class="bottom-select__tit">이벤트를 선택해주세요</a>
									<div class="bottom-select__box">
										<ul class="bottom-select__list">
											<li class="bottom-select__item" data-tab="1">01. 대용량지방흡입</li>
											<li class="bottom-select__item" data-tab="2">02. 전신지방흡입</li>
											<li class="bottom-select__item" data-tab="3">03. 듀얼슬림가슴축소</li>
											<li class="bottom-select__item" data-tab="4">04. 바디핏</li>
											<li class="bottom-select__item" data-tab="5">05. 젤틱</li>
											<li class="bottom-select__item" data-tab="6">06. 살쏙캡슐테라피</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="bottom-counsel__item type-input">
							<input type="text" class="input2" placeholder="이름을 입력하세요" />
						</li>
						<li class="bottom-counsel__item type-input">
							<input type="tel" class="input2" placeholder="연락처를 입력하세요" />
						</li>
						<li class="bottom-counsel__item type-btn">
							<button type="submit" class="bottom-counsel__btn">상담신청</button>
						</li>
					</ul>
				</div>
				<div class="bottom-counsel__check">
					<div class="bottom-counsel__box">
						<input type="checkbox" name="counselAgree1" id="counselAgree1" class="checkbox03" required="" aria-required="true">
						<label for="counselAgree1" class="">개인정보 수집 및 이용 동의 (필수)</label>
					</div>
					<div class="bottom-counsel__box">
						<input type="checkbox" name="counselAgree2" id="counselAgree2" class="checkbox03" required="" aria-required="true">
						<label for="counselAgree2" class=""> 마케팅 및 광고 활용 동의(선택)</label>
					</div>
					<a href="" class="bottom-counsel__link js-terms">[ 자세히보기 ]</a>
				</div>
			</div>
		</div>
	</div>


<% include ../_include/_quick %>
<% include ../_include/_footer %>
