<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/vlifting_1909/vlifting1909_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="당기고 빼면 착~붙는 밀착 V리프팅"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="얼굴 지방을 개선하고 처진 얼굴은 올려주는 밀착V리프팅"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="당기고 빼면 착~붙는 밀착 V리프팅"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="얼굴 지방을 개선하고 처진 얼굴은 올려주는 밀착V리프팅"/>
		<div class="vlifting-1909">
			<div class="vlifting-1909__wrap">
				<img src="../../images/program/vlifting_1909/vlifting1909_3_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="처진피부는 민트실로 올리고 - 강력한 리프팅으로 다 끌어 당겨!"/>
				<img src="../../images/program/vlifting_1909/vlifting1909_3_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="처진피부는 민트실로 올리고 - 강력한 리프팅으로 다 끌어 당겨!"/>
				<div class="vlifting-1909__area">
					<ul class="vlifting-1909__list">
						<li class="vlifting-1909__item nth-1">
							<div class="vlifting-1909__bg">
								<div class="vlifting-1909__outer">
									<div class="vlifting-1909__box">
										<span class="vlifting-1909__info">Before</span>
										<p class="vlifting-1909__tit">이중턱</p>
									</div>
								</div>
							</div>
						</li>
						<li class="vlifting-1909__item nth-2">
							<div class="vlifting-1909__bg">
								<div class="vlifting-1909__outer">
									<div class="vlifting-1909__box">
										<span class="vlifting-1909__info">Before</span>
										<p class="vlifting-1909__tit">볼살</p>
									</div>
								</div>
							</div>
						</li>
						<li class="vlifting-1909__item nth-3">
							<div class="vlifting-1909__bg">
								<div class="vlifting-1909__outer">
									<div class="vlifting-1909__box">
										<span class="vlifting-1909__info">Before</span>
										<p class="vlifting-1909__tit">턱라인</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<p class="vlifting-1909__txt">*본 이미지는 촬영조건에 따라 다르게 보일 수 있으며,<span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span></p>
				</div>
				<img src="../../images/program/vlifting_1909/vlifting1909_3_3.jpg" class="img-w100 hidden-tm" loading="lazy" alt="01. 진피층을 자극해 피부탄력을 강화, 02. 미세 케뉼라로 손상없이 디테일하게 지방흡입, 03. 울툴불퉁하지 않게 매끈하고 자연스러운 V라인, 04 부기와 멍, 흉터와 통증의 최소화"/>
				<img src="../../images/program/vlifting_1909/vlifting1909_3_3_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="01. 진피층을 자극해 피부탄력을 강화, 02. 미세 케뉼라로 손상없이 디테일하게 지방흡입, 03. 울툴불퉁하지 않게 매끈하고 자연스러운 V라인, 04 부기와 멍, 흉터와 통증의 최소화"/>
			</div>
		</div>
		<img src="../../images/program/vlifting_1909/vlifting1909_4.jpg" class="img-w100 hidden-tm" loading="lazy" alt="왜, 밀착V리프팅 일까요? 1:1맞춤 진료진행, 자연스러운V라인, 안전한시스템, 상처없이 비교적 빠른회복, 피부 탄력 콜라겐 재생"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_5.jpg" class="img-w100 hidden-tm" loading="lazy" alt="BANOBAGI SELFIE">
		<img src="../../images/program/vlifting_1909/vlifting1909_6.jpg" class="img-w100 hidden-tm" loading="lazy" alt="BEFORE & AFTER">
		<img src="../../images/program/vlifting_1909/vlifting1909_7.jpg" class="img-w100 hidden-tm" loading="lazy" alt="왜, 바노바기 성형외과의원일까요? - 디테일한 노하우, 1:1맞춤 전담제, 디테일한 성형외과 전문의, 끈임없이 연구하는 의료기관, 안전한 수술 시스템"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_8.jpg" class="img-w100 hidden-tm" loading="lazy" alt="환자의 입장에서 생각하는 I AM DETAILIST"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_4_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="왜, 밀착V리프팅 일까요? 1:1맞춤 진료진행, 자연스러운V라인, 안전한시스템, 상처없이 비교적 빠른회복, 피부 탄력 콜라겐 재생"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_5_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="BANOBAGI SELFIE"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_6_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="BEFORE & AFTER"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_7_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="왜, 바노바기 성형외과의원일까요? - 디테일한 노하우, 1:1맞춤 전담제, 디테일한 성형외과 전문의, 끈임없이 연구하는 의료기관, 안전한 수술 시스템"/>
		<img src="../../images/program/vlifting_1909/vlifting1909_8_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="환자의 입장에서 생각하는 I AM DETAILIST"/>
	</div>


<% include ../_include/_quick %>
<% include ../_include/_footer %>
