<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<!-- program-view -->
<div class="program-view">
	<div class="program-view__pc hidden-tm">

		<img src="images/landing_mint/landing_mint_top.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_01.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_02.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_03.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_04.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_05.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_06.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_07.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_08.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_09.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_10.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_11.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_12.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_13.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_14.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_15.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_16.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_17.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_18.jpg" loading="lazy" alt="" />
<?php
	if($session_user_id != "") {
		echo '
		<!-- 전후사진 로그인 -->
		<div>
			<img src="images/landing_mint/landing_mint_19.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_20.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_21.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_22.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_22_1.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_22_2.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_23.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_24.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_25.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}else{
		echo '
		<!-- 전후사진 로그인 -->
		<div class="js-login-open">
			<img src="images/landing_mint/landing_mint_19_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_20_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_21_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_22_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_22_1_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_22_2_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_23_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_24_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_25_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_off.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}
?>
	</div>

	<div class="program-view__m hidden-p">
		<img src="images/landing_mint/landing_mint_01_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_02_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_03_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_04_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_05_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_06_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_07_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_08_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_09_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_10_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_11_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_12_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_13_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_14_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_15_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_16_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_17_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_18_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_19_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_20_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_21_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_mint/landing_mint_22_m.jpg" loading="lazy" alt="" />

<?php
	if($session_user_id != "") {
		echo '
		<!-- 전후사진 로그인 -->
		<div>
			<img src="images/landing_mint/landing_mint_23_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_24_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_25_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_1_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_2_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_27_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_28_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_29_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_30_m.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}else{
		echo '
		<!-- 전후사진 로그인 -->
		<div class="js-login-open">
			<img src="images/landing_mint/landing_mint_23_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_24_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_25_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_1_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_26_2_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_27_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_28_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_29_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_mint/landing_mint_30_m_off.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}
?>
	</div>
</div>
<!-- //program-view -->

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
