<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="../../css/program/wrinkle_consulting.css"/>

<div class="cont">
	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_1_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
    <img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_1_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>

    <img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_2_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_2_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>

    <img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_3.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_3_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>

	<!-- step 01 노화 자가 진단 -->
    <div class="cont-box1">
        <img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_4.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
		<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_4_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>

		<div class="cont-box1__wrap">
			<div class="diagnosis type-step1">
				<div class="diagnosis__wrap">
					<!-- 성별 -->
					<div class="diagnosis__box">
						<div class="diagnosis__tit">성별</div>
						<ul class="diagnosis__list">
							<li class="diagnosis__item">
								<input type="radio" name="eventGender" value="F" id="eventGender_1" class="radio1" checked>
								<label for="eventGender_1">여자</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventGender" value="M" id="eventGender_2" class="radio1">
								<label for="eventGender_2">남자</label>
							</li>
						</ul>
					</div>
					<!-- 수술 경험 -->
					<div class="diagnosis__box">
						<div class="diagnosis__tit">수술 경험</div>
						<ul class="diagnosis__list">
							<li class="diagnosis__item">
								<input type="radio" name="eventOper" value="Y" id="eventOper_1" class="radio1" checked>
								<label for="eventOper_1">유</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventOper" value="N" id="eventOper_2" class="radio1">
								<label for="eventOper_2">무</label>
							</li>
						</ul>
					</div>
					<!-- 연령 -->
					<div class="diagnosis__box">
						<div class="diagnosis__tit">연령</div>
						<ul class="diagnosis__list type-three">
							<li class="diagnosis__item">
								<input type="radio" name="eventAge" value="Y" id="eventAge_1" class="radio1" checked>
								<label for="eventAge_1">29세 이하</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventAge" value="N" id="eventAge_2" class="radio1">
								<label for="eventAge_2">30대</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventAge" value="Y" id="eventAge_3" class="radio1">
								<label for="eventAge_3">40대</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventAge" value="N" id="eventAge_4" class="radio1">
								<label for="eventAge_4">50대</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventAge" value="Y" id="eventAge_5" class="radio1">
								<label for="eventAge_5">60대</label>
							</li>
							<li class="diagnosis__item">
								<input type="radio" name="eventAge" value="N" id="eventAge_6" class="radio1">
								<label for="eventAge_6">70세 이상</label>
							</li>
						</ul>
					</div>
				</div>

				<!-- 수술 방법 -->
				<div class="diagnosis__box">
					<div class="diagnosis__tit">수술 방법</div>
					<ul class="diagnosis__list type-four">
						<li class="diagnosis__item">
							<input type="radio" name="eventCase" value="F" id="eventCase_1" class="radio1" checked>
							<label for="eventCase_1">시술</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventCase" value="M" id="eventCase_2" class="radio1">
							<label for="eventCase_2">수술 - 비절개</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventCase" value="M" id="eventCase_3" class="radio1">
							<label for="eventCase_3">수술 - 부분절개</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventCase" value="M" id="eventCase_4" class="radio1">
							<label for="eventCase_4">수술 - 절개</label>
						</li>
					</ul>
				</div>

				<!-- 회복기간 -->
				<div class="diagnosis__box">
					<div class="diagnosis__tit">회복기간</div>
					<ul class="diagnosis__list">
						<li class="diagnosis__item">
							<input type="radio" name="eventRecovery" value="F" id="eventRecovery_1" class="radio1" checked>
							<label for="eventRecovery_1">다음날에도 가급적 표시가 나지 않는 시술이면 좋겠다.</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventRecovery" value="M" id="eventRecovery_2" class="radio1">
							<label for="eventRecovery_2">3 - 5일 이내, 가급적 바로 일상생활 복귀가 가능하면 좋겠다.</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventRecovery" value="M" id="eventRecovery_3" class="radio1">
							<label for="eventRecovery_3">1 - 2주 정도 시간 여유가 있어어느정도 부기와 멍이 있어도 괜찮다. </label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventRecovery" value="M" id="eventRecovery_4" class="radio1">
							<label for="eventRecovery_4">2 - 3주 정도 충분한 시간을 갖고 회복하더라도 효과가 확실하고 오래 유지되는 수술이 좋다.</label>
						</li>
					</ul>
				</div>

				<!-- 유지기간 -->
				<div class="diagnosis__box">
					<div class="diagnosis__tit">유지기간</div>
					<ul class="diagnosis__list type-four">
						<li class="diagnosis__item">
							<input type="radio" name="eventkeep" value="F" id="eventkeep_1" class="radio1" checked>
							<label for="eventkeep_1">일시적</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventkeep" value="M" id="eventkeep_2" class="radio1">
							<label for="eventkeep_2">6개월 - 1년</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventkeep" value="M" id="eventkeep_3" class="radio1">
							<label for="eventkeep_3">1년 - 5년</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventkeep" value="M" id="eventkeep_4" class="radio1">
							<label for="eventkeep_4">5년 이상</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div>

	<!-- step 02 고민부위 -->
	<div class="cont-box2">
		<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_5.png" loading="lazy" alt="" class="img-w100 hidden-tm"/>
		<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_5_m.png" loading="lazy" alt="" class="img-w100 hidden-p"/>

		<div class="cont-box2__wrap">
			<div class="diagnosis type-part">
				<!-- 상안면부 / 눈 -->
				<div class="diagnosis__box">
					<div class="diagnosis__tit">상안면부 / 눈</div>
					<ul class="diagnosis__list">
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="이마 주름" id="myFace_1" class="checkbox02">
							<label for="myFace_1">이마 주름</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="콧등 주름" id="myFace_2" class="checkbox02">
							<label for="myFace_2">콧등 주름</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="처진 눈썹" id="myFace_3" class="checkbox02">
							<label for="myFace_3">처진 눈썹</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="처진 눈" id="myFace_4" class="checkbox02">
							<label for="myFace_4">처진 눈</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="눈가 주름" id="myFace_5" class="checkbox02">
							<label for="myFace_5">눈가 주름</label>
						</li>
					</ul>
				</div>
				<!-- 중안면부 -->
				<div class="diagnosis__box">
					<div class="diagnosis__tit">중안면부</div>
					<ul class="diagnosis__list">
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="눈 밑 주름" id="myFace_6" class="checkbox02">
							<label for="myFace_6">눈 밑 주름</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="눈 밑 지방" id="myFace_7" class="checkbox02">
							<label for="myFace_7">눈 밑 지방</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="처진 앞 볼" id="myFace_8" class="checkbox02">
							<label for="myFace_8">처진 앞 볼</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="인디언 주름" id="myFace_9" class="checkbox02">
							<label for="myFace_9">인디언 주름</label>
						</li>
					</ul>
				</div>
				<!-- 하안면부 -->
				<div class="diagnosis__box">
					<div class="diagnosis__tit">하안면부</div>
					<ul class="diagnosis__list">
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="팔자 주름" id="myFace_10" class="checkbox02">
							<label for="myFace_10">팔자 주름</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="늘어진 턱선" id="myFace_11" class="checkbox02">
							<label for="myFace_11">늘어진 턱선</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="myFace[]" value="늘어진 목주름" id="myFace_12" class="checkbox02">
							<label for="myFace_12">늘어진 목주름</label>
						</li>
						<li class="diagnosis__item type-ex">
							<input type="checkbox" name="myFace[]" value="마리오네트 주름 (심술보)" id="myFace_13" class="checkbox02">
							<label for="myFace_13">마리오네트 주름 (심술보)</label>
						</li>
					</ul>
				</div>
			</div>

			<div class="cont-box2__img">img</div>
		</div>
	</div>

	<!-- 개인정보 -->
	<div class="cont-box3">
		<div class="cont-box3__wrap">
			<div class="diagnosis type-info">
				<div class="diagnosis__wrap type-half">
					<div class="diagnosis__box">
						<div class="diagnosis__tit">이름</div>
						<div class="diagnosis__input">
							<input type="text" class="wrinkle-input1" id="name" name="name">
						</div>
					</div>
					<div class="diagnosis__box">
						<div class="diagnosis__tit">연락처</div>
						<div class="diagnosis__input">
							<input type="text" class="wrinkle-input1" id="tel" name="tel">
						</div>
					</div>
				</div>

				<div class="diagnosis__box type-time">
					<div class="diagnosis__tit">상담희망시간</div>
					<ul class="diagnosis__list type-four">
						<li class="diagnosis__item">
							<input type="radio" name="eventTime" value="AN" id="eventTime_1" class="radio1" checked>
							<label for="eventTime_1">오전</label>
						</li>
						<li class="diagnosis__item">
							<input type="radio" name="eventTime" value="PM" id="eventTime_2" class="radio1">
							<label for="eventTime_2">오후</label>
						</li>
					</ul>
				</div>

				<div class="diagnosis__check">
					<ul class="diagnosis__list">
						<li class="diagnosis__item">
							<input type="checkbox" name="eventAgree1" id="eventAgree1" class="checkbox02" required>
							<label for="eventAgree1">개인정보 수집 및 이용 동의(필수)</label>
						</li>
						<li class="diagnosis__item">
							<input type="checkbox" name="eventAgree2" id="eventAgree2" class="checkbox02" required>
							<label for="eventAgree2"> 마케팅 및 광고 활용 동의(선택)</label>

							<a href="" class="diagnosis__link js-terms">[자세히 보기]</a>
						</li>
					</ul>
				</div>

				<div class="diagnosis__counsel">
					<a href="" class="diagnosis__btn type-kakao">
						<span>카톡 상담신청</span>
					</a>
					<a href="" class="diagnosis__btn type-tel">
						<span>전화 상담신청</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="cont-box4">
		<div class="cont-box4__wrap">
			<div class="cont-tab">
				<ul class="cont-tab__list">
					<li class="cont-tab__item nth-1 is-active">
						<a href="page-upperface" class="cont-tab__link">
							<span>01</span>
							상안면부 / 눈
						</a>
					</li>
					<li class="cont-tab__item nth-2">
						<a href="page-middleface" class="cont-tab__link">
							<span>02</span>
							중안면부
						</a>
					</li>
					<li class="cont-tab__item nth-3">
						<a href="page-lowerface" class="cont-tab__link">
							<span>03</span>
							하안면부
						</a>
					</li>
				</ul>

				<!-- 상안면부 / 눈 -->
				<div class="cont-tab__content page-upperface is-active">
					<div class="cont-tab__box">
						<a href="/wrinkle/wrinkleForehead.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_1_190517.jpg" loading="lazy" alt="내시경 이마 리프팅" class="img-w100"/>
						</a>
						<a href="/eye/eyeMiddleAgeU.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_2_190517.jpg" loading="lazy" alt="브로우펙시(눈썹 하 절제술)" class="img-w100"/>
						</a>
						<a href="/eye/eyeMiddleAgeU.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_3_190517.jpg" loading="lazy" alt="상안검 수술" class="img-w100"/>
						</a>
					</div>
				</div>

				<!-- 중안면부 -->
				<div class="cont-tab__content page-middleface">
					<div class="cont-tab__box">
						<a href="/wrinkle/wrinkleMidface.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_4_190517.jpg" loading="lazy" alt="중안면부 리프팅" class="img-w100"/>
						</a>
						<a href="/eye/eyeMiddleAgeU.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_5_190517.jpg" loading="lazy" alt="하안검 수술" class="img-w100"/>
						</a>
					</div>
				</div>

				<!-- 하안면부 -->
				<div class="cont-tab__content page-lowerface">
					<div class="cont-tab__box">
						<a href="http://elasticum.banobagi.com/elasticum01.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_6_190517.jpg" loading="lazy" alt="탄력밴드 리프팅" class="img-w100"/>
						</a>
						<a href="/wrinkle/wrinkleElastic.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_7_190517.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅" class="img-w100"/>
						</a>
						<a href="/program/program_mintlifting.php" target="_blank" class="cont-tab__link2">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_tab_8_190517.jpg" loading="lazy" alt="실리프팅" class="img-w100"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cont-box5">
		<div class="cont-box5__wrap">
			<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_tit.jpg" loading="lazy" alt="Before&After" class="img-w100 hidden-tm"/>
			<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_tit_m.jpg" loading="lazy" alt="Before&After" class="img-w100 hidden-p"/>

			<div class="bf-slider">
				<ul class="bf-slider__list">
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_1.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_2.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_3.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_4.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_5.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_6.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_7.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_8.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
					<li class="bf-slider__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_9.jpg" loading="lazy" alt="" class="img-w100"/>
					</li>
				</ul>

				<a href="" class="bf-slider__btn type-prev">이전</a>
				<a href="" class="bf-slider__btn type-next">다음</a>
			</div>

			<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_txt.jpg" loading="lazy" alt="본 이미지는 촬영조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다." class="img-w100 hidden-tm"/>
			<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_bf_txt_m.jpg" loading="lazy" alt="본 이미지는 촬영조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다." class="img-w100 hidden-p"/>
		</div>
	</div>

	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_8_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_8_m_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>

	<div class="cont-box6">
		<div class="cont-box6__wrap">
			<div class="cont-box6__slider">
				<ul class="cont-box6__list">
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_9_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_9_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
					<li class="cont-box6__item nth-2">
						<div class="cont-box6__box">
							<div class="cont-box6__txt">
								<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_10_txt_190517.png" loading="lazy" alt="" class="img-w100 hidden-tm">
								<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_10_txt_m.png" loading="lazy" alt="" class="img-w100 hidden-p">
							</div>
							<div class="cont-box6__area">
								<div class="cont-box6__video">
									<div id="program-iframe"></div>
									<!-- <iframe src="https://www.youtube.com/embed/2s40NW8K1N0" class="cont-box6__iframe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
								</div>
							</div>
						</div>
					</li>
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_11.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_11_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_12.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_12_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
					<li class="cont-box6__item">
						<a href="/program/program_artecoll.php" target="_blank">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_13.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_13_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
						</a>
					</li>
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_14.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_14_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_15.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_15_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_16.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_16_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
					<li class="cont-box6__item">
						<a href="/introduce/introduceRapid.php" target="_blank">
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_17_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
							<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_17_m_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
						</a>
					</li>
					<li class="cont-box6__item">
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_18.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
						<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_18_m.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
					</li>
				</ul>

				<div class="cont-box6__arrow">
					<a href="" class="cont-box6__btn type-prev">이전</a>
					<a href="" class="cont-box6__btn type-next">다음</a>
				</div>
			</div>
		</div>
	</div>

	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_19_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-tm"/>
	<img src="../../images/program/wrinkle_consulting/wrinkle_consulting_img_19_m_190517.jpg" loading="lazy" alt="" class="img-w100 hidden-p"/>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_popup_bottom %>
<% include ../_include/_footer %>

<script type="text/javascript" src="../../js/program/program_bodystyling.js"></script>
<script type="text/javascript">
	$('.cont-tab__link').on('click',function(e){
		e.preventDefault();
		var tabClass = $(this).attr('href');
		$('.cont-tab__item, .cont-tab__content').removeClass('is-active');
		$(this).parents('.cont-tab__item').addClass('is-active');
		$("."+tabClass).addClass('is-active');

		if(tabClass == "page-lowerface"){
			$(this).parents(".cont-tab__list").addClass("is-active");
		}else{
			$(this).parents(".cont-tab__list").removeClass("is-active");
		}
	});

	$(".bf-slider__list").slick({
		autoplay: true,
		infinite: true,
		speed: 500,
		cssEase: 'linear',
		prevArrow: ".bf-slider__btn.type-prev",
		nextArrow: ".bf-slider__btn.type-next",
	});

	$(".cont-box6__list").slick({
		autoplay: true,
		infinite: true,
		fade: true,
		// cssEase: 'linear',
		prevArrow: ".cont-box6__btn.type-prev",
		nextArrow: ".cont-box6__btn.type-next",
		adaptiveHeight: true,
	});

	setInterval(function(){
		$('.cont-box2__img').toggleClass('is-chg');
	}, 3000);

	/* youtube */
	var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('program-iframe', {
            videoId: '2s40NW8K1N0',
			events: {
		      	'onStateChange': onPlayerStateChange
		    }
        });
    }

	function onPlayerStateChange(event) {
		var done = false;

		if(event.data == YT.PlayerState.PLAYING && !done){
			$(".cont-box6__list").slick("slickPause");
			done = true;
		}else{
			done = false;
			$(".cont-box6__list").slick("slickPlay");
		}
    }

</script>
