<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	/*common*/
    .cont{padding-top:50px; box-sizing:border-box;}
    .cont img{width:100%; vertical-align:middle;}
	.cont__box{background: #ffffff}
	.cont__area{max-width: 1200px;margin: 0 auto;}
</style>

<div class="cont">
    <!-- pc -->
    <div class="hidden-tm">
        <img src="../../images/program/new_year2019/new_year2019_img_1.jpg" loading="lazy" alt="바노바기 설 맞이 혜택, 2019년엔 더 예뻐지구 싶구!"/>
        <img src="../../images/program/new_year2019/new_year2019_img_2.jpg" loading="lazy" alt="안면윤곽, 가슴성형, 주름성형, 피부 속 세포를 깨우는 리쥬란힐러"/>
	    <img src="../../images/program/new_year2019/new_year2019_img_3.jpg" loading="lazy" alt="2019년 설 연휴 진료안내 - 3일:정상진료, 4,5,6일:휴진"/>
    </div>

    <!-- mobile -->
    <div class="hidden-p">
        <img src="../../images/program/new_year2019/new_year2019_img_1_m.jpg" loading="lazy" alt="바노바기 설 맞이 혜택, 2019년엔 더 예뻐지구 싶구!"/>
        <img src="../../images/program/new_year2019/new_year2019_img_2_m.jpg" loading="lazy" alt="안면윤곽, 가슴성형, 주름성형, 피부 속 세포를 깨우는 리쥬란힐러"/>
        <img src="../../images/program/new_year2019/new_year2019_img_3_m.jpg" loading="lazy" alt="2019년 설 연휴 진료안내 - 3일:정상진료, 4,5,6일:휴진"/>
    </div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
