<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_bottom %>

<link rel="stylesheet" href="../../../css/program/double_line.css"/>

<div class="cont">
	<img src="../../images/program/double_line/double_line_img_1.jpg" class="hidden-tm" alt="묻고 더블로 가! 윤곽으로 작은 얼굴, 코성형으로 옆라인까지 한번에! DoubleLine"/>
	<img src="../../images/program/double_line/double_line_img_2.jpg" class="hidden-tm" alt="얼굴형 고민, 콧대+코끝 고민 묻고 더블로가! 더블라인으로 한번에!"/>
	<img src="../../images/program/double_line/double_line_img_3.jpg" class="hidden-tm" alt="깎아주고 높여주니까! 입체감이 2배! 예쁨이 2배!"/>
	<img src="../../images/program/double_line/double_line_img_4.jpg" class="hidden-tm" alt="얼굴 전체의 밸런스를 위해서는 코와 윤곽을 동시에 생각해야 합니다!"/>
	<img src="../../images/program/double_line/double_line_img_5.jpg" class="hidden-tm" alt="성형외과전문의 Dr. 박신기"/>
	<img src="../../images/program/double_line/double_line_img_6.jpg" class="hidden-tm" alt="더블라인성형 하나로 예쁨이 더블로 가!"/>

	<img src="../../images/program/double_line/double_line_img_1_m.jpg" class="hidden-p" alt="묻고 더블로 가! 윤곽으로 작은 얼굴, 코성형으로 옆라인까지 한번에! DoubleLine"/>
	<img src="../../images/program/double_line/double_line_img_2_m.jpg" class="hidden-p" alt="얼굴형 고민, 콧대+코끝 고민 묻고 더블로가! 더블라인으로 한번에!"/>
	<img src="../../images/program/double_line/double_line_img_3_m.jpg" class="hidden-p" alt="깎아주고 높여주니까! 입체감이 2배! 예쁨이 2배!"/>
	<img src="../../images/program/double_line/double_line_img_4_m.jpg" class="hidden-p" alt="얼굴 전체의 밸런스를 위해서는 코와 윤곽을 동시에 생각해야 합니다!"/>
	<img src="../../images/program/double_line/double_line_img_5_m.jpg" class="hidden-p" alt="성형외과전문의 Dr. 박신기"/>
	<img src="../../images/program/double_line/double_line_img_6_m.jpg" class="hidden-p" alt="더블라인성형 하나로 예쁨이 더블로 가!"/>
	<img src="../../images/program/double_line/double_line_img_7_m.jpg" class="hidden-p" alt="마치 처음부터 그랬던 것처럼, 작은 얼굴, 또렷한 라인!"/>

    <div class="cont-box1 hidden-tm">
		<img src="../../images/program/double_line/double_line_img_7.jpg" alt="마치 처음부터 그랬던 것처럼, 작은 얼굴, 또렷한 라인!"/>

        <div class="cont-box1__outer">
			<div class="cont-box1__inner">
	            <img src="../../images/program/double_line/double_line_img_8.jpg" class="img-normal" alt=""/>

				<div class="cont-box1__area">
					<div class="cont-box1__circle type-before">before</div>
					<div class="cont-box1__circle type-after">after 6개월</div>
				</div>
			</div>

			<img src="../../images/program/double_line/double_line_img_9.jpg" class="img-normal" alt="비교적 짧은 회복기간, 합리적인 비용, 얼굴 라인과 입체감을 고려하여 높은 만족도, 두가지 수술을 한번에 진행하여 마취 최소화"/>
        </div>
    </div>

	<div class="cont-box2">
		<img src="../../images/program/double_line/double_line_img_10.jpg" class="hidden-tm" alt="REAL SELFIE!"/>
		<img src="../../images/program/double_line/double_line_img_8_m.jpg" class="hidden-p" alt="REAL SELFIE!"/>

		<div class="cont-box2__outer">
			<div class="cont-box2__box">
				<ul class="cont-box2__list js-double">
					<li class="cont-box2__item">
						<img src="../../images/program/double_line/double_line_real_1.jpg" class="hidden-tm" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
						<img src="../../images/program/double_line/double_line_real_1_m.jpg" class="hidden-p" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
					</li>
					<li class="cont-box2__item">
						<img src="../../images/program/double_line/double_line_real_2.jpg" class="hidden-tm" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
						<img src="../../images/program/double_line/double_line_real_2_m.jpg" class="hidden-p" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
					</li>
					<li class="cont-box2__item">
						<img src="../../images/program/double_line/double_line_real_3.jpg" class="hidden-tm" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
						<img src="../../images/program/double_line/double_line_real_3_m.jpg" class="hidden-p" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
					</li>
					<li class="cont-box2__item">
						<img src="../../images/program/double_line/double_line_real_4.jpg" class="hidden-tm" alt="윤곽+코 #BEFORE #AFTER 6 MONTH"/>
						<img src="../../images/program/double_line/double_line_real_4_m.jpg" class="hidden-p" alt="윤곽+코 #BEFORE #AFTER 6 MONTH"/>
					</li>
					<li class="cont-box2__item">
						<img src="../../images/program/double_line/double_line_real_5.jpg" class="hidden-tm" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
						<img src="../../images/program/double_line/double_line_real_5_m.jpg" class="hidden-p" alt="윤곽+눈+코 #BEFORE #AFTER 6 MONTH"/>
					</li>
				</ul>

				<a href="" class="cont-box2__btn type-prev js-double-prev">이전</a>
				<a href="" class="cont-box2__btn type-next js-double-next">다음</a>
			</div>
		</div>
	</div>

	<div class="cont-box3">
		<div class="cont-box3__outer">
			<div class="cont-box3__inner">
				<div class="cont-box3__tab">
					<div class="cont-box3__scroll">
						<ul class="cont-box3__list">
							<li class="cont-box3__item is-active">
								<a href="page-double-contour" class="cont-box3__link">윤곽</a>
							</li>
							<li class="cont-box3__item">
								<a href="page-double-cheek" class="cont-box3__link">광대</a>
							</li>
							<li class="cont-box3__item">
								<a href="page-double-jaw" class="cont-box3__link">턱끝</a>
							</li>
							<li class="cont-box3__item">
								<a href="page-double-nose" class="cont-box3__link">디테일코성형</a>
							</li>
							<li class="cont-box3__item">
								<a href="page-double-reduction" class="cont-box3__link">콧볼축소</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="cont-box3__content page-double-contour is-active">
					<img src="../../images/program/double_line/double_line_tab_1.jpg" alt="크고 투박한 광대와 턱라인을 갸름하고 매끈하게! 19년 경력의 바노바기 디테일 윤곽수술" class="hidden-tm"/>
					<img src="../../images/program/double_line/double_line_tab_1_m.jpg" alt="크고 투박한 광대와 턱라인을 갸름하고 매끈하게! 19년 경력의 바노바기 디테일 윤곽수술" class="hidden-p"/>
				</div>

				<div class="cont-box3__content page-double-cheek">
					<img src="../../images/program/double_line/double_line_tab_2.jpg" alt="얼굴의 입체감을 결정하는 광대 축소 재배치" class="hidden-tm"/>
					<img src="../../images/program/double_line/double_line_tab_2_m.jpg" alt="얼굴의 입체감을 결정하는 광대 축소 재배치" class="hidden-p"/>
				</div>

				<div class="cont-box3__content page-double-jaw">
					<img src="../../images/program/double_line/double_line_tab_3.jpg" alt="세련된 V라인의 완성 턱끝성형" class="hidden-tm"/>
					<img src="../../images/program/double_line/double_line_tab_3_m.jpg" alt="세련된 V라인의 완성 턱끝성형" class="hidden-p"/>
				</div>

				<div class="cont-box3__content page-double-nose">
					<img src="../../images/program/double_line/double_line_tab_4.jpg" alt="안전한 19년 경력의 노하우! 바노바기 디테일 코성형" class="hidden-tm"/>
					<img src="../../images/program/double_line/double_line_tab_4_m.jpg" alt="안전한 19년 경력의 노하우! 바노바기 디테일 코성형" class="hidden-p"/>
				</div>

				<div class="cont-box3__content page-double-reduction">
					<img src="../../images/program/double_line/double_line_tab_5.jpg" alt="펑퍼짐한 콧볼을 날렵하게! 콧볼축소" class="hidden-tm"/>
					<img src="../../images/program/double_line/double_line_tab_5_m.jpg" alt="펑퍼짐한 콧볼을 날렵하게! 콧볼축소" class="hidden-p"/>
				</div>
			</div>
		</div>
	</div>

	<img src="../../images/program/double_line/double_line_img_11.jpg" class="hidden-tm" alt="바노바기 디테일 수술 후 관리"/>
	<img src="../../images/program/double_line/double_line_img_9_m.jpg" class="hidden-p" alt="바노바기 디테일 수술 후 관리"/>

	<!-- program-tv -->
	<div class="program-tv">
		<h3 class="program-tv__tit">
			바노바기 <span class="weight-bold color-point">TV</span>
		</h3>

		<div class="program-tv__outer">
			<div class="program-tv__inner">
	            <div class="program-tv__area">
	                <div class="program-tv__video">
	                    <div id="program-iframe"></div>
	                </div>
	            </div>

	            <div class="program-tv__wrap">
	                <div class="program-tv__box">
	                    <ul class="program-tv__list">
							<li class="program-tv__item">
								<a class="program-tv__link" data-ytb-id="N3sfGJOlk_s">
									<div class="program-tv__thum">
										<img src="../../images/program/double_line/double_line_thum_1.jpg" loading="lazy" class="" alt="대한민국2%, 바노바기성형외과 안면윤곽수술 (since2000)">
									</div>
									<div class="program-tv__txt">
										<div class="program-tv__vertical">
											대한민국2%, 바노바기성형외과 안면윤곽수술 (since2000)
										</div>
									</div>
								</a>
							</li>
							<li class="program-tv__item">
								<a class="program-tv__link" data-ytb-id="8-wKPyQqcxc">
									<div class="program-tv__thum">
										<img src="../../images/program/double_line/double_line_thum_2.jpg" loading="lazy" class="" alt="윤곽견적 얼마나나올까?">
									</div>
									<div class="program-tv__txt">
										<div class="program-tv__vertical">
											윤곽견적 얼마나나올까?
										</div>
									</div>
								</a>
							</li>
							<li class="program-tv__item">
								<a class="program-tv__link" data-ytb-id="gn_QMl1YnVw">
									<div class="program-tv__thum">
										<img src="../../images/program/double_line/double_line_thum_3.jpg" loading="lazy" class="" alt="바노바기 Dr.박종림 윤곽수술에 대한 진실과 거짓">
									</div>
									<div class="program-tv__txt">
										<div class="program-tv__vertical">
											바노바기 Dr.박종림<br>
											윤곽수술에 대한 진실과 거짓
										</div>
									</div>
								</a>
							</li>
							<li class="program-tv__item">
								<a class="program-tv__link" data-ytb-id="nuPG1kkvukI">
									<div class="program-tv__thum">
										<img src="../../images/program/double_line/double_line_thum_4.jpg" loading="lazy" class="" alt="안면윤곽 QnA 궁금한 것만 쏙쏙!">
									</div>
									<div class="program-tv__txt">
										<div class="program-tv__vertical">
											안면윤곽 QnA 궁금한 것만 쏙쏙!
										</div>
									</div>
								</a>
							</li>
							<li class="program-tv__item">
								<a class="program-tv__link" data-ytb-id="bUnirvPo8y0">
									<div class="program-tv__thum">
										<img src="../../images/program/double_line/double_line_thum_5.jpg" loading="lazy" class="" alt="사각턱 축소술 후에 ‘개턱’이 되면 어쩌죠?!">
									</div>
									<div class="program-tv__txt">
										<div class="program-tv__vertical">
											사각턱 축소술 후에<br>
											‘개턱’이 되면 어쩌죠?!
										</div>
									</div>
								</a>
							</li>
	                    </ul>
	                </div>
	            </div>
			</div>
	    </div>

		<a href="https://www.youtube.com/c/banobagips" class="program-tv__btn txt-v1" target="_blank">
			<span class="program-tv__span">view more</span>
		</a>
	</div>
	<!-- //program-tv -->

	<img src="../../images/program/double_line/double_line_img_12.jpg" class="hidden-tm" alt="얼굴성형, 왜 바노바기 일까?"/>
	<img src="../../images/program/double_line/double_line_img_13.jpg" class="hidden-tm" alt="I am Detailist 서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
	<img src="../../images/program/double_line/double_line_img_10_m.jpg" class="hidden-p" alt="얼굴성형, 왜 바노바기 일까?"/>
	<img src="../../images/program/double_line/double_line_img_11_m.jpg" class="hidden-p" alt="I am Detailist 서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript" src="../../../js/program/double_line.js"></script>
