<%
	type = "program"
	page = "landingPlan"
%>
<% include ../_include/_header %>
	<div class="content">
		<!-- 가슴검진팝업시작 -->
		<div class="apply">
			<div class="apply__area">
				<div class="apply-terms">
					<div class="apply-terms__area">
						<div class="apply-terms__wrap">
							<a href="" class="apply__close js-a-terms-close">닫기</a>
							<div class="apply-terms__outer">
								<div class="apply-terms__inner">
									<p class="apply-terms__tit">개인정보 취급방침</p>
									<div class="apply-terms__box">
										<div class="apply-terms__body">
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										</div>
									</div>
									<p class="apply-terms__tit">개인정보 수집 및 이용 동의</p>
									<div class="apply-terms__box">
										<div class="apply-terms__body">
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										</div>

									</div>
									<p class="apply-terms__tit">마케팅 광고 활용 동의(선택)</p>
									<div class="apply-terms__box">
										<div class="apply-terms__body">
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
											바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의<br>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="apply__wrap">
					<a href="" class="apply__close js-apply-close">닫기</a>
					<p class="apply__tit">유방 검진 예약</p>
					<p class="apply__txt"><strong class="apply__point">바노바기 성형외과 전문 상담원</strong>이 <span class="inline-block">친절히 검진 상담을 도와드리겠습니다.</span></p>
					<div class="apply__box">
						<div class="apply__header"><div class="apply__rel">이름</div></div>
						<div class="apply__body">
							<input class="apply__input" type="text" placeholder="이름을 입력해 주세요.">
						</div>
					</div>
					<div class="apply__box">
						<div class="apply__header"><div class="apply__rel">연락처</div></div>
						<div class="apply__body">
							<input class="apply__input" type="tel" placeholder="휴대폰 번호를 입력해 주세요.">
						</div>
					</div>
					<div class="apply__box type-radio">
						<div class="apply__header"><div class="apply__rel">수술병원</div></div>
						<div class="apply__body">
							<div class="apply__radio">
								<input type="radio" name="hospital" id="hospital1" value="본원" class="apply-radio" checked>
								<label for="hospital1" class="">본원</label>
							</div>
							<div class="apply__radio">
								<input type="radio" name="hospital" id="hospital2" value="타병원" class="apply-radio">
								<label for="hospital2" class="">타병원</label>
							</div>
						</div>
					</div>
					<div class="apply__box">
						<div class="apply__header"><div class="apply__rel">수술시기</div></div>
						<div class="apply__body">
							<input class="apply__input" type="text" placeholder="년,월8자리를 입력해 주세요. ex)20150512">
						</div>
					</div>
					<div class="apply__box">
						<div class="apply-select">
							<div class="apply__header"><div class="apply__rel">수술보형물</div></div>
							<div class="apply__body">
								<div class="apply-select__wrap">
									<a href="#" class="apply-select__tit">수술보형물을 선택해 주세요.</a>
								</div>
							</div>
							<ul class="apply-select__list">
								<li class="apply-select__item js-mouse-over">앨러간</li>
								<li class="apply-select__item js-mouse-over">멘토</li>
								<li class="apply-select__item js-mouse-over">벨라젤</li>
								<li class="apply-select__item js-mouse-over">모티바</li>
								<li class="apply-select__item js-mouse-over">기타/알수없음</li>
							</ul>
						</div>
					</div>
					<div class="apply__bottom">
						<div class="apply__check">
							<input type="checkbox" name="chkAgree" id="apply-check1" class="apply-check"><label for="apply-check1">개인정보 수집 및 이용 동의(필수)</label>
							<a href="" class="apply__terms">[자세히 보기]</a>
						</div>
						<div class="apply__check">
							<input type="checkbox" name="chkAgree" id="apply-check2" class="apply-check"><label for="apply-check2">SMS 수신 동의</label>
						</div>
						<button type="submit" class="apply__btn js-mouse-over">유방 검진 신청</button>
					</div>
					<div class="apply__info">
						<dl class="apply__dl">
							<dt class="apply__dt">전화</dt>
							<dd class="apply__dd">1588-6508, 02-562-6001</dd>
						</dl>
						<dl class="apply__dl">
							<dt class="apply__dt">진료시간</dt>
							<dd class="apply__dd">평일 09:30~18:30, 토요일 09:30~16:00</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<!-- //가슴검진팝업끝 -->
		<div class="acla__box hidden-tm">
			<img src="../../images/program/alcl/alcl_1.jpg" class="img-w100"alt="엘러간사 보형물 역형성대세포림프종 (ALCL) 진단 안내"/>
			<img src="../../images/program/alcl/alcl_2.jpg" class="img-w100"alt="역형성대세포림프종(ALCL) 진단 절차"/>
			<img src="../../images/program/alcl/alcl_3.jpg" class="img-w100"alt="인공유방 관련 역형성 대세포 림프종 예방을 위한 가이드라인"/>
			<img src="../../images/program/alcl/alcl_4.jpg" class="img-w100"alt="본원 수술 환자분은 물론 타 병원 수술 환자분들의 보형물 특수 검진이 가능합니다."/>
			<img src="../../images/program/alcl/alcl_5.jpg" class="img-w100"alt="역형성 대세포 림프종 검진 대상"/>
			<img src="../../images/program/alcl/alcl_6.jpg" class="img-w100"alt="디테일의 차이가 만족스러운 결과를 만들어냅니다. 바노바기 원스톱 가슴성형시스템"/>
			<img src="../../images/program/alcl/alcl_7.jpg" class="img-w100"alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
		</div>
		<div class="acla__box hidden-p">
			<img src="../../images/program/alcl/alcl_1_m.jpg" class="img-w100"alt="엘러간사 보형물 역형성대세포림프종 (ALCL) 진단 안내"/>
			<img src="../../images/program/alcl/alcl_2_m.jpg" class="img-w100"alt="역형성대세포림프종(ALCL) 진단 절차"/>
			<img src="../../images/program/alcl/alcl_3_m.jpg" class="img-w100"alt="인공유방 관련 역형성 대세포 림프종 예방을 위한 가이드라인"/>
			<img src="../../images/program/alcl/alcl_4_m.jpg" class="img-w100"alt="본원 수술 환자분은 물론 타 병원 수술 환자분들의 보형물 특수 검진이 가능합니다."/>
			<img src="../../images/program/alcl/alcl_5_m.jpg" class="img-w100"alt="역형성 대세포 림프종 검진 대상"/>
			<img src="../../images/program/alcl/alcl_6_m.jpg" class="img-w100"alt="디테일의 차이가 만족스러운 결과를 만들어냅니다. 바노바기 원스톱 가슴성형시스템"/>
			<img src="../../images/program/alcl/alcl_7_m.jpg" class="img-w100"alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
		</div>
	</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
