<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_bottom %>

<link rel="stylesheet" href="../../../css/program/nosefirst.css"/>

<div class="cont">
    <img src="../../images/program/nosefirst/nosefirst_img_1.jpg" loading="lazy" class="hidden-tm" alt="내 생애 첫 코성형 내·생·코">
    <img src="../../images/program/nosefirst/nosefirst_img_2.jpg" loading="lazy" class="hidden-tm" alt="코성형, 첫 수술이 중요한 이유!">
    <img src="../../images/program/nosefirst/nosefirst_img_3.jpg" loading="lazy" class="hidden-tm" alt="내·생·코 01 올댓코">
    <img src="../../images/program/nosefirst/nosefirst_img_4.jpg" loading="lazy" class="hidden-tm" alt="내·생·코 02 코끝성형">
    <img src="../../images/program/nosefirst/nosefirst_img_5.jpg" loading="lazy" class="hidden-tm" alt="내·생·코 03 복합 콧볼축소">
    <img src="../../images/program/nosefirst/nosefirst_img_6.jpg" loading="lazy" class="hidden-tm" alt="예쁜 코라인을 위한 핵심 POINT">
    <img src="../../images/program/nosefirst/nosefirst_img_7.jpg" loading="lazy" class="hidden-tm" alt="바노바기의 코성형 원칙">
    <img src="../../images/program/nosefirst/nosefirst_img_8.jpg" loading="lazy" class="hidden-tm" alt="바노바기 코성형, 왜 특별할까?">
    <img src="../../images/program/nosefirst/nosefirst_img_9.jpg" loading="lazy" class="hidden-tm" alt="바노바기의 다양한 코성형 케이스를 셀카로 확인하세요!">

	<img src="../../images/program/nosefirst/nosefirst_img_1_m.jpg" loading="lazy" class="hidden-p" alt="내 생애 첫 코성형 내·생·코">
    <img src="../../images/program/nosefirst/nosefirst_img_2_m.jpg" loading="lazy" class="hidden-p" alt="코성형, 첫 수술이 중요한 이유!">
    <img src="../../images/program/nosefirst/nosefirst_img_3_m.jpg" loading="lazy" class="hidden-p" alt="내·생·코 01 올댓코">
    <img src="../../images/program/nosefirst/nosefirst_img_4_m.jpg" loading="lazy" class="hidden-p" alt="내·생·코 02 코끝성형">
    <img src="../../images/program/nosefirst/nosefirst_img_5_m.jpg" loading="lazy" class="hidden-p" alt="내·생·코 03 복합 콧볼축소">
    <img src="../../images/program/nosefirst/nosefirst_img_6_m.jpg" loading="lazy" class="hidden-p" alt="예쁜 코라인을 위한 핵심 POINT">
    <img src="../../images/program/nosefirst/nosefirst_img_7_m.jpg" loading="lazy" class="hidden-p" alt="바노바기의 코성형 원칙">
    <img src="../../images/program/nosefirst/nosefirst_img_8_m.jpg" loading="lazy" class="hidden-p" alt="바노바기 코성형, 왜 특별할까?">
    <img src="../../images/program/nosefirst/nosefirst_img_9_m.jpg" loading="lazy" class="hidden-p" alt="바노바기의 다양한 코성형 케이스를 셀카로 확인하세요!">

	<!-- program-tv -->
	<div class="program-tv">
		<h3 class="program-tv__tit">
			바노바기 <span class="weight-bold color-point">TV</span>
		</h3>

		<div class="program-tv__outer">
            <div class="program-tv__area">
                <div class="program-tv__video">
                    <div id="program-iframe"></div>
                </div>
            </div>

            <div class="program-tv__wrap">
                <div class="program-tv__box">
                    <ul class="program-tv__list">
						<li class="program-tv__item">
							<a class="program-tv__link" data-ytb-id="vZQNGlLI0d4">
								<div class="program-tv__thum">
									<img src="../../images/program/nosefirst/nosefirst_thum_1.jpg" loading="lazy" class="" alt="[아는의사 DR.노용준]눈, 코성형 QnA 구독자가 묻고 바노바기가 답한다!">
								</div>
								<div class="program-tv__txt">
									<div class="program-tv__vertical">
										[아는의사 DR.노용준]눈, 코성형<br class="hidden-tm">
										QnA 구독자가 묻고 바노바기가<br class="hidden-tm">
										답한다!
									</div>
								</div>
							</a>
						</li>
						<li class="program-tv__item">
							<a class="program-tv__link" data-ytb-id="aIKqWZa1bwU">
								<div class="program-tv__thum">
									<img src="../../images/program/nosefirst/nosefirst_thum_2.jpg" loading="lazy" class="" alt="[바노바기]코성형 리얼스토리 코성형 후 달라진 이미지를 확인해 보세요!">
								</div>
								<div class="program-tv__txt">
									<div class="program-tv__vertical">
										[바노바기]코성형 리얼스토리<br class="hidden-tm">
										코성형 후 달라진 이미지를<br class="hidden-tm">
										확인해 보세요!
									</div>
								</div>
							</a>
						</li>
						<li class="program-tv__item">
							<a class="program-tv__link" data-ytb-id="CIgGcTD7qBA">
								<div class="program-tv__thum">
									<img src="../../images/program/nosefirst/nosefirst_thum_3.jpg" loading="lazy" class="" alt="[아는의사 Dr.노용준]코성형 궁금증 해결 코성형에 대한 다양한 궁금증을 같이 알아봅시다.">
								</div>
								<div class="program-tv__txt">
									<div class="program-tv__vertical">
										[아는의사 Dr.노용준] 코성형에 대한 다양한
										궁금증을 같이 알아봅시다.
									</div>
								</div>
							</a>
						</li>
                    </ul>
                </div>
            </div>
	    </div>

		<a href="https://www.youtube.com/c/banobagips" class="program-tv__btn txt-v1" target="_blank">
			<span class="program-tv__span">view more</span>
		</a>
	</div>
	<!-- //program-tv -->


    <!-- before after slider -->
	<div class="program-before type-nosefirst">
		<img src="../../images/program/nosefirst/nosefirst_before_tit.jpg" loading="lazy" class="hidden-tm" alt="Before & After">
		<img src="../../images/program/nosefirst/nosefirst_before_tit_m.jpg" loading="lazy" class="hidden-p" alt="Before & After">

		<div class="program-before__outer">
			<div class="program-before__inner">
				<div class="program-before__main">
					<ul class="program-before__list js-before-slide">
						<li class="program-before__item" data-page="0">
							<img src="../../images/program/nosefirst/nosefirst_before_1.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
						<li class="program-before__item" data-page="1">
							<img src="../../images/program/nosefirst/nosefirst_before_2.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li>
						<li class="program-before__item" data-page="2">
							<img src="../../images/program/nosefirst/nosefirst_before_3.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
						<li class="program-before__item" data-page="3">
							<img src="../../images/program/nosefirst/nosefirst_before_4.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
						<li class="program-before__item" data-page="4">
							<img src="../../images/program/nosefirst/nosefirst_before_5.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li>
						<li class="program-before__item" data-page="5">
							<img src="../../images/program/nosefirst/nosefirst_before_6.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
						<li class="program-before__item" data-page="6">
							<img src="../../images/program/nosefirst/nosefirst_before_7.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
						<li class="program-before__item"data-page="7">
							<img src="../../images/program/nosefirst/nosefirst_before_8.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li>
						<li class="program-before__item" data-page="8">
							<img src="../../images/program/nosefirst/nosefirst_before_9.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
						<li class="program-before__item" data-page="9">
							<img src="../../images/program/nosefirst/nosefirst_before_10.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
						<li class="program-before__item" data-page="10">
							<img src="../../images/program/nosefirst/nosefirst_before_11.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li>
						<li class="program-before__item" data-page="11">
							<img src="../../images/program/nosefirst/nosefirst_before_12.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
						<li class="program-before__item" data-page="12">
							<img src="../../images/program/nosefirst/nosefirst_before_13.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
						<li class="program-before__item" data-page="13">
							<img src="../../images/program/nosefirst/nosefirst_before_14.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li>
						<li class="program-before__item" data-page="14">
							<img src="../../images/program/nosefirst/nosefirst_before_15.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
						<li class="program-before__item" data-page="15">
							<img src="../../images/program/nosefirst/nosefirst_before_16.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
                        <li class="program-before__item" data-page="16">
							<img src="../../images/program/nosefirst/nosefirst_before_17.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li>
                        <li class="program-before__item" data-page="17">
							<img src="../../images/program/nosefirst/nosefirst_before_18.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
                        <li class="program-before__item" data-page="18">
							<img src="../../images/program/nosefirst/nosefirst_before_19.jpg" alt=""/>
							<p class="program-before__txt">코성형_정면</p>
						</li>
                        <li class="program-before__item" data-page="19">
							<img src="../../images/program/nosefirst/nosefirst_before_20.jpg" alt=""/>
							<p class="program-before__txt">코성형_45도</p>
						</li><li class="program-before__item" data-page="20">
							<img src="../../images/program/nosefirst/nosefirst_before_21.jpg" alt=""/>
							<p class="program-before__txt">코성형_측면</p>
						</li>
					</ul>

					<a href="" class="program-before__btn type-prev js-before-prev">이전</a>
					<a href="" class="program-before__btn type-next js-before-next">다음</a>
				</div>

				<div class="program-before__thum">
					<ul class="program-before__list2 js-thumbnail-slide nth-1 is-active">
						<li class="program-before__item2 is-active" data-page="0">
							<!-- <span class="program-before__num">0</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_1.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="1">
							<!-- <span class="program-before__num">1</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_2.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="2">
							<!-- <span class="program-before__num">2</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_3.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="3">
							<!-- <span class="program-before__num">3</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_4.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="4">
							<!-- <span class="program-before__num">4</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_5.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="5">
							<!-- <span class="program-before__num">5</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_6.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="6">
							<!-- <span class="program-before__num">6</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_7.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="7">
							<!-- <span class="program-before__num">7</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_8.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="8">
							<!-- <span class="program-before__num">8</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_9.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="9">
							<!-- <span class="program-before__num">9</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_10.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="10">
							<!-- <span class="program-before__num">10</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_11.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="11">
							<!-- <span class="program-before__num">11</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_12.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="12">
							<!-- <span class="program-before__num">12</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_13.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="13">
							<!-- <span class="program-before__num">13</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_14.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="14">
							<!-- <span class="program-before__num">14</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_15.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="15">
							<!-- <span class="program-before__num">15</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_16.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="16">
							<!-- <span class="program-before__num">16</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_17.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="17">
							<!-- <span class="program-before__num">17</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_18.jpg" alt=""/>
							</div>
						</li>
                        <li class="program-before__item2" data-page="18">
							<!-- <span class="program-before__num">18</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_19.jpg" alt=""/>
							</div>
						</li>
                        <li class="program-before__item2" data-page="19">
							<!-- <span class="program-before__num">19</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_20.jpg" alt=""/>
							</div>
						</li>
                        <li class="program-before__item2" data-page="20">
							<!-- <span class="program-before__num">20</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/nosefirst/nosefirst_before_21.jpg" alt=""/>
							</div>
						</li>
					</ul>
				</div>

				<p class="program-before__noti">
					* 본 이미지는 촬영 조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻은 후 게재하였습니다.
				</p>
			</div>
		</div>
	</div>

	<img src="../../images/program/nosefirst/nosefirst_img_10.jpg" loading="lazy" class="hidden-tm" alt="바노바기 코 성형 전담팀">
    <img src="../../images/program/nosefirst/nosefirst_img_10_m.jpg" loading="lazy" class="hidden-p" alt="바노바기 코 성형 전담팀">
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
