<%
	type = "program"
	page = "landingPlan"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/chest_190610/program_chest_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="미리 체크해보는 가슴성형 스케줄러"/>
		<img src="../../images/program/chest_190610/program_chest_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="콤플렉스 극복을 위해 가장 선호하는 수술은? - 가슴성형, 가슴성형 후 회복기간은? - 1~2개월"/>
		<img src="../../images/program/chest_190610/program_chest_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="미리 체크해보는 가슴성형 스케줄러"/>
		<img src="../../images/program/chest_190610/program_chest_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="콤플렉스 극복을 위해 가장 선호하는 수술은? - 가슴성형, 가슴성형 후 회복기간은? - 1~2개월"/>
		<div class="content__sea">
			<div class="plan-calendar">
				<img src="../../images/program/chest_190610/program_chest_tit.jpg" class="img-w100 hidden-tm" loading="lazy" alt="여행 전 가슴성형? 문제없지!! - 가슴성형 스케줄러, 수술 일부터 케어가 끝나는 날까지, 가슴성형 플랜 미리보기"/>
				<img src="../../images/program/chest_190610/program_chest_tit_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="여행 전 가슴성형? 문제없지!! - 가슴성형 스케줄러, 수술 일부터 케어가 끝나는 날까지, 가슴성형 플랜 미리보기"/>
				<div class="plan-calendar__area">
					<a href="" class="plan-calendar__prev js-calendar-prev">prev</a>
					<a href="" class="plan-calendar__next js-calendar-next">next</a>
					<div class="plan-calendar__box type-left" data-month="6">
						<div class="plan-calendar__wrap">
							<div class="plan-calendar__month">2019년 9월</div>
							<div class="plan-calendar__outer js-alert">
								<ul class="plan-calendar__week">
									<li class="plan-calendar__item">일</li>
									<li class="plan-calendar__item">월</li>
									<li class="plan-calendar__item">화</li>
									<li class="plan-calendar__item">수</li>
									<li class="plan-calendar__item">목</li>
									<li class="plan-calendar__item">금</li>
									<li class="plan-calendar__item">토</li>
								</ul>

								<div class="plan-calendar__inner">
									<ul class="plan-calendar__list">
										<!-- 9월 -->
										<li class="plan-calendar__day">1</li>
										<li class="plan-calendar__day type-start">2</li>
										<li class="plan-calendar__day type-week1">3</li>
										<li class="plan-calendar__day type-week1">4</li>
										<li class="plan-calendar__day type-week1">5</li>
										<li class="plan-calendar__day type-week1">6</li>
										<li class="plan-calendar__day type-week1">7</li>
										<li class="plan-calendar__day type-week1">8</li>
										<li class="plan-calendar__day type-week1">9</li>
										<li class="plan-calendar__day type-week2">10</li>
										<li class="plan-calendar__day type-week2">11</li>
										<li class="plan-calendar__day type-week2">12</li>
										<li class="plan-calendar__day type-week2">13</li>
										<li class="plan-calendar__day type-week2">14</li>
										<li class="plan-calendar__day type-week2">15</li>
										<li class="plan-calendar__day type-week2">16</li>
										<li class="plan-calendar__day type-week3">17</li>
										<li class="plan-calendar__day type-week3">18</li>
										<li class="plan-calendar__day type-week3">19</li>
										<li class="plan-calendar__day type-week3">20</li>
										<li class="plan-calendar__day type-week3">21</li>
										<li class="plan-calendar__day type-week3">22</li>
										<li class="plan-calendar__day type-week3">23</li>
										<li class="plan-calendar__day type-week4">24</li>
										<li class="plan-calendar__day type-week4">25</li>
										<li class="plan-calendar__day type-week4">26</li>
										<li class="plan-calendar__day type-week4">27</li>
										<li class="plan-calendar__day type-week4">28</li>
										<li class="plan-calendar__day type-week4">29</li>
										<li class="plan-calendar__day type-week4">30</li>
										<li class="plan-calendar__day type-departure">31</li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="plan-calendar__box type-right">
						<div class="plan-calendar__wrap">
							<div class="plan-calendar__month">2019년 10월</div>
							<div class="plan-calendar__outer">
								<ul class="plan-calendar__week">
									<li class="plan-calendar__item">일</li>
									<li class="plan-calendar__item">월</li>
									<li class="plan-calendar__item">화</li>
									<li class="plan-calendar__item">수</li>
									<li class="plan-calendar__item">목</li>
									<li class="plan-calendar__item">금</li>
									<li class="plan-calendar__item">토</li>
								</ul>

								<div class="plan-calendar__inner">
									<ul class="plan-calendar__list">
										<!-- 9월 -->
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
										<li class="plan-calendar__day"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
				<img src="../../images/program/chest_190610/program_chest_info.jpg" class="plan-calendar__info img-w100 hidden-tm" alt="당일: 무통/붓기주사, 1주차: 힐링스카 부기관리, 2주차: 힐링스카 집중케어, 3주차: 힐링스카 집중케어, 최종경과체크" />
				<img src="../../images/program/chest_190610/program_chest_info_m.jpg" class="plan-calendar__info img-w100 hidden-p" alt="당일: 무통/붓기주사, 1주차: 힐링스카 부기관리, 2주차: 힐링스카 집중케어, 3주차: 힐링스카 집중케어, 최종경과체크" />
				<div class="plan-calendar__bag">
					<img src="../../images/program/chest_190610/bag.png" loading="lazy" alt="img" class="img-w100"/>
				</div>
				<div class="plan-calendar__girl">
					<img src="../../images/program/chest_190610/girl.png" loading="lazy" alt="img" class="img-w100"/>
				</div>
			</div>
		</div>
		<img src="../../images/program/chest_190610/program_chest_3.jpg" class="img-w100 hidden-tm" loading="lazy" alt="휴가 준비를 마친 그녀들의 REAL SELFIE"/>
		<img src="../../images/program/chest_190610/program_chest_4.jpg" class="img-w100 hidden-tm" loading="lazy" alt="디테일의 차이가 만족스러운 결과를 만들어냅니다. - 바노바기 원스톱 가슴성형시스템"/>
		<img src="../../images/program/chest_190610/program_chest_5.jpg" class="img-w100 hidden-tm" loading="lazy" alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
		<img src="../../images/program/chest_190610/program_chest_3_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="가 준비를 마친 그녀들의 REAL SELFIE"/>
		<img src="../../images/program/chest_190610/program_chest_4_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진""/>
		<div class="program-banner">
			<a href="http://www.btsbanobagi.com" target="_blank">
				<img src="../../images/program/chest_190610/program_bts.jpg" class="img-normal" loading="lazy" alt=""/>
			</a>
		</div>
	</div>


<% include ../_include/_quick %>
<% include ../_include/_footer %>
