<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<!-- program-view -->
<div class="program-view">
	<div class="program-view__pc hidden-tm">

		<img src="../../images/program/landing_lift/landing_lift_top.jpg" loading="lazy" alt="5년 이상 유지되는 리프팅 비절개 탄력밴드 리프팅" />
		<img src="../../images/program/landing_lift/landing_lift_01.jpg" loading="lazy" alt="실리프팅은 오래 유지되지 않는다는 걱정! 안면거상술은 너무 아프고 붓는다는 걱정! 바노바기 비절개 탄력밴드 리프팅이 덜었습니다!" />
		<img src="../../images/program/landing_lift/landing_lift_02.jpg" loading="lazy" alt="그냥 실리프팅이 아닙니다. 바노바기 비절개 탄력밴드 리프팅은 느슨해진 인대를 재건하는 탄력 복원 수술입니다." />
		<img src="../../images/program/landing_lift/landing_lift_03.jpg" loading="lazy" alt="바노바기가 생각하는 좋은 리프팅의 조건입니다." />

		<div class="program-view__box type-lift" style="padding: 75px 0;background-image: url(../../images/program/landing_lift/landing_lift_04_bg.jpg); background-color: #c8c4c1;">
			<a href="#vline_lifting1">
				<img src="../../images/program/landing_lift/landing_lift_04_img01.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A" onmouseover="this.src='../../images/program/landing_lift/landing_lift_04_img01_over.jpg'" onmouseout="this.src='../../images/program/landing_lift/landing_lift_04_img01.jpg'" class="changeImg" />
			</a>
			<a href="#vline_lifting2">
				<img src="../../images/program/landing_lift/landing_lift_04_img02.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B" onmouseover="this.src='../../images/program/landing_lift/landing_lift_04_img02_over.jpg'" onmouseout="this.src='../../images/program/landing_lift/landing_lift_04_img02.jpg'" class="changeImg" />
			</a>
			<a href="#vline_lifting3">
				<img src="../../images/program/landing_lift/landing_lift_04_img03.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C" onmouseover="this.src='../../images/program/landing_lift/landing_lift_04_img03_over.jpg'" onmouseout="this.src='../../images/program/landing_lift/landing_lift_04_img03.jpg'" class="changeImg" />
			</a>
		</div>

		<div id="vline_lifting1">
			<img src="../../images/program/landing_lift/landing_lift_05.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A 늘어진 턱라인만 당겨도 인상이 달라집니다. 탄력밴드가 인대처럼 자연스럽게 V라인을 만듭니다." />
		</div>

		<div id="vline_lifting2">
			<img src="../../images/program/landing_lift/landing_lift_06.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B 탄력밴드 + pdo실로 늘어진 턱라인과 처진 뺨, 앞광대의 볼륨까지 개선합니다." />
		</div>

		<div id="vline_lifting3">
			<img src="../../images/program/landing_lift/landing_lift_07.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C V라인 리프팅, 처진 뺨과 얼굴의 볼륨감 개선부터 불필요한 얼굴살을 개선하고 지방층까지 수축합니다." />
		</div>

		<!-- 전후사진 로그인 -->
		<div id="vline_lifting1" class="js-login-open">
			<img src="../../images/program/landing_lift/landing_lift_05_off.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A 늘어진 턱라인만 당겨도 인상이 달라집니다. 탄력밴드가 인대처럼 자연스럽게 V라인을 만듭니다." />
		</div>

		<div id="vline_lifting2" class="js-login-open">
			<img src="../../images/program/landing_lift/landing_lift_06_off.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B 탄력밴드 + pdo실로 늘어진 턱라인과 처진 뺨, 앞광대의 볼륨까지 개선합니다." />
		</div>

		<div id="vline_lifting3" class="js-login-open">
			<img src="../../images/program/landing_lift/landing_lift_07_off.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C V라인 리프팅, 처진 뺨과 얼굴의 볼륨감 개선부터 불필요한 얼굴살을 개선하고 지방층까지 수축합니다." />
		</div>
		<!-- //전후사진 로그인 -->

		<img src="../../images/program/landing_lift/landing_lift_09.jpg" loading="lazy" alt="주름 성형 분야 석학들의 만남!" />
		<img src="../../images/program/landing_lift/landing_lift_11.jpg" loading="lazy" alt="Anti-aging! 주름성형 Total Solution!" />
		<img src="../../images/program/landing_lift/landing_lift_12.jpg" loading="lazy" alt="Safety Banobagi! 안전에 관해서라면 안심하셔도 좋습니다" />
		<img src="../../images/program/landing_lift/landing_lift_13.jpg" loading="lazy" alt="01 마취과 전문의 팀 상주 02 멸균 소독 시스템 03 정전에도 끄떡없는 대형 디젤 발전기" />
		<img src="../../images/program/landing_lift/landing_lift_14.jpg" loading="lazy" alt="04 안전을 위한 마취 시설 운영 05 수술 중/후 정밀 모니터링 06 수술집도의 실명제 시행" />
	</div>

	<div class="program-view__m hidden-p">
		<img src="../../images/program/landing_lift/landing_lift_top_m.jpg" loading="lazy" alt="5년 이상 유지되는 리프팅 비절개 탄력밴드 리프팅" />
		<img src="../../images/program/landing_lift/landing_lift_01_m.jpg" loading="lazy" alt="실리프팅은 오래 유지되지 않는다는 걱정! 안면거상술은 너무 아프고 붓는다는 걱정! 바노바기 비절개 탄력밴드 리프팅이 덜었습니다!" />
		<img src="../../images/program/landing_lift/landing_lift_02_m.jpg" loading="lazy" alt="그냥 실리프팅이 아닙니다. 바노바기 비절개 탄력밴드 리프팅은 느슨해진 인대를 재건하는 탄력 복원 수술입니다." />
		<img src="../../images/program/landing_lift/landing_lift_03_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅" />
		<img src="../../images/program/landing_lift/landing_lift_04_m.jpg" loading="lazy" alt="바노바기가 생각하는 좋은 리프팅의 조건입니다." />

		<div class="program-view__box type-lift" style="padding-top: 30px;padding-bottom: 30px; background: url(../../images/program/landing_lift/landing_lift_04_bg.jpg);">
			<ul class="program-view__list">
				<li class="program-view__item">
					<a href="#vline_lifting1_m">
						<img src="../../images/program/landing_lift/landing_lift_05_1_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#vline_lifting2_m">
						<img src="../../images/program/landing_lift/landing_lift_05_2_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#vline_lifting3_m">
						<img src="../../images/program/landing_lift/landing_lift_05_3_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C" class="changeImg">
					</a>
				</li>
			</ul>
		</div>

		<!-- 전후사진 로그인 -->
		<div id="vline_lifting1_m" class="js-login-open">
			<img src="../../images/program/landing_lift/landing_lift_06_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A 늘어진 턱라인만 당겨도 인상이 달라집니다. 탄력밴드가 인대처럼 자연스럽게 V라인을 만듭니다." />
			<img src="../../images/program/landing_lift/landing_lift_07_m.jpg" loading="lazy" alt="180 만원(vat.별도)" />

			<img src="../../images/program/landing_lift/landing_lift_08_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A before&after" />
			<img src="../../images/program/landing_lift/landing_lift_08_m_off.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 A before&after" />
		</div>
		<div id="vline_lifting2_m" class="js-login-open">
			<img src="../../images/program/landing_lift/landing_lift_09_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B 탄력밴드 + pdo실로 늘어진 턱라인과 처진 뺨, 앞광대의 볼륨까지 개선합니다." />
			<img src="../../images/program/landing_lift/landing_lift_10_m.jpg" loading="lazy" alt="230 만원(vat.별도)" />

			<img src="../../images/program/landing_lift/landing_lift_11_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B before&after" />
			<img src="../../images/program/landing_lift/landing_lift_11_m_off.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 B before&after" />
		</div>
		<div id="vline_lifting3_m" class="js-login-open">
			<img src="../../images/program/landing_lift/landing_lift_12_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C V라인 리프팅, 처진 뺨과 얼굴의 볼륨감 개선부터 불필요한 얼굴살을 개선하고 지방층까지 수축합니다." />
			<img src="../../images/program/landing_lift/landing_lift_13_m.jpg" loading="lazy" alt="280 만원(vat.별도)" />

			<img src="../../images/program/landing_lift/landing_lift_14_m.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C before&after" />
			<img src="../../images/program/landing_lift/landing_lift_14_m_off.jpg" loading="lazy" alt="비절개 탄력밴드 리프팅 C before&after" />
		</div>
		<!-- //전후사진 로그인 -->

		<img src="../../images/program/landing_lift/landing_lift_18_m.jpg" loading="lazy" alt="주름 성형 분야 석학들의 만남!" />
		<img src="../../images/program/landing_lift/landing_lift_19_m.jpg" loading="lazy" alt="Anti-aging! 주름성형 Total Solution!" />
		<img src="../../images/program/landing_lift/landing_lift_20_m.jpg" loading="lazy" alt="Anti-aging! 주름성형 Total Solution!" />
		<img src="../../images/program/landing_lift/landing_lift_24_m.jpg" loading="lazy" alt="Safety Banobagi! 안전에 관해서라면 안심하셔도 좋습니다" />
		<img src="../../images/program/landing_lift/landing_lift_25_m.jpg" loading="lazy" alt="01 마취과 전문의 팀 상주 02 멸균 소독 시스템" />
		<img src="../../images/program/landing_lift/landing_lift_26_m.jpg" loading="lazy" alt="03 정전에도 끄떡없는 대형 디젤 발전기 04 안전을 위한 마취 시설 운영" />
		<img src="../../images/program/landing_lift/landing_lift_27_m.jpg" loading="lazy" alt="05 수술 중/후 정밀 모니터링 06 수술집도의 실명제 시행" />
	</div>
</div>
<!-- //program-view -->

<!-- program-bottom -->
<div class="program-bottom">
    <img src="../../images/program/landing_lift/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="../../images/program/landing_lift/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="../../images/program/landing_lift/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
