<%
	type = "program"
	page = "landingPlan"
%>
<% include ../_include/_header %>
	<div class="content">
		<img src="../../images/program/contour_1909/contour1909_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="미리 체크 해보는 윤곽수술 스케줄러"/>
		<img src="../../images/program/contour_1909/contour1909_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="수술일부터 케어가 끝나는 날까지!! 윤곽성형 플랜 미리보기""/>
		<img src="../../images/program/contour_1909/contour1909_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="미리 체크 해보는 윤곽수술 스케줄러"/>
		<img src="../../images/program/contour_1909/contour1909_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="수술일부터 케어가 끝나는 날까지!! 윤곽성형 플랜 미리보기""/>
		<div class="content__calendar">
			<div class="plan-calendar2">
				<div class="plan-calendar2__area">
					<img src="../../images/program/contour_1909/calendar_top.jpg" class="img-w100 hidden-m" loading="lazy" alt="수술일을 선택하시면 집중관리 플랜이 자동으로 보여집니다"/>
					<img src="../../images/program/contour_1909/calendar_top_m.jpg" class="img-w100 hidden-pt" loading="lazy" alt="수술일을 선택하시면 집중관리 플랜이 자동으로 보여집니다"/>
					<div class="plan-calendar2__relative">
						<a href="" class="plan-calendar2__prev js-calendar-prev">prev</a>
						<a href="" class="plan-calendar2__next js-calendar-next">next</a>
						<div class="plan-calendar2__box type-left" data-month="9">
							<div class="plan-calendar2__wrap">
								<div class="plan-calendar2__month">2019년 <span class="plan-calendar2__point">9</span>월</div>
								<div class="plan-calendar2__outer">
									<ul class="plan-calendar2__week">
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">일</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">월</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">화</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">수</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">목</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">금</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">토</p></li>
									</ul>
								</div>
								<ul class="plan-calendar2__inner">
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">1</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-start">2</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1 type-first">3</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">4</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">5</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">6</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">7</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1">8</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week1 type-end">9</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2 type-first">10</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">11</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">12</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">13</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">14</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2">15</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week2 type-end">16</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3 type-first">17</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">18</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">19</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">20</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">21</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3">22</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-week3 type-end">23</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day type-departure">24</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">25</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">26</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">27</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">28</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">29</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day">30</p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
								</ul>
							</div>
						</div>
						<div class="plan-calendar2__box type-right" data-month="10">
							<div class="plan-calendar2__wrap">
								<div class="plan-calendar2__month">2019년 <span class="plan-calendar2__point">10</span>월</div>
								<div class="plan-calendar2__outer">
									<ul class="plan-calendar2__week">
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">일</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">월</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">화</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">수</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">목</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">금</p></li>
										<li class="plan-calendar2__item2"><p class="plan-calendar2__day2">토</p></li>
									</ul>
								</div>
								<ul class="plan-calendar2__inner">
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
									<li class="plan-calendar2__item"><p class="plan-calendar2__day"></p></li>
								</ul>
							</div>
						</div>
					</div>
					<img src="../../images/program/contour_1909/calendar_bottom.jpg" class="img-w100 hidden-m" loading="lazy" alt="당일:무통주사, 1주차:디테일 부기케어, 2주차 디테일 라인케어, 3주차: 디테일 파이널케어"/>
					<img src="../../images/program/contour_1909/calendar_bottom_m.jpg" class="img-w100 hidden-pt" loading="lazy" alt="당일:무통주사, 1주차:디테일 부기케어, 2주차 디테일 라인케어, 3주차: 디테일 파이널케어"/>
				</div>
			</div>
		</div>
		<img src="../../images/program/contour_1909/contour1909_5.jpg" class="img-w100 hidden-tm" loading="lazy" alt="어떤 얼굴형이라도 OK! - 자연스럽게, 부드러운 윤곽 라인! 바노바기 디테일 안면윤곽"/>
		<img src="../../images/program/contour_1909/contour1909_6.jpg" class="img-w100 hidden-tm" loading="lazy" alt="각진 얼굴, 유난히 튀어나온 광대, 답답해 보이는 무턱 - 무조건 깎는게 전부가 아니다!"/>
		<img src="../../images/program/contour_1909/contour1909_7.jpg" class="img-w100 hidden-tm" loading="lazy" alt="정면은 물론 반측면, 측면까지 고려한 - 광대 축소 재배치"/>
		<img src="../../images/program/contour_1909/contour1909_8.jpg" class="img-w100 hidden-tm" loading="lazy" alt="더 매력적인 V라인을 위한 사각턱축소"/>
		<img src="../../images/program/contour_1909/contour1909_9.jpg" class="img-w100 hidden-tm" loading="lazy" alt="긴 턱, 무 턱, 뭉툭한 턱의 놀라운 변화 턱끝성형"/>
		<img src="../../images/program/contour_1909/contour1909_10.jpg" class="img-w100 hidden-tm" loading="lazy" alt="매력적인 옴므 라인! 남자 안면윤곽"/>
		<img src="../../images/program/contour_1909/contour1909_11.jpg" class="img-w100 hidden-tm" loading="lazy" alt="바노바기 윤곽성형 3주 집중 케어 프로그램"/>
		<img src="../../images/program/contour_1909/contour1909_12.jpg" class="img-w100 hidden-tm" loading="lazy" alt="REAL SELFIE!"/>

		<img src="../../images/program/contour_1909/contour1909_5_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="어떤 얼굴형이라도 OK! - 자연스럽게, 부드러운 윤곽 라인! 바노바기 디테일 안면윤곽"/>
		<img src="../../images/program/contour_1909/contour1909_6_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="각진 얼굴, 유난히 튀어나온 광대, 답답해 보이는 무턱 - 무조건 깎는게 전부가 아니다!"/>
		<img src="../../images/program/contour_1909/contour1909_7_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="정면은 물론 반측면, 측면까지 고려한 - 광대 축소 재배치"/>
		<img src="../../images/program/contour_1909/contour1909_8_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="더 매력적인 V라인을 위한 사각턱축소"/>
		<img src="../../images/program/contour_1909/contour1909_9_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="긴 턱, 무 턱, 뭉툭한 턱의 놀라운 변화 턱끝성형"/>
		<img src="../../images/program/contour_1909/contour1909_10_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="매력적인 옴므 라인! 남자 안면윤곽"/>
		<img src="../../images/program/contour_1909/contour1909_11_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="바노바기 윤곽성형 3주 집중 케어 프로그램"/>
		<img src="../../images/program/contour_1909/contour1909_12_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="REAL SELFIE!"/>

		<div class="plan-video">
			<div class="plan-video__wrap">
				<div class="plan-video__video">
					<div class="program-video">
						<div class="program-video__wrap">
							<a href="" class="program-video__btn">play</a>
							<img src="../../images/program/contour_1909/contour1909_video.jpg" class="img-w100" alt=""/>
						</div>
					</div>
					<!-- <iframe id="contour1909_video" src="https://www.youtube.com/embed/N3sfGJOlk_s?enablejsapi=1&mute=1&rel=0"  frameborder="0" allowfullscreen></iframe> -->

					<div id="program-iframe"></div>
				</div>
			</div>
		</div>

		<img src="../../images/program/contour_1909/contour1909_13.jpg" class="img-w100 hidden-tm" loading="lazy" alt="“디테일의 차이가 만족스러운 결과를 만들어냅니다.”  바노바기 윤곽수술 전담팀"/>
		<img src="../../images/program/contour_1909/contour1909_14.jpg" class="img-w100 hidden-tm" loading="lazy" alt="안면윤곽, 왜 바노바기일까?"/>
		<img src="../../images/program/contour_1909/contour1909_15.jpg" class="img-w100 hidden-tm" loading="lazy" alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>

		<img src="../../images/program/contour_1909/contour1909_13_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="“디테일의 차이가 만족스러운 결과를 만들어냅니다.”  바노바기 윤곽수술 전담팀"/>
		<img src="../../images/program/contour_1909/contour1909_14_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="안면윤곽, 왜 바노바기일까?"/>
		<img src="../../images/program/contour_1909/contour1909_15_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
	</div>
<% include ../_include/_quick %>
<% include ../_include/_footer %>
