<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<style>
	.cont img{width:100%; vertical-align:middle;}
	/*common*/
    .cont{padding-top:50px; box-sizing:border-box;}
	.cont__box{background: #ffffff}
	.cont__area{max-width: 1200px;margin: 0 auto;}

    .b_slider{position:relative;text-align:center}
    .b_slider-box{}
    .b_slider-bg {position:absolute;top:0;left:0;width:100%;box-sizing: border-box;}
    .b_slider-login{position: absolute;top: 0;left: 0;width: 25%;height: 35%;text-indent: -9999px;overflow: hidden;z-index: 1;}
    .btn-bslider {position:absolute;top:45%;z-index:20;cursor:pointer}
    .btn-bleft{left: 40px;}
    .btn-bright{right: 40px;}
    @media only screen and (max-width: 993px) {
		.cont{padding-top:60px;}
		.cont__area{}
	}
	@media only screen and (max-width: 681px) {
		.cont{padding-top:50px;}
	}
</style>

<div class="cont">
    <!-- pc -->
    <div class="hidden-tm">
        <img src="../../images/program/uvlifting/uvlifting_img_1.jpg" loading="lazy" alt="V라인의 끝판왕! 빼고 넣고 당기는 UV 리프팅">
    	<img src="../../images/program/uvlifting/uvlifting_img_2.jpg" loading="lazy" alt="필요없는 지방은 빼고 미세 케뉼라로 손상없이 디테일하게 얼굴지방흡입">
    	<img src="../../images/program/uvlifting/uvlifting_img_3.jpg" loading="lazy" alt="필요한 부위에 지방은 넣고 나이 들어보이게 하는 삼각존을 채워라!">
    	<img src="../../images/program/uvlifting/uvlifting_img_4.jpg" loading="lazy" alt="처진 피부는 실리프팅으로 올리고 강력한 민트실로 당겨준다">
    	<img src="../../images/program/uvlifting/uvlifting_img_5.jpg" loading="lazy" alt="이런 분들께 추천합니다!">
    	<img src="../../images/program/uvlifting/uvlifting_img_6.jpg" loading="lazy" alt="왜 바노바기 UV 리프팅일까요?">

        <div class="cont__box">
            <div class="cont__area">
                <div class="b_slider">
					<div class="b_slider-box">
                        <div class="b_slider-list">
                            <div><img src="../../images/program/uvlifting/uvlifting_bf_1.jpg" loading="lazy" alt="BEFORE & AFTER"></div>
                            <div><img src="../../images/program/uvlifting/uvlifting_bf_2.jpg" loading="lazy" alt="BEFORE & AFTER"></div>
                            <div><img src="../../images/program/uvlifting/uvlifting_bf_3.jpg" loading="lazy" alt="BEFORE & AFTER"></div>
                            <div><img src="../../images/program/uvlifting/uvlifting_bf_4.jpg" loading="lazy" alt="BEFORE & AFTER"></div>
                        </div>
					</div>
					<div class="btn-bslider btn-bleft"><img src='../../images/program/uvlifting/uvlifting_slider_prev.png'></div>
					<div class="btn-bslider btn-bright"><img src='../../images/program/uvlifting/uvlifting_slider_next.png'></div>
				</div>
			</div>
        </div><!-- //cont__box -->

        <img src="../../images/program/uvlifting/uvlifting_img_7.jpg" loading="lazy" alt="자연스러운 아름다움을 만드는 보이지 않는 기술력 I AM DETAILIST 바노바기 성형외과의원">
    </div>

    <!-- mobile -->
    <div class="hidden-p">
        <img src="../../images/program/uvlifting/uvlifting_img_1_m.jpg" loading="lazy" alt="V라인의 끝판왕! 빼고 넣고 당기는 UV 리프팅">
    	<img src="../../images/program/uvlifting/uvlifting_img_2_m.jpg" loading="lazy" alt="필요없는 지방은 빼고 미세 케뉼라로 손상없이 디테일하게 얼굴지방흡입">
    	<img src="../../images/program/uvlifting/uvlifting_img_3_m.jpg" loading="lazy" alt="필요한 부위에 지방은 넣고 나이 들어보이게 하는 삼각존을 채워라!">
    	<img src="../../images/program/uvlifting/uvlifting_img_4_m.jpg" loading="lazy" alt="처진 피부는 실리프팅으로 올리고 강력한 민트실로 당겨준다">
    	<img src="../../images/program/uvlifting/uvlifting_img_5_m.jpg" loading="lazy" alt="이런 분들께 추천합니다!">
    	<img src="../../images/program/uvlifting/uvlifting_img_6_m.jpg" loading="lazy" alt="왜 바노바기 UV 리프팅일까요?">
        <img src="../../images/program/uvlifting/uvlifting_img_7_m.jpg" loading="lazy" alt="BEFORE & AFTER">
        <img src="../../images/program/uvlifting/uvlifting_img_8_m.jpg" loading="lazy" alt="자연스러운 아름다움을 만드는 보이지 않는 기술력 I AM DETAILIST 바노바기 성형외과의원">
    </div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript">
	$(function () {
		$(".b_slider-list").slick({
			autoplay: true, //자동슬라이드
			prevArrow: ".btn-bleft",
			nextArrow: ".btn-bright",
			infinite: true
		});
	})
</script>
