<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	/*common*/
    .cont{padding-top:50px; box-sizing:border-box; text-align:center;}
	.cont ul{margin:0; padding:0; font-size:0;}
	.cont li{display:inline-block; margin:3px; list-style:none;}
	.cont li a{display:block;}
	@media only screen and (max-width: 1025px) {
		.cont ul{margin-left:-3px; padding:0 5px; box-sizing:border-box;}
		.cont li{width:20%; margin:0; padding-left:3px; box-sizing:border-box;}
		.cont li img{width:100%;}
	}
</style>

<div class="cont">
    <!-- pc -->
    <div class="hidden-tm">
        <img src="../../images/program/contour_190214/contour_1.jpg" class="img-w100" loading="lazy" alt="바노바기 얼굴형개선 프로젝트"/>
		<img src="../../images/program/contour_190214/contour_2.jpg" class="img-w100" loading="lazy" alt="나에게 맞는 얼굴형개선 방법 알아보기"/>
		<ul>
			<li>
				<a href="#f_01" data-scroll="#f_01"><img src="../../images/program/contour_190214/contour_btn_1.jpg" class="img-normal" loading="lazy" alt="바노바기 디테일 양악,윤곽"/></a>
			</li>
			<li>
				<a href="#f_02" data-scroll="#f_02"><img src="../../images/program/contour_190214/contour_btn_2.jpg" class="img-normal" loading="lazy" alt="바노바기 얼굴지방흡입"/></a>
			</li>
			<li>
				<a href="#f_03" data-scroll="#f_03"><img src="../../images/program/contour_190214/contour_btn_3.jpg" class="img-normal" loading="lazy" alt="바노바기 보형물삽입술"/></a>
			</li>
			<li>
				<a href="#f_04" data-scroll="#f_04"><img src="../../images/program/contour_190214/contour_btn_4.jpg" class="img-normal" loading="lazy" alt="바노바기 리프팅윤곽술"/></a>
			</li>
			<li>
				<a href="#f_05" data-scroll="#f_05"><img src="../../images/program/contour_190214/contour_btn_5.jpg" class="img-normal" loading="lazy" alt="바노바기 얼굴형별 추천시술"/></a>
			</li>
		</ul>
		<img src="../../images/program/contour_190214/contour_3.jpg" class="img-w100" loading="lazy" alt="배경"/>
		<div id="f_01">
			<img src="../../images/program/contour_190214/contour_4.jpg" class="img-w100" loading="lazy" alt="01 - 나에게 필요한 얼굴뼈 수술은?"/>
		</div>
		<div id="f_02">
			<img src="../../images/program/contour_190214/contour_5.jpg" class="img-w100" loading="lazy" alt="02 - 나에게 필요한 얼굴살 수술은?"/>
		</div>
		<div id="f_03">
			<img src="../../images/program/contour_190214/contour_6.jpg" class="img-w100" loading="lazy" alt="03 - 나에게 필요한 보형물삽입술은?"/>
		</div>
		<div id="f_04">
			<img src="../../images/program/contour_190214/contour_7.jpg" class="img-w100" loading="lazy" alt="04 - 나에게 필요한 리프팅윤곽술은?"/>
		</div>
		<div id="f_05">
			<img src="../../images/program/contour_190214/contour_8.jpg" class="img-w100" loading="lazy" alt="05 - 바노바기 얼굴형 별 추천 시술"/>
		</div>
		<img src="../../images/program/contour_190214/contour_9.jpg" class="img-w100" loading="lazy" alt="얼굴형개선 프로젝트! 바노바기 윤곽 디테일리스트가 있기에 가능합니다."/>
		<img src="../../images/program/contour_190214/contour_10.jpg" class="img-w100" loading="lazy" alt="Before & After"/>
		<img src="../../images/program/contour_190214/contour_11.jpg" class="img-w100" loading="lazy" alt="안전에 관해서라면 안심하셔도 좋습니다."/>
    </div>
	<!-- mobile -->
    <div class="hidden-p">
        <img src="../../images/program/contour_190214/contour_1_m.jpg" class="img-w100" loading="lazy" alt="바노바기 얼굴형개선 프로젝트"/>
		<img src="../../images/program/contour_190214/contour_2_m.jpg" class="img-w100" loading="lazy" alt="나에게 맞는 얼굴형개선 방법 알아보기"/>
		<ul>
			<li>
				<a href="#f_06" data-scroll="#f_06"><img src="../../images/program/contour_190214/contour_btn_1_m.jpg" class="img-normal" loading="lazy" alt="바노바기 디테일 양악,윤곽"/></a>
			</li>
			<li>
				<a href="#f_07" data-scroll="#f_07"><img src="../../images/program/contour_190214/contour_btn_2_m.jpg" class="img-normal" loading="lazy" alt="바노바기 얼굴지방흡입"/></a>
			</li>
			<li>
				<a href="#f_08" data-scroll="#f_08"><img src="../../images/program/contour_190214/contour_btn_3_m.jpg" class="img-normal" loading="lazy" alt="바노바기 보형물삽입술"/></a>
			</li>
			<li>
				<a href="#f_09" data-scroll="#f_09"><img src="../../images/program/contour_190214/contour_btn_4_m.jpg" class="img-normal" loading="lazy" alt="바노바기 리프팅윤곽술"/></a>
			</li>
			<li>
				<a href="#f_10" data-scroll="#f_10"><img src="../../images/program/contour_190214/contour_btn_5_m.jpg" class="img-normal" loading="lazy" alt="바노바기 얼굴형별 추천시술"/></a>
			</li>
		</ul>
		<img src="../../images/program/contour_190214/contour_3_m.jpg" class="img-w100" loading="lazy" alt="배경"/>
		<div id="f_06">
			<img src="../../images/program/contour_190214/contour_4_m.jpg" class="img-w100" loading="lazy" alt="01 - 나에게 필요한 얼굴뼈 수술은?"/>
		</div>
		<div id="f_07">
			<img src="../../images/program/contour_190214/contour_5_m.jpg" class="img-w100" loading="lazy" alt="02 - 나에게 필요한 얼굴살 수술은?"/>
		</div>
		<div id="f_08">
			<img src="../../images/program/contour_190214/contour_6_m.jpg" class="img-w100" loading="lazy" alt="03 - 나에게 필요한 보형물삽입술은?"/>
		</div>
		<div id="f_09">
			<img src="../../images/program/contour_190214/contour_7_m.jpg" class="img-w100" loading="lazy" alt="04 - 나에게 필요한 리프팅윤곽술은?"/>
		</div>
		<div id="f_10">
			<img src="../../images/program/contour_190214/contour_8_m.jpg" class="img-w100" loading="lazy" alt="05 - 바노바기 얼굴형 별 추천 시술"/>
		</div>
		<img src="../../images/program/contour_190214/contour_9_m.jpg" class="img-w100" loading="lazy" alt="얼굴형개선 프로젝트! 바노바기 윤곽 디테일리스트가 있기에 가능합니다."/>
		<img src="../../images/program/contour_190214/contour_10_m.jpg" class="img-w100" loading="lazy" alt="Before & After"/>
		<img src="../../images/program/contour_190214/contour_11_m.jpg" class="img-w100" loading="lazy" alt="안전에 관해서라면 안심하셔도 좋습니다."/>
    </div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 여기까지 작업하시면 됩니다. -->


<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
