<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_bottom %>

<link rel="stylesheet" href="../../../css/program/eye_festival.css"/>

<div class="cont">
    <div class="cont-visual">
		<img src="../../images/program/eye_festival/eye_festival_img_1.jpg" loading="lazy" class="hidden-tm" alt="welcome to festival for 수험생">
        <img src="../../images/program/eye_festival/eye_festival_img_1_m.jpg" loading="lazy" class="hidden-p" alt="welcome to festival for 수험생">
    </div>

    <div class="cont-box1">
		<img src="../../images/program/eye_festival/eye_festival_img_2.jpg" loading="lazy" class="hidden-tm" alt="EVENT 01 눈 성형의 가장 기본! 쌍꺼풀 수술">
        <img src="../../images/program/eye_festival/eye_festival_img_2_m.jpg" loading="lazy" class="hidden-p" alt="EVENT 01 눈 성형의 가장 기본! 쌍꺼풀 수술">

        <div class="cont-box1__ouer">
			<!-- 쌍꺼풀 비절개 -->
            <div class="cont-box1__inner">
                <ul class="cont-box1__list js-eye-first js-scroll-motion">
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_3_1.jpg" class="" alt="">
                    </li>
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_3_2.jpg" class="" alt="">
                    </li>
                </ul>

                <div class="cont-box1__box">
                    <div class="cont-box1__area">
						<img src="../../images/program/eye_festival/eye_festival_img_4.jpg" loading="lazy" class="hidden-tm" alt="원래 내 것인 것처럼 #비절개">
                        <img src="../../images/program/eye_festival/eye_festival_img_4_m.jpg" loading="lazy" class="hidden-p" alt="원래 내 것인 것처럼 #비절개">
                    </div>
                </div>

                <a href="" class="cont-box1__btn type-prev js-eye-first-prev">이전</a>
				<a href="" class="cont-box1__btn type-next js-eye-first-next">다음</a>
            </div>

			<!-- 쌍꺼풀 절개 -->
			<div class="cont-box1__inner">
                <ul class="cont-box1__list js-eye-second js-scroll-motion">
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_5_1.jpg" class="" alt="">
                    </li>
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_5_2.jpg" class="" alt="">
                    </li>
                </ul>

                <div class="cont-box1__box">
                    <div class="cont-box1__area">
						<img src="../../images/program/eye_festival/eye_festival_img_6.jpg" loading="lazy" class="hidden-tm" alt="자연스럽고 시원한 눈매로 #절개">
                        <img src="../../images/program/eye_festival/eye_festival_img_6_m.jpg" loading="lazy" class="hidden-p" alt="자연스럽고 시원한 눈매로 #절개">
                    </div>
                </div>

                <a href="" class="cont-box1__btn type-prev js-eye-second-prev">이전</a>
				<a href="" class="cont-box1__btn type-next js-eye-second-next">다음</a>
            </div>
        </div>
    </div>

	<div class="cont-box1 type-even">
		<img src="../../images/program/eye_festival/eye_festival_img_7.jpg" loading="lazy" class="hidden-tm" alt="EVENT 02 눈꺼풀 근육의 힘을 조절하는 눈매교정 수술">
        <img src="../../images/program/eye_festival/eye_festival_img_7_m.jpg" loading="lazy" class="hidden-p" alt="EVENT 02 눈꺼풀 근육의 힘을 조절하는 눈매교정 수술">

        <div class="cont-box1__ouer">
			<!-- 눈매교정 비절개 -->
            <div class="cont-box1__inner">
                <ul class="cont-box1__list js-correct-first js-scroll-motion">
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_8_1.jpg" class="" alt="">
                    </li>
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_8_2.jpg" class="" alt="">
                    </li>
                </ul>

                <div class="cont-box1__box">
                    <div class="cont-box1__area">
						<img src="../../images/program/eye_festival/eye_festival_img_9.jpg" loading="lazy" class="hidden-tm" alt="자연스럽고 부드럽게 #비절개">
                        <img src="../../images/program/eye_festival/eye_festival_img_9_m.jpg" loading="lazy" class="hidden-p" alt="자연스럽고 부드럽게 #비절개">
                    </div>
                </div>

                <a href="" class="cont-box1__btn type-prev js-correct-first-prev">이전</a>
				<a href="" class="cont-box1__btn type-next js-correct-first-next">다음</a>
            </div>

			<!-- 눈매교정 절개 -->
			<div class="cont-box1__inner">
                <ul class="cont-box1__list js-correct-second js-scroll-motion">
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_10_1.jpg" class="" alt="">
                    </li>
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_10_2.jpg" class="" alt="">
                    </li>
                </ul>

                <div class="cont-box1__box">
                    <div class="cont-box1__area">
						<img src="../../images/program/eye_festival/eye_festival_img_11.jpg" loading="lazy" class="hidden-tm" alt="더욱 크고 또렷한 눈매 #절개">
                        <img src="../../images/program/eye_festival/eye_festival_img_11_m.jpg" loading="lazy" class="hidden-p" alt="더욱 크고 또렷한 눈매 #절개">
                    </div>
                </div>

                <a href="" class="cont-box1__btn type-prev js-correct-second-prev">이전</a>
				<a href="" class="cont-box1__btn type-next js-correct-second-next">다음</a>
            </div>
        </div>
    </div>

	<div class="cont-box1">
		<img src="../../images/program/eye_festival/eye_festival_img_12.jpg" loading="lazy" class="hidden-tm" alt="EVENT 03 눈 모양의 아름다움을 추구하여, 얼굴의 인상까지 고려한 쌍수 찰떡 궁합">
        <img src="../../images/program/eye_festival/eye_festival_img_12_m.jpg" loading="lazy" class="hidden-p" alt="EVENT 03 눈 모양의 아름다움을 추구하여, 얼굴의 인상까지 고려한 쌍수 찰떡 궁합">

        <div class="cont-box1__ouer">
			<!-- 눈매교정 비절개 -->
            <div class="cont-box1__inner">
                <ul class="cont-box1__list js-harmony-first js-scroll-motion">
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_13_1.jpg" class="" alt="">
                    </li>
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_13_2.jpg" class="" alt="">
                    </li>
                </ul>

                <div class="cont-box1__box">
                    <div class="cont-box1__area">
						<img src="../../images/program/eye_festival/eye_festival_img_14.jpg" loading="lazy" class="hidden-tm" alt="숨겨진 눈 길이를 찾아주는 #트임">
                        <img src="../../images/program/eye_festival/eye_festival_img_14_m.jpg" loading="lazy" class="hidden-p" alt="숨겨진 눈 길이를 찾아주는 #트임">
                    </div>
                </div>

                <a href="" class="cont-box1__btn type-prev js-harmony-first-prev">이전</a>
				<a href="" class="cont-box1__btn type-next js-harmony-first-next">다음</a>
            </div>

			<!-- 눈매교정 절개 -->
			<div class="cont-box1__inner">
                <ul class="cont-box1__list js-harmony-second js-scroll-motion">
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_15_1.jpg" class="" alt="">
                    </li>
                    <li class="cont-box1__item">
                        <img src="../../images/program/eye_festival/eye_festival_img_15_2.jpg" class="" alt="">
                    </li>
                </ul>

                <div class="cont-box1__box">
                    <div class="cont-box1__area">
						<img src="../../images/program/eye_festival/eye_festival_img_16.jpg" loading="lazy" class="hidden-tm" alt="보다 젊고 밝아 보이는 인상 #눈밑지방 재배치">
                        <img src="../../images/program/eye_festival/eye_festival_img_16_m.jpg" loading="lazy" class="hidden-p" alt="보다 젊고 밝아 보이는 인상 #눈밑지방 재배치">
                    </div>
                </div>

                <a href="" class="cont-box1__btn type-prev js-harmony-second-prev">이전</a>
				<a href="" class="cont-box1__btn type-next js-harmony-second-next">다음</a>
            </div>
        </div>
    </div>

	<img src="../../images/program/eye_festival/eye_festival_img_17.jpg" loading="lazy" class="hidden-tm" alt="왜 바노바기의 눈 성형 인가요?">
	<img src="../../images/program/eye_festival/eye_festival_img_17_m.jpg" loading="lazy" class="hidden-p" alt="왜 바노바기의 눈 성형 인가요?">

	<!-- before after slider -->
	<div class="program-before">
		<img src="../../images/program/eye_festival/eye_festival_before_tit.jpg" loading="lazy" class="hidden-tm" alt="Before & After">
		<img src="../../images/program/eye_festival/eye_festival_before_tit_m.jpg" loading="lazy" class="hidden-p" alt="Before & After">

		<div class="program-before__outer">
			<div class="program-before__inner">
				<div class="program-before__main">
					<ul class="program-before__list js-before-slide">
						<li class="program-before__item" data-page="0">
							<img src="../../images/program/eye_festival/eye_festival_before_1.jpg" alt=""/>
							<p class="program-before__txt">부분절개 눈매교정</p>
						</li>
						<li class="program-before__item" data-page="1">
							<img src="../../images/program/eye_festival/eye_festival_before_2.jpg" alt=""/>
							<p class="program-before__txt">부분절개 눈매교정</p>
						</li>
						<li class="program-before__item" data-page="2">
							<img src="../../images/program/eye_festival/eye_festival_before_3.jpg" alt=""/>
							<p class="program-before__txt">이중매몰+앞트임+뒤트임+밑트임</p>
						</li>
						<li class="program-before__item" data-page="3">
							<img src="../../images/program/eye_festival/eye_festival_before_4.jpg" alt=""/>
							<p class="program-before__txt">비절개 눈매교정+앞트임</p>
						</li>
						<li class="program-before__item" data-page="4">
							<img src="../../images/program/eye_festival/eye_festival_before_5.jpg" alt=""/>
							<p class="program-before__txt">부분절개+앞트임+뒤트임</p>
						</li>
						<li class="program-before__item" data-page="5">
							<img src="../../images/program/eye_festival/eye_festival_before_6.jpg" alt=""/>
							<p class="program-before__txt">비절개 눈매교정</p>
						</li>
						<li class="program-before__item" data-page="6">
							<img src="../../images/program/eye_festival/eye_festival_before_7.jpg" alt=""/>
							<p class="program-before__txt">이중매몰</p>
						</li>
						<li class="program-before__item"data-page="7">
							<img src="../../images/program/eye_festival/eye_festival_before_8.jpg" alt=""/>
							<p class="program-before__txt">이중매몰</p>
						</li>
						<li class="program-before__item" data-page="8">
							<img src="../../images/program/eye_festival/eye_festival_before_9.jpg" alt=""/>
							<p class="program-before__txt">비절개 눈매교정+앞트임+뒤트임+밑트임</p>
						</li>
						<li class="program-before__item" data-page="9">
							<img src="../../images/program/eye_festival/eye_festival_before_10.jpg" alt=""/>
							<p class="program-before__txt">이중매몰</p>
						</li>
						<li class="program-before__item" data-page="10">
							<img src="../../images/program/eye_festival/eye_festival_before_11.jpg" alt=""/>
							<p class="program-before__txt">이중매몰</p>
						</li>
						<li class="program-before__item" data-page="11">
							<img src="../../images/program/eye_festival/eye_festival_before_12.jpg" alt=""/>
							<p class="program-before__txt">매몰+앞트임</p>
						</li>
						<li class="program-before__item" data-page="12">
							<img src="../../images/program/eye_festival/eye_festival_before_13.jpg" alt=""/>
							<p class="program-before__txt">이중매몰</p>
						</li>
						<li class="program-before__item" data-page="13">
							<img src="../../images/program/eye_festival/eye_festival_before_14.jpg" alt=""/>
							<p class="program-before__txt">비절개 눈매교정+앞트임</p>
						</li>
						<li class="program-before__item" data-page="14">
							<img src="../../images/program/eye_festival/eye_festival_before_15.jpg" alt=""/>
							<p class="program-before__txt">이중매몰+앞트임+뒷트임+밑트임</p>
						</li>
						<li class="program-before__item" data-page="15">
							<img src="../../images/program/eye_festival/eye_festival_before_16.jpg" alt=""/>
							<p class="program-before__txt">눈밑지방제거</p>
						</li>
					</ul>

					<a href="" class="program-before__btn type-prev js-before-prev">이전</a>
					<a href="" class="program-before__btn type-next js-before-next">다음</a>
				</div>

				<div class="program-before__thum">
					<ul class="program-before__list2 js-thumbnail-slide nth-1 is-active">
						<li class="program-before__item2 is-active" data-page="0">
							<!-- <span class="program-before__num">0</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_1.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="1">
							<!-- <span class="program-before__num">1</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_2.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="2">
							<!-- <span class="program-before__num">2</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_3.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="3">
							<!-- <span class="program-before__num">3</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_4.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="4">
							<!-- <span class="program-before__num">4</span> -->

							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_5.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="5">
							<!-- <span class="program-before__num">5</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_6.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="6">
							<!-- <span class="program-before__num">6</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_7.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="7">
							<!-- <span class="program-before__num">7</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_8.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="8">
							<!-- <span class="program-before__num">8</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_9.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="9">
							<!-- <span class="program-before__num">9</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_10.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="10">
							<!-- <span class="program-before__num">10</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_11.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="11">
							<!-- <span class="program-before__num">11</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_12.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="12">
							<!-- <span class="program-before__num">12</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_13.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="13">
							<!-- <span class="program-before__num">13</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_14.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="14">
							<!-- <span class="program-before__num">14</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_15.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="15">
							<!-- <span class="program-before__num">15</span> -->
							<div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_16.jpg" alt=""/>
							</div>
						</li>
						<li class="program-before__item2" data-page="16">
							<!-- <span class="program-before__num">16</span> -->
							<!-- <div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_blank.jpg" alt=""/>
							</div> -->
						</li>
						<li class="program-before__item2" data-page="17">
							<!-- <span class="program-before__num">17</span> -->
							<!-- <div class="program-before__wrap">
								<img src="../../images/program/eye_festival/eye_festival_before_blank.jpg" alt=""/>
							</div> -->
						</li>
					</ul>
				</div>

				<p class="program-before__noti">
					* 본 이미지는 촬영 조건에 따라 다르게 보일 수 있으며, 환자 본인의 동의를 얻은 후 게재하였습니다.
				</p>
			</div>
		</div>
	</div>

	<img src="../../images/program/eye_festival/eye_festival_img_18.jpg" loading="lazy" class="hidden-tm" alt="바노바기 Real Selfie">
	<img src="../../images/program/eye_festival/eye_festival_img_18_m.jpg" loading="lazy" class="hidden-p" alt="바노바기 Real Selfie">

	<!-- program-tv -->
	<div class="program-tv">
		<h3 class="program-tv__tit">
			바노바기 <span class="weight-bold color-point">TV</span>
		</h3>

		<div class="program-tv__outer">
            <div class="program-tv__area">
                <div class="program-tv__video">
                    <div id="program-iframe"></div>
                </div>
            </div>

            <div class="program-tv__wrap">
                <div class="program-tv__box">
                    <ul class="program-tv__list">
						<li class="program-tv__item">
							<a class="program-tv__link" data-ytb-id="1mUcybBjzKE">
								<div class="program-tv__thum">
									<img src="../../images/program/eye_festival/eye_festival_thum_1.jpg" loading="lazy" class="" alt="">
								</div>
								<div class="program-tv__txt">
									<div class="program-tv__vertical">
										쌍꺼풀 수술! 절개? 비절개?<br>
										[알려주세요! 원장님]
									</div>
								</div>
							</a>
						</li>
						<li class="program-tv__item">
							<a class="program-tv__link" data-ytb-id="MYCs5vh7cME">
								<div class="program-tv__thum">
									<img src="../../images/program/eye_festival/eye_festival_thum_2.jpg" loading="lazy" class="" alt="">
								</div>
								<div class="program-tv__txt">
									<div class="program-tv__vertical">
										바노바기 아는의사 Dr.박신기<br>
										[눈성형, 어디까지 알고 있니?]
									</div>
								</div>
							</a>
						</li>
						<li class="program-tv__item">
							<a class="program-tv__link" data-ytb-id="vZQNGlLI0d4">
								<div class="program-tv__thum">
									<img src="../../images/program/eye_festival/eye_festival_thum_3.jpg" loading="lazy" class="" alt="">
								</div>
								<div class="program-tv__txt">
									<div class="program-tv__vertical">
										[눈, 코 성형 QnA]<br>
										구독자가 묻고<br>
										바노바기가 답한다!
									</div>
								</div>
							</a>
						</li>
                    </ul>
                </div>
            </div>
	    </div>

		<a href="https://www.youtube.com/c/banobagips" class="program-tv__btn txt-v1" target="_blank">
			<span class="program-tv__span">view more</span>
		</a>
	</div>
	<!-- //program-tv -->

	<img src="../../images/program/eye_festival/eye_festival_img_19.jpg" loading="lazy" class="hidden-tm" alt="바노바기의 디테일한 눈성형 전담팀">
	<img src="../../images/program/eye_festival/eye_festival_img_19_m.jpg" loading="lazy" class="hidden-p" alt="바노바기의 디테일한 눈성형 전담팀">
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript" src="../../../js/program/eye_festival.js"></script>
