<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<!-- program-view -->
<div class="program-view">
	<div class="program-view__pc hidden-tm">

		<img src="images/landing_face/landing_face_top.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_01.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_02.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_03.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_04.jpg" loading="lazy" alt="" />

		<div class="program-view__box type-another" style="padding: 100px 0;background-image: url(images/landing_face/landing_face_05_bg.jpg);">
			<a href="#face_con01">
				<img src="images/landing_face/landing_face_05_img01.jpg" loading="lazy" alt="" onMouseOver="this.src='images/landing_face/landing_face_05_img01_over.jpg'" onMouseOut="this.src='images/landing_face/landing_face_05_img01.jpg'" class="changeImg" />
			</a>
			<a href="#face_con02">
				<img src="images/landing_face/landing_face_05_img02.jpg" loading="lazy" alt="" onMouseOver="this.src='images/landing_face/landing_face_05_img02_over.jpg'" onMouseOut="this.src='images/landing_face/landing_face_05_img02.jpg'" class="changeImg" />
			</a>
			<a href="#face_con03">
				<img src="images/landing_face/landing_face_05_img03.jpg" loading="lazy" alt="" onMouseOver="this.src='images/landing_face/landing_face_05_img03_over.jpg'" onMouseOut="this.src='images/landing_face/landing_face_05_img03.jpg'" class="changeImg" />
			</a>
		</div>

		<div id="face_con01">
			<img src="images/landing_face/landing_face_06.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_07.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_07_2.jpg" loading="lazy" alt="" id="eventPart_1" class="op_txt" />
			<img src="images/landing_face/landing_face_08.jpg" loading="lazy" alt="" />
		</div>

		<div id="face_con02">
			<img src="images/landing_face/landing_face_09.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_10.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_10_2.jpg" loading="lazy" alt="" id="eventPart_2" class="op_txt" />
			<img src="images/landing_face/landing_face_11.jpg" loading="lazy" alt="" />
		</div>

		<div id="face_con03">
			<img src="images/landing_face/landing_face_12.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_13.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_14.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_14_2.jpg" loading="lazy" alt="" id="eventPart_3" class="op_txt" />
			<img src="images/landing_face/landing_face_15.jpg" loading="lazy" alt="" />
		</div>


<?php
	if($session_user_id != "") {
		echo '
		<!-- 전후사진 로그인 -->
		<div>
			<img src="images/landing_face/landing_face_16.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_17.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}else{
		echo '
		<!-- 전후사진 로그인 -->
		<div class="js-login-open">
			<img src="images/landing_face/landing_face_16_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_17_off.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}
?>

		<img src="images/landing_face/landing_face_18.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_19.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_20.jpg" loading="lazy" alt="" />
	</div>

	<div class="program-view__m hidden-p">
		<img src="images/landing_face/landing_face_01_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_02_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_03_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_04_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_05_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_06_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_07_m.jpg" loading="lazy" alt="" />

		<div class="program-view__box type-another" style="padding-top: 30px;padding-bottom: 30px; background: url(images/landing_face/landing_face_05_bg.jpg);">
			<ul class="program-view__list">
				<li class="program-view__item">
					<a href="#face_con01_m">
						<img src="images/landing_face/landing_face_08_1_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face_con02_m">
						<img src="images/landing_face/landing_face_08_2_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face_con03_m">
						<img src="images/landing_face/landing_face_08_3_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
			</ul>
		</div>

		<div id="face_con01_m">
			<img src="images/landing_face/landing_face_09_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_10_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_11_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_12_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_13_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_14_m.jpg" loading="lazy" alt="" />
		</div>
		<div id="face_con02_m">
			<img src="images/landing_face/landing_face_15_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_16_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_17_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_18_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_19_m.jpg" loading="lazy" alt="" />
		</div>
		<div id="face_con03_m">
			<img src="images/landing_face/landing_face_20_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_21_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_22_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_23_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_24_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_25_m.jpg" loading="lazy" alt="" />
		</div>


<?php
	if($session_user_id != "") {
		echo '
		<!-- 전후사진 로그인 -->
		<div>
			<img src="images/landing_face/landing_face_26_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_27_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_28_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_29_m.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}else{
		echo '
		<!-- 전후사진 로그인 -->
		<div class="js-login-open">
			<img src="images/landing_face/landing_face_26_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_27_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_28_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face/landing_face_29_m_off.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}
?>

		<img src="images/landing_face/landing_face_30_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_31_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_32_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_33_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face/landing_face_34_m.jpg" loading="lazy" alt="" />
	</div>
</div>
<!-- //program-view -->

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
