<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<!-- program-view -->
<div class="program-view type-breast">
	<div class="program-view__pc hidden-tm">
		<img src="images/e_breast02/b2_bg01.jpg" loading="lazy" alt="">

		<div class="program-view__bg">
			<div class="program-view__box cont01">
				<img src="images/e_breast02/b2_img01.jpg" loading="lazy" alt="" />
				<img src="images/e_breast02/b2_img02.jpg" loading="lazy" alt="" />
				<img src="images/e_breast02/b2_img03.jpg" loading="lazy" alt="" />
				<img src="images/e_breast02/b2_img04.jpg" loading="lazy" alt="" />
			</div>
		</div>

		<div class="program-view__box cont02">
			<div class="review__box">
				<div class="review__tit">
					<img src="images/e_breast02/b2_rtit01.jpg" loading="lazy" alt="" />
				</div>

                <!-- 전후사진 로그인 -->
                <div>
					<img src="images/e_breast02/b2_rimg01.jpg" loading="lazy" alt="" />
					<img src="images/e_breast02/b2_rimg02.jpg" loading="lazy" alt="" />
					<img src="images/e_breast02/b2_rimg03.jpg" loading="lazy" alt="" />
				</div>
                <!-- //전후사진 로그인 -->
			</div>

			<div class="review__box">
				<div class="review__tit">
					<img src="images/e_breast02/b2_rtit02.jpg" loading="lazy" alt="" />
					<img src="images/e_breast02/b2_rtit03.jpg" loading="lazy" alt="" />
				</div>

                <!-- 전후사진 로그인 -->
				<div>
					<img src="images/e_breast02/b2_rimg04_00.jpg" loading="lazy" alt="" />
					<img src="images/e_breast02/b2_rimg04.jpg" loading="lazy" alt="" />
				</div>
        		<!-- //전후사진 로그인 -->
			</div>

			<img src="images/e_breast02/b2_rtit04.jpg" loading="lazy" alt="" />
		</div>
	</div>

	<div class="program-view__m hidden-p">
		<img src="images/e_breast02/b2_img01_m.jpg" loading="lazy" alt="" />
		<img src="images/e_breast02/b2_img02_m.jpg" loading="lazy" alt="" />
		<img src="images/e_breast02/b2_img03_m.jpg" loading="lazy" alt="" />
		<img src="images/e_breast02/b2_img04_m.jpg" loading="lazy" alt="" />
		<img src="images/e_breast02/b2_rtit04_m.jpg" loading="lazy" alt="" />
	</div>
</div>
<!-- //program-view -->

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
