<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_bottom %>

<link rel="stylesheet" href="../../../css/program/exam2019.css"/>

<div class="cont">
	<h3 class="cont__tit">바노바기 성형외과 수험생 프로모션</h3>
	<img src="../../images/program/exam2019/exam2019_img_1.jpg" loading="lazy" class="hidden-tm" alt="바노바기 성형외과 수험생 프로모션 수高했3 올해도!">
    <img src="../../images/program/exam2019/exam2019_img_1_m.jpg" loading="lazy" class="hidden-p" alt="바노바기 성형외과 수험생 프로모션 수高했3 올해도!">

	<!-- 랜딩 리스트 -->
	<div class="cont-box1">
		<div class="cont-box1__outer">
			<ul class="cont-box1__list">
				<li class="cont-box1__item">
					<div class="cont-box1__wrap">
						<div class="cont-box1__img">
							<img src="../../images/program/exam2019/exam2019_img_2.jpg" loading="lazy" alt="디테일 눈성형 비절개 쌍꺼풀"/>
						</div>
						<div class="cont-box1__caption">
							<div class="cont-box1__vertical">
								<p class="cont-box1__txt">
									쌍수 페스티벌
								</p>
								<p class="cont-box1__won">
									<span class="cont-box1__point">45</span> 만원~
								</p>
							</div>
						</div>

						<a href="/eye/eyeDouble.php" target="_blank" class="cont-box1__link">자세히 보기</a>
					</div>
				</li>
				<li class="cont-box1__item">
					<div class="cont-box1__wrap">
						<div class="cont-box1__img">
							<img src="../../images/program/exam2019/exam2019_img_3.jpg" loading="lazy" alt="All That 코성형"/>
						</div>
						<div class="cont-box1__caption">
							<div class="cont-box1__vertical">
								<p class="cont-box1__txt">
									내생애 첫 코수술,<br>
									<span class="cont-box1__bold">All That 코성형</span>
								</p>
								<p class="cont-box1__won">
									<span class="cont-box1__point">200</span> 만원~
								</p>
							</div>
						</div>

						<a href="/nose/lowNose.php " target="_blank" class="cont-box1__link">자세히 보기</a>
					</div>
				</li>
				<li class="cont-box1__item">
					<div class="cont-box1__wrap">
						<div class="cont-box1__img">
							<img src="../../images/program/exam2019/exam2019_img_4.jpg" loading="lazy" alt="확실하게 예뻐지자 안면윤곽 성형"/>
						</div>
						<div class="cont-box1__caption">
							<div class="cont-box1__vertical">
								<p class="cont-box1__txt">
									확실하게 예뻐지자<br>
									<span class="cont-box1__bold">안면윤곽 성형</span>
								</p>
								<p class="cont-box1__won">
									<span class="cont-box1__point">200</span> 만원~
								</p>
							</div>
						</div>

						<a href="/program/bnbg_program_faceBetter.php" target="_blank" class="cont-box1__link">자세히 보기</a>
					</div>
				</li>
				<li class="cont-box1__item">
					<div class="cont-box1__wrap">
						<div class="cont-box1__img">
							<img src="../../images/program/exam2019/exam2019_img_5.jpg" loading="lazy" alt="참 예뻐지는 실 리프팅"/>
						</div>
						<div class="cont-box1__caption">
							<div class="cont-box1__vertical">
								<p class="cont-box1__txt">
									참 예뻐지는<br>
									<span class="cont-box1__bold">실 리프팅</span>
								</p>
								<p class="cont-box1__won">
									민트실 4줄 <span class="cont-box1__point">36</span> 만원~
								</p>
							</div>
						</div>

						<a href="/program/program_mintlifting.php" target="_blank" class="cont-box1__link">자세히 보기</a>
					</div>
				</li>
				<li class="cont-box1__item">
					<div class="cont-box1__wrap">
						<div class="cont-box1__img">
							<img src="../../images/program/exam2019/exam2019_img_6.jpg" loading="lazy" alt="스피드 다이어트! D-day 다이어트패키지+삭센다 1펜슬"/>
						</div>
						<div class="cont-box1__caption">
							<div class="cont-box1__vertical">
								<p class="cont-box1__txt">
									스피드 다이어트!<br>
									<span class="cont-box1__bold">D-day 다이어트패키지<br>
									+삭센다 1펜슬</span>
								</p>
								<p class="cont-box1__won">
									<span class="cont-box1__point">29</span> 만원~
								</p>
							</div>
						</div>

						<a href="https://www.petitbanobagi.com/cok/cokEvent.php" target="_blank" class="cont-box1__link">자세히 보기</a>
					</div>
				</li>
				<li class="cont-box1__item">
					<div class="cont-box1__wrap">
						<div class="cont-box1__img">
							<img src="../../images/program/exam2019/exam2019_img_7.jpg" loading="lazy" alt="이중턱 착붙주사"/>
						</div>
						<div class="cont-box1__caption">
							<div class="cont-box1__vertical">
								<p class="cont-box1__txt">
									<span class="cont-box1__bold">이중턱 착붙주사</span>
								</p>
								<p class="cont-box1__won">
									<span class="cont-box1__point">9</span> 만원~
								</p>
							</div>
						</div>

						<a href="https://www.petitbanobagi.com/cok/cokEvent.php" target="_blank" class="cont-box1__link">자세히 보기</a>
					</div>
				</li>
			</ul>

			<p class="cont-box1__noti">* VAT  10% 별도</p>
		</div>
	</div>

	<!-- 수험생 전용 상담 -->
	<div class="cont-box2">
		<div class="cont-box2__outer">
			<h4 class="cont-box2__tit">수험생 전용 상담</h4>

			<div class="cont-box2__wrap">
				<form action="">
					<ul class="form-box__list type-basic">
						<li class="form-box__item type-name">
							<div class="form-box__box">
								<div class="form-box__head">이름</div>
								<div class="form-box__body">
									<input type="text" class="form-box__input" name="eventName"/>
									<label id="eventName-error" class="error" for="eventName">이름을 입력해주세요.</label>
								</div>
							</div>
						</li>
						<li class="form-box__item type-phone">
							<div class="form-box__box">
								<div class="form-box__head">전화번호</div>
								<div class="form-box__body">
									<input type="tel" class="form-box__input" name="eventPhone"/>
								</div>
							</div>
						</li>
					</ul>

					<ul class="form-box__list">
						<li class="form-box__item type-interest">
							<div class="form-box__box">
								<div class="form-box__head">디테일 눈성형</div>
								<div class="form-box__body">
									<ul class="form-box__check-list">
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_1" value="">
											<label for="eventEye_1" class="form-box__label">쌍커풀-비절개(매몰)</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_2" value="">
											<label for="eventEye_2" class="form-box__label">쌍커풀-비절개(이중매몰)</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_3" value="">
											<label for="eventEye_3" class="form-box__label">쌍커풀-절개</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_4" value="">
											<label for="eventEye_4" class="form-box__label">눈매교정-비절개</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_5" value="">
											<label for="eventEye_5" class="form-box__label">눈매교정-절개</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_6" value="">
											<label for="eventEye_6" class="form-box__label">앞트임</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_7" value="">
											<label for="eventEye_7" class="form-box__label">뒷+밑트임</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventEye_8" value="">
											<label for="eventEye_8" class="form-box__label">눈밑지방재배치</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="form-box__item type-interest">
							<div class="form-box__box">
								<div class="form-box__head">All That 코성형</div>
								<div class="form-box__body">
									<ul class="form-box__check-list">
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventNose_1" value="">
											<label for="eventNose_1" class="form-box__label">올댓코</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventNose_2" value="">
											<label for="eventNose_2" class="form-box__label">코끝성형</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventNose_3" value="">
											<label for="eventNose_3" class="form-box__label">복합 콧볼축소</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="form-box__item type-interest">
							<div class="form-box__box">
								<div class="form-box__head">확실하게 예뻐지자</div>
								<div class="form-box__body">
									<ul class="form-box__check-list">
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventFace_1" value="">
											<label for="eventFace_1" class="form-box__label">디테일 안면윤곽</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventFace_2" value="">
											<label for="eventFace_2" class="form-box__label">디테일 양악수술</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventFace_3" value="">
											<label for="eventFace_3" class="form-box__label">보형물삽입술</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventFace_4" value="">
											<label for="eventFace_4" class="form-box__label">얼굴지방흡입</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventFace_5" value="">
											<label for="eventFace_5" class="form-box__label">리프팅윤곽술</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventFace_6" value="">
											<label for="eventFace_6" class="form-box__label">얼굴형별 추천시술</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="form-box__item type-interest">
							<div class="form-box__box">
								<div class="form-box__head">참 예뻐지는 실리프팅</div>
								<div class="form-box__body">
									<ul class="form-box__check-list">
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventLifting_1" value="">
											<label for="eventLifting_1" class="form-box__label">민트실리프팅</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventLifting_2" value="">
											<label for="eventLifting_2" class="form-box__label">민트실리프팅+아큐스컬프</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventLifting_3" value="">
											<label for="eventLifting_3" class="form-box__label">민트실리프팅+울쎄라</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="form-box__item type-interest">
							<div class="form-box__box">
								<div class="form-box__head">좋은 건 다 있다! 쁘띠 PICK!</div>
								<div class="form-box__body">
									<ul class="form-box__check-list">
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventPetit_1" value="">
											<label for="eventPetit_1" class="form-box__label">보톡스/필러</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventPetit_2" value="">
											<label for="eventPetit_2" class="form-box__label">다이어트</label>
										</li>
										<li class="form-box__check-item">
											<input type="checkbox" class="form-box__check" name="eventEye[]" id="eventPetit_3" value="">
											<label for="eventPetit_3" class="form-box__label">스킨케어/필링</label>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>

					<div class="form-box__bottom">
						<ul class="form-box__bottom-list">
							<li class="form-box__bottom-item">
								<input type="checkbox" class="form-box__check" name="eventAgree_1" id="eventAgree_1" value="">
								<label for="eventAgree_1" class="form-box__label">개인정보 수집 및 이용 동의 (필수)</label>

								<span id="chkAgree1-error" class="error">개인정보 수집 및 이용 동의를 체크해주세요.</span>
							</li>
							<li class="form-box__bottom-item">
								<input type="checkbox" class="form-box__check" name="eventAgree_2" id="eventAgree_2" value="">
								<label for="eventAgree_2" class="form-box__label">마케팅 및 광고 활용 동의(선택)</label>

								<a href="" class="form-box__link js-terms">[ 자세히 보기 ]</a>
							</li>
						</ul>
						<!-- <p class="form-box__noti">* 스피드 다이어트와 이중턱 착붙주사 이벤트는 상기 배너를 클릭하여 신청해주세요</p> -->
					</div>

					<div class="form-box__area">
						<buttom type="button" class="form-box__btn">신청하기</buttom>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script type="text/javascript" src="../../../js/program/exam2019.js"></script>
