<%
	type = "program"
	page = "landingWeek"
%>
<% include ../_include/_header %>
	<div class="content longweek">
		<img src="../../images/program/longweek_190903/longweek_img_1.jpg" class="img-w100 hidden-tm" alt="황금연휴, 더 빛나게! - 예뻐지기 바노바기 황금혜택 기간 2019년 9월 1일 ~ 10월31일까지"/>
		<img src="../../images/program/longweek_190903/longweek_img_1_m.jpg" class="img-w100 hidden-p" alt="황금연휴, 더 빛나게! - 예뻐지기 바노바기 황금혜택 기간 2019년 9월 1일 ~ 10월31일까지"/>
		<div class="longweek__wrap">
			<img src="../../images/program/longweek_190903/longweek_tit.png" class="img-w100 hidden-tm" alt="황금연휴 황금혜택 - 이벤트를 클릭하시면 상세내용을 확인하실 수 있습니다."/>
			<img src="../../images/program/longweek_190903/longweek_tit_m.png" class="img-w100 hidden-p" alt="황금연휴 황금혜택 - 이벤트를 클릭하시면 상세내용을 확인하실 수 있습니다."/>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section1_top.jpg" class="img-w100 hidden-tm" alt="디테일 눈성형"/>
				<img src="../../images/program/longweek_190903/longweek_section1_top_m.jpg" class="img-w100 hidden-p" alt="디테일 눈성형"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section1_bottom.jpg" class="img-w100 hidden-tm" alt="비절개 쌍커풀부터 상하안검까지! - 디테일 눈성형"/>
					<img src="../../images/program/longweek_190903/longweek_section1_bottom_m.jpg" class="img-w100 hidden-p" alt="비절개 쌍커풀부터 상하안검까지! - 디테일 눈성형"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section2_top.jpg" class="img-w100 hidden-tm" alt="올댓 코성형"/>
				<img src="../../images/program/longweek_190903/longweek_section2_top_m.jpg" class="img-w100 hidden-p" alt="올댓 코성형"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section2_bottom.jpg" class="img-w100 hidden-tm" alt="기본코 + 코끝 + 콧볼 + 비주교정까지! 올댓 코성형"/>
					<img src="../../images/program/longweek_190903/longweek_section2_bottom_m.jpg" class="img-w100 hidden-p" alt="기본코 + 코끝 + 콧볼 + 비주교정까지! 올댓 코성형"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section3_top.jpg" class="img-w100 hidden-tm" alt="윤곽2종, 윤곽3종"/>
				<img src="../../images/program/longweek_190903/longweek_section3_top_m.jpg" class="img-w100 hidden-p" alt="윤곽2종, 윤곽3종"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section3_bottom.jpg" class="img-w100 hidden-tm" alt="더 매력적인 V라인을 위한 광대, 사각턱, 턱끝! - 디테일 안면윤곽"/>
					<img src="../../images/program/longweek_190903/longweek_section3_bottom_m.jpg" class="img-w100 hidden-p" alt="더 매력적인 V라인을 위한 광대, 사각턱, 턱끝! - 디테일 안면윤곽"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section4_top.jpg" class="img-w100 hidden-tm" alt="모발이식 절개 3000모, 미니 헤어라인 절개 500모"/>
				<img src="../../images/program/longweek_190903/longweek_section4_top_m.jpg" class="img-w100 hidden-p" alt="모발이식 절개 3000모, 미니 헤어라인 절개 500모"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section4_bottom.jpg" class="img-w100 hidden-tm" alt="최대한 자연스럽게, 그리고 정교하게!"/>
					<img src="../../images/program/longweek_190903/longweek_section4_bottom_m.jpg" class="img-w100 hidden-p" alt="최대한 자연스럽게, 그리고 정교하게!"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section5_top.jpg" class="img-w100 hidden-tm" alt="젤틱, 살쏙 캡슐 테라피"/>
				<img src="../../images/program/longweek_190903/longweek_section5_top_m.jpg" class="img-w100 hidden-p" alt="젤틱, 살쏙 캡슐 테라피"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section5_bottom.jpg" class="img-w100 hidden-tm" alt="운동할 시간도 없는 분들을 위한 체형교정! - 젤틱 / 살쏙캡슐테라피"/>
					<img src="../../images/program/longweek_190903/longweek_section5_bottom_m.jpg" class="img-w100 hidden-p" alt="운동할 시간도 없는 분들을 위한 체형교정! - 젤틱 / 살쏙캡슐테라피"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section6_top.jpg" class="img-w100 hidden-tm" alt="비절개 탄력밴드 리프팅 or 비절개 소프트 리프팅"/>
				<img src="../../images/program/longweek_190903/longweek_section6_top_m.jpg" class="img-w100 hidden-p" alt="비절개 탄력밴드 리프팅 or 비절개 소프트 리프팅"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section6_bottom.jpg" class="img-w100 hidden-tm" alt="실리프팅과 안면거상술의 장점만을 모은! - 비절개 탄력밴드 리프팅, 쫀쫀한피부 V라인 콜라겐재생 - 비절개 소프트 리프팅"/>
					<img src="../../images/program/longweek_190903/longweek_section6_bottom_m.jpg" class="img-w100 hidden-p" alt="실리프팅과 안면거상술의 장점만을 모은! - 비절개 탄력밴드 리프팅, 쫀쫀한피부 V라인 콜라겐재생 - 비절개 소프트 리프팅"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section7_top.jpg" class="img-w100 hidden-tm" alt="민트실리프팅 4줄"/>
				<img src="../../images/program/longweek_190903/longweek_section7_top_m.jpg" class="img-w100 hidden-p" alt="민트실리프팅 4줄"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section7_bottom.jpg" class="img-w100 hidden-tm" alt="더욱 강력한 3D 리프팅 효과! - 민트실 리프팅"/>
					<img src="../../images/program/longweek_190903/longweek_section7_bottom_m.jpg" class="img-w100 hidden-p" alt="더욱 강력한 3D 리프팅 효과! - 민트실 리프팅"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section8_top.jpg" class="img-w100 hidden-tm" alt="울쎄라 100샷"/>
				<img src="../../images/program/longweek_190903/longweek_section8_top_m.jpg" class="img-w100 hidden-p" alt="울쎄라 100샷"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section8_bottom.jpg" class="img-w100 hidden-tm" alt="수술없이 피부 속부터 촘촘하게 당겨지는 리프팅! - 울쎄라"/>
					<img src="../../images/program/longweek_190903/longweek_section8_bottom_m.jpg" class="img-w100 hidden-p" alt="수술없이 피부 속부터 촘촘하게 당겨지는 리프팅! - 울쎄라"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<div class="longweek__box is-active">
				<img src="../../images/program/longweek_190903/longweek_section9_top.jpg" class="img-w100 hidden-tm" alt="화이트닝 패키지"/>
				<img src="../../images/program/longweek_190903/longweek_section9_top_m.jpg" class="img-w100 hidden-p" alt="화이트닝 패키지"/>
				<div class="longweek__bottom">
					<img src="../../images/program/longweek_190903/longweek_section9_bottom.jpg" class="img-w100 hidden-tm" alt="내 피부타입에 찰떡! 피부솔루션 - pick 스킨 필링"/>
					<img src="../../images/program/longweek_190903/longweek_section9_bottom_m.jpg" class="img-w100 hidden-p" alt="내 피부타입에 찰떡! 피부솔루션 - pick 스킨 필링"/>
				</div>
				<a href="" class="longweek__btn">닫기</a>
			</div>
			<img src="../../images/program/longweek_190903/longweek_noti.png" class="img-w100 hidden-tm" alt="모든 수술 VAT별도이며 환자의 상태에 따라 비용이 달라질 수 있습니다."/>
			<img src="../../images/program/longweek_190903/longweek_noti_m.png" class="img-w100 hidden-p" alt="모든 수술 VAT별도이며 환자의 상태에 따라 비용이 달라질 수 있습니다."/>
		</div>
		<img src="../../images/program/longweek_190903/longweek_img_3.jpg" class="img-w100 hidden-tm" alt="예뻐지기 딱! 좋은 황금연휴"/>
		<img src="../../images/program/longweek_190903/longweek_img_4.jpg" class="img-w100 hidden-tm" alt="예쁜건 바노바기에 다 있다!"/>
		<img src="../../images/program/longweek_190903/longweek_img_5.jpg" class="img-w100 hidden-tm" alt="디테일의 차이, 바노바기에 가능합니다. 자연스러운 아름다움을 만드는 보이지 않는 기술력 - 바노바기 성형외과의원"/>
		<img src="../../images/program/longweek_190903/longweek_img_6.jpg" class="img-w100 hidden-tm" alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
		<img src="../../images/program/longweek_190903/longweek_img_3_m.jpg" class="img-w100 hidden-p" alt="예뻐지기 딱! 좋은 황금연휴"/>
		<img src="../../images/program/longweek_190903/longweek_img_4_m.jpg" class="img-w100 hidden-p" alt="예쁜건 바노바기에 다 있다!"/>
		<img src="../../images/program/longweek_190903/longweek_img_5_m.jpg" class="img-w100 hidden-p" alt="디테일의 차이, 바노바기에 가능합니다. 자연스러운 아름다움을 만드는 보이지 않는 기술력 - 바노바기 성형외과의원"/>
		<img src="../../images/program/longweek_190903/longweek_img_6_m.jpg" class="img-w100 hidden-p" alt="서울대출신 성형외과전문의로만 구성된 바노바기성형외과의원 디테일리스트 의료진"/>
	</div>


<% include ../_include/_quick %>
<% include ../_include/_footer %>
