<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<!-- program-view -->
<div class="program-view">
	<div class="program-view__pc hidden-tm">

		<img src="images/landing_face2/landing_face2_top.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_01.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_02.jpg" loading="lazy" alt="">

		<div class="program-view__box" style="padding: 75px 0; background: #945D74 url(images/landing_face2/landing_face2_03_bg.jpg); background-repeat: no-repeat; background-position: 50%; text-align: center;">
			<a href="#face2_con01">
				<img src="images/landing_face2/landing_face2_03_img01.jpg" loading="lazy" alt="" onmouseover="this.src='images/landing_face2/landing_face2_03_img01_over.jpg'" onmouseout="this.src='images/landing_face2/landing_face2_03_img01.jpg'" class="changeImg">
			</a>
			<a href="#face2_con02">
				<img src="images/landing_face2/landing_face2_03_img02.jpg" loading="lazy" alt="" onmouseover="this.src='images/landing_face2/landing_face2_03_img02_over.jpg'" onmouseout="this.src='images/landing_face2/landing_face2_03_img02.jpg'" class="changeImg">
			</a>
			<a href="#face2_con03">
				<img src="images/landing_face2/landing_face2_03_img03.jpg" loading="lazy" alt="" onmouseover="this.src='images/landing_face2/landing_face2_03_img03_over.jpg'" onmouseout="this.src='images/landing_face2/landing_face2_03_img03.jpg'" class="changeImg">
			</a>
			<a href="#face2_con04">
				<img src="images/landing_face2/landing_face2_03_img04.jpg" loading="lazy" alt="" onmouseover="this.src='images/landing_face2/landing_face2_03_img04_over.jpg'" onmouseout="this.src='images/landing_face2/landing_face2_03_img04.jpg'" class="changeImg">
			</a>
		</div>

		<div id="face2_con01">
		   <img src="images/landing_face2/landing_face2_04.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_05.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_06.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_07.jpg" loading="lazy" alt="">
		</div>

		<div id="face2_con02">
		   <img src="images/landing_face2/landing_face2_08.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_09.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_10.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_11.jpg" loading="lazy" alt="">
		</div>

		<div id="face2_con03">
		   <img src="images/landing_face2/landing_face2_12.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_13.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_14.jpg" loading="lazy" alt="">
		</div>

		<div id="face2_con04">
		   <img src="images/landing_face2/landing_face2_15.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_16.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_17.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_18.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_19.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_20.jpg" loading="lazy" alt="">
		   <img src="images/landing_face2/landing_face2_21.jpg" loading="lazy" alt="">
		</div>

<?php
	if($session_user_id != "") {
		echo '
		<!-- 전후사진 로그인 -->
		<div>
			<img src="images/landing_face2/landing_face2_22.jpg" loading="lazy" alt="">
			<img src="images/landing_face2/landing_face2_23.jpg" loading="lazy" alt="">
		</div>
		<!-- //전후사진 로그인 -->';
	}else{
		echo '
		<!-- 전후사진 로그인 -->
		<div class="js-login-open">
			<img src="images/landing_face2/landing_face2_22_off.jpg" loading="lazy" alt="">
			<img src="images/landing_face2/landing_face2_23_off.jpg" loading="lazy" alt="">
		</div>
		<!-- //전후사진 로그인 -->';
	}
?>

		<img src="images/landing_face2/landing_face2_24.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_25.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_26.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_27.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_28.jpg" loading="lazy" alt="">
		<img src="images/landing_face2/landing_face2_29.jpg" loading="lazy" alt="">
	</div>

	<div class="program-view__m hidden-p">
		<img src="images/landing_face2/landing_face2_01_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_02_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_03_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_04_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_05_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_06_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_07_m.jpg" loading="lazy" alt="" />

		<div class="program-view__box" style="padding: 30px 5%; background: #945D74 url(images/landing_face2/landing_face2_03_bg_m.jpg); background-repeat: no-repeat; background-position: 50%; text-align: center;">
			<ul class="program-view__list">
				<li class="program-view__item">
					<a href="#face2_con01_m">
						<img src="images/landing_face2/landing_face2_08_1_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face2_con02_m">
						<img src="images/landing_face2/landing_face2_08_2_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face2_con03_m">
						<img src="images/landing_face2/landing_face2_08_3_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
				<li class="program-view__item">
					<a href="#face2_con04_m">
						<img src="images/landing_face2/landing_face2_08_4_m.jpg" loading="lazy" alt="" class="changeImg">
					</a>
				</li>
			</ul>
		</div>

		<div id="face2_con01_m">
			<img src="images/landing_face2/landing_face2_09_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_10_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_11_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_12_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_13_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_14_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_15_m.jpg" loading="lazy" alt="" />
		</div>
		<div id="face2_con02_m">
			<img src="images/landing_face2/landing_face2_16_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_17_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_18_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_19_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_20_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_21_m.jpg" loading="lazy" alt="" />
		</div>
		<div id="face2_con03_m">
			<img src="images/landing_face2/landing_face2_22_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_23_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_24_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_25_m.jpg" loading="lazy" alt="" />
		</div>
		<div id="face2_con04_m">
			<img src="images/landing_face2/landing_face2_26_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_27_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_28_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_29_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_30_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_31_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_32_m.jpg" loading="lazy" alt="" />
		</div>

<?php
	if($session_user_id != "") {
		echo '
		<!-- 전후사진 로그인 -->
		<div>
			<img src="images/landing_face2/landing_face2_33_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_34_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_35_m.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_36_m.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}else{
		echo '
		<!-- 전후사진 로그인 -->
		<div class="js-login-open">
			<img src="images/landing_face2/landing_face2_33_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_34_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_35_m_off.jpg" loading="lazy" alt="" />
			<img src="images/landing_face2/landing_face2_36_m_off.jpg" loading="lazy" alt="" />
		</div>
		<!-- //전후사진 로그인 -->';
	}
?>

		<img src="images/landing_face2/landing_face2_37_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_38_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_39_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_40_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_41_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_42_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_43_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_44_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_45_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_46_m.jpg" loading="lazy" alt="" />
		<img src="images/landing_face2/landing_face2_47_m.jpg" loading="lazy" alt="" />
	</div>
</div>
<!-- //program-view -->

<!-- program-bottom -->
<div class="program-bottom">
    <img src="images/program_logo_bano.gif" loading="lazy" alt="바노바기 성형외과" class="program-bottom__img">

    <div class="program-bottom__box">
        <div class="program-bottom__wrap">
            <div class="program-bottom__inner">
                <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img hidden-tm">

                <a href="tel:15886508" class="program-bottom__link hidden-p">
                    <img src="images/program_call_1.png" loading="lazy" alt="바로 문의 전화 1588-6508" class="program-bottom__img">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
