<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top: 50px;box-sizing: border-box;font-size: 0;}
    .cont-box{padding-bottom: 67.88%;background: url('../../images/program/hair_relocation/hair_relocation_img_14.jpg?ver=190610') center center/cover no-repeat;}
    .cont-box__link{display: block;padding: 0 41.25%;}
    .cont-box__link img{border: 0;}

    @media only screen and (max-width: 1025px){
        .cont-box{padding-bottom: 145.88%;background: url('../../images/program/hair_relocation/hair_relocation_img_14_m.jpg?ver=190610') center center/cover no-repeat;}
        .cont-box__link{padding: 0 29.68%;}
    }
    @media only screen and (max-width: 1025px) and (orientation: landscape){
        .cont-box{padding-bottom: 67.88%;background: url('../../images/program/hair_relocation/hair_relocation_img_14.jpg?ver=190610') center center/cover no-repeat;}
        .cont-box__link{padding: 0 41.25%;}
    }
</style>

<div class="cont">
    <img src="../../images/program/hair_relocation/hair_relocation_img_1.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_2.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_3.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_4.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_5.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_6.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_7.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_8.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_9.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_10.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_11.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
	<img src="../../images/program/hair_relocation/hair_relocation_img_12.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_13.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-tm"/>

    <img src="../../images/program/hair_relocation/hair_relocation_img_1_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_2_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_3_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_4_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_5_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_6_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_7_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_8_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_9_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_10_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_11_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
	<img src="../../images/program/hair_relocation/hair_relocation_img_12_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>
    <img src="../../images/program/hair_relocation/hair_relocation_img_13_m.jpg?ver=190610" loading="lazy" alt="디테일한 차이 바노바기! 모발 재배치술 - 모발이식 분야 권위자 이경구 원장" class="img-w100 hidden-p"/>

    <div class="cont-box">
        <img src="../../images/program/hair_relocation/hair_relocation_img_14_txt.png" loading="lazy" alt="환자의 모발을 생각하는 I AM DETAILIST 자연스러운 헤어라인을 만드는 보이지 않는 기술" class="hidden-tm img-w100"/>
        <img src="../../images/program/hair_relocation/hair_relocation_img_14_txt_m.png" loading="lazy" alt="환자의 모발을 생각하는 I AM DETAILIST 자연스러운 헤어라인을 만드는 보이지 않는 기술" class="hidden-p img-w100"/>

        <a href="" class="cont-box__link js-consultation-event">
            <img src="../../images/program/hair_relocation/hair_relocation_img_14_btn.png" loading="lazy" alt="이벤트 신청" class="hidden-tm img-w100"/>
            <img src="../../images/program/hair_relocation/hair_relocation_img_14_btn_m.png" loading="lazy" alt="이벤트 신청" class="hidden-p img-w100"/>
        </a>
    </div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
