@charset "UTF-8";
/*program 아테콜 css 기반*/
@keyframes type-prev {
    0% {transform: translateX(0);}
    100% {transform: translateX(-10px);}
}
@keyframes type-next {
    0% {transform: translateX(0);}
    100% {transform: translateX(10px);}
}

@-webkit-keyframes type-prev {
    0% {-webkit-transform: translateX(0);}
    100% {-webkit-transform: translateX(-10px);}
}

@-ms-keyframes type-prev {
    0% {-ms-transform: translateX(0);}
    100% {-ms-transform: translateX(-10px);}
}

@-webkit-keyframes type-next {
    0% {-webkit-transform: translateX(0);}
    100% {-webkit-transform: translateX(10px);}
}

@-ms-keyframes type-next {
    0% {-ms-transform: translateX(0);}
    100% {-ms-transform: translateX(10px);}
}

/*common*/
.cont{padding-top:50px; box-sizing:border-box; text-align:center;}
.cont img{width:100%; vertical-align:middle;}




.cont__box.type-bf{padding: 7.8% 0 5.7%;background: url(/images/program/softLifting_2019/landing_soft_lifting_5.jpg) center center/cover no-repeat;}
.cont__box.type-bf .cont__area{max-width: 896px; width:100%; margin:0 auto;}
.cont-bf{margin-top:8.98%; margin-bottom:2.8%;}
.cont-bf__box{padding:20px;background-color: #fff;text-align: center;}
.bf-slider{position: relative;text-align: center;}
.bf-slider__list{margin: 0;padding:0;list-style: none;}
.bf-slider__item{}
.bf-slider__btn{position: absolute;top: 0;bottom: 0;width: 45px;height: 49px;margin: auto 0;text-indent: -9999px;overflow: hidden;}
.bf-slider__btn.type-prev{left: -12%;background: url(/images/program/softLifting_2019/bfaf_left.png);background-size: cover;-ms-animation: type-prev 0.6s infinite alternate ease-in-out;-webkit-animation: type-prev 0.6s infinite alternate ease-in-out;}
.bf-slider__btn.type-next{right:-12%;background: url(/images/program/softLifting_2019/bfaf_right.png);background-size: cover;-ms-animation: type-next 0.6s infinite alternate ease-in-out;-webkit-animation: type-next 0.6s infinite alternate ease-in-out;}


@media only screen and (max-width: 993px) {
    .cont{padding-top: 60px;}
    .cont__box{padding: 120px 0;}
    .cont__area{padding: 0 52px;}

    .cont-slider__list{padding: 0;}
    .cont-slider__btn{top: 20%;bottom: auto;}
    .cont-slider__dot{bottom: 80px;width: 80%;}

    .cont__box.type-bf{padding-top: 120px;background: #2d282b;}
    .cont__box.type-bf .cont__area{padding: 0;}

    .cont-bf{margin-top: 0;padding-top: 125%;background: url(/images/program/artecoll/artecoll_bg_1_m.jpg) center top/cover no-repeat}
    .cont-bf__box{margin: 0 20px;padding: 52px 32px 36px;}

    .bf-slider{}
    .bf-slider__list{padding: 0;}
    .bf-slider__btn{top: 10px;bottom: auto;}


    .cont__box.type-video{padding: 50px 0;background-image: none;}
    .cont__inner{float: none;width: 100%;}
}
@media only screen and (max-width: 681px) {
    .cont{padding-top:50px;}
    .cont__box{padding: 60px 0;}
    .cont__area{padding: 0 26px;}

    .cont-slider__btn{width: 15px;height: 25px;}
    .cont-slider__dot{bottom: 40px;}

    .cont__box.type-bf{padding-top: 60px;background: #2d282b;}
    .cont-bf__box{margin: 0 10px;padding: 26px 18px 18px;}
    .bf-slider__btn{width: 15px;height: 25px;}
}
