/*common*/
.cont{padding-top:50px; box-sizing:border-box;}
.cont img{width:100%; vertical-align:middle;}
.cont__box{padding: 200px 0;background: #ffffff;font-size: 0;}
.cont__area{max-width: 1592px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}
