.new-visual{
	$this:&;
	&.type-cranium{
		&:before{
			@include background('../images/special/cranium/cranium_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$special1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cranium{
			&:before{
				@include background('../images/special/cranium/cranium_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-cranium{
			&:before{
				@include background('../images/special/cranium/cranium_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.section-normal{
	$this:&;

	&.type-cranium{padding-top: 95px;padding-bottom: 43.51%;
		@include background('../images/special/cranium/cranium_bg_1.jpg','no-repeat center bottom/cover');
		#{$this}__wrap{padding: 0 360px;}
	}

    @media only screen and (max-width: $tablet-size){
        &.type-cranium{padding-bottom: 57.58%; @include background('../images/special/cranium/cranium_bg_1_t.jpg','no-repeat center bottom/cover');
			#{$this}__wrap{padding: 0 80px;}
		}
    }
    @media only screen and (max-width: $mobile-size) {
        &.type-cranium{padding-top: 45px;padding-bottom: 66.58%; @include background('../images/special/cranium/cranium_bg_1_m.jpg','no-repeat center bottom/cover');
			#{$this}__wrap{padding: 0 25px;}
		}
    }
}

.new-style1{
	$this:&;

	&.type-cranium{background: #0a1b32;}
    &.type-cranium2{background:$special3;}
}

.step-style{
    $this:&;

    &.type-vertical{
        &.type-cranium{
            #{$this}__head{background-color: $special2;}
        }
    }
}

.img-style1{
    $this:&;

    &.type-cranium{
        #{$this}__list{margin-left: -40px;}
        #{$this}__item{padding-left: 40px;}
    }
}

.cranium-list{margin: 0;padding: 0;background-color: #eaeaea;font-size: 0;list-style: none;
	$this:&;

	&__item{display: inline-block;width: 33.33%;box-sizing: border-box;}
	&__box{display: inline-table;padding: 0 10%;vertical-align: middle;}
}
