
.new-visual{
	$this:&;
	&.type-total{
		&:before{
			@include background('../images/special/total/total_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$special1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-total{
			&:before{
				@include background('../images/special/total/total_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-total{
			&:before{
				@include background('../images/special/total/total_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}



.new-style1{
	$this:&;
	&.type-total{background:#d3e5f9;}
}
