
.new-visual{
	$this:&;
	&.type-lip{
		&:before{
			@include background('../images/special/lip/lip_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$special1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-lip{
			&:before{
				@include background('../images/special/lip/lip_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-lip{
			&:before{
				@include background('../images/special/lip/lip_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}



.new-style1{
	$this:&;
	&.type-lip2{background-color:#001c43;
		#{$this}__tit,#{$this}__txt2{color:#fff;}
		#{$this}__txt{color:#aaa}
	}
	&.type-lip3{background-color:#0e1b2d;
		#{$this}__tit,#{$this}__txt2{color:#fff;}
		#{$this}__txt{color:#aaa}
	}
	&.type-lip4{background-color:#d9f1fc;}
}

.outer-box{
	$this:&;
	&.type-lip{margin-top:76px; padding-top:100px; padding-bottom:100px; font-size:0;}
	@media only screen and (max-width: $mobile-size) {
		&.type-lip{margin-top:40px; padding-top:50px; padding-bottom:50px;}
	}
}

.compare4{
	$this:&;
	&__circle{
		&.type-lip{@include background('../images/special/lip/lip_bg_2.png','no-repeat center center/cover');}
		&.type-lip2{@include background('../images/special/lip/lip_bg_3.png','no-repeat center center/cover');}
	}
}
