.new-visual{
	$this:&;
	&.type-extraction{
		&:before{
			@include background('../images/special/extraction/extraction_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$special1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-extraction{
			&:before{
				@include background('../images/special/extraction/extraction_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-extraction{
			&:before{
				@include background('../images/special/extraction/extraction_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-extraction{@include background('../images/special/extraction/extraction_bg_1.jpg','no-repeat center bottom/contain');}
    &.type-extraction2{background: #e2f1f8;}
    &.type-extraction3{background: #eee;}
}

.new-explan{
	$this: &;
    &.type-extraction{background-color: #2a3033;
        #{$this}__tit{color: #fff;}
        #{$this}__subject{color: #fff;
            &:after{border-top:1px solid #fff;}
        }
        #{$this}__txt{color: #aaa;}
    }

	@media only screen and (max-width: $tablet-size) {
		&.type-rapid{
			#{$this}__tit{margin:0 -30px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-rapid{
			#{$this}__tit{margin:0;}
		}
	}
}
