

.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.specialFirst{@include background('../images/special/special_detail_section01.jpg','no-repeat center center / cover');
		& .detail__inner{text-align:center;}
	}
	&.specialSection01{@include background('../images/special/special_detail_section02.jpg','no-repeat center center / cover');
		& .detail__section-box{bottom:-60px;}
	}
	&.specialSection02{@include background('../images/special/special_detail_section03.jpg','no-repeat center center / cover');
		& .detail__section-box{width:350px;}
	}
	&.specialSection03{@include background('../images/special/special_detail_section04.jpg','no-repeat center center / cover');
		& .detail__section-box{bottom:-50px; width:360px; color:#333;}
		& .detail__section-subtit{color:#333;}
	}
	&.specialSection04{@include background('../images/special/special_detail_section05.jpg','no-repeat center center / cover');}
	&.specialSection05{@include background('../images/special/special_detail_section06.jpg','no-repeat center center / cover');
		& .detail__section-box{top:-30px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.specialFirst{@include background('../images/special/special_detail_section01_768.jpg','no-repeat center center / cover');}
		&.specialSection01{@include background('../images/special/special_detail_section02_768.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; left:auto; bottom:-150px; width:270px;}
		}
		&.specialSection02{@include background('../images/special/special_detail_section03_768.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; width:270px;}
		}
		&.specialSection03{@include background('../images/special/special_detail_section04_768.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; left:auto; bottom:auto; width:300px;}
		}
		&.specialSection04{@include background('../images/special/special_detail_section05_768.jpg','no-repeat center center / cover');
			& .detail__section-box{top:-20px; bottom:auto;}
		}
		&.specialSection05{@include background('../images/special/special_detail_section06_768.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; right:auto;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.specialFirst{@include background('../images/special/special_detail_section01.jpg','no-repeat center center / cover');}
		&.specialSection01{@include background('../images/special/special_detail_section02.jpg','no-repeat center center / cover');
			& .detail__section-box{bottom:-60px;width: 400px;}
		}
		&.specialSection02{@include background('../images/special/special_detail_section03.jpg','no-repeat center center / cover');
			& .detail__section-box{width:350px;}
		}
		&.specialSection03{@include background('../images/special/special_detail_section04.jpg','no-repeat center center / cover');
			& .detail__section-box{bottom:-50px; width:360px; color:#333;}
			& .detail__section-subtit{color:#333;}
		}
		&.specialSection04{@include background('../images/special/special_detail_section05.jpg','no-repeat center center / cover');}
		&.specialSection05{@include background('../images/special/special_detail_section06.jpg','no-repeat center center / cover');
			& .detail__section-box{top:-30px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.specialFirst{@include background('../images/special/special_detail_section01_640.jpg','no-repeat center center / cover');}
		&.specialSection01{height:600px !important; @include background('../images/special/special_detail_section02_640.jpg','no-repeat center center / cover');
			& .detail__section-box{bottom:-70px; width:160px;}
		}
		&.specialSection02{height:650px !important; @include background('../images/special/special_detail_section03_640.jpg','no-repeat center center / cover');
			& .detail__section-box{width:auto;}
		}
		&.specialSection03{height:660px !important; @include background('../images/special/special_detail_section04_640.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto;}
		}
		&.specialSection04{height:800px !important; @include background('../images/special/special_detail_section05_640.jpg','no-repeat center center / cover');
			& .detail__section-box{top:auto; width:100%;}
		}
		&.specialSection05{height:700px !important; @include background('../images/special/special_detail_section06_640.jpg','no-repeat center center / cover');
			& .detail__section-box{}
		}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.specialSection05{
			& .detail__section-box{width:300px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.specialSection01{
			& .detail__section-box{top:auto; bottom:auto; width:350px;}
		}
	}
}



.layer-img{position:absolute; top:50%; right:15%; transform: translateY(-60%); -ms-transform: translateY(-60%);
	width:40.36%; height:49%; @include background('../images/special/layer_img1.jpg','no-repeat center center / cover');
	@media only screen and (max-width:$tablet-size){top:auto; right:8%; left:auto; bottom:12%;  width:444px; height:282px; transform: none;
		@include background('../images/special/layer_img1_t.jpg','no-repeat center center / cover');}
	@media only screen and (max-width:$mobile-size){position:relative; right:auto; bottom:auto; width:100%; height:0; margin-top:50px; padding-bottom:63.38%; background:none;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/special/layer_img1_m.jpg','no-repeat center center / cover');  content:'';
		}
	}
}

.popup-img{width:380px; margin:40px auto 0;box-sizing: border-box;
	&__box{overflow:hidden; width:100%; height:280px; @include background('../images/special/special_detail_popup.jpg','no-repeat center center / contain'); text-indent:-9999px;box-sizing: border-box;}
	&__txt{margin:20px 0 0 0; font-size:18px;
		& strong{font-weight:400;}
	}
	@media only screen and (max-width:$mobile-size){width:100%;margin:20px auto 0; padding:0 24px;
		&__box{position:relative; overflow:hidden; width:100%; height:0; background:none;  padding-bottom:87.87%; text-indent:-9999px;
			&:after{display:block; position:absolute; left:0; top:0; width:100%; height:100%;  @include background('../images/special/special_detail_popup_m.jpg','no-repeat center center / cover');
				background-size:cover; content:'';}
		}
		&__txt{margin-top:0px; font-size:1.4rem;}
	}
}


.layer-doc5{position:absolute; top:50%; transform: translateY(-50%); -ms-transform:ranslateY(-50%); width:72.81%; height:38%; right:-10%;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__list{width:100%; height:100%; margin: 0 0 0 -16px;padding: 0;list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; height:100%; padding-left:16px; box-sizing: border-box;
		&.nth-2{margin-top:77px;
			& #{$this}__wrap{@include background('../images/special/special_detail_layer2.jpg','no-repeat center center / cover');}
		}
		&.nth-3{
			& #{$this}__wrap{@include background('../images/special/special_detail_layer3.jpg','no-repeat center center / cover');}
		}
	}
	&__wrap{position:relative; width:100%; height:100%; @include background('../images/special/special_detail_layer1.jpg','no-repeat center center / cover');}
	&__tit{position:absolute; left:0; bottom:0; width:100%; height:35px; line-height:35px; color:#fff; font-size:16px; font-weight:400; text-align:center; background-color:#000; background-color:rgba(0,0,0,0.6);margin: 0;}

	@media only screen and (max-width:$tablet-size){right:0; width:auto; height:auto;
		&__list{margin-left:0;}
		&__item{float:none; width:184px; height:238px; padding:0;
			&.nth-2{margin-top:0; margin-left:-72px;}
			& + &{margin-top:25px;}
		}
		&__tit{height:30px; line-height: 30px; font-size:14px;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		right: -10%;
		&__list{margin-left: -16px;}
		&__item{float:left; width:33.33%; height:100%; padding-left:16px;
			& + &{margin-top:0;}
			&.nth-2{margin-top:77px; margin-left: 0;}
		}
		&__tit{height: 35px; line-height: 35px; font-size:16px;}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		width:61%; height:28%;
		&__tit{font-size:12px;}
	}
	@media only screen and (max-width:$mobile-size){position:static; top:auto; transform: none; margin:80px -15px 0;
		&__list{margin-left:-5px;}
		&__item{float:left; width:33.33%; height:auto;  padding-left:5px;
			&.nth-2{margin:0;
				& #{$this}__wrap{
					&:before{ @include background('../images/special/special_detail_layer2_m.jpg','no-repeat center center / cover'); }
				}
			}
			&.nth-3{
				& #{$this}__wrap{
					&:before{@include background('../images/special/special_detail_layer3_m.jpg','no-repeat center center / cover');}
				}
			}
			& + &{margin:0;}
		}
		&__wrap{position:relative; height:0; padding-bottom:137%;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/special/special_detail_layer1_m.jpg','no-repeat center center / cover'); content:'';}
		}
		&__tit{height:25px; line-height:25px; font-size:1.2rem;}
		&__tit-wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	}
	@media only screen and (max-width:$iphone-size){margin:70px 0 0;}
}
.popup-system{width:388px; margin:0px auto;
	$this:&;
	&__list{margin:36px 0 0 0;padding: 0;list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; width:180px;  color:#fff; box-sizing: border-box;
		&:nth-child(even){margin-left:27px;}
		& + & + &{margin-top:17px;
			& #{$this}__wrap{
				&:after{position:absolute; top:-17px; left:0; right:0; display:block; height:17px; width:0; margin:0px auto; border-left:1px solid #828e9f; content:'';}
			}
		}
		&:nth-child(2),&:last-child{
			& #{$this}__wrap{
				&:before{position:absolute; top:0; left:-27px; bottom:0; display:block; height:0; width:27px; margin:auto 0; border-top:1px solid #828e9f; content:'';}
			}
		}
		&:before{position:absolute; top:-2px; left:-8px; width:0px; height:0px; border-top:none; border-bottom:10px solid #fff; border-right:10px solid transparent; border-left:10px solid transparent;
			 transform: rotate(-45deg); -ms-transform: rotate(-45deg); content:'';}
	}
	&__wrap{display:table-cell; width:1%; height:40px; vertical-align:middle; text-align:center; background-color:#061d40;}
	&__tit{font-size:14px; font-weight:400; margin: 0;}
	&__txt{margin:0; font-size:12px; font-weight:300;}
	@media only screen and (max-width:$mobile-size){width:auto;
		&__list{margin-top:0px; margin-left:-10px;}
		&__item{width:50%; padding-left:10px;
			&:nth-child(even){margin-left:0px;}
			& + & + &{margin-top:10px;
				& #{$this}__wrap{
					&:after{top:-10px; height:10px;  border-left:1px solid #061d40;}
				}
			}
			&:nth-child(2),&:last-child{
				& #{$this}__wrap{
					&:before{left:0px; width:10px; border-top:1px solid #061d40;}
				}
			}
			&:before{position:absolute; top:-4px; left:3px; width:0px; height:0px; border-top:none; border-bottom:10px solid #fff; border-right:10px solid transparent; border-left:10px solid transparent;
				 transform: rotate(-45deg); -ms-transform: rotate(-45deg); content:'';}
		}
		&__wrap{height:46px; }
		&__tit{font-size:1.3rem;}
		&__txt{font-size:1.0rem;}
	}
}
.color-special0{color:#092b5d; font-weight:400;}
.color-special1{color:#333333; font-weight:400;}
.color-special2{color:#ffffff; font-weight:400;}
.color-special3{color:#092b5d;}
.color-special4{color:#78a3e8;}
.color-special5{color:#94b3cd;}
.color-special6{color:#41517c;}
.color-special7{color:#1c3da0;}
.color-special8{color:#a6c9ff;}
.color-special9{color:#9bbff6;}
.color-special10{color:#84b4ff;}
.color-special11{color:#b3d0fd;}
.color-special12{color:#05429f;}
.color-special13{color:#003976;}
.color-special14{color:#035dbd !important;}
.color-special15{color:#003378;}
.color-special16{color:#174fa5;}

.color-comma{color:#a3a3a3;}
.style-comma{
	&.type-another{margin-left:-25px; margin-right:20px;
		@media only screen and (max-width:$tablet-size){
			margin-left:-15px; margin-right:0;
		}
		@media only screen and (max-width:$mobile-size){
			margin-left:-7px;
		}
	}
}
