
.new-visual{
	$this:&;
	&.type-ear{
		&:before{
			@include background('../images/special/ear/ear_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background:$special1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ear{
			&:before{
				@include background('../images/special/ear/ear_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ear{
			&:before{
				@include background('../images/special/ear/ear_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.section-normal{
	&.type-ear{@include background('../images/special/ear/ear_bg_1.jpg','no-repeat center bottom/contain');}
}

.img-style2{
	$this:&;
	&.type-ear{
		#{$this}__tit{color:#fff;}
		#{$this}__caption{background-color:rgba(0,51,120,0.8); color:#fff;}
	}
}

.new-style1{
	$this:&;
	&.type-ear{background-color:#081323;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__txt2{color:#fff;}
	}
	&.type-ear2{background-color:#eeeeee;}
	&.type-ear3{background-color:#d9f1fc;}
}

.arrow-style{
	$this:&;
	&.type-ear{
		#{$this}__caption{background-color:#035dbd; box-sizing:border-box;}
	}
}

.multi-box{
	$this:&;
	&.type-ear{
		#{$this}__header{@include background('../images/special/ear/ear_bg_3.jpg','no-repeat center center / cover'); box-sizing:border-box;}
	}
}
