@charset "utf-8";
@import "mixins";
.content{padding-top:50px; box-sizing:border-box;
}
.contour-all{
    $this:&;
    &__area{position:relative;
        &.nth-2{padding-bottom:35.66%;
            #{$this}__outer{
                padding:0 18.2291%; @include background('../images/program/contour_190613/contour_all_06.jpg','no-repeat center center / cover'); box-sizing:border-box;
            }
        }
        &.nth-3{padding-bottom:50.31%;
            #{$this}__outer{
                 @include background('../images/program/contour_190613/contour_all_08.jpg','no-repeat center center / cover'); box-sizing:border-box;
            }
        }
    }
    &__outer{position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;}
    &__inner{padding:0 18.2291%;}
    &__inner2{position:relative; margin-top:2.63%; padding:0 15.416%;
        ul{margin:0 0 0 -1.2%; padding:0;
            &:after{display:block; clear:both; content:'';}
        }
        li{float:left; width:25%; padding-left:1.2%; list-style:none; box-sizing:border-box; }
        a{display:block;}
    }
    &__wrap{width:100%; max-width:1466px;  margin:5.04% auto 0; padding:0 10px; box-sizing:border-box;}
    &__big{position:relative; padding-bottom:56.25%;
        iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
    }
    @media only screen and (max-width:$tablet-size){
        &__area{position:relative;
            &.nth-2{padding-bottom:45.3125%;
                #{$this}__outer{
                    padding:0 10.31%; @include background('../images/program/contour_190613/contour_all_07_m.jpg','no-repeat center center / cover'); box-sizing:border-box;
                }
            }
            &.nth-3{padding-bottom:63.28%;
                #{$this}__outer{
                     @include background('../images/program/contour_190613/contour_all_09_m.jpg','no-repeat center center / cover'); box-sizing:border-box;
                }
            }
        }
        &__inner{padding:0 10.31%;}
        &__inner2{position:relative; margin-top:2.63%; padding:0 7.812%;
            ul{margin:0 0 0 -1.2%; padding:0;
                &:after{display:block; clear:both; content:'';}
            }
            li{float:left; width:25%; padding-left:1.2%; list-style:none; box-sizing:border-box; }
            a{display:block;}
        }
    }
}
.contour-all-tab{margin:0 0 0 -18px; padding:0;
    &:after{display:block; clear:both; content:'';}
    li{float:left; width:25%; padding-left:18px; list-style:none; box-sizing:border-box;}
    a{display:block;}
    @media only screen and (max-width:$tablet-size){margin-left:-15px; font-size:0;
        li{float:none; display:inline-block; width:50%; padding-left:15px;
            &:nth-child(2) ~ li{margin-top:10px;}
        }
    }
}

.contour-slider{position:relative;
    &__list{height:inherit; margin:0; padding:0; }
    &__item{list-style:none;}
    &__box{position:relative; list-style:none; width:100%; height:0; padding-bottom:56.25%;
        iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
    }
    &__btn{position:absolute; top:0; bottom:0; display:block; width:35px; height:66px; margin:auto 0;
        &.type-prev{left:-16%; @include background('../images/program/contour_190613/contour_all_prev.png','no-repeat center center / contain');}
        &.type-next{right:-16%; @include background('../images/program/contour_190613/contour_all_next.png','no-repeat center center / contain');}
    }
    &__dot{display:none; margin-top:3%;
        li{
            &.slick-active{
                button{background-color:#ffd384;}
            }
            button{width:12px; height:12px;}
        }
    }
    @media only screen and (max-width:$tablet-size){
        &__btn{position:absolute; top:0; bottom:0; display:block; width:12px; height:20px; margin:auto 0;
            &.type-prev{left:-8%; }
            &.type-next{right:-8%;}
        }
        &__dot{
            li{
                button{width:8px; height:8px;}
            }
        }
    }
}
