@charset "utf-8";
@import "mixins";
@import url("//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css");
.program-box{position:relative;
    @media only screen and (max-width:$tablet-size){
        & + &{margin-top:-1px;}
    }
}
.program-body{
    &__btn{overflow:hidden; position:absolute; bottom:-147px; left:0; right:0; display:block; width:298px; height:294px;  margin:0 auto; z-index:10; text-indent:-9999px; font-size:0;
        transition:all 0.4s;  transform: scale(1);
        &.is-hover{transform: scale(1.1);}
    }
    &__wrap{position:relative; display:block;  width:inherit; height:inherit;}
    &__img1,&__img2,&__img3,&__txt{position:absolute; top:0; left:0; display:block; width:100%; height:100%;  content:'';}
    &__img1{background:url('../images/program/body_190410/btn_bg_1.png') no-repeat center center / cover; z-index:30;}
    &__img2{background:url('../images/program/body_190410/btn_bg_2.png') no-repeat center center / cover; z-index:40;}
    &__img3{background:url('../images/program/body_190410/btn_shadow_1.png') no-repeat center center / cover; z-index:20;}
    &__txt{background:url('../images/program/body_190410/btn_txt_1.png') no-repeat center center / cover; z-index:50;}
    @media only screen and (max-width:$mobile-size){
        &__btn{bottom:-73px; display:block; width:149px; height:147px;}
    }
}

.bottom-counsel{position:fixed; left:0; bottom:-100%; right:0; font-family: $font-square; z-index:75; transition: bottom 0.5s;
    &.is-hide{bottom:-100% !important; transition: bottom 2s;}
    &.is-active{bottom:0 !important;
        // &.is-hide{bottom:-100% !important; transition: bottom 2s;}
        .bottom-tag__wrap{
            &:after {position:absolute; top:13px; bottom:0; right:24px; margin:auto 0 ; display:block; height:0; border-left:9px solid transparent; border-top:14px solid #fff; border-right:9px solid transparent; border-bottom:9px solid transparent; content:'';}
        }
    }
    &__top{border-bottom:12px solid $landingBody1;}
    &__bottom{padding:25px 0 35px; background-color:#282828; text-align:center; box-sizing:border-box;}
    &__tit{margin:0; font-size:30px; color:#fff; font-weight:$regular;
        strong{font-weight:$bold; font-size:34px;}
    }
    &__list{margin:0 0 0 -8px; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{float:left; padding-left:8px; box-sizing:border-box; list-style:none;
        &.type-select{width:24%;}
        &.type-input{width:30.75%;}
        &.type-btn{width:14.5%;}
    }
    &__btn{display:block; width:100%; height:48px; line-height:48px; font-size:26px; font-weight:$bold; background-color:#27cdce; text-decoration:none; color:#fff; border:none; cursor:pointer;
        &.nth-1{background-color:#27cdce;}
        &.nth-2{background-color:#128cba;}
        &.nth-3{background-color:#006ccc;}
        &.nth-4{background-color:#008b9b;}
        &.nth-5{background-color:#00519b;}
        &.nth-6{background-color:#00396d;}
    }
    &__wrap{position:relative; bottom:-1px;}
    &__area{margin-top:20px;}
    &__check{margin:14px 0 0 -6px; font-size:12px; color:#fff; text-align:left;}
    &__link{margin-left:6px; text-decoration:none; font-size:18px; color:#fff; vertical-align:middle;}
    &__box{display:inline-block; margin:6px 0 0 6px;}

    label.error{display:block; margin-top:5px; font-size:12px; color:yellow;}

    @media only screen and (max-width:$tablet-size){
        &__list{margin-left:0;}
        &__item{width:100% !important; padding-left:0;
            & + &{margin-top:20px;}
        }
    }
    @media only screen and (max-width:$mobile-size){z-index:100;
        &.is-active{
            .bottom-tag__wrap{
                &:after {top:7px; right:9px; border-left-width:6px; border-top-width:9px; border-right-width:6px; border-bottom-width:6px;}
            }
        }
        &__top{border-bottom-width:6px;}
        &__tit{font-size:1.8rem;
            strong{font-size:2rem;}
        }
        &__area{margin-top:14px;}
        &__bottom{padding:20px 0 34px;}
        &__item{
            & + &{margin-top:10px;}
        }
        &__btn{height:34px; line-height:34px; font-size:1.6rem;}
        &__check{margin-top:10px; font-size:1.2rem;}
        &__link{font-size:1.2rem;}

        label.error{font-size:1.2rem;}
    }
}

.input2{width:100%; height:48px; padding:0px 18px; line-height:48px; background-color:#fff; border:none; outline:0; color:#4a4a4a; font-size:20px; font-weight:$light; box-sizing:border-box;
    @include placeholder-color(#4a4a4a);
    @media only screen and (max-width:$mobile-size){height:34px; line-height:34px; padding:0 14px; font-size:1.4rem;}
}

.bottom-select {position:relative; height:48px; line-height:48px; background-color:#fff; font-size:16px; color:#282828; text-align:left;
	$this:&;
	&.type-another{margin-top:0px;}
	&.is-active{border-bottom:none;
		#{$this}__list{border:1px solid #282828;}
        #{$this}__tit:after{top:5px; transform: rotate(0deg);}
	}
	&__tit{position:relative; display:block; overflow:hidden; padding:0 18px; color:#282828; font-size:20px; border:1px solid #282828; transition:none; text-overflow: ellipsis; white-space:nowrap; text-decoration:none;
		&:after {position:absolute; top:-10px; bottom:0; right:18px; margin:auto 0 ; display:block; height:0; border-left:9px solid transparent; border-top:14px solid $landingBody1; border-right:9px solid transparent; border-bottom:9px solid transparent; transform: rotate(180deg); content:'';}
        &.is-active{font-weight:$bold;}
	}
	// &__box{position:absolute; width:100%;  top:0px; left:0;  background:#fff;  z-index:5;}
	&__list{position:absolute; left:0; right:0; bottom:48px; overflow:auto; display:none; margin:0; padding:0;  background-color:#fff;   box-sizing:border-box; z-index:10;
		&.is-active{display:block;}
	}
    &__wrap{position:relative;}
	&__item{overflow:hidden; text-overflow:ellipsis; cursor:pointer;  padding:0 18px; border-top:0; color:#282828; font-size:20px; white-space:nowrap; font-weight:$regular;
		&.is-hover{background-color:#dfdfdf;}
		// &.is-select{background-color:#dfdfdf;}
	}
    @media only screen and (max-width:$tablet-size){
        &.is-active{border-bottom:none;
            #{$this}__tit:after{top:-10px; transform: rotate(180deg);}
    	}
        &__list{top:48px; bottom:auto;}
        &__tit:after{top:5px; transform: rotate(0deg);}
    }
	@media only screen and (max-width:$mobile-size){height:34px; line-height:34px;
		&__tit{padding:0 12px; font-size:1.4rem;
            &:after {top:-5px; right:9px; border-left-width:4px; border-top-width:7px; border-right-width:4px; border-bottom-width:4px;}
        }
        &__list{top:34px;}
		&__item{font-size:1.4rem;}
	}
}

.bottom-tag{display:block; width:202px; font-size:30px; color:#fff; font-weight:$bold; background:$landingBody1;  border-radius:20px 20px 0 0; text-decoration:none;
    &__wrap{position:relative; display:block; padding:12px 24px 7px 70px; box-sizing:border-box;
        &:before{position:absolute; top:-14px; left:-14px; display:block; width:76px; height:66px; background:url('../images/program/body_190410/pick_icon.png') no-repeat center center / contain; content:'';}
        &:after{display:none;}
    }
    @media only screen and (max-width:$mobile-size){width:120px; font-size:2rem; border-radius:10px 10px 0 0;
        &__wrap{padding:7px 10px 5px 36px;
            &:before{top:-7px; left:-7px; width:38px; height:33px;}
        }
    }
}

.checkbox03 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
	& + label { position: relative; height: 16px; line-height: 16px; color:#fff; margin-left: 0; padding-left: 22px; font-size:16px; cursor: pointer;
		&:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 16px; height: 16px; margin: auto; background-color:$landingBody1; content: ''; cursor: pointer; }
	}
	&:checked + label:after { position: absolute; top: -3px; left: 3px; bottom: 0; width: 8px; height: 4px; margin: auto;
		border-left: 2px solid #fff; border-bottom: 2px solid #fff; -webkit-transform: rotate(-48deg); -ms-transform: rotate(-48deg); transform: rotate(-48deg); background-repeat: no-repeat; cursor: pointer; content: '';
	}
	// @media only screen and (max-width: $tablet-size) {
	// 	& + label {height: 14px; line-height: 14px; padding-left: 20px;
	// 		&:before {width: 14px; height: 14px;  }
	// 	}
	// 	&:checked + label:after {top: -3px; left: 2px; bottom: 0; width: 6px; height: 2px; }
	// }
	@media only screen and (max-width: $mobile-size) {
		& + label {font-size:1.2rem;}
		&:checked + label:after {left: 3px; width: 8px; height: 3px; }
	}
}





.is-rotate{
    animation-name: objRotate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -ms-animation-name: objRotate;
    -ms-animation-duration: 1500ms;
    -ms-animation-timing-function: linear;
    -webkit-animation-name: objRotate;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-timing-function: linear;
}
@keyframes objRotate {
from {
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	}
to {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	}
}
@-webkit-keyframes objRotate {
from {
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	}
to {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	}
}

@-ms-keyframes objRotate {
from {
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	}
to {
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	}
}
