@charset "utf-8";
@import "mixins";
.longweek{
    &__wrap{padding:0 21.14%; @include background('../images/program/longweek_190903/longweek_img_2.jpg','no-repeat center center / cover');}
    &__box{border-left:6px solid #711f86; border-right:6px solid #711f86;
        & + &{margin-top:7.2%;}
    }
    &__btn{display:block; width:100%; padding:1.3% 0; color:#fff; font-size:24px; font-weight:$medium; background: #711f86; text-decoration:none; text-align:center;}
    // &__bottom{display:none;}
    @media only screen and (max-width: $tablet-size) {
        &__wrap{padding:0 6.944%;}
        &__box{border-width:5px;
            & + &{margin-top:10%;}
        }
        &__btn{padding:3.4% 0; font-size:18px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__box{border-width:3px;}
        &__btn{font-size:1.5rem;}
    }
}
