@charset "utf-8";
@import "mixins";
.vlifting-1909{background-color:#f37086; padding:0 18.75%; box-sizing:border-box;
    $this:&;
    &__wrap{background-color:#fff;}
    &__area{padding:0 30px;  box-sizing:border-box; }
    &__list{margin:0 0 0 -30px; padding:0; font-size:0; }
    &__item{ display:inline-block; display:inline-block; width:33.33%; padding-left:30px; list-style:none; vertical-align: top; box-sizing:border-box;
        &.nth-1{
            #{$this}__bg{ @include background('../images/program/vlifting_1909/vlifting1909_before_1.jpg','no-repeat center center / cover');}
            #{$this}__outer{ @include background('../images/program/vlifting_1909/vlifting1909_before_1.jpg','no-repeat center center / cover');}
        }
        &.nth-2{
            #{$this}__bg{ @include background('../images/program/vlifting_1909/vlifting1909_before_2.jpg','no-repeat center center / cover');}
            #{$this}__outer{ @include background('../images/program/vlifting_1909/vlifting1909_before_2.jpg','no-repeat center center / cover');}
        }
        &.nth-3{
            #{$this}__bg{ @include background('../images/program/vlifting_1909/vlifting1909_before_3.jpg','no-repeat center center / cover');}
            #{$this}__outer{ @include background('../images/program/vlifting_1909/vlifting1909_before_3.jpg','no-repeat center center / cover');}
        }
        &.is-active{
            #{$this}__tit{height:60px; line-height:60px;}
            &.nth-1{
                #{$this}__outer{ @include background('../images/program/vlifting_1909/vlifting1909_after_1.jpg','no-repeat center center / cover');}
            }
            &.nth-2{
                #{$this}__outer{ @include background('../images/program/vlifting_1909/vlifting1909_after_2.jpg','no-repeat center center / cover');}
            }
            &.nth-3{
                #{$this}__outer{ @include background('../images/program/vlifting_1909/vlifting1909_after_3.jpg','no-repeat center center / cover');}
            }
        }
    }
    &__outer{position: relative; width:100%; height:0; padding-bottom:85.71%; transition: all 0.5s;}
    &__box{position:absolute; left:0; bottom:0; z-index:10; width:100%;}
    &__tit{height:40px; margin:0; line-height:40px; font-size:25px; color:#000; background-color: rgba(255,255,255,0.5); text-align:center; transition: all 0.5s;}
    &__txt{margin:20px 0 0 0; font-size:14px; text-align:center;}
    &__info{display:block; width:80px; height:25px; line-height:25px; font-size:17px; background:#000; color:#fff; text-align:center;}
    @media only screen and (max-width:$tablet-size){padding:0 3.125%;
        &__area{padding:0 20px; }
        &__list{margin-left:-20px;}
        &__item{padding-left:20px;
            &.is-active{
                #{$this}__tit{height:30px; line-height:30px;}
            }
        }
        &__tit{height:30px; line-height:30px; font-size:20px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__area{padding:0 10px; }
        &__list{margin-left:-10px;}
        &__item{padding-left:10px;
            &.is-active{
                #{$this}__tit{height:18px; line-height:18px;}
            }
        }
        &__info{width:40px;  height:14px; line-height:14px; font-size:1rem;}
        &__tit{height:18px; line-height:18px; font-size:1.2rem;}
        &__txt{margin:10px 0 0 0; font-size:1rem;}
    }
}
