@charset "UTF-8";

@keyframes type-prev {
    0% {transform: translateX(0);}
    100% {transform: translateX(-10px);}
}
@keyframes type-next {
    0% {transform: translateX(0);}
    100% {transform: translateX(10px);}
}

@-webkit-keyframes type-prev {
    0% {-webkit-transform: translateX(0);}
    100% {-webkit-transform: translateX(-10px);}
}

@-ms-keyframes type-prev {
    0% {-ms-transform: translateX(0);}
    100% {-ms-transform: translateX(-10px);}
}

@-webkit-keyframes type-next {
    0% {-webkit-transform: translateX(0);}
    100% {-webkit-transform: translateX(10px);}
}

@-ms-keyframes type-next {
    0% {-ms-transform: translateX(0);}
    100% {-ms-transform: translateX(10px);}
}

/*common*/
.cont{padding-top:50px; box-sizing:border-box;}
.cont img{width:100%; vertical-align:middle;}
.cont__box{padding: 200px 0;background: #ffffff;}
.cont__area{max-width: 1592px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}

.cont-slider{position: relative;text-align: center;}
.cont-slider__box{}
.cont-slider__list{margin: 0;padding: 0 5.62%;list-style: none;}
.cont-slider__item{}
.cont-slider__btn{position: absolute;top: 0;bottom: 0;width: 30px;height: 50px;margin: auto 0;text-indent: -9999px;overflow: hidden;}
.cont-slider__btn.type-prev{left: 0;background: url(/images/program/artecoll/artecoll_slider_prev.png);background-size: cover;animation: type-prev 0.6s infinite alternate ease-in-out;-ms-animation: type-prev 0.6s infinite alternate ease-in-out;-webkit-animation: type-prev 0.6s infinite alternate ease-in-out;}
.cont-slider__btn.type-next{right: 0;background: url(/images/program/artecoll/artecoll_slider_next.png);background-size: cover;animation: type-next 0.6s infinite alternate ease-in-out;-ms-animation: type-next 0.6s infinite alternate ease-in-out;-webkit-animation: type-next 0.6s infinite alternate ease-in-out;}
.cont-slider__dot{position: absolute;left: 0;bottom: 80px;width: calc(50% + 5.6%);}
.cont-slider .cont-slider__list .slide-dot li button{background-color: rgba(51, 51, 51, 0.4);outline: none;}
.cont-slider .cont-slider__list .slide-dot li.slick-active button{background-color: #333;}

.cont__box.type-bf{padding-top: 206px;background: url(/images/program/artecoll/artecoll_bg_1.jpg) center bottom/cover no-repeat;}
.cont__box.type-bf .cont__area{max-width: 1420px;}
.cont-bf{margin-top: 102px;}
.cont-bf__box{padding: 60px 100px 110px;background-color: #fff;text-align: center;}
.bf-slider{position: relative;text-align: center;}
.bf-slider__list{margin: 0;padding: 0 5.62%;list-style: none;}
.bf-slider__item{}
.bf-slider__btn{position: absolute;top: 0;bottom: 0;width: 30px;height: 50px;margin: auto 0;text-indent: -9999px;overflow: hidden;}
.bf-slider__btn.type-prev{left: 0;background: url(/images/program/artecoll/artecoll_slider_prev.png);background-size: cover;-ms-animation: type-prev 0.6s infinite alternate ease-in-out;-webkit-animation: type-prev 0.6s infinite alternate ease-in-out;}
.bf-slider__btn.type-next{right: 0;background: url(/images/program/artecoll/artecoll_slider_next.png);background-size: cover;-ms-animation: type-next 0.6s infinite alternate ease-in-out;-webkit-animation: type-next 0.6s infinite alternate ease-in-out;}

.cont__box.type-video{padding: 147px 0;background: #b09465 url(/images/program/artecoll/artecoll_img_16.jpg) center bottom/cover no-repeat;}
.cont__box.type-video .cont__area{max-width: 1420px;}
.cont__box.type-video .cont__area:after{content: '';display: block;clear: both;}
.cont__inner{float: right;width: 900px;}
.cont__video{position: relative;width: 100%;height: 0;padding-bottom: 56.25%;}
.cont__video iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

@media only screen and (max-width: 993px) {
    .cont{padding-top: 60px;}
    .cont__box{padding: 120px 0;}
    .cont__area{padding: 0 52px;}

    .cont-slider__list{padding: 0;}
    .cont-slider__btn{top: 20%;bottom: auto;}
    .cont-slider__dot{bottom: 80px;width: 80%;}

    .cont__box.type-bf{padding-top: 120px;background: #2d282b;}
    .cont__box.type-bf .cont__area{padding: 0;}

    .cont-bf{margin-top: 0;padding-top: 125%;background: url(/images/program/artecoll/artecoll_bg_1_m.jpg) center top/cover no-repeat}
    .cont-bf__box{margin: 0 20px;padding: 52px 32px 36px;}

    .bf-slider{}
    .bf-slider__list{padding: 0;}
    .bf-slider__btn{top: 10px;bottom: auto;}

    .program-bottom{padding-top: 0;}

    .cont__box.type-video{padding: 50px 0;background-image: none;}
    .cont__inner{float: none;width: 100%;}
}
@media only screen and (max-width: 681px) {
    .cont{padding-top:50px;}
    .cont__box{padding: 60px 0;}
    .cont__area{padding: 0 26px;}

    .cont-slider__btn{width: 15px;height: 25px;}
    .cont-slider__dot{bottom: 40px;}

    .cont__box.type-bf{padding-top: 60px;background: #2d282b;}
    .cont-bf__box{margin: 0 10px;padding: 26px 18px 18px;}
    .bf-slider__btn{width: 15px;height: 25px;}
}
