@charset "UTF-8";
@import "../mixins";

.cont{padding-top: 50px;font-size: 0;box-sizing: border-box;
    img{width: 100%;vertical-align: middle;}
}

.cont-box1{padding-bottom: 120px;background-color: #fff1f1;
    &__outer{max-width: 1216px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}
    &__inner{position: relative;}
    &__area{position: absolute;top: 14.72%;left: 11.16%;right: 11.16%;
        &:after{content: '';display: block;clear: both;}
    }
    &__circle{display: inline-block;position: relative;width: 250px;height: 250px;border-radius: 50%;background-color: #333;text-align: center;text-indent: -999px;overflow: hidden;
        &:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;border-radius: 50%;opacity: 1;transition: opacity 0.3s;}
        &:hover{
            &:before{opacity: 0;}
        }
        &.type-before{float: left;background: url(../../images/program/double_line/double_line_before_on.png) no-repeat 0 0/contain;
            &:before{background: url('../../images/program/double_line/double_line_before_off.png?ver=191210') no-repeat 0 0/contain;}
        }
        &.type-after{float: right;background: url(../../images/program/double_line/double_line_after_on.png) no-repeat 0 0/contain;
            &:before{background: url('../../images/program/double_line/double_line_after_off.png?ver=191210') no-repeat 0 0/contain;}
        }
    }
}

.cont-box2{padding-bottom: 120px;text-align: center;
    &__outer{max-width: 1216px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}
    &__box{position: relative;padding: 0 80px;}
    &__list{margin: 0;padding: 0;border: 1px solid #b1b1b1;box-sizing: border-box;}
    &__item{list-style: none;}
    &__btn{position: absolute;top: 0;bottom: 0;width: 18px;height: 34px;margin: auto 0;background: url(../../images/program/double_line/double_line_arrow.png) center center/cover no-repeat;text-indent: -9999px;overflow: hidden;
        &.type-prev{left: 0;}
        &.type-next{right: 0;-ms-transform: rotate(180deg);transform: rotate(180deg);}
    }
    &__dot{position: absolute;left: 0;right: 0;bottom: -50px;z-index: 20;
        li{
            button{width: 10px;height: 10px;}
            & + li{margin-left: 20px;}
            &.slick-active{
                button{background-color: #fd5a8f;}
            }
        }
    }

    @media only screen and (max-width:$tablet-size){
        &__outer{padding: 0;}
        &__box{padding: 0 60px;}
        &__btn{display: none;}
    }
    @media only screen and (max-width: $mobile-size){
        padding-bottom: 60px;

        &__box{padding: 0 30px;}
        &__dot{bottom: -25px;
            li{
                button{width: 5px;height: 5px;}
                & + li{margin-left: 10px;}
            }
        }
    }
}

.cont-box3{padding: 120px 0;background-color: #ffebf4;
    $this:&;

    &__outer{max-width: 1216px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}
    &__inner{}
    &__tab{}
    &__scroll{}
    &__list{margin: 0;padding: 0;font-size: 0;text-align: center;}
    &__item{display: inline-block;width: 20%;height: 86px;background-color: #ffbacb;list-style: none;box-sizing: border-box;
        & + &{border-left: 1px solid #ffebf4;}
        &.is-active{
            #{$this}__wrap{background-color: #fd5a8f;}
            #{$this}__link{background-color: #fd5a8f;font-weight: $bold;}
        }
    }
    &__link{display: block;height: inherit;font-size: 28px;font-weight: $regular;color: #fff;text-decoration: none;letter-spacing: -2px;vertical-align: middle;
        &:after{content: '';display: inline-block;height: 100%;vertical-align: middle;}
    }
    &__content{display: none;
        &.is-active{display: block;}
    }

    @media only screen and (max-width:$tablet-size){
        padding: 0;background-color: #ffbacb;

        &__outer{padding: 0;}
        &__scroll{display: block;padding-bottom: 0;overflow-x: auto;overflow-y: hidden;-webkit-overflow-scrolling: touch;}
        &__list{display: table;}
        &__item{display: table-cell;width: 144px;overflow: visible;white-space: nowrap;}
        &__link{font-size: 24px;box-sizing: border-box;vertical-align: middle;
            &:after{content: '';display: inline-block;height: 100%;vertical-align: middle;}
        }
        &__content{padding: 25px;background-color: #fd5a8f;}
    }
    @media only screen and (max-width: $mobile-size){
        &__item{width: 88px;height: 42px;}
        &__link{font-size: 1.3rem;letter-spacing: -1px;}
        &__content{padding: 12px;}
    }
}
