@charset "UTF-8";
@import "../mixins";

.cont{padding-top: 50px;font-size: 0;box-sizing: border-box;
    img{width: 100%;vertical-align: middle;}
    &__tit{text-indent: -999px;overflow: hidden;}
}

.cont-box1{background-color: #ebebec;
    $this:&;

    &__outer{max-width: 1200px;margin: 0 auto;padding: 120px 10px;box-sizing: border-box;}
    &__list{margin: -48px 0 0 -30px;padding: 0;font-size: 0;}
    &__item{display: inline-block;width: 33.33%;padding: 48px 0 0 30px;list-style: none;box-sizing: border-box;vertical-align: top;
        &.is-active{
            #{$this}__img{position: relative;
                &:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.5);}
                &:after{content: '자세히 보기';position: absolute;top: 50%;left: 0;right: 0;width: 140px;margin: 0 auto;padding: 10px 0;border: 1px solid #fff;font-size: 16px;color: #fff;-ms-transform: translateY(-50%);transform: translateY(-50%);box-sizing: border-box;}
            }
        }
    }
    &__wrap{position: relative;background-color: #fff;text-align: center;}
    &__img{}
    &__caption{height: 180px;text-align: center;}
    &__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
    &__txt{margin: 0;font-size: 28px;font-weight: $regular;line-height: 1.2;letter-spacing: -2px;}
    &__won{margin: 6px 0 0 0;font-size: 24px;letter-spacing: -2px;}
    &__bold{font-weight: $bold;}
    &__point{font-size: 40px;font-weight: $bold;color: #d474ca;}
    &__link{display: inline-block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;text-indent: -999px;overflow: hidden;}
    &__noti{margin: 10px 0 0;font-size: 20px;color: #959595;text-align: right;letter-spacing: -2px;}

    @media only screen and (max-width:$tablet-size){
        &__outer{padding: 100px 30px;}
        &__list{margin: -40px 0 0 -24px;}
        &__item{width: 50%;padding: 40px 0 0 24px;
            &.is-active{
                #{$this}__img{
                    &:before{display: none;}
                    &:after{display: none;}
                }
            }
        }
        &__caption{height: 250px;}
        &__txt{font-size: 24px;}
        &__won{margin-top: 4px;font-size: 20px;
            &:after{content: '자세히 보기';display: block;width: 140px;margin: 18px auto 0;padding: 12px 0;border: 1px solid #959595;font-size: 16px;color: #959595;}
        }
        &__point{font-size: 34px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__outer{padding: 50px 15px;}
        &__list{margin: -20px 0 0 -12px;}
        &__item{padding: 20px 0 0 12px;}
        &__caption{height: 130px;}
        &__txt{margin: 0;font-size: 1.3rem;line-height: 1.2;letter-spacing: -1px;}
        &__won{font-size: 1.1rem;letter-spacing: -1px;
            &:after{width: 70px;margin-top: 9px;padding: 6px 0;font-size: 1.0rem;}
        }
        &__point{font-size: 1.8rem;}
        &__noti{font-size: 1.2rem;letter-spacing: -1px;}
    }
}

.cont-box2{background-color: #fff;
    &__outer{max-width: 1200px;margin: 0 auto;padding: 85px 24px 100px;box-sizing: border-box;}
    &__tit{margin: 0;font-size: 40px;font-weight: $medium;color: #000;letter-spacing: -2px;}
    &__wrap{margin-top: 55px;}

    // validate
    label.error, .error{display: block;margin-top: 5px;font-size: 14px;color: #c30fb0;}

    @media only screen and (max-width:$tablet-size){
        &__outer{padding: 70px 74px 80px;}
        &__tit{font-size: 35px;text-align: center;}
        &__wrap{margin-top: 50px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__outer{padding: 35px 37px 40px;}
        &__tit{font-size: 2.2rem;letter-spacing: -1px;}
        &__wrap{margin-top: 25px;}

        label.error, .error{margin-bottom: 2px;font-size:1.2rem;}
    }
}

.form-box{
    $this:&;

    &__list{margin: 0;padding: 0;
        &:after{content: '';display: block;clear: both;}
        &.type-basic{
            #{$this}__item{
                & + #{$this}__item{margin-top: 0;}
            }
        }
        & + &{margin-top: 50px;}
    }
    &__item{float: left;list-style: none;font-size: 0;
        & + &{margin-top: 50px;}
        &.type-name{width: 35%;
            #{$this}__head{width: 40px;}
            #{$this}__body{margin-left: 60px;}
        }
        &.type-phone{width: 65%;padding-left: 68px;box-sizing: border-box;
            #{$this}__head{width: 82px;}
            #{$this}__body{margin-left: 102px;}
        }
        &.type-interest{float: none;
            #{$this}__box{padding-bottom: 0;}
            #{$this}__head{width: 100%;}
            #{$this}__body{position: static;margin-top: 14px;border-bottom: 0;}
        }
    }
    &__box{position: relative;padding-bottom: 10px;}
    &__head{height: 25px;font-size: 24px;font-weight: $medium;color: #464646;letter-spacing: -2px;line-height: 25px;}
    &__body{position: absolute;top: 0;left: 0;right: 0;}
    &__check-list{margin: -10px 0 0 -20px;padding: 0;font-size: 0;}
    &__check-item{display: inline-block;margin: 10px 0 0 20px;list-style: none;}
    &__bottom{margin-top: 35px;}
    &__bottom-list{margin: -20px 0 0 -40px;padding: 0;font-size: 0;}
    &__bottom-item{display: inline-block;margin: 20px 0 0 40px;list-style: none;vertical-align: top;
        #{$this}__check{
            & + #{$this}__label{padding-left: 30px;font-size: 18px;color: #acacac;
                &:before{width: 20px;height: 20px;}
            }
        }
    }
    &__link{margin-left: 6px;font-size: 18px;color: #acacac;letter-spacing: -2px;text-decoration: none;}
    &__area{margin-top: 60px;text-align: right;}
    &__noti{margin: 10px 0 0 0;font-size: 18px;color: #464646;letter-spacing: -2px;}

    // input type
    &__input{width: 100%;height: 25px;padding-left: 5px;border: 0;border-bottom: 2px solid #e1e1e1;outline: 0;background: transparent;font-size: 22px;color: #464646;line-height: 25px;box-sizing: border-box;}
    &__check{position: absolute;top: auto;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0, 0, 0, 0);
        & + #{$this}__label{position: relative;margin: 0;padding-left: 32px;font-size: 22px;font-weight: $regular;color: #464646;letter-spacing: -2px;line-height: 34px;cursor: pointer;
            &:before{content:'';position: absolute;top: 4px;left: 0;width: 22px;height: 22px;margin: auto;background: #ebebeb;box-sizing: border-box;}
        }
        &:checked + #{$this}__label{
            &:after{content: '';display: block;position: absolute;top: 9px;left: 4px;width: 9px;height: 6px;border-radius: 2px;margin: auto 0;border-left: 4px solid #e09bd9;border-bottom: 4px solid #e09bd9;-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
        }
    }
    &__btn{display: inline-block;width: 480px;height: 64px;border: 0;border-radius: 30px;background-color: #000;font-size: 24px;font-weight: $medium;color: #fff;text-align: center;letter-spacing: -2px;line-height: 64px;cursor: pointer;}

    @media only screen and (max-width:$tablet-size){
        &__list{
            & + &{margin-top: 30px;}
            &.type-basic{
                #{$this}__item{
                    & + #{$this}__item{margin-top: 30px;}
                }
            }
        }
        &__item{float: none;
            & + &{margin-top: 30px;}
            &.type-name{width: 100%;
                #{$this}__head{width: 80px;}
                #{$this}__body{margin-left: 90px;}
            }
            &.type-phone{width: 100%;padding-left: 0;box-sizing: border-box;
                #{$this}__head{width: 80px;}
                #{$this}__body{margin-left: 90px;}
            }
            &.type-interest{
                #{$this}__body{margin-top: 10px;}
            }
        }
        &__box{padding-bottom: 5px;}
        &__head{font-size: 20px;}
        &__check-list{margin: -6px 0 0 -15px;}
        &__check-item{margin: 6px 0 0 15px;}
        &__bottom{margin-top: 20px;}
        &__bottom-list{margin: -10px 0 0 -30px;}
        &__bottom-item{margin: 10px 0 0 30px;
            #{$this}__check{
                & + #{$this}__label{padding-left: 26px;font-size: 16px;
                    &:before{width: 16px;height: 16px;}
                }
                &:checked + #{$this}__label{
                    &:after{left: 3px;width: 7px;height: 4px;border-width: 3px;}
                }
            }
        }
        &__link{font-size: 16px;}
        &__area{margin-top: 35px;text-align: center;}

        &__input{}
        &__check{
            & + #{$this}__label{padding-left: 28px;font-size: 18px;line-height: 32px;
                &:before{top: 0px;width: 20px;height: 20px;}
            }
            &:checked + #{$this}__label{
                &:after{width: 7px;height: 4px;border-width: 3px;}
            }
        }
        &__btn{width: 402px;height: 54px;border-radius: 30px;font-size: 20px;line-height: 54px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__list{
            & + &{margin-top: 18px;}
            &.type-basic{
                #{$this}__item{
                    & + #{$this}__item{margin-top: 18px;}
                }
            }
        }
        &__item{float: none;
            &.type-name{
                #{$this}__head{width: 70px;}
                #{$this}__body{margin-left: 80px;}
            }
            &.type-phone{
                #{$this}__head{width: 70px;}
                #{$this}__body{margin-left: 80px;}
            }
            & + &{margin-top: 15px;}
            &.type-interest{
                #{$this}__body{margin-top: 5px;}
            }
        }
        &__head{font-size: 1.6rem;letter-spacing: -1px;}
        &__check-list{margin: -3px 0 0 -8px;}
        &__check-item{margin: 3px 0 0 8px;}
        &__bottom{margin-top: 20px;}
        &__bottom-list{margin: -5px 0 0 -15px;}
        &__bottom-item{margin: 5px 0 0 15px;
            #{$this}__check{
                & + #{$this}__label{padding-left: 26px;font-size: 1.2rem;line-height: 1.5;
                    &:before{top: 0;}
                }
                &:checked + #{$this}__label{
                    &:after{top: 4px;}
                }
            }
        }
        &__link{margin-left: 3px;font-size: 1.2rem;letter-spacing: -1px;}
        &__area{margin-top: 20px;}
        &__noti{margin-top: 5px;font-size: 1.2rem;letter-spacing: -1px;}

        &__input{font-size: 1.5rem;}
        &__check{
            & + #{$this}__label{font-size: 1.5rem;letter-spacing: -1px;}
            &:checked + #{$this}__label{
                &:after{left: 5px;top: 7px;}
            }
        }
        &__btn{width: 200px;height: 40px;font-size: 1.5rem;letter-spacing: -1px;line-height: 40px;}
    }
}

// 자세히 보기 popup
.popup-t{
    &__btn{background: #e09bd9;}
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #e6e6e6;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #e6e6e6;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #e6e6e6;}
