@charset "UTF-8";
@import "../mixins";

.cont{padding-top: 50px;font-size: 0;box-sizing: border-box;
    img{width: 100%;vertical-align: middle;}
    &__tit{text-indent: -999px;overflow: hidden;}
}

// 쌍수 페스티벌
.cont-visual{position: relative;
    // &:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 70.68%;background: url(../../images/program/eye_festival/eye_festival_flower_1.gif) 0 0;}
}

.cont-box1{padding-bottom: 120px;background-color: #ffb400;text-align: center;
    &.type-even{
        background-color: #ffc02a;
    }

    &__ouer{max-width: 1200px;margin: 0 auto;padding: 0 88px;box-sizing: border-box;}
    &__inner{position: relative;border: 1px solid #b1b1b1;
        & + &{margin-top: 32px;}
    }
    &__list{width: 50%;margin: 0;padding: 0;
        .slick-list{z-index: 10;}
    }
    &__item{list-style: none;}
    &__box{position: absolute;right: 0;top: 0;bottom: 0;width: 100%;margin: auto 0;padding-left: 50%;box-sizing: border-box;}
    &__area{width: 100%;height: 100%;padding: 80px 84px;border-left: 1px solid #b1b1b1;background-color: #fff;box-sizing: border-box;overflow: hidden;}
    &__btn{position: absolute;top: 0;bottom: 0;width: 18px;height: 34px;margin: auto 0;text-indent: -9999px;overflow: hidden;background: url(../../images/program/eye_festival/eye_festival_arrow_1.png) center center/cover no-repeat;
        &.type-prev{left: -60px;}
        &.type-next{right: -60px;transform: rotate(180deg);}
    }
    &__dot{position: absolute;left: 0;right: 0;bottom: 20px;z-index: 20;}

    @media only screen and (max-width:$tablet-size){
        padding-bottom: 120px;

        &__ouer{padding: 0 100px;}
        &__inner{
            & + &{margin-top: 50px;}
        }
        &__list{width: 100%;}
        &__box{position: static;padding-left: 0;}
        &__area{padding: 0;border-left: 0;border-top: 1px solid #b1b1b1;}

        &__btn{display: none;}
    }

    @media only screen and (max-width: $mobile-size){
        padding-bottom: 50px;

        &__ouer{padding: 0 50px;}
        &__inner{
            & + &{margin-top: 24px;}
        }
        &__dot{bottom: 10px;}
    }
}

.slide-dot{
    li{
        & + li{margin-left: 20px;}
        &.slick-active button{background-color: rgba(255, 255, 255, 0.8);}
        & button{width: 16px;height: 16px;background-color: rgba(255, 255, 255, 0.4);}
    }

    @media only screen and (max-width: $mobile-size){
        li{
            & + li{margin-left: 10px;}
            & button{width: 8px;height: 8px;}
        }
    }
}
