@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@keyframes changeBg{
    0%{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_1.png) center top/cover no-repeat;}
    25%{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_2.png) center top/cover no-repeat;}
    50%{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_2.png) center top/cover no-repeat;}
    75%{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_1.png) center top/cover no-repeat;}
    100%{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_1.png) center top/cover no-repeat;}
}

/*common*/
.cont{padding-top:50px; box-sizing:border-box;}

.cont-box1{padding-bottom: 100px;
    &__wrap{max-width: 890px;margin: 100px auto 0;padding: 0 8px;box-sizing: border-box;}

    @media only screen and (max-width: 1025px){
        padding: 0 50px 50px;
    }
    @media only screen and (max-width: 680px){
        padding: 0 25px 25px;

        &__wrap{margin-top: 25px;padding: 0;}
    }
}

.cont-box2{background: #6adbd3 url(../../images/program/wrinkle_consulting/wrinkle_consulting_patt.gif);
    &__wrap{max-width: 1200px;margin: 100px auto 0;padding: 0 8px;overflow: hidden;box-sizing: border-box;}
    &__img{width: 100%;max-width: 900px;margin: 55px auto 0;padding: 0 0 57%;text-indent: -999px;background-size: cover !important;-moz-transition: background 2.5s;
-webkit-transition: background 2.5s;
-o-transition: background 2.5s;
transition: background 2.5s;
        background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_1.png) center top/cover no-repeat;
        // animation: changeBg 6s ease-in-out infinite;-ms-animation: changeBg 6s ease-in-out infinite;
        &.is-chg{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_6_2.png) center top/cover no-repeat;}
    }

    @media only screen and (max-width: 1025px){
        padding: 0 50px;

        &__wrap{margin-top: 50px;padding: 0;}
        &__img{margin-top: 50px;padding-bottom: 76%;}
    }
    @media only screen and (max-width: 680px){
        padding: 0 25px;

        &__wrap{margin-top: 25px;}
    }
}

.cont-box3{padding: 70px 0;background-color: #c8f0ed;
    &__wrap{max-width: 890px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}

    @media only screen and (max-width: 1025px){
        padding: 50px;

        &__wrap{padding: 0;}
    }
    @media only screen and (max-width: 680px){
        padding: 25px 25px 25px;


    }
}

.cont-box4{background: #fff url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_7.jpg) center center/cover no-repeat;padding-bottom: 13%;
    &__wrap{max-width: 1200px;margin: 0 auto;padding: 418px 8px 0;box-sizing: border-box;
        &:after{content: '';display: block;clear: both;}
    }

    @media only screen and (max-width: 1025px){
        padding: 0 25px 50px;background: #fff url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_7_m.jpg) 0 0/cover no-repeat;
        &__wrap{padding: 115% 0 0;}
    }
}

.cont-box5{background-color: #242727;
    &__wrap{max-width: 1200px;margin: 0 auto;padding: 0 8px;box-sizing: border-box;}

    @media only screen and (max-width: 1025px){
        padding: 0 25px;

        &__wrap{padding: 0;}
    }
}

.cont-box6{
    &__wrap{}
    &__slider{position: relative;text-align: center;}
    &__list{margin: 0;padding: 0;list-style: none;}
    &__item{
        &.nth-2{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_10.jpg) center center/cover no-repeat;}
    }
    &__btn{position: absolute;top: 0;bottom: 0;width: 19px;height: 61px;margin: auto 0;text-indent: -9999px;overflow: hidden;
        &.type-prev{left: 15%;background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_bf_prev.png) center center/cover no-repeat;}
        &.type-next{right: 15%;background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_bf_next.png) center center/cover no-repeat;}
    }
    &__box{position: relative;max-width: 1240px;margin: 0 auto;padding: 0 20px;font-size: 0;box-sizing: border-box;}
    &__txt{width: 55%;padding-left: 45%;}
    &__area{position: absolute;bottom: 100px;left: 20px;width: 45%;}
    &__video{position: relative;width: 100%;height: 0;padding-bottom: 56.66%;
        iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
    }

    @media only screen and (max-width: 1480px){
        &__btn{
            &.type-prev{left: 1%;}
            &.type-next{right: 1%;}
        }
    }
    @media only screen and (max-width: 1025px){
        &__box{padding: 0;}
        &__item{
            &.nth-2{background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_img_10_m.jpg) center center/cover no-repeat;}
        }
        &__btn{width: 10px;height: 30px;padding: 0 10px;
            &.type-prev{left: 10px;background-size: 10px 30px;}
            &.type-next{right: 10px;background-size: 10px 30px;}
        }

        &__txt{width: 100%;padding-left: 0;}
        &__area{position: static;width: 100%;margin-top: 15px;padding: 0 15% 25px;box-sizing: border-box;}
    }
    @media only screen and (max-width: 1025px) and (orientation: landscape){
        img{
            &.hidden-tm{display: none !important;}
            &.hidden-p{display: block !important;}
        }
    }
    @media only screen and (max-width: 680px){
        &__btn{
            &.type-prev{left: 0;}
            &.type-next{right: 0;}
        }
    }
}

.diagnosis{
    $this: &;

    .radio1+label{font-size: 23px;color: #000;letter-spacing: -2px;height: 40px;line-height: 40px;}
    .radio1+label:after{top: 0;bottom: 0;margin: auto 0;}
    .radio1:checked+label:after{background-color: #3acdc2;}
    .checkbox02+label{font-size: 23px;color: #000;letter-spacing: -2px;line-height: 40px;}
    .checkbox02+label:before{top: 0px;border: 1px solid #868686;}
    .checkbox02:checked+label:before{background: url(../../images/program/wrinkle_consulting/diagnosis_check_on.gif) center center;}

    &.type-part{
        #{$this}__box{position: relative;}
        #{$this}__tit{position: absolute;width: 162px;height: 40px;padding: 2px 0 0;border: 1px solid #fff;background-color: rgba(255, 255, 255, 0.6);color: #000;text-align: center;
            &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        }
        #{$this}__list{padding-left: 210px;font-size: 0;}
        #{$this}__item{display: inline-block;width: 20%;padding-top: 0;
            &.type-ex{width: 40%;}
        }
    }

    &.type-info{
        #{$this}__wrap{
            #{$this}__box{width: 50%;box-sizing: border-box;
                & + #{$this}__box{padding-left: 20px;}
            }
            & + #{$this}__box{margin-top: 40px;}
        }
        #{$this}__box{font-size: 0;
            &.type-time{
                #{$this}__tit{width: 170px;}
                #{$this}__list{padding-left: 200px;}
            }
        }
        #{$this}__tit{position: absolute;width: 100px;height: 40px;padding: 2px 0 0;border: 1px solid #000;background-color: rgba(255, 255, 255, 0.6);color: #000;text-align: center;
            &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        }
        #{$this}__input{padding-left: 105px;}
        #{$this}__list{font-size: 0}
        #{$this}__item{display: inline-block;
            & + #{$this}__item{padding-left: 25px;}
        }
    }

    &__wrap{font-size: 0;
        #{$this}__box{display: inline-block;vertical-align: top;
            & + #{$this}__box{margin-top: 0;padding-left: 85px;}
        }
        & + #{$this}__box{margin-top: 40px;}
    }
    &__box{
        & + &{margin-top: 40px;}
    }
    &__tit{display: inline-block;padding: 2px 12px 3px 10px;border: 1px solid #3acdc2;font-size: 25px;font-weight: 500;color: #3acdc2;letter-spacing: -2px;box-sizing: border-box;}
    &__list{margin: 20px 0 0;padding: 0;list-style: none;font-size: 0;
        &.type-three{
            #{$this}__item{display: inline-block;width: 33.33%;}
        }
        &.type-four{
            #{$this}__item{display: inline-block;width: 25%;}
        }
    }
    &__item{vertical-align: top;}
    &__check{margin-top: 25px;}
    &__link{margin-left: 6px;font-size: 23px;color: #000;vertical-align: middle;text-decoration: none;letter-spacing: -2px;}
    &__counsel{margin-top: 40px;
        &:after{display:block; clear:both; content:'';}
    }
    &__counsel{margin: 40px 0 0 -135px;font-size: 0;}
    &__btn{display: inline-block;width: 50%;padding-left: 135px;box-sizing: border-box;font-size: 28px;font-weight: 500;color: #392e2e;text-align: center;letter-spacing: -2px;text-decoration: none;
        span{display: block;padding: 5px 0 7px;box-sizing: border-box;border: 1px solid #000;}
        &.type-kakao{
            span{background-color: #ffec50;}
        }
        &.type-tel{
            span{background-color: #55d4ca;}
        }
    }

    @media only screen and (max-width: 1025px){
        .radio1+label{font-size: 20px;line-height: 1.3;}
        .radio1+label:before{margin: 0;}
        .radio1+label:after{top: 5px;margin: 0;}
        .checkbox02+label{font-size: 20px;}

        &.type-part{
            #{$this}__box{}
            #{$this}__tit{width: 150px;height: 40px;}
            #{$this}__list{padding-left: 170px;}
            #{$this}__item{width: 33.33%;
                &.type-ex{width: 100%;}
            }
        }
        &.type-info{
            #{$this}__box{font-size: 0;
                &.type-time{
                    .radio1+label{line-height: 40px;}
                    .radio1+label:before{margin: auto;}
                    .radio1+label:after{top: 0;margin: auto;}
                }
            }
        }

        &__wrap{font-size: 0;
            #{$this}__box{width: 33.33%;
                & + #{$this}__box{padding-left: 0;}
            }
            & + #{$this}__box{margin-top: 30px;}
        }
        &__box{
            & + &{margin-top: 30px;}
        }
        &__tit{font-size: 22px;}
        &__list{
            &.type-three{
                #{$this}__item{width: 50%;}
            }
            &.type-four{
                #{$this}__item{width: 25%;}
            }
        }
        &__link{font-size: 20px;}
        &__counsel{margin: 30px 0 0 -35px;}
        &__btn{padding-left: 35px;}
    }

    @media only screen and (max-width: 680px){
        .radio1+label{font-size: 1.4rem;height: 20px;}
        .checkbox02+label{font-size: 1.4rem;}
        .checkbox02+label{line-height: 20px;}
        .checkbox02:checked+label:before{background: url(../../images/program/wrinkle_consulting/diagnosis_check_on_m.gif) center center/contain;}

        &.type-part{
            #{$this}__box{}
            #{$this}__tit{width: 75px;height: 30px;}
            #{$this}__list{padding-left: 85px;}
            #{$this}__item{width: 50%;
                &.type-ex{width: 100%;}
            }
        }

        &.type-info{
            #{$this}__wrap{
                #{$this}__box{width: 100%;
                    & + #{$this}__box{padding-left: 0;}
                }
                & + #{$this}__box{margin-top: 15px;}
            }
            #{$this}__box{font-size: 0;
                &.type-time{
                    .radio1+label{height: 30px;line-height: 30px;}
                    #{$this}__tit{width: 80px;}
                    #{$this}__list{padding-left: 90px;}
                }
            }
            #{$this}__tit{width: 80px;height: 30px;}
            #{$this}__input{padding-left: 90px;}
            #{$this}__list{font-size: 0}
            #{$this}__item{display: inline-block;padding-top: 0;
                & + #{$this}__item{padding-left: 0;}
            }
        }

        &__wrap{font-size: 0;
            #{$this}__box{width: 50%;
                &:last-child{margin-top: 15px;width: 100%;}
            }
            #{$this}__item{display: inline-block;width: 50%;}
            & + #{$this}__box{margin-top: 15px;}
        }
        &__box{
            & + &{margin-top: 15px;}
        }
        &__tit{font-size: 1.3rem;}
        &__list{margin-top: 0;
            &.type-three{
                #{$this}__item{width: 33.33%;}
            }
            &.type-four{
                #{$this}__item{width: 50%;}
            }
        }
        &__item{padding-top: 10px;}
        &__check{margin-top: 10px;}
        &__link{font-size: 1.4rem;}
        &__counsel{margin: 15px 0 0 -17px;font-size: 0;}
        &__btn{padding-left: 17px;font-size: 1.5rem;}
    }
}

.cont-tab{float: right;width: 77.5%;margin-right: -50px;border: 1px solid #cdcdcd;border-top: 0;
	$this:&;

    &__list{margin: 0;padding: 0;list-style: none;font-size: 0;background-color: #cdcdcd;
        &.is-active{background-color: #fcfcfb;}
    }
    &__item{display: inline-block;position: relative;width: 33%;text-align: center;box-sizing: border-box;
        &.nth-3{width: 34%;}
        &.is-active{
            #{$this}__link{background-color: #fcfcfb;color: #000;
                span{color: #36cdc2;}
            }
            &:before{background-color: #6adbd3;}
        }
        &:before{content: '';position: absolute;top: 0;left: 0;width: calc(100% + 1px);height: 5px;background-color: #aaa;}
        & + &{border-left: 1px solid #fff;}
    }

	&__link{display: block;padding: 8px 0 10px;background-color: #cdcdcd;font-weight: 500;font-size: 30px;color: #fff;text-decoration: none;letter-spacing: -2px;box-sizing: border-box;
        span{color: #fff;}
    }
	&__wrap{}

    &__content{display: none;padding: 75px 25px 80px;background-color: #fcfcfb;box-sizing: border-box;
        &.is-active{display: block;}
    }
    &__box{font-size: 0;text-align: center;}
    &__link2{display: inline-block;position: relative;width: 33.33%;padding: 0 25px;box-sizing: border-box;
        & + &{// margin-left: 25px;padding-left: 25px;
            &:after{content: '';position: absolute;left: 0;right: 0;width: 1px;height: 100%;background-color: #ccc;}
        }
    }

    @media only screen and (max-width: 1480px){
        margin-right: 0;
    }
    @media only screen and (max-width: 1025px){
        float: none;width: 100%;margin-right: 0;padding: 0;

        &__link{font-size: 20px;}
        &__content{padding: 25px 10px 25px;}
        &__box{}
        &__link2{padding: 0 10px;}
    }
    @media only screen and (max-width: 680px){
        &__item{
            &:before{height: 3px;}
        }
        &__link{padding: 5px 0 4px;font-size: 1.1rem;}
    }
}

.bf-slider{position: relative;text-align: center;
    &__list{margin: 0;padding: 0;list-style: none;font-size: 0;}
    &__item{}
    &__btn{position: absolute;top: 0;bottom: 0;width: 19px;height: 61px;margin: auto 0;text-indent: -9999px;overflow: hidden;
        &.type-prev{left: -40px;background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_bf_prev.png) center center/cover no-repeat;}
        &.type-next{right: -40px;background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_bf_next.png) center center/cover no-repeat;}
    }

    @media only screen and (max-width: 1480px){
        &__btn{
            &.type-prev{left: 5px;background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_bf_prev_m.png) center center/cover no-repeat;}
            &.type-next{right: 5px;background: url(../../images/program/wrinkle_consulting/wrinkle_consulting_bf_next_m.png) center center/cover no-repeat;}
        }
    }
    @media only screen and (max-width: 1025px){
        padding: 0;
        &__list{padding: 0;}
        &__btn{width: 10px;height: 30px;padding: 0 10px;
            &.type-prev{background-size: 10px 30px;}
            &.type-next{background-size: 10px 30px;}
        }
    }
    @media only screen and (max-width: 680px){
        &__btn{
            &.type-prev{left: 3px;}
            &.type-next{right: 3px;}
        }
    }
}

.wrinkle-input1{width: 100%;height: 40px;padding: 2px 10px;border: 1px solid #000;background-color: #e4f5f5;box-sizing: border-box;outline: 0;
    @media only screen and (max-width: 680px){
        height: 30px;
    }
}


.popup-t{
    &__btn{background: #3acdc2;}
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #3acdc2;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #3acdc2;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #3acdc2;}
