<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>바노바기성형외과</title>
<script type="text/javascript" src="../../scripts/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/new_content_common.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
</head>
<body class="guide-body">
    <div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item is-active"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="new-content-wrap">
        <!-- 페이지 컬러 &amp; 포인트 컬러 -->
        <div class="guide-box">
            <div class="guide-tit">페이지 컬러 &amp; 포인트 컬러</div>
            <div class="guide-wrap">
                <div>
                    <div class="guide-color">
                        <div class="guide-color__box type-light">
                            <h3 class="guide-subtit guide-color__tit">흰 배경, 밝은 배경</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #000000<br>
                                        $black1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #555555<br>
                                        $black5
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 05<br>
                                        #999999<br>
                                        $black4
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-dark">
                            <h3 class="guide-subtit guide-color__tit">어두운 배경</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #ffffff
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #eeeeee
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #aaaaaa
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-contour">
                            <h3 class="guide-subtit guide-color__tit">윤곽</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #7fa0e3<br>
                                        $contour2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #4569b1<br>
                                        $contour1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #d0defb<br>
                                        $contour3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-body">
                            <h3 class="guide-subtit guide-color__tit">바디</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #ffa800<br>
                                        $body2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #5e391b<br>
                                        $body1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #ffe7c0<br>
                                        $body3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-chest">
                            <h3 class="guide-subtit guide-color__tit">가슴</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #a482c9<br>
                                        $chest2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #4f2c74<br>
                                        $chest1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #ebd9ff<br>
                                        $chest3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-eye">
                            <h3 class="guide-subtit guide-color__tit">눈</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #4b977e<br>
                                        $eye2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #28443b<br>
                                        $eye1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #ceefe5<br>
                                        $eye3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-nose">
                            <h3 class="guide-subtit guide-color__tit">코</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #f17b9c<br>
                                        $nose2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #88355f<br>
                                        $nose1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #f7e1ed<br>
                                        $nose3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-wrinkle">
                            <h3 class="guide-subtit guide-color__tit">동안</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #aa8b77<br>
                                        $wrinkle2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #5c4b3f<br>
                                        $wrinkle1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #fae3d4<br>
                                        $wrinkle3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-svf">
                            <h3 class="guide-subtit guide-color__tit">줄기세포</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #ffc332<br>
                                        $svf2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #4a370a<br>
                                        $svf1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #ebdebf<br>
                                        $svf3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-reoperation">
                            <h3 class="guide-subtit guide-color__tit">재수술</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #ff6263<br>
                                        $reoperation2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #5b2626<br>
                                        $reoperation1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #ffbebf<br>
                                        $reoperation3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-hair">
                            <h3 class="guide-subtit guide-color__tit">헤어</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #00c58e<br>
                                        $hair1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #006544<br>
                                        $hair2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #d7f9e4<br>
                                        $hair3
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 04<br>
                                        #fb4357<br>
                                        $hair4
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 05<br>
                                        #00c58f<br>
                                        $hair5
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 06<br>
                                        #6fd2ab<br>
                                        $hair6
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->

                        <div class="guide-color__box type-special">
                            <h3 class="guide-subtit guide-color__tit">스페셜</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #003378<br>
                                        $special1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #035dbd<br>
                                        $special2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #d9f1fc<br>
                                        $special3
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->
                    </div><!-- //guide-color -->
                </div>
            </div>
        </div>

        <!-- font-weight -->
        <div class="guide-box">
            <div class="guide-tit">font-weight</div>
            <div class="guide-wrap">
                <div>
                    <p class="weight-thin">
                        안녕하세요. 바노바기 성형외과 입니다.
                        <span class="guide-span">(font-weight:100;)</span>
                    </p>
                    <p class="weight-light">
                        안녕하세요. 바노바기 성형외과 입니다.
                        <span class="guide-span">(font-weight:300;)</span>
                    </p>
                    <p class="weight-regular">
                        안녕하세요. 바노바기 성형외과 입니다.
                        <span class="guide-span">(font-weight:400;)</span>
                    </p>
                    <p class="weight-medium">
                        안녕하세요. 바노바기 성형외과 입니다.
                        <span class="guide-span">(font-weight:500;)</span>
                    </p>
                    <p class="weight-bold">
                        안녕하세요. 바노바기 성형외과 입니다.
                        <span class="guide-span">(font-weight:600;)</span>
                    </p>
                </div>
                <pre class="brush: html;">
                    <p class="weight-thin">안녕하세요. 바노바기 성형외과 입니다.</p>
                    <p class="weight-light">안녕하세요. 바노바기 성형외과 입니다.</p>
                    <p class="weight-regular">안녕하세요. 바노바기 성형외과 입니다.</p>
                    <p class="weight-medium">안녕하세요. 바노바기 성형외과 입니다.</p>
                    <p class="weight-bold">안녕하세요. 바노바기 성형외과 입니다.</p>
                </pre>
            </div>
        </div>

        <!-- 타이틀 폰트 -->
        <div class="guide-box">
            <div class="guide-tit">타이틀 폰트</div>
            <div class="guide-wrap">
            <div class="guide-bg">
                <p class="tit-new1">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:48px;font-weight:400;line-height:1.16;)</span>
                </p>
                <p class="tit-new3">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:38px;font-weight:400;line-height:1.16;)</span>
                </p>
                <p class="tit-new2">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:38px;font-weight:100;line-height:1.2;)</span>
                </p>
        		<p class="tit-new4">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:30px;font-weight:300;line-height:1.33;)</span>
                </p>
            </div>
            <pre class="brush: html;">
        		<div>
                    <p class="tit-new1">안녕하세요. 바노바기 성형외과입니다.</p>
                    <p class="tit-new3">안녕하세요. 바노바기 성형외과입니다.</p>
                    <p class="tit-new2">안녕하세요. 바노바기 성형외과입니다.</p>
            		<p class="tit-new4">안녕하세요. 바노바기 성형외과입니다.</p>
        		</div>
        	</pre>
        </div>
        </div>

        <!-- 텍스트 폰트 -->
        <div class="guide-box">
            <div class="guide-tit">텍스트 폰트</div>
            <div class="guide-wrap">
            <div class="guide-bg">
                <p class="txt-new3">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:28px;font-weight:300;line-height:1.35;)</span>
                </p>
                <p class="txt-new2">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:20px;font-weight:300;line-height:1.6;)</span>
                </p>
                <p class="txt-new1">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:15px;font-weight:300;line-height:1.7;)</span>
                </p>
        		<p class="txt-new4">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:12px;font-weight:300;line-height:1.5;)</span>
                </p>
            </div>
            <pre class="brush: html;">
        		<div>
                    <p class="txt-new3">안녕하세요. 바노바기 성형외과입니다.</p>
                    <p class="txt-new2">안녕하세요. 바노바기 성형외과입니다.</p>
                    <p class="txt-new1">안녕하세요. 바노바기 성형외과입니다.</p>
            		<p class="txt-new4">안녕하세요. 바노바기 성형외과입니다.</p>
        		</div>
        	</pre>
        </div>
        </div>
    </div><!-- //new-content-wrap -->
<!-- //table1 -->
<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<!-- <script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script> -->
<!-- <script type="text/javascript" src="../../js/common.js"></script> -->
<!-- <script type="text/javascript" src="../../js/common.js"></script> -->
<script type="text/javascript" src="../../js/guide.js"></script>
</body>
</html>
