<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>바노바기성형외과</title>
<script type="text/javascript" src="../../scripts/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/new_content_common.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
</head>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item is-active"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="new-content-wrap">
		<!-- btn1 -->
		<div class="guide-box">
			<div class="guide-tit">btn1</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="btn1"><span>자세히보기</span></a>
				</div>
				<pre class="brush: html;">
					<div>
						<a href="" class="btn1"><span>자세히보기</span></a>
					</div>
				</pre>
			</div>
		</div>

		<!-- btn2 -->
		<div class="guide-box">
			<div class="guide-tit">btn2</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="btn2"><span>상담신청</span></a>
				</div>
				<pre class="brush: html;">
					<!-- type-katalk : 카톡 상담신청 -->
					<!-- type-cost : 비용 상담신청 -->
					<!-- type-live : 실시간 상담신청 -->
					<div>
						<a href="" class="btn2"><span>상담신청</span></a>
					</div>
				</pre>
			</div>
		</div>

		<!-- btn3 -->
		<div class="guide-box">
			<div class="guide-tit">btn3</div>
			<div class="guide-wrap">
				<div>
					<p class="guide-subtit">기본</p>
					<button type="submit" class="btn3">제휴제안 신청하기</button>
					<p class="guide-subtit">type-black</p>
					<a href="" class="btn3 type-black">코스메틱 제품 보러가기</a>
				</div>
				<pre class="brush: html;">
					<!-- type-black : 테두리 -->
					<button type="submit" class="btn3">제휴제안 신청하기</button>
				</pre>
			</div>
		</div>

		<!-- btn4 -->
		<div class="guide-box">
			<div class="guide-tit">btn4</div>
			<div class="guide-wrap">
				<div class="guide-bg">
					<a href="" class="btn4 txt-new1">바노바기 가슴 축소술 자세히 보기</a>
				</div>
				<pre class="brush: html;">
					<a href="" class="btn4 txt-new1">바노바기 가슴 축소술 자세히 보기</a>
				</pre>
			</div>
		</div>

		<!-- radio1 -->
		<div class="guide-box">
			<div class="guide-tit">radio1</div>
			<div class="guide-wrap">
				<div>
					<input type="radio" name="agree1" value="" id="agree1_1" class="radio1" checked="checked"><label for="agree1_1">수신동의</label>
					<input type="radio" name="agree1" value="" id="agree1_2" class="radio1"><label for="agree1_2">수신거부</label>
				</div>
				<pre class="brush: html;">
					<input type="radio" name="agree1" value="" id="agree1_1" class="radio1" checked="checked"><label for="agree1_1">수신동의</label>
					<input type="radio" name="agree1" value="" id="agree1_2" class="radio1"><label for="agree1_2">수신거부</label>
				</pre>
			</div>
		</div>

		<!-- required -->
		<div class="guide-box">
			<div class="guide-tit">required</div>
			<div class="guide-wrap">
				<div>
					<span class="required type-left">필수입력</span>
				</div>
				<pre class="brush: html;">
					<span class="required type-left">필수입력</span>
				</pre>
			</div>
		</div>

		<!-- input-v1 -->
		<div class="guide-box">
			<div class="guide-tit">input-v1</div>
			<div class="guide-wrap">
				<div>
					<input type="text" class="input-v1 input-v1__w100p" placeholder="제목을 입력해주세요">
				</div>
				<pre class="brush: html;">
					<input type="text" class="input-v1 input-v1__w100p" placeholder="제목을 입력해주세요">
				</pre>
			</div>
		</div>

		<!-- textarea-v1 -->
		<div class="guide-box">
			<div class="guide-tit">textarea-v1</div>
			<div class="guide-wrap">
				<div>
					<textarea class="textarea-v1 textarea-v1__w100p" placeholder="제휴/제안 내용을 입력해주세요"></textarea>
				</div>
				<pre class="brush: html;">
					<textarea class="textarea-v1 textarea-v1__w100p" placeholder="제휴/제안 내용을 입력해주세요"></textarea>
				</pre>
			</div>
		</div>

		<!-- upload-set-v1 -->
		<div class="guide-box">
			<div class="guide-tit">upload-set-v1</div>
			<div class="guide-wrap">
				<div>
					<span class="upload-set-v1 upload-set-v1__w100p">
						<span class="upload-set-v1__wrap" data-value="찾아보기">
							<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="첨부파일" >
						</span>
						<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)"
						placeholder="3MB 이내 파일만 첨부 가능">
					</span><!-- //upload-set-v1 -->
				</div>
				<pre class="brush: html;">
					<span class="upload-set-v1 upload-set-v1__w100p">
						<span class="upload-set-v1__wrap" data-value="찾아보기">
							<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="첨부파일" >
						</span>
						<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)"
						placeholder="3MB 이내 파일만 첨부 가능">
					</span><!-- //upload-set-v1 -->
				</pre>
			</div>
		</div>

		<!-- table1 -->
		<div class="guide-box">
			<div class="guide-tit">table1</div>
			<div class="guide-wrap">
				<div>
					<table class="table1">
						<colgroup>
							<col class="table1__th-w">
							<col>
						</colgroup>
						<tbody>
							<tr class="table1__tr">
								<th class="table1__th type-m"><span class="required">구분</span></th>
								<td class="table1__td">
									<ul class="sortation__list">
										<li class="sortation__item">
											<input type="radio" name="agree1" value="" id="option1_1" class="radio2" checked="checked"><label for="option1_1">성형외과</label>
										</li>
										<li class="sortation__item">
											<input type="radio" name="agree1" value="" id="option1_2" class="radio2"><label for="option1_2">코스메틱</label>
										</li>
										<li class="sortation__item">
											<input type="radio" name="agree1" value="" id="option1_3" class="radio2"><label for="option1_3">성형외과+코스메틱</label>
										</li>
									</ul>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th"><span class="required">제목</span></th>
								<td class="table1__td">
									<input type="text" class="input-v1 input-v1__w100p" placeholder="제목을 입력해주세요">
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt-top type-top"><span class="required">내용</span></th>
								<td class="table1__td vt-top">
									<textarea class="textarea-v1 textarea-v1__w100p" placeholder="제휴/제안 내용을 입력해주세요"></textarea>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">연락처</th>
								<td class="table1__td">
									<input type="tel" class="input-v1 input-v1__w100p">
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">메일주소</th>
								<td class="table1__td">
									<input type="email" class="input-v1 input-v1__w100p">
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt-top type-top">파일첨부</th>
								<td class="table1__td">
									<div class="form-box">
										<span class="upload-set-v1 upload-set-v1__w100p">
											<span class="upload-set-v1__wrap" data-value="찾아보기">
												<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="첨부파일" >
											</span>
											<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)"
											placeholder="3MB 이내 파일만 첨부 가능">
										</span><!-- //upload-set-v1 -->
										<p class="proposal__noti">파일 확장자는 png, gif, jpg, zip, ppt, pptx, doc, docx만 가능</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<pre class="brush: html;">
					<table class="table1">
						<colgroup>
							<col class="table1__th-w">
							<col>
						</colgroup>
						<tbody>
							<tr class="table1__tr">
								<th class="table1__th type-m"><span class="required">구분</span></th>
								<td class="table1__td">
									<ul class="sortation__list">
										<li class="sortation__item">
											<input type="radio" name="agree1" value="" id="option1_1" class="radio2" checked="checked"><label for="option1_1">성형외과</label>
										</li>
										<li class="sortation__item">
											<input type="radio" name="agree1" value="" id="option1_2" class="radio2"><label for="option1_2">코스메틱</label>
										</li>
										<li class="sortation__item">
											<input type="radio" name="agree1" value="" id="option1_3" class="radio2"><label for="option1_3">성형외과+코스메틱</label>
										</li>
									</ul>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th"><span class="required">제목</span></th>
								<td class="table1__td">
									<input type="text" class="input-v1 input-v1__w100p" placeholder="제목을 입력해주세요">
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt-top type-top"><span class="required">내용</span></th>
								<td class="table1__td vt-top">
									<textarea class="textarea-v1 textarea-v1__w100p" placeholder="1.제안 배경
					2.세부 제안 내용
					3.기대 효과"></textarea>
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">연락처</th>
								<td class="table1__td">
									<input type="tel" class="input-v1 input-v1__w100p">
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th">메일주소</th>
								<td class="table1__td">
									<input type="email" class="input-v1 input-v1__w100p">
								</td>
							</tr>
							<tr class="table1__tr">
								<th class="table1__th vt-top type-top">파일첨부</th>
								<td class="table1__td">
									<div class="form-box">
										<span class="upload-set-v1 upload-set-v1__w100p">
											<span class="upload-set-v1__wrap" data-value="찾아보기">
												<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="첨부파일" >
											</span>
											<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)"
											placeholder="3MB 이내 파일만 첨부 가능">
										</span><!-- //upload-set-v1 -->
										<p class="proposal__noti">파일 확장자는 png, gif, jpg, zip, ppt, pptx, doc, docx만 가능</p>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</pre>
			</div>
			<!-- //table1 -->
		</div>

		<!-- pagination -->
		<div class="guide-box">
			<div class="guide-tit">pagination</div>
			<div class="guide-wrap">
				<div>
					<p class="guide-subtit">기본</p>
					<div class="pagination">
						<ul class="pagination__list">
							<li class="pagination__item pagination__item-first">
								<a href="" class="pagination__link">처음</a>
							</li>
							<li class="pagination__item pagination__item-prev">
								<a href="" class="pagination__link">이전</a>
							</li>
							<li class="pagination__item pagination__item-num is-active">
								<a href="" class="pagination__link">1</a>
							</li>
							<li class="pagination__item pagination__item-num is-acitve">
								<a href="" class="pagination__link">2</a>
							</li>
							<li class="pagination__item pagination__item-num">
								<a href="" class="pagination__link">3</a>
							</li>
							<li class="pagination__item pagination__item-num">
								<a href="" class="pagination__link">4</a>
							</li>
							<li class="pagination__item pagination__item-num">
								<a href="" class="pagination__link">5</a>
							</li>
							<li class="pagination__item pagination__item-next">
								<a href="" class="pagination__link">다음</a>
							</li>
							<li class="pagination__item pagination__item-last">
								<a href="" class="pagination__link">마지막</a>
							</li>
						</ul>
					</div>

					<p class="guide-subtit">type-step</p>
					<div class="pagination type-step">
						<ul class="pagination__list">
							<li class="pagination__item pagination__item-prev">
								<a href="#" class="pagination__link js-step-prev">
									<img src="../../images/common/paging_prev.png" loading="lazy" alt="Prev" class="invisible">
								</a>
							</li>
							<li class="pagination__item pagination__page">
								<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
							</li>
							<li class="pagination__item pagination__item-next">
								<a href="#" class="pagination__link js-step-next">
									<img src="../../images/common/paging_next.png" loading="lazy" alt="Next" class="invisible">
								</a>
							</li>
						</ul>
			        </div>
				</div>
				<pre class="brush: html;">
					<!-- type-step : 페이징 1/16 -->
					<div class="pagination">
						<ul class="pagination__list">
							<li class="pagination__item pagination__item-first">
								<a href="" class="pagination__link">처음</a>
							</li>
							<li class="pagination__item pagination__item-prev">
								<a href="" class="pagination__link">이전</a>
							</li>
							<li class="pagination__item pagination__item-num is-active">
								<a href="" class="pagination__link">1</a>
							</li>
							<li class="pagination__item pagination__item-num is-acitve">
								<a href="" class="pagination__link">2</a>
							</li>
							<li class="pagination__item pagination__item-num">
								<a href="" class="pagination__link">3</a>
							</li>
							<li class="pagination__item pagination__item-num">
								<a href="" class="pagination__link">4</a>
							</li>
							<li class="pagination__item pagination__item-num">
								<a href="" class="pagination__link">5</a>
							</li>
							<li class="pagination__item pagination__item-next">
								<a href="" class="pagination__link">다음</a>
							</li>
							<li class="pagination__item pagination__item-last">
								<a href="" class="pagination__link">마지막</a>
							</li>
						</ul>
					</div>
				</pre>

			</div>
		</div>

		<!-- page -->
		<div class="guide-box">
			<div class="guide-tit">page</div>
			<div class="guide-wrap">
				<div>
					<div class="page">
						<ul class="page__list">
							<li class="page__item type-prev">
								<div class="page__wrap">
									<a href="" class="page__link">
										<span class="page__btn">이전글</span>
										<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼 바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼</span>
									</a>
								</div>
							</li>
							<li class="page__item type-next">
								<div class="page__wrap">
									<a href="" class="page__link">
										<span class="page__btn">다음글</span>
										<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼</span>
									</a>
								</div>
							</li>
						</ul>
					</div><!--//page-->
					<div class="page-bottom">
						<a href="" class="page-bottom__btn">목록</a>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="page">
						<ul class="page__list">
							<li class="page__item type-prev">
								<div class="page__wrap">
									<a href="" class="page__link">
										<span class="page__btn">이전글</span>
										<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼 바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼</span>
									</a>
								</div>
							</li>
							<li class="page__item type-next">
								<div class="page__wrap">
									<a href="" class="page__link">
										<span class="page__btn">다음글</span>
										<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼</span>
									</a>
								</div>
							</li>
						</ul>
					</div><!--//page-->
					<div class="page-bottom">
						<a href="" class="page-bottom__btn">목록</a>
					</div>
				</pre>
			</div>
		</div>

		<!-- tab-v1 -->
		<div class="guide-box">
			<div class="guide-tit">tab-v1</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="tab-content1" class="tab-v1__link" da>물광 PRP</a></li>
							<li class="tab-v1__item"><a href="tab-content2" class="tab-v1__link">물광 DNA</a></li>
							<li class="tab-v1__item"><a href="tab-content3" class="tab-v1__link">물광주사</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="tab-content1" class="tab-v1__link" da>물광 PRP</a></li>
							<li class="tab-v1__item"><a href="tab-content2" class="tab-v1__link">물광 DNA</a></li>
							<li class="tab-v1__item"><a href="tab-content3" class="tab-v1__link">물광주사</a></li>
						</ul>
					</div>
				</pre>
			</div>
		</div>

		<!-- tab-v2 -->
		<div class="guide-box">
			<div class="guide-tit">tab-v2</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v2">
						<ul class="tab-v2__list">
							<li class="tab-v2__item"><a href="" class="tab-v2__link">media</a></li>
							<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">news</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v2">
						<ul class="tab-v2__list">
							<li class="tab-v2__item"><a href="" class="tab-v2__link">media</a></li>
							<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">news</a></li>
						</ul>
					</div>
				</pre>
			</div>
		</div>

		<!-- tab-v3 -->
		<div class="guide-box">
			<div class="guide-tit">tab-v3</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v3">
						<ul class="tab-v3__list">
							<li data-tab="etc1" class="tab-v3__item is-active"><a class="tab-v3__link js-tab-link" href="">개인정보취급방침</a></li>
							<li data-tab="etc2" class="tab-v3__item"><a class="tab-v3__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v3">
						<ul class="tab-v3__list">
							<li data-tab="etc1" class="tab-v3__item is-active"><a class="tab-v3__link js-tab-link" href="">개인정보취급방침</a></li>
							<li data-tab="etc2" class="tab-v3__item"><a class="tab-v3__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
						</ul>
					</div>
				</pre>
			</div>

		</div>

		<!-- tab-v4 -->
		<div class="guide-box">
			<div class="guide-tit">tab-v4</div>
			<div class="guide-wrap">
				<div>
					<ul class="tab-v4">
						<li class="tab-v4__item is-active" data-tab="profile">
							<a href="" class="tab-v4__link js-tab-link">약력</a>
						</li>
						<li class="tab-v4__item" data-tab="thesis">
							<a href="" class="tab-v4__link js-tab-link">논문 &middot; 저서</a>
						</li>
					</ul>
				</div>
				<pre class="brush: html;">
					<ul class="tab-v4">
						<li class="tab-v4__item is-active" data-tab="profile">
							<a href="" class="tab-v4__link js-tab-link">약력</a>
						</li>
						<li class="tab-v4__item" data-tab="thesis">
							<a href="" class="tab-v4__link js-tab-link">논문 &middot; 저서</a>
						</li>
					</ul>
				</pre>
			</div>
		</div>

		<!-- tab-v5 -->
		<div class="guide-box">
			<div class="guide-tit">tab-v5</div>
			<div class="guide-wrap">
				<div>
					<ul class="tab-v5">
						<li class="tab-v5__item is-active" data-tab="type-doctor">
							<a href="" class="tab-v5__link js-tab-link">의료진 (4)</a>
						</li>
						<li class="tab-v5__item" data-tab="type-academic">
							<a href="" class="tab-v5__link js-tab-link">학술교류</a>
						</li>
						<li class="tab-v5__item" data-tab="type-video">
							<a href="" class="tab-v5__link js-tab-link">동영상</a>
						</li>
						<li class="tab-v5__item" data-tab="type-news">
							<a href="" class="tab-v5__link js-tab-link">뉴스</a>
						</li>
					</ul>
				</div>
				<pre class="brush: html;">
					<ul class="tab-v5">
						<li class="tab-v5__item is-active" data-tab="type-doctor">
							<a href="" class="tab-v5__link js-tab-link">의료진 (4)</a>
						</li>
						<li class="tab-v5__item" data-tab="type-academic">
							<a href="" class="tab-v5__link js-tab-link">학술교류</a>
						</li>
						<li class="tab-v5__item" data-tab="type-video">
							<a href="" class="tab-v5__link js-tab-link">동영상</a>
						</li>
						<li class="tab-v5__item" data-tab="type-news">
							<a href="" class="tab-v5__link js-tab-link">뉴스</a>
						</li>
					</ul>
				</pre>
			</div>
		</div>

		<!-- category-tab -->
		<div class="guide-box">
			<div class="guide-tit">category-tab</div>
			<div class="guide-wrap">
				<div>
					<p class="guide-subtit">기본</p>
					<div class="category-tab">
						<ul class="category-tab__list">
							<li class="category-tab__item is-active">
								<a href="" class="category-tab__link">전체</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">윤곽</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">바디</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">가슴</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">눈</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">코</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">동안</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">줄기세포</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">재수술</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">스페셜</a>
							</li>
						</ul>
					</div>

					<p class="guide-subtit">type-eleven</p>
					<div class="category-tab type-eleven">
						<ul class="category-tab__list">
							<li class="category-tab__item is-active">
								<a href="" class="category-tab__link">전체</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">윤곽</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">바디</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">가슴</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">눈</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">코</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">동안</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">줄기세포</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">재수술</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">스페셜</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">모발이식</a>
							</li>
						</ul>
					</div>

					<p class="guide-subtit">type-medical</p>
					<div class="category-tab type-medical">
			            <ul class="category-tab__list">
			                <li class="category-tab__item is-active">
			                    <a href="" class="category-tab__link">성형외과 전문의</a>
			                </li>
			                <li class="category-tab__item">
			                    <a href="" class="category-tab__link">상주 마취통증의학과 전문의</a>
			                </li>
			                <li class="category-tab__item">
			                    <a href="" class="category-tab__link">가정의학과 전문의</a>
			                </li>
			                <li class="category-tab__item">
			                    <a href="" class="category-tab__link">외과 전문의</a>
			                </li>
			            </ul>
			        </div>
				</div>
				<pre class="brush: html;">
					<!-- type-eleven : 11개 배열-->
					<!-- type-medical : 의료진 소개 페이지 내 탭 -->
					<div class="category-tab">
						<ul class="category-tab__list">
							<li class="category-tab__item is-active">
								<a href="" class="category-tab__link">전체</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">윤곽</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">바디</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">가슴</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">눈</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">코</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">동안</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">줄기세포</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">재수술</a>
							</li>
							<li class="category-tab__item">
								<a href="" class="category-tab__link">스페셜</a>
							</li>
						</ul>
					</div>
				</pre>
			</div>
			<!--//category-tab-->
		</div>

		<!-- content-tab -->
		<div class="guide-box">
			<div class="guide-tit">content-tab (리뉴얼 이전 컨텐츠에서 사용)</div>
			<div class="guide-wrap">
				<div>
					<div class="new-content-wrap">
						<div class="new-section">
							<div class="content-tab">
						<div class="content-tab__inner">
							<ul class="content-tab__list">
								<li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">코끝</a></li>
								<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">콧대</a></li>
								<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">보형물</a></li>
							</ul>
						</div>
					</div>
						</div>
					</div>
				</div>
				<pre class="brush: html;">
					<!-- type-margin : margin-top:0; -->
					<div class="content-tab">
						<div class="content-tab__inner">
							<ul class="content-tab__list">
								<li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">코끝</a></li>
								<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">콧대</a></li>
								<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">보형물</a></li>
							</ul>
						</div>
					</div>
				</pre>
			</div>
			<!--//content-tab-->
		</div>

		<!-- new-tab -->
		<div class="guide-box">
			<div class="guide-tit">new-tab (리뉴얼 컨텐츠에서 사용)</div>
			<div class="guide-wrap">
				<div>
					<div class="new-content-wrap">
						<div class="new-section">
							<div class="new-tab type-special">
								<ul class="new-tab__list">
									<li class="new-tab__item is-active">
										<div class="new-tab__wrap">
											<a href="page-long" class="new-tab__link">반영구 필러 추천 부위</a>
										</div>
									</li>
									<li class="new-tab__item">
										<div class="new-tab__wrap">
											<a href="page-temporary" class="new-tab__link"><span class="new-tab__border">일시적 필러 추천 부위</span></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="new-tab type-special">
						<ul class="new-tab__list">
							<li class="new-tab__item is-active">
								<div class="new-tab__wrap">
									<a href="page-long" class="new-tab__link">반영구 필러 추천 부위</a>
								</div>
							</li>
							<li class="new-tab__item">
								<div class="new-tab__wrap">
									<a href="page-temporary" class="new-tab__link"><span class="new-tab__border">일시적 필러 추천 부위</span></a>
								</div>
							</li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //new-tab -->

			<!-- inner-tab -->
			<div class="guide-box">
				<div class="guide-tit">inner-tab</div>
				<div class="guide-wrap">
					<div>
						<div class="new-section">
			                <div class="new-style1 type-bottom type-max4">
								<div class="inner-tab type-contour">
									<ul class="inner-tab__list">
										<li class="inner-tab__item is-active">
											<div class="inner-tab__wrap">
												<a href="inner-max" class="inner-tab__link txt-new2">탄력실 맥스 리프팅</a>
											</div>
										</li>
										<li class="inner-tab__item">
											<div class="inner-tab__wrap">
												<a href="inner-contour" class="inner-tab__link txt-new2">바노바기 안면윤곽</a>
											</div>
										</li>
									</ul>
								</div>

								<div class="inner-tab-content inner-max is-active"></div>
								<div class="inner-tab-content inner-contour"></div>
							</div>
						</div>
					</div>
					<pre class="brush: html;">
						<div class="inner-tab type-contour">
							<ul class="inner-tab__list">
								<li class="inner-tab__item is-active">
									<div class="inner-tab__wrap">
										<a href="inner-max" class="inner-tab__link txt-new2">탄력실 맥스 리프팅</a>
									</div>
								</li>
								<li class="inner-tab__item">
									<div class="inner-tab__wrap">
										<a href="inner-contour" class="inner-tab__link txt-new2">바노바기 안면윤곽</a>
									</div>
								</li>
							</ul>
						</div>

						<div class="inner-tab-content inner-max is-active"></div>
						<div class="inner-tab-content inner-contour"></div>
					</pre>
				</div>
			</div>
			<!-- //inner-tab -->

			<!-- content-btn -->
			<div class="guide-box">
				<div class="guide-tit">content-btn</div>
				<div class="guide-wrap">
					<div>
						<div class="new-section">
							<div class="img-style1">
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_4.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">자가지방세포 이식</h5>
										<p class="img-style1__caption txt-new1">
											허벅지나 복부 등에서 지방을 채취하여 원심분리기를<br class="hidden-tm">
											이용해 지방세포를 분리합니다.<br class="hidden-tm">
											분리한 지방세포를 턱에 골고루 주입합니다.
										</p>
										<a href="../svf/svfTransplant.php" class="content-btn txt-new1"><span>지방이식페이지 바로가기</span></a>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/brow/brow_img_5.jpg" class="img-w100" loading="lazy" alt=""/>
										<h5 class="img-style1__subject txt-new2">아테콜 / 일반 필러</h5>
										<p class="img-style1__caption txt-new1">
											시술 전 마취크림 사용으로 적은 통증<br class="hidden-tm">
											미세한 바늘을 사용한 주사로 예쁜 형태<br class="hidden-tm">
											반영구 필러인 아테콜 시술이 적합
										</p>
										<a href="../../special/specialDetail.php" class="content-btn txt-new1"><span>필러페이지 바로가기</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<pre class="brush: html;">
						<a href="../svf/svfTransplant.php" class="content-btn txt-new1"><span>지방이식페이지 바로가기</span></a>
					</pre>
				</div>
				<!-- //content-btn -->
			</div>

			<!-- content-btn -->
			<div class="guide-box">
				<div class="guide-tit">content-btn2</div>
				<div class="guide-wrap">
					<div>
						<div class="new-section">
							<a href="../contour/contourElastone.php" class="content-btn2 txt-new1"><span>엘라스톤 테라피 페이지 바로가기</span></a>
						</div>
					</div>
					<pre class="brush: html;">
						<a href="../contour/contourElastone.php" class="content-btn2 txt-new1"><span>엘라스톤 테라피 페이지 바로가기</span></a>
					</pre>
				</div>
				<!-- //content-btn -->
			</div>

		</div>
	</div>
<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<!-- <script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script> -->
<!-- <script type="text/javascript" src="../../js/common.js"></script> -->
<!-- <script type="text/javascript" src="../../js/common.js"></script> -->
<script type="text/javascript" src="../../js/guide.js"></script>
</body>
</html>
