.new-visual{
	$this: &;

	&.type-accessory{
		&:before{
			@include background('../images/chest/accessory/accessory_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $chest1;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-accessory{
			&:before{
				@include background('../images/chest/accessory/accessory_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-accessory{
			&:before{
				@include background('../images/chest/accessory/accessory_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-accessory{@include background('../images/chest/accessory/accessory_bg_1.jpg','no-repeat center bottom/contain');}
    &.type-accessory2{background-color: #25123a;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
        #{$this}__txt2{color: #fff;}
    }
    &.type-accessory3{background-color: #e9e2f1;}
    &.type-accessory4{background-color: #3b185f;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #fff;}
        #{$this}__txt2{color: #aaa;}
    }
}
