



.clearfix{display: block;content:'';clear: both;}

.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.chestFirst{@include background('../images/chest/chest_detail_section01.jpg','center center/cover');
		& .detail__inner{text-align:center;}
	}
	&.chestSection01{@include background('../images/chest/chest_detail_section02.jpg','center center/cover');}
	&.chestSection02{@include background('../images/chest/chest_detail_section03.jpg','center center/cover');}
	&.chestSection03{@include background('../images/chest/chest_detail_section04.jpg','center center/cover');
		& .detail__section-box{top:74px; bottom:auto;}
	}
	&.chestSection04{@include background('../images/chest/chest_detail_section05.jpg','center center/cover');
		.detail__section-box{width:430px;}
	}
	&.chestSection05{@include background('../images/chest/chest_detail_section06.jpg','center center/cover');}
	@media only screen and (max-width:$minpc-size3){
		&.chestSection01{@include background('../images/chest/chest_detail_section02_992.jpg','86% 100%/cover');}
		&.chestSection04{@include background('../images/chest/chest_detail_section05_768.jpg','center 100%/cover');}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.chestSection02{
			.detail__section-wrap{width:60%;}
		}
		&.chestSection04{
			.detail__section-box{width:350px;}
		}
		&.chestSection05{
			.detail__section-box{width:366px;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&.chestFirst{@include background('../images/chest/chest_detail_section01_992.jpg','center 100% /cover');}
		&.chestSection02{@include background('../images/chest/chest_detail_section03_992.jpg','center 100% /cover');
			.detail__section-set{text-align:right;}
			.detail__section-box{top:10px;}
		}
		&.chestSection03{@include background('../images/chest/chest_detail_section04_992.jpg','center 100% /cover');}
		&.chestSection04{
			.detail__section-box{width:300px;}
		}
		&.chestSection05{@include background('../images/chest/chest_detail_section06_992.jpg','center 100% /cover');}
	}
    @media only screen and (max-width:$tablet-size) and (orientation: landscape){
        &.chestFirst{@include background('../images/chest/chest_detail_section01.jpg','center center /cover');}
        &.chestSection01{
			.detail__section-box{width:400px;}
		}
        &.chestSection02{@include background('../images/chest/chest_detail_section03.jpg','center 100% /cover');}
        &.chestSection03{@include background('../images/chest/chest_detail_section04.jpg','center 100% /cover');
    		& .detail__section-box{top:24px; bottom:auto;}
    	}
        &.chestSection04{
			.detail__section-box{width:350px;}
		}
        &.chestSection05{@include background('../images/chest/chest_detail_section06.jpg','center 100% /cover');}
    }
	@media only screen and (max-width:$mobile-size){
		&.chestFirst{@include background('../images/chest/chest_detail_section01_640.jpg','center center /cover');}
		&.chestSection01{height:570px; @include background('../images/chest/chest_detail_section02_640.jpg','center 100% /cover');
			.detail__section-box{width:240px;}
		}
		&.chestSection02{height:800px !important; @include background('../images/chest/chest_detail_section03_640.jpg','center 100% /cover');
			.detail__section-wrap{width:67%; padding:0 30px;}
			.detail__section-box{width:auto;}
		}
		&.chestSection03{height:620px !important; @include background('../images/chest/chest_detail_section04_640.jpg','center 100% /cover');
			.detail__section-box{width:220px; bottom:auto;}

		}
		&.chestSection04{height:950px !important; @include background('../images/chest/chest_detail_section05_640.jpg','center 100% /cover');
			& .detail__inner{text-align:center;}
		}
		&.chestSection05{height:571px !important; @include background('../images/chest/chest_detail_section06_640.jpg','center center /cover');
			& .detail__section-box{width:200px;}
		}
	}
}

.color-chest0{color:#555454; font-weight:300;}
.color-chest1{color:#7b35d1;}
.color-chest2{color:#d995fd;}
.color-chest3{color:#d8aeff;}
.color-chest4{color:#ffc332;}
.color-chest5{color:#ffdd84;}
.color-chest6{color:#b261ff;}




/*chest-color*/
.color-chest7{color:#6b1ac1;}
.color-chest8{color:#b777fb;}
.color-chest9{color:#bf82ff;}
.color-chest10{color:#b694d2; }
.color-chest-bg{background-color: #ebd9ff;}
.color-chest11 {color: #bd9cff;};
.color-chest12 {color: #d8c4ff;};
.color-chest13{color:#e3c9ff;}
