.new-visual{
	$this:&;
	&.type-gynecomastia{
		&:before{
			@include background('../images/chest/gynecomastia/gynecomastia_visual_1.jpg','no-repeat center center / cover');
		}
		#{$this}__item{background: $chest1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-gynecomastia{
			&:before{
				@include background('../images/chest/gynecomastia/gynecomastia_visual_1_t.jpg','no-repeat center center / cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-gynecomastia{
			&:before{
				@include background('../images/chest/gynecomastia/gynecomastia_visual_1_m.jpg','no-repeat center center / cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-gynecomastia{
		@include background('../images/chest/gynecomastia/gynecomastia_bg_1.jpg','no-repeat center bottom / contain');}
	&.type-gynecomastia2{margin-top:-1px; background-color:#d1c1e1;}
	&.type-gynecomastia3{background-color:#211033;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__txt2{color:#eee;}
	}
}
