.new-visual{
	$this: &;

	&.type-reconstruction{
		&:before{
			@include background('../images/chest/reconstruction/reconstruction_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $chest1;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-reconstruction{
			&:before{
				@include background('../images/chest/reconstruction/reconstruction_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-reconstruction{
			&:before{
				@include background('../images/chest/reconstruction/reconstruction_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
    $this: &;

    &.type-reconstruction{background-color: #f8f1ff;}
    &.type-reconstruction2{background-color: #1c0a2e;
        #{$this}__tit{color: #fff;}
        #{$this}__txt{color: #aaa;}
        #{$this}__txt2{color: #fff;}
    }
	&.type-reconstruction3{
		#{$this}__img{margin: 64px -120px 0;}
		.inner-box{background-color: #f1f1f1;}
	}
	&.type-reconstruction4{background-color: #1c0a2e;
		#{$this}__img{margin: 64px -120px 0;}
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
		#{$this}__txt2{color: #fff;}
	}

	@media only screen and (max-width: $tablet-size){
		&.type-reconstruction3,
		&.type-reconstruction4{
			#{$this}__img{margin-left: 0;margin-right: 0;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-reconstruction3,
		&.type-reconstruction4{
			#{$this}__img{margin-top: 25px;}
		}
	}
}

.compare3{
    $this: &;

    &.type-reconstruction{
        #{$this}__item{
			&:first-child{height: 100px;}
			&:nth-child(2){height: 230px;}
		}
    }

    @media only screen and (max-width: $tablet-size){
        &.type-reconstruction{
            #{$this}__item{
    			&:first-child{height: auto;}
    			&:nth-child(2){height: auto;}
    		}
        }
    }
}
