.new-visual{
	$this:&;
	&.type-droop{
		&:before{
			@include background('../images/chest/droop/droop_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $chest1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-droop{
			&:before{
				@include background('../images/chest/droop/droop_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-droop{
			&:before{
				@include background('../images/chest/droop/droop_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;
	&.type-droop{
		@include background('../images/chest/droop/droop_bg_1.jpg','#f8f1ff no-repeat center top');}
	&.type-droop2{background-color:$chest1;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__txt2{color:#fff;}
	}
	&.type-droop3{background-color:#25123a;
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#aaa;}
		#{$this}__txt2{color:#fff;}
	}
}
