/*가슴축소술*/
.color-reduction1{color: #6b1ac1;}
.reduction-box1{text-align: center;
	.content-section__tit.type-left{text-align: center; margin-left: -8px;}
	.content-section__box{text-align:center;}
	.content-section__txt1{ padding: 0 14%;}
	&__img{margin-top:70px; font-size:0;}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{padding: 0;}
		&__img{width:100%; height:0; margin-top:40px; padding-bottom:56.77%; @include background('../images/chest/chest_reduction_img02_768.jpg','center center / cover');
			img{display:none;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__txt1{margin:0; margin-top: 25px;}
		&__img{margin-top:30px;}
	}
	}
.reduction-box2{padding:110px 0; background-color:#dedefb;
	.content-section__tit{ margin-left: -30px;}
	.content-section__txt1{ margin-top: 70px; padding-right: 56%;}
	.content-section__txt{ padding: 0 9%;}

	&__box{width:100%; padding-left:40px; padding-bottom:100px; text-align: left;
		@include background('../images/chest/chest_reduction_img03.png','no-repeat right bottom'); box-sizing:border-box;}
	&__txt{margin-top:70px; font-size:20px; color:#333; line-height:1.7;
		strong{font-weight:400;}
	}
	&__img{display:none;}

	@media only screen and (max-width:$minpc-size3){padding-top:130px; margin:0px;
		.content-section__txt1{width:300px;padding-right: 0; margin-top: 25px;}
		&__box{padding:0 65px 70px 90px; background-position:right -190px bottom; background-size: auto 678px;}
		&__txt{padding:0 40px;}
	}
	@media only screen and (max-width:$tablet-size){margin:0 -65px;}
	@media only screen and (max-width:$mobile-size){margin:-1px -20px 0; padding:50px 20px 0;
		.content-section__tit{ margin-left: -15px;}
		&__box{padding: 0 15px; background:none;}
		.content-section__txt1{width:auto;}
		&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:35px; padding-bottom:102.82%;
			@include background('../images/chest/chest_reduction_img03_m.png','center center / cover'); text-indent:-999px;}
		&__txt{margin-top:34px; padding:0 0 50px 0; font-size:1.4rem;}
	}
}
.reduction-wrap{width:1064px; margin:0px auto;
	@media only screen and (max-width:$minpc-size3){width:100%;}
}

.cosmetic{padding:0 18px; box-sizing:border-box;
	$this:&;
	&__bg{padding:60px; background-color:#fff;}
	&__list{margin:0 0 0 -106px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; padding-left:106px; width:50%; box-sizing:border-box; list-style:none;}
	&__wrap{position:relative; height:480px;
		&.nth-1{
			&:before,&:after{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; background-color:#999999; content:''; }
			&:before{width:3px; height:25px;}
			&:after{width:25px; height:3px;}
			}
		&.nth-2{
			&:before,&:after{position:absolute; left:-65px; width:25px; height:3px; margin:auto; background-color:#999999; content:'';}
			&:before{top:47.5%;}
			&:after{bottom:47.5%;}
			}
	}
	&__box{position:absolute; width:100%;
		&.nth-1{top:0;
			#{$this}__box-wrap{@include background('../images/chest/cosmetic_img1.jpg','center center / cover');}
			}
		&.nth-2{bottom:0;
			#{$this}__box-wrap{@include background('../images/chest/cosmetic_img2.jpg','center center / cover');}
			}
		&.nth-3{position:static; height:100%;
			#{$this}__box-wrap{height:100%; padding-bottom:0; @include background('../images/chest/cosmetic_img3.jpg','center center / cover');}
			}
	}
	&__box-wrap{position:relative; width:100%; height:0; padding-bottom:50%;}
	&__txt{position:absolute; bottom:0; width:100%; margin:0;  padding:7px 0; background-color:#fff; border:1px solid #6b1ac1; font-size:17px; color:#333; box-sizing:border-box;}

	@media only screen and (max-width:$tablet-size){
		&__list{margin-left:-80px;}
		&__item{padding-left:80px;}
		&__wrap{position:relative; height:354px;}
		&__txt{padding:5px 0;}
	}
	@media only screen and (max-width:$mobile-size){
        padding:0px;

		&__bg{padding:30px 42px;}
		&__list{margin-left:0;}
		&__item{float:none; width:100%; padding-left:0px;
			& + &{margin-top:32px;}
		}
		&__wrap{height:auto;
			&.nth-1{
				&:before{width:2px; height:14px;}
				&:after{width:14px; height:2px;}
			}
			&.nth-2{
				&:before,&:after{position:absolute; left:0; right:0; margin:0 auto; width:12px; height:2px;}
				&:before{top:-21px;}
				&:after{top:-13px;}
			}
		}
		&__txt{padding:2px 0; font-size:1.4rem;}
		&__box{position:static;
			& + &{margin-top:32px;}
			&.nth-1{top:auto;}
			&.nth-2{bottom:auto;}
			&.nth-3{height:auto;
				#{$this}__box-wrap{height:0; padding-bottom:114.2%;}
			}
		}
	}
}
.reduction-box3{
	.content-section__number{left:0; right:auto; width:20px; margin:0px auto;}
	@media only screen and (max-width:$minpc-size3){padding-left:64px; padding-right:64px;
		.content-section__tit{
			strong{display:block;}
		}
	}
	@media only screen and (max-width:$mobile-size){
        padding:0;
	}
}
.item-box3{
	$this:&;
	&.type-reduction{margin-top:70px;
		#{$this}__item{
			&.nth-1{
				#{$this}__box:before{ @include background('../images/chest/chest_reduction_img04.jpg','center center / cover');}
			}
			&.nth-2{
				#{$this}__box:before{ @include background('../images/chest/chest_reduction_img05.jpg','center center / cover');}
			}
			&.nth-3{
				#{$this}__box:before{ @include background('../images/chest/chest_reduction_img06.jpg','center center / cover');}
			}
			&.nth-4{
				#{$this}__box:before{ @include background('../images/chest/chest_reduction_img07.jpg','center center / cover');}
			}
		}
		@media only screen and (max-width:$mobile-size){
            margin-top:40px;
		}
	}
}

.reduction-box4{margin-top: 240px; padding:145px 108px;  @include background('../images/chest/chest_reduction_bg_1.jpg','no-repeat center top #313131');
	$this:&;
	&__tit{margin:0; font-size:45px; font-weight:300; color:#fff; line-height:1.3; word-break:keep-all;
		& strong{font-weight:400;}
	}
	&__txt{margin-top:50px; line-height:2; color:#d1d1d1; padding: 0 14%;}
	&__list{margin-top:20px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%;
		& img{width:100%;}
	}
	&__subject{height:50px; line-height:50px; color:#fff; font-size:20px; font-weight:500;
		&.nth-1{background-color:#7b7b7b;}
		&.nth-2{background-color:#b88be8;}
		&.nth-3{background-color:#6b1ac1;}
	}
	&.type-another{margin-top:240px; @include background('../images/chest/chest_reduction_bg_2.jpg','no-repeat center center / cover');}

	@media only screen and (max-width:$tablet-size){margin:0 -65px; margin-top: 100px; padding:145px 65px; line-height:1.375;
		&__txt{padding:0;}
		&__subject{font-size:17px;}
		&.type-another{margin-top:100px;
			#{$this}__tit{margin:0 -18px;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; margin-top: 50px; padding:50px 21px;
		&__tit{font-size:2.8rem;}
		&__txt{margin-top:35px; font-size:1.4rem;}
		&__list{margin-top:10px;}
		&__subject{height:auto; line-height: 1.5; font-size:1.1rem; padding: 2px 0;}
		&__after{position: relative; top: 1px; }
		&.type-another{margin-top:50px;
			#{$this}__tit{margin:0px;}
		}
	}
}
.bio{margin-top:60px; padding:70px; background-color:#fff; display: table;
	&:after{display:block; clear:both; content:'';}
	&__img{width:100%; height:0; min-height:100%; padding-bottom:63.15%;
		&.nth-1{ @include background('../images/chest/bio_img1.jpg','no-repeat center center / cover');}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:0 50px; vertical-align:middle; text-align: left; word-break:keep-all;}
	&__box{display: table-cell ;min-height:240px;vertical-align: middle;
		&.type-img{overflow:hidden; width:41.12%; text-indent: -9999px; }
		&.type-txt{width:58.88%;}
	}
	&__tit{margin: 0;font-size:20px; font-weight:500; color:#6b1ac1;}
	&__txt{margin-top:36px;color:#666; }

	@media only screen and (max-width:$tablet-size){
		&__wrap{display:block; width:100%; height:auto; padding:50px 0 0 0;}
		&__box{float:none; min-height:auto; display: block;
			&.type-img{width:100%;}
			&.type-txt{width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-top:30px; padding:34px 20px;
		&__wrap{padding-top:20px;}
		&__tit{font-size:1.5rem;}
		&__txt{margin-top:15px; font-size:1.4rem;}
	}
}
.reduction-box5{
	.content-section__tit{ margin-left: -30px;}
	&__box{padding:0px 98px 8.59% 47.96%; text-align:left; @include background('../images/chest/chest_reduction_img10.jpg','no-repeat left bottom ');}
	@media only screen and (max-width:$minpc-size3){
		.content-section__tit{word-break: keep-all;}
		&__box{padding-left:57%; padding-right:5%;
			br{display:none !important;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		.content-section__tit{word-break:keep-all; margin-left: -50px;}
		&__wrap.type-unique{@include background('../images/chest/chest_reduction_img10.jpg','no-repeat left bottom / 45%'); padding-left:48%; }
		&__box{padding:0; background:none;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section__tit{padding-bottom:20px; margin-left: -25px; font-size:2.6rem;}
	}
}
.reduction-box6{padding:145px 108px; background-color:#423452;
	&__tit{margin: 0;font-size:45px; font-weight:300; color:#fff; line-height:1.3;
		& strong{font-weight:400; color:#f2ec97;}
	}
	&__txt{margin-top:50px; line-height:2; color:#ad9fbe;  padding: 0 7%;}
	&__list{margin:60px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:16px; box-sizing:border-box; list-style:none; font-size:0;
		& img{width:100%;}
	}
	&__subject{width:100%; height:80px; line-height:80px; margin:0; font-size:20px; font-weight:400; text-align:center;
		&.nth-1{color:#333333; background-color:#d8d8d8;}
		&.nth-2{color:#6b1ac1; background-color:#ebd9ff;}
	}
	@media only screen and (max-width:$tablet-size){margin:100px -65px 0; padding:100px 65px;
		&__tit{font-size:40px; word-break: keep-all;}
		&__txt{word-break: keep-all; padding: 0;}
		&__subject{height:40px; line-height:40px; font-size:16px; font-weight:400;}
	}
	@media only screen and (max-width:$mobile-size){margin:50px -20px 0; padding:50px 15px;
		&__list{margin-top:30px; margin-left:-5px; padding: 0 6px;}
		&__item{padding-left:5px;}
		&__tit{font-size:2.1rem;}
		&__txt{margin-top:25px; font-size:1.1rem;}
		&__subject{height:25px; line-height:25px; font-size:1rem;}
	}
}
.after-style{
	$this:&;
	&.type-reduction{margin-top:20px;}
}
