.new-visual{
	$this:&;

	&.type-papilla{
		&:before{
			@include background('../images/chest/papilla/papilla_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $chest1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-papilla{
			&:before{
				@include background('../images/chest/papilla/papilla_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-papilla{
			&:before{
				@include background('../images/chest/papilla/papilla_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this:&;

	&.type-papilla{background: #f9f3ff;}
    &.type-papilla2{background: #25123a;
        #{$this}__tit,
        #{$this}__txt2{color: #fff;}
        #{$this}__txt{color: #aaa;}
    }
    &.type-papilla3{background: #eee;}
    &.type-papilla4{background: #e2dde8;}
}

.new-description{
	$this:&;

	&.type-papilla{
		padding: 0;
	}
}

.process{
    $this:&;

    &.type-papilla{
        #{$this}__result{background-color: $chest2;}
    }
    &.type-papilla2{
        #{$this}__result{background-color: $chest1;}
    }
}
