<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-dday">
		<div class="new-visual type-dday">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">나에게 맞는 보다 효율적인 다이어트</p>
						<h3 class="new-visual__tit">D-Day <span class="n-color-body2">다이어트</span></h3>
						<p class="new-visual__txt">비만체형 개선을 위한 보다 효과적이고 전문적인 플랜</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#체형개선</span></li>
							<li class="new-visual__item"><span>#비수술적치료</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-dday">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit weight-regular tit-new1">
                            개인이 일반적인 다이어트로<br class="hidden-tm">
                            체형을 개선하기란 어렵습니다
                        </h4>
					 	<p class="new-style1__txt txt-new1">
					 		날씬하고 건강한 몸매에 대한 관심이 증가하면서 현대 사회는 살과의 전쟁이 일상이 되었습니다.<br class="hidden-tm">
                            하지만 특별한 관리를 받는 연예인이나 운동을 전문적으로 하는 일부를 제외한 일반인들의 경우,<br class="hidden-tm">
                            개인적인 노력만으로 이상적인 체형을 만들기에는 한계가 있는 것이 사실입니다.<br class="hidden-tm">
                            난무하는 정보들 중 본인에게 맞는 전문적인 정보를 구분하기도 어려울뿐더러<br class="hidden-tm">
                            자칫 잘못된 다이어트 방법으로 요요현상이나 부상 등 부작용을 겪게 될 수도 있기 때문입니다.<br class="hidden-tm">
                            또, 이상적인 몸매를 만들기 위해서는 식이요법이나 운동을 위한 오랜 시간과 노력이 필요한데,<br class="hidden-tm">
                            바쁜 현대인들에게 그럴 상황적 조건이나 시간적 여유는 없죠.<br class="hidden-tm">
                            특히 일반적인 다이어트 방법으로는 원하는 부위만을 선택적으로 빼는 것이 거의 불가능하기 때문에<br class="hidden-tm">
                            다이어트가 끝나도 그 결과가 그리 만족스럽지 못한 경우도 있습니다.
					 	</p>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/body/dday/dday_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
				<div class="new-style1 type-dday2 type-top0 type-bottom">
					<div class="inner-box">
                        <h5 class="new-content-tit type-txt tit-new2">일반적인 개인관리로는 어려운 체형개선</h5>

                        <ul class="img-style1__list type-mt type-half">
                            <li class="img-style1__item">
                                <img src="../../images/body/dday/dday_img_2.jpg" class="img-w100" loading="lazy" alt=" 비전문적 정보로 인한 비효율적 다이어트">
                                <p class="img-style1__subject txt-new1"> 비전문적 정보로 인한 비효율적 다이어트</p>
                            </li>
                            <li class="img-style1__item">
                                <img src="../../images/body/dday/dday_img_3.jpg" class="img-w100" loading="lazy" alt="자신에게 맞지 않는 무리한 다이어트로 인한 요요현상이나 부상 등 부작용 가능성  ">
                                <p class="img-style1__subject txt-new1">
                                    자신에게 맞지 않는 무리한 다이어트로 인한<br class="hidden-tm">
                                    요요현상이나 부상 등 부작용 가능성
                                </p>
                            </li>
                            <li class="img-style1__item">
                                <img src="../../images/body/dday/dday_img_4.jpg" class="img-w100" loading="lazy" alt="운동이나 식이요법을 장기간 유지할 수 있는 시간적·상황적 여유 부족">
                                <p class="img-style1__subject txt-new1">
                                    운동이나 식이요법을 장기간 유지할 수 있는<br class="hidden-tm">
                                    시간적·상황적 여유 부족
                                </p>
                            </li>
                            <li class="img-style1__item">
                                <img src="../../images/body/dday/dday_img_5.jpg" class="img-w100" loading="lazy" alt="일반적인 방법으로는 원하는 부위만의 지방을 뺄 수가 없음">
                                <p class="img-style1__subject txt-new1">일반적인 방법으로는 원하는 부위만의 지방을 뺄 수가 없음</p>
                            </li>
                        </ul>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        개인이 하기에는 한계가 있는<br class="hidden-tm">
                        체형관리, <span class="n-color-body2">바노바기가 도와드립니다</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        바노바기는 이러한 체형 개선의 한계를 이해하여 보다 효과적이고 전문적인 체형관리 프로그램인 D-Day 다이어트를 제안합니다.<br class="hidden-tm">
                        바노바기 D-Day 다이어트란 목표 기간 동안 체형을 개선할 수 있도록 짜여진 종합 체형관리 프로그램입니다.
                    </p>
                    <p class="new-style1__txt2 txt-new2">
                        바노바기의 <span class="n-color-body2">오랜 경험과 노하우, 지방 체형 빅데이터 분석 등이 더해져 보다 전문적이고 효과적</span>이죠.<br class="hidden-tm">
                        지방을 분해하는 주사시술이나 다이어트 후 피부 탄력을 증가시키는<br class="hidden-tm">
                        레이저 시술 등 비수술적인 방법들로 구성되어 있으며, 개개인의 비만 원인 분석을 통한 추가적인 시술, <br class="hidden-tm">
                        식습관 개선이나 운동 방법 제안과 같은 다이어트 코칭, 비만 약 처방 등도 포함됩니다.
                    </p>
                    <div class="inner-box type-bottom type-dday">
                        <h5 class="new-content-tit tit-new2">
                            바노바기 <span class="weight-regular">D-Day 다이어트</span>
                        </h5>

                        <div class="inner-circle2 type-dday">
							<p class="inner-circle2__txt txt-new2">
	                            바노바기 비만 진료 전담팀의 전문적인 체형관리 프로그램 <br class="hidden-tm">
	                            목표 기간 동안 체형을 개선할 수 있는 조합 구성
	                        </p>

                            <ul class="inner-circle2__list">
                                <li class="inner-circle2__item nth-1">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												바디핏주사
											</div>
										</div>
									</div>
                                </li>
								<li class="inner-circle2__item nth-2">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												체외 충격파
											</div>
										</div>
									</div>
                                </li>
								<li class="inner-circle2__item nth-3">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												더블 HPL
											</div>
										</div>
									</div>
                                </li>
								<li class="inner-circle2__item nth-4">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												고주파 테너
											</div>
										</div>
									</div>
                                </li>
								<li class="inner-circle2__item nth-5">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												엑스 V
											</div>
										</div>
									</div>
                                </li>
								<li class="inner-circle2__item nth-6">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												비만 약 처방
											</div>
										</div>
									</div>
                                </li>
								<li class="inner-circle2__item nth-7">
                                    <div class="inner-circle2__outer">
										<div class="inner-circle2__inner">
											<div class="inner-circle2__txt txt-new1 color-white">
												키닥터<br>
												다이어트 코칭
											</div>
										</div>
									</div>
                                </li>
                            </ul>

							<div class="inner-circle2__img">
								<img src="../../images/body/dday/dday_img_13.png" loading="lazy" alt="" class="img-normal"/>
							</div>
                        </div>
                    </div>
                </div>
            </div>

			<div class="new-section type-cling">
				<div class="new-style1 type-dday3">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit weight-regular tit-new1">
                            비교적 적은 부담에 비해 그 <span class="n-color-body2">효과는 뛰어납니다</span>
                        </h4>
					 	<p class="new-style1__txt txt-new1">
					 		바노바기 D-Day 다이어트는 다양한 치료 방법들이 조합되어 진행됩니다. <br class="hidden-tm">
							때문에 개개인의 목표와 체형에 맞는 보다 효과적인 맞춤형 체형 개선이 가능하죠.
					 	</p>
						<p class="new-style1__txt2 txt-new2">
					 		일반적인 다이어트로는 빼기 어려운 <span class="n-color-body2">셀룰라이트나 축적지방에도 효과가 있으며</span>,<br class="hidden-tm">
							다이어트로 인해 처질 수 있는 피부의 탄력도 잡아주어 더욱 날씬하고 탄력적인 몸매로 개선됩니다.
					 	</p>
						<p class="new-style1__txt txt-new1">
					 		또, 비수술적 치료로 구성되어 수술적 치료에 비해 부담이 적고 정해진 기간에 원하는 체형을 만들어<br class="hidden-tm">
							그를 오래 유지할 수 있도록 하기 때문에 비교적 합리적인 프로그램이라고 할 수 있습니다.
					 	</p>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/body/dday/dday_img_14.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
				<div class="new-style1 type-dday4 type-top0 type-bottom">
					<div class="inner-box">
						<div class="new-description type-pd0">
						    <h5 class="new-content-tit type-description tit-new2">바노바기 D-Day 다이어트 <strong class="weight-regular">특징</strong></h5>
						    <ul class="new-description__list">
						        <li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                보다 체계적이고 전문적인 치료 프로그램
						            </p>
						        </li>
						        <li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                맞춤형 구성으로 보다 효과적으로 날씬하고 탄력적인 몸매로 개선
						            </p>
						        </li>
						        <li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                비수술적 치료로 비교적 부담이 적고 보다 간편함
						            </p>
						        </li>
								<li class="new-description__item">
						            <p class="new-description__txt txt-new1">
						                <span class="new-description__plus">+</span>
						                식습관과 운동량 등 라이프 스타일에 대한 코칭이 더해져 더욱 오래 유지되는 효과
						            </p>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1 type-dday5">
					<div class="new-style1__wrap">
					 	<h4 class="new-style1__tit weight-regular tit-new1">
                            개개인의 <span class="n-color-body2">목표와 체형에 맞는</span><br class="hidden-tm">
							프로그램을 선택할 수 있습니다
                        </h4>
					</div>
					 <div class="new-style1__img">
					 	<img src="../../images/body/dday/dday_img_15.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
				<div class="new-style1 type-top0">
					<div class="inner-box type-w">
						<div class="program-style">
							<ul class="program-style__list">
								<li class="program-style__item nth-1">
									<div class="program-style__box js-height">
										<div class="program-style__area">
											<h5 class="program-style__subject txt-new2 color-white">상체 집중핏 30일 패키지</h5>
											<p class="program-style__txt txt-new1 color-white">
												바디핏 주사 150cc+체외충격파 2회<br>
												+더블 HPL 1회+고주파테너 2회<br>
												+키닥터 다이어트 코칭+비만약 처방
											</p>
										</div>
									</div>
								</li>
								<li class="program-style__item nth-2">
									<div class="program-style__box js-height">
										<div class="program-style__area">
											<h5 class="program-style__subject txt-new2 color-white">바디핏 10일 패키지</h5>
											<p class="program-style__txt txt-new1 color-white">
												바디핏 주사 80cc+체외충격파 2회<br>
												키닥터 다이어트 코칭+비만약 처방
											</p>
										</div>
									</div>
								</li>
								<li class="program-style__item nth-3">
									<div class="program-style__box js-height">
										<div class="program-style__area">
											<h5 class="program-style__subject txt-new2 color-white">하체 집중핏 30일 패키지</h5>
											<p class="program-style__txt txt-new1 color-white">
												바디핏 주사 200cc+체외충격파 2회<br>
												+더블 HPL 2회+고주파테너 2회<br>
												+엑스V2회+키닥터 다이어트 코칭+비만약 처방
											</p>
										</div>
									</div>
								</li>
								<li class="program-style__item nth-4">
									<div class="program-style__box js-height">
										<div class="program-style__area">
											<h5 class="program-style__subject txt-new2 color-white">전신 토탈핏 30일 패키지</h5>
											<p class="program-style__txt txt-new1 color-white">
												바디핏 주사 200cc+체외충격파 4회<br>
												+더블 HPL 2회+고주파테너 4회<br>
												+엑스V4회+키닥터 다이어트 코칭+비만약 처방
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="bg-style1 type-body type-dday">
					<div class="bg-style1__wrap">
						<div class="bg-style1__area">
							<div class="bg-style1__outer">
								<div class="bg-style1__box">
									<h4 class="bg-style1__txt tit-new4">
										비수술적 치료들로 구성되어 비교적 <span class="n-color-body3">회복이 빠르고 간편합니다</span>
									</h4>
									<p class="bg-style1__tit txt-new2">
										주사시술로, 비교적 회복이 빠르고 통증이 거의 없습니다
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">시술정보</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">시술시간</h5>
										<p class="operation-v2__txt txt-new1">
											약 15분 ~ 30분
											<span class="inline-block">(프로그램 및 부위에 따라 다름)</span>
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">필요 없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">
											필요 없음
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">시술 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									체질에 따라 시술 시 약간의 통감이 있을 수 있지만, 심하진 않습니다.<br>
									시술 후 시술 부위에 약간의 멍이 생기는 경우도 있습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
