<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-mint">
		<div class="new-visual type-mint">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">비교적 간편한 방법의 비수술 지방 흡입</p>
						<h3 class="new-visual__tit"><span class="n-color-body2">민트</span>에스</h3>
						<p class="new-visual__txt">보다 부드럽게 재구성하는 바디 라인</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#비수술적방법</span></li>
							<li class="new-visual__item"><span>#효과적인바디라인</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-mint">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기 민트에스는<br>
						<span class="n-color-body2">비수술적 방법의 지방 흡입</span>입니다
					</h4>
					<p class="new-style1__txt txt-new1">
						바노바기 민트에스란 지방 흡입에 대한 오랜 경험과 노하우를 축적한 바노바기가 그 원리를 주사 시술에 적용한 방법입니다.<br class="hidden-tm">
						원하는 부위에 지방을 용해시키기 위한 약물을 투입한 후 레이저 장비를 통해 지방을 용해시키고,<br class="hidden-tm">
						주사를 통해 용해된 지방을 보다 부드럽게 추출하는 것이죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						이 방법은 주사 시술의 형태로 진행되기 때문에 수술적 방법에 비해 부담이 적으면서도<br class="hidden-tm">
						마치 <span class="n-color-body2">지방 흡입을 한 것과 같은 비만 치료 효과를 기대</span>할 수 있습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/body/mint/mint_img_1.png" class="img-normal" loading="lazy" alt=""/>
					</div>
				</div>
				<div class="new-style1 type-mint2 type-top0 type-bottom">
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">
							바노바기 민트에스
							<span class="inline-block">
								(<span class="n-color-body2">mi</span>cro a<span class="n-color-body2">n</span>d <span class="n-color-body2">t</span>ailored)
							</span>
						</h5>
						<div class="step-style4">
							<h6 class="step-style4__tit txt-new2">주사 시술 + 지방 흡입</h6>
							<ul class="step-style4__list">
								<li class="step-style4__item txt-new1 js-height">
									STEP 01<br>
									지방용해<br class="hidden-tm">
									약물 투입
								</li>
								<li class="step-style4__item txt-new1 js-height">
									STEP 02<br>
									레이저를 통한<br class="hidden-tm">
									지방 용해
								</li>
								<li class="step-style4__item txt-new1 js-height">
									STEP 03<br>
									주사를 이용해<br class="hidden-tm">
									용해된 지방을 추출
								</li>
								<li class="step-style4__item txt-new1 js-height">
									STEP 04<br>
									추출된<br class="hidden-tm">
									지방 직접 확인
								</li>
								<li class="step-style4__item txt-new1 js-height">
									STEP 05<br>
									테이핑 후<br class="hidden-tm">
									일상 생활
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-mint3 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						<span class="n-color-body2">시술에 대한 부담을 줄여</span><br>
						더욱 만족스러운 결과를 이끌어냅니다
					</h4>
					<p class="new-style1__txt txt-new1">
						주사 시술 형태의 지방 흡입이 가지는 가장 큰 장점은 시술에 대한 부담이 거의 없다는 것입니다.<br class="hidden-tm">
						무리한 압력을 가하지 않는 보다 부드러운 지방 흡입으로 멍이나 부기, 통증이 거의 발생하지 않고<br class="hidden-tm">
						시술에 걸리는 시간 또한 약 10분 정도로 비교적 짧습니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						또, 주삿바늘이 들어가는 것 외에는 별도의 절개가 필요하지 않기 때문에 흉터 또한 거의 남지 않죠.<br class="hidden-tm">
						따라서 보다 <span class="n-color-body2">빠른 회복이 가능하고 동시에 여러 부위를 비교적 안정적으로 개선</span>할 수 있습니다.
					</p>
					<div class="new-style1__img">
						<img src="../../images/body/mint/mint_img_2.png" class="img-normal" loading="lazy" alt=""/>
					</div>
					<div class="inner-box">
						<h5 class="new-content-tit tit-new2">보다 간편한 <span class="inline-block">바노바기 민트에스</span></h5>
						<div class="inner-circle type-cling type-mbig type-body type-five type-bar">
						    <ul class="inner-circle__list">
						        <li class="inner-circle__item txt-new1">
						            <div class="vertical-box">
						                보다 줄어든<br class="hidden-m">
										멍이나 부기,<br class="hidden-m">
										통증에 대한<br class="hidden-m">
										부담
						            </div>
						        </li>
						        <li class="inner-circle__item txt-new1">
						            <div class="vertical-box">
						                비교적<br class="hidden-m">
										빠른 회복
						            </div>
						        </li>
						        <li class="inner-circle__item txt-new1">
						            <div class="vertical-box">
						              	약 10분 정도의<br class="hidden-m">
										비교적 짧은<br class="hidden-m">
										시술 시간
						            </div>
						        </li>
								<li class="inner-circle__item txt-new1">
						            <div class="vertical-box">
						              	동시에<br class="hidden-m">
										여러 부위<br class="hidden-m">
										시술 가능
						            </div>
						        </li>
								<li class="inner-circle__item txt-new1">
						            <div class="vertical-box">
						              	흉터 걱정<br class="hidden-m">
										거의 없음
						            </div>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-style1 type-mint4 type-bottom">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						지방, 뺄 부위는 빼고<br>
						더할 부위는 더해야 합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						<span class="color-white">‘뱃살이 다 가슴으로 가면 얼마나 좋을까?’ ‘옆구리 살을 빼서 엉덩이에 붙일 수 있다면 좋을 텐데…’</span><br class="hidden-tm">
						일상에서 대화를 하다 보면 흔히 이런 우스개 소리들을 듣게 되는 경우가 있습니다.<br class="hidden-tm">
						단순히 몸의 지방이 모두 빠지는 것을 바라는 것이 아니고, 필요한 부위에는 오히려 지방이 유지되거나 더해지길 바라는 것이죠.
					</p>
					<p class="new-style1__txt2 txt-new2">
						바노바기 민트에스는 이런 여성분들의 바람을 어느 정도 충족시켜줄 수 있는 시술이기도 합니다.<br class="hidden-tm">
						<span class="n-color-body2">원하는 부위의 지방을 선택적으로 추출</span>할 뿐만 아니라 <span class="n-color-body2">볼륨이 필요한 부위에는 지방을 주입</span>할 수도 있기 때문입니다.
					</p>
					<p class="new-style1__txt txt-new1">
						날씬한 몸매를 위한 <span class="color-white">‘지방 흡입’</span>과 볼륨감을 살리는 <span class="color-white">‘지방 이식’</span>이 동시에 이루어지는 것이죠.<br class="hidden-tm">
						따라서 마치 맞춤 재단을 하듯 환자분들이 추구하는 몸매를 위한 전반적인 바디 라인 교정 효과를 기대할 수 있습니다.
					</p>
					<div class="inner-box type-w type-mint">
						<div class="img-style3 type-wide type-body">
							<h5 class="new-content-tit tit-new2 color-white">
									지방 흡입과 이식을 동시에,
								<spna class="inline-block">보다 효과적인 <span class="inline-block">바디 라인의 재구성</span></spna>
							</h5>
							<ul class="img-style3__list">
								<li class="img-style3__item">
									<div class="img-style3__img">
										<div class="img-style3__circle type-left txt-new2">
											<div class="img-style3__inner">
												<span class="img-style3__symbol type-minus">슬림하게<br>
													빼고</span>
											</div>
										</div>
										<div class="img-style3__circle type-right txt-new2">
											<div class="img-style3__inner">
												<span class="img-style3__symbol type-plus">볼륨감 있게<br>
													더하고</span>
											</div>
										</div>
										<img src="../../images/body/mint/mint_img_3.jpg" loading="lazy" alt="수술부위" class="img-w100">
									</div>
									<div class="img-style3__caption txt-new2">
										보다 효과적인 바디 라인의 재구성
									</div>
								</li>
								</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-section__wrap">
					<div class="new-style2">
						<h4 class="new-style2__tit tit-new1 weight-regular">
							거의 모든 부위에 대한 <span class="n-color-body2">개선이 가능합니다</span>
						</h4>
						<p class="new-style2__txt txt-new1">
							바노바기 민트에스는 원하는 부위에 원하는 만큼의 지방 흡입이 가능합니다.<br class="hidden-tm">
							일반적인 지방 흡입 장비보다 정교한 주삿바늘을 사용하여 비교적 미세한 부위의 지방 흡입까지 거의 모든 부위에 대한 개선이 가능하죠.<br class="hidden-tm">
							또, 동시에 여러 부위를 시술할 수 있기 때문에 보다 대칭적이고 조화로운 몸매 개선이 가능합니다.
						</p>
						<div class="case-style1 type-body">
							<h5 class="heading-bar type-body">원하는 부위, 원하는 만큼! <span class="inline-block">민트에스 시술 부위</span></h5>
							<ul class="case-style1__list">
								<li class="case-style1__item txt-new2">
									<div class="case-style1__box">
										<div class="case-style1__outer">
											<div class="case-style1__inner">
												팔라인
											</div>
										</div>
									</div>
									<img src="../../images/body/mint/mint_img_4.jpg" class="img-w100 hidden-tm" loading="lazy" alt="팔 바깥 군살, 겨드랑이 밑, 팔 안쪽, 브래지어 라인"/>
									<img src="../../images/body/mint/mint_img_4_t.jpg" class="img-w100 hidden-p" loading="lazy" alt="팔 바깥 군살, 겨드랑이 밑, 팔 안쪽, 브래지어 라인"/>
								</li>
								<li class="case-style1__item txt-new2">
									<div class="case-style1__box">
										<div class="case-style1__outer">
											<div class="case-style1__inner">
												복부 라인
											</div>
										</div>
									</div>
									<img src="../../images/body/mint/mint_img_5.jpg" class="img-w100 hidden-tm" loading="lazy" alt="윗배, 옆구리, 아랫배, 러브핸들"/>
									<img src="../../images/body/mint/mint_img_5_t.jpg" class="img-w100 hidden-p" loading="lazy" alt="윗배, 옆구리, 아랫배, 러브핸들"/>

								</li>
								<li class="case-style1__item txt-new2">
									<div class="case-style1__box">
										<div class="case-style1__outer">
											<div class="case-style1__inner">
												하체 라인
											</div>
										</div>
									</div>
									<img src="../../images/body/mint/mint_img_6.jpg" class="img-w100 hidden-tm" loading="lazy" alt="승마살, 엉덩이군살, 허벅지안쪽, 무릎 안쪽, 허벅지 앞쪽"/>
									<img src="../../images/body/mint/mint_img_6_t.jpg" class="img-w100 hidden-p" loading="lazy" alt="승마살, 엉덩이군살, 허벅지안쪽, 무릎 안쪽, 허벅지 앞쪽"/>

								</li>
							</ul>
							<p class="case-style1__noti">*시술 후 개인의 피부 특성에 따라 통증, 멍, 부기가 일시적으로 발생할 수 있습니다.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="bg-style1 type-body type-mint">
				    <div class="bg-style1__wrap">
				        <div class="bg-style1__area">
				            <div class="bg-style1__outer">
				                <div class="bg-style1__box">
									<h4 class="bg-style1__txt tit-new4">
				                        바노바기 민트에스는 비교적 <span class="n-color-body3">회복이 빠릅니다</span>
				                    </h4>
				                    <p class="bg-style1__tit txt-new2">
				                        피부 절제가 필요하지 않기 때문에 통증, 멍, 부기, 흉터가 거의 생기지 않으며,<br class="hidden-tm">
										지방을 보다 부드럽게 흡입하여 조직 손상 등의 부작용 또한 예방됩니다.<br class="hidden-tm">
										또, 기존 대용량 지방 흡입 후 착용해야 했던 압박복 대신 테이핑이 사용되어 보다 간편하게 일상 생활로 복귀가 가능합니다.
				                    </p>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">시술정보</h4>
							<p class="operation-v2__txt2 txt-new1">
								피부 절제가 필요하지 않기 때문에 통증, 멍, 부기, 흉터가 거의 생기지 않으며,
								지방을 보다 부드럽게 흡입하여 조직 손상 등의 부작용 또한 예방됩니다.
								또, 기존 대용량 지방 흡입 후 착용해야 했던 압박복 대신 테이핑이 사용되어 보다 간편하게 일상 생활로 복귀가 가능합니다.
							</p>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">시술시간</h5>
										<p class="operation-v2__txt txt-new1">약 10분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">필요없음</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">비교적 빠른 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									시술 후 지방을 흡입한 부위에 약간의 열감이 느껴질 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
									약 1주 정도는 강한 자극을 피하는 것이 좋습니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
