<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-site">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">원하는 부위의 지방을 선택적으로 공략</p>
				<h3 class="content-visual__tit"># 부위별 지방 흡입</h3>
				<p class="content-visual__txt2">내 몸 어느 곳도 자신 있게</p>
			</div>
		</div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
	      	<div class="content-section type-first">
	        	<div class="site-box1">
	          		<h4 class="site-box1__txt1">
	            		바노바기는 신체 각 부위에 대한 전문적인<br class="hidden-pm"> 이해와<br class="hidden-tm">
	            		오랜 지방 흡입 노하우로,<br class="hidden-pm"> <strong class="color-body2">신체 콤플렉스를 극복</strong>하고 <strong class="color-body2">바디 밸런스를<br class="hidden-tm">
	            		맞추는</strong><br class="hidden-pm"> 부위별 지방 흡입을 진행합니다.
	          		</h4>
	          		<p class="site-box1__txt2">
	           	 		몸 전체의 비만에 대한 해결을 위해서는 전신 지방 흡입이 좋은 방법이 됩니다.<br class="hidden-tm">
	            		하지만 몸 전체 지방에 의한 고민 보다 신체 특정 부위의 지방으로 인해 스트레스를 받는 경우라면,<br class="hidden-tm">
	            		부위별 지방 흡입을 통해 균형 잡힌 신체 비율을 추구하는 것이 효과적입니다.
	          		</p>
	        	</div>
	        	<div class="site-circle">
	          		<div class="site-wrap">
	            		<div class="site-circle__img">
	              			<div class="site-circle__box type-left">
	                			<div class="site-circle__wrap">
	                  				<p class="site-circle__tit">
	                    				BODY
	                    				<span class="site-circle__point">RATE</span>
	                  				</p>
	                			</div>
	              			</div>
	              			<div class="site-circle__box type-right">
	                			<div class="site-circle__wrap">
	                  				<p class="site-circle__tit">
	                    				BODY
	                    				<span class="site-circle__point">BALANCE</span>
	                  				</p>
	                			</div>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	      	</div><!-- //content-section -->

	      	<!-- 탭바  -->
	      	<div class="content-tab type-margin">
	        	<div class="content-tab__inner">
	          		<ul class="content-tab__list">
			            <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-abdomen">복부 / 러브핸들</a></li>
			            <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-thigh">허벅지</a></li>
			            <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-arms">팔뚝</a></li>
	          		</ul>
	        	</div>
	      	</div>

	      	<!-- 탭바 컨텐츠 -->
	      	<div class="content-tab__page page-abdomen is-active">
	        	<div class="content-tab__box">
	          		<div class="site-box2">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			복부 지방 치료,<br class="hidden-tm">
	              			<strong class="color-body2">다이어트의<br class="hidden-tm"> 원동력</strong>이 됩니다
	            		</h4>
			            <div class="site-box2__img">
			              	복부지방치료
			            </div>
			            <p class="content-section__txt1">
			              	다이어트를 꿈꾸는 사람들에게 복부 비만은 가장 큰 스트레스일 것입니다.
			              	볼록 튀어나온 배는 둔한 느낌을 주며 운동 능력의 저하를 동반하죠.
			              	무엇보다 가장 큰 문제는 비만이 성인병, 심혈관 질환 등 여러 건강상의
			              	문제를 유발한다는 것입니다.
			            </p>
			            <p class="content-section__txt2">
			              	때문에 복부의 지방은 미용적인 목적으로나 건강적인 목적으로나
			              	반드시 개선하기를 권장합니다.
			            </p>
	            		<div class="quotation2 type-list">
	              			<ul class="quotation2__list">
	                			<li class="quotation2__item type-tit">
	                  				초음파 지방 흡입술 + 진동식 파워 지방 흡입
	                			</li>
				                <li class="quotation2__item">
				                  	약 3~5kg 정도의 감량 효과, 약 5~10cm 정도의 둘레 감소 (사람에 따라 다를 수 있습니다.)
				                </li>
	                			<li class="quotation2__item">
	                  				약 3개월 정도 몸매 보정용 특수 압박복 착용
	                			</li>
	              			</ul>
	            		</div>
	          		</div>

	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
				                <div class="list-box__vertical">
				                  	<h5 class="list-box__tit tit-v3">
				                    	복부성형<br class="hidden-m">
				                    	<strong>POINT</strong>
				                  	</h5>
				                </div>
	              			</div>
	            		</div>
			            <ul class="list-box__list">
			              	<li class="list-box__item txt-v3">배꼽 바로 안쪽이나 음모 쪽 수술로 흉터를 줄임</li>
			              	<li class="list-box__item txt-v3">복부의 근막을 계산하여 정밀한 라인 디자인</li>
			              	<li class="list-box__item txt-v3">지방 세포 자체를 제거하여 재발을 방지</li>
			            </ul>
	          		</div>
	         	 	<div class="site-box4">
			            <h4 class="content-section__tit type-center">
			              	<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
			              	같은 복부 비만이라도<br>
			              	<span class="content-highlight2 type-body">개인의 신체 특징</span>에 따라<br class="hidden-pm"> 그 상태는<br class="hidden-tm">
			              	다 다를 수 밖에 없습니다.
			            </h4>
	            		<p class="content-section__txt1">
	              			때문에 같은 양의 지방을 흡입하더라도 어느 부분에 중점을 두고 수술하느냐에 따라<br class="hidden-m">
	              			그 만족도와 효과는 달라지죠. 바노바기는 상담 과정에서부터 면밀한 진단으로 지방의 위치를 파악하고,<br class="hidden-tm">
	              			충분한 소통을 통해 환자분들이 원하는 느낌의 라인을 디자인합니다.
	            		</p>
	            		<div class="site-box4__img">복부상담 - mobile</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit">지방 흡입 <strong>중점 부위</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-1">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">아랫배</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		대표적인 복부 비만의 형태입니다. 많은 양의 지방을 흡입하는 것을 목표로 하되, 살 처짐을 면밀히 계산하는 수술이 필요합니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-2">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">옆구리</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		정면에서 보았을 때 날씬한 실루엣을 망치는 부위로, 여성의 경우에 여성스러움을 강조할 수 있는 곡선을 살린 디자인이 중요합니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-3">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">허리</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		오랜 지방이 축적되는 부위로, 한번 지방이 형성되면 쉽게 빠지지 않는 특징이 있기 때문에 옆구리와 함께 전반적인 흡입이 필요합니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">복부 지방 흡입 수술 정보를 안내해 드립니다.</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 1시간~1시간 30분</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">전신마취/정맥마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일 귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">
													마사지, 부기, 멍 관리 2회 내외
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											전신 마취 혹은 부위에 따른 정맥 마취를 통해 시술로 인한 통증은 거의 없습니다.<br>
											시술 후 붓는 느낌과 함께 얼얼한 정도의 통증이 있을 수 있으며, 냉찜질을 통해 부기와 통증을 완화할 수 있습니다.<br>
											전반적인 멍과 통증은 수술 후 제공되는 관리 프로그램을 통해 차츰 완화됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	    	</div>

	    	<div class="content-tab__page page-thigh">
	        	<div class="content-tab__box">
	          		<div class="site-box2 type-thigh">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			저장성 지방 세포가<br class="hidden-m">
	              			자리 잡고 있는<br class="hidden-tm">
	              			<strong class="color-body2">지방의 창고</strong>
	            		</h4>
	            		<div class="site-box2__img"></div>
	            		<p class="content-section__txt1">
	              			단단하고 섬유질이 많은 저장성 지방 세포는 인간의 생존과 관련된
	              			열량을 저장하는 역할을 하는데요. 때문에 허벅지 지방은 단순한
	              			식이요법이나 운동 등 여러 다이어트에도 마지막까지 유지되는
	              			특징을 가집니다.
	            		</p>
			            <p class="content-section__txt2">
			              	하지만 그만큼 지방 흡입을 시행했을 때 빼낼 수 있는 지방의 양이
			              	많으므로, 더욱 눈에 띄는 효과를 볼 수 있습니다.
			            </p>
			            <div class="quotation2 type-list">
			              	<ul class="quotation2__list">
			                	<li class="quotation2__item type-tit">
			                  		초음파 지방 흡입술
			                	</li>
				                <li class="quotation2__item">
				                  	약 1,000~2,500cc 정도의 지방 흡입 (한 쪽 기준)
				                </li>
				                <li class="quotation2__item">
				                  	수술 후 약 2개월 정도 특수 압박복 착용
				                </li>
			              	</ul>
			            </div>
	          		</div>

	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
	                			<div class="list-box__vertical">
	                  				<h5 class="list-box__tit tit-v3">
	                    				허벅지 성형<br class="hidden-m">
	                    				<strong>POINT</strong>
	                  				</h5>
	                			</div>
	              			</div>
	            		</div>
			            <ul class="list-box__list">
			              	<li class="list-box__item txt-v3">매끄러운 표면을 위한 섬세한 수술</li>
			              	<li class="list-box__item txt-v3">다리 라인이 어색해지지 않도록, 입체적인 구조를 살리는 전문적 흡입</li>
			              	<li class="list-box__item txt-v3">지방 세포 자체를 제거하여 재발을 방지</li>
			            </ul>
	          		</div>

	          		<div class="site-box4">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			같은 허벅지 비만이라도<br>
	              			<span class="content-highlight2 type-body">개인의 신체 특징</span>에 따라<br class="hidden-pm"> 그 상태는<br class="hidden-tm">
	              			다 다를 수 밖에 없습니다.
	            		</h4>
			            <p class="content-section__txt1">
			              	때문에 같은 양의 지방을 흡입하더라도 어느 부분에 중점을 두고 수술하느냐에 따라<br class="hidden-m">
			              	그 만족도와 효과는 달라지죠. 바노바기는 상담 과정에서부터 면밀한 진단으로 지방의 위치를 파악하고,<br class="hidden-tm">
			              	충분한 소통을 통해 환자분들이 원하는 느낌의 라인을 디자인합니다.
			            </p>
	            		<div class="site-box4__img">복부상담 - mobile</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit">지방 흡입 <strong>중점 부위</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-4">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">엉덩이 밑</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		셀룰라이트의 형성이 가장 많이 나타나는 부위로, 굴곡 없이 매끄러운 라인을 유지하는 지방 흡입이 필요합니다. 개선되면 엉덩이가 올라가 보이는 효과를 줄 수 있습니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-5">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">허벅지 사이</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		시각적으로 허벅지 비만이 가장 크게 느껴질 수 있는 부위이기 때문에 집중적으로 관리하면 보다 늘씬한 다리 라인으로 개선됩니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-6">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">허벅지 바깥</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		바지나 치마를 입었을 때 다리의 실루엣을 결정짓는 부위이기 때문에 전체적인 비율을 생각한 감각적인 디자인이 중요합니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">허벅지 지방 흡입 수술 정보를 안내해 드립니다.</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 1시간 30분</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">전신마취/정맥마취</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일 귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">
													마사지, 부기, 멍 관리 2회 내외
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											전신 마취 혹은 부위에 따른 정맥 마취를 통해 시술로 인한 통증은 거의 없습니다.<br>
											시술 후 붓는 느낌과 함께 얼얼한 정도의 통증이 있을 수 있으며, 냉찜질을 통해 부기와 통증을 완화할 수 있습니다.<br>
											전반적인 멍과 통증은 수술 후 제공되는 관리 프로그램을 통해 차츰 완화됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	      	</div>

	      	<div class="content-tab__page page-arms">
	        	<div class="content-tab__box">

	          		<div class="site-box2 type-forearm">
	            		<h4 class="content-section__tit type-top">
	              			<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	              			가장 <strong class="color-body2">노출 빈도가<br class="hidden-t">
	              			높은 부위</strong>가<br class="hidden-m">
	              			바로 팔뚝입니다
	            		</h4>
	            		<div class="site-box2__img">
	              			팔뚝 이미지
	            		</div>
	            		<p class="content-section__txt1">
	              			일반적으로 지방 흡입 수술이 진행되는 신체 부위 중, 가장 노출
	              			빈도가 높은 부위가 바로 팔뚝입니다.
	              			날씬함을 유지한다면 건강미와 시원한 옷 태를 어필할 수 있죠.
	              			때문에 평소에 살이 찌면 가장 먼저 신경을 쓰게 됩니다.
	            		</p>
	            		<p class="content-section__txt2">
	              			하지만 허벅지와 마찬가지로 팔 뒤 쪽에 자리 잡고 있는 저장성
	              			지방 세포 때문에 일반적인 다이어트 방법으로는 개선하기가
	              			어려운 게 사실입니다.
	            		</p>
			            <div class="quotation2 type-list">
			              	<ul class="quotation2__list">
			                	<li class="quotation2__item type-tit">
			                  		초음파 지방 흡입술
			                	</li>
			                	<li class="quotation2__item">
			                  		약 500~1,000cc 정도의 지방 흡입 (한 쪽 기준)
			                	</li>
			                	<li class="quotation2__item">
			                  		약 2~3개월 정도 몸매 보정용 특수 압박복 착용
			                	</li>
			              	</ul>
			            </div>
	          		</div>
	          		<div class="list-box type-body-part">
	            		<div class="list-box__box">
	              			<div class="list-box__wrap">
	                			<div class="list-box__vertical">
				                  	<h5 class="list-box__tit tit-v3">
				                    	팔뚝성형<br class="hidden-m">
				                    	<strong>POINT</strong>
				                  	</h5>
	                			</div>
	              			</div>
	            		</div>
	            		<ul class="list-box__list">
	              			<li class="list-box__item txt-v3">흉터를 줄이기 위해 팔꿈치나 겨드랑이 절개로 접근</li>
	              			<li class="list-box__item txt-v3">자연스러운 결과를 위해 원통형 구조에 따라 세심하게 흡입</li>
	              			<li class="list-box__item txt-v3">지방 세포 자체를 제거하여 재발을 방지</li>
	            		</ul>
	          		</div>
	          		<div class="site-box4">
	            		<h4 class="content-section__tit type-center">
	              			<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	              			같은 팔뚝 지방이라도<br>
	              			<span class="content-highlight2 type-body">개인의 신체 특징</span>에 따라<br class="hidden-pm"> 그 상태는<br class="hidden-tm">
	              			다 다를 수 밖에 없습니다.
	            		</h4>
	            		<p class="content-section__txt1">
	              			때문에 같은 양의 지방을 흡입하더라도 어느 부분에 중점을 두고 수술하느냐에 따라<br class="hidden-m">
	              			그 만족도와 효과는 달라지죠. 바노바기는 상담 과정에서부터 면밀한 진단으로 지방의 위치를 파악하고, <br class="hidden-tm">
	              			충분한 소통을 통해 환자분들이 원하는 느낌의 라인을 디자인합니다.
	            		</p>
	            		<div class="site-box4__img">복부상담 - mobile</div>
	          		</div><!-- //site-box4 -->
	          		<div class="part-box1">
	            		<h5 class="part-box1__tit">지방 흡입 <strong>중점 부위</strong></h5>
	            		<div class="item-box3 type-body-part">
	              			<ul class="item-box3__list">
				                <li class="item-box3__item nth-7">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">팔뚝 안쪽</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		대부분의 팔뚝 지방이 몰리는 부위로 팔을 벌렸을 때 처짐까지 더해지기 때문에, 원통형을 유지하며 지방을 균일하게 흡입해야 합니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
				                <li class="item-box3__item nth-8">
				                  	<div class="item-box3__box">
				                    	<div class="item-box3__wrap">
				                      		<h6 class="item-box3__tit tit-v2"><span class="color-body2">팔뚝 바깥쪽</span></h6>
				                      		<p class="item-box3__txt txt-v1">
				                        		팔뚝 바깥쪽에 지방이 분포하게 되면 팔뚝을 두꺼워 보이게 만들기 때문에, 라인을 살린 디자인을 통해 맵시 있는 팔뚝을 추구해야 합니다.
				                      		</p>
				                    	</div>
				                  	</div>
				                </li>
	              			</ul>
	            		</div><!-- //item-box3-->
	          		</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">수술정보</h4>
									<!-- <p class="operation-v2__subtit">팔뚝 지방 흡입 수술 정보를 안내해 드립니다.</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">수술시간</h5>
												<p class="operation-v2__txt txt-new1">약 1시간</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">마취방법</h5>
												<p class="operation-v2__txt txt-new1">
													전신마취/정맥 마취
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
												<p class="operation-v2__txt txt-new1">약 7일 후 제거</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">입원기간</h5>
												<p class="operation-v2__txt txt-new1">당일 귀가</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">내원치료</h5>
												<p class="operation-v2__txt txt-new1">
													마사지, 부기, 멍 관리 2회 내외
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">회복</h5>
												<p class="operation-v2__txt txt-new1">약 3~5일 후 일상생활 가능</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">원</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">원</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											전신 마취 혹은 부위에 따른 정맥 마취를 통해 시술로 인한 통증은 거의 없습니다.<br>
											시술 후 붓는 느낌과 함께 얼얼한 정도의 통증이 있을 수 있으며, 냉찜질을 통해 부기와 통증을 완화할 수 있습니다.<br>
											전반적인 멍과 통증은 수술 후 제공되는 관리 프로그램을 통해 차츰 완화됩니다.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
											<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
										</div>
										<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	        	</div>
	      	</div>
	    </div>
	</div>
	<!-- Content End -->
	<% include ../_include/_bfaf %>
</div><!-- // container -->


<% include ../_include/_footer %>
