<%
	type = "content"
	page = "body"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">삶의 전환점이 될 수도 있는 큰 결심</p>
				<h3 class="content-visual__tit"><span class="color-body1">#</span> 전신 지방 흡입</h3>
				<p class="content-visual__txt2">동시에 개선하는 <strong>바디라인</strong></p>
			</div>
		</div>
    </div> <!-- //visual -->
    <!-- //상단 비주얼 -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
		   <div class="content-section type-first">
			 	<h4 class="content-section__tit type-center type-unique">
			   		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			   		<strong class="color-body1">고민</strong>과 <strong class="color-body1">간절함</strong> 알기에<br>
			   		<strong>더 노력</strong>합니다
			 	</h4>
			 	<ul class="box-style1__list type-special">
			   		<li class="box-style1__item w-4">
				 		<div class="box-style1__img">
				  	 		<img src="../../images/body/body_fat_img02.jpg" loading="lazy" alt="" class="respon-img">
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8">
				 		<div class="box-style1__wrap">
				   			<p class="content-section__txt1 type-margin">
					 			비만은 치료해야  합니다.<br>
					 			비만은 개인의 힘만으로는 극복하기 힘들고, 질병으로 분류될 만큼 전문 의료진의 도움이 절실합니다.<br class="hidden-tm">
					 			19년 동안 지방흡입 수술을 했고, 비만 환자 진료를 보았습니다.<br>
					 			환자분들이 상담실을 찾아오시기 전에 얼마나 많은 노력을 했을지, 고민이 큰지 알고 있습니다.<br class="hidden-tm">
					 			<strong>그래서 더 심도 있게 상담하고 환자분의 체형과 생활 패턴까지 분석합니다.</strong>
				   			</p>
				   			<p class="content-section__txt1">
					 			바노바기 대용량 지방흡입은 단순히 날씬한 몸을 위한 수술이 아닌, 환자의 삶이 바뀔 수 있는
					 			동기부여가 가능한 변화를 추구합니다.
					 			<span class="box-style1__point1 pop-info">
					 				그리고 수술을 한 후에도, 환자의 변화를 지켜보기  위해
							   		<span class="box-style1__info">
							   			<a href="" class="info-btn js-info ">
								   			<span class="info-btn__icon type-body-fat">인포버튼</span>
								   			리콜시스템
								   			<span class="info-desc type-body-fat">
								   				<span class="info-desc__item">
									   				<span class="info-desc__box">
										   				<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>리콜시스템</strong>이란?<br class="hidden-tm"></span>
										   				<span class="info-desc__content">
												   			<span class="info-desc__txt1">
																수술 6개월 후 사이즈 변화가 별로 없다면 다양한 방법으로 리콜해드리는 바노바기의 마음입니다.
															</span>
										   				</span>
									   				</span>
									   				<button class="info-desc__btn js-close">
										   				<span class="info-desc__stick type-left"></span>
										   				<span class="info-desc__stick type-another"></span>
										   				닫기
									   				</button>
								   				</span>
							   				</span>
							   			</a>
								 	</span>을 운영하고 있습니다.
				 				</span>
				   			</p>
				 		</div>
			   		</li>
			 	</ul>
		   	</div>
		   	<div class="content-section type-img">
			 	<ul class="box-style1__list type-another">
			   		<!-- //mobile img -->
			   		<li class="box-style1__item w-6">
				 		<h4 class="content-section__tit type-top">
				   			<span class="content-section__number type-right"><span class="content-section__number-wrap">02</span></span>
				   			<strong>전신 지방 흡입,</strong> <br>
				   			<span class="box-style1__point2">한번에</span> 해야 합니다
				 		</h4>

				 		<!--mobile Img -->
				 		<div class="box-style1__item hidden-p">
				   			<div class="box-style1__img-m">모바일 이미지</div>
				 		</div>

				 		<p class="content-section__txt1">
				   			전신 지방 흡입을 고집하는 이유는 신체 균형, 즉 밸런스 때문입니다.
				   			수술을 여러 차례에 나눠서 하면 이전 수술로 인한 부기가 남아 있는 상태에서
				   			2차, 3차 수술을 하게 되면 정밀도와 만족도가 떨어집니다.
				 		</p>
				 		<div class="box-style1__txt2">

				   			<div class="brace type-body-fat">
					 			<p class="brace__txt txt-v4">
					   				전신지방흡입을 <span class="color-body1">하루에,</span><br class="hidden-m">
					   				<span class="color-body1">한 번 </span>수술로 <br class="hidden-pt">해낼 수 있는 의료기관은 거의 없습니다.
					 			</p>
				   			</div>

				 		</div>
				 		<p class="content-section__txt1">
				   			<strong class="box-style1__point3">그 이유는,</strong> 한 번에 8,000~10,000cc 정도의 많은 지방을 빼내는 수술이 신체
				   			컨디션을 저하시키기 때문입니다.  전해질이나 혈액 등 체내 여러 요소들의 급격
				   			한 변화가 신체에 악영향을 끼칠 수도 있습니다. 하지만 이것은 전적으로 의사의
				   			능력에 달려있습니다.
				 		</p>
				 		<p class="content-section__txt1">
				   			<strong class="box-style1__point1">바노바기 바디 성형 전담팀은 다릅니다.  전신 지방 흡입을 한 번에 진행합니다.</strong>
				   			오랜 경험과 노하우로 출혈은 적게 하고 많은 양의 지방을 빼는 기술을 갖췄습
				   			니다. 또 바노바기 마취팀의 노하우는 환자의 컨디션을 조절하는 능숙한 대처가
				   			가능하죠. 실제로 바노바기는 한 번에 진행되는 대용량 지방 흡입을 오랜 기간동안 무사고로 진행하고 있습니다.
				 		</p>
				 		<div class="box-style1__box">
				   			<div class="quotation2 type-body-fat">
					 			<p class="quotation2__txt type-big tit-v4"><strong class="color-body1">지방흡입 후</strong> 두께 감소폭은?</p>
					 			<p class="quotation2__txt txt-v5 type-margin">복부 8~15cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;허벅지 5~10cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;팔 4~8cm</p>
				   			</div>
				 		</div>
				 		<p class="box-style1__txt3">※ 수술결과는 개인차가 있을 수 있습니다.</p>
			   		</li>
			   		<!--pc Img -->
			   		<li class="box-style1__item hidden-tm">
				 		<div class="box-style1__img--bg type-special">
				   			<img src="../../images/body/body_fat_img03.jpg" loading="lazy" alt="">
				 		</div>
			   		</li>
			   		<!--pc Img -->
			 	</ul>
		   	</div>
		   	<div class="content-section type-body1">
			 	<ul class="box-style1__list type-another">
			   		<li class="box-style1__item w-4">
				 		<div class="content-wrap">
				   			<div class="box-style1__img--bg hidden-tm">
					 			<img src="../../images/body/body_fat_img04_.jpg" loading="lazy" alt="">
				   			</div>
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8 type-unique">
				 		<div class="type-upper">
				   			<h4 class="content-section__tit type-top">
					 			<span class="content-section__number type-another"><span class="content-section__number-wrap">03</span></span>
					 			과학과 의학, <br class="hidden-m">
					 			<strong class="color-body1">미학</strong>의<br class="hidden-pt"> <strong>조화</strong>가 필요합니다
				   			</h4>
				   			<div class="box-style1__img-m hidden-p type-another"></div>
				   			<p class="content-section__txt1">
					 			지방흡입 수술에서 지방을 녹이고  뽑는 기술은 과학의 영역입니다. <br>
					 			뛰어난 성능의 장비를 적절하게 잘 활용한다면 오차를 줄이고 효과적인 수술을 기대할 수 있습니다.
				   			</p>
				   			<p class="content-section__txt1 type-another">
					 			그 다음, 조직 손상을 최소화하는 것은 의학의 영역입니다. <br>
					 			<strong class="box-style1__point1">의학적 지식이 풍부하고 경험이 많은 의료진이 수술하면 출혈을 줄이고 조직 손상을 줄입니다.</strong>
				   			</p>
				   			<p class="content-section__txt1">
					 			지방흡입 마지막 단계는 섬세하게 라인을 만들고 예쁘게 조각하는 미학의 영역입니다.<br>
					 			신체 밸런스에 대한 오랜 고민과 환자 개개인에 맞춘 디자인을 바탕으로, <br>
					 			바노바기의 감각이 개선합니다.
				   			</p>
				 		</div>
			   		</li>
			 	</ul>
			 	<div class="way">
			   		<div class="way__wrap">
				 		<ul class="way__list">
				   			<li class="way__item nth-1">
					 			<p class="way__txt">
					   				아큐스컬프<br>
					   				레이저 지방흡입
					 			</p>
				   			</li>
				   			<li class="way__item nth-2">
					 			<p class="way__txt">
					   				플라즈마<br>
					   				레이저 지방흡입
					 			</p>
				   			</li>
				   			<li class="way__item nth-3">
					 			<p class="way__txt">
					   				바디 타이트<br>
					   				지방흡입
					 			</p>
				   			</li>
				   			<li class="way__item nth-4">
					 			<p class="way__txt">
					   				어코니아<br>
					   				레이저 지방흡입
					 			</p>
				   			</li>
				   			<li class="way__item nth-5">
					 			<p class="way__txt">
					   				L-Pal<br>
					   				지방흡입
					 			</p>
				   			</li>
				   			<li class="way__item nth-6">
					 			<p class="way__txt">
					   				PAL<br>
					   				<span class="way__point">(Power Assisted Lipoplasty)</span>
					 			</p>
				   			</li>
				   			<li class="way__item nth-7">
					 			<p class="way__txt">
					   				튜메센트<br>
					   				지방흡입
					 			</p>
				   			</li>
				 		</ul>
			   		</div>
			 	</div>
		   	</div>
		   	<div class="content-section">
			 	<ul class="box-style1__list">
			   		<li class="box-style1__item w-12 type-unique">
				 		<div class="box-style1__people">
				   			<h4 class="content-section__tit type-left">
					 			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
					 			<strong class="box-style1__point2">안전</strong>하고 <br>
					 			<strong>과감</strong>하게<br class="hidden-pt">
					 			합니다
				   			</h4>
				 		</div>
				 		<p class="content-section__txt1 type-center">
				   			국소부위의 지방 흡입이라면 정맥 마취가 적합할 수 있습니다.<br class="hidden-m">
				   			하지만 전신 지방 흡입은 전신마취로 진행해야 합니다.<br class="hidden-m">
				   			다양한 부위를 한 번에 수술해야 하고 흡입 해야 할 지방의 양도 많기 때문이죠. 또 그렇게 하는 것이 환자에게 부담도 덜합니다.<br>
				   			<strong class="box-style1__point1 type-big">바노바기는 마취통증의학과 전문의 팀이 병원에 상주하며 안전한 수술을 지향하고 있습니다.</strong><br>
				   			<strong>그래서 더 좋은 결과를 낼 수 있는 과감한 수술이 가능합니다.</strong>
				 		</p>
			   		</li>
			 	</ul>
		   	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">전신지방흡입은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 4시간~5시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 1일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">약 1일</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">
											마사지, 부기, 멍 관리 2회 내외
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">
											약 3~5일 후 일상생활 가능
											<span class="inline-block">격렬한 활동 약 1달 뒤 권장</span>
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									전신 마취를 통해 시술로 인한 통증은 거의 없습니다.<br>
									시술 후 붓는 느낌과 함께 얼얼한 정도의 통증이 있을 수 있으며, 냉찜질을 통해 부기와 통증을 완화할 수 있습니다.<br>
									신체 전반적인 범위의 수술이기 때문에 약 2~3일 정도는 일상생활에서의 불편감이 있을 수 있습니다.<br>
									전반적인 멍과 통증은 수술 후 제공되는 관리 프로그램을 통해 차츰 완화됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		   	<!--operation-->
		</div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
