<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-obesity">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-obesity">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">보다 간편하게 빼고, 탄력은 높이고</p>
						<h3 class="new-visual__tit"><span class="n-color-body2">비만관리</span> 및 치료</h3>
						<p class="new-visual__txt">오랜 비만체형 연구와 노하우의 집약</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#바디핏주사</span></li>
							<li class="new-visual__item"><span>#울핏</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="new-style1 type-obesity">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						바노바기는 전문화된  <span class="n-color-body2">비수술적<br class="hidden-tm"> 비만치료</span>를 추구합니다
					</h4>
					<p class="new-style1__txt txt-new1">
						비만체형에 대한 고민을 안고 있는 환자분들은 대게 일반적인 다이어트 방법으로는 그 효과를 보지 못하였거나 <br class="hidden-tm">
						지속적인 다이어트 방법을 유지하기 어려운 상황인 경우가 많습니다. 때문에 결국 비만을 치료하기 위한 전문 의료기관을 찾게 되는 것이죠.
						따라서 비만을 치료하는 전문의료기관은 그러한 환자분들의 상황을 이해하고, <br class="hidden-tm">
						비만체형에 대한 전문적인 지식과 올바른 치료방법을 제안할 수 있어야 합니다.
					</p>
					<p class="new-style1__txt2 txt-new2">
						<span class="n-color-body2">바노바기는 2000년 개원 이후 축적된 비만치료 데이터를 바탕으로 보다 효과적인 비만관리 및 치료를 추구합니다.</span>
						지방의 감소는 물론, 지방 감소 후<br class="hidden-tm">
						피부의 처짐 예방과 개개인의 체형교정 및 유지까지 생각하죠.<br class="hidden-tm">
						그래서 바노바기 비만관리 및 치료 결과는 보다 날씬하면서도 탄탄합니다.
					</p>
					<div class="inner-circle type-body type-mbig">
						<ul class="inner-circle__list">
							<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									치료 후<br> 피부 처짐과 체형<br> 유지까지 고려
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									오랜 비만치료<br> 데이터를 바탕으로 한<br> 치료 노하우
								</div>
							</li>
					 		<li class="inner-circle__item txt-new1">
								<div class="vertical-box">
									개개인의<br> 신체 특징과 <br> 전반적인 바디라인을<br> 이해하는 감각
								</div>
							</li>
					 	</ul>
					</div>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/body/obesity/obesity_img_1.png" loading="lazy" alt="비만치료 시술 환자" class="img-normal">
					</div>
				</div>
				<div class="new-style1 type-obesity2 type-top0 type-bottom">
					<div class="inner-box">
						<div class="img-style1 type-padding">
							<h5 class="new-content-tit tit-new2">보다 전문화된 비만관리 및 <span class="inline-block">치료를 추구하는 바노바기</span></h5>
							<ul class="img-style1__list type-merge">
								<li class="img-style1__item">
									<img src="../../images/body/obesity/obesity_img_2_1.jpg" class="img-w100" loading="lazy" alt="복아름원장님">
								</li>
								<li class="img-style1__item">
									<img src="../../images/body/obesity/obesity_img_2_2.jpg" class="img-w100" loading="lazy" alt="복아름원장님 상담">
								</li>
							</ul>
							<p class="img-style1__subject txt-new2">바노바기 비만 진료 전담팀</p>
						</div>
					</div>
				</div>
			</div>
			<div class="new-tab__line">line</div>
			<div class="new-tab type-body">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">바디핏주사</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-bodyfit" class="new-tab__link">바디핏주사</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-ulfit" class="new-tab__link">울핏</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="new-tab-content page-bodyfit is-active">
				<div class="new-section">
					<div class="new-style1 type-obesity3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							보다 직접적으로  <span class="n-color-body2">지방을 분해하는 주사시술</span>입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							바디핏주사는 바노바기가 고안한 지방분해 레시피를 지방층에 주사하는 시술입니다.<br class="hidden-tm">
							주입된 용액은 과학적인 작용을 통해 주변 지방들을 파괴하고, 분해된 지방은 시간이 지나면서 림프 체계를 통해 자연스럽게 배출되죠. <br class="hidden-tm">
							보다 직접적으로 주사하기 때문에 일반적인 다이어트 방법으로는 쉽게 빠지지 않는 셀룰라이트나 축적지방에도 그 효과가 비교적 뛰어납니다.<br class="hidden-tm">
							또, 시술 부위의 피부 탄력 증가 효과도 기대할 수 있기 때문에 보다 매끄럽고 날씬한 라인으로의 개선이 가능합니다.
						</p>
						<div class="inner-box type-top">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">바노바기 바디핏 주사란?</h5>
								<div class="inner-circle type-body type-mbig">
									<ul class="inner-circle__list">
										<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												셀룰라이트 및<br> 축적지방에도<br> 보다 뛰어난 효과
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												비교적<br> 자연스러운<br> 라인 개선
											</div>
										</li>
								 		<li class="inner-circle__item txt-new1">
											<div class="vertical-box">
												지방 감소 후 <br> 피부 탄력 증가
											</div>
										</li>
								 	</ul>
								</div>
								<ul class="img-style1__list type-half tablet-merge type-mt">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_3.jpg" class="img-w100" loading="lazy" alt="바디핏주사로 인한 지방분해">
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_4.jpg" class="img-w100" loading="lazy" alt="바디핏주사 시술 환자">
									</li>
								</ul>
								<p class="img-style1__subject txt-new1">바노바기의 지방분해 레시피를 지방층에 직접 주사하여 지방을 감소시키는 시술입니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-obesity4">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							비교적 간편하여<br class="hidden-p"> <span class="n-color-body2">부담이 거의 없습니다</span>
						</h4>
						<p class="new-style1__txt txt-new1">
							이름에서 알 수 있듯 바디핏주사는 주사시술입니다. 원하는 부위에 주사를 하는 것으로 시술은 끝이 나죠.
							이 방법은 다른 수술적 방법과는 달리 <span class="color-black1">흉터를 만드는 절개나 조직을 손상시키는 박리를 하지 않기 때문에
								그만큼 회복이나 부작용에 대한 부담이 거의 없습니다.</span> 또, 시술에 걸리는 시간 또한 비교적 짧으며 통증도 거의 없기 때문에
							수술적 치료에 거부감이 있거나 바쁜 현대인들에게 보다 적합한 시술이라고 할 수 있습니다.
						</p>
						<div class="inner-circle type-body type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										보다 간편한<br> 시술 과정으로<br> 비교적 짧은<br> 시술시간
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										비수술적 비만<br> 치료로 흉터나<br> 부작용의 걱정<br> 거의 없음
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										통증이 거의 없어<br> 마취를 하지 않고<br> 보다 편하게 진행
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										추가적인 내원<br> 관리 거의<br> 필요 없음
									</div>
								</li>
							</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/body/obesity/obesity_img_5.png" loading="lazy" alt="바디핏 시술 환자" class="img-normal">
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-obesity5 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body3">보다 정밀한 바디라인 교정 효과</span>를<br class="hidden-tm"> 기대할 수 있습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							바디핏주사의 또 다른 장점은 신체의 전반적인 지방이 동시에 감소되는 일반적인 다이어트와는 달리<br class="hidden-tm">
							원하는 부위를 보다 자연스럽게 개선할 수 있다는 것입니다.<br class="hidden-tm">
							개개인마다 유독 지방이 집중되거나 잘 빠지지 않는 부위가 다르기 때문에,<br class="hidden-tm">
							특정 부위를 선택적으로 개선할 수 있는 바디핏주사는 좋은 개선책이 될 수 있죠.<br class="hidden-tm">
							<span class="color-white">따라서 연결된 각 부위의 상대적인 형태를 고려하여 바디핏주사를 통해 필요한 부위의 지방을 집중적으로 감소시켜준다면<br class="hidden-tm">
								보다 정밀한 바디라인 교정 효과를 기대할 수 있습니다.</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/obesity/obesity_img_6.jpg" loading="lazy" alt="바디핏 시술 환자" class="img-w100">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">거의 모든 부위를 <span class="n-color-body2">선택적으로 개선</span><br class="hidden-pm">할 수 있는<br class="hidden-tm"> 바노바기 바디핏주사</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_1.jpg" class="img-w100" loading="lazy" alt="팔 안쪽">
										<p class="img-style1__subject txt-new1">팔 안쪽</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_2.jpg" class="img-w100" loading="lazy" alt="팔 바깥쪽">
										<p class="img-style1__subject txt-new1">팔 바깥쪽</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_3.jpg" class="img-w100" loading="lazy" alt="허벅지 안쪽">
										<p class="img-style1__subject txt-new1">허벅지 안쪽</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_4.jpg" class="img-w100" loading="lazy" alt="허벅지 바깥쪽">
										<p class="img-style1__subject txt-new1">허벅지 바깥쪽</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_5.jpg" class="img-w100" loading="lazy" alt="허벅지 뒤쪽">
										<p class="img-style1__subject txt-new1">허벅지 뒤쪽</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_6.jpg" class="img-w100" loading="lazy" alt="허벅지 앞쪽">
										<p class="img-style1__subject txt-new1">허벅지 앞쪽</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_7.jpg" class="img-w100" loading="lazy" alt="부유방">
										<p class="img-style1__subject txt-new1">부유방</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_8.jpg" class="img-w100" loading="lazy" alt="옆구리/뒷구리">
										<p class="img-style1__subject txt-new1">옆구리/뒷구리</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_9.jpg" class="img-w100" loading="lazy" alt="상복부">
										<p class="img-style1__subject txt-new1">상복부</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_10.jpg" class="img-w100" loading="lazy" alt="하복부">
										<p class="img-style1__subject txt-new1">하복부</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_11.jpg" class="img-w100" loading="lazy" alt="무릎라인">
										<p class="img-style1__subject txt-new1">무릎라인</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_case_12.jpg" class="img-w100" loading="lazy" alt="종아리">
										<p class="img-style1__subject txt-new1">종아리</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">시술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">시술시간</h5>
											<p class="operation-v2__txt txt-new1">약 15분 <span class="inline-block">(부위에 따라 다름)</span></p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">필요 없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												필요 없음
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">빠른 일상 생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										체질에 따라 시술 시 약간의 통감이 있을 수 있지만, 심하진 않습니다.<br>
										시술 후 시술 부위에 약간의 멍이 생기는 경우도 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
			<div class="new-tab-content page-ulfit">
				<div class="new-section">
					<div class="new-style1 type-obesity3 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							울핏은 <span class="n-color-body2">지방 감소와 피부 탄력 증가가<br class="hidden-tm">
							동시에</span> 이루어지는 레이저 시술입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							울핏은 보다 강력한 초음파 에너지를 통해 원하는 부위의 피하지방을 태우고 늘어진 피부에는 탄력을 주는 레이저 시술입니다.<br class="hidden-tm">
							피하지방층에 초음파 에너지로 자극을 주어 응고 구역을 생성하고, 수축을 일으켜 지방의 간격을 좁히는 것이죠.<br class="hidden-tm">
							이 방법은 일반적인 다이어트로는 개선하기 어려운 셀룰라이트나 축적지방에도 효과가 있기 때문에,<br class="hidden-tm">
							만약 빠지지 않는 지방과 피부 처짐으로 인한 고민을 안고 있다면 울핏 시술이 좋은 개선책이 될 수 있습니다.
						</p>
						<div class="inner-box type-top">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">바노바기 울핏의 효과</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_7.jpg" class="img-w100" loading="lazy" alt="울핏 장비">
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_8.jpg" class="img-w100" loading="lazy" alt="지방은 감소시키고 탄력증가">
									</li>
								</ul>
								<p class="img-style1__subject txt-new1">초음파 에너지를 통해 지방층은 감소시키고 탄력은 높여줍니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-section__wrap">
						<div class="new-style2">
							<h4 class="new-style2__tit tit-new1 weight-regular">
								<span class="n-color-body2">2번 당겨</span> 더욱 효과적입니다.
							</h4>
							<p class="new-style2__txt txt-new1">
								울핏은 6mm, 9mm의 깊이에 고강도 집속초음파 에너지를 전달합니다.<br class="hidden-tm">
								얕은 깊이의 자극으로 끝나지 않고, 진피에서 피하지방층까지 더욱 다양한 깊이를 2번 당겨주는 것이죠.<br class="hidden-tm">
								<span class="color-black1">따라서 울핏은 복부나 허벅지처럼 특히 두꺼운 부위에도 비교적 뛰어난 지방 감소 효과를 보여주며, <br class="hidden-tm">
									시술 전과 후의 차이가 느껴질 정도의 타이트닝 효과 또한 기대할 수 있습니다.</span>
							</p>
							<div class="img-style1">
								<ul class="img-style1__list type-mt">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_9.jpg" class="img-w100" loading="lazy" alt="">
										<p class="img-style1__subject txt-new1">6mm, 9mm의 깊이에 고강도 집속초음파 에너지 전달로 2번 당겨주는 타이트닝!</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-section__wrap type-obesity">
						<div class="new-style2">
							<h5 class="new-content-tit tit-new2">
                                울핏 시술과정
                            </h5>
							<div class="img-style3 type-inner">
	                            <ul class="img-style3__list">
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/obesity/obesity_img_10.jpg" loading="lazy" alt="01. 기존의 진피와 피하지방층" class="img-w100">
	                                    </div>
	                                    <p class="img-style3__txt txt-new2">
											01. 기존의 진피와 피하지방층
	                                    </p>
	                                </li>
	                                <li class="img-style3__item">
	                                    <div class="img-style3__img">
	                                        <img src="../../images/body/obesity/obesity_img_11.jpg" loading="lazy" alt="02. 6mm, 9mm의 깊이에 고강도집속초음파 에너지 전달" class="img-w100">
	                                    </div>
										<p class="img-style3__txt txt-new2">
											02. 6mm, 9mm의 깊이에 고강도집속초음파 에너지 전달
	                                    </p>
	                                </li>
									<li class="img-style3__item">
									   <div class="img-style3__img">
										   <img src="../../images/body/obesity/obesity_img_12.jpg" loading="lazy" alt="03. 진피와 피하지방층에 열 응고 구역을 유발시켜 응고괴사 유발" class="img-w100">
									   </div>
									   <p class="img-style3__txt txt-new2">
										   03. 진피와 피하지방층에 열 응고 구역을 유발시켜 응고괴사 유발
									   </p>
								   </li>
								   <li class="img-style3__item">
									   <div class="img-style3__img">
										   <img src="../../images/body/obesity/obesity_img_13.jpg" loading="lazy" alt="04. 신체의 두꺼운 부위인 복부 및 허벅지에 적용하여 피부탄력 개선" class="img-w100">
									   </div>
									   <p class="img-style3__txt txt-new2">
										   04. 신체의 두꺼운 부위인 복부 및 허벅지에 적용하여 피부탄력 개선
									   </p>
								   </li>
	                            </ul>
	                        </div>
						</div>
					</div>
				</div>
				<div class="new-section type-cling">
					<div class="new-style1 type-obesity5 type-bottom">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							<span class="n-color-body3">수술보다 간편</span>하여<br class="hidden-m"> 부담이 거의 없습니다
						</h4>
						<p class="new-style1__txt txt-new1">
							울핏은 절개나 박리가 필요 없는 비침습적 방식의 레이저 시술입니다.<br class="hidden-tm">
							따라서 시술로 인한 통증이나 흉터에 대한 걱정을 거의 할 필요가 없고, 따로 회복 기간이 필요하지 않죠.<br class="hidden-tm">
							또, 넓은 시술 팁을 통해 연속적인 에너지 조사가 가능하여 시술 자체에 걸리는 시간 또한 비교적 짧기 때문에<br class="hidden-tm">
							<span class="color-white">수술적 치료에 거부감이 있거나 바쁜 현대인들에게 보다 적합한 시술이라고 할 수 있습니다.</span>
						</p>
						<div class="inner-circle type-body2 type-mbig">
							<ul class="inner-circle__list">
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										보다 간편한<br> 시술 과정으로<br> 비교적 짧은<br> 시술 시간
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										비수술적<br> 비만치료로<br> 흉터나 부작용의<br> 걱정 거의 없음
									</div>
								</li>
						 		<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										통증이 거의 없어<br> 마취를 하지 않고<br> 보다 편하게 진행
									</div>
								</li>
								<li class="inner-circle__item txt-new1">
									<div class="vertical-box">
										추가적인<br> 내원 관리<br> 거의 필요 없음
									</div>
								</li>
						 	</ul>
						</div>
						<div class="new-style1__img">
							<img src="../../images/body/obesity/obesity_img_14.jpg" loading="lazy" alt="울핏 시술 환자" class="img-w100">
						</div>
						<div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2"><span class="n-color-body2">지방이 두껍게 자리 잡은 부위</span>에 대한<br class="hidden-tm"> 개선까지 가능합니다</h5>
								<p class="img-style1__txt txt-new1">
									보다 다양한 깊이의 피하지방층에 레이저가 도달하는 울핏은 그만큼 활용도가 높은 시술입니다.
									특히 비교적 넓은 팁으로 보다 깊은 곳까지 그 에너지를 전달할 수 있기 때문에 지방이 비교적 두껍게 자리 잡은 부위에도 효과를 보이죠.
									따라서 울핏은 복부나 옆구리, 허벅지 등을 보다 탄탄하고 날씬하게 다듬기에 적절한 시술입니다.
								</p>
								<ul class="img-style1__list type-half type-mt">
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_15.jpg" class="img-w100" loading="lazy" alt="팔뚝 / 브라라인">
										<p class="img-style1__subject txt-new1">팔뚝 / 브라라인</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_16.jpg" class="img-w100" loading="lazy" alt="복부 / 옆구리">
										<p class="img-style1__subject txt-new1">복부 / 옆구리</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_17.jpg" class="img-w100" loading="lazy" alt="허벅지">
										<p class="img-style1__subject txt-new1">허벅지</p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/body/obesity/obesity_img_18.jpg" class="img-w100" loading="lazy" alt="종아리">
										<p class="img-style1__subject txt-new1">종아리</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">시술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">시술시간</h5>
											<p class="operation-v2__txt txt-new1">약 1시간 <span class="inline-block">(부위에 따라 다름)</span></p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">필요 없음</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												필요 없음
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">
												빠른 일상 생활 가능
											</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">시술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										통증이 거의 없어 비교적 편안하게 시술받을 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 시술하신 환자분들의 시술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
</div> <!-- //container -->

<% include ../_include/_footer %>
