<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="body-lifting">
		<% include ../_include/_tooltip %>
		<div class="new-visual type-lifting">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">건강함이 느껴지는 탄탄한 몸매</p>
						<h3 class="new-visual__tit"><span class="n-color-body2">바디</span>리프팅</h3>
						<p class="new-visual__txt">탄력으로 잡아주는 날씬한 바디 실루엣</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#탄탄한바디라인</span></li>
							<li class="new-visual__item"><span>#비교적빠른회복</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-lifting">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">BANOBAGI bodyS SURGERY</p>
					 	<h4 class="section-normal__tit tit-new1">
							체지방이 빠진 자리를<br>
							<span class="n-color-body2">탄력</span>으로 채워야 합니다
						</h4>
					 	<p class="section-normal__txt2 txt-new1">
                            일반적으로 바디 성형이라고 하면 지방 흡입과 같은 체지방 관리 방법을 우선적으로 떠올리게 됩니다.
							하지만 단순히 체지방을 줄인다고 해서 매력적인 몸매가 되는 것은 아닙니다. 체지방의 감소만큼 중요한 것이 몸의 탄력이죠.
							<span class="color-black1">탄력적인 몸은 시각적으로 신체 비율을 좋게 만들어주고, 늘씬한 느낌을 강조하여 보다 건강하고 매력적인 몸매를 어필할 수 있게 해줍니다.</span>
					 	</p>
						<p class="section-normal__txt1 txt-new2">
					 		따라서 비만이나 임신으로 인해 피부가 복원력을 잃고 피하지방과 함께 처지거나, 노화로 인해 피부 탄력이 줄어든 경우,
							바디 리프팅을 통해 <span class="n-color-body2">처진 피부를 보다 효과적으로 개선하고 탄력 있는 몸매를 추구</span>할 수 있습니다.
					 	</p>
					</div>
					<div class="section-normal__img">
						<img src="../../images/body/lifting/lifting_img_1.png" class="img-normal" loading="lazy" alt="바디리프팅 시술한 모델">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-tab__line">line</div>
			<div class="new-tab type-body">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">복부성형술</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-abdomen" class="new-tab__link">복부성형술</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-thigh" class="new-tab__link">허벅지 리프팅</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-arm" class="new-tab__link">팔 리프팅</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-back" class="new-tab__link">등 리프팅</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="new-tab-content page-abdomen is-active">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							원인이 다양한 복부 처짐<br>
							<strong class="weight-regular">개개인의 신체 특성을 정확히 파악하여 개선</strong>해야 합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							처진 복부는 가장 대표적인 신체 콤플렉스로 현대인들의 가장 큰 고민이기도 합니다.<br class="hidden-tm">
							특히 비만, 임신, 노화 등으로 인한 복부 처짐은 그 범위가 비교적 눈에 띄고 개인의 힘으로 개선하기가 힘들기 때문에 <br class="hidden-tm">
							복부성형술과 같은 방법으로 개선해주는 것이 효과적이죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 보다 만족스러운 결과를 위해 환자분들의 피부 탄력, 복직근의 수축 정도, <br class="hidden-tm">
							지방의 분포 양상, 출산 여부 등 개개인의 특성을 면밀히 파악하여<br class="hidden-tm">
							적합한 방법을 선택하는 <span class="n-color-body2">맞춤 복부성형술을 진행</span>합니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">바노바기 복부성형술</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											다년간의 지방흡입 경험을 토대로 한, 높은 바디 밸런스 이해도
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											복부에 적합한 레이저 장비 사용
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											보다 정밀하고 안전한 피부지방 절제술
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    정도가 심하지 않다면 지방 흡입과 레이저를 통해<br class="hidden-tm">
									<strong class="weight-regular">비교적 간단히 개선</strong>할 수 있습니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    복부의 처짐 정도가 심하지 않은 경우라면
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">인포버튼</span>
											벨로디 레이저
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>벨로디 레이저란?</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_1.jpg" loading="lazy" alt="벨로디레이저 장비" class="info-desc__thumb">
															<span class="info-desc__txt1">
																벨로디는 피부 속에서 레이저를 조사하는 방식으로 진피층을
																강하게 자극하여 콜라겐과 엘라스틴을 재생시켜주는 원리의
																레이저 장비입니다. 비교적 간편한 방법으로 피부 탄력 증진
																효과를 기대할 수 있으며 절개가 필요하지 않기 때문에 흉터에
																대한 부담이 거의 없다는 장점이 있습니다.
															 </span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														닫기
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									 <span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">인포버튼</span>
 											바디타이트 레이저
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>바디타이트 레이저란?</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="바디타이트 레이저 장비" class="info-desc__thumb">
 															<span class="info-desc__txt1">
 																바디타이트는 보다 효과적인 지방흡입술로 혈관의 응고, 지방의
																액화, 스킨 타이트닝의 효과를 동시에 기대할 수 있는 레이저
																장비입니다. 내부와 외부 전극을 통해 고주파를 전달해줌으로써
																피부 처짐을 보다 효과적으로 보완할 수 있으며 출혈과 멍, 부기와
																같은 수술적 부담이 비교적 적다는 장점이 있습니다.
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														닫기
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
									와 같이 지방 흡입과 피부 탄력 증가 효과를<br class="hidden-tm">
									동시에 볼 수 있는 장비를 통해 복부 처짐을 개선할 수 있습니다.<br class="hidden-tm">
									원하는 만큼의 지방을 정밀히 흡입함과 동시에 피부의 탄력을 이용하여 처짐을 방지하는 것이죠.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    이러한 방법은 치료 과정 자체가 비교적 간편하여 <span class="n-color-body2">수술이나 흉터에 대한 부담이 적고,<br class="hidden-tm"> 회복이 빠르다는 장점</span>이 있습니다.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">지방흡입술 + 레이저 리프팅</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" loading="lazy" alt="STEP 01" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_4.jpg" loading="lazy" alt="STEP 02" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											보다 정밀한<br>
											지방 흡입
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											피부 탄력<br>
											회복
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											비교적 간편하고<br>
											빠른 회복
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											줄어든<br>
											흉터 부담
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    어느 정도의 처짐이 있는 경우라면<br class="hidden-m">
									<strong class="weight-regular">지방 분포에 따라 맞춤 리프팅</strong>할 수 있습니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
									어느 정도의 처짐이 있는 경우라면 지방 분포에 따라 맞춤 리프팅을 진행합니다.
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    다만, 같은 복부라고 해도 그 지방 분포나 신체 특징에 따라 그 모양이 다르기 때문에,<br>
									<span class="n-color-body2">리프팅 또한 상태에 맞는 방법을 선택하여 진행해야 더욱 만족스러운 결과</span>를 기대할 수 있습니다.
                                </p>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">전체 복부 리프팅</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_1.jpg" loading="lazy" alt="수술부위" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                수술부위
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_2.jpg" loading="lazy" alt="봉합선" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                봉합선
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										배꼽 윗부분부터 아랫배까지의 피부를 절제하여 복부 처짐을 개선하는 일반적인 치료방법입니다.<br class="hidden-tm">
										정상보다 대략 20% 정도 과체중인 환자에게 적합한 방법이며, 필요한 경우 배꼽의 위치와 모양도 바꿀 수 있습니다.<br class="hidden-tm">
										절개는 제왕절개 수술 정도보다 조금 길게 하지만 절개 위치가 속옷이나 수영복 등에 가려질 수 있는 위치이며,<br class="hidden-tm">
										바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">부분 복부 리프팅</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_3.jpg" loading="lazy" alt="수술 부위" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                수술부위
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_4.jpg" loading="lazy" alt="봉합선" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                봉합선
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										유독 아랫배가 처진 경우에 적합한 수술 방법으로, 배꼽 아랫부분의 피부를 절제하게 됩니다. 배꼽의 모양에 영향을 끼치지 않으며<br class="hidden-tm">
										상황에 따라 국소마취나 정맥마취로도 진행할 수 있어 당일에 퇴원이 가능하다는 장점이 있습니다.<br class="hidden-tm">
										절개는 제왕절개 수술 정도와 비슷하고 절개 위치가 속옷이나 수영복 등에 가려질 수 있는 위치이며,<br class="hidden-tm">
										바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">반대 복부 리프팅</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_5.jpg" loading="lazy" alt="수술부위" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                수술부위
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_6.jpg" loading="lazy" alt="봉합선" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                봉합선
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										윗배가 처진 경우에 적합한 수술 방법으로, 가슴 아래쪽 피부를 절제하고 복부의 피부를 위로 끌어당기는 방법입니다.<br class="hidden-tm">
										상대적으로 드문 유형이지만, 상황에 따라 추가 절개 없이 가슴 성형을 병행할 수도 있다는 장점이 있습니다.<br class="hidden-tm">
										흉터는 가슴 밑주름에 자연스럽게 가려지도록 하며, 바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">확대 복부 리프팅</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_7.jpg" loading="lazy" alt="수술부위" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                수술부위
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_8.jpg" loading="lazy" alt="봉합선" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                봉합선
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										복부를 비롯해 옆구리가 함께 처진 경우라면 일반적인 전체 복부 리프팅 방법에서 절제 범위를 확대하여 복부와 옆구리 처짐을 동시에 개선할 수 있습니다.<br class="hidden-tm">
										전체 복부 리프팅과 마찬가지로 수술 시 배꼽의 위치와 모양을 개선할 수 있으며, 보다 넓은 부위에 지방흡입술이 진행되어 수술의 완성도를 높일 수 있습니다.<br class="hidden-tm">
										흉터는 전체 복부 리프팅 흉터보다 조금 더 길게 남게 되지만, 바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
									</p>
	                            </div>
								<div class="img-style3 type-body type-mt">
	                                <h5 class="heading-bar type-body">입체 복부 리프팅</h5>
	                                <ul class="img-style3__list">
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_9.jpg" loading="lazy" alt="STEP 01" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                수술부위
	                                            </div>
	                                        </div>
	                                    </li>
	                                    <li class="img-style3__item">
	                                        <div class="img-style3__img">
	                                            <img src="../../images/body/lifting/lifting_abdomen_10.jpg" loading="lazy" alt="STEP 02" class="img-w100">
	                                        </div>
	                                        <div class="img-style3__caption txt-new2">
	                                            <div class="img-style3__vertical">
	                                                봉합선
	                                            </div>
	                                        </div>
	                                    </li>
	                                </ul>
									<p class="img-style3__txt txt-new1">
										대량의 체중 감량으로 피부가 심하게 늘어진 경우, 전체적인 복부 라인 개선을 위해 허리둘레를 따라 절제 후 봉합하는 것으로 피부 처짐을 개선할 수 있습니다.<br class="hidden-tm">
										복부 전체와 옆구리, 엉덩이 등 전반적인 처짐을 개선할 수 있기 때문에 그 효과가 비교적 뛰어납니다.<br class="hidden-tm">
										허리둘레를 따라 흉터가 남게 되지만, 바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
									</p>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절제가 필요한 바디 리프팅의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm"> 수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-body3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-body3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 2시간~3시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취/정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 10~14일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">약 1일</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												약 5회
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
										지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-thigh">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							허벅지에 지방이 축적되는 <strong class="weight-regular">모양</strong>과<br class="hidden-tm">
							전반적인 <strong class="weight-regular">다리 비율</strong>을 고려합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							허벅지는 지방이 집중적으로 축적되는 신체 부위로, 급격한 체중 감량 후라면 상대적으로 피부의 탄력이 떨어져<br class="hidden-tm">
							울퉁불퉁한 형태로 남게 됩니다.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 줄어든 지방량과 다리 비율을 면밀히 계산하는 허벅지 리프팅을 통해<br class="hidden-tm">
							<span class="n-color-body2">피부의 탄력을 더해주고 매끄럽게 쭉 뻗은 다리라인으로 개선</span>하기 위해 노력합니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_5.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">바노바기 허벅지 리프팅</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											다년간의 지방흡입 경험을 토대로 한, 높은 바디 밸런스 이해도
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											허벅지에 적합한 레이저 장비 사용
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											보다 정밀하고 안전한 피부지방 절제술
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    정도가 심하지 않다면 지방 흡입과 레이저를 통해<br class="hidden-tm">
									<strong class="weight-regular">비교적 간단히 개선</strong>할 수 있습니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    허벅지 처짐이 심한 경우가 아니라면 지방흡입술을 통해 허벅지에 있는 불필요한 지방을 줄여주고,<br class="hidden-tm">
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">인포버튼</span>
											아큐스컬프
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>아큐스컬프 레이저란?</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_3.jpg" loading="lazy" alt="아큐스컬프 장비" class="info-desc__thumb">
															<span class="info-desc__txt1">
																아큐스컬프 레이저는 지방을 제거하는 동시에 피부의 탄력까지
																증가시킬 수 있는 레이저 장비입니다. 특히, 이중턱, 심술보 등
																안면 주름 개선에도 사용될 정도로 정밀한 조절이 가능한
																장비이기 때문에, 허벅지와 같이 미세한 라인을 살려야 하는
																시술에 보다 효과적일 수 있습니다.
															 </span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														닫기
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									 <span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">인포버튼</span>
 											바디타이트
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>바디타이트 레이저란?</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="바디타이트 레이저 장비" class="info-desc__thumb">
 															<span class="info-desc__txt1">
 																바디타이트는 보다 효과적인 지방흡입술로 혈관의 응고, 지방의
																액화, 스킨 타이트닝의 효과를 동시에 기대할 수 있는 레이저
																장비입니다. 내부와 외부 전극을 통해 고주파를 전달해줌으로써
																피부 처짐을 보다 효과적으로 보완할 수 있으며 출혈과 멍, 부기와
																같은 수술적 부담이 비교적 적다는 장점이 있습니다.
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														닫기
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
									등과 같은 지방 흡입과 피부 탄력 증가 효과를 동시에 볼 수 있는 장비로 허벅지 처짐을 개선할 수 있습니다.<br class="hidden-tm">
									특히 아큐스컬프 레이저는 안면 주름 관리에도 사용될 만큼 정밀한 시술을 가능하게 하는 장비로, 허벅지의 비율이나 라인을<br class="hidden-tm">
									자연스럽게 개선하기에 적합하죠.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    또, 이러한 방법은 치료 과정 자체가 비교적 간편하여 <span class="n-color-body2">수술이나 흉터에 대한 부담이 적고,<br class="hidden-tm"> 회복이 빠르다는 장점</span>이 있습니다.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">지방흡입술 + 레이저 리프팅</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" loading="lazy" alt="지방흡입술 + 레이저리프팅 시술하는 모습" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_6.jpg" loading="lazy" alt="지방흡입술 + 레이저리프팅 시술 후 모습" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											보다 정밀한<br>
											지방 흡입
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											피부 탄력<br>
											회복
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											비교적 간편하고<br>
											빠른 회복
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											줄어든<br>
											흉터 부담
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    수술적인 리프팅은<br>
									<strong class="weight-regular">허벅지 안쪽 처짐에 대한<br class="hidden-tm">개선이 중요</strong>합니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
									허벅지는 전반적으로 앞쪽은 근육이 밀집되어 있고 허벅지 안쪽부터 뒤쪽까지는 지방이 형성됩니다.<br class="hidden-tm">
									또, 체중이 급격히 줄어든 이후라면 탄력을 잃은 피부가 중력을 따라 허벅지 안쪽 또는 뒤쪽 방향으로 처지게 되죠.
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    따라서 보다 효과적인 허벅지 리프팅을 위해서는<br>
									<span class="n-color-body2">허벅지 앞쪽과의 비율을 고려하여 허벅지 안쪽에 대한 개선</span>을 중점으로 해야 합니다.
                                </p>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">부분 허벅지 리프팅</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_7.jpg" loading="lazy" alt="부분 허벅지 리프팅 시술 위치" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														허벅지 안쪽 처짐에 대한 효과를 볼 수 있는 방법으로, 허벅지가 울퉁불퉁해지지 않도록
														면밀한 디자인을 통해 안쪽의 처진 피부와 피하지방을 반달형으로 절제합니다.<br><br>

														절개 위치를 서혜부 주름으로 하여 속옷이나 수영복 등에 가려질 수 있는 위치이며,
														바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">전체 허벅지 리프팅</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_8.jpg" loading="lazy" alt="전체 허벅지 리프팅 시술 위치" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														대량의 체중 감량이 이루어진 경우 허벅지부터 무릎까지 전체적인 처짐이 발생할 수
														있습니다. 이렇게 비교적 처짐이 심한 경우에는 허벅지 뒤쪽의 전반적인 절제를 통해
														슬림한 다리라인이 되도록 허벅지 전체 살을 당겨줄 수 있습니다.<br><br>

														비교적 긴 길이의 절개가 필요한 것이 사실이지만 허벅지 안쪽을 통한 절개로 눈에 잘
														띄지 않으며, 바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게
														됩니다.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절제가 필요한 바디 리프팅의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm"> 수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-body3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-body3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 3시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">정맥마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 10~14일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												약 7회
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
										지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>

			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-arm">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							팔의 복잡한 구조를 생각한<br class="hidden-tm">
							<strong class="weight-regular">자연스러운 리프팅</strong>을 추구합니다
						</h4>
						<p class="new-style1__txt txt-new1">
							팔은 비교적 노출이 잦고 다양한 움직임을 가지는 부위입니다.<br class="hidden-tm">
							때문에 팔뚝 처짐을 개선함에 있어 무엇보다 중요한 것은 자연스러움이죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 개개인의 팔뚝 처짐 상태에 따른 적절한 팔 리프팅 방법을 선택하고 <br class="hidden-tm">
							어깨선부터 떨어지는 전반적인 팔의 입체적 라인을 고려하기 때문에<span class="n-color-body2">결과가 보다 자연스럽고<br class="hidden-tm"> 만족스럽습니다</span>
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_9.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">바노바기 팔 리프팅</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											다년간의 지방흡입 경험을 토대로 한, 높은 바디 밸런스 이해도
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											팔의 입체감을 살리기에 적합한 레이저 장비 사용
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											보다 정밀하고 안전한 피부지방 절제술
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    정도가 심하지 않다면 지방 흡입과 레이저를 통해<br class="hidden-tm">
									<strong class="weight-regular">비교적 간단히 개선</strong>할 수 있습니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
                                    팔 처짐이 심한 경우가 아니라면 지방흡입술을 통해 팔에 있는 불필요한 지방을 줄여주고, <br class="hidden-tm">
									<span class="pop-info type-body">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon">인포버튼</span>
											아큐스컬프
											<span class="info-desc">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>아큐스컬프 레이저란?</span>
														<span class="info-desc__content">
															<img src="../../images/body/lifting/lifting_info_3.jpg" loading="lazy" alt="아큐스컬프 장비" class="info-desc__thumb">
															<span class="info-desc__txt1">
																아큐스컬프 레이저는 지방을 제거하는 동시에 피부의 탄력까지
																증가시킬 수 있는 레이저 장비입니다. 특히, 이중턱, 심술보 등
																안면 주름 개선에도 사용될 정도로 정밀한 조절이 가능한
																장비이기 때문에, 허벅지와 같이 미세한 라인을 살려야 하는
																시술에 보다 효과적일 수 있습니다.
															 </span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left">태블릿 닫기</span>
														<span class="info-desc__stick type-another">태블릿 닫기</span>
														닫기
													</button>
												</span>
											</span>
										</a>
									</span>
									 +
									 <span class="pop-info type-body">
 										<a href="" class="info-btn js-info">
 											<span class="info-btn__icon">인포버튼</span>
 											바디타이트
 											<span class="info-desc">
 												<span class="info-desc__item">
 													<span class="info-desc__box">
 														<span class="info-desc__tit"><span class="info-desc__icon">모바일 아이콘</span>바디타이트 레이저란?</span>
 														<span class="info-desc__content">
 															<img src="../../images/body/lifting/lifting_info_2.jpg" loading="lazy" alt="바디타이트 레이저 장비" class="info-desc__thumb">
 															<span class="info-desc__txt1">
 																바디타이트는 보다 효과적인 지방흡입술로 혈관의 응고, 지방의
																액화, 스킨 타이트닝의 효과를 동시에 기대할 수 있는 레이저
																장비입니다. 내부와 외부 전극을 통해 고주파를 전달해줌으로써
																피부 처짐을 보다 효과적으로 보완할 수 있으며 출혈과 멍, 부기와
																같은 수술적 부담이 비교적 적다는 장점이 있습니다.
 															 </span>
 														</span>
 													</span>
 													<button class="info-desc__btn js-close">
 														<span class="info-desc__stick type-left">태블릿 닫기</span>
 														<span class="info-desc__stick type-another">태블릿 닫기</span>
 														닫기
 													</button>
 												</span>
 											</span>
 										</a>
 									</span>
									등과 같은 지방 흡입과 피부 탄력 증가 효과를 동시에 볼 수 있는 장비로 팔뚝 처짐을 개선할 수 있습니다. <br class="hidden-tm">
									특히 아큐스컬프 레이저는 안면 주름 관리에도 사용될 만큼 정밀한 시술을 가능하게 하는 장비로, <br class="hidden-tm">
									팔의 비율이나 라인을 자연스럽게 개선하기에 적합하죠.
                                </p>
                                <p class="new-style2__txt2 txt-new2">
                                    또, 이러한 방법은 치료 과정 자체가 비교적 간편하여 <span class="n-color-body2">수술이나 흉터에 대한 부담이 적고,<br class="hidden-tm"> 회복이 빠르다는 장점</span>이 있습니다.
                                </p>
                            </div>

							<div class="img-style3 type-mt">
                                <h5 class="heading-bar type-body">지방흡입술 + 레이저 리프팅</h5>
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_3.jpg" loading="lazy" alt="지방흡입술 + 레이저리프팅 시술하는 모습" class="img-w100">
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_img_10.jpg" loading="lazy" alt="지방흡입술 + 레이저리프팅 시술 후 모습" class="img-w100">
                                        </div>
                                    </li>
                                </ul>
                            </div>
							<div class="inner-circle type-body">
								<ul class="inner-circle__list">
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											보다 정밀한<br>
											지방 흡입
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											피부 탄력<br>
											회복
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											비교적 간편하고<br>
											빠른 회복
										</div>
									</li>
									<li class="inner-circle__item txt-new1">
										<div class="vertical-box">
											줄어든<br>
											흉터 부담
										</div>
									</li>
								</ul>
							</div>

                        </div><!--//new-section__box-->
						<div class="new-section__box">
                            <div class="new-style2">
                                <h4 class="new-style2__tit tit-new3">
                                    처진 팔은 수술적인 리프팅을 통해<br class="hidden-tm">
									<strong class="weight-regular">안쪽부터 개선</strong>합니다
                                </h4>
                                <p class="new-style2__txt txt-new1">
									허벅지는 전반적으로 앞쪽은 근육이 밀집되어 있고 허벅지 안쪽부터 뒤쪽까지는 지방이 형성됩니다.<br class="hidden-tm">
									또, 체중이 급격히 줄어든 이후라면 탄력을 잃은 피부가 중력을 따라 허벅지 안쪽 또는 뒤쪽 방향으로 처지게 되죠.
								</p>
								<p class="new-style2__txt2 txt-new2">
                                    따라서 보다 효과적인 허벅지 리프팅을 위해서는<br>
									<span class="n-color-body2">팔의 전반적인 입체감을 살려 지방을<br class="hidden-tm"> 줄이는 동시에, 팔 안쪽 처짐에 대한 개선</span>을 중점으로 해야 합니다.
                                </p>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">부분 팔 리프팅</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_11.jpg" loading="lazy" alt="부분 팔 리프팅 시술 위치" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														피부 처짐이 겨드랑이 부위에 국한된 경우, 겨드랑이 안쪽의 늘어난 피부와 피하지방을
														절제하고 봉합하여 처짐을 개선할 수 있습니다. <br><br>

														절개 위치가 겨드랑이 주름에 가려질 수 있고, 바노바기 피부과와의 협진을 통한 흉터
														관리로 흉터가 거의 보이지 않게 됩니다.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
								<div class="img-style4 type-body">
	                                <h5 class="heading-bar type-body">전체 팔 리프팅</h5>
									<div class="img-style4__wrap">
										<div class="img-style4__img">
											<img src="../../images/body/lifting/lifting_img_12.jpg" loading="lazy" alt="전체 팔 리프팅 시술 위치" class="img-w100">
										</div>
										<div class="img-style4__box">
											<div class="img-style4__outer">
												<div class="img-style4__inner">
													<p class="img-style4__txt txt-new1">
														팔을 자유롭게 움직여도 자연스러움이 유지됨과 동시에 흉터가 최대한 보이지 않을
														위치를 고려하여 겨드랑이에서부터 팔꿈치까지의 처진 피부를 절제해 당겨줍니다.  <br><br>
														비교적 긴 길이의 절개가 필요한 것이 사실이지만 팔 안쪽을 통한 절개로 눈에 잘 띄지
														않으며, 바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
													</p>
												</div>
											</div>
										</div>
									</div>
	                            </div>
							</div>
						</div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절제가 필요한 바디 리프팅의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm"> 수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-body3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-body3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 3시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 10~14일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												필요 없음
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
										지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div><!-- //new-tab-content-->
			<div class="new-tab-content page-back">
				<div class="new-section">
					<div class="new-style1 type-overlab">
						<h4 class="new-style1__tit tit-new3">
							전반적인 <strong class="weight-regular">바디 밸런스</strong>를 고려하여<br class="hidden-tm">
							보다 효과적입니다
						</h4>
						<p class="new-style1__txt txt-new1">
							등은 신체 중 가장 넓은 부위이기 때문에 처짐이 쉽게 드러나며, 특히 여성의 경우에는 브래지어 착용으로 인해 그 처짐이<br class="hidden-tm">
							더욱 부각될 수 있습니다. 그래서 등 처짐을 효과적으로 개선하기 위해서는 전체적인 신체 균형을 고려하는 집도의의<br class="hidden-tm">
							폭넓은 시야와 감각이 필요하죠.
						</p>
						<p class="new-style1__txt2 txt-new2">
							바노바기는 오랜 바디 성형 경험과 노하우를 통해
							<span class="n-color-body2">신체의 전반적인 균형과 라인을 살리는<br class="hidden-tm"> 등 리프팅</span>을 진행하여 보다 효과적이고 만족스럽습니다.
						</p>
						<div class="new-style1__img">
							<img src="../../images/body/lifting/lifting_img_13.jpg" loading="lazy" alt="" class="img-normal"/>
						</div>
						<div class="new-style1__area">
							<h5 class="heading-bar type-body">바노바기 등 리프팅</h5>
						</div>
						<div class="inner-box type-list">
							<div class="new-description type-lifting type-pd0">
								<ul class="new-description__list">
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											다년간의 지방흡입 경험을 토대로 한, 높은 바디 밸런스 이해도
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											바디 성형 전체를 아우르는 노하우와 감각
										</p>
									</li>
									<li class="new-description__item">
										<p class="new-description__txt txt-new1">
											<span class="new-description__plus">+</span>
											보다 정밀하고 안전한 피부지방 절제술
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
                    <div class="new-section__wrap type-gray2">
                        <div class="new-section__box">
							<div class="img-style3 type-body type-narrow type-cling">
                                <ul class="img-style3__list">
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_before_1.jpg" loading="lazy" alt="수 술 전" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2 type-gray">
                                            <div class="img-style3__vertical">
                                                BEFORE
                                            </div>
                                        </div>
                                    </li>
                                    <li class="img-style3__item">
                                        <div class="img-style3__img">
                                            <img src="../../images/body/lifting/lifting_after_1.jpg" loading="lazy" alt="수술 후 6개월" class="img-w100">
                                        </div>
                                        <div class="img-style3__caption txt-new2">
                                            <div class="img-style3__vertical">
                                                수술 후 6개월
                                            </div>
                                        </div>
                                    </li>
                                </ul>
								<p class="before-noti">
									* 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span>
								</p>
								<p class="img-style3__txt txt-new1">
									등의 처진 정도와 피부 탄력의 상태 등을 파악하여 늘어난 피부를 절제함으로써, 브래지어 라인부터 겨드랑이, 옆구리, 엉덩이
									윗부분 까지 전반적인 처짐을 개선할 수 있습니다. <br class="hidden-tm">
									절개 위치가 브래지어 라인에 가려질 수 있고, 바노바기 피부과와의 협진을 통한 흉터 관리로 흉터가 거의 보이지 않게 됩니다.
								</p>
                            </div>
                        </div><!--//new-section__box-->
                    </div>
				</div>
				<div class="new-section">
					<div class="bg-style1 type-body">
						<div class="bg-style1__wrap">
							<div class="bg-style1__area">
								<div class="bg-style1__outer">
									<div class="bg-style1__box">
										<p class="bg-style1__txt txt-new2">
											피부 절제가 필요한 바디 리프팅의 경우 환자분들의 가장 큰 고민은<br class="hidden-tm"> 수술 후 흉터에 대한 것입니다.
										</p>
										<h4 class="bg-style1__tit tit-new4">
											바노바기는 바노바기피부과와의 협진을 통한 <span class="n-color-body3">힐링 스카 프로젝트</span>를 진행하여<br class="hidden-tm">
											<span class="n-color-body3">수술 후 흉터를 더욱 세심하게 관리</span>해드립니다.
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-body">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">수술정보</h4>
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">수술시간</h5>
											<p class="operation-v2__txt txt-new1">약 2시간~3시간</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">마취방법</h5>
											<p class="operation-v2__txt txt-new1">전신마취</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
											<p class="operation-v2__txt txt-new1">약 10~14일 후 제거</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">입원기간</h5>
											<p class="operation-v2__txt txt-new1">당일 귀가</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">내원치료</h5>
											<p class="operation-v2__txt txt-new1">
												필요 없음
											</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">회복</h5>
											<p class="operation-v2__txt txt-new1">약 7~14일 후 일상생활 가능</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-body">
									<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 3){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">원</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">원</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										수술 후 욱신거리는 느낌의 통감이 있을 수 있으며, 시간이 지날수록 점차 완화됩니다.<br>
										수술 부위에 평소보다 당겨지는 듯한 느낌이 들 수 있습니다.<br>
										지방 흡입을 진행한 부위에 한하여 얼얼한 느낌의 작은 통증이 느껴질 수 있습니다.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
										<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
									</div>
									<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
	            </div>
			</div><!-- //new-tab-content-->
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
