<%
	type = "detail"
	page = "body"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>

<!-- Content -->
<div class="body detail-common">
	<section class="fs_section bodyFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-body">
					건강한<span class="color-body0">몸<span class="style-comma">,</span></span> 균형잡힌<span class="color-body0">몸<span class="style-comma">,</span></span>
					<span class="detail__first-piece type-body"><span class="color-body0">그래서</span>아름다운몸</span>
				</p>
				<h3 class="detail__first-txt type-body">
					<span class="detail__first-bwrap">내 몸의 예쁜 라인<b class="detail__first-bar type-body"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-body1">바디성형</span> 디테일<span class="color-body1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section bodySection01" data-section-name="bodySection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-body type-quotation2">
		            <h4 class="detail__section-tit">
						바디성형
						바노바기는
					    <span class="color-body1">이렇게</span>합니다
		            </h4>
					<p class="detail__section-subtit">
						뛰어난 장비,<br> 그것을 다루는 뛰어난 전문의
					</p>
					<p class="detail__section-txt color-body3">
						아무리 좋은 장비라도 좋은 전문의가 사용하지 않는다면 의미가 없습니다.
						바디 성형은 무엇보다 경험에 의한 <span class="color-body1">'시술 감각'</span>과 <span class="color-body1">'신체 밸런스에 대한 이해'</span>가 중요하기 때문입니다.
						바노바기 바디 성형 전담팀은 2000년 개원 이래로 풍부한 경험을 쌓아 왔습니다.
						뛰어난 장비와 뛰어난 전문의가 만나, 균형 잡힌 아름다운 체형으로의 과감한 변신을 추구합니다.
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection02" data-section-name="bodySection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-body type-another">
					<h4 class="detail__section-tit">
						바디성형,<br>
						바노바기는<br>
						<span class="color-body1">개선책</span>이 있습니다
					</h4>
					<p class="detail__section-subtit">좀 더 아름답고 균형 잡힌 몸매를<br> 만들기 위한 노력</p>
					<p class="detail__section-txt">
						체형의 개선은 각 신체 부위의 특징과 미적 기준마다 그 방법이 달라야 합니다.
					  	그래서 <span class="color-body1">바노바기는 지방흡입뿐 아니라 보형물 이식, 부위별 지방관리, 바디 리프팅 등과 같은 다양한 기술을 보유</span>하고 있죠.
					  	상담과 체형분석기를 통한 신체의 과학적 분석, 그리고 그에 맞는 맞춤 치료, 바노바기가 효과적인 이유입니다.
					</p>
				</div>
				<!-- detail-layer -->
				<div class="detail-layer">
					<div class="detail-box body-1">
						<div class="detail-box__vertical">
							<div class="detail-box__img">수술 전후 Check 시스템</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">수술 전후 <span class="inline-block">Check 시스템</span></h5>
								<p class="detail-box__txt">
									체성분 분석, 골격근-지방, 비만진단, 신체균형,
  									부종지수, 내장지방과 성장곡선, 기초대사량, 생활습관평가
								</p>
							</div>
						</div>
					</div>
					<div class="detail-box body-2">
						<div class="detail-box__vertical">
							<div class="detail-box__img">다양한 체형 개선 프로그램</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">다양한 <span class="inline-block">체형 개선 프로그램</span></h5>
								<p class="detail-box__txt">
									보형물 이식, 일상생활 가능한 비만관리시술,<br class="hidden-t"> 바디리프팅
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //detail-layer-->
			</div>
		</div>
	</section>

	<section class="fs_section bodySection03" data-section-name="bodySection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-body type-quotation2">
					<h4 class="detail__section-tit">
						<span class="color-body1">바디성형</span>
						바노바기는<br><span class="color-body1">욕심</span>냅니다
					</h4>
					<p class="detail__section-subtit">한 번에 해야 효과적인 대용량 지방흡입</p>
					<p class="detail__section-txt color-body3">
						일반적으로 대용량 지방흡입은 한 번에 하길 꺼리는 경우가 많습니다.
						신체의 요소들이 갑작스럽게 변하여 컨디션 저하를 유발하기 때문이죠.
						때문에 기존의 대용량 지방흡입은 여러 차례에 나누어 진행되어 왔습니다.
						하지만 이 방법은 시간적으로나 수술 결과적인 면에서 효율적이지 못합니다.
						바노바기는 바디 전담팀의 노하우로 <span class="color-body1">대용량 지방흡입을 한 번에 진행할 수 있습니다. </span>
						안전과 뛰어난 효과를 동시에 욕심낸 바노바기라서 가능합니다.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection05" data-section-name="bodySection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						바디 성형,<br>바노바기는<br><span class="body-color1">오래</span>갑니다
					</h4>
					<p class="detail__section-subtit">예뻐진 몸, 더 오래 유지하실 수 있도록 바노바기가 지켜봅니다ิ</p>
					<p class="detail__section-txt">
						지방흡입 등 바디 성형을 하신 분들은 다시 살이 찌지는 않을까, 탄력이 떨어지지는 않을까 걱정하십니다. 바디 성형은 일단 아름답게 몸을 조각한 후에 스스로 잘 관리하는 일도 무척 중요합니다. 그래서 바노바기는 더 오래 유지하고 관리하실 수 있게,<span class="color-body1">지방흡입 후 사후관리 프로그램, 식단 관리 프로그램, 비수술적 비만 치료 프로그램 등을 체계적으로 설계</span>하여 제공합니다. 우리들의 영원한 숙제인 다이어트, 바노바기가 똑똑한 친구가 되어 드리겠습니다.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection04" data-section-name="bodySection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						바디 성형,
						바노바기는
						<span class="color-body1">디테일</span>합니다
					</h4>
					<p class="detail__section-subtit">흉터 줄이기 위해 짜여진 관리체계,<br>힐링 스카 프로젝트</p>
					<p class="detail__section-txt">
						멋진 몸을 만들어 놓고, 흉터 때문에 자신감을 잃어버린다면 안타까운 일이 아닐 수 없겠죠.<span class="color-body1">수술로 인한 흉터는 불가피한 것이 아닙니다. </span>흉터 치료 또한 바디 성형의 일부니까요. 이 가치관을 바탕으로 바노바기는 힐링스카 프로젝트를 시작했습니다. 붉은 흉터, 파인 흉터, 볼록한 흉터 등 거의 모든 형태의 흉터를 바노바기 피부과와의 협진을 통해 파악하고, 티 나지 않는 원래의 매끈한 피부로 돌리기 위해 관리합니다.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
