<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-case">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">다양한 개성만큼이나 <span class="inline-block">다양한 방법의 적용</span></p>
				<h3 class="content-visual__tit"># <span class="color-nose8">유형별</span>코성형</h3>
				<p class="content-visual__txt2"><strong>다양한 케이스</strong>를 개선하기 위한 노력</p>
			</div>
		</div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- content-->
	<div class="content">
	  	<div class="content-wrap">
	    	<div class="content-section type-case">
	      		<div class="nose-case__wrap">
	        		<div class="content-tab">
	          			<div class="content-tab__inner">
				            <ul class="content-tab__list">
				              	<li class="content-tab__item is-active"><a href=""  class="content-tab__link" data-tab="page-hooked">매부리 절제술 / 다듬기</a></li>
				              	<li class="content-tab__item"><a href=""  class="content-tab__link" data-tab="page-arrow">화살코 / 긴 코 성형</a></li>
				              	<!--<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-upturn">들창코 / 짧은 코 성형</a></li>
				              	<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-bend">휜 코 교정술</a></li>-->
				            </ul>
	          			</div>
	        		</div>

	        		<div class="content-tab__page page-hooked is-active">
	          			<div class="content-box__box">

	            			<div class="casetype-box1">
	              				<div class="casetype-box1__wrap">
	                				<div class="casetype-box1__box type-hawk">
	                  					<h4 class="casetype-box1__tit">매부리 절제술/ 다듬기</h4>
	                  					<p class="casetype-box1__txt">깎아내는 건 여러 방법 중 하나일 뿐입니다.</p>
	                  					<div class="casetype-box1__bracket">
						                    복합 수술인 매부리코 성형,<br>
						                    <span>많은 방법 중 맞는 답을 찾는 것</span>이 핵심입니다.
	                  					</div>
	                				</div>
	              				</div>
	              				<div class="casetype-box1__bg">
	              				</div>
	            			</div><!--//casetype-box1-->
				            <div class="casetype-box2">
				              	<div class="quotation2">
				                	<p class="quotation2__txt txt-v5">정밀한 진단과 적합한 수술로  <span class="color-nose6">매부리의<br class="hidden-pt"> 재발을 방지</span>하고 <span class="inline-block"><span class="color-nose6">개선 그 이상의 효과</span>를 줍니다.</span></p>
				              	</div>
				            </div>
				            <div class="casetype-box3">
					            <ul class="casetype-box3__list">
					                <li class="casetype-box3__item nth-1">
					                  	<div class="casetype-box3__img nth-1"></div>
					                </li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	매부리코는 단순히 튀어나온 부분을 교정하는 수술이 아닙니다.<br class="hidden-m">
					                   	 	매부리의 정도와 원인, 코 뼈의 폭, 코끝의 높이와 모양 등 여러 가지 고려해야 할 인이 많은 수술이고 그에 따라 수술에
					                    	대한 접근도 다양해지죠.  만약 이러한 요인들을 무시한 채일률적인 수술을 진행하게 되면 수술 후 코가 낮아 보이거나,
					                    	콧등이 편평해 보이고 코의 각도가 어색해지는 등 또 다른 문제가 발생할 수 있습니다.<br class="hidden-m">
					                    	<strong class="content-highlight type-case">바노바기는 오랜 노하우와 정확한 진단을 통해 매부리의 재발 경향을 예측하여 수술합니다.</strong>   또한 상황에 맞게
					                    	자가조직이나 보형물을 사용하여 콧등을 높여주거나, 매부리 절골 후 콧대를  좁혀주는 등의 적합한 수술 방법을 찾아
					                    	복합적으로 진행하죠. 그렇기 때문에 <strong>환자 개개인에게 어울리는 부드러운 콧대 라인을 추구할 수 있습니다.</strong>
					                  	</p>
					                </li>
					            </ul>
				            </div>
	            			<div class="list-box">
	              				<div class="list-box__box">
	                				<div class="list-box__wrap">
	                  					<div class="list-box__vertical">
						                    <h5 class="list-box__tit tit-v3">
						                      	코성형<br class="hidden-m">
						                      	<strong>POINT</strong>
						                    </h5>
	                  					</div>
	                				</div>
	              				</div>
	              				<ul class="list-box__list">
					                <li class="list-box__item txt-v3">사납고 투박한 느낌을 주는 매부리를 다듬어 단정한 느낌의 콧대 라인 추구</li>
					                <li class="list-box__item txt-v3">처진 느낌의 코끝을 오뚝하고 돋보이게</li>
					                <li class="list-box__item txt-v3">복합적인 수술로 형태 개선</li>
	              				</ul>
	            			</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">수술정보</h4>
										<!-- <p class="operation-v2__subtit">매부리 절제술은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술시간</h5>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">마취방법</h5>
													<p class="operation-v2__txt txt-new1">정맥마취/국소마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술재료</h5>
													<p class="operation-v2__txt txt-new1">자가진피, 실리콘 등</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">내원치료</h5>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">회복</h5>
													<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">원</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">원</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
												<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--수술정보-->
	        		</div><!-- //content-tab__page-->
			        <!-- //매부리 절제술/다듬기 -->

			        <div class="content-tab__page page-arrow">
	          			<div class="content-box__box">
	            			<div class="casetype-box1 type-arrow">
	              				<div class="casetype-box1__wrap">
	                				<div class="casetype-box1__box">
	                  					<h4 class="casetype-box1__tit">화살코 / 긴 코성형</h4>
	                  					<div class="casetype-box1__bracket">
	                    					같은 수술이라도 더 만족스러운 결과는 <br>
	                    					<span>의사의 감각</span>에 달린 것입니다.
	                  					</div>
	                  					<p class="casetype-box1__txt">이상적인 코끝과 각도로 개선합니다.</p>
	                				</div>
	              				</div>
	              				<div class="casetype-box1__bg">
	              				</div>
	            			</div><!--//casetype-box1-->
	            			<div class="casetype-box2">
	              				<div class="quotation2">
					                <p class="quotation2__txt txt-v5">
					                  	길이를 결정짓는 것은  <span class="color-nose6">결국 비율과<br class="hidden-pt"> 각도라는 것</span>을 이해해야 합니다.
					                </p>
	              				</div>
	            			</div>
				            <div class="casetype-box3">
				              	<ul class="casetype-box3__list">
				                	<li class="casetype-box3__item nth-1">
				                  		<div class="casetype-box3__img nth-2"></div>
				                	</li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	화살코는 얼굴 전체의 균형에 비해 코가 길고 코끝이 아래로 처져있는 경우를 말합니다. <br class="hidden-m">
					                    	이는 비중격 연골을 잘라내어 코 길이를 조절하거나 코끝을 올려 교정하는 방식으로 비교적 쉽게 개선이 가능합니다. <br><br>

					                    	하지만 그래서 아름다워 보이느냐는 또 다른 얘기일 수 있습니다. 같은 길이의 코라도 인중에서부터 코 아래까지가
					                    	이루고 있는 각도에 따라 그 느낌이 다르기 때문입니다.   <strong class="content-highlight type-case">결국 코 길이를 줄이거나 코끝을 올리는 것 모두,
					                    	그 환자에게 가장 어울리는 각을 찾아 그 형태를 완성할 수 있는 의사가 수술하는 것이 중요한 것입니다. </strong>
					                    	우수한 미적 감각과 풍부한 경험을 가진 바노바기가 자신 있는 이유입니다.
					                  	</p>
					                </li>
				              	</ul>
				            </div>
				            <div class="list-box">
				              	<div class="list-box__box">
				                	<div class="list-box__wrap">
				                  		<div class="list-box__vertical">
				                    		<h5 class="list-box__tit tit-v3">
				                      			코성형<br class="hidden-m">
				                      			<strong>POINT</strong>
				                    		</h5>
				                  		</div>
				                	</div>
				              	</div>
				              	<ul class="list-box__list">
					                <li class="list-box__item txt-v3">인중과 코 아래가 이루는 각도를 이상적으로 교정</li>
					                <li class="list-box__item txt-v3">비율적으로 긴 코를 다듬어 더 어려 보이는 느낌 강조</li>
					                <li class="list-box__item txt-v3">처진 코 끝을 올려 돋보이게</li>
				              	</ul>
				            </div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">수술정보</h4>
										<!-- <p class="operation-v2__subtit">화살코 / 긴 코 성형은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술시간</h5>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">마취방법</h5>
													<p class="operation-v2__txt txt-new1">정맥마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술재료</h5>
													<p class="operation-v2__txt txt-new1">필요없음</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">내원치료</h5>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">회복</h5>
													<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">원</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">원</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
												<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--수술정보-->
	        		</div><!-- //content-tab__page-->
	        		<!-- //화살코 / 긴 코 성형 -->

	        		<div class="content-tab__page page-upturn low">
	          			<div class="content-box__box">
	            			<div class="casetype-box1 type-low">
	              				<div class="casetype-box1__wrap">
					                <div class="casetype-box1__box">
					                  	<h4 class="casetype-box1__tit">들창코 / 짧은 코 성형</h4>
					                  	<p class="casetype-box1__txt2">
					                    	철저한 계산으로 무리 없이 곧게 늘려줍니다<br>
					                    	그래서 <strong>더 안전하고 자연스럽습니다</strong>
					                  	</p>
					                </div>
	              				</div>
	              				<div class="casetype-box1__bg">
				                	<div class="comparison type-low">
					                  	<ul class="comparison__list">
					                    	<li class="comparison__item nth-5">
					                      	<span class="comparison__subject">before</span>
					                    	</li>
					                    	<li class="comparison__item nth-6">
					                      	<span class="comparison__subject">after</span>
					                    	</li>
					                  	</ul>
				                	</div>
	              				</div>
	            			</div><!--//casetype-box1-->
				            <div class="casetype-box2">
				              	<div class="quotation2">
				                	<p class="quotation2__txt txt-v5">
				                  		인위적이기 때문에 부작용이 생기는 것입니다.<br class="hidden-pt">
				                  		<span class="inline-block"><span class="color-nose6">뼈와 피부의 자연스러움을 계산</span>할 수 있는<br class="hidden-pt"> 안목과 기술이 필요합니다.</span>
				                	</p>
				              	</div>
				            </div>
				            <div class="casetype-box3">
				              	<ul class="casetype-box3__list">
					                <li class="casetype-box3__item nth-1">
					                  	<div class="casetype-box3__img nth-3"></div>
					                </li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	코가 짧은 들창코는 교정하기 까다로운 케이스로 인식됩니다. 있는 것을 교정하는 것이 아닌, 없는 것을 새로 만들어야
					                    	하는 수술이기 때문이죠. 이런 수술은 자칫 잘못 접근하게 되면 자연스럽지 못한 결과를 얻게 되거나 재발 위험 등의
					                    	부작용이 있습니다. <br><br>


					                   	 	그렇기 때문에  <strong class="content-highlight type-case">들창코 / 짧은 코 성형은 다년간 쌓아온 수술 경험을 토대로 한 철저한 계산과 세밀한 수술이
					                   	 	필요합니다.</strong>  코 길이 연장에 필요한 자가연골이나 비중격 연골을 적합한 크기로 잘라 뼈의 부담을 줄이고, 피부의
					                    	당김 정도까지 계산해 길이를 맞춰야 합니다. 그렇게 해야 코 끝이 틀어지거나 이전의 형태로 돌아가는 것을 막을 수
					                    	있습니다. 이런 체계적인 계산으로 진행됐기에 더욱 자연스럽고 안전합니다.
					                  	</p>
					                </li>
				              	</ul>
				            </div>
	            			<div class="list-box">
					            <div class="list-box__box">
						            <div class="list-box__wrap">
						                <div class="list-box__vertical">
						                  	<h5 class="list-box__tit tit-v3">
						                    	코성형<br class="hidden-m">
						                    	<strong>POINT</strong>
						                  	</h5>
						                </div>
						            </div>
					            </div>
					            <ul class="list-box__list">
					              	<li class="list-box__item txt-v3">짧은 길이의 코를 시원한 느낌으로 연장</li>
					              	<li class="list-box__item txt-v3">콧구멍의 노출을 줄여 단정한 이미지 강조</li>
					              	<li class="list-box__item txt-v3">섬세한 연장으로 자연스러움 추구</li>
					            </ul>
	          				</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">수술정보</h4>
										<!-- <p class="operation-v2__subtit">들창코 / 짧은 코 성형은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술시간</h5>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">마취방법</h5>
													<p class="operation-v2__txt txt-new1">정맥마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술재료</h5>
													<p class="operation-v2__txt txt-new1">당일 귀가</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">내원치료</h5>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">회복</h5>
													<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">원</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">원</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
												<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	          			<!--수술정보-->
	        		</div><!-- //content-tab__body-->
	        		<!-- //들창코 / 짧은 코 성형 -->

	        		<div class="content-tab__page page-bend bend">
	          			<div class="content-box__box">
	            			<div class="casetype-box1 type-bend">
			              		<div class="casetype-box1__wrap">
			                		<div class="casetype-box1__box">
			                  			<h4 class="casetype-box1__tit">휜 코 교정술</h4>
			                  			<p class="casetype-box1__txt2">
						                    <strong class="color-nose6">코의 기능적 문제</strong>를 본질적으로 바로잡는다면<br>
						                    모양은 저절로 아름다워집니다.
			                  			</p>
			                		</div>
			              		</div>
				              	<div class="casetype-box1__bg">
				                	<div class="comparison type-bend">
				                  		<ul class="comparison__list">
						                    <li class="comparison__item nth-7">
						                      	<span class="comparison__subject">before</span>
						                    </li>
						                    <li class="comparison__item nth-8">
						                      	<span class="comparison__subject">after</span>
						                    </li>
				                  		</ul>
				                	</div>
				              	</div>
	            			</div><!--//casetype-box1-->
				            <div class="casetype-box2">
				              	<div class="quotation2">
				                	<p class="quotation2__txt txt-v5">
				                  		복잡한 코의 내부까지 교정하는 것은<br class="hidden-pt"> 까다롭습니다.<br class="hidden-m"> 하지만 <span class="color-nose6">근본적인<br class="hidden-pt"> 문제 해결</span>을 위해 반드시 해야 합니다.
				                	</p>
				              	</div>
				            </div>
				            <div class="casetype-box3">
					            <ul class="casetype-box3__list">
					                <li class="casetype-box3__item nth-1">
					                  	<div class="casetype-box3__img nth-4"></div>
					                </li>
					                <li class="casetype-box3__item nth-2">
					                  	<p class="casetype-box3__txt txt-v1">
					                    	휜 코를 겉만 바르게 돌리려는 것은 의미가 없습니다. 대부분의 경우, 휜 코는 내부를
					                    	구성하는 조직들이 전체적으로 함께 휘어져 있기 때문입니다. 그래서 휜 코는 외형적인 콤플렉스뿐만 아니라
					                    	기능적인 문제를 동반하기도 합니다.<br><br>


					                    	특히 비중격이 심하게 휘어있을 경우에는 코막힘, 비염, 코골이, 편두통 등을 유발하는데요, 이를 바로잡기 위해서는
					                    	<strong class="content-highlight type-case">초기 진단 과정에서 코의 내부를 정확히 파악하고 비중격 성형술이나내-외측 절골술, 외측연골 교정 등
					                      	복합적인 수술을 상태에 맞게 진행하는 것이 중요합니다. </strong>
					                    	건물을 바로 세우듯이 코의 기본 뼈대와 구성 조직을 반듯하게 하는 것이죠. 물론 이런 내부 조직의 복합적인 수술을
					                    	정밀하게 진행하기 위해서는 고도의 전문성과 경험을 갖춘 의사가 집도해야 합니다. 
					                  	</p>
					                </li>
					            </ul>
				            </div>
	            			<div class="list-box">
					            <div class="list-box__box">
					              	<div class="list-box__wrap">
					                	<div class="list-box__vertical">
					                  		<h5 class="list-box__tit tit-v3">
					                    		코성형<br class="hidden-m">
					                    		<strong>POINT</strong>
					                  		</h5>
					                	</div>
					              	</div>
					            </div>
					            <ul class="list-box__list">
					              	<li class="list-box__item txt-v3">코의 구조적 바탕을 교정하여 코의 기능을 원활하게</li>
					              	<li class="list-box__item txt-v3">얼굴의 전체적인 휘어짐과 근육의 발달을 파악해 자연스럽고 곧은 이미지 추구</li>
					            </ul>
	          				</div>
	          			</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">수술정보</h4>
										<!-- <p class="operation-v2__subtit">휜 코 교정술은 회복이 비교적 빠릅니다</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술시간</h5>
													<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">마취방법</h5>
													<p class="operation-v2__txt txt-new1">전신마취</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
													<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">수술재료</h5>
													<p class="operation-v2__txt txt-new1">실리콘 등</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">내원치료</h5>
													<p class="operation-v2__txt txt-new1">약 2회</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">회복</h5>
													<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">원</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">원</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												정맥마취로 인한 통증 걱정은 줄였습니다.<br>
												마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다.<br>
												많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.<br>
												열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.<br>
												래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다.<br>
												보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
												<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
											</div>
											<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	         			<!-- //들창코 / 짧은 코 성형 -->
	        		</div><!-- //content-tab__page-->
	      		</div>
	    	</div>
	  	</div>
	</div><!-- //content-->
	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
