<%
	type = "content"
	page = "nose"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-nose">
	   <div class="content-visual__box">
		   <p class="content-visual__txt1">코 성형의 기본, 그래서 더 중요한</p>
		   <h3 class="content-visual__tit"># <span class="color-nose5">낮은 코</span> 성형 </h3>
		   <p class="content-visual__txt2">이미지를결정짓는또렷한<strong>콧대</strong></p>
	   </div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="low-box1">
			  	<div class="content-section type-first">
					<div class="content-section__wrap type-left type-unique">
				  		<div class="content-section__box w-5 type-nose">
							<div class="nose-side__img">
					  			<h4 class="content-section__tit type-left">
									<span class="content-section__number type-0"><span class="content-section__number-wrap">01</span></span>
									이유를<br class="hidden-pt"> 이해해야<br>
									<strong class="color-nose5">정교한 수술</strong>이<br>
									가능합니다<br>
					  			</h4>
								<p class="content-section__txt1 type-special">
									<strong>사람들은 왜 높은 코를 선호할까요?</strong><br>
									코는 얼굴의 중심에 위치해 있으며 가장 도드라진 부위입니다.
								</p>
					  			<div class="quotation2 type-another tit-v4">

						  			따라서 코의 높이에 따라<br>
						  			<span class="color-nose5">얼굴의 음영</span>이 달라지고 <span class="color-nose5">인상</span>이 달라집니다


					  			</div>
							</div>
							<p class="content-section__txt1">
							  	코가 높으면 얼굴이 입체감을 갖게 되어 얼굴이 더욱 작아 보이는 효과가 있고,
							  	뚜렷한 인상을 주기도 합니다.  때문에 상대적으로 코가 낮은 분들은 콧대를
							  	높이는 것으로 전체적인 이미지를 바꾸고 싶어 합니다.<br>
							  	바노바기 낮은 코 성형은 코를 높이는 목적의 수술이지만 단순히 코를 높이는
							  	것에만 집중하지 않습니다.
							</p>
							<!-- pc용 -->
							<p class="content-section__txt2">
							  	<span class="content-highlight type-nose">왜 높아야 하는지, 또 얼마나 높여야 하는지, 어떤 재료를 사용할 </span>
							  	<span class="content-highlight type-nose">것인지 충분히 그 이유를 파악하고 그에 맞는 수술법을 선택하는 것, </span>
							  	<span class="content-highlight type-nose"><span class="color-nose5">바노바기 코 성형의 기본</span>입니다.</span>
							</p>
				  		</div>
					  	<div class="content-section__box w-7 hidden-tm type-nose">
							<div class="content-section__img type-nose1">
						  		<img src="../../images/nose/nose_low_img02.jpg" loading="lazy" alt="" class="">
							</div>
					  	</div>
					</div>
			  	</div>
			</div>
			<div class="low-box2">
			  	<div class="content-section type-number">
					<h4 class="content-section__tit type-center">
				  		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
				  		바노바기 <strong><br class="hidden-pt">낮은 코 성형</strong>은<br class="hidden-pt"> <span class="content-highlight2 type-nose">매뉴얼</span>이<br class="hidden-tm"> 없습니다
					</h4>
					<div class="content-section__wrap">
				  		<div class="content-section__box w-6">
							<div class="content-section__img type-nose1">
					  			<img src="../../images/nose/nose_low_img03.jpg" loading="lazy" alt="낮은 코 성형" class="">
							</div>
				  		</div>
				  		<div class="content-section__box w-6 type-another">
							<div class="brace type-nose">
					  			<h5 class="brace__tit">바노바기 코 성형의 <span class="color-nose5">다양성</span></h5>
					  			<p class="brace__txt txt-v5">더욱 아름답고 조화로운 코 성형을 위해<br> 단일로도, 복합적으로도 진행</p>
							</div>
							<p class="content-section__txt1">
							  	<strong>바노바기의 낮은 코 성형은 한가지 방식으로 정의하기 어렵습니다.</strong><br>
							  	환자마다 접근해야 하는 수술 방식이 다르고, 사용할 보형물이 다르고, 수술하는
							  	범위가 다르기 때문이죠. 바노바기 낮은 코 성형은 정해진 매뉴얼이 없습니다.
							  	기본 수술법을 바탕으로, 환자의 얼굴 조건과 상담 내용에 맞추어 다양하고
							  	복합적인 수술을 진행합니다.
							</p>
							<p class="content-section__txt2">
							  	<span class="content-highlight type-nose">환자의 개성을 살리고, 고유 이미지와 어울리는 코 모양을 </span>
							  	<span class="content-highlight type-nose">디자인하고 구현하는 것, <span class="color-nose5">바노바기 낮은 코 성형의 핵심</span>입니다. </span>
							</p>
				  		</div>
					</div>
					<ul class="nose-detail__list">
				  		<li class="nose-detail__item nth-1">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">낮은 코 성형</h6>
					  			<p class="nose-detail__txt txt-v5">
									미간을 포함하여 코끝 바로 위까지의
									콧대를 높여주는 수술입니다
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-2">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">코 끝 성형</h6>
				  				<p class="nose-detail__txt txt-v5">
									날렵하고 세련되게 코끝을 조각하여
									얼굴에 입체감을 주는 수술법입니다.
				  				</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-3">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">콧날개 교정</h6>
					  			<p class="nose-detail__txt txt-v5">
									코의 폭을 줄여 얼굴 전체의 밸런스를 잡아
									날렵한 코와 어울리는 작고 예쁜 콧구멍
									모양으로 교정합니다.
					  			</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-4">
							<div class="nose-detail__wrap">
							  	<h6 class="nose-detail__tit tit-v2">매부리 교정</h6>
							  	<p class="nose-detail__txt txt-v5">
									코의 라인을 매끈하게 다듬어 부드럽고
									반듯한 콧등은 물론 원활한 호흡 등 코의
									기능적인 부분까지 개선합니다.
							  	</p>
							</div>
				  		</li>
					  	<li class="nose-detail__item nth-5">
							<div class="nose-detail__wrap">
							  	<h6 class="nose-detail__tit tit-v2">휜 코 교정</h6>
							  	<p class="nose-detail__txt txt-v5">
									복합적인 방법을 동원하여 코의 기능적
									문제를 개선하고 얼굴과 조화를 이루는
									반듯한 코로 교정합니다.
							  	</p>
							</div>
					  	</li>
				  		<li class="nose-detail__item nth-6">
							<div class="nose-detail__wrap">
							  	<h6 class="nose-detail__tit tit-v2">비주성형</h6>
							  	<p class="nose-detail__txt txt-v5">
									비주란 양 콧구멍 사이에 위치한 기둥 부위로,
									옆에서 보았을 때의 인중과 콧날개 위치를 고려하여
									조화로울 수 있는 형태로 개선합니다.
							  	</p>
							</div>
				  		</li>
				  		<li class="nose-detail__item nth-7">
							<div class="nose-detail__wrap">
					  			<h6 class="nose-detail__tit tit-v2">코 뼈 축소술</h6>
				  				<p class="nose-detail__txt txt-v5">
									콧대 양쪽에 넓게 발달한 뼈를 줄여주어
									콧대를 돋보이게 하고 세련된 느낌을 줄 수
									있습니다.
				  				</p>
							</div>
				  		</li>
					</ul>
					<!-- //nose-detail__list -->
			  	</div>
			</div>
			<div class="low-box3">
			  	<div class="content-section type-full type-number">
					<div class="content-section__wrap type-nose1">
				  		<div class="content-section__box w-5 type-another type-nose">
							<h4 class="content-section__tit type-top">
					  			<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
					  			<strong>높은 코</strong> 보다<br class="hidden-m">
					  			<strong>예쁜 코</strong><br class="hidden-pt">
						 		보다<br class="hidden-m">
					  			<strong class="color-nose5">어울리는 코</strong>
							</h4>
							<p class="content-section__sub-tit">
					  			앞에서, 옆에서,<br>
					  			어디에서 보아도 아름다운 코
							</p>
							<p class="content-section__txt1">
					  			<span class="inline-block">낮은 코 성형의 일차적인 목적은 콧대를 높이는 것입니다.</span>
					  			<span class="inline-block">그리고 예뻐야 하겠고, 궁극적으로는 잘 어울려야 할 것입니다.</span><br class="hidden-pm">
					  			<span class="inline-block">그래서 <span class="color-nose5">바노바기 낮은 코 성형은 코만 보지 않습니다.</span></span><br class="hidden-pm">
					  			다양한 각도에서 보아도 코의 모양이 자연스럽고 아름답도록 이마와 턱 끝의 모양까지 분석합니다.
							</p>
				  		</div>
				  		<div class="content-section__box hidden-pt">
							<div class="content-section__img type-nose2"></div>
				  		</div>
					</div><!--content-section__wrap -->
					<div class="point-box">
				  		<div class="point-box__border">
							<ul class="point-box__list">
							  	<li class="point-box__item">
									<div class="point-box__img nth-1"></div>
							  	</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
									  	<span class="point-box__number">Point 01</span>
									  	<h5 class="point-box__tit">코끝까지 정교하게</h5>
									  	<p class="point-box__txt txt-v5">
											아름다운 코의 완성은 코끝의 형태가 중요합니다. 둥근 선을
											유지하며 오뚝하게 솟은 코끝은 자연스럽게 하이라이트를
											받아 어색하지 않고 세련된 느낌을 줍니다.
									  	</p>
									</div>
					  			</li>
							  	<li class="point-box__item">
									<div class="point-box__wrap">
								  		<span class="point-box__number">Point 02</span>
										<h5 class="point-box__tit">
											재료에 대한 이해<br>
											자연스러움을 살리는 기술
										</h5>
									  	<p class="point-box__txt txt-v5">
											자가연골, 측두근막, 지방이식과 같은 자가조직에서 실리콘,
											고어텍스, 고어실리 등과 같은 보형물까지 다양한 재료와 그
											재료를 사용할 수 있는 기술력을 갖추었습니다. 그렇기
											때문에 환자의 피부 성격과 코 모양에 맞는 안전하면서도
											자연스러운 맞춤 수술이 가능합니다.
									  	</p>
									</div>
							  	</li>
					  			<li class="point-box__item">
									<div class="point-box__img nth-2"></div>
					  			</li>
							  	<li class="point-box__item">
									<div class="point-box__img nth-3"></div>
							  	</li>
					  			<li class="point-box__item">
									<div class="point-box__wrap">
						  				<span class="point-box__number">Point 03</span>
						  				<h5 class="point-box__tit">각도와 비율을 생각한 <span class="inline-block">아름다움</span></h5>
						  				<p class="point-box__txt txt-v5">
											바노바기는 정밀한 계측을 통해 이마와 입 사이의 비율을
											보고 다양한 각도를 생각한 수술을 진행합니다. 그래서
											조화롭습니다.
						  				</p>
									</div>
					  			</li>
							</ul>
				  		</div>
					</div>
			  	</div><!-- content-section -->
			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">바노바기 낮은 코 성형은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간~1시간 30분</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">입원기간</h5>
										<p class="operation-v2__txt txt-new1">당일 귀가</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									래피드 힐링 프로젝트를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
									마취가 풀리는 과정에서 약간의 이물감이 있을 수 있습니다.<br>
									처음 약간의 통증이 있을 수 있으나 처방된 진통제를 먹으면 곧 진정되고 시간이 지날수록 점차 완화됩니다.<br>
									실밥제거나 소독을 할 때 통증은 살짝 따끔한 정도입니다.<br>
									열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
