<%
    type = "content"
    page = "nose"
%>

<% include ../_include/_header %>

<div class="container">
	<% include ../_include/_lnb %>

    <div class="content">
        <div class="content-wrap">
			<div class="content-section type-season1">
                <div class="season1-box hidden-m">
    				<img src="../../images/nose/scaling/scaling_visual_img.jpg" loading="lazy" alt="">
    				<img src="../../images/nose/scaling/scaling_img_01.jpg" loading="lazy" alt="">
    			</div>
    			<div class="season1-box2 hidden-pt">
    				<img src="../../images/nose/scaling/scaling_visual_img_m.jpg" loading="lazy" alt="">
    				<img src="../../images/nose/scaling/scaling_img_01_m.jpg" loading="lazy" alt="">
    			</div>
            </div>
        </div>
    </div>

    <% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
