<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- 상단 비주얼 -->
	<div class="content-visual type-nose-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border type-nose-reduction">
				<p class="content-visual__txt1 type-nose-reduction">자연스럽게 잡히는 얼굴 전체의 조화</p>
				<h3 class="content-visual__tit type-nose-reduction"># <span class="type-nose-reduction">큰 코 축소술</span></h3>
				<p class="content-visual__txt2 type-nose-reduction">비율을 맞춰 더욱 <strong>돋보이게</strong></p>
			</div>
		</div>
	</div> <!-- //visual -->
	<!-- //상단 비주얼 -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="reduction-box1">
	        	<div class="content-section type-first">
	          		<h4 class="content-section__tit type-top">
			            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			            <strong>코가 크면,</strong><br class="hidden-pt">얼굴 다른 부위들의<br>
			            매력이 돋보이기 <br class="hidden-pt">
			            <strong>힘듭니다</strong>
	          		</h4>
	          		<div class="content-section__wrapper clearfix">

			            <div class="content-section__thumb type-unique">
			              	<img class="hidden-m" src="../../images/nose/need-01-pt.png" loading="lazy" alt="모델이미지">
			              	<img class="hidden-pt" src="../../images/nose/need-01-m.png" loading="lazy" alt="모델이미지">
			            </div>
			            <div class="content-section__txt-box type-unique">
				            <p class="content-section__txt1">
				                코는 얼굴의 중앙에 위치함과 동시에 가장 입체적인 기관으로, <br class="hidden-m">
				                단연 얼굴에서 가장 눈에 띄는 부위라 할 수 있습니다.<br>
				                <strong class="type-bigger">이런 코가 그 크기까지 상대적으로 크다면 어떨까요?</strong>
				            </p>
			              	<p class="content-section__txt1">
			                	<span class="content-highlight type-nose-reduction1">때문에 필요한 것이 <strong>큰 코 축소술</strong>입니다.</span><br>
			                	큰 코 축소술은 말 그대로 얼굴의 전체적인 비율에 어울리도록 코의 크기를 개선하는 수술로, <br class="hidden-tm">
			                	코 자체의 세련된 느낌을 줌과 동시에 얼굴의 다른 부위들 또한 돋보일 수 있게 합니다. <br class="hidden-m">
			                	또, 얼굴 전체의 균형을 잡아주기 때문에 인상이 조화로우면서도 또렷해 보이는 효과가 있습니다.
			              	</p>
			              	<div class="reduction-effects quotation2">
				                <h5 class="reduction-effects__tit tit-v2">
				                  	큰 코 축소술의 효과
				                </h5>
				                <ol class="reduction-effects__list">
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">01</span>
				                    	<p class="reduction-effects__txt1">또렷해지는 인상</p>
				                  	</li>
					                <li class="reduction-effects__item">
					                    <span class="reduction-effects__numbering">02</span>
					                    <p class="reduction-effects__txt1">부드럽고 세련된 코 모양</p>
					                </li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">03</span>
				                    	<p class="reduction-effects__txt1">얼굴의 전체적인 부각 효과</p>
				                  	</li>
				                </ol>
			              	</div>
			            </div>
	          		</div>
	        	</div>
	      	</div>
	      	<div class="reduction-box2">
	        	<div class="ideal-reduction">
	          		<h5 class="ideal-reduction__tit">
	            		이상적인
	            		<strong class="content-highlight type-nose-reduction3">큰 코 축소술</strong>
	          		</h5>
	          		<div class="ideal-reduction__wrapper">
	            		<div class="ideal-reduction__wrapper type-bg-t">
	              			이상적인 코축소술 모델
	            		</div>
	            		<div class="ideal-reduction__wrapper type-bg">
	              			이상적인 코축소술 모델
	              			<div class="reduction-effects quotation2">
				                <ol class="reduction-effects__list">
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">01</span>
				                    	<p class="reduction-effects__txt1">조화로운 비율에 맞는 크기</p>
				                  	</li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">02</span>
				                    	<p class="reduction-effects__txt1">삼차원적인 크기 조정</p>
				                  	</li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">03</span>
				                    	<p class="reduction-effects__txt1">이미지에 어울리는 모양</p>
				                  	</li>
				                </ol>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	        	<!-- content-section -->
	      	</div>
	      	<div class="reduction-box3">
	        	<div class="content-section">
		          	<div class="content-section__wrapper type-bg">
		            	<h4 class="content-section__tit type-center">
		              		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
		              		<span class="content-highlight type-nose-reduction2">복합적인 수술</span>이기에, <br>전문의의 실력이<br class="hidden-pt">
		              		<strong>중요합니다</strong>
		            	</h4>
		            	<p class="content-section__txt1">
		              		큰 코  축소술은 코의 가장 기본적인 형태를 이루는 코 뼈에서부터, <br class="hidden-m">
		              		연골, 연부 조직에 이르기까지 거의 모든 조직들에 대한 교정이 필요한 수술입니다.
		            	</p>
			            <p class="content-section__txt1">
			              	두텁고 넓은 코의 상단은 외측 절골술을 통해 코 뼈를 안쪽으로 모아주고 내측 절골술로서 그 넓이를 줄여줍니다. <br class="hidden-tm">
			              	코의 하단은 높이를 유지하거나 올리면서 폭을 줄이는 것을 목표로 하여,<br class="hidden-m">
			              	비중격의 전방부를 낮추고 이에 맞게 외측연골과 콧날개 쪽의 연골을 줄이고 재배치하죠.
			              	기본적인 전체 크기를 잡고 나면 코 끝을 오뚝하게 다듬고, 콧날개 폭을 줄이는 등 <span class="inline-block">모양도 잡아주어야 합니다.</span>
			            </p>
			            <p class="content-section__txt3 txt-v5">
			              	이렇게 복합적인 개선이 필요한 수술이기 때문에 <br>
			              	큰 코 축소술은 코 성형에 대한 <span class="color-reduction2">전반적인 이해</span>와<br class="hidden-pt"> <span class="color-reduction2">풍부한 경험</span> 을 가진 전문의가 <span class="inline-block">집도하는 것이 중요합니다.</span>
			            </p>
			            <div class="content-section__wrapper face">
			              	외측 절골술 + 내측 절골술 + 비중격 교정 + 코 끝 성형 + 콧날개 축소술
			            </div>
		          	</div>
		          	<div class="content-section__wrapper type-bg2">
		            	<div class="nose-team">
		              		<h5 class="nose-team__tit">
		                		바노바기
		                		<strong>코 성형 전담팀</strong>
		              		</h5>
			              	<p class="nose-team__txt1">
			                	<strong>코성형 전담팀</strong>은 수많은 코성형 경험을 통해<br class="hidden-m">
			                	본인의 원하는 스타일의 코로 개선하고자하며,<br class="hidden-pt"> 어느 각도에서도 돋보이는 코모양을 자랑합니다.
			              	</p>
			              	<div class="nose-team__thumb">
			                	<img class="hidden-tm" src="../../images/nose/docs-p.png" loading="lazy" alt="성형외과 전문의 김재곤원장, 성형외과 전문의 김학영 원장, 성형외과 전문의 한규남원장, 성형외과 전문의 이현택 원장, 성형외과 전문의 노용준 원장, 성형외과 전문의 이산하 원장">
			                	<img class="hidden-pm" src="../../images/nose/docs-t.png" loading="lazy" alt="성형외과 전문의 김재곤원장, 성형외과 전문의 김학영 원장, 성형외과 전문의 한규남원장, 성형외과 전문의 이현택 원장, 성형외과 전문의 노용준 원장, 성형외과 전문의 이산하 원장">
			                	<img class="hidden-pt" src="../../images/nose/docs-m.png" loading="lazy" alt="성형외과 전문의 김재곤원장, 성형외과 전문의 김학영 원장, 성형외과 전문의 한규남원장, 성형외과 전문의 이현택 원장, 성형외과 전문의 노용준 원장, 성형외과 전문의 이산하 원장">
			              	</div>
		            	</div>
		          	</div>
	        	</div>
	        	<!-- content-section -->
	      	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">수술정보</h4>
							<!-- <p class="operation-v2__subtit">바노바기 큰 코 축소 성형은 회복이 비교적 빠릅니다</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술시간</h5>
										<p class="operation-v2__txt txt-new1">약 1시간 30분~2시간</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">마취방법</h5>
										<p class="operation-v2__txt txt-new1">정맥마취/전신마취</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">실밥제거</h5>
										<p class="operation-v2__txt txt-new1">약 5일 후 제거</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">수술재료</h5>
										<p class="operation-v2__txt txt-new1">자가진피, 실리콘 등</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">내원치료</h5>
										<p class="operation-v2__txt txt-new1">약 2회</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">회복</h5>
										<p class="operation-v2__txt txt-new1">약 5~7일 후 일상생활 가능</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">수술 후 체감 통증</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">원</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">원</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									래피드 힐링 프로젝트를 통해 보다 빠르고 적극적인 회복을 도와드립니다.<br>
									마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.<br>
									실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다.<br>
									부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다.</p>
									<p class="pain-v2__noti txt-new4">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</p>
								</div>
								<a href="<?php echo SITE_UPLOAD_URL?>/knowledge/rhinoplasty.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	    </div>
	</div><!-- //content -->
	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
