<%
	type = "detail"
	page = "nose"
%>
<% include ../_include/_header %>
<% include ../_include/_lnb %>

<!-- Content -->
<div class="nose detail-common">
    <section class="fs_section noseFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-nose">
					얼굴<span class="color-nose0">의 조화</span><span class="style-comma">,</span> 보형물<span class="color-nose0">의 조화</span><span class="style-comma">,</span>
					<span class="detail__first-piece type-nose"> 수술방법<span class="color-nose0">의 조화</span></span>
				</p>
				<h3 class="detail__first-txt type-nose">
					<span class="detail__first-bwrap">진짜 맞춤식 성형<b class="detail__first-bar type-nose"></b></span><br>
					<strong class="detail__first-point">바노바기 <span class="color-nose1">코성형</span> 디테일<span class="color-nose1">.</span></strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section noseSection01" data-section-name="noseSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-nose">
	              	<h4 class="detail__section-tit">
	                	<strong>코성형</strong><span class="color-comma">,</span><br>
						<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
						<strong class="color-nose1">이렇게</strong> 합니다
	              	</h4>
	              	<p class="detail__section-subtit">다각도로 고객의 이미지까지 생각하는<br class="hidden-pt"> 1:1 맞춤 컨설팅</p>
	              	<p class="detail__section-txt">
						아무리 예뻐 보이는 코라도 사람에 따라 못나 보일 수도 있습니다.
						코는 얼굴의 정 중앙에 위치하여, 눈이나 입, 얼굴 형태 등에 따라 상대적으로 보이기 때문입니다.
						그래서 바노바기 코 성형은 무엇보다 환자분 얼굴의 조화와 비율을 중요하게 생각하며,
						<span class="color-nose2">환자분들이 원하는 이미지에 맞는 이상적인 모양을 제안</span>합니다.
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection02" data-section-name="noseSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-nose type-wide type-quotation2">
				  	<h4 class="detail__section-tit">
					  	<strong>코성형</strong><span class="color-comma">,</span><br>
					  	<span class="detail__section-bwrap">바노바기는</span><br>
					  	<strong class="color-nose1">자신</strong> 있습니다
				  	</h4>
				  	<p class="detail__section-subtit">코 성형 방법의 다양성,<br> 그리고 그것이 가능한 기술력</p>
				  	<p class="detail__section-txt">
						아름다운 코를 위해서는 코의 높이, 길이, 코끝의 모양, 뼈대의 넓이, 피부 층의 두께,
						콧구멍, 보형물의 종류 등 고려해야 할 것들이 상당히 많습니다.
						그래서 코 성형은 복합적인 설계가 필요한 수술입니다.
						<span class="color-nose3">바노바기는 다년간 쌓아온 노하우로 거의 모든 코 성형을 진행</span>하며,
						같은 수술이라도 일률적으로 접근하지 않습니다.
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section noseSection03" data-section-name="noseSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-nose">
	  				<h4 class="detail__section-tit">
	  					<strong>코성형</strong><span class="color-comma">,</span><br>
	  					<span class="detail__section-bwrap">바노바기는</span><br class="hidden-m">
	  					<strong class="color-nose1">능숙하게</strong> 합니다
	  				</h4>
	  				<p class="detail__section-subtit">코 성형 재료의 체계적인 선택과 배치</p>
	  				<p class="detail__section-txt">
						보형물과 자가조직. 어느 것이 가장 이상적이다, 안전하다 말씀드리기는 어렵습니다.
						코의 모양이나 피부 특성에 따라 기준은 달라질 수 있으니까요.
						코 성형 재료는 무엇을 사용하느냐보다 어떻게, 얼마나 적절하게 사용하느냐가 더 중요합니다.
						<span class="color-nose2">바노바기 코 성형 전담팀은 다년간 축적된 데이터와 노하우로 적절한 재료를 선택</span>하기 때문에
						더욱 안심하고 예뻐질 수 있습니다.
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4 type-nose">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">코성형재료</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">자가 조직</h5>
								<p class="layer-doc4__txt">
									귀 연골, 비중격 연골,
									자가 진피, 지방 조직 등..
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">인공 보형물</h5>
								<p class="layer-doc4__txt">
									실리콘, 고어텍스,
									실리고어 등..
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section noseSection04" data-section-name="noseSection04">
		<div class="detail__inner type-full">
			<div class="detail__popup type-nose">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">래피드 힐링 프로젝트<span class="color-nose1">.</span></h5>
					<p class="detail__popup-subtit">부기, 멍, 통증의 정도를 약 30~50%까지<br class="hidden-pt"> 줄여주는 케어 프로그램</p>
					<div class="detail__popup-scroll">
						<ul class="detail__popup-list">
							<li class="detail__popup-item nth-1">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">정교한 수술 기법</h6>
									<p class="detail__popup-txt">풍부한 임상경험과 고도의 수술 테크닉으로 수술 시 발생하는 조직의 손상과 출혈을 줄입니다.</p>
								</div>
							</li>
							<li class="detail__popup-item nth-2">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">수술 전후 약물 치료</h6>
									<p class="detail__popup-txt">정밀한 검사 결과를 바탕으로 환자 개인에 맞는 약물 치료를 병행하여 보다 빠른 회복이 가능하게 합니다.</p>
								</div>
							</li>
							<li class="detail__popup-item nth-3">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">래피드 힐링 복용약</h6>
									<p class="detail__popup-txt">수술 전후에 미세 혈액순환을 활성화하는 래피드 힐링 복용약을 복용하여  신체를 부기와 멍에 내성이 강할 수 있도록 개선합니다</p>
								</div>
							</li>
							<li class="detail__popup-item nth-4">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Cica Bio Arnica Extractim Cream</h6>
									<p class="detail__popup-txt">바르는 크림 형태의 치료제로 통증을 완화하고 부기와 멍을 줄입니다</p>
								</div>
							</li>
							<li class="detail__popup-item nth-5">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">캄레이저</h6>
									<p class="detail__popup-txt">레이저 치료기로, 통증 완화 및 소염 작용, 부종 흡수에 효과적입니다.</p>
								</div>
							</li>
						</ul>
					</div>
					<a href="" class="detail__popup-close js-popup-close">닫기</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-nose">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-nose type-quotation2">
						<h4 class="detail__section-tit">
							<strong>코성형</strong><span class="color-comma">,</span><br>
							<span class="detail__section-bwrap">바노바기는</span><br>
							<strong class="color-nose4">디테일</strong>합니다
						</h4>
						<p class="detail__section-subtit">환자와의 소통으로 탄생한 회복 프로그램, 래피드 힐링 프로젝트</p>
						<p class="detail__section-txt">
							코 성형을 진행하다 보면 의외로 많은 분들이 결과에 대한 걱정만큼이나
							오랜 회복기간, 부기, 멍, 통증에 대한 걱정을 가지고 있었습니다.
							바노바기는 이런 환자분들의 진짜 걱정을 알기에,
							<span class="color-nose4">성형 후 회복기간을 적극적으로 단축시키는 치료 프로그램, 래피드 힐링 프로젝트</span>를 시작했습니다.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-nose">
			<div class="detail__section-set">
				바노바기의 <br class="hidden-pt">래피드 힐링 프로젝트
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-nose">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection05" data-section-name="noseSection05">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-nose type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-normal type-right type-nose type-quotation2">
	  					<h4 class="detail__section-tit">
	  						<strong>코성형</strong><span class="color-comma">,</span><br>
	  						<strong class="detail__section-bwrap color-nose4">환자의 소리</strong>에<br class="hidden-m">
	  						귀 기울입니다
	  					</h4>
	  					<p class="detail__section-subtit">코성형 전담팀,<br class="hidden-t"> 정기 컨퍼런스를 거르지 않는 이유</p>
	  					<p class="detail__section-txt">
							<span class="color-nose4">바노바기 코 성형 전담팀은 디테일한 수술 완성도를 위해 매월 2회 정기적으로 컨퍼런스를 진행</span>합니다.
							집도의들은 물론, 상담팀, 간호팀, 치료 케어팀 등 코 성형 파트 전 직원이 모여
							환자별 케이스 분석, 환자들의 수술 후 불편 사항 점검, 특이 케이스에 대한 논의 등을
							활발하게 진행하고, 전문 지식에 대한 교육과 공유도 빼놓지 않습니다.
							조금 번거로울 수 있지만 <?=$sinceYear?>년 동안  이 과정을 소홀히 하지 않았기에 지금의 바노바기 디테일이 가능하다고 생각합니다.
							더 나은 진료, 더 만족스러운 수술, 더 편안한 의료 서비스를 위한 바노바기의 디테일한 노력입니다.
	  					</p>
	  				</div>
					<div class="layer-img"></div>
    			</div>
    		</div>
    	</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
