@charset "UTF-8";
@import "mixins";
@import "vendor";

/*상단 비주얼*/
/*타이틀폰트*/
.tit-v1{margin: 0;font-size:20px; font-weight:500;line-height:1.33;
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		font-size: 1.7rem;
	}
}

.tit-v2{margin:0; font-size: 20px; font-weight: 500; line-height: 1.33;
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		font-size: 1.6rem;
	}
}
.tit-v3{margin:0; font-size: 30px; font-weight: 300;
		@media only screen and (max-width:$tablet-size){
		}
		@media only screen and (max-width:$mobile-size){
			font-size: 1.8rem;
		}
}

.tit-v4{margin:0; font-size: 20px; font-weight: 400;
		@media only screen and (max-width:$tablet-size){
		}
		@media only screen and (max-width:$mobile-size){
			font-size: 1.7rem;
		}
}
/*텍스트폰트*/
.txt-v1{margin:0; font-size:15px; font-weight: 300; line-height:1.8;
	strong{font-weight: 500;}
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		font-size:1.4rem;
		line-height: 1.7;
	}
}
.txt-v2{font-size:14px; line-height:1.5; font-weight: 300;
	strong{font-weight: 500;}
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		font-size:1.3rem;
		line-height: 1.7;
	}
}

.txt-v3{margin:0; font-size:16px; line-height:1.7; font-weight: 300;
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		font-size:1.4rem;
	}
}


.txt-v4{margin:0; font-size:18px; font-weight: 400;
	@media only screen and (max-width:$tablet-size){
	}
	@media only screen and (max-width:$mobile-size){
		font-size:1.6rem;
	}
}

.txt-v5{margin:0; font-size: 17px; font-weight: 300;-ms-word-break: keep-all;word-break: keep-all;
		@media only screen and (max-width:$tablet-size){
		}
		@media only screen and (max-width:$mobile-size){
			font-size: 1.5rem;

		}
}

.content-visual{overflow: hidden; position: relative; width: 100%; max-width: 1280px; margin: 0px auto;
	@include background('../images/body/body_fat_img01.jpg','#F3F2F2 center bottom / cover'); text-align: center;
	&.type-nose{@include background('../images/nose/nose_low_img01.jpg','#EEF1F6 center bottom/cover'); }
	&.type-nose-reduction{@include background('../images/nose/reduction-visual.jpg','#F3F2F2 center bottom/cover');}
	&.type-special{@include background('../images/special/special_artecoll_img01.jpg','#F3F2F2 center bottom/cover');}
	&.type-reoperation{@include background('../images/reoperation/reoperation_eye_img01.jpg','#F3F2F2 center bottom/cover');}
	&.type-reoperation-nose{@include background('../images/reoperation/reop-nose-main-p.jpg','#F3F2F2 center bottom/cover');}
	&.type-contour{@include background('../images/contour/contour_chin_img01.jpg','#F3F2F2 center bottom/cover');}
	&.type-chest-extension{@include background('../images/chest/chest_extention_img01.jpg','#F3F2F2 center bottom/cover');}
	&.type-cell-transplant{@include background('../images/svf/svf_transplant_section01.jpg','#F3F2F2 center bottom/cover');}
	&.type-cheekbone{@include background('../images/contour/contour_cheekbone_section01.jpg','#f3f2f2 center bottom/cover');}
	&.type-site{@include background('../images/body/body_site_img01.jpg','#f3f2f2 center bottom/cover');}
	&.type-case{@include background('../images/nose/nose_case_img01.jpg','#f3f2f2 center bottom/cover');}
	&.type-eye-incisional{@include background('../images/eye/incisional-visual.jpg','#f3f2f2 center bottom/cover');}
	&.type-eye-double{@include background('../images/eye/double/double_bg_01.jpg','#f3f2f2 center bottom/cover');}
	&.type-eye-correction{@include background('../images/eye/eye-correction-main-p.jpg','#f3f2f2 center bottom/cover');}
	&.type-middle-age{@include background('../images/eye/middleage-visual.jpg','no-repeat #f3f2f2 center bottom/cover');}
	&.type-reduction{@include background('../images/chest/chest_reduction_img01.jpg','no-repeat #f3f2f2 center bottom/cover');}
	&.type-design{@include background('../images/special/special_design_img01.jpg','no-repeat #f3f2f2 center bottom/cover');}
	&__box{position: relative; width: 100%; height: 0; overflow: hidden; padding-bottom: 91.9%;}
	&__border{position: absolute; left: 18px; top: 18px; bottom: 18px; right: 18px; border: 1px solid #fff; z-index: 1;}
	&__border.type-cheekbone{border:none;}
	&__txt1{font-weight: 300; margin:70px 0 0 0; font-size: 24px; color: #555; letter-spacing: 10px;
		&.type-middle-age{color:#fff;}
		&.type-eye-correction{color:#fff;}
		&.type-nose-reduction{color: #fff;}
	}
	&__tit{margin:13px 0 0 0; font-size: 52px; font-weight: 500; color: #333;
		&.type-middle-age{color:#fff;}
		&.type-eye-correction{color:#fff;}
		&.type-nose-reduction{color: #fff;}
	}
	&__txt2{margin:0; font-size:18px; color: #555; letter-spacing: 12px; font-weight:300;
		&:before{display:block; width:2px; height:43px; margin:28px auto 20px; @include background('../images/common/ellipsis.png','no-repeat'); content:'';}
		& strong{font-weight:500;}
		&.type-reoperation-nose strong{font-weight: 500;}
		&.type-cheekbone{letter-spacing: 15px;}
		&.type-middle-age{color:#fff;
			&:before{@include background('../../images/common/white-ellipsis_w.png','');}
		}
		&.type-eye-correction{color:#fff;
			&:before{@include background('../../images/common/white-ellipsis_w.png','');}
		}
		&.type-reoperation-nose{letter-spacing: 15px;}
		&.type-nose-reduction{color: #fff;
			&:before{@include background('../../images/common/white-ellipsis_w.png','');}
		}
	}
	&__txt3{
		&.type-cheekbone{ position: absolute; bottom:0; left:0; right:0; text-align:center;font-size:12px; font-weight:300; color:#ffffff; letter-spacing: -1px; display:none;}
		&.type-nose-reduction{color: #fff;}
	}
	.caution-para1{position: absolute; bottom:0; left:0; right:0;  text-align:center; display: none;}
	@media only screen and (max-width:$minpc-size3){
		&.type-special{@include background('../images/special/special_artecoll_img01_768.jpg','#F3F2F2 center top/ cover');}
		&.type-contour{@include background('../images/contour/contour_chin_img01_768.jpg','#F3F2F2 center top/ cover');}
		&.type-cell-transplant{@include background('../images/svf/svf_transplant_section01.jpg','#f3f2f2 no-repeat center bottom / cover');}
		&.type-cheekbone{@include background('../images/contour/contour_cheekbone_section01_990.jpg','#f3f2f2 center / cover no-repeat');}
		&.type-site{@include background('../images/body/body_site_img01_768.jpg','#f3f2f2 center bottom / cover');}
		&.type-reduction{@include background('../images/chest/chest_reduction_img01_768.jpg','#f3f2f2 no-repeat center top / cover');}
		&.type-eye-incisional{@include background('../images/eye/incisional-visual.jpg','no-repeat #f3f2f2 center bottom / cover');}
	}
	@media only screen and (max-width:$tablet-size){@include background('../images/body/body_fat_img01_768.jpg','#F3F2F2 center bottom / cover');
		&.type-nose{@include background('../images/nose/nose_low_img01_768.jpg','no-repeat #EEF1F6 center bottom');}
		&.type-nose-reduction{@include background('../images/nose/reduction-visual-t.jpg','no-repeat #F3F2F2 center bottom / cover');}
		&.type-special{@include background('../images/special/special_artecoll_img01_768.jpg','no-repeat #F3F2F2 center bottom / cover');}
		&.type-reoperation{@include background('../images/reoperation/reoperation_eye_img01_768.jpg','no-repeat #F3F2F2 center bottom / cover');}
		&.type-reoperation-nose{@include background('../images/reoperation/reop-nose-main-t.jpg','no-repeat #F3F2F2 center bottom / cover');}
		&.type-contour{@include background('../images/contour/contour_chin_img01_768.jpg','#F3F2F2 center bottom/ cover');}
		&.type-chest-extension{@include background('../images/chest/chest_extention_img01_768.jpg','#F3F2F2 center bottom/ cover');}
		&.type-cell-transplant{@include background('../images/svf/svf_transplant_section01_990.jpg','#F3F2F2 center bottom/ cover');}
		&.type-site{@include background('../images/body/body_site_img01_768.jpg','#F3F2F2 center bottom/ cover');}
		&.type-case{@include background('../images/nose/nose_case_img01_768.jpg','#F3F2F2 center bottom/ cover');}
		&.type-reduction{@include background('../images/chest/chest_reduction_img01_768.jpg','#F3F2F2 center bottom/ cover');}
		&.type-eye-incisional{@include background('../images/eye/incisional-visual_990.jpg','no-repeat #F3F2F2 center 0/ cover');}
		&.type-eye-double{@include background('../images/eye/double-visual-t.jpg','no-repeat #F3F2F2 center 0/ cover');}
		&.type-eye-correction{@include background('../images/eye/eye-correction-main-t.jpg','no-repeat #F3F2F2 center 0/ cover');}
		&.type-middle-age{@include background('../images/eye/middleage-visual_990.jpg','no-repeat #F3F2F2 center bottom/ cover');}
		&.type-design{@include background('../images/special/special_design_img01_768.jpg','no-repeat #F3F2F2 center bottom/ cover');}
		&__box{padding-bottom:116.464%;}
		&__border{left: 12px; top: 12px; bottom: 12px; right: 12px;
			&.type-eye-incisional{border-color:transparent;}
		}
		&__txt1{margin-top:50px; font-size:22px;}
		&__tit{font-size:50px;}
		&__txt2{font-size:17px;
			&:before{margin:20px auto 16px; height:30px;}
			&.type-cheekbone{letter-spacing: 13px;}
			&.type-eye-correction{
				&:before{margin:16px auto 16px;}
			}
		}
		&__txt3{
			&.type-cheekbone{font-size:12px; font-weight:300; color:#ffffff; letter-spacing: -1px; display:block; bottom:13px;}
		}
		.caution-para1{ bottom:13px;display: block;}
	}
	@media only screen and (max-width:$mobile-size){@include background('../images/body/body_fat_img01_640.jpg','no-repeat #F3F2F2 center bottom/ cover');
		&.type-nose{@include background('../images/nose/nose_low_img01_640.jpg','no-repeat #EEF1F6 center bottom/ cover');}
		&.type-nose-reduction{@include background('../images/nose/reduction-visual-m.jpg','no-repeat #F3F2F2 center center/ cover');}
		&.type-special{@include background('../images/special/special_artecoll_img01_640.jpg','no-repeat #F3F2F2 center center/ cover');}
		&.type-reoperation{@include background('../images/reoperation/reoperation_eye_img01_640.jpg','no-repeat #F3F2F2 center center/ cover');}
		&.type-reoperation-nose{@include background('../images/reoperation/reop-nose-main-m.jpg','no-repeat #F3F2F2 center center/ cover');}
		&.type-contour{@include background('../images/contour/contour_chin_img01_640.jpg','#F3F2F2 center bottom / cover');}
		&.type-chest-extension{@include background('../images/chest/chest_extention_img01_680.jpg','#F3F2F2 center bottom / cover');}
		&.type-middle-age{@include background('../images/eye/middleage-visual_680.jpg','#747172 center 0px / cover');}
		&.type-eye-correction{@include background('../images/eye/eye-correction-main-m.jpg','#747172 center 0px / cover');}
		&.type-eye-double{@include background('../images/eye/double-visual-m.jpg','#f3f2f2 center -10px / cover');}
		&.type-site{@include background('../images/body/body_site_img01_640.jpg','#f3f2f2 center bottom 1px / cover');}
		&.type-cheekbone{@include background('../images/contour/contour_cheekbone_section01_680.jpg','#F3F2F2 center bottom / cover');}
		&.type-case{@include background('../images/nose/nose_case_img01_680.jpg','#f3f2f2 center 0px / cover');}
		&.type-design{@include background('../images/special/special_design_img01_640.jpg','no-repeat #F3F2F2 center 0px / cover');}
		&__box{padding-bottom:172.81%;}
		&__border{left: 8px; top: 8px; bottom: 8px; right: 8px;}
		&__border{
			&.type-eye-incisional{border-color:transparent;}
		}

		&__txt1{margin-top:25px; font-size:1.7rem; letter-spacing:3px;}
		&__tit{margin-top:9px; font-size:3.1rem;}
		&__txt2{font-size:1.4rem; letter-spacing:6px;
			&:before{width:2px; height:21px; margin:12px auto 15px; @include background('../images/common/ellipsis_m.png','no-repeat / 2px 21px');}
			&.type-cheekbone{letter-spacing: 0.4rem;}
			&.type-middle-age{
				&:before{ @include background('../images/common/white-ellipsis_m.png','no-repeat 2px 21px');}
			}
			&.type-eye-correction{
				&:before{margin:10px auto 8px;  @include background('../../images/common/white-ellipsis_m.png','no-repeat / 2px auto');}
			}
			&.type-nose-reduction{
				&:before{margin:10px auto 8px;  @include background('../../images/common/white-ellipsis_m.png','no-repeat / 2px auto');}
			}
			&.type-reoperation-nose{letter-spacing: 7px;}
		}
		&__txt3{
			&.type-cheekbone{font-size:1rem; font-weight:300; color:#ffffff; letter-spacing: -1px; display:block; bottom:13px;}
			&.type-cheekbone .type-unique{display: inline-block;}
		}
		.caution-para1{ bottom:13px;}
	}
	@media only screen and (max-width:$iphone-size){
		&__txt2{
			&.type-reoperation-nose{letter-spacing: 6px;}
		}
	}
}


.localNvWrapper.pt0 {
	@media only screen and (max-width:$mobile-size){
		position: absolute;
		width: 100%;
		top: 0;
		// padding-top: 45px;
	}
}
.color-guide1{color: #821eeb;}
.color-guide2{color: #fff;}
.content-section{text-align:center; margin-top:240px;
	$this:&;
	&.type-eye-middle-age{margin-top:105px;}
	&__tit{position:relative; display:inline-block; margin:0; font-size:56px; font-weight:200; line-height:1.33;  box-sizing:border-box;
		& strong{font-weight:400;}
		& + .box-style1__txt1{margin-top:60px;}
		& + #{$this}__txt1{margin-top:30px;}
		& + #{$this}__wrap{margin-top:90px;}
		@media only screen and (max-width:$minpc-size3){font-size:46px;}
	}
	&__tit{
		&.type-left #{$this}__number{top: 0px;left: 0px;}
		&.type-top  #{$this}__number{top: 0px; left: 0px;}
		&.type-center #{$this}__number{top: 0px;left: calc(50% - 12px)}
	}
	&__tit{
		&.type-left{text-align: left; padding-left: 30px; padding-top: 110px;}
		&.type-top{text-align: left; padding-left: 2px;padding-top:140px;}
		&.type-center{padding-top: 140px;}
	}
	&__txt{margin: 0;}
	&__tit-small{font-size:50px;}
	&__number{position:absolute; top:0px; left:-60px; font-family:$font-pt; font-size:16px; writing-mode:tb-rl;}
	&__number-wrap{position:relative; font-weight: 300;
		&:after{display:inline-block; width:1px; height:100px;margin-left: -4px;margin-top: 4px;background-color:#898989; content:'';}
	}
	&__wrap{margin-left:-16px;
		&.type-left{text-align:left;}
		&:after{display:block; clear:both; content:'';}
		&.type-nose1{width:1100px; margin:0 auto; padding-bottom:150px; @include background('../images/nose/nose_low_img04.jpg','no-repeat right bottom / contain');}
		&.type-special1{position:relative;
			& #{$this}__box.type-bottom{position:absolute; bottom:0; right:90px;}
		}
		&.type-eye-middle-age{position:relative;
			& #{$this}__box.type-bottom{position:absolute; bottom:0; right:0px;}
		}
		& + &{margin-top:120px;}
	}
	&__box{float:left; padding-left:16px; box-sizing:border-box; text-align:left;
		&.w-2{width:16.66%;}
		&.w-3{width:25%;}
		&.w-4{width:33.33%;}
		&.w-5{width:41.66%;
			&.type-nose{width:44%}
		}
		&.w-7{width:58.33%;
			&.type-nose{width:56%;}
			&.type-eye-middle-age{width: 63.53%;}
		}
		&.w-6{width:50%;
			&.type-another{padding-right:90px;}
		}
		&.w-8{width:66.66%;}
		&.w-9{width:75%;}
		&.w-11{width:92%;}
		&.w-12{width:100%;}
		&.type-another0{padding-left:0;}
		&.type-another2{padding-left:46px;}
		&.type-another3{padding-left:74px;}
	}
	&__txt1{position:relative; margin:40px 0 0 0; font-size:15px; line-height:2.1; color:#666;
		& strong{font-weight:500;}
		& + &{margin-top:40px;
			&.type-another{margin-top:30px;}
		}
		&.type-another{margin-top:70px;}
		&.type-0{margin-top:0;}
	}
	&__txt2{margin:40px 0 0 0; font-size:17px; font-weight:400; color:#333; line-height:1.8;}
	&__txt2 strong{font-weight:500}
	&__sub-tit{margin:60px 0 0 0; font-size:25px; font-weight:300;}
	&__img{
		&.type-special2,&.type-special3,&.type-special4,&.type-special5,&.type-special6{
			& img{width:100%;}
		}
		&.type-special1{
			& img{position:absolute; bottom:0; right:90px; max-width:40%;}
		}
		&.type-special6{text-align:center;
			& img{display:inline-block;}
		}
		// &.type-special5{width:1280px; max-width:1190px;}
	}
	&__info{position:relative}
	&__point{font-size:20px; font-weight:500; color:#333;
		&.type-special{color:#035dbd;}
	}
	&__notice{ font-size:11px; padding:10px 0; font-weight:300;
		@media only screen and (max-width:$mobile-size){
			font-size:1.0rem
		}
	 }
	@media only screen and (max-width:$tablet-size){margin-top:100px;
		&.type-margin{margin-top:0;}
		&.type-eye-middle-age{margin-top:0;}
		&__tit{
			&.type-left #{$this}__number{top: 0px;left: 0px;}
			&.type-top  #{$this}__number{top: 0px; left: 0px;}
			&.type-center #{$this}__number{top: 0px;left: calc(50% - 12px)}
		}
		&__tit{display: inline-block; font-size:52px;
			& + .box-style1__txt1{margin-top:40px;}
			&.type-another{margin-top:-140px;}
		}
		&__tit-small{font-size:48px;}
		&__box{width:100% !important; padding:0;
			&.w-6{width:50%;
				&.type-another{position:relative; margin-top:25px; padding:0px 58px;}
			}
			&.type-another2{padding-left:0px;}
			&.type-another3{padding:0 20px;}
			& + &{margin-top:40px;}
		}
		&__wrap{width:100%; margin-left:0;
			&.type-nose1{position:relative; width:calc(100% + 65px); padding-bottom:200px; background:none;
				&:before{position:absolute; top:0; right:0; width:100%; height:100%;
					@include background('../images/nose/nose_low_img04_768.jpg','no-repeat right bottom / contain');z-index:-1; content:'';}
				& #{$this}__tit{
					& + #{$this}__txt1{margin-top:180px;}
				}
			}
			& + &{margin-top:60px;}
			&.type-special1{position:relative;
				& #{$this}__box.type-bottom{position:static; bottom:auto; right:auto; padding-left:0; margin-top:0px;}
			}
		}
		&__img{ box-sizing:border-box;
			&.type-nose1{
				& img{width:100%;}
			}
			&.type-special1{padding:0 30px;
				& img{position:static; width:100%; max-width:100%;}
			}
			&.type-special2{text-align:center; padding-right:66px;
				& img{width:100%;}
			}
			&.type-special3{position:relative; width:100%; padding-bottom:39.12%;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%;
					@include background('../images/special/special_artecoll_img04_t.jpg','no-repeat center center / contain');  content:'';}
				& img{display:none;}
			}
			&.type-special4{text-align:center; padding:0 30px;
				& img{width:100%;}
			}
		}

	}
	@media only screen and (max-width:$mobile-size){margin-top:50px;
		&.type-margin{margin-top:0;}
		&__number{font-size:1.3rem;}
		&__tit{
			&.type-left #{$this}__number{ left: 0px;top: 0px;}
			&.type-top  #{$this}__number{    top: 0px; left: 0px;}
			&.type-center #{$this}__number{top: 0px;left: calc(50% - 12px)}
		}
		&__tit{
			&.type-left{padding-left: 15px;padding-top: 59px;}
			&.type-top{text-align: left; padding-left: 3px;padding-top: 73px;}
			&.type-center{padding-top: 77px;}
		}
		&__number-wrap{position:relative;
			&:after{display:inline-block; width:1px; height:50px; margin:5px auto 0; margin-left: -4px; background-color:#898989; content:'';}
		}
		&__tit{padding-top:68px; font-size:3.5rem;
			& + .box-style1__txt1{margin-top:25px;}
			& + #{$this}__txt1{margin-top:25px;}
			& + #{$this}__wrap{margin-top:25px;}
			&.type-another{margin-top:-68px;}
		}
		&__tit-small{font-size:3rem;}
		&__txt1{margin-top:25px; font-size:1.5rem; line-height:1.8;
			&.type-info{line-height:2;}
			& + &{margin-top:25px;
				&.type-another{margin-top:20px;}
			}
			&.type-another{margin-top:40px;}
		}
		&__box{
			&.w-6{
				&.type-another{padding:0;}
			}
			&.w-5{
				&.type-another{padding:0 15px;}
			}
			& + &{margin-top:25px;}
			&.type-another3{padding:0;}
		}
		&__txt2{margin-top:25px; font-size:1.7rem; line-height:1.6; box-sizing:border-box;}
		&__wrap{
			&.type-nose1{position:relative; width:100%; padding-bottom:0;
				&:before{display:none;}
				& #{$this}__tit{
					& + #{$this}__txt1{margin-top:33px;}
				}
			}

			&.type-special1{position:relative;
				& #{$this}__box.type-bottom{margin-top:0;}
			}
			& + &{margin-top:45px;}
		}
		&__img{position:relative; width:100%; height:0;
			&.type-nose1{padding-bottom:100%;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%;
					@include background('../images/nose/nose_low_img03_m.jpg','center top / cover'); content:''; }
				& img{display:none;}
			}
			&.type-nose2{padding-bottom:135.93%;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/nose/nose_low_img04_640.jpg','center top / cover'); content:'';}
			}
			&.type-special1{padding-bottom:90.74%;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%;
					@include background('../images/special/special_artecoll_img02_m.png','center top / cover'); content:'';}
				& img{display:none;}
			}
			&.type-special2{padding-bottom:160.31%;
				&:before{position:absolute; top:0; left:0; width:calc(100% - 16px); height:100%;
					@include background('../images/special/special_artecoll_img03_640.jpg','center top / cover'); content:'';}
				& img{display:none;}
			}
			&.type-special3{ padding-bottom:28.75%;
				&:before{
					@include background('../images/special/special_artecoll_img04_m.jpg','center top / cover'); content:'';
				}
				& img{display:none;}
			}
			&.type-special4{padding-bottom:108.13%;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%;
					@include background('../images/special/special_artecoll_img05_m.jpg','center top / cover'); content:'';}
				& img{display:none;}
			}
		}
		&__sub-tit{margin-top:25px; font-size:1.7rem;}
		&__point{font-size:1.9rem;}
		&__notice{ font-size:1rem; padding:10px 15px;}
	}
}

.quotation{position:relative; margin-top:40px; padding:26px; border:5px solid #eee; box-sizing:border-box;  font-size:20px; font-weight:400; color:#333; text-align:center; line-height:1.65;
	&:before{position:absolute; top:-13px; left:6px; display:block; width:17px; height:16px; @include background('../images/nose/quotation_left4.png',''); content:'';}
	&:after{position:absolute; bottom:-13px; right:6px; display:block; width:17px; height:16px; @include background('../images/nose/quotation_right.png',''); content:'';}
	&.type-eye-middle-age{border:none; text-align:left;
			&:before{position:absolute; top:-13px; left:calc(50% - 8px); display:block; width:17px; height:16px; @include background('../images/eye/quotation-left.png','no-repeat 0 0 / 13px auto'); content:'';}
			&:after{position:absolute; bottom:-13px; left:calc(50% - 8px); display:block; width:17px; height:16px;  @include background('../images/eye/quotation-right.png','no-repeat 0 0 / 13px auto'); content:'';}
		@media only screen and (max-width:$mobile-size){
			&:before{top:-10px; left:calc(50% - 3px); display:block; width:17px; height:16px; @include background('../images/eye/quotation-left_680.png','no-repeat 0 0 / 6px auto');}
			&:after{bottom:-30px; left:calc(50% - 3px); display:block; width:17px; height:16px; @include background('../images/eye/quotation-right_680.png','no-repeat 0 0 / 6px auto');}
		}
	}
	&.type-eye-correction{border:none; text-align:center;
			&:before{position:absolute; top:65px; left:calc(50% - 7px); display:block; width:14px; height:12px; @include background('../images/eye/eye-correction-left-pm.png','no-repeat 0 0 / 14px auto'); content:'';}
			&:after{position:absolute; bottom:65px; left:calc(50% - 7px); display:block; width:14px; height:12px; @include background('../images/eye/eye-correction-right-pm.png','no-repeat 0 0 / 14px auto'); content:'';}
			@media only screen and (max-width:$mobile-size){
				&.type-eye-correction{border:none; text-align:center;
					&:before{position:absolute; top:45px; left:calc(50% - 3px); display:block; width:7px; height:6px; @include background('../images/eye/eye-correction-left-pm.png','no-repeat 0 0 / 7px auto');}
					&:after{position:absolute; bottom:45px; left:calc(50% - 3px); display:block; width:7px; height:6px; @include background('../images/eye/eye-correction-right-pm.png','no-repeat 0 0 / 7px auto'); content:'';}
				}
			}
	}
	@media only screen and (max-width:$mobile-size){margin-top:25px; padding:18px 15px; font-size:1.6rem; border-width:4px;
		&:before{top:-10px; left:6px; width:13px; height:12px; @include background('../images/nose/quotation_left4_m.png','no-repeat 0 0 / 13px 12px');}
		&:after{bottom:-10px; right:6px; width:13px; height:11px; @include background('../images/nose/quotation_right_m.png','no-repeat 0 0 / 13px 11px');}
		&.type-another{margin-right:-105px;}
	}
	&.type-chest-extension{border:1px solid #4a4b4d; margin:0;
		&:before{position:absolute; top:- 20px; left:-14px; display:block; width:15px; height:14px; @include background('../images/chest/doublequote_left.png','no-repeat 0 0 / auto 14px'); content:'';
			@media only screen and (max-width:$mobile-size){ top:-15px; left:-12px; width:8px; height: 7px;
					@include background('../images/chest/doublequote_left_680.png','no-repeat center top/8px auto'); content:'';}
			}
		&:after{position:absolute; bottom:-20px; right:-14px; display:block; width:15px; height:14px; @include background('../images/chest/doublequote_right.png','no-repeat'); content:'';
			@media only screen and (max-width:$mobile-size){ bottom:-15px; right:-12px; background-size:8px auto; width:8px; height: 7px; @include background('../images/chest/doublequote_right_680.png','no-repeat');}
		}
	}
}
.quotation2{position:relative; display: inline-block; padding:30px 7%; border:4px solid #b2b2b2; text-align:center; border-radius:10px 10px 10px 10px; background-color:#fff; box-sizing:border-box;
	$this:&;
	&.type-special{margin-top:150px;}
	&.type-contour{margin-top:60px;	}
	&.type-list{margin-top:90px; padding:60px 50px;}
	&:before,&:after{position:absolute; display:inline-block; width:48px; height:32px; content:'';}
	&:before{ top: -19px; left: -4px; @include background('../images/common/q_left_m.png','no-repeat center center');}
	&:after{right:-4px; bottom:-19px; @include background('../images/common/q_right_m.png','no-repeat center center');}
	&__txt{color: #333333;}
	&__txt{
		& strong{font-weight: 500;}
		&.type-margin{margin-top: 9px;}
		span{color: #9f9f9f;}
	}
	&__list{margin:0; padding:0; text-align:left;}
	&__item{position:relative; padding-left:10px; font-size:19px; color:#666; list-style:none;
		&.type-tit{font-weight:400; color:#fe561b;}
		&:before{position:absolute; top:4px; left:0; display:block; line-height:1; content:'-';}
		& + &{margin-top:22px;}
	}
	& strong{font-weight:500;}
	@media only screen and (max-width:$tablet-size){
		&.type-special{margin-top:0px;}
		&.type-contour{margin-top:0;}
	}
	@media only screen and (max-width:$mobile-size){ padding: 16px 4%;border-width:2px; border-radius: 5px;
		&:before,&:after{position:absolute; display:inline-block; width:24px; height:16px; content:'';}
		&:before{top:-8px; left:-3px; background-size:24px 16px;}
		&:after{right:-3px; bottom:-12px; background-size:24px 16px;}
		&__txt{
			&.type-margin{margin-top: 5px;}
		}
	}
}
.content-highlight{padding:2px; line-height:1.7;
	&.type-nose{background-color:#fff2f9; line-height:1;}
	&.type-case{background-color:#ffd9e3; color:#333333;}
	&.type-special{background-color:#d9f1fc; line-height:1;}
	&.type-reoperation{background-color:#ffbaba; line-height:1; color:#333; font-weight:400;}
	&.type-reoperation2{padding:0 2px; background-color:#ffe3e3; line-height:1; color:#333;}
	&.type-contour{background-color:#e5edff; color:#333;}
	&.type-chest-extension{background-color:#ebd9ff; color:#333; line-height:inherit; font-weight:400;}
	&.type-cheekbone{background-color:#e5edff; color: #333; line-height:inherit; font-weight:400;}
	&.type-chest{background-color:#ebd9ff; color: #333; line-height:inherit; font-weight:400;}
	&.type-eye-middle-age{background-color:#deeaff; color: #333; line-height:inherit; font-weight:500;}
	&.type-eye-middle-age2{background-color: rgba(65, 73, 78, 0.9); color: #b5cfed; line-height:inherit; font-weight:500;}
	&.type-eye-middle-age3{background-color:#deeaff;  line-height:inherit; font-weight:500; color:#333;
		&.type-font{font-style:italic;}
	}

	&.type-eye-middle-age4{background-color:#0841a7; color:#fff; line-height:inherit; font-weight:400;}
	&.type-eye-middle-age5{background-color:#dae8fe; color:#003333; line-height:inherit; font-weight:400;}
	&.type-eye-correction1{background-color: #308f76; color: #fff;display: inline ;line-height:180%; font-weight:400; padding: 0 2px;}
	&.type-eye-correction3{background-color: #daece8;color: #333333; display: inline ;line-height:180%; font-weight:400; padding: 0 2px;}
	&.type-eye-correction4{background-color: #308f76;color: #fff; display: inline ;line-height:180%; font-weight:400; padding: 0 2px;}
	&.type-eye-correction5{background-color: #fff;color: #ff3000; display: inline ;line-height:180%; font-weight:500; padding: 0 2px;}
	&.type-eye-correction6{background-color: #333333;color: #ffffff; display: inline-block ;line-height:180%; font-weight:500; padding: 0 5px;}
	&.re-nose-timing1{background-color: #333333; color: #ffd8e1; display: inline ;line-height:180%; font-weight:400; padding: 0 2px;}
	&.type-nose-reduction1{background-color: #ffeef7; color: #333; display: inline; line-height: 180%; font-weight: 300; padding: 0 2px;}
	&.type-nose-reduction2{background-color: #333333; color: #d4f6fc; display: inline ;line-height:180%; font-weight:400; padding: 0 2px;}
	&.type-nose-reduction3{background-color: #333333; color: #fff; display: inline ;line-height:180%; font-weight:400; padding: 0 2px;}
	@media only screen and (max-width:$mobile-size){display:inline; padding:0px 2px;}
	&.type-eye-correction6{padding: 0 2px;}

}
.content-highlight2{position:relative; display:inline-block; font-weight:400; color:#fff;
	&:after{position:absolute; width:100%; height:90%; top:4%; left:0;  content:''; z-index:-1;}
	&.type-nose:after{background-color:#e765a7;}
	&.type-special:after{background-color:#003378;}
	&.type-contour{background-color:#6e9eff; line-height:1.2;}
	&.type-body{background-color:#fe561b;}
	&.type-eye-correction1:after{background-color: #308f76; top:7%;}
	&.type-eye-correction2:after{background-color: #0a8165; top:7%;}
	&.type-eye-correction3{color: #ff3800; z-index: 1;}
	&.type-eye-correction3:after{background-color: #fff; top:7%;}
	&.re-nose-timing{color: #ffd8e1; z-index: 1;}
	&.re-nose-timing:after{height: 100%; background-color: #333333; top: 0%;}


	@media only screen and (max-width:$tablet-size){
		// &.type-eye-correction1:after{top:2%;}
		&.type-eye-correction2:after{top:2%;}
		&.type-eye-correction3:after{top:2%;}
		&.type-contour{padding-top: 6px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-contour{padding-top: 4px;}
	}
}
.content-highlight3{position:relative; display:inline-block; font-weight:400; color:#333;
	&:after{position:absolute; width:100%; height:30%; bottom:7%; left:0;  content:''; z-index:-1;}
	&.type-special:after{background-color:#d9f1fc;}
}
.respon-img{position:absolute; top:0; left:0; width:100%;}
.justify{
	&__list{text-align:justify; margin:22px 0 -26px; font-size:20px;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{display:inline-block;}
	@media only screen and (max-width:$mobile-size){
		&__list{margin:10px 0 -14px; font-size:1.4rem;}
	}
}
/*중괄호*/
.brace{position:relative; display: inline-block;  padding:0px 12%; color:#333; text-align:center; box-sizing:border-box;
	&__tit{margin:0; font-size:28px; font-weight:400;}
	&__txt{color: #333333; height: 98px; display: table-cell; vertical-align: middle; line-height: 1.8;}
	&__txt strong{font-weight: 500;}

	&:before,&:after{position:absolute; top:0; bottom:0; width:37px; height:135px; margin:auto 0; content:'';}
	&.type-guide{
		&:before{left:0;width: 32px;height: 98px; @include background('../images/guide/symbol_left.png',' 0 0 no-repeat');}
		&:after{right:0;width: 32px;height: 98px; @include background('../images/guide/symbol_right.png',' 0 0 no-repeat');}
	}
	&.type-body-fat{
		&:before{left:0;width: 32px;height: 98px; @include background('../images/body/symbol_left.png',' 0 0 no-repeat');}
		&:after{right:0;width: 32px;height: 98px; @include background('../images/body/symbol_right.png',' 0 0 no-repeat');}
	}
	&.type-nose{
		&:before{left:0; @include background('../images/nose/symbol_left.png',' 0 0 no-repeat');}
		&:after{right:0; @include background('../images/nose/symbol_right.png',' 0 0 no-repeat');}
	}
	&.type-incisional{
		&.type-incisional:before{ content:''; display:inline-block; position:absolute; left: -52px; top: calc(50% - 60px); width:32px; height:97px;
			@include background('../images/eye/eye_incisional_brace-left.png',' no-repeat 0 0 / 32px 97px');}
		&.type-incisional:after{ content:''; display:inline-block; position:absolute; right:-52px; top: calc(50% - 60px); width:32px; height:97px;
			@include background('../images/eye/eye_incisional_brace-right.png',' no-repeat 0 0 / 32px 97px');}

	}
	&.type-eye-middle-age{
		&:before{bottom:auto;left: -32px;top: -10px;width:16px; height:50px; @include background('../images/eye/white-brace-left.png',' no-repeat');}
		&:after{bottom:auto;right:-32px;top:-10px;width:16px; height:50px; @include background('../images/eye/white-brace-right.png',' no-repeat'); }
	}
	&.type-eye-correction{
		&:before{bottom:auto;left:5px;top:-25px;width:31px; height:97px; @include background('../images/eye/eye-correction-brace-left.png',' no-repeat');}
		&:after{bottom:auto;right:5px;top:-25px;width:31px; height:97px; @include background('../images/eye/eye-correction-brace-right.png',' no-repeat');}
	}

	&.type-eye-correction2{
		&:before{bottom:auto;left:-25px;top:25px;width:31px; height:97px; @include background('../images/eye/eye-correction-brace-left.png',' no-repeat'); }
		&:after{bottom:auto;right:-25px;top:25px;width:31px; height:97px; @include background('../images/eye/eye-correction-brace-right.png',' no-repeat');}
	}
	&.type-basic{
		&.type-basic:before{ content:''; display:inline-block; position:absolute; left:0; top:0px; width:32px; height:97px; @include background('../images/contour/contour_cheekbone_brace-left.png',' no-repeat 0 0 / 32px 97px'); }
		&.type-basic:after{ content:''; display:inline-block; position:absolute; right:0; top:0px; width:32px; height:97px; @include background('../images/contour/contour_cheekbone_brace-right.png',' no-repeat 0 0 / 32px 97px');}
	}
	&.type-reoperation-eye{
		&.type-reoperation-eye:before{position:absolute; top:0; bottom:0; width:32px; height:98px; margin:auto 0; content:'';left:0; @include background('../images/reoperation/symbol_left.png',''); }
		&.type-reoperation-eye:after{position:absolute; top:0; bottom:0; width:32px; height:98px; margin:auto 0; content:'';right:0; @include background('../images/reoperation/symbol_right.png','');}
	}

	@media only screen and (max-width:$tablet-size){
		&.type-eye-middle-age{padding: 0 4%;
			&:before{bottom:auto;left:-30px;top:-8px;width:14px; height:40px; @include background('../images/eye/white-brace-left-990.png','no-repeat');}
			&:after{bottom:auto;right:-30px;top:-8px;width:14px; height:40px; @include background('../images/eye/white-brace-right-990.png','no-repeat');}
		}

		&.type-eye-correction{
			&:before{bottom:auto;left:-30px;top:-4px;width:22px; height:69px; @include background('../images/eye/eye-correction-brace-left-t.png','no-repeat');}
			&:after{bottom:auto;right:-30px;top:-4px;width:22px; height:69px; @include background('../images/eye/eye-correction-brace-right-t.png','no-repeat'); }
		}

		&.type-eye-correction2{padding: 30px 55px;
			&:before{bottom:auto;left:25px;top:50px;width:22px; height:69px; @include background('../images/eye/eye-correction-brace-left-t.png','no-repeat');}
			&:after{bottom:auto;right:25px;top:50px;width:22px; height:69px; @include background('../images/eye/eye-correction-brace-right-t.png','no-repeat'); }
		}
	}

	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:2.1rem;}
		&:before,&:after{width:24px; height:87px;}
		&__txt{height: 64px;}
		&.type-nose{
			&:before{ @include background('../images/nose/symbol_left_m.png','no-repeat center top / 24px 87px');}
			&:after{ @include background('../images/nose/symbol_right_m.png','no-repeat center top / 24px 87px');}
		}
		&.type-guide{
			&:before{left:0;width: 26px;height: 64px; @include background('../images/nose/symbol_left-m.png','no-repeat 0 0 / 21px auto');}
			&:after{right:0;width: 26px;height: 64px; @include background('../images/nose/symbol_right-m.png','no-repeat 0 0 / 21px auto');}
		}

		&.type-incisional{
			&.type-incisional:before{ left:-15px; top:-10px; width:15px; height:89px;
				@include background('../images/eye/eye_incisional_brace-right.png','no-repeat 0 0 / 15px 89px');
			}
			&.type-incisional:after{ right:-15px; top:-10px; width:15px; height:89px;
				@include background('../images/eye/eye_incisional_brace-right.png','no-repeat 0 0 / 15px 89px');}
		}
		&.type-body-fat{
			&:before{left:0;width: 26px;height: 64px; @include background('../images/body/symbol_left-m.png','no-repeat 0 0 / 21px auto');}
			&:after{right:0;width: 26px;height: 64px; @include background('../images/body/symbol_right-m.png','no-repeat 0 0 / 21px auto');
			}
		}
		&.type-eye-middle-age{padding: 0 8%;
			&:before{bottom:auto;left:-35px;top:-8px;width:11px; height:36px; @include background('../images/eye/white-brace-left-680.png','no-repeat 11px 36px');}
			&:after{bottom:auto;right:-35px;top:-8px;width:11px; height:36px; @include background('../images/eye/white-brace-right-680.png','no-repeat 11px 36px');}
		}
		&.type-eye-correction{
			&:before{bottom:auto;left:20px;top: calc(50% - 34px);width:22px; height:69px; @include background('../images/eye/eye-correction-brace-left-t.png','no-repeat');}
			&:after{bottom:auto;right:20px;top: calc(50% - 34px);width:22px; height:69px; @include background('../images/eye/eye-correction-brace-right-t.png','no-repeat');}
		}
		&.type-eye-correction2{padding: 30px 20px;
			&:before{bottom:auto;left:-5px;top: calc(50% - 34px);width:22px; height:69px; @include background('../images/eye/eye-correction-brace-left-t.png','no-repeat'); }
			&:after{bottom:auto;right:-5px;top: calc(50% - 34px);height:69px; @include background('../images/eye/eye-correction-brace-right-t.png','no-repeat');  }
		}
		&.type-basic{
			&.type-basic:before{display: none;}
			&.type-basic:after{display: none;}
		}

		&.type-reoperation-eye{
			&.type-reoperation-eye:before{display: none;}
			&.type-reoperation-eye:after{display: none;}
		}

		&.type-incisional{padding: 0 4%;
			&.type-incisional:before{left:-40px; width: 15px; height: 89px; @include background('../images/eye/eye_incisional_brace-left_680.png','no-repeat center top /15px auto');}
			&.type-incisional:after{ right:-40px;width: 15px; height: 89px; @include background('../images/eye/eye_incisional_brace-right_680.png','no-repeat center top /15px auto');}
		}
	}
}

.point-box{width:1100px; margin:-20px auto 0; box-sizing:border-box;
	&__border{padding:20px; background-color:rgba(238,238,238,0.5);}
	&__list{width:100%; margin:0; padding:0; text-align:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{height:100%;
		&.nth-1{@include background('../images/nose/point_img1.jpg','');}
		&.nth-2{@include background('../images/nose/point_img2.jpg','');}
		&.nth-3{@include background('../images/nose/point_img3.jpg','');}
	}
	&__item{float:left; width:50%;  height:400px; list-style:none;}
	&__wrap{display:table-cell; height:400px; padding:0 70px; vertical-align:middle; background-color:#fff;}
	&__number{display:inline-block; padding:5px 15px 3px; font-size:16px; font-family:$font-pt; background-color:#e766a7; color:#fff; text-transform:uppercase; border-radius:15px 15px 15px 15px;}
	&__tit{margin:20px 0 0 0; font-weight:500; font-size:25px; color:#333; line-height:1.4;}
	&__txt{margin-top:26px; font-size:17px; line-height:1.7;}
	@media only screen and (max-width:$tablet-size){width:100%; margin-top:-100px;
		&__border{padding:50px; }
		&__item{float:none;width:100%; height:auto;
			&:nth-child(2n+1){margin-top:30px;}
			&:first-child{margin-top:0;}
		}
		&__img{position:relative; width:100%; padding-bottom:75.18%;
			&.nth-1{background:none;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/nose/point_img1.jpg','no-repeat center top/cover'); content:'';}
			}
			&.nth-2{background:none;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/nose/point_img2.jpg','no-repeat center top/cover'); content:'';}
			}
			&.nth-3{background:none;
				&:before{position:absolute; top:0; left:0; width:100%; height:100%; @include background('../images/nose/point_img3.jpg','no-repeat center top/cover'); content:'';}
			}
		}
		&__wrap{display:block; height:auto; padding:40px 70px;}
	}
	@media only screen and (max-width:$mobile-size){position:relative; padding:0 20px;
		&__number{padding:4px 14px 1px; font-size:1.4rem;}
		&__border{padding:15px;}
		&__wrap{padding:25px;}
		&__item{
			&:nth-child(2n+1){margin-top:15px;}
			&:first-child{margin-top:0;}
		}
		&__tit{margin-top:8px; font-size:2.1rem;}
		&__txt{margin-top:14px; font-size:1.4rem;}
	}
}

/*info-thumb*/
.pop-info{
	.info-thumb{margin-top: 5px;display: block;}
	.info-thumb img{max-width: 100%; width: 100%;}
	@media only screen and (max-width:$mobile-size){
		.info-thumb{margin-top: 0px;}
	}
}



.info-desc{display:none; position: absolute; bottom: 5px; left: 27px; width:360px; padding:24px; background-color: rgb(105, 212, 194); color:#333; font-size:16px; z-index:60; line-height:160%;
	&.type-special{background:rgba(0,57,118,0.85); color: #ffffff; text-align: left;}
	&.type-chest-extension{background: rgba(255,255,255,0.9); color:#333333; text-align: left; font-weight: 300;}
	&.type-chest-ribbon{background: rgba(100, 16, 188, 0.9); color:#FFFFFF; text-align: left;font-weight: 300;}
	&.type-cheekbone{background-color: rgba(104, 142, 224, 0.84);}
	&.type-eye-double{background-color: #34b48a; color: #fff; bottom: 51px;}
	&.type-body-fat{background: rgba(254, 86, 27, 0.85);}
	&.type-design{ background:rgba(32,81,157,0.85); color: #fff; }
  &.type-cheek-desc1{background: rgba(104, 142, 224, 0.84); color:#ffffff; text-align:left; font-weight: 300; width:535px; font-weight:200; padding:37px 0; padding-left:180px; padding-right:30px;}

  &.type-cheek-desc2{background: rgba(104, 142, 224, 0.84); color:#ffffff; text-align:left; font-weight: 300; width:535px; font-weight:200; padding:37px 0; padding-left:180px; padding-right:30px;}
  &.type-design{
  }
	&__tit{font-size: 16px; display: block;font-weight: 300;
		strong{ font-weight: 500;}
	}
	&__box{display: block;}
    &__item{z-index:10; text-align: left; display: block;}
	&__tit + .info-desc__thumb{width: 100%; margin-top: 5px;}
	&__tit strong{}
	&__content{display: block;}
	&__thumb{width: 100%;border: 0;}
	&__thumb + .info-desc__txt1{margin-top: 15px;}
	&__txt1{color: inherit; font-size:14px; line-height:160%; display: block; font-weight: 300;}
    &__btn{font-size: 0; display: none; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	&__icon{display:none; text-indent:-9999px;}
	@media only screen and (max-width:$tablet-size){ z-index: 100;position: fixed;left: 0;right: 0;top: 0; bottom: 0; width: auto; padding: 0; background-color: rgba(0,0,0,0.85)!important;
		&.type-cheek-desc1{background: rgba(104, 142, 224, 0.84); color:#ffffff; text-align:left; left:-124px;}
		&.type-cheek-desc2{left:-203px;}
		&.type-eye-double{ bottom: 0px;}
		&__box{padding: 40px 50px;display: block;}
		&__item{position: absolute;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%); top: 50%; left: 0; right: 0;   margin: 0 auto; display: block;  width:calc(100% - 170px); background-color: #fff; }
		&__tit{position: relative;display: block; font-size: 27px; color: #333333; line-height: 1.4;padding-left: 40px; padding-bottom: 5px;
			strong{font-weight: 500;}
		}
		&__content{display: block;}
		&__tit:after{content: ''; width: 100%;  height: 1px; display: block; position: absolute; left: 0; bottom: 0; background-color: #919191; line-height: 2.1;}
		&__thumb{margin-top:15px; }
		&__thumb + .info-desc__txt1{margin-top:10px;}
		&__txt1{display: block; font-size: 16px; margin-top: 15px;color: #333;}
		&__icon{overflow:hidden; position: absolute; top: 1px;left: 0;display: inline-block; width: 32px; height: 32px;
			@include background('../images/common/i-icon-t.png','#333333 no-repeat center/8px auto'); border-radius: 50%; vertical-align: middle;  text-indent:-9999px;}
		&__btn{font-size: 0; display: block; position: absolute; right: 0; top: 0; width: 44px; height: 44px; padding: 0; background-color: #333333;cursor: pointer; border: none; outline: 0;}
		&__stick{overflow:hidden; position: absolute; left: 22px; top: 4px; display: inline-block; width: 2px; height: 32px; background: #fff; text-indent:-9999px;
			&.type-left{-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
			&.type-another{-ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__item{left: 0; right: 0;width:calc(100% - 40px); }
		&__tit{font-size: 2.1rem;  padding-left: 25px; padding-bottom: 4px;}
		&__icon{top: 3px; width: 22px; height: 22px; @include background('../images/common/i-icon-m.png','#333333 no-repeat center / 5px auto');}
		&__content{max-height: 300px; overflow-y: auto;}
		&__thumb{width: 100%; margin-top: 13px;}
		&__thumb + .info-desc__txt1{margin-top: 10px;}
		&__txt1{display: block; font-size: 1.5rem; margin-top: 15px; color: #333;}
		&__box{padding: 20px 30px 30px; }
		&__btn{ position: static ;font-size: 1.4rem; width: 100%;  color: #fff;}
		&__btn:before{content: ''; display: inline-block; vertical-align: middle; height: 100%; }
		&__stick{display: none;}
	}
	@media only screen and (max-width:$iphone-size){
	}
}
.info-btn{display: inline-block; position: relative; padding-left: 25px; color: inherit;text-align: center; text-decoration: none;
	&.type-cheek{color: #2e69df;}
		&.is-active{
			.info-btn__icon{background-color: #333;}
		}
		&.is-active{
			.info-btn__icon.type-cheek{background-color:#86aeff;}
		}
		&.is-active{
			.info-btn__icon.type-body-fat{background-color:#fe561b;}
		}
		&.is-active{
			.info-btn__icon.type-special{background-color:#003976;}
		}
		&.is-active{
			.info-btn__icon.type-design{background-color: #20519d;}
		}
		&.is-active{
			.info-btn__icon.type-chest-ribbon{background-color: #690ccb;}
		}
		&.is-active{
			.info-btn__icon.type-eye-double{background-color: #10a776;}
		}
		&.is-active{
			.info-btn__icon.type-chest-extension{
				background: #f2edf8 url(../images/chest/info-icon-on.png) center center no-repeat;}
		}
		&.is-active{
			.info-btn__icon.type-reoperation{background-color: #5b2626;}
		}
		&__icon{font-size: 0; height: 19px; width: 19px;line-height: 19px; position: absolute; display: inline-block;   top: 0; left: 0; bottom:0;  margin: auto 3px;  background: #999 url(../images/common/info.png) no-repeat;
			background-position: 50%; color: #fff;  border-radius: 50%; -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease; transition: all 0.3s ease; cursor: pointer;


		}
		&.type-extension{
			&.is-active{background: #f2edf8 url(../images/chest/info-icon-on.png) center center no-repeat;
				@media only screen and (max-width:993px){background:#ffffff url(../images/chest/chest-info_close.png) no-repeat center center; background-size: 7px 7px;}
			}
		}
		&.type-chest-extension-ribbon{
			&.is-active{background-color:#690ccb;}
		}
	@media only screen and (max-width:$tablet-size){
		&.is-active{
			.info-btn__icon{background: #333 url(../images/common/info_close.png) no-repeat center center; background-size: 7px 7px; }
		}

		&__icon{  background: #999 url(../images/common/info.png) center no-repeat;}
	}
	@media only screen and (max-width:$mobile-size){padding-left:20px;
		&__icon{ top:2px; left:0px; width:15px; height:15px; line-height:15px; background: #999 url(../images/common/info_m.png) no-repeat center center; background-size:4px 8px; }
	}
}





.brackets{
	&__wrap{position:relative; padding:0 18px;
		&:before,&:after{position:absolute; top:-5px; font-size:30px; font-weight:600; color:#035dbd; vertical-align:middle; line-height:1;}
		&:before{left:0;  content:'[';}
		&:after{right:0; content:']';}
	}
	@media only screen and (max-width:$mobile-size){
		&__wrap{
			&:before,&:after{top:-8px; font-size:3rem;}
			&.type-another{display:block; margin:10px 0; text-align:center;
				&:before,&:after{top:-6px; font-size:6.3rem; font-weight:400;}
			}
		}
	}
}

/*육각형 도형*/
.hexa-pattern{color: #fff;
	$this:&;

	&.type-cheekbone{padding:0 70px;
		#{$this}__list{width:100%; height:465px; margin: 115px auto 0; z-index:1;}
		#{$this}__item{width:285px;
			&.nth-1{left:0; top:0; right:auto;
				#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center/contain');}
			}
			&.nth-2{left:143px; bottom:0;
				#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center/contain');}
			}
			&.nth-3{right:143px; bottom:0;
				#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center/contain');}
			}
			&.nth-4{right:0; top:0; left:auto;
				#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon02.png','no-repeat center center/contain');}
			}
		}
		#{$this}__wrap{height: 258px;padding:0 25px;}
		#{$this}__tit{font-weight:300; color: #333333;
			&.type-cheekbone{position:relative; font-weight: 500;}
			&.type-cheekbone:before{position:absolute; content:''; display:block; left:50%; bottom: -13px; width:24px; height: 2px; background-color: #333333; margin-left: -13px }
		}
		#{$this}__txt{padding:0 47px; font-weight:300; color:#d9d8d7; font-size:17px; color: #666666; margin-top:25px;
			&.type-unique{color:#ffffff; font-size:22px; line-height: 1.2; margin-top:10px;}
		}
		#{$this}__thumb{height:30px; @include background('../images/contour/contour_cheekbone_light.png','no-repeat center 0 / 21px 30px');}
	}
	&.type-cell-transplant{
		#{$this}__list{width:583px; height:583px; margin: 0 auto;}
		#{$this}__item{width:285px;
			&.nth-1{left:0; top:0; right:auto;
				#{$this}__wrap{@include background('../images/svf/icon_polygon1.png','no-repeat center center/contain');}
			}
			&.nth-2{right:0; top:0; left:auto;
				#{$this}__wrap{@include background('../images/svf/icon_polygon2.png','no-repeat center center/contain');}
			}
			&.nth-3{left:0; right:0; bottom:0; margin:0 auto;
				#{$this}__wrap{@include background('../images/svf/icon_polygon3.png','no-repeat center center/contain');}
			}
		}
		#{$this}__wrap{height:326px; padding:0 25px }
		#{$this}__tit{font-weight:300;}
		#{$this}__txt{padding:0 26px; font-weight:200; color:#d9d8d7; font-size:17px;}
	}

	&__tit{font-size:24px; font-weight:400; line-height:1.4;margin: 0;}
	&__txt{margin: 10px 0 0 0; font-size:15px;  box-sizing: border-box;}
	&__list{position:relative; width:508px; height:510px; margin: 0;padding: 0;list-style: none;}
	&__item{position:absolute; width:248px;
		&.nth-1{left:0; right:0; top:0; margin:0 auto;}
		&.nth-2{left:0; bottom:0;}
		&.nth-3{right:0; bottom:0;}
	}
	&__wrap{display:table-cell; width:1%; height:286px; padding:0 40px; vertical-align:middle;@include background('../images/wrinkle/popup_bg.png',''); text-align:center;box-sizing: border-box;}

	@media only screen and (max-width:$minpc-size3){position:absolute; bottom:50%; right:-15px; margin-bottom:-282px;
		&.type-cheekbone{position: static;
			#{$this}__list{position:relative; width:100%; height:550px; margin: 140px auto;}
			#{$this}__item{
				&.nth-1{left: -30px; top:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
				&.nth-2{left:-30px; bottom:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
				&.nth-3{right:-30px; bottom:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
				&.nth-4{right:-30px; top:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
			}
			#{$this}__wrap{height:258px;}
		}
		&.type-cell-transplant{ left:0; bottom: 0; right: 0; top:0; margin:0 auto;
			#{$this}__item{
				&.nth-1{left:0; right:0; top:0; margin:0 auto;}
				&.nth-2{left:0; bottom:0; right:auto; top:auto;}
				&.nth-3{left:auto; right:0; bottom:0; top:auto;}
			}
		}

		&__tit{font-size:20px;}
		&__txt{font-size:14px;}
		&__list{width:381px; height:389px;}
		&__item{width:187px;}
		&__wrap{height:215px; padding:0 12px;  background-size:187px 215px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.type-cheekbone{padding:0;
			#{$this}__list{position:relative; width:100%; height:550px; margin: 80px auto 0; z-index: 1;}
			#{$this}__item{position:absolute; width:285px;
				&.nth-1{left:0px; top:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
				&.nth-2{left:0px; bottom:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
				&.nth-3{right:0px; bottom:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon.png','no-repeat center center / contain');}
				}
				&.nth-4{right:0px; top:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon02.png','no-repeat center center / contain');}
				}
			}
			#{$this}__wrap{height:258px;padding:0 25px;}
		}
		&.type-cell-transplant{ position: static; left:0; top:0 ; right:0;
			#{$this}__list{ margin: 0 auto 0;}
			#{$this}__item{
				&.nth-1{left:0; top:0; right:0;
					#{$this}__wrap{@include background('../images/svf/icon_polygon1.png','no-repeat center center / contain');}
				}
				&.nth-2{left:0; bottom:0; top:auto; right:auto;
					#{$this}__wrap{@include background('../images/svf/icon_polygon2.png','no-repeat center center / contain');}
				}
				&.nth-3{right:0; bottom:0; left:auto;
					#{$this}__wrap{@include background('../images/svf/icon_polygon3.png','no-repeat center center / contain');}
				}
			}
			#{$this}__wrap{height:326px;}
		}
	}
	@media only screen and (max-width:$mobile-size){position:static; bottom:auto; right:auto; float:none; margin-top:64px; margin-bottom:0;
		&.type-cheekbone{width: auto; height: auto; margin: 40px auto 0; padding:0 20px;
			#{$this}__list{position:relative; width:100%; height:360px; margin: 20px auto 0;}
			#{$this}__item{position:absolute; width:148px; height:180px;
				&.nth-1{left:0px; top:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon_660.png','no-repeat center center / auto 170px');}
				}
				&.nth-2{left:0px; bottom:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon_660.png','no-repeat center center / auto 170px');}
				}
				&.nth-3{right:0px; bottom:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon_660.png','no-repeat center center / auto 170px');}
				}
				&.nth-4{right:0px; top:0;
					#{$this}__wrap{@include background('../images/contour/contour_cheekbone_polygon02_660.png','no-repeat center center / auto 170px');}
				}
			}
			#{$this}__wrap{height:170px;padding:0 13px;}
			#{$this}__tit{font-weight:300; color: #333333; font-size:1.3rem;
				&.type-cheekbone{position:relative;}
				&.type-cheekbone:before{position:absolute; content:''; display:block; left:50%; bottom: -6px; width:12px; height: 1px; background-color: #333333; margin-left: -6px }
			}
			#{$this}__txt{padding:0;margin-top:12px;font-size:1.1rem;font-weight:300; color:#666666;
				&.type-unique{color:#ffffff; font-size:1.2rem; line-height: 1.2; margin-top:10px;}
			}
			#{$this}__thumb{height:15px; @include background('../images/contour/contour_cheekbone_light_660.png','no-repeat center 0 / 10px 15px');}
		}
		&.type-cell-transplant{
			#{$this}__item{
				&.nth-1{left:0; top:0; right:0;
					#{$this}__wrap{@include background('../images/svf/icon_polygon1_680.png','no-repeat center center / contain');}
				}
				&.nth-2{left:0; right:auto; bottom:0; top:auto;
					#{$this}__wrap{@include background('../images/svf/icon_polygon2_680.png','no-repeat center center / contain');}
				}
				&.nth-3{right:0; bottom:0; left:auto;
					#{$this}__wrap{@include background('../images/svf/icon_polygon2_680.png','no-repeat center center / contain');}
				}
			}
			#{$this}__wrap{height: 190px;padding:0;}
			#{$this}__list{ height: 344px; width: 348px}
			#{$this}__item{width:170px;}
			#{$this}__txt{padding:0px 37px; margin-top:10px; font-size:1.4rem;}
			#{$this}__tit{padding:0px 5px; letter-spacing: -1px;}
		}

		&__tit{font-size:1.6rem;}
		&__txt{margin-top:5px; font-size:1.1rem;}
		&__list{width:279px; height:282px;}
		&__item{width:136px;}
		&__wrap{height:157px; padding:0 9px;@include background('../images/wrinkle/popup_bg_m.png','no-repeat center top / 136px 157px');}
	}
	@media only screen and (max-width:$iphone-size){
		&.type-cell-transplant{
			#{$this}__item{
				&.nth-1{left:0; top:0; right:0;
					#{$this}__wrap{@include background('../images/svf/icon_polygon1_680.png','no-repeat center center / contain');}
				}
				&.nth-2{left:0; right:auto; bottom:40px; top:auto;
					#{$this}__wrap{@include background('../images/svf/icon_polygon2_680.png','no-repeat center center / contain');}
				}
				&.nth-3{right:0; bottom:40px; left:auto;
					#{$this}__wrap{@include background('../images/svf/icon_polygon3_680.png','no-repeat center center / contain');}
				}
			}
			#{$this}__list{width: 100%;}
			#{$this}__wrap{height:170px;padding:0;}
		}
	}
}

.list-box{position:relative; margin-top:140px; padding: 3.6% 16% 3.6% 334px; background-color:#333;

	&__box{position:absolute; top:-40px; left:40px;  background-color:#ff4173;}
	&__wrap{position:relative; width:220px; height:220px;
		&:after{position:absolute; top:0px; right:-20px; display:inline-block; width:0; height:0; border-left:20px solid transparent; border-right:20px solid transparent;
		border-bottom:40px solid #7b290d; z-index:-1; content:'';}
	}
	&__vertical{display:table-cell; height:inherit; padding:0 25px; vertical-align:middle;box-sizing: border-box;}
	&__tit{position:relative; padding-top: 15px;  color:#fff; text-align:left; margin: 0;
		&:before{position:absolute; top:0; left:0; display:inline-block; width:23px; height:0; border-top:2px solid #fff; content:'';}
		strong{font-weight: 400;}
	}
	&__list{text-align:left; counter-reset:title; margin: 0;padding: 0;list-style: none;}
	&__item{position:relative; width:100%; border-bottom:1px solid #6a6a6a; padding: 20px 0 20px 45px;  color:#fff;box-sizing: border-box;
		&:before{position:absolute; top: calc(50% - 17px); left:0; width:34px; height:34px; border:3px solid #fff; border-radius:50%; counter-increment:title; content:counter(title); text-align:center;box-sizing: border-box;}
	}
	&__item:last-child{border: none;}

	@media only screen and (max-width:$tablet-size){ padding: 50px 40px 40px 194px;
		&__wrap{width: 140px; height: 206px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:60px; padding: 66px 20px 10px;
		&__box{position:absolute; top:-20px; left:20px;}
		&__wrap{position:relative; width: 141px;height: 78px;
			&:after{right:-10px;border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:20px solid #7b290d;}
		}
		&__vertical{padding:30px 15px;}
		&__tit{padding-top:0px;
			&:before{ width: 13px; border-width: 1px;top: -10px;}
		}
		&__item{padding:12px 0 12px 35px;
			&:before{top: calc(50% - 14px); width:28px; height:28px; border-width:2px; line-height:24px;}
		}
		&__item:last-child{border:none;}
	}
}


/*TOOLS*/

.link{
	&__icon-wrap{position:absolute; left:0;right:0;top:0;bottom:0; display:inline-block; width:100%;}
	&__icon{z-index:3;position:relative; display:block; width:100%; height:100%;}
	&__icon:before{content:''; position:absolute;display:inline-block;  bottom:-5px; left:calc(50% - 3px); width:8px; height:8px; border-radius:50%; border:2px solid #ffffff; background-color:#3567c5;}
	&__icon:after{content:''; position:absolute;display:inline-block;  bottom:-23px; left:calc(50% - 3px); width:8px; height:8px; border-radius:50%; border:2px solid #ffffff; background-color:#666666;}
	&__line{content:''; position:absolute; display:inline-block; left:calc(50% - 0px); bottom:-20px; width:1px; height:15px; background-color:#c7c7c7;}
	&__icon-wrap{
		&.type-rotate{transform:rotate(180deg);}
	}
}

.quotes{box-sizing:border-box;
	&__txt1{margin:0; font-size:24px; font-weight:300; color:#333; line-height:180%; text-align:center; letter-spacing:-1px;}
	&__txt1 .type-border{font-weight:400;border-bottom:1px solid #333333;}
	&__txt2{margin:0; font-size:21px; font-weight:300; margin-top:55px; color:#666; line-height:180%; letter-spacing:-1px; }
	@media only screen and (max-width:$tablet-size){
		&__txt1{font-size:18px;  }
		&__txt2{font-size:15px; margin-top:60px;}
	}
	@media only screen and (max-width:$mobile-size){padding:30px 0;
		&__txt1{font-size:1.5rem;  }
		&__txt2{font-size:1.4rem; margin-top:30px;}
	}

}
.eclipsis{position:absolute; display:inline-block;
	&.type-eye-middle-age2{top: -46px;left: 50%;}
  $this:&;
  &__wrap{}
  &__circle{display:block;width:3px; height:3px; background-color:#333; border-radius:50%;
	  &.type-eye-middle-age2{background-color:#aeb0b5;}
   }
  &__circle + #{$this}__circle{margin-top:5px;}
  &.type-eye-middle-age{top:0;left:10px;}
  @media only screen and (max-width:$tablet-size){
	  &.type-eye-middle-age2{top:-34px;}
	  &__circle{width: 2px; height: 2px;}
  }
  @media only screen and (max-width:$mobile-size){
	&__circle{display:block;width:2px; height:2px;}
	&__circle + #{$this}__circle{margin-top:3px;}
		&:before{top:-10px; left:calc(50% - 3px); display:block; width:17px; height:16px; @include background('../images/eye/quotation-left_680.png','no-repeat 0 0 / 6px auto');}
		&:after{bottom:-30px; left:calc(50% - 3px); display:block; width:17px; height:16px; @include background('../images/eye/quotation-right_680.png','no-repeat 0 0 / 6px auto');}
	}
}

.item-box1{
	&__item{display: table; width: 45%;}
	&__inner{ height: 270px; padding: 0 9.5%; border: 1px solid #cccccc; display: table-cell; width: 100%; vertical-align: middle; background-color: #fff;}
	&__txt1{margin-top: 30px; color: #666;}
	@media only screen and (max-width:$tablet-size){width: 100%;
		&__item{width: 100%;}
		&__inner{ height: 325px; padding: 0 7%;}
	}
	@media only screen and (max-width:$mobile-size){
		&__inner{ height: 288px; padding: 0 18px;}
		&__txt1{margin-top: 15px;}
	}
}


.item-box2{
	&__item{display: table; width: 45%;}
	&__inner{ height: 245px; padding: 0 9.5%; border: 1px solid #cccccc; display: table-cell; width: 100%; vertical-align: middle; background-color: #450687; text-align: center;box-sizing: border-box;}
	&__txt1{position: relative; margin: 30px 0 0 0; color: #fff;}
	&__txt1:before{content: ''; display: inline-block; position: absolute; top: -17px; left: calc(50% - 8px); width: 16px; height: 2px; background-color: #fff;}
    @media only screen and (max-width:$tablet-size){
		&__item{width: 100%;}
		&__inner{ height: 325px; padding: 0 7%;}
	}
    @media only screen and (max-width:$mobile-size){
		&__inner{ height: 288px; padding: 0 18px;}
		&__txt1:before{left: calc(50% - 4px); top: -13px; width: 8px; height: 1px;}
		&__txt1{margin-top: 23px;}

	}
}



.content-tab{margin-top: 138px; box-sizing:border-box;
	$this:&;
	&.type-margin{margin-top:0;}
	&__inner{border-top:3px solid #333333; text-align:center;}
	&__box{margin-top: 72px;}
	&__list{display:table; width:100%; margin: 0;padding: 0;list-style: none;}
	&__item{display:table-cell; width:1%; height:60px; border:1px solid #cccccc; vertical-align:middle; font-size:18px; color:#999999;
		& + &{border-left:none;}
		&.is-active{border-color:#333; background-color:#333; color:#fff;}
	}
	&__link{display:table-cell; width:1%; height:inherit; vertical-align:middle; color:inherit;text-decoration: none;
		&:hover,&:active{color:inherit;}
	}
	&__page{display: none;
		&.is-active{display:block;}
	}
	@media only screen and (max-width:$tablet-size){padding: 0 13px;
		&__inner{margin: 0 -65px;}
		&__item{font-size:16px;}

	}
	@media only screen and (max-width:$mobile-size){padding: 0 13px; margin-top: 70px;
		&__box{ margin-top: 37px;}
		&__inner{border-width:2px;margin: 0 -20px;}
		&__item{height:45px; border:1px solid #cccccc; font-size:1.3rem;}
	}
}

/*주의문구*/
.caution-para1{margin: 0;font-size: 12px; font-weight: 300; color: #666;line-height: 1.5;
	@media only screen and (max-width:$tablet-size){
	}

	@media only screen and (max-width:$mobile-size){
		font-size: 1.1rem;
		margin-top: 14px;
	}
}
/*수술후 경과*/

.progress-tag{font-size: 15px;font-weight: 300;display: inline-block; min-width: 240px; padding: 7px 5px;color: #fff;text-align: center;vertical-align: middle; font-family: "Roboto", sans-serif;
	@media only screen and (max-width:$mobile-size){
		font-size: 1.4rem;min-width: 120px; padding: 5px;
	}
}
.progress-tag:before{content: ''; height: 100%; display: inline-block; vertical-align: middle;}
.progress-tag{
	&.type-before{ background-color: #919191;}
	&.type-after{ background-color: #777777;}
}


//왼쪽 이미지
.item-box3{
	$this:&;
	&__list{margin:0; padding:0;}
	&__item{background-color:#fff; border:1px solid #ccc; list-style:none;
		& + &{margin-top:30px;}
	}
	&__box{position:relative; padding-left:414px; text-align:left; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; display:block; width:414px; height:100%;  content:'';}
	}
	&__wrap{display:table-cell; height:276px; padding:0 46px; border-left:1px solid #ccc; vertical-align:middle;}
	&__tit{margin:0;}
	&__txt{margin:36px 0 0 0;}
	@media only screen and (max-width: $minpc-size3) {
		&__item{background-color:#fff; list-style:none;
			& + &{margin-top:30px;}
		}
		&__box{padding:0;
			&:before{position:static; width:100%; height:0; padding-bottom:66.6%;}
		}
		&__wrap{display:block; height:auto; border-left:none; border-top:1px solid #ccc; padding:50px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{
			& + &{margin-top:30px;}
		}
		&__wrap{padding:25px;}
		&__txt{margin-top:18px;}
	}
}
// .after-style{
// 	&__list{font-size:0; width:100%; padding:0;
// 		&:after{display:block; clear:both; content:'';}
// 	}
// 	&__item{display:inline-block; width:33.33%; vertical-align:top; text-align: center; list-style:none;
// 		& img{width:100%;}
// 	}
// 	&__subject{height:50px; margin:0; line-height:50px; color:#fff; font-size:20px; font-weight:500;
// 		&.nth-1{background-color:#7b7b7b;}
// 		&.nth-2{background-color:#b88be8;}
// 		&.nth-3{background-color:#6b1ac1;}
// 	}
// 	@media only screen and (max-width:$mobile-size){
// 		&__list{margin-top:10px;}
// 		&__subject{height:25px; line-height:25px; font-size:1.1rem;}
// 		&__after{position: relative; top: 1px;}
// 	}
// }

/* photo dim */
.photo-dim{position:absolute; width:100%; height:100%; padding:90px; background-color:rgba(0,0,0,0.6); z-index:40;
	$this:&;

	&.type-bf{top:2px; left:0; right:0; width:calc(100% - 4px); height:calc(100% - 2px); margin:auto;
		padding: 0;background-color:rgba(0,0,0,0.85);
		#{$this}__box{background-color: transparent;}
		#{$this}__tit{margin-top: 0;font-size: 16px;}
		#{$this}__btn{width: 120px;margin-top: 20px;padding: 11px 0 13px;border-radius: 0;font-size:16px;}
	}

	&__box{display:inline-table; width:100%; height:100%; background-color:rgba(0,0,0,0.9); text-align:center; color:#fff;}
	&__vertical{display:table-cell; vertical-align:middle;}
	&__txt{font-size:15px;}
	&__point{color:#ff4d4a;}
	&__tit{margin:60px 0 0 0; font-size:18px; font-weight:400; line-height:1.5;}
	&__btn{display:inline-block; width:200px; margin-top:38px; padding:13px 0 14px; font-size:15px; border:1px solid #fff; border-radius:25px; text-transform: uppercase; color:inherit; transition:all 0.3s; text-decoration:none;
		&:hover{background-color:#fff; color:#333;}
	}

	@media only screen and (max-width:$tablet-size){
		padding:30px;

		&__txt{font-size:14px;}
		&__tit{margin-top:40px; font-size:15px;}
		&__btn{width:174px; font-size:13px;
			&:hover{background-color:transparent; color:#fff;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		padding:0; background-color:rgba(0,0,0,0.9);

		&.type-bf{
			top:0px; left:2px; right:auto; bottom:0; width:calc(100% - 2px); height:calc(100% - 4px);
			#{$this}__tit{font-size: 1.2rem;}
			#{$this}__btn{width: 80px;font-size: 1.2rem;padding: 6px 0 7px;}
		}

		&__box{background-color:transparent;}
		&__txt{display:none;}
		&__tit{font-size:1.4rem;}
		&__btn{width:145px; margin-top:16px; padding:8px 0 9px; font-size:1.3rem;}
	}
}
