@charset "UTF-8";
@import "mixins";
@import "vendor";
@import "onepage_common/motion";
.fs-nav{ position: fixed; right: 50px; top: 50%; padding: 0; margin: 0; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 0; z-index: 10; list-style: none;
	&__item {
		& + &{margin-top:20px;}
	}
	&__link{position:relative; display:block; width:16px; height:16px;
		&:after{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; display:block; width:100%; height:3px; background-color:#bcbcbc; transition:transform .2s; content:'';}
		&.is-active{
			&:after{transform: rotate(-50deg);}
		}
	}
	@media only screen and (max-width:$mobile-size){display:none;}
}

.onepage{
	$this:&;
	&__box{position:relative; height:100%;  box-sizing:border-box;
		&.type-half{float:left; width:50%; padding-right:13.59%;
			&.type-r{float:right; padding-right:0; padding-left:13.59%;}
		}
		&.type-another{padding:0;}
		&.font-black{
			#{$this}__tit{color:$black1;}
			#{$this}__subtit{color:$black1;}
			#{$this}__txt{color:$black1;}
		}
	}
	&__tit{margin:0; font-size:50px; line-height:1.24; color:#fff; font-weight:$light;}
	&__subtit{margin:16px 0 0 0; font-size:19px; line-height:1.5; color:#fff; font-weight:$regular;}
	&__txt{margin:36px 0 0 0;color:#fff; font-size:15px; line-height:1.7;}
	&__inner{display:inline-table; width:100%; height:100%; vertical-align:middle;}
	&__vertical{display:table-cell; vertical-align:middle;}
	&__quotation{position:relative; padding:60px 0;
		&:before,&:after{position:absolute; display:block; width:18px; height:15px; content:'';}
		&:before{top:0; left:0; }
		&:after{bottom:0; right:0;}
	}
	@media only screen and (max-width:$tablet-size){
		&__box{padding:10% 0 0 0;
			&.type-half{padding-right:0;
				&.type-r{padding-left:0;}
			}

		}
		&__quotation{padding:50px 0;}
		&__tit{font-size:42px;}
		&__subtit{font-size:16px}
		&__txt{margin-top:30px; font-size:14px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__quotation{padding:26px 0;
			&:before,&:after{width:12px; height:11px;}
		}
		&__tit{font-size:2.4rem;}
		&__subtit{margin-top:10px; font-size:1.4rem;}
		&__txt{margin-top:20px; font-size:1.3rem;}
		&__box{position:relative; padding:40px 0 0; z-index:5;
			&.type-half{width:100%;}
		}
	}
}
.detail-visual{text-align:center;
	&__tit{margin:0; position:relative; display:inline-block; margin:0; background: #fff; background: rgba(255,255,255,0.1); border: 1px solid #E9EAEB; border: 1px solid rgba(0,0,0,0.1);
		text-align: center; font-size: 27px; font-weight: $light; letter-spacing: 22px; box-sizing: border-box; padding: 22px 28px 22px 50px;
		& strong{font-weight:$black;}
		&:before,&:after{position:absolute; display:block; width:17px; height:15px;  content:'';}
		&:before{top:-11px; left:-7px; }
		&:after{bottom:-11px; right:-7px;}
	}
	&__txt{position:absolute; margin:0; font-size: 20px; right:0; bottom: 20%; text-align: right; color:#fff; font-weight:$regular;}
	&__point{display:block; margin-top:6px; margin-right:-3px; font-size:23px; color:inherit; letter-spacing:3px; font-weight:$bold;
		&:after{position:absolute; right:-13px; bottom:0; content:'.'}
	}
	@media only screen and (max-width:$tablet-size){
		&__tit{display:block;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{padding:20px 0; font-size:2rem; letter-spacing: 6px; line-height:1.6;
			&:before,&:after{position:absolute; display:block; width:14px; height:12px;  content:'';}
			&:before{top:-8px; left:-7px; }
			&:after{bottom:-8px; right:-7px;}
		}
		&__txt{bottom:9.19%; right:10px; font-size: 1.3rem;}
		&__point{font-size:1.6rem;
			&:after{right:-10px;}
		}
	}
}

.detail-section{overflow:hidden; position:relative; height:100vh;
	&.type-visual{
		&:before{transform:scale(1); transition:transform 1s ease;}
		&.is-active{
			&:before{transform:scale(1);}
		}
	}
	&.type-popup{
		.inner-wrap{max-width:100%; padding:0;}
		.onepage__box.type-half.type-r{padding:0;}
		.detail__tit, .onepage__subtit, .onepage__txt{width:500px; margin-left:auto; margin-right:auto;}
	}
	@media only screen and (max-width:$tablet-size){
		&.type-visual{
			.onepage__box{padding-top:0;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&:not(.type-visual){height:auto !important;}
	}
}


.visual-motion{opacity:0;}
