@charset "UTF-8";
@import "mixins";
@import "vendor";
@import "program/program_body";
@import "program/program_breastplan2";
@import "program/program_contourplan";
@import "program/program_contourall";
@import "program/program_alcl";
@import "program/program_longweek";
@import "program/program_vlifting";
.program{
	$this:&;

	&__visual{font-size:0;
		img{width:100%;border: 0;}
	}
	&__area{padding:0 16px; box-sizing:border-box;}
	&__list{margin:60px 0 0 -10px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:10px; padding-left:10px; box-sizing:border-box; list-style:none;}
	&__wrap{position:relative; width:100%; height:0; padding-bottom:100%;
		img{border: 0;}
	}
	&__link{display:block; width:100%; height:100%; z-index:10;text-decoration: none;
		&:hover{
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); content:''; z-index:15;}
			&:after{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/program/plus.png') no-repeat center center; content:''; z-index:20;}
		}
	}
	&__exam{position: absolute;top: 16px;right: 16px;width: 100px;height: 100px;background: url('../images/program/exam2019_pick.png') 0 0/cover;text-indent: -999px;overflow: hidden;}
	&__view{padding-top:50px; font-size:0; box-sizing:border-box;
		img{width:100%;}
	}
	&__tel{display:block;}

	&__box{position: relative;}
	&__caption{height: 130px;padding: 0 80px;border: 1px solid #e1e1e1;border-top: 0;background-color: #fff;text-align: center;letter-spacing: -2px;box-sizing: border-box;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__txt{font-size: 18px;font-weight: $medium;color: #333;}
	&__price{margin-top: 6px;font-size: 20px;}
	&__default{font-weight: $light;color: #999;text-decoration: line-through;}
	&__sale{margin-left: 8px;color: #b916a4;font-weight: $bold;}

	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:30px;}
		&__area{padding:0 18px;}
		&__item{width:50%;}
		&__view{padding-top:60px;}
		&__caption{padding: 0 50px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin-top:10px; }
		&__view{padding-top:50px;}
		&__exam{top: 8px;right: 8px;width: 50px;height: 50px;}

		&__caption{height: 80px;padding: 0 15px;letter-spacing: -1px;}
		&__txt{font-size: 1.2rem;}
		&__price{margin-top: 3px;font-size: 1.3rem;}
		&__sale{margin-left: 4px;}
	}
}

// 프로모션 및 상담신청 퀵메뉴
.quick-menu{display: none;}

.quick{position:fixed; bottom:60px; right:8.5%; list-style:none; z-index:80;
	$this:&;
	&__list{margin:0; padding:0; list-style:none;}
	&__item{width:80px; height:80px; border-radius:50%;
		& + &{margin-top:10px;}
		&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
			#{$this}__wrap{
				&:before{display:block; width:27px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_counsel.png'); content:'';}
			}
		}
		&.type-list{background-color:#000; color:#fff; border:1px solid #000;
			#{$this}__wrap{
				&:before{display:block; width:18px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_list.png'); content:'';}
			}
		}
		&.type-top{background-color:#fff; border:1px solid #b7b6b6; color:#333;
			#{$this}__wrap{
				&:before{display:block; width:19px; height:10px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/top.png'); content:'';}
			}
		}
	}
	&__wrap{position:relative; color:inherit;}
	&__link{display:table-cell; width:1%; height:80px; font-size:12px; font-weight:400; text-decoration:none; color:inherit; text-align:center; vertical-align:middle;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width: $tablet-size) {bottom:50px; right:30px;
		&__item{width:72px; height:72px;}
		&__link{height:72px;}
	}
	@media only screen and (max-width: $mobile-size) {bottom:68px; right:16px;
		&__item{width:50px; height:50px;
			&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
				#{$this}__wrap{
					&:before{display:block; width:20px; height:13px; margin-bottom:3px; background:url('../images/program/quick_counsel_m.png') no-repeat center center / 20px 13px; content:'';}
				}
			}
			&.type-list{
				#{$this}__wrap{
					&:before{display:block; width:14px; height:14px; margin-bottom:3px;  background:url('../images/program/quick_list_m.png') no-repeat center center / 14px 14px; content:'';}
				}
			}
			&.type-top{
				#{$this}__wrap{
					&:before{display:block; width:12px; height:7px; margin-bottom:3px; background:url('../images/program/top_m.png') no-repeat center center / 12px 7px; content:'';}
				}
			}
		}
		&__link{height:50px; font-size:1.2rem;}
	}
}

.visual{position:relative;text-align: center;
	&__list{margin: 0;padding: 0;list-style: none;}
	&__item{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:27.08%; font-size:0; text-indent:-9999px;}
	&__pager{position:absolute; display:inline-block; left:0; right:0; bottom:15px; margin:0 auto; z-index:100;}
	&__bull{overflow:hidden; display:inline-block; width:9px; height:9px; border:1px solid #fff; background:#fff; border-radius:50%; text-indent:-9999px; cursor:pointer;
		&.is-active{background:transparent}
		& + &{margin-left:12px;}
	}
	@media only screen and (max-width: $tablet-size){
		&__item{padding-bottom:65.25%;}
		&__pager{bottom: 8px;}
		&__bull{width:7px; height:7px;
			& + &{margin-left:5px;}
		}
	}
}

.program-view{margin-top: 50px;font-size: 0;
	$this:&;

	&.type-breast{
		#{$this}__pc{width: 100%;background: url(../program/images/e_breast02/b_pattern.gif) 0 0 repeat;}
		#{$this}__box{max-width: 1200px;margin: 0 auto;
			&.cont02{background: #fff;text-align: center;padding: 66px 0 0 0;
				img{width: auto;}
			}
		}
		#{$this}__bg{width: 100%;background: url(../program/images/e_breast02/b2_bg02.png) center 0 no-repeat;}
	}

	&__pc{font-size: 0;box-sizing: border-box;
		img{width: 100%;}
	}
	&__box{font-size: 0;background-repeat: no-repeat;background-position: 50%;text-align: center;
		img.changeImg{width: 21%;min-width: 0;max-width: 350px;margin-left: 11px;margin-right: 11px;}

		&.type-another{
			img.changeImg{width: 25%;min-width: 300px;max-width: 410px;}
		}
		&.type-lift{
			img.changeImg{width: 33.33%;max-width: 472px;margin: 0;padding: 0 11px;box-sizing: border-box;}
		}
	}
	&__list{margin: 0;padding: 0;box-sizing: border-box;}
	&__item{display: inline-block;box-sizing: border-box;list-style: none;}
	&__link{text-decoration: none;}
	&__m{
		img{width: 100%;}
	}
	&__area{margin: 40px 0 140px;text-align: center;
		img{width: auto;}
	}
	&__box{font-size: 0;background-repeat: no-repeat;background-position: 50%;text-align: center;}
	&__list{margin: 0;padding: 0;box-sizing: border-box;}
	&__item{display: inline-block;box-sizing: border-box;list-style: none;}

	@media only screen and (max-width: $minpc-size3){
		&.type-breast{
			#{$this}__box{
				&.cont02{
					img{width: 100%;}
				}
			}
		}
		&__area{
			img{width: 100%;}
		}
	}
	@media only screen and (max-width: $tablet-size){

		&__box{padding: 0px 5%;
			img.changeImg {width: 100% !important;max-width: 100% !important;min-width: 100% !important;margin: 0;}

			&.type-another{
				#{$this}__list{margin-left: -2%;}
				#{$this}__item{width: 33.333%;padding-left: 2%;}
			}
			&.type-lift{
				#{$this}__list{margin: 0;}
				#{$this}__item{width: 100%;padding: 0;
					& + #{$this}__item{margin-top: 24px;}
				}
				img.changeImg{padding: 0;}
			}
		}
		&__area img{width: 30%;}

		&__list{font-size: 0;margin: -5% 0 0 -5%;padding: 0;}
		&__item{width: 50%;padding-left: 5%;padding-top: 5%;}
		&__item img{width: 100%;}
	}
	@media only screen and (max-width: $mobile-size){
		&__box{
			&.type-lift{
				#{$this}__item{
					& + #{$this}__item{margin-top: 12px;}
				}
			}
		}
	}
}

.review{
	&__tit{margin-bottom: 50px;
		img{margin-top: 50px;}
	}
	&__box{
		& + &{padding-bottom: 97px;}
		img{
			& + &{margin-top: 80px;}
		}
	}
}

.program-bottom{position: relative;padding: 115px 0;background-color: #fff;text-align: center;
	&__box{position: absolute;left: 50%;top: 0;height: 100%;margin-left: 300px;}
	&__wrap{display: inline-table;height: inherit;}
	&__inner{display: table-cell;vertical-align: middle;}
	&__img{max-width: 90%;}

	@media only screen and (max-width: $tablet-size){
		position: static;
		&__box{position: static;margin-top: 30px;margin-left: 0;}
		&__link{display: inline-block;}
	}

	@media only screen and (max-width: $mobile-size) {
		padding: 30px 0;
		&__img{max-width: 50%;}
	}
}

.program-video{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;
	&__wrap{position:relative; width:100%; height:100%;}
	&__btn{overflow:hidden; position:absolute; top:0; left:0; right:0; bottom:0; width:100px; height:100px; margin:auto; @include background('../images/program/play_btn.png','no-repeat center center / contain');
		text-indent: -9999px; z-index:15;}
		@media only screen and (max-width: $mobile-size) {
			&__btn{width:50px; height:50px;}
		}
}


.program-before{padding-bottom: 120px;background-color: #f3eaf8;
    $this:&;

	&.type-nosefirst{
		#{$this}__item2{
	       &.is-active{
	           #{$this}__wrap{
	               &:before{border: 10px solid #612292;}
	           }
	        }
	    }
	}

	&__num{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.2); color:#000; font-size:20px; z-index:999999;}
    &__outer{max-width: 1200px;margin: 0 auto;padding: 0 146px;box-sizing: border-box;}
	&__inner{}
	&__main{position: relative;}
    &__list{margin: 0;padding: 0;}
    &__item{list-style: none;}
    &__txt{width: 100%;margin: 0;padding: 14px 0;background-color: #2e2e2e;font-size: 20px;color: #fff;text-align: center;}
    &__btn{position: absolute;top: 0;bottom: 0;width: 34px;height: 34px;margin: auto 0;text-indent: -9999px;overflow: hidden;background: url(../../images/program/eye_festival/eye_festival_arrow_1.png) center center/contain no-repeat;
        &.type-prev{left: -118px;}
        &.type-next{right: -118px;transform: rotate(180deg);}
    }

    &__thum{margin-top: 48px;}
    &__list2{margin: 0 0 0 -20px;padding: 0;font-size: 0;
        &.nth-1, &.nth-2, &.nth-3, &.nth-4, &.nth-5, &.nth-6{display: none;}
        &.is-active{display: block;}
    }
    &__item2{position:relative; display: inline-block;width: 33.33%;padding-left: 20px;list-style: none;box-sizing: border-box;cursor: pointer;
       &.is-active{
           #{$this}__wrap{
               &:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;border: 10px solid #1e8fe5;border-style: solid;border-image: linear-gradient(to right, #e62776 0%, #8830bf 100%);border-image-slice: 1;}
           }
        }
    }
    &__wrap{position: relative;width: 100%;height: 100%;}
    &__dots{margin: 50px 0 0 0;padding: 0;font-size: 0;text-align: center;
        li{display: inline-block;list-style: none;
			& + li{margin-left: 20px;}
		}
    }
    &__link{font-size: 18px;color: #2e2e2e;cursor: pointer;
        &.is-active{color: #e62776;font-weight: $bold;}
    }
	&__noti{margin: 34px 0 0;font-size: 12px;color: #8a8a8a;text-align: center;line-height: 1.7;}

    @media only screen and (max-width:$tablet-size){
		padding-bottom: 100px;

		&.type-nosefirst{
			#{$this}__item2{
		       &.is-active{
		           #{$this}__wrap{
		               &:before{border-width: 6px;}
		           }
		        }
		    }
		}

        &__outer{padding: 0 30px;}
        &__btn{top: -62px;background: url(../../images/program/eye_festival/eye_festival_arrow_2.png) center center/contain no-repeat;
            &.type-prev{left: 34px;}
            &.type-next{right: 34px;}
        }
        &__thum{margin-top: 40px;}
		&__list2{margin-left: -16px;}
        &__item2{padding-left: 16px;
           &.is-active{
               #{$this}__wrap{
                   &:before{border-width: 6px;}
               }
            }
        }
        &__dots{}
        &__txt{padding: 20px 0;}
    }
	@media only screen and (max-width: $mobile-size){
		padding-bottom: 50px;

		&.type-nosefirst{
			#{$this}__item2{
		       &.is-active{
		           #{$this}__wrap{
		               &:before{border-width: 3px;}
		           }
		        }
		    }
		}

		&__outer{padding: 0 14px;}
		&__btn{top: -32px;width: 16px;height: 16px;
            &.type-prev{left: 16px;}
            &.type-next{right: 16px;}
        }
		&__thum{margin-top: 20px;}
		&__list2{margin-left: -8px;}
		&__item2{padding-left: 8px;
           &.is-active{
               #{$this}__wrap{
                   &:before{border-width: 3px;}
               }
            }
        }
		&__dots{margin-top: 20px;
	        li{
				& + li{margin-left: 10px;}
			}
	    }
		&__link{font-size: 1.0rem;}
		&__txt{padding: 10px 0;font-size: 1.1rem;}
		&__noti{margin-top: 17px;font-size: 1.2rem;}
	}
}

.program-tv{text-align: center;padding: 100px 0;
	$this:&;

	&__tit{display: inline-block;position: relative;margin: 0;padding-left: 86px;font-size: 40px;font-weight: 300;letter-spacing: -2px;
		&:before{content: '';position: absolute;top: -24px;left: 0;width: 72px;height: 65px;background: url('../../images/program/video_icon.png') no-repeat center center/contain;}
	}
	&__outer{max-width: 1216px;margin: 50px auto 0;padding: 0 8px;box-sizing: border-box;}
	&__inner{position: relative;}
	&__area{padding-right: 41.67%;}
	&__video{position: relative;height: 0;padding-bottom: 56.25%;z-index: 50;
		iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;border:none;}
	}

	&__wrap{position: absolute;top: 0;right: 0;bottom: 0;width: 100%;padding-left: 58.33%;box-sizing: border-box;overflow-y: scroll;}
	&__box{position: relative;width: 100%;height: 100%;padding-left: 16px;box-sizing: border-box;}
	&__list{margin: 0;padding: 0;}
	&__item{list-style: none;height: 130px;box-sizing: border-box;
		& + &{margin-top: 4px}
		&.is-active{
			#{$this}__link{background-color: #ff4592;}
			#{$this}__txt{font-weight: $medium;color: #fff;}
		}
	}

	&__link{display: block;position: relative;height: inherit;padding: 14px;background-color: #ebebeb;text-align: left;cursor: pointer;box-sizing: border-box;}
	&__thum{width: 178px;height: 100px;}
	&__txt{position: absolute;top: 50%;padding-left: 200px;padding-right: 10px;font-size: 20px;color: #2e2e2e;letter-spacing: -2px;transform: translateY(-50%);}
	&__btn{display: inline-block;width: 192px;margin-top: 60px;padding: 12px 0;background-color: #2e2e2e;font-weight: $bold;color: #fff;text-transform: uppercase;text-decoration: none;box-sizing: border-box;}
	&__span{position:relative;padding-right: 24px;font-size: 16px;
		&:after{content: '';position: absolute;top: 8px;right: 0;display: block;width: 7px;height: 10px;background: url('../../images/program/video_btn.png') no-repeat center center / contain;}
	}

	@media only screen and (max-width:$minpc-size2){
		&__txt{font-size: 18px;}
	}
	@media only screen and (max-width: $tablet-size){
		padding: 80px 0 100px;

		&__outer{padding: 0 30px;}
		&__area{padding-right: 0;}
		&__wrap{position: static;margin-top: 20px;padding-left: 0;}
		&__box{padding-left: 0;height: 320px;}
	}
	@media only screen and (max-width: $mobile-size){
		padding: 40px 0 50px;

		&__tit{padding-left: 50px;font-size: 2.1rem;letter-spacing: -1px;
			&:before{top: -16px;width: 43px;height: 39px;}
		}
		&__outer{margin-top: 20px;padding: 0 15px;}
		&__wrap{margin-top: 15px;}
		&__box{height: 170px;}
		&__item{height: 65px;}
		&__link{padding: 7px;}
		&__thum{width: 89px;height: 50px;}
		&__txt{padding-left: 104px;font-size: 1.3rem;letter-spacing: -1px;}
		&__btn{width: 110px;margin-top: 24px;padding: 6px 0;}
		&__span{padding-right: 16px;font-size: 1.3rem;
			&:after{top: 6px;width: 5px;height: 7px;background: url('../../images/program/video_btn_m.png') no-repeat center center / contain;}
		}
	}
}
